
<div class="box box-default">
   <div class="box-body"> 
 <%= bootstrap_form_for(@issue_type,html: {id: 'issue_type'} ,remote:true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,label:'Issue', placeholder: 'Issue' %>
      </div>
    </div> 
    <div class="col-sm-3">
     <label>Status</label>
     <%= f.check_box :status,label:'Active' %>
    </div>
    <div class="col-sm-3">
     <label>Confirm</label>
     <%= f.check_box :is_confirm,label:'Confirm' %>
    </div>
    <div class="col-sm-3">
    <label></label>
      <div class="actions">
       <%= f.submit'Create Type Of Issue',:class => class_name, data: { disable_with: data_info } %>
      </div>
    </div>
  </div>
 <% end %>
