<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @issue_type.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue_type.status %>
</p>

<p>
  <strong>Is confirm:</strong>
  <%= @issue_type.is_confirm %>
</p>

<%= link_to 'Edit', edit_issue_type_path(@issue_type) %> |
<%= link_to 'Back', issue_types_path %>
