<!-- Main content -->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Activity Details </center></h4>
    </div>
    <div class="modal-body">
    <%= bootstrap_form_for :induction_activity,url:{action:"update_induction",id: @induction_activity.id,induction_master_id: @induction_master.id} do |f| %>
        <div class="row">
      <div class="col-sm-3">
          <div class="form group-required">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :activity_date,label: "Day",class: 'activity_date'%>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
      <div class="bootstrap-timepicker">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-clock-o"></i>
            </div>
             <%= f.text_field :from,label: "Time", placeholder: 'In Time',class: 'form-control timepicker' %>
          </div><!-- /.input group -->
        </div><!-- /.form group -->
      </div>
    </div>

    <div class="col-sm-3">
      <div class="bootstrap-timepicker">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-clock-o"></i>
            </div>
            <%= f.text_field :to,label: "Time", placeholder: 'In Time',class: 'form-control timepicker' %>
          </div><!-- /.input group -->
        </div><!-- /.form group -->
      </div>
    </div>
    <div class="col-sm-3">
           <div class="form-group required">
            <%= f.select :employee_id,all_employee_list,{label: "Contact Person",include_blank: " Select Contact Person"} %>
           </div>
          </div>
    </div>

    <div class="row">
     <div class="col-sm-6">
      <div class="form-group required">
        <%= f.text_area :program_agenda,placeholder: 'Eg: Program Agenda' %>
      </div>
    </div>
          <div class="col-sm-3">
          <label></label>
            <%= f.submit "Update Induction Activity ", class: 'btn btn-sm btn-primary fa fa-modx' %>
          </div>
        </div>
    </div>
    <%end%>
    <div class="modal-footer"></div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


  