<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Sr.No.</th>
      <th>Activity</th>
      <th>Day</th>
      <th>Duration</th>
      <th>Contact Person</th>
      <th>Download</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
  <% i = 0 %>
    <% @induction_activities.each do |induction_activity| %>
      <tr>
        <td><%= i=i+1 %></td>
        <td><%= induction_activity.activity %></td>
        <td><%= induction_activity.day %></td>
        <td><%= induction_activity.duration %></td>
        <td><%= full_name(induction_activity.employee) %></td>
        <td>
        <% if induction_activity.avatar_file_name == nil %>
           <small class="label label-default">Document Not Available</small>
             <% else %>
             <center><%= link_to '',download_document_path(id: induction_activity.id),class: 'btn btn-xs btn-primary fa fa-download' %></center>
             <% end %>
        </td>
        <td>
          <!--= link_to '', edit_induction_activity_path(induction_activity) ,class: 'btn btn-xs btn-success fa fa-edit',remote:true %>-->
            <%= link_to '', induction_activity, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-xs btn-danger fa fa-close',remote:true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>