<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Sr.No</th>
      <th>Day</th>
      <th>From</th>
      <th>To</th>
      <th>Duration</th>
      <th>Contact Person</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
  <% i = 0 %>
    <% @induction_activities.each do |induction_activity| %>
      <tr>
        <td><%= i=i+1 %></td>
        <td><%= induction_activity.activity_date %></td>
        <td><%= induction_activity.from %></td>
        <td><%= induction_activity.to %></td>
        <td><%= induction_activity.duration %></td>
        <td><%= full_name(induction_activity.employee) %></td>
        <td>
          <div id="myModal" class="modal fade"></div>
            <%= link_to '',modal_induction_activity_induction_activities_path(induction_master_id: induction_activity.induction_master_id, induction_activity_id: induction_activity),class: 'btn btn btn-xs btn-success fa fa-edit',remote: true %>
            <%= link_to '',induction_activity, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-xs btn-danger fa fa-close' %>
        </td>
      </tr>
      <tr>
        <th></th>
        <td colspan="6"><strong> Program Agenda :  </strong> <%= induction_activity.program_agenda %></td>
      </tr>
    <% end %>
  </tbody>
</table>