<table id="example2" class="table table-bordered table-hover table-condensed">
  <% i = 0 %>
    <% @induction_activities.each do |induction_activity| %>
    <tr><th colspan="4"><center>Sr. No.<%= i = i+1 %></center></th></tr>
      <tr>
         <th>Day</th>
        <td><%= induction_activity.activity_date %></td>
         <th>From</th>
        <td><%= induction_activity.from %></td>
        </tr>
        <tr>
         <th>To</th>
        <td><%= induction_activity.to %></td>
         <th>Duration</th>
        <td><%= induction_activity.duration %></td>
        </tr>
        <tr>
         <th>Facilitator</th>
        <td colspan="3"><%= induction_activity.facilitator_1 %> </td>
        </tr>
        <tr>
        <th>Presenter</th>
        <td colspan="3"><%= induction_activity.facilitator_2 %></td>
        </tr>
        <tr>
        <th>Program Agenda</th>
        
        <td colspan="2"><%= induction_activity.program_agenda %></td>
       
        <td>
          <% if induction_activity.is_confirm == true %>
          <small class="label label-info">Confirmed</small>
          <% else %>
          <div id="myModal" class="modal fade"></div>
            <%= link_to '',modal_induction_activity_induction_activities_path(induction_master_id: induction_activity.induction_master_id, induction_activity_id: induction_activity),class: 'btn btn btn-xs btn-success fa fa-edit',remote: true %>

            <%= link_to '',induction_activity, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-xs btn-danger fa fa-close' %>
            <% end %>
        </td>
      </tr><tr><th colspan="4"></th></tr>
    <% end %>
  </tbody>
</table>