<div class="box-header with-border">
    <h3 class="box-title">Employee Training Request</h3>
</div>
  <div class="box-body">

<%= bootstrap_form_for(@training_request,html: {id: "training_request"},url:{action:"create_department_wise_training_request"}) do |f| %>

    <%= f.hidden_field :employee_id, value: current_user.employee_id %>
    <%= f.hidden_field :no_of_employee, value: @emp_total %>
    <%= f.hidden_field :training_date, value: Date.today %>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <div class="input-group">
              <%= f.select :training_topic_master_id, all_training_topic,{label: 'Training Course',include_blank: " Select Training Course"}%>
            </div>
          </div>
        </div>

      <!--   <div class="col-sm-3">
          <div class="form-group required">
            <= f.select :reporting_master_id,all_training_reporting_master_list,{label: "Request To",include_blank: " Select Reporting Manager"} %>
          </div>
        </div> -->

        <div class="col-sm-2">
          <div class="form-group required">
            <%= f.text_field :place,placeholder: 'Place',label: 'Place' %>
          </div>
        </div>
    
        <div class="col-sm-4">
          <div class="field">
            <%= f.text_field :description,placeholder: 'Description',label: 'Description' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-7">
          <div class="field">
             <%= f.text_field :justification,label: 'Justification'%>
          </div>
        </div>   
      </div>

      <div>
       <%= render 'employee_list' %>
     </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit "Create Training Request", class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<script type="text/javascript">

  $("#training_request").validate({
    rules: {
      "training_request[training_topic_master_id]":{
        required: true
      },
      "training_request[training_date]":{
        required: true
      },
      "training_request[reporting_master_id]":{
        required: true
      },
      "training_request[place]":{
        required: true
      }
    },
    messages: {
      "training_request[training_topic_master_id]":{
        required: "Please specify Training Topic"
      },
      "training_request[training_date]":{
        required: "Please specify No of Training Date"
      },
      "training_request[reporting_master_id]":{
        required: "Please specify Reporting Manager"
      },
       "training_request[place]":{
        required: "Please specify Place"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });

  $('.birth_date1').datepicker({
  changeYear:true,
  changeMonth: true,
  yearRange: '-100:+10',
  dateFormat: 'dd-mm-yy' });
</script>