<!---<= bootstrap_form_for TraineeRequest.new,url:{action:'approve_training_request',training_request_id: @training_request.id} do |f| %>-->
<!-- <= bootstrap_form_for TraineeRequest.new,url:{action:'approve_and_send_next',training_request_id: @training_request.id} do |f| %> -->
<!-- <div class="row">
      <div class="col-sm-4">
       <! <= select :training_request,:reporting_master_id,all_reporting_master_list1,{label: 'Reporting Manager',include_blank: " Select Reporting Manager"}, class: "form-control" %>-->
      <!--  label>Approve & Send Request To:</label>
        <= select :training_request,:reporting_master_id,approve_and_send_next_rep_master_list,{label: 'Reporting Manager',include_blank: " Select Reporting Manager"},{:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1"} %> -->
     <!--  div>
    div><br> --> 
    <div class="box-header with-border">
    <h3 class="box-title">Employee's Who are Going To Attend Training</h3>
  </div>
<<<<<<< HEAD
   <%= bootstrap_form_for :employee,url:{action:"selected_employee_training_list"},html: {id: 'employee'} do |f| %>
=======
   <%= bootstrap_form_for :employee,url:{action:"selected_employee_training_list",id: @training_request.id},html: {id: 'employee'} do |f| %>
>>>>>>> d22b11f13f724087e348b7f12b403bd2c8080ead
<table id="example" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th><input type="checkbox" id="selectAll" value="selectAll"></th>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Contact No</th>
      </tr>
  </thead>

  <tbody>
   <% @trainee_requests.each do |trainee_request| %>
      <tr>
         <td>
          <% if trainee_request.is_complete == nil %>
          <% else %>
            <%= check_box_tag "employee_ids[]", trainee_request %>
          <% end %>
        </td>
        <td><%= trainee_request.employee.try(:manual_employee_code) %></td>
        <td><%= full_name(trainee_request.employee) %> </td>
        <td><%= trainee_request.employee.try(:contact_no) %></td>
      </tr>
      <% end %>
  </tbody>
</table><br>
 <%= f.submit "List Of Selected Employee",class: "btn btn-primary btn-sm" %>
    <% end %>

<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>