<p id="notice"><%= notice %></p>

<h1>Listing Training Requests</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Training topic</th>
      <th>Training period</th>
      <th>Training date</th>
      <th>Reporting master</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @training_requests.each do |training_request| %>
      <tr>
        <td><%= training_request.employee %></td>
        <td><%= training_request.training_topic %></td>
        <td><%= training_request.training_period %></td>
        <td><%= training_request.training_date %></td>
        <td><%= training_request.reporting_master %></td>
        <td><%= training_request.description %></td>
        <td><%= link_to 'Show', training_request %></td>
        <td><%= link_to 'Edit', edit_training_request_path(training_request) %></td>
        <td><%= link_to 'Destroy', training_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training request', new_training_request_path %>
