<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Training Request</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
      <tr> 
        <th colspan="2"></th>
        <th colspan="2"></th>
      </tr>

      <tr>
        <th><strong>Employee ID</strong></th>
        <td><%= @training_request.employee.try(:manual_employee_code) %></td>

        <th><strong>Employee Name </strong></th>
        <td><%= full_name(@training_request.employee) %></td>
      </tr>

      <tr>
        <th><strong>Training Topic</strong></th>
        <td><%= @training_request.training_topic_master.try(:name) %></td>
 
        <th><strong>Request Date</strong></th>
        <td><%= @training_request.training_date %></td>
      </tr>
      <tr>

        <th><strong>Reporting Manager</strong></th>
        <td><%= @employee.try(:first_name) %> <%= @employee.try(:middle_name) %> <%= @employee.try(:last_name) %></td>   
      
        <th><strong>No Of Employee</strong></th>
        <td><%= @training_request.no_of_employee %></td>
      </tr>
      <tr>

        <th><strong>Place</strong></th>
        <td><%= @training_request.place %></td>
      
        <th><strong>Description</strong></th>
        <td colspan="3"><%= @training_request.description %></td>
      </tr>

      <tr>
        <th><strong>Justification</strong></th>
        <td colspan="3"><%= @training_request.justification %></td>

      </tr>

    </table>
  <div class="box-header with-border">
    <h3 class="box-title">Employee's Who are Going To Attend Training</h3>
  </div>
    <div>
       <%= render 'trainee_request' %>
    </div>
      <!-- <= link_to 'Edit', edit_training_request_path(@training_request),class: 'btn btn-success btn-sm fa fa-edit' %> | -->
      <%= link_to 'Back', training_requests_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
  </div>
</div>