<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Training Request</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
      <tr> 
        <th colspan="2"></th>
        <th colspan="2"></th>
      </tr>

      <tr>
        <th><strong>Employee:</strong></th>
        <td><%= @training_request.employee.try(:manual_employee_code) %></td>
      
        <th><strong>Training topic:</strong></th>
        <td><%= @training_request.training_topic_master.try(:name) %></td>
      </tr>

      <tr>
        <th><strong>Training period:</strong></th>
        <td><%= @training_request.training_period %></td>
     
        <th><strong>Training date:</strong></th>
        <td><%= @training_request.training_date %></td>
      </tr>

      <tr>
        <th><strong>Reporting master:</strong></th>
        <td><%= @training_request.reporting_master_id %></td>
        
        <th><strong>No Of Employee:</strong></th>
        <td><%= @training_request.no_of_employee %></td>
      </tr>

      <tr>
        <th><strong>Place:</strong></th>
        <td><%= @training_request.place %></td>

        <th><strong>Description:</strong></th>
        <td><%= @training_request.description %></td>
      </tr>

      <tr>
        <th><strong>Justification:</strong></th>
        <td><%= @training_request.justification %></td>
     
        <th></th>
        <td></td>
      </tr>

    </table>
  </div>
</div>