<div class="box">
  <div class="box-header">
    <h3 class="box-title">Training Requests</h3>
    <div class="pull-right">
    </div>
  </div>

<div class="box-body">

    <table id="example" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Employee</th>
          <th>Training topic</th>
          <th>Training period</th>
          <th>Training date</th>
          <th>Reporting master</th>
          <th>No Of Employee</th>
          <th>Place</th>
          <th>Description</th>
          <th>Justification</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @training_requests.each do |training_request| %>
          <tr>
            <td><%= training_request.employee.try(:manual_employee_code) %> <%= full_name(training_request.employee) %> </td>
            <td><%= training_request.training_topic_master.try(:name) %></td>
            <td><%= training_request.training_period %></td>
            <td><%= training_request.training_date %></td>
            <td><%= training_request.reporting_master_id %></td>
            <td><%= training_request.no_of_employee %></td>
            <td><%= training_request.place %></td>
            <td><%= training_request.description %></td>
            <td><%= training_request.justification %></td>
            <td>
           <%= link_to 'Approve / Reject',training_request_confirmation_training_requests_path,class: 'btn btn-sm btn-warning' %> 
        </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
