<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Training Request Confirmation </h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
      <tr> 
        <th colspan="2"></th>
        <th colspan="2"></th>
      </tr>

      <tr>
        <th><strong>Employee ID</strong></th>
        <td><%= @training_request.employee.try(:manual_employee_code) %></td>
      
        <th><strong>Training Topic</strong></th>
        <td><%= @training_request.training_topic_master.try(:name) %></td>
      </tr>

      <tr>
        <th><strong>Training Period</strong></th>
        <td><%= @training_request.training_period %></td>
     
        <th><strong>Request Date</strong></th>
        <td><%= @training_request.training_date %></td>
      </tr>

      <tr>
        <th><strong>Request To</strong></th>
        <td><%= @training_request.reporting_master_id %></td>
        
        <th><strong>No. Of Employee</strong></th>
        <td><%= @training_request.no_of_employee %></td>
      </tr>

      <tr>
        <th><strong>Place</strong></th>
        <td><%= @training_request.place %></td>

        <th><strong>Description</strong></th>
        <td><%= @training_request.description %></td>
      </tr>

      <tr>
        <th><strong>Justification</strong></th>
        <td><%= @training_request.justification %></td>
     
        <th></th>
        <td></td>
      </tr>
    </table><br>
<div class="box-header with-border">
    <h3 class="box-title">Employee's Who are Going To Attend Training</h3>
  </div>
<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Contact No</th>
      </tr>
  </thead>

  <tbody>
   <% @trainee_requests.each do |trainee_request| %>
      <tr>
        <td><%= trainee_request.employee.try(:manual_employee_code) %></td>
        <td><%= full_name(trainee_request.employee) %> </td>
        <td><%= trainee_request.employee.try(:contact_no) %></td>
      </tr>
      <% end %>
  </tbody>
</table><br>
  
  <%= link_to 'Approve',modal_approver_comment_training_requests_path(@training_request.id),class: 'btn btn-sm btn-info fa fa-check',remote: true %> |
  <%= link_to 'Reject',modal_reject_comment_training_requests_path(@training_request.id),class: 'btn btn-sm btn-danger fa fa-trash',remote: true %>
    </td>
  </div>
</div>

<div id="myModal1" class="modal fade"></div>
<div id="myModal2" class="modal fade"></div>