<p id="notice"><%= notice %></p>

<h1>Listing Department Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @department_types.each do |department_type| %>
      <tr>
        <td><%= department_type.name %></td>
        <td><%= link_to 'Show', department_type %></td>
        <td><%= link_to 'Edit', edit_department_type_path(department_type) %></td>
        <td><%= link_to 'Destroy', department_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Department type', new_department_type_path %>
