<%= bootstrap_form_for(@leav_category,html: {id: 'leav_category'},remote:true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code,hide_label:true, placeholder: 'Leave Code' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,hide_label:true, placeholder: 'Leave Type' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :description,hide_label:true, placeholder: 'Leave Description' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :from,hide_label:true, placeholder: 'From' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :to,hide_label:true, placeholder: 'To' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :monthly_leave,hide_label:true, placeholder: 'Monthly Leave Limit' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.check_box :is_payble, label: 'Payble'%>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="field">
        <%= f.check_box :is_balance, label: 'Balance Required'%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="field">
        <%= f.check_box :is_cashable, label: 'Cashable'%>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="field">
        <%= f.check_box :assign_balance, label: 'Assign Balance'%>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="field">
        <%= f.check_box :is_active, label: 'Active'%>
      </div>
    </div>
     <div class="col-sm-2">
      <div class="field">
        <%= f.check_box :is_limit, label: 'Limit'%>
      </div>
    </div>
    <!-- <div class="col-sm-2">
      <div class="field">
        <= f.check_box :is_continuous, label: 'Continuous'%>
      </div>
    </div> -->
  </div>
    <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Leave Type",:class => class_name, data: { disable_with: data_info } %>
      </div>
    </div>
  </div>
<% end %>
<br>
