<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Leave Type</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <tr>
      <th><strong>Code</strong></th>
      <td><%= @leav_category.code %></td>

      <th><strong>Name</strong></th>
      <td><%= @leav_category.name %></td>
    </tr>
 
 
    <tr>
     <th><strong>Description</strong></th>
      <td><%= @leav_category.description %></td>

      <th><strong>From</strong></th>
      <td> <%= @leav_category.from %></td>
    </tr>

    <tr>
     <th><strong>To</strong></th>
      <td><%= @leav_category.to %></td>

      <th><strong>Monthly Leave Limit</strong></th>
      <td> <%= @leav_category.monthly_leave %></td>
    </tr>

     <tr>
     <th><strong>Payble</strong></th>
      <td><%= @leav_category.is_payble ? "Yes" : "No" %></td>

      <th><strong>Balance Required</strong></th>
      <td> <%= @leav_category.is_balance ? "Yes" : "No" %></td>
    </tr>

     <tr>
     <th><strong>Cashable</strong></th>
      <td><%= @leav_category.is_cashable ? "Yes" : "No" %></td>

      <th><strong>Assign Balance</strong></th>
      <td> <%= @leav_category.assign_balance ? "Yes" : "No" %></td>
    </tr>

    <tr>
      <th><strong>Sandwich</strong></th>
      <td><%= @leav_category.weekoff_sandwich ? "Yes" : "No" %></td>

      <th><strong>Status</strong></th>
      <td><%= @leav_category.is_active ? "Yes" : "No" %></td>
    </tr>

    <tr>
      <th><strong>Continue</strong></th>
      <td colspan="3"> <%= @leav_category.is_continuous ? "Yes" : "No" %></td>
    </tr>
     </table> <br>

    <%= link_to 'Back', new_leav_category_path,class: 'btn btn-sm btn-default fa fa-arrow-left' %>
  </div><!-- /.box-body -->
</div><!-- /.box -->