<!-- Optionally, you can add icons to the links -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">
   <a href="/home"> <Center> <% if current_user.class == Member %><%= current_user.company_location.company.try(:name) %>
    <%else%><%= current_user.subdomain %> - <%= current_user.class %> <%end%>DASHBOARD</Center></a>
  </li>
  <li class="treeview" id="company">
    <a href="">
      <i class="fa fa-user-plus"></i> <span><%= current_user.company_location.company.try(:name) %> Details</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu" >
      <li><a href="/companies"><i class="fa fa-tags"></i> Companies</a></li>
      <li><a href="/company_locations"><i class="fa fa-tags"></i> Locations</a></li>
      <li><a href="/departments/new"><i class="fa fa-tags"></i> Departments</a></li>
      <li><a href="/cost_centers/new"><i class="fa fa-tags"></i> Cost Center</a></li>
    </ul>
  </li>
  
  <li class="treeview" id="GlobalSetup">
    <a href="#">
      <i class="glyphicon glyphicon-th-large"></i> <span> Global Setup </span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" >

      <li id="CompanyType">
        <a href="#"><i class="fa fa-edit"></i> Company <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
           <li><a href="/company_types/new"><i class="fa fa-tags"></i> Company Type</a></li>
           <li><a href="/department_types/new"><i class="fa fa-tags"></i> Department Type</a></li>
           <li><a href="/payment_modes/new"><i class="fa fa-tags"></i> Payment Mode </a></li>
           <li><a href="/banks/new"><i class="fa fa-tags"></i> Bank </a></li>
        </ul>
      </li>

      <li id="PayrollComponent">
        <a href="#"><i class="fa fa-edit"></i> Payroll Component <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/advance_types/new"><i class="fa fa-tags"></i> Advance Type </a></li>
          <li><a href="/expencess_types/new"><i class="fa fa-tags"></i> Expenses Type </a></li>
          <li><a href="/food_coupan_masters/new"><i class="fa fa-tags"></i> Food Coupon Type </a></li>
        </ul>
      </li>

       <li id="EmployeeProfile">
        <a href="#"><i class="fa fa-edit"></i> Employee Profile <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/employee_code_masters/new"><i class="fa fa-tags"></i>Code Master </a></li>
          <li><a href="/employee_types/new"><i class="fa fa-tags"></i> Employment Type</a></li>
          <li><a href="/roles/new"><i class="fa fa-tags"></i> User Role </a></li>
          <li><a href="/nationalities/new"><i class="fa fa-tags"></i> Nationality</a></li>
          <li><a href="/reserved_categories/new"><i class="fa fa-tags"></i> Reservation Category</a></li>
          <li><a href="/religions/new"><i class="fa fa-tags"></i> Religion</a></li>
          <li><a href="/relation_masters/new"><i class="fa fa-tags"></i> Relation </a></li>
          <li><a href="/blood_groups/new"><i class="fa fa-tags"></i> Blood Group</a></li>
          <li><a href="/nomination_masters/new"><i class="fa fa-tags"></i> Nomination Type </a></li>
          <li><a href="/illness_types/new"><i class="fa fa-tags"></i> Illness Type </a></li>
        </ul>
       </li>

       <li id="OnBording">
        <a href="#"><i class="fa fa-edit"></i> On Bording <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/employee_grades/new"><i class="fa fa-tags"></i> Grade</a></li>
          <li><a href="/employee_categories/new"><i class="fa fa-tags"></i> Category</a></li>
          <li><a href="/employee_designations/new"><i class="fa fa-tags"></i> Designation</a></li>
          <li><a href="/asset_types/new"><i class="fa fa-tags"></i> Asset Type </a></li>
        </ul>
       </li>

       <li id="Qualification">
        <a href="#"><i class="fa fa-edit"></i> Qualification <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/degrees/new"><i class="fa fa-tags"></i> Qualification</a></li>
          <li><a href="/degree_types/new"><i class="fa fa-tags"></i> Qualification Level</a></li>
          <li><a href="/degree_streams/new"><i class="fa fa-tags"></i> Specialization</a></li>
          <li><a href="/universities/new"><i class="fa fa-tags"></i> University/Institution</a></li>
          <li><a href="/years/new"><i class="fa fa-tags"></i> Passout Year</a></li>
        </ul>
       </li>
       <li id="TravelSetup">
        <a href="#"><i class="fa fa-edit"></i> Travel Setup <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
           <li><a href="/travel_expence_types/new"><i class="fa fa-tags"></i> Travel Expense Type </a></li>
           <li><a href="/travel_modes/new"><i class="fa fa-tags"></i> Travel Mode </a></li>
           <li><a href="/travel_options/new"><i class="fa fa-tags"></i> Travel Options </a></li>
           <li><a href="/currency_masters"><i class="fa fa-tags"></i> Currency Master </a></li>
        </ul>
       </li>

       <li id="Performance">
        <a href="#"><i class="fa fa-edit"></i> Performance <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/periods"><i class="fa fa-tags"></i> Period Master </a></li>
          <li><a href="/ratings/new"><i class="fa fa-tags"></i> Ratings Master </a></li>
          <li><a href="/goal_perspectives/new"><i class="fa fa-tags"></i> Goal Mastet</a></li>
          <li><a href="/attribute_masters/new"><i class="fa fa-tags"></i> Attribute Master</a></li>
          <li><a href="/performance_activities/new"><i class="fa fa-tags"></i> Activity </a></li>
          <li><a href="/performance_calendars/new"><i class="fa fa-tags"></i> Calendar</a></li>
        </ul>
        </li>

        <li id="Recruitment">
        <a href="#"><i class="fa fa-edit"></i> Recruitment <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
           <li><a href="/interview_attributes/new"><i class="fa fa-tags"></i> Skillset </a></li>
           <li><a href="/interview_decisions/new"><i class="fa fa-tags"></i> Evaluation </a></li>
           <li><a href="/interview_evalutions/new"><i class="fa fa-tags"></i> Evaluation Criteria </a></li>
           <li><a href="/interview_types/new"><i class="fa fa-tags"></i> Interview Types </a></li>
        </ul>
       </li>

        <li id="Resignation">
        <a href="#"><i class="fa fa-edit"></i> Resignation <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
           <li><a href="/question_masters/new"><i class="fa fa-tags"></i> Question Master </a></li>
           <li><a href="/about_companies/new"><i class="fa fa-tags"></i> About Company </a></li>
           <li><a href="/about_bosses/new"><i class="fa fa-tags"></i> About Boss </a></li>
           <li><a href="/leaving_reasons/new"><i class="fa fa-tags"></i> Leaving Reason </a></li>
        </ul>
       </li>

      <li id="Training">
        <a href="#"><i class="fa fa-edit"></i> Training <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/training_topic_masters/new"><i class="fa fa-tags"></i> Training Course </a></li>
        </ul>
       </li>

       <li id="Rewards">
        <a href="#"><i class="fa fa-edit"></i> Rewards <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
           <li><a href="/reward_types/new"><i class="fa fa-tags"></i>Rewards Type </a></li>
           <li><a href="/reward_owners/new"><i class="fa fa-tags"></i>Reward Owners </a></li>
        </ul>
       </li>

       <li id="HSE">
        <a href="#"><i class="fa fa-edit"></i> HSE <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
           <li><a href="/root_cause_masters/new"><i class="fa fa-tags"></i> Accident Root Cause </a></li>
        </ul>
       </li>

       <li id="ProjectMaster">
        <li><a href="/project_masters/new"><i class="fa fa-tags"></i> Project Master </a></li>
        </li>
       </li> 
      </ul>
   </li>

    <li class="treeview" id="InformationManagement">
    <a href="">
      <i class="fa fa-user-plus"></i> <span>Information Management</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu" >
     <li id="Events"><a href="/company_events/new"><i class="fa fa-tags"></i> Events</a></li>
      <li><a href="/circulars/new"><i class="fa fa-tags"></i> Circular/Information</a></li>
      <li><a href="/company_policies/new"><i class="fa fa-tags"></i> Company Policy</a></li>
    </ul>
  </li>

  <li class="treeview" id="EmployeeManagement">
    <a href="#">
      <i class="glyphicon glyphicon-th-large"></i> <span> Employee Management </span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" >
     <li id="Employee1"><a href="/employees"><i class="fa fa-tags"></i> Employee </a></li>

    <li class="treeview" id="EmployeeInduction">
        <a href="#"><i class="fa fa-edit"></i> Employee Induction <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/induction_masters/new"><i class="fa fa-tags"></i> Template </a></li>
        <li><a href="/induction_activities/employee_list"><i class="fa fa-tags"> </i> Plan </a></li>
        <li><a href="/induction_details/all_induction_detail_list"><i class="fa fa-tags"> </i> Confirmation </a></li>
        </ul>
    </li> 

      <li class="treeview" id="Reports">
        <a href="#"><i class="fa fa-edit"></i> Reports <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/employees/employee_list_report"><i class="fa fa-tags"></i> Employee </a></li>
        <li><a href="/reports/basic_details/new"><i class="fa fa-tags"></i> Employee Details </a></li>
      <!-- <li><a href="/reports/basic_details/employee_list"><i class="fa fa-tags"></i>Employee Selective</a></li> -->      
        <li><a href="/reports/basic_details/employee_list"><i class="fa fa-tags"></i> Employee Selective </a></li>
        <li><a href="/reports/joining_details/new"><i class="fa fa-tags"></i> Onbording </a></li>
        <li><a href="/reports/bank_details/new"><i class="fa fa-tags"></i> Bank  </a></li>
        <li><a href="/reports/qualification_details/new"><i class="fa fa-tags"></i> Qualification </a></li>
        <li><a href="/reports/experience_details/new"><i class="fa fa-tags"></i> Experience </a></li>
        <li><a href="/reports/skillset_details/new"><i class="fa fa-tags"></i> Skillset </a></li>
        <li><a href="/reports/certification_details/new"><i class="fa fa-tags"></i> Certification </a></li>
        <li><a href="/reports/award_details/new"><i class="fa fa-tags"></i> Award  </a></li>
        <li><a href="/reports/physical_details/new"><i class="fa fa-tags"></i> Physical  </a></li>
        <li><a href="/reports/family_details/new"><i class="fa fa-tags"></i> Family </a></li>
        </ul>
      </li>
      <li><a href="/certificates/new"><i class="fa fa-tags"></i> Certificates </a></li>
    </ul>
  </li>

  <li class="treeview" id="UserAdministration">
    <a href="#">
      <i class="glyphicon glyphicon-th-large"></i> <span> User Administration </span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" >
      <li><a href="/employees/all_emp_list"><i class="fa fa-tags"></i> Access Control </a></li>
      <li><a href="/reporting_masters/new"><i class="fa fa-tags"></i> Reporting Manager </a></li>
      <li><a href="/employees/assign_role"><i class="fa fa-tags"></i> Create New User </a></li>
      <li><a href="/home/created_user"><i class="fa fa-tags"></i> View Users </a></li>
      <li><a href="/roles/role_edit_list"><i class="fa fa-tags"></i> Update User Role </a></li>
      <li><a href="/employees/manager"><i class="fa fa-tags"></i> Update Manager </a></li>
      <li><a href="/reporting_masters/update_reporting_manager"><i class="fa fa-tags"></i> Replace Manager </a></li>
      <li><a href="/employees/member_list_for_update_password"><i class="fa fa-tags"></i> Reset Password </a></li>
      <li><a href="/employees/destroy_employee"><i class="fa fa-tags"></i> Destroy Employee </a></li>
      <!-- <li><a href="/employees/employee_list_for_revert"><i class="fa fa-tags"></i> Revert </a></li> -->
      <!-- <li><a href="/employees/transfer_employee_list"><i class="fa fa-tags"></i>Transfer Employee</a></li> -->
    </ul>
  </li>

  <li class="treeview" id="EmployeeSelfService">
    <a href="">
      <i class="fa fa-user-plus"></i> <span> Employee Self Service </span><i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/self_services/employee"><i class="fa fa-tags"></i> Personal Details </a></li>
      <li><a href="/employee_leav_requests"><i class="fa fa-tags"></i> Leave Request </a></li>
      <li><a href="/self_services/employee_template"><i class="fa fa-tags"> </i> Salary Structure </a></li>
      <li><a href="/self_services/attendance"><i class="fa fa-tags"></i> Attendances </a></li>
      <li><a href="/employee_attendances/loginwise_attendance_form"><i class="fa fa-tags"></i>Attendance </a></li> 
      <li><a href="/self_services/salaryslip"><i class="fa fa-tags"></i> Salary Slip </a></li>
      <li><a href="/self_services/advance"><i class="fa fa-tags"></i> Advance & Installment </a></li>
      <li><a href="/self_services/employee_resignation"><i class="fa fa-tags"></i> Employee Resignation </a></li>
      <li><a href="/self_services/resignation_history"><i class="fa fa-tags"></i> Resignation History </a></li>
      <!--<li><a href="/employee_daily_activities/new"><i class="fa fa-tags"></i> Daily Activity </a></li>
      -->      
     <li><a href="/training_plans/trainee_list"><i class="fa fa-tags"></i> Training Feedback </a></li>
    <li><a href="/self_services/employee_transfer"><i class="fa fa-tags"></i> Employee Transfer </a></li>
    <li><a href="/self_services/travel_request"><i class="fa fa-plane"></i> Travel Request </a></li>
    </ul>
  </li>
  <li class="treeview" id="LeaveManagement">
    <a href="#">
      <i class="glyphicon glyphicon-th-large"></i> <span>Leave Management</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" >
       <li class="treeview" id="leaveadministration"> <a href="#"><i class="fa fa-edit"></i>Leave Administration <i class="fa fa-angle-left pull-right"></i></a>
       <ul class="treeview-menu">
       <li><a href="/leav_categories/new"><i class="fa fa-tags"></i>Leave Type</a></li>
       <li><a href="/leave_masters/new"><i class="fa fa-tags"></i>Leave Master</a></li>
       <li><a href="/employee_leav_balances"><i class="fa fa-tags"></i>Leave Assignment</a></li>
       <li><a href="/leave_c_offs/new"><i class="fa fa-tags"></i>C.Off Maintenance</a></li>
       <li><a href="/leave_cash_masters/new"><i class="fa fa-tags"></i>Leave Cashable</a></li>
       <li><a href="/leave_cashables/new"><i class="fa fa-tags"></i>Leave</a></li>
       </ul>
      </li> 
      <li class="treeview" id="LeaveProcess">
        <a href="#"><i class="fa fa-edit"></i> Leave Process  <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/employee_leav_requests/employee_list"><i class="fa fa-tags"></i>Leave Request</a></li>
        <li><a href="/employee_leav_requests/approved_or_rejected_leave_request"><i class="fa fa-tags"></i>Leave Approval</a></li>
        <li><a href="/employee_leav_requests/all_leave_request_list"><i class="fa fa-tags"></i>Admin Approval</a></li>
        </ul>
      </li>
      <li class="treeview" id="LeaveReports">
        <a href="#"><i class="fa fa-edit"></i> Reports  <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
         <li><a href="/employee_leav_requests/search_by_start_date"><i class="fa fa-tags"></i>Leave Request</a></li>
        <li><a href="/particular_leave_records/search_by_leave_date"><i class="fa fa-tags"></i>Approval Leave </a></li>
        <li><a href="/employee_leav_balances/employee_leave_balance"><i class="fa fa-tags"></i>Leave Balance </a></li>
        <li><a href="/leave_c_offs/search_by_c_off_date"><i class="fa fa-tags"></i>C.Off Report</a></li>
        </ul>
      </li>  
    </ul>
  </li>


    <li class="treeview" id="TimeManagement">
    <a href="#">
      <i class="glyphicon glyphicon-th-large"></i> <span>Time Management</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" >
     <li class="treeview" id="AttendanceSetup">
      <a href="#">
        <i class="fa fa-edit"></i> Attendance Setup <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
       <li><a href="/shift_masters/new"><i class="fa fa-tags"> </i>Shift Master</a></li>
       <li><a href="/company_time_masters/new"><i class="fa fa-tags"> </i>Time Master</a></li>
       <li><a href="/machine_attendances/new"><i class="fa fa-tags"> </i>Machine Attendances</a></li>
       <li><a href="/holidays/new"><i class="fa fa-tags"></i> Holiday Setup </a></li>
       <li><a href="/week_off_masters/new"><i class="fa fa-tags"></i> Week Off Setup </a></li>
       <li><a href="/week_off_masters/week_off_list"><i class="fa fa-tags"></i> Confirm Week Off  </a></li>
       <li><a href="/employee_week_offs"><i class="fa fa-tags"></i> Revert Week Off</a>
     </ul>
      </li> 

     <li class="treeview" id="Attendance">
      <a href="#">
        <i class="fa fa-edit"></i>Attendance <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
       <li><a href="/employee_attendances/new"><i class="fa fa-tags"></i> Add Attendance</a></li> 
       <li><a href="/employee_attendances/emp_attendance"><i class="fa fa-tags"></i> Show Attendance  </a></li>
       <li><a href="/employee_attendances/costcenter_wise_attendance"><i class="fa fa-tags"></i> Unit Wise </a></li>
       <li><a href="/employee_attendances/revert_attendance_employeewise"><i class="fa fa-tags"></i> Revert Employee Wise </a></li>
       <li><a href="/employee_attendances/revert_attendance"><i class="fa fa-tags"></i> Revert Unit Wise </a></li>
       <li><a href="/employee_attendances/calculate_attendance"><i class="fa fa-tags"></i> Attendance Setup</a></li>
       <li><a href="/employee_attendances"><i class="fa fa-tags"></i> Confirm Attendance  </a></li>
       <li><a href="/workingdays"><i class="fa fa-tags"> </i>Show Workingday</a></li>
       <li><a href="/workingdays/revert_workingday"><i class="fa fa-tags"> </i>Revert Workingday</a></li>
     <!-- <li><a href="/workingdays/search_month_year"><i class="fa fa-tags"> </i>Attendace Update(Auto) </a></li> -->
     <!--  <li><a href="/holidays/new"><i class="fa fa-tags"></i> Holiday Setup </a></li>
      <li><a href="/company_shifts/new"><i class="fa fa-tags"></i> Shifts Maintenance </a></li>
      <li><a href="/shift_rotations/new"><i class="fa fa-tags"></i> Shift Rotation </a></li>
      <li><a href="/employee_shifts"><i class="fa fa-tags"></i> Employee Shift Assignment </a></li>
      <li><a href="/attendances"><i class="fa fa-tags"></i> Employee Attendance </a></li> -->
      </ul>
      </li> 
        <li id="TimeSheet">
        <a href="#"><i class="fa fa-edit"></i> Time Sheet <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu" >
        <li><a href="/employee_daily_activities/new"><i class="fa fa-tags"></i>Daily Activity</a></li>
        <li><a href="/employee_daily_activities/employee_details"><i class="fa fa-tags"></i>Activity Details</a></li>
        </ul>
        </li> 

         <li id="Reports">
        <a href="#"><i class="fa fa-edit"></i> Reports <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu" >
        <li><a href="/employee_attendances/select_date_department_form"><i class="fa fa-tags"></i>Department Wise</a></li>
        <li><a href="/employee_attendances/select_date_present_form"><i class="fa fa-tags"></i>Attendance Wise</a></li>
        </ul>
        </li> 

    </ul>
  </li>

   <li class="treeview" id="PayrollManagement">
    <a href="#">
      <i class="fa fa-share"></i> <span>Payroll Management</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li id= "PayrollSetup">
        <a href="#"><i class="fa fa-edit"></i> Payroll Setup <i class="fa fa-angle-left pull-right"></i></a>
         <ul class="treeview-menu">
          <li id="PayrollMaster">
            <a href="#"><i class="fa fa-edit"></i> Employee Master <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="/esic_masters/new"><i class="fa fa-tags"></i> ESIC Employee</a></li>
              <li><a href="/pf_masters/new"><i class="fa fa-tags"></i> PF Employee</a></li>
              <li><a href="/well_faires/new"><i class="fa fa-tags"></i> Welfare Scheme</a></li>
               <li><a href="/retention_moneys/new"><i class="fa fa-tags"></i> Retention Money </a></li>
              <li><a href="/professional_tax_masters/new"><i class="fa fa-tags"></i> Professional Tax </a></li>
            </ul>
          </li>

          <li id="EmployerMaster">
            <a href="#"><i class="fa fa-edit"></i> Employer Master <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="/esic_employers/new"><i class="fa fa-tags"></i> Esic Employeer </a></li>
              <li><a href="/pf_employers/new"><i class="fa fa-tags"></i> PF Employeer </a></li>
              <li><a href="/payroll_overtime_masters/new"><i class="fa fa-tags"></i> Overtime  </a></li>
              <li><a href="/bonus_employers/new"><i class="fa fa-tags"></i> Bonus Master </a></li>
              <li><a href="/dearness_allowances/new"><i class="fa fa-tags"></i> Dearness Allowance </a></li>
              <li><a href="/employer_insurances/new"><i class="fa fa-tags"></i> Insurance </a></li>
              <li><a href="/employer_family_pensions/new"><i class="fa fa-tags"></i> Family Pension </a></li>
            </ul>
          </li>

          <li id="SalarySetup">
            <a href="#"><i class="fa fa-edit"></i> Salary Setup <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
              <li><a href="/salary_components/new"><i class="fa fa-tags"></i>Components</a></li>
              <li><a href="/salary_templates/new"><i class="fa fa-tags"></i>Template</a></li>
              <li><a href="/employee_templates/fresh_template"><i class="fa fa-tags"></i>Break up</a></li>
              <li><a href="/employee_templates"><i class="fa fa-tags"></i>Salary Increment</a></li>
            </ul>
          </li>

          <li id="PeriodicComponents">
            <a href="#"><i class="fa fa-edit"></i> Periodic Components <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
             <li><a href="/food_deductions"><i class="fa fa-tags"> </i>Food Coupan </a></li>
              <li><a href="/monthly_expences"><i class="fa fa-tags"> </i>Monthly Expenses</a></li>
              <li><a href="/society_member_ships"><i class="fa fa-tags"> </i>Membership</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li id="AdvanceSalary">
        <a href="#"><i class="fa fa-edit"></i> Advance Salary <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li id="Advance">
            <a href="#"><i class="fa fa-edit"></i> Advance <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
               <li><a href="/advance_salaries"><i class="fa fa-tags"> </i>Salary Advance </a></li>
               <li><a href="/advance_salaries/advance_report"><i class="fa fa-tags"> </i>Advance Report</a></li>
            </ul>
          </li>

          <li id="Instalment">
            <a href="#"><i class="fa fa-edit"></i> Instalment <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
             <li><a href="/instalments"><i class="fa fa-tags"> </i>Installment</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li id="SalaryProcess">
        <a href="#"><i class="fa fa-edit"></i> Salary Process <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/salaryslips/select_month_year_form"><i class="fa fa-tags"></i> Salary Process Mass</a></li>
          <li><a href="/salaryslips/revert_salary"><i class="fa fa-tags"></i> Salary Reversal</a></li>
          <li><a href="/salaryslips/confirm_salaryslip"><i class="fa fa-tags"></i> Confirm Salary</a></li>
          <li id="SalarySlip">
            <a href="#"><i class="fa fa-edit"></i> Salary Slip<i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
               <li><a href="/salaryslips/employee_salary_list"><i class="fa fa-tags"> </i>Employee Wise </a></li>
               <li><a href="/pdf_salaries/select_month_year_form"><i class="fa fa-tags"> </i>Department Wise</a></li>
               <li><a href="/pdf_salaries/salary_slip_costunit_wise"><i class="fa fa-tags"> </i>Cost Unit Wise</a></li>
            </ul>
          </li>

          <li id="SalaryReport">
            <a href="#"><i class="fa fa-edit"></i> Salary Report <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
             <li><a href="/reports/salaries/new"><i class="fa fa-tags"> </i>Monthly Salary </a></li>
             <li><a href="/salary_slip_ledgers/select_month_year_form"><i class="fa fa-tags"> </i>Bank Wise</a></li>
             <li><a href="/salary_slip_ledgers/select_bank_wise"><i class="fa fa-tags"> </i>Employee Wise</a></li>
             <li><a href="/salary_slip_ledgers/cost_unit_wise"><i class="fa fa-tags"> </i>Unit Wise </a></li>
             <li><a href="/salary_slip_ledgers/bank_wise_net_amount"><i class="fa fa-tags"> </i>Bank Wise Net Salary </a></li>
             <li><a href="/salary_slip_ledgers/employee_salary_ledger"><i class="fa fa-tags"> </i>Salary Ledger </a></li>
             <li><a href="/employee_templates/active_list"><i class="fa fa-tags"> </i> Current Salary Breakup</a></li>
             <li><a href="/employee_templates/employee_wise_breakup"><i class="fa fa-tags"> Employee Salary Breakup</i> </a></li>
             <li><a href="/bonus_employees/bonus_employee_report"><i class="fa fa-tags"> Employee Bonus</i> </a></li>
             <li><a href="/salaryslips/salary_slip_report_form"><i class="fa fa-tags"> Monthly Report</i> </a></li>
             <li><a href="/salaryslips/salaryslip_daterange_report"><i class="fa fa-tags"> Datewise Report</i> </a></li>
             <!--  <li><a href="/salaryslip_components/new"><i class="fa fa-tags"> </i>XML Integration Report </a></li>
             -->
            </ul>
          </li>

           <li id="CTCReport">
            <a href="#"><i class="fa fa-edit"></i> CTC Report <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
             <li><a href="/salaryslips/emp_contibution_salary_list"><i class="fa fa-tags"> </i>CTC Wise Slip </a></li>
            </ul>
          </li>

           <li id="DeductionReport">
            <a href="#"><i class="fa fa-edit"></i> Deduction Report <i class="fa fa-angle-left pull-right"></i></a>
            <ul class="treeview-menu">
            <!-- <li><a href="/reports/advance_salaries/new"><i class="fa fa-tags"> </i>Advance Salaries</a></li> -->
            <li><a href="/advance_salaries/advance_salary_report"><i class="fa fa-tags"> </i>Advance Salary</a></li>
            <!-- <li><a href="/reports/instalment_details/new"><i class="fa fa-tags"> </i>Monthly Instalments </a></li> -->
            <li><a href="/instalments/installment_report"><i class="fa fa-tags"> </i>Monthly Instalment </a></li>
            <!-- <li><a href="/reports/food_deduction_details/new"><i class="fa fa-tags"> </i>Food Deductions</a></li> -->
            <li><a href="/food_deductions/food_deduction_report"><i class="fa fa-tags"> </i>Food Deduction</a></li>
            <!-- <li><a href="/reports/pf_details/new"><i class="fa fa-tags"> </i>PF Monthly Details</a></li> -->
            <li><a href="/salary_slip_ledgers/pf_detail_report"><i class="fa fa-tags"> </i>PF Monthly Detail</a></li>
            <!-- <li><a href="/reports/esic_details/new"><i class="fa fa-tags"> </i> ESIC Monthly</a></li> -->
            <li><a href="/salary_slip_ledgers/esic_report"><i class="fa fa-tags"> </i>ESIC</a></li>
            <li><a href="/monthly_expences/monthly_expence_report"><i class="fa fa-tags"> </i>Monthly Expences</a></li>
            <li><a href="/salary_slip_ledgers/proff_tax_report"><i class="fa fa-tags"> </i>Proffesional Tax</a></li>
             <!-- <li><a href="/reports/welfare_details/new"><i class="fa fa-tags"> </i>Well Faires</a></li> -->
             <li><a href="/salary_slip_ledgers/welfare_detail_report"><i class="fa fa-tags"> </i>Well Faire</a></li>
             <!-- <li><a href="/reports/society_membership_details/new"><i class="fa fa-tags"> </i>Society Memberships</a></li> -->
             <li><a href="/salary_slip_ledgers/soc_membership_report"><i class="fa fa-tags"> </i>Society Membership</a></li>
             <!-- <li><a href="/reports/retention_money_details/new"><i class="fa fa-tags"> </i>Retention Moneys</a></li> -->
             <li><a href="/salary_slip_ledgers/retention_money_report"><i class="fa fa-tags"> </i>Retention Money</a></li>
            </ul>
          </li>

        </ul>
      </li>

       <li id="IncomeTax">
        <a href="#"><i class="fa fa-edit"></i> Income Tax <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          
             <li><a href="/sections/new"><i class="fa fa-tags"> </i> Sections </a></li>
            <li><a href="/investment_heads/new"><i class="fa fa-tags"> </i>Investment Heads</a></li>
            <li><a href="/investment_declarations/new"><i class="fa fa-tags"> </i>Investment Declarations</a></li>
        </ul>
      </li>

       <li id="Overtime">
        <a href="#"><i class="fa fa-edit"></i> Overtime <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/overtime_daily_records"><i class="fa fa-tags"> </i> Record </a></li>
          <li><a href="/overtime_salaries/select_month_year_form"><i class="fa fa-tags"> </i>Overtime Process</a></li>
          <li><a href="/overtime_salaries/revert_overtime"><i class="fa fa-tags"> </i>Overtime Reversal</a></li>
          <li><a href="/reports/overtime_salary_details/new"><i class="fa fa-tags"> </i>Overtime Report</a></li>
        </ul>
      </li>

    <li><a href="#"><i class="fa fa-edit"></i> Level One</a></li>

  </ul>
</li>

   <li class="treeview" id="HelpDesk">
    <a href="#">
      <i class="glyphicon glyphicon-phone-alt"></i> <span>Help Desk</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" >
       
       <li class="treeview" id="Setup"> <a href="#"><i class="fa fa-edit"></i>Setup <i class="fa fa-angle-left pull-right"></i></a>
       <ul class="treeview-menu">
        <li><a href="/issue_tracker_groups/new"><i class="fa fa-tags"></i>Group</a></li>
        <li><a href="/issue_tracker_members/new"><i class="fa fa-tags"></i>Member</a></li>
        <li><a href="/issue_types/new"><i class="fa fa-tags"></i>Support Type</a></li>
        <li><a href="/issue_masters/new"><i class="fa fa-tags"></i>Support Master</a></li>
        <li><a href="/issue_root_causes/new"><i class="fa fa-tags"></i>Support Root Cause</a></li>

       </ul>
      </li> 
       <li class="treeview" id="Process">
        <a href="#"><i class="fa fa-edit"></i> Process  <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/issue_requests/new"><i class="fa fa-tags"></i>Support Request</a></li>
        <li><a href="/issue_requests/lock_request_list"><i class="fa fa-tags"></i>Support List</a></li>
        <li><a href="/issue_requests/solved_issues"><i class="fa fa-tags"></i>Solved Support</a></li>
        </ul>
      </li>
       <li class="treeview" id="SupportReport">
        <a href="#"><i class="fa fa-edit"></i> Report  <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
         <li><a href="/issue_requests/groupwise_report"><i class="fa fa-tags"></i>Group Wise Report</a></li>
          <li><a href="/issue_requests/datewise_report"><i class="fa fa-tags"></i>Date Wise Report</a></li>
          <li><a href="/issue_requests/memberwise_report"><i class="fa fa-tags"></i>Member Wise Report</a></li>
        </ul>
      </li>
    </ul>
  </li>

   <li class="treeview" id="TravelManagement">
    <a href="#">
      <i class="glyphicon glyphicon-th-large"></i> <span>Travel Management</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" >
       
       <li class="treeview" id="TravelRequestProcess"> <a href="#"><i class="fa fa-edit"></i>Travel Request Process <i class="fa fa-angle-left pull-right"></i></a>
       <ul class="treeview-menu">
        <li><a href="/travel_requests"><i class="fa fa-plane"></i>Travel Request </a></li>
        <li><a href="/travel_requests/travel_history"><i class="fa fa-plane"></i> Travel Approve/Reject </a></li>
        <li><a href="/travel_requests/travel_request_list"><i class="fa fa-plane"></i> Travel Request List </a></li>
       </ul>
      </li> 
  
       <li class="treeview" id="ExpensesClaimProcess">
        <a href="#"><i class="fa fa-edit"></i> Expenses Claim Process  <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
          <li><a href="/travel_requests/daily_bill"><i class="fa fa-plane"></i> Expenses Claim </a></li>
          <!--  <li><a href="/daily_bill_details/daily_bill_history"><i class="fa fa-tags"></i> Expenses Claim Approval </a></li> -->
           <li><a href="/daily_bill_details/travel_request_list"><i class="fa fa-plane"></i>Approval / Reject </a></li>
          <li><a href="/daily_bill_details/approved_daily_bill_details"><i class="fa fa-plane"></i>Approval List </a></li>
          <!--       <li><a href="/travel_expences"><i class="fa fa-tags"></i> Travel Expenses </a></li>   
           -->    
        </ul>
      </li>
    </ul>
  </li>

  <li class="treeview" id="performancemgmt">
    <a href="#">
      <i class="fa fa-list-alt"></i> <span>Performance Management</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" >
      <li id="perform_cycle">
        <a href="#"><i class="fa fa-edit"></i>Performance Cycle <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/goal_bunches/new"><i class="fa fa-tags"></i> Goal Setting </a></li>
        <li><a href="/goal_bunches/subordinate_list"><i class="fa fa-tags"></i> Goal Approval </a></li>
        <li><a href="/goal_bunches/period_list_appraisee"><i class="fa fa-tags"></i> Self Evaluation </a></li>
        <li><a href="/goal_bunches/appraiser_subordinate"><i class="fa fa-tags"></i> Appraiser Evaluation </a></li>
        <li><a href="/goal_bunches/reviewer_subordinate"><i class="fa fa-tags"></i> Reviewer Evaluation  </a></li>
        <li><a href="/goal_bunches/employee_list"><i class="fa fa-tags"></i> Final Evaluation  </a></li>
        </ul>
      </li> 

      <li id="perform_cycle">
        <a href="#"><i class="fa fa-edit"></i>Employee Plan <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/goal_ratings/period_for_training"><i class="fa fa-tags"></i>Training Assessment</a></li>
        <li><a href="/goal_ratings/period_and_topic_wise_list"><i class="fa fa-tags"></i>Training Plan</a></li>
        <li><a href="/goal_ratings/increment_index"><i class="fa fa-tags"></i>Revision Simulation</a></li>
        </ul>
      </li> 
      
      <li id="perform_report">
      <a href="#"><i class="fa fa-edit"></i> Reports <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
       <!--  <li><a href="/goal_bunches/set_goal_list"><i class="fa fa-tags"></i> Employee List</a></li>
         <li><a href="/goal_bunches/emp_list_goal_wise"><i class="fa fa-tags"></i> Employee Wise Detail </a></li>
        <li><a href="/goal_ratings/subordinate_list_goal_wise"><i class="fa fa-tags"></i>Team Wise Detail</a>
        <li><a href="/goal_bunches/period_for_appraisee"><i class="fa fa-tags"></i> Appraisee Report</a></li>
        <li><a href="/goal_bunches/subordinate_list_for_appraisee"><i class="fa fa-tags"></i> Appraiser Report</a></li>
        <li><a href="/goal_bunches/subordinate_list_for_reviewer"><i class="fa fa-tags"></i> Reviewer Report</a></li>
        <li><a href="/goal_bunches/final_employee_list"><i class="fa fa-tags"></i> Final Report </a></li></li>
        <li><a href="/goal_ratings/trainee_list"><i class="fa fa-tags"></i>Training Plan Report</a></li> -->
        <li><a href="/goal_ratings/employee_goal_wise"><i class="fa fa-tags"></i>Period Wise Report</a></li>
        <li><a href="/goal_ratings/employee_wise_goal"><i class="fa fa-tags"></i>Employee Wise Report</a></li>
        <li><a href="/goal_ratings/period_rating_wise"><i class="fa fa-tags"></i>Period & Rating Wise</a></li>
        </ul>
      </li> 
    </ul>
  </li>

    <li class="treeview" id="promotionmanagement">
    <a href="">
      <i class="ionicons ion-ios-time"></i><span> Promotion Management </span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
       <li><a href="/employee_promotions/employee_list"><i class="fa fa-tags"></i> Promotion History </a></li>
    </ul>
   </li>

    <li class="treeview" id="transfer">
    <a href="">
      <i class="ionicons ion-ios-time"></i><span> Transfer Management </span> <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
       <li><a href="/employee_transfers/new"><i class="fa fa-tags"></i> Transfer Request </a></li>
       <li><a href="/employee_transfers/transfer_request"><i class="fa fa-tags"></i> Approve/Reject Request </a></li>
    </ul>
   </li>

    <li class="treeview" id="resignationmanagement">
    <a href="#">
      <i class="glyphicon glyphicon-th-large"></i> <span>Separation Management</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" id="resign" >
       <li class="treeview" id="leaveadministration"> <a href="#"><i class="fa fa-edit"></i>Employee Resignation <i class="fa fa-angle-left pull-right"></i></a>
       <ul class="treeview-menu">
       <li><a href="/leaving_reasons/new"><i class="fa fa-tags"></i> Leaving Reason Master </a></li>
      <li><a href="/employee_resignations/new"><i class="fa fa-tags"></i> Resignation </a></li>
       <li><a href="/employee_resignations/resignation_history"><i class="fa fa-tags"></i> Approve/Reject </a></li> 
      <li><a href="/employee_resignations/emp_resignation_history"><i class="fa fa-tags"></i> History </a></li>
      <li><a href="/employee_resignations/employee_resignation_list"><i class="fa fa-tags"></i> Exit Interview </a></li>
       </ul>
      </li> 
       <li class="treeview" id= "no_due_mgmt">
        <a href="#"><i class="fa fa-edit"></i> No Dues Management  <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
         <li><a href="/due_templates/new"><i class="fa fa-tags"> </i> No Dues Template</a></li>
         <li><a href="/due_details/all_employee_list"><i class="fa fa-tags"> </i>Assign/View Template</a></li>
    <!--  <li><a href="/due_details/all_employee_resignation_list"><i class="fa fa-tags"> </i> Assign Template </a></li> -->
     <!-- <li><a href="/due_details/all_employee_due_detail"><i class="fa fa-tags"> </i>Send For Confirmation</a></li> -->
     <li><a href="/due_details/employee_due_detail_history"><i class="fa fa-tags"> </i>Assign No Dues Action</a></li>
        </ul>
      </li>  
    </ul>
  </li>
   
   <li class="treeview" id="recruitment">
    <a href="#">
      <i class="fa fa-list-alt"></i> <span>Recruitment Management</span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" >
     <li id="particular_vacancy">
      <a href="#"><i class="fa fa-edit"></i> Vacancy <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/vacancy_masters"><i class="fa fa-tags"></i> Create Vacancy </a></li>
        <li><a href="/vacancy_masters/vacancy_history"><i class="fa fa-tags"></i> Approve Vacancy </a></li>
       <!--  <li><a href="/vacancy_masters"><i class="fa fa-tags"></i> Cancel Vacancy </a></li>  -->
        <li><a href="/vacancy_masters/approve_vacancy_list"><i class="fa fa-tags"></i> Vacancy List </a></li>
        <!-- <li><a href="/vacancy_masters/approved_vacancy_request_history_list"><i class="fa fa-tags"></i> Approved Vacancy List </a></li> -->
        <li><a href="/vacancy_masters/approved_vacancy_list"><i class="fa fa-tags"></i> Approved Vacancy List </a></li>
         <li><a href="/vacancy_masters/vacancy_resume"><i class="fa fa-tags"></i> Job Profile </a></li>
        <li><a href="/vacancy_masters/vacancy_profile"><i class="fa fa-tags"></i> Vacancywise Profile </a></li>
<!--          <li><a href="/interview_schedules"><i class="fa fa-tags"></i> Interview Schedule List</a></li>
 -->        </ul>
      </li>
      <li id="general_vacancy">
        <a href="#"><i class="fa fa-edit"></i>Candidate Profile <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/selected_resumes/new1"><i class="fa fa-tags"></i> Candidate Profile </a></li>
        <li><a href="/selected_resumes/all_resume_list"><i class="fa fa-tags"></i> Resume Shortlist </a></li>
        <li><a href="/interview_schedules/new1"><i class="fa fa-tags"></i> Interview Schedule </a></li>
        <li><a href="/interview_schedules"><i class="fa fa-tags"></i> Interview Round </a></li>
        <li><a href="/interview_schedules/interviewee_list"><i class="fa fa-tags"></i> Interviewee List </a></li>
        <li><a href="/interview_schedules/all_interview_schedule_list"><i class="fa fa-tags"></i> Report </a></li>
        </ul>
      </li>   
       <li id="candidate_regist">
        <a href="/capture_resumes/new"><i class="fa fa-edit"></i>Candidate Registration <i></i></a>
      </li> 
      
    </ul>
  </li>

  

   <li class="treeview" id="trainingmgmt">
    <a href=""><i class="fa fa-briefcase"></i> <span> Training Management </span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="/training_requests/department_wise_search"><i class="fa fa-tags"></i> Request </a></li>
      <li><a href="/training_requests/new"><i class="fa fa-tags"></i> Training Request </a></li>
      <li><a href="/training_requests/training_request_list"><i class="fa fa-tags"></i> Training Approve/Reject </a></li>
      <li><a href="/training_plans/training_topic_wise_search"><i class="fa fa-tags"></i> Training Plan </a></li>
      <li><a href="/training_requests/confirmation_list"><i class="fa fa-tags"></i> Training Request List </a></li>
      <li><a href="/training_plans"><i class="fa fa-tags"></i> Training Plan List </a></li>
    </ul>
   </li>

   <li class="treeview" id="safety">
    <a href=""><i class="ionicons ion-ios-time"></i><span><span> Health Safety Management </span></span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="/accident_records"><i class="fa fa-hospital-o"></i> Accident Record </a></li>
    </ul>
   </li>

   <!-- <li class="treeview" id="import">
    <a href=""><i class="glyphicon glyphicon-save"></i><span><span> Import Excel File </span></span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="/employees/import_xl"><i class="fa fa-user"></i> Employee </a></li>
      <li><a href="/employee_bank_details/import_xl"><i class="fa fa-university"></i> Bank Detail </a></li>
      <li><a href="/joining_details/import_xl"><i class="fa fa-user"></i> On Boarding Detail</a></li>
      <li><a href="/qualifications/import_xl"><i class="fa fa-graduation-cap"></i> Qualifiation Detail</a></li>
      <li><a href="/experiences/import_xl"><i class="fa fa-star-o"></i> Experience Detail</a></li>
      <li><a href="/skillsets/import_xl"><i class="fa fa-asterisk"></i> Skillset Detail</a></li>
      <li><a href="/certifications/import_xl"><i class="fa fa-certificate"></i> Certification Detail</a></li>
      <li><a href="/awards/import_xl"><i class="fa fa-trophy"></i> Awards Detail</a></li>
      <li><a href="/employee_physicals/import_xl"><i class="fa fa-tags"></i> Physical Detail</a></li>
      <li><a href="/families/import_xl"><i class="fa fa-child"></i> Family </a></li>
      <li><a href="/employee_nominations/import_xl"><i class="fa fa-users"></i> Nomination Detail </a></li>
      <li><a href="/assigned_assets/import_xl"><i class="fa fa-th-list"></i> Assigned Assets Detail </a></li>

    </ul>
   </li>
 -->
   <!--  <li class="treeview" id="safety">
    <a href=""><i class="ionicons ion-ios-time"></i><span><span> Table Reports </span></span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="/employee_designations/employee_designation_list"><i class="fa fa-tags"></i> Employee Designation </a></li>
    </ul>
   </li> -->
</ul>

<script typgre="text/javascript">
  <% unless session[:active_tab].nil? %>
  document.getElementById("<%= session[:active_tab] %>").classList.add("active");
  <%end%>
  <% unless session[:active_tab1].nil? %>
  document.getElementById("<%= session[:active_tab1] %>").classList.add("active");
  <%end%>
  <% unless session[:active_tab2].nil? %>
  document.getElementById("<%= session[:active_tab2] %>").classList.add("active");
  <%end%>
</script>
