<!-- Optionally, you can add icons to the links -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<ul class="sidebar-menu">
  <li class="header">
   <a href="/home"> <Center> <% if current_user.class == Member %><%= current_user.company_location.try(:name) %>
    <%else%><%= current_user.subdomain %> - <%= current_user.class %> <%end%>DASHBOARD</Center></a>
  </li>

  <li class="treeview" id="EmployeeSelfService">
    <a href="">
      <i class="fa fa-user-plus"></i> <span> Employee Self Service </span><i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
      <li><a href="/self_services/employee"><i class="fa fa-tags"></i> Personal Details </a></li>
      <li><a href="/employee_leav_requests"><i class="fa fa-tags"></i> Leave Request </a></li>
      <li><a href="/on_duty_requests"><i class="fa fa-tags"></i> On Duty Request </a></li>
      <li><a href="/self_services/employee_template"><i class="fa fa-tags"> </i> Salary Structure </a></li>
      <!-- <li><a href="/employee_attendances/new"><i class="fa fa-tags"></i> Add Attendance </a></li> -->
      <!-- <li><a href="/employee_attendances/loginwise_attendance_form"><i class="fa fa-tags"></i>Attendance </a></li>  -->
      <li><a href="/self_services/employee_attendance"><i class="fa fa-tags"></i> Attendance </a></li> 
      <li><a href="/self_services/salaryslip"><i class="fa fa-tags"></i> Salary Slip </a></li>
     <!--  <li><a href="/self_services/advance"><i class="fa fa-tags"></i> Advance & Installment </a></li> -->
      <li><a href="/self_services/employee_resignation"><i class="fa fa-tags"></i> Resignation </a></li>
      <li><a href="/self_services/resignation_history"><i class="fa fa-tags"></i> Resignation History </a></li>
      <li><a href="/training_plans/trainee_list"><i class="fa fa-tags"></i> Training Feedback </a></li>
      
       <li><a href="/self_services/travel_request"><i class="fa fa-tags"></i> Travel Request </a></li>

       <li><a href="/travel_requests/daily_bill"><i class="fa fa-tags"></i> Expense Claim </a></li>
      <li><a href="/goal_bunches/new"><i class="fa fa-tags"></i> Goal Setting </a></li>
      <li><a href="/goal_bunches/period_list_appraisee"><i class="fa fa-tags"></i> Self Evaluation </a></li>
      <li><a href="/self_services/investment_declaration"><i class="fa fa-tags"> </i> Investment Declaration</a></li>
      <li><a href="/self_services/leave_c_off"><i class="fa fa-tags"> </i> Add Compensatory Off</a></li>
      <li><a href="/self_services/add_attendance"><i class="fa fa-tags"> </i> Add Attendance</a></li>

    <li><a href="/self_services/employee_transfer"><i class="fa fa-tags"></i> Employee Transfer </a></li>
    <!-- <li><a href="/employee_daily_activities/new"><i class="fa fa-tags"></i> Daily Activity </a></li> -->
    <li><a href="/self_services/holiday_setup"><i class="fa fa-tags"></i> Holiday Calender</a></li>

    <li><a href="/employee_attendances/access_record"><i class="fa fa-tags"></i> ACF Request </a></li>
    <li><a href="/frequest_questions/list_of_faq" title="To view the list of frequently asked questions"><i class="fa fa-tags"></i> FAQs </a></li>
    <li><a href="/contact_details"><i class="fa fa-tags"></i> Contact Detail </a></li>
    </ul>
  </li>

  <li class="treeview" id="ManagerSelfService">
    <a href="">
      <i class="fa fa-user-plus"></i> <span> Manager Self Service </span><i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
       <li><a href="/manager_self_services/approved_or_rejected_leave_request"><i class="fa fa-thumbs-up"></i> Leave Approval </a></li>
      <li><a href="/manager_self_services/request_approval_list"><i class="fa fa-thumbs-up"></i> On Duty Approval </a></li>
      <li><a href="/manager_self_services/subordinate_list"><i class="fa fa-thumbs-up"></i> Goal Approval </a></li>
      <li><a href="/manager_self_services/appraiser_subordinate"><i class="fa fa-tags"></i> Appraiser Evaluation </a></li>
      <li><a href="/manager_self_services/reviewer_subordinate"><i class="fa fa-tags"></i> Reviewer Evaluation </a></li>
      <li><a href="/manager_self_services/training_request_list"><i class="fa fa-thumbs-up"></i> Training Approval </a></li>
      <li><a href="/manager_self_services/resignation_history"><i class="fa fa-thumbs-up"></i> Resignation Approval </a></li>
      <li><a href="/training_requests/new"><i class="fa fa-tags"></i> Training Request </a></li>
      <!-- <li><a href="/employee_attendances/manager_attendance_form"><i class="fa fa-tags"></i>Attendance </a></li> -->
      <li><a href="/manager_self_services/employee_attendance"><i class="fa fa-tags"></i> Attendance </a></li>
      <li><a href="/manager_self_services/leave_c_off"><i class="fa fa-thumbs-up"> </i> Compensatory Off Approval </a></li>
       <li><a href="/travel_requests/travel_history"><i class="fa fa-thumbs-up"></i> Travel Approval </a></li>
       <li><a href="/employee_transfers/transfer_request"><i class="fa fa-thumbs-up"></i> Transfer Approval </a></li>
      <li><a href="/employee_attendances/access_card_approval"><i class="fa fa-tags"></i> ACF Approval </a></li>
      <li><a href="/employee_plans/arrange_meeting"><i class="fa fa-tags"></i> Arrange Meeting </a></li
    </ul>
  </li>


    

    
   <li class="treeview" id="recruitment">
    <a href="#">
      <i class="fa fa-list-alt"></i> <span> Recruitment Management </span>
      <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu" >
     <li id="particular_vacancy">
      <a href="#"><i class="fa fa-edit"></i> Vacancy <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/vacancy_masters/new"><i class="fa fa-tags"></i> Create Vacancy </a></li>
        <li><a href="/vacancy_masters/vacancy_history"><i class="fa fa-thumbs-upfa fa-thumbs-up"></i> Approval </a></li>
         <li><a href="/vacancy_masters/final_approval_vacancy_list"><i class="fa fa-thumbs-upfa fa-thumbs-up"></i> Final Approval </a></li> 
       <!--  <li><a href="/vacancy_masters"><i class="fa fa-tags"></i> Cancel Vacancy </a></li>  -->
        <!-- <li><a href="/vacancy_masters/approve_vacancy_list"><i class="fa fa-tags"></i> Vacancy List </a></li> -->
        <li><a href="/vacancy_masters"><i class="fa fa-tags"></i> Vacancy Status </a></li>
        <!-- <li><a href="/vacancy_masters/approved_vacancy_request_history_list"><i class="fa fa-tags"></i> Approved Vacancy List </a></li> -->
        <!-- <li><a href="/vacancy_masters/approved_vacancy_list"><i class="fa fa-tags"></i> Approved Vacancy List </a></li> -->
<!--         <li><a href="/vacancy_masters/vac_history"><i class="fa fa-tags"></i> Vacancy History </a></li>
 -->         
<!--          <li><a href="/interview_schedules"><i class="fa fa-tags"></i> Interview Schedule List</a></li>
 -->        </ul>
      </li>
      <li id="interview_sched">
        <a href="#"><i class="fa fa-edit"></i> Interview Process <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/vacancy_masters/vacancy_resume"><i class="fa fa-tags"></i> Job Profile </a></li>
        <li><a href="/vacancy_masters/vacancy_hr_resume"><i class="fa fa-tags"></i> Shortlist Resume </a></li>
        <li><a href="/vacancy_masters/vacancy_shortlisted_list"><i class="fa fa-tags"></i> Schedule  Interview </a></li>
        <li><a href="/vacancy_masters/vacancy_profile"><i class="fa fa-tags"></i> Vacancy wise </a></li>
        <li><a href="/interview_schedules"><i class="fa fa-tags"></i> Interview Round </a></li>
        <!-- <li><a href="/interview_schedules/interviewee_list"><i class="fa fa-tags"></i> Interviewee List </a></li> -->
        <li><a href="/interview_schedules/interview_round_list"><i class="fa fa-tags"></i> Interview List </a></li>
        <li><a href="/vacancy_masters/confirm_interview_schedule_list"><i class="fa fa-tags"></i> Confirm Candidate </a></li>
        <li><a href="/vacancy_masters/approved_vacancy_request_history_list"><i class="fa fa-tags"></i> Position Status </a></li>
        <li><a href="/interview_schedules/all_interview_schedule_list"><i class="fa fa-tags"></i> Report </a></li>
        </ul>
      </li>   
      <li id="general_vacancy">
        <a href="#"><i class="fa fa-edit"></i> Candidate Profile <i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
        <li><a href="/selected_resumes/new1"><i class="fa fa-tags"></i> Candidate Profile </a></li>
        <li><a href="/selected_resumes/all_resume_list"><i class="fa fa-tags"></i> Resume Shortlist </a></li>
<!--         <li><a href="/interview_schedules/new1"><i class="fa fa-tags"></i> Interview Schedule </a></li>
 -->        </ul>
      </li>   
       <li id="candidate_regist">
        <a href="/capture_resumes/new"><i class="fa fa-edit"></i> Candidate Registration <i></i></a>
      </li> 
    </ul>
  </li>
  
<script typgre="text/javascript">
  <% unless session[:active_tab].nil? %>
  document.getElementById("<%= session[:active_tab] %>").classList.add("active");
  <%end%>
  <% unless session[:active_tab1].nil? %>
  document.getElementById("<%= session[:active_tab1] %>").classList.add("active");
  <%end%>
  <% unless session[:active_tab2].nil? %>
  document.getElementById("<%= session[:active_tab2] %>").classList.add("active");
  <%end%>
</script>
