<%= form_for(@employee_gps_history) do |f| %>
  <% if @employee_gps_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_gps_history.errors.count, "error") %> prohibited this employee_gps_history from being saved:</h2>

      <ul>
      <% @employee_gps_history.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member_id %><br>
    <%= f.text_field :member_id %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :from_date %><br>
    <%= f.date_select :from_date %>
  </div>
  <div class="field">
    <%= f.label :to_date %><br>
    <%= f.date_select :to_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
