<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @employee_gps_history.member %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @employee_gps_history.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @employee_gps_history.longitude %>
</p>

<p>
  <strong>Location:</strong>
  <%= @employee_gps_history.location %>
</p>

<p>
  <strong>From date:</strong>
  <%= @employee_gps_history.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @employee_gps_history.to_date %>
</p>

<%= link_to 'Edit', edit_employee_gps_history_path(@employee_gps_history) %> |
<%= link_to 'Back', employee_gps_histories_path %>
