<div class="modal-dialog" style="height:1000px; max-height:1000px; width:1000px; max-width:1400px;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h5 class="modal-title"><center> Update Goal & Attribute </center></h5>
    </div>
    <div class="modal-body">

      <%= bootstrap_form_for :week_off_master,url:{action:"update_week_off",week_off_master_id: @week_off_master.id},html: {id: 'week_off_master'} do |f| %>
        <div class="row">
          <div class="col-sm-3">
        		<div class="form-group required">
           	  <%= f.select :day, ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'],{label: "Day",include_blank: " Select Day"} %>
        		</div>
      	   </div>
      	   <div class="col-sm-3">
          		<div class="form-group required">
            		<div class="input-group">
              			<div class="input-group-addon">
                		<i class="fa fa-calendar"></i>
              			</div>
                		<%= f.date_field :from, label: "From", class: 'week_off_date form-control'%>
            		</div>
          		</div>
        	 </div>
         	<div class="col-sm-3">
          	<div class="form-group required">
            	<div class="input-group">
              	<div class="input-group-addon">
                	<i class="fa fa-calendar"></i>
              	</div>
                	<%= f.date_field :to, label: "To", class: 'week_off_date form-control'%>
            	</div>
          	</div>
        	</div>
    	    <div class="col-sm-1">
    	      <label>Status</label>
    	      <div class="form-group required">
    	        <%= f.check_box :is_active,label:'Active' %>
    	      </div>
    	    </div>
    	  </div>
    	  <div class="row">
    	    <div class="col-sm-3">
    	      <div class="actions">
    	        <%= f.submit "Update Week Off" ,class: "btn btn-primary btn-sm" %>
    	      </div>
    	    </div>
    	  </div>
  	   <% end %>
     
      </div>
    <div class="modal-footer"></div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->


<script type="text/javascript">
  $(function(){
     $('.week_off_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+5',
    dateFormat: 'dd-mm-yy' });
    });
</script>