<%= bootstrap_form_for(:week_off_master, url: { action: 'employee_list'},html: {id: 'week_off_master'},remote: true) do |f| %>
 <div class="row">
    <div class="col-sm-2">
      <label>Day</label>
      <div class="form-group required">
         <%= select :week_off_master,:day, ['Mon','Tue','Wed','Thu','Fri','Sat','Sun'],{label: "Day",include_blank: " Select Day"},{class: 'form-control'} %>
      </div>
    </div>
    <div class="col-sm-3">
      <label>From</label>
      <div class="form-group required">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
            <%= text_field :week_off_master,:from, label: "From", class: 'week_off_date'%>
        </div>
      </div>
    </div>
     <div class="col-sm-3">
      <label>To</label>
      <div class="form-group required">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
            <%= text_field :week_off_master,:to, label: "To", class: 'week_off_date'%>
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <label>Status</label>
      <div class="form-group required">
        <%= check_box :week_off_master,:is_active,label:'Active' %>
      </div>
    </div>
    <div class="col-sm-1">
      <label>Prefix</label>
      <div class="form-group required">
        <%= check_box :week_off_master,:is_prefix,label:'Prefix' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Week Off" ,class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
<% end %>

   <div class="ajax-progress"></div>
     <div class="row">
       <div class="col-sm-12">
         <div id="employee_list"></div>    
       </div>
     </div>
<br>

<script type="text/javascript">

  $(function(){
     $('.week_off_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+5',
    dateFormat: 'dd-mm-yy' });
    });


$("#week_off_master").validate({
    rules: {
      "week_off_master[employee_id]":{
        required: true,
      },
      "week_off_master[day]":{
        required: true,
      },
      "week_off_master[from]":{
        required: true,
      },
      "week_off_master[to]":{
        required: true,
      }
    },
    messages: {
      "week_off_master[employee_id]":{
        required: "Please Specify Employee",
      },
      "week_off_master[day]":{
        required: "Please Specify Day",
      },
      "week_off_master[from]":{
        required: "Please Specify From Date",
      },
      "week_off_master[to]":{
        required: "Please Specify To Date",
      }
      
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>

