<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Day</th>
      <th>From</th>
      <th>To</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @week_off_masters.each do |week_off_master| %>
      <tr>
        <td><%= week_off_master.employee.try(:first_name) %> <%= week_off_master.employee.try(:middle_name) %> <%= week_off_master.employee.try(:last_name) %></td>
        <td><%= week_off_master.day %></td>
        <td><%= week_off_master.from %></td>
        <td><%= week_off_master.to %></td>
        <td><%= week_off_master.is_active ? 'Active' : 'Inactive' %></td>
        <td>
          <% if week_off_master.is_send == true %>
            <small class="label label-primary">Already Assign</small>
          <% else %>
          	<%= link_to '', edit_week_off_master_path(week_off_master),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '',  week_off_master, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>
            <%= link_to 'Set Week Off', assign_week_off_week_off_masters_path(week_off_master),class: 'btn btn-info btn-xs fa fa-check' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
