<%= bootstrap_form_for(@professional_tax,remote:true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="field">
       <%= f.select :is_pt,['Yes','No'],{label: 'PT Option',include_blank: " Select PT"} %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :min_salary, label:'From Salary' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :max_salary, label:'To Salary' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="field">
       <%= f.text_field :pt_amount, label:'PT Amount' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :for_months, label:'For 11 Months ' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :march_month, label:'For March Month' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Professional Tax",:class => class_name %>
      </div>
    </div>
  </div>
<% end %>