<p id="notice"><%= notice %></p>

<h1>Listing Professional Taxes</h1>

<table>
  <thead>
    <tr>
      <th>Is pt</th>
      <th>Min salary</th>
      <th>Max salary</th>
      <th>Pt amount</th>
      <th>For months</th>
      <th>March month</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professional_taxes.each do |professional_tax| %>
      <tr>
        <td><%= professional_tax.is_pt %></td>
        <td><%= professional_tax.min_salary %></td>
        <td><%= professional_tax.max_salary %></td>
        <td><%= professional_tax.pt_amount %></td>
        <td><%= professional_tax.for_months %></td>
        <td><%= professional_tax.march_month %></td>
        <td><%= link_to 'Show', professional_tax %></td>
        <td><%= link_to 'Edit', edit_professional_tax_path(professional_tax) %></td>
        <td><%= link_to 'Destroy', professional_tax, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professional tax', new_professional_tax_path %>
