<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Professional Taxes Details</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
  <table id="example2" class="table table-bordered table-hover table-condensed">
  <tr>
  <th><strong>Is pt:</strong></th>
  <td><%= @professional_tax.is_pt %></td>
  </tr>

  <tr>
  <th><strong>Min salary:</strong></th>
  <td><%= @professional_tax.min_salary %></td>
  </tr>

  <tr>
  <th><strong>Max salary:</strong></th>
  <td><%= @professional_tax.max_salary %></td>
  </tr>

  <tr>
  <th><strong>Pt amount:</strong></th>
  <td><%= @professional_tax.pt_amount %></td>
  </tr>

  <tr>
  <th><strong>For months:</strong></th>
  <td><%= @professional_tax.for_months %></td>
  </tr>
  
  <tr>
  <th><strong>March month:</strong></th>
  <td><%= @professional_tax.march_month %></td>
  </tr>
  </table>

<%= link_to 'Edit', edit_professional_tax_path(@professional_tax) %> |
<%= link_to 'Back', professional_taxes_path %>
</div>
</div>