<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee List Salary</h3>
      <!-- link_to "Download Excel Report", payroll_excel_exports_path(format: "xls"),class: "btn btn-warning btn-sm" -->
  </div><!-- /.box-header -->
<!-- <div style="float:right;">
  <%= link_to 'Print Salary Slip',print_salary_slip_monthwise_pdf_salaries_path(format: 'pdf',month: "January",year: "2016"), class: 'btn btn-xl btn-warning fa fa-print', :target => '_blank' %><br>
</div>< --><br>
  
  <div class="box-body">
    <table id="example1" class="table table-bordered table-hover">
    <thead>
      <tr>
      <th>Employee Id</th>
      <th>Employee Name</th>
      <th>Contact No</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.manual_employee_code %></td>
        <td><%= full_name(employee)%></td>
        <td><%= employee.contact_no %></td>
        <td><%= employee.email %></td>
        <td>
        <%= link_to '', salary_slip_list_salaryslips_path(employee), class: 'btn btn-default fa fa-eye' %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
