 <%= bootstrap_form_for :salaryslips,url:{action:'destroy_salary_slip', month: @month , year: @year} do |f| %> 
<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th><input type="checkbox" id="selectAll" value="selectAll"></th>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Actual Gross Salary</th>
      <th>Actual Total Deduction</th>
      <th>Month</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <% @salaryslips.each do |s| %>
      <tr>
        <td><%= check_box_tag "salaryslip_ids[]", s.id %></td>
        <td><%= s.employee.try(:manual_employee_code) %></td>
        <td><%= full_name(s.employee) %></td>
        <td><%= s.actual_gross_salary %></td>
        <td><%= s.actual_total_deduction %></td>
        <td><%= s.month %></td>
        <td><%= s.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= f.submit "Revert Salary Slip" , class: 'btn btn-primary btn-sm' %>
<% end %>

<script type="text/javascript">
$('#selectAll').click(function() {
  if (this.checked) {
    $(':checkbox').each(function() {
      this.checked = true;                       
    });
  } 
  else {
    $(':checkbox').each(function() {
      this.checked = false;                        
    });
  } 
});
</script>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>
