<%= form_for :salary_data, url: { action: 'Confirm_salaryslip',month: @month,
  year: @year} do |f| %>
<table id="example1" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th><input type="checkbox" id="selectAll" value="selectAll"></th>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Department</th>
    </tr>
  </thead>
  <tbody>
    <% @salaryslips.each do |salaryslip| %>
      <tr>
        <td><%= check_box_tag "salaryslip_ids[]", salaryslip.id %></td>
        <td><%= salaryslip.employee.manual_employee_code %></td>
        <td><%= salaryslip.employee.first_name %> <%= salaryslip.employee.middle_name %> <%= salaryslip.employee.last_name %></td>
        <td><%= salaryslip.employee.company_location.try(:name) %>-<%= salaryslip.employee.department.try(:name) %></td>
    <% end %>
  </tbody>
</table>
<%= f.submit "Confirm Salaryslip", class: 'btn btn-sm btn-primary' %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
    $('#example1').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>

<script type="text/javascript">
$('#selectAll').click(function() {
  if (this.checked) {
    $(':checkbox').each(function() {
      this.checked = true;                       
    });
  } 
  else {
    $(':checkbox').each(function() {
      this.checked = false;                        
    });
  } 
});

$("#example1").DataTable();
</script>