<div class="box-header">
  <div class="pull-right">
  </div>
</div><!-- /.box-header -->
<div class="box-body">
  <div id="comments">
    <table id="example" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th colspan="10"><center><h3> FORM NO : 16</h3></center></th>
        </tr>
        <tr>
          <th colspan="10"><center>[See rule 31(1)(a)]</center></th>
        </tr>
          <tr>
          <th colspan="10"><center><h3> PART A</h3></center></th>
        </tr>
        <tr>
          <td colspan="10">
            <center><strong>Certificate under Section 203 of the Income-tax Act, 1961 for tax deducted at source on salary</strong></center>
          </td>
        </tr>
      <!--   <tr>
          <td colspan="5">
            <strong>Certificate No.</strong> DHWZUVO
          </td>
          <td colspan="5">
            <strong>Last updated on.</strong> DHWZUVO
          </td>
        </tr> -->
        <tr>
          <td colspan="5">
            <center><strong>Name and address of the Employer</strong></center>
          </td>
          <td colspan="5">
            <center><strong>Name and address of the Employee</strong></center>
          </td>
        </tr>
        <tr>
          <td colspan="5">
            <center><%= @employee.try(:company).try(:description)%> <br/><%= @employee.try(:company).try(:address)%> <br/> <%= @employee.try(:company).try(:city)%> <%= @employee.try(:district).try(:company).try(:name)%> <%= @employee.try(:company).try(:state).try(:name)%> <%= @employee.try(:company).try(:country).try(:name)%> <%= @employee.try(:company).try(:pin_code) %><br/>
            </center>
          <td colspan="5">
            <center><%= full_name(@employee) %> <br /> <%= @employee.permanent_address %> <br/> <%= @employee.try(:city)%> <%= @employee.try(:district).try(:name)%> <%= @employee.try(:state).try(:name)%> <%= @employee.try(:country).try(:name)%> <%= @employee.try(:pin_code) %></center>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <center><strong>PAN of the Deductor</strong></center>
          </td>
          <td colspan="3">
            <center><strong>TAN of the Deductor</strong></center>
          </td>
          <td colspan="2">
            <center><strong>PAN of the Employee</strong></center>
          </td>
          <td colspan="2">
            <center><strong>Employee Reference No.</strong></center>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <center><%= @employee.try(:company).try(:pan_card_no) %></center>
          </td>
          <td colspan="3">
            <center><%= @employee.try(:company).try(:tax_no)%></center>
          </td>
          <td colspan="2">
            <center><%= @employee.try(:pan_no)%></center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <center><strong>CIT (TDS)</strong></center>
          </td>
          <td colspan="3">
            <center><strong>Assessment Year</strong></center>
          </td>
          <td colspan="3">
            <center><strong>Period with the Employer</strong></center>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <center>  </center>
          </td>
          <td colspan="3">
            <center>2016-17 </center>
          </td>
          <td colspan="2">
            <center> From <br />
              <%= params[:from_16A][:from_date] %>
            </center>
          </td>
          <td colspan="2">
            <center> To <br />
              <%= params[:from_16A][:to_date] %>
            </center>
          </td>
        </tr>
        <tr>
          <td colspan="10">
            <center><strong>Summary of amount paid/credited and tax deducted at source thereon in respect of the employee</strong></center>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <center><strong>Quarter(s)</strong></center>
          </td>
          <td colspan="2">
            <center><strong>Receipt Numbers of original quarterly statements of TDS under sub-section (3) of Section 200</strong></center>
          </td>
          <td colspan="2">
            <center><strong>Amount paid/credited</strong></center>
          </td>
          <td colspan="2">
            <center><strong>Amount of tax deducted (Rs.)</strong></center>
          </td>
          <td colspan="2">
            <center><strong>Amount of tax deposited / remitted (Rs.)</strong></center>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <center>Total (Rs.)</center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
        </tr>
        <tr>
          <td colspan="10">
            <center><strong>I. DETAILS OF TAX DEDUCTED AND DEPOSITED IN THE CENTRAL GOVERNMENT ACCOUNT THROUGH BOOK ADJUSTMENT</strong></center>
            <center>(The deductor to provide payment wise details of tax deducted and deposited with respect to the deductee)</center>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <center><strong>Sl. No.</strong></center>
          </td>
          <td colspan="1">
            <center><strong>Tax Deposited in respect of the deductee (Rs.)</strong></center>
          </td>
          <td colspan="8">
            <center><strong>Book Identification Number (BIN)</strong></center>
          </td>
        </tr>
        <tr>
          <td colspan="0.5">
          </td>
          <td colspan="0.5">
          </td>
          <td colspan="2">
            <center><strong>Receipt Numbers of Form No. 24G</strong></center>
          </td>
          <td colspan="2">
            <center><strong>DDO serial number in Form no. 24G</strong></center>
          </td>
          <td colspan="2">
            <center><strong>Date of transfer voucher (dd/mm/yyyy)</strong></center>
          </td>
          <td colspan="2">
            <center><strong>Status of matching with Form no. 24G</strong></center>
          </td>
        </tr>
        <tr>
          <td colspan="0.5">
            <center>Total (Rs.)</center>
          </td>
          <td colspan="0.5">
          </td>
          <td colspan="8">
            <center><strong> </strong></center>
          </td>
        </tr>
        <tr>
          <td colspan="10">
            <center><strong>II. DETAILS OF TAX DEDUCTED AND DEPOSITED IN THE CENTRAL GOVERNMENT ACCOUNT THROUGH CHALLAN</strong></center>
            <center>(The deductor to provide payment wise details of tax deducted and deposited with respect to the deductee)</center>
          </td>
        </tr>
        <tr>
          <td colspan="1">
            <center><strong>Sl. No.</strong></center>
          </td>
          <td colspan="1">
            <center><strong>Tax Deposited in respect of the deductee (Rs.)</strong></center>
          </td>
          <td colspan="8">
            <center><strong>Challan Identification Number (CIN)</strong></center>
          </td>
        </tr>
        <tr>
          <td colspan="0.5">
          </td>
          <td colspan="0.5">
          </td>
          <td colspan="2">
            <center><strong>BSR Code of the Bank Branch</strong></center>
          </td>
          <td colspan="2">
            <center><strong>Date on which Tax deposited (dd/mm/yyyy)</strong></center>
          </td>
          <td colspan="2">
            <center><strong>Challan Serial Number</strong></center>
          </td>
          <td colspan="2">
            <center><strong>Status of matching with OLTAS*</strong></center>
          </td>
        </tr>
        <tr>
          <td colspan="0.5"> </td>
          <td colspan="0.5"> </td>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
        </tr>
        <tr>
          <td colspan="0.5"> </td>
          <td colspan="0.5"> </td>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
        </tr>
        <tr>
          <td colspan="0.5"> </td>
          <td colspan="0.5"> </td>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
          <td colspan="2">
            <center> </center>
          </td>
        </tr>
        <tr>
          <td colspan="0.5">
            <center><strong> Total (Rs.)</strong></center>
          </td>
          <td colspan="0.5">
            <strong> </strong>
          </td>
          <td colspan="2">
          </td>
          <td colspan="2">
          </td>
          <td colspan="2">
          </td>
          <td colspan="2">
          </td>
        </tr>
      </td>
      </tr>
      </thead>
      </table>

      <br /><br /> 
      <p style="text-align: center; font-style: bold;">Certificate Number: DHWZUVO &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   TAN of Employer: <%= current_user.employee.company_location.company.tax_no %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  PAN of Employee: <%= @employee.try(:pan_no)%> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Assessment Year: 2018-19</p>
      <br /><br /> 
        

      <table id="example" class="table table-bordered table-hover table-condensed">
        <tr>
          <th colspan="12" style="text-align: center;">Verification</th>
        </tr>
        <tr>
          <td colspan="12" style="text-align: justify; text-indent: 20px;">I, <b><%= full_name(@employee) %>,</b> son / daughter of <b><%= @employee.try(:middle_name)%> <%= @employee.try(:last_name) %></b> working in the capacity of <b>DIRECTOR</b>
          (designation) do hereby certify that a sum of <b>Rs. 0.0 [Rs. Zero (in words)]</b> has been deducted and a sum of <b>Rs. 6900.00 [Rs. Six
          Thousand Nine Hundred Only]</b> has been deposited to the credit of the Central Government. I further certify that the information given above is true, complete and
          correct and is based on the books of account, documents, TDS statements, TDS deposited and other available records.</td>
        </tr>
        <tr>
          <th colspan="2">Place</th><th colspan="2"><%= current_user.employee.try(:company_location).try(:name) %></th><th colspan="8"></th>
        </tr>
        <tr>  
          <th colspan="2">Date</th> <th colspan="2"><%= Time.now.to_date %></th><th colspan="8">(Signature of person responsible for deduction of Tax)</th>
        </tr>
        <tr>
          <th colspan="4">Designation: DIRECTOR</th><th colspan="8">Full Name: <%= full_name(@employee) %></th>
        </tr>
      </tbody>
    </table>
    <p><b>Notes:</b></p>
    <ol style="list-style-type: decimal;">
      <li> Part B (Annexure) of the certificate in Form No.16 shall be issued by the employer.</li>
      <li>If an assessee is employed under one employer during the year, Part 'A' of the certificate in Form No.16 issued for the quarter ending on 31st March of the financial year shall contain the details of tax deducted and deposited for all the quarters of the financial year.</li>
      <li>If an assessee is employed under more than one employer during the year, each of the employers shall issue Part A of the certificate in Form No.16 pertaining to the period for which such assessee was employed with each of the employers. Part B (Annexure) of the certificate in Form No. 16 may be issued by each of the employers or the last employer at the option of the assessee.</li>
      <li>To update PAN details in Income Tax Department database, apply for 'PAN change request' through NSDL or UTITSL.</li>
    </ol>
    <br /><br />
    <p><b><u>Legend used in Form 16</u></b></p>
    <p><b>*<u> Status of matching with OLTAS</u></b></p>
    <table id="example" class="table table-bordered table-hover table-condensed">
      <tr>
        <th colspan="2">Legend</th>
        <th colspan="2">Description</th>
        <th colspan="8">Definition</th>
      </tr>
      <tr>
        <td colspan="2">U</td>
        <td colspan="2">Unmatched</td>
        <td colspan="8">Deductors have not deposited taxes or have furnished incorrect particulars of tax payment. Final credit will be reflected only when payment details in bank match with details of deposit in TDS / TCS statement</td>
      </tr>
      <tr>
        <td colspan="2">P</td>
        <td colspan="2">Provisional</td>
        <td colspan="8">Provisional tax credit is effected only for TDS / TCS Statements filed by Government deductors."P" status will be changed to Final (F) on verification of payment details submitted by Pay and Accounts Officer (PAO).</td>
      </tr>
      <tr>
        <td colspan="2">F</td>
        <td colspan="2">Final</td>
        <td colspan="8">In case of non-government deductors, payment details of TDS / TCS deposited in bank by deductor have matched with the payment details mentioned in the TDS / TCS statement filed by the deductors. In case of government deductors, details of TDS / TCS booked in Governmentaccount have been verified by Pay & Accounts Officer (PAO)</td>
      </tr>
      <tr>
        <td colspan="2">O</td>
        <td colspan="2">Overbooked</td>
        <td colspan="8">Payment details of TDS / TCS deposited in bank by deductor have matched with details mentioned in the TDS / TCS statement but the amount is over claimed in the statement. Final (F) credit will be reflected only when deductor reduces claimed amount in the statement or makes new payment for excess amount claimed in the statement</td>
      </tr>
    </table>
    <br /><br /> 
      <p style="text-align: center; font-style: bold;">Certificate Number: DHWZUVO &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   TAN of Employer: <%= current_user.employee.company_location.company.tax_no %>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  PAN of Employee: <%= @employee.try(:pan_no)%> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Assessment Year: 2017-18</p>
    <br /><br /> 

    <table id="example" class="table table-bordered table-hover table-condensed">
      <tr>
        <th colspan="12" style="text-align: center;"><h3>PART B (Annexure)</h3></th>
      </tr>
      <tr>
        <th colspan="12">Details of Salary paid and any other income and tax deducted</th>  
      </tr>
      <tr>
        <td colspan="6">
          <ol style="list-style-type: decimal">
            <li>Gross Salary
              <ol style="list-style-type: lower-alpha;">
                <li>Salary as per provisions contained in section 17(1)</li>
                <li>Value of perquisites under section 17(2) (as per Form No. 12BA, wherever applicable)</li>
                <li>Profits in lieu of salary under section 17(3) (as per Form No. 12BA, wherever applicable)</li>
                <li>Total</li>
              </ol>
            </li>
            <li>Less: Allowance to the extent exempt under section 10</li>
            <li>Balance (1-2)</li>
            <li>Deductions:
              <ol style="list-style-type: lower-alpha;">
                <li>Entertainment allowance</li>
                <li>Tax on employment</li>
              </ol>
            </li>
            <li> Aggregate of 4(a) and (b)</li>
            <li> Income chargeable under the head 'salaries' (3-5)</li>
            <li> Add: Any other income reported by the employee</li>
            <li> Gross total income (6 + 7)</li>
            <li> Deductions under Chapter VIA
              <ol style="list-style-type: upper-alpha;">
                <li> Sections 80C, 80CCC and 80CCD
                  <ol style="list-style-type: lower-alpha;">
                    <li>Section 80C
                      <ol style="list-style-type: decimal;">
                        <li>SCHOOL FEES                       46,860.00</li>
                        <li>LIC PREMIUM                       145,102.00</li>
                      </ol>  
                    </li>  
                    <li>Section 80CCC</li>
                    <li>Section 80CCD</li>
                  </ol>
                </li>
                <li>Other Sections under Chapter VIA                Gross Amount
                  <ol style="list-style-type: lower-alpha;">
                    <li>-                                         15,000.00</li>
                    <li>SECTION 80D                               21,750.00</li>
                  </ol>    
                </li>
              </ol>  
            </li>
            <li>Aggregate of deductible amount under Chapter VIA</li>
            <li>Total income (8 - 10)</li>
            <li>Tax on total income</li>
            <li>Education cess @ 3% (on tax at S. No. 12)</li>
            <li>Tax payable (12+13)</li>
            <li>Less : Relief under section 89 (attach details)</li>
            <li>Tax payable (14-15)</li>
          </ol>
        </td>
        <td colspan="2" style="text-align: right"> 
          <ul style="list-style-type: none;">
            <li> <br /> </li>              
            <li><%= @gross_annual_amount %></li>
            <li>Nil</li>
            <li>Nil</li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li>Nil</li>  
            <li><%= @employee_professional_tax %></li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li style="text-align: justify;">Gross Amount</li>
            <li> <br /> </li>
            <li>Nil</li>
            <li>Nil</li>
            <li>Nil</li>
          </ul>
        </td>
        <td colspan="2" style="text-align: right">
          <ul style="list-style-type: none;">
            <li> <br /> </li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li><%= @gross_annual_amount %></li>
            <li>Nil</li>
            <li><%= @gross_annual_amount %></li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li><%= @employee_professional_tax %></li>
            <li> <br /> </li>
            <li>Nil</li>
            <li> <br /> </li>
            <li> <br /> </li>
            <li>Deductible Amount</li>
          </ul>      
        </td>
        <td colspan="2" style="text-align: right">
          <ul style="list-style-type: none;">
            <li> <br /> </li> 
            <li><%= @gross_annual_amount %></li>
          </ul>
        </td>
      </tr>
    <tr>
    <th colspan="12" style="text-align: center;">Verification</th>
  </tr>
  <tr>
    <td colspan="12" style="text-align: justify; text-indent: 20px;">I, <b><%= full_name(@employee) %>,</b> son / daughter of <b><%= @employee.try(:middle_name)%> <%= @employee.try(:last_name) %></b> working in the capacity of <b>DIRECTOR</b>
      (designation) do hereby certify that the information given above is true, complete and correct and is based on the book of accounts, documents, TDS statements, and other available records.
    </td>
  </tr>
  <tr>
    <th colspan="2">Place</th><th colspan="2"><%= current_user.employee.try(:company_location).try(:name) %></th><th colspan="8"></th>
  </tr>
  <tr>  
    <th colspan="2"><%= Date %></th> <th colspan="2"><%= Time.now.to_date  %></th><th colspan="8">(Signature of person responsible for deduction of Tax)</th>
  </tr>
  <tr>  
    <th colspan="4">Designation: DIRECTOR</th><th colspan="8">Full Name: <%= full_name(@employee) %></th>
  </tr>
  </table>  
  </div>
  <%#= link_to " Excel Report ", pf_computation_report_salaryslips_path(from_date: params[:statutory_report][:from_date], to_date: params[:statutory_report][:to_date], company_id: params[:salaryslip][:company_id], company_location_id: params[:salaryslip][:company_location_id], format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
  <%= link_to "PDF Report ", form_16A_report_salaryslips_path(from_date: params[:from_16A][:from_date], to_date: params[:from_16A][:to_date], employee_id: params[:salaryslip][:employee_id], format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>