<%= form_for :pdf_salaries, url: { action: 'pdf_report',format: 'pdf',month: @month,year: @year},:html => {:target => '_blank'} do |f| %>
<table id="example5" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th><input type="checkbox" id="selectAll" value="selectAll"></th>
      <th>Year-Month</th>
      <th>ID</th>
      <th>Name</th>
      <th>Actual Gross Salary</th>
      <th>Actual Bonus</th>
      <th>Actual Pf</th>
      <th>Actual Esic</th>
      <!-- <th>Actual CTC</th> -->
      <th>Calculated Gross Salary</th>
      <th>Calculated Bonus</th>
      <th>Calculated Pf</th>
      <th>Calculated Esic</th>
      <!-- <th>Calculated CTC</th> -->
    </tr>
  </thead>
  <tbody>
    <% @salaryslips.try(:each) do |s| %>
    <% @emp_contribution.try(:each) do |ee| %>
      <tr>
        <td><%= check_box_tag "slaryslip_ids[]", s.id %></td>
        <td><%= s.year %>-<%= s.month %></td>
        <td><%= s.employee.try(:manual_employee_code) %></td>
        <td><%= full_name(s.employee) %></td>
        <td><%= s.actual_gross_salary.round %></td>
        <td><%= ee.try(:actual_bonus)%></td>
        <td><%= ee.try(:actual_pf) %></td>
        <td><%= ee.try(:actual_esic) %></td>
        <!-- <td><= b=(ee.try(:actual_bonus)+ee.try(:actual_pf)+ee.try(:actual_esic)).to_f %></td> -->
        <td><%= ee.try(:bonus) %></td>
        <td><%= ee.try(:pf) %></td>
        <td><%= ee.try(:esic) %></td>
        <!-- <td><= a=(ee.try(:actual_bonus)+ee.try(:actual_pf)+ee.try(:actual_esic)).to_f %></td> -->
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<%= f.submit "Print Pdf", class: "btn btn-xl btn-info fa fa-print" %>
<%= link_to " Excel Report ",salaryslip_xls_salaryslips_path(month: @month, year: @year, format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
    $('#example5').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true
    } );
} );
</script>

<script type="text/javascript">
$('#selectAll').click(function() {
  if (this.checked) {
    $(':checkbox').each(function() {
      this.checked = true;                       
    });
  } 
  else {
    $(':checkbox').each(function() {
      this.checked = false;                        
    });
  } 
});
</script>