<!-- <= form_for :salary_data, url: { action: 'save_all_data',month: @month,
  year: @year} do |f| %> -->
<table id="example5" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th><input type="checkbox" id="selectAll" value="selectAll"></th>
      <th>Employee ID</th>
      <th>Actual Gross Salary</th>
      <th>Actual Total Deduction</th>
      <th>Actual Net Salary</th>
      <th>Salary Template</th>
      <th>Month</th>
      <th>Year</th>
      <th>Calculated Gross Salary</th>
      <th>Calculated Total Deduction</th>
      <th>Calculated Net Salary</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <% @salaryslips.each do |s| %>
    <% @bonus_employees.each do |be| %>
    <% @employeer_pfs.each do |ep| %>
    <% @employeer_esic.each do |ee| %>
      <tr>
        <td><%= check_box_tag "slaryslip_ids[]", s.id %></td>
        <td><%= s.employee_id %></td>
        <td><%= s.actual_gross_salary.round %></td>
        <td><%= s.actual_total_deduction.round %></td>
        <td><%= s.actual_net_salary.round %></td>
        <td><%= s.salary_template.try(:name) %></td>
        <td><%= s.month %></td>
        <td><%= s.year %></td>
        <td><%= s.calculated_gross_salary.round %></td>
        <td><%= s.calculated_total_deduction.round %></td>
        <td><%= s.calculated_net_salary.round %></td>
        <td><%= s.month_year %></td>
        <td><%= be.amount %></td>
        <td><%= ep.amount %></td>
        <td><%= ee.amount %></td>
      </tr>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>
<!-- <= f.submit "Create Salary", class: 'btn btn-sm btn-primary' %> -->
<!-- < end %> -->

<script type="text/javascript">
$(document).ready(function() {
    $('#example5').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true
    } );
} );
</script>

<script type="text/javascript">
$('#selectAll').click(function() {
  if (this.checked) {
    $(':checkbox').each(function() {
      this.checked = true;                       
    });
  } 
  else {
    $(':checkbox').each(function() {
      this.checked = false;                        
    });
  } 
});
</script>