<div class="row">
  <div class="col-sm-6">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Salary Component</th>
          <th>Actual Amount</th>
          <th>Calculated Amount</th>
          <!-- <th>Action</th> -->
        </tr>
      </thead>
      <tbody>
        <% @addable_salary_components.each do |item| %>
          <tr>
            <td><%= item.salary_component.name %></td>
            <td align="right"><%= item.actual_amount.round %></td>
            <td align="right"><%= item.calculated_amount.round %></td>
            <!-- <td align="center">< link_to "", edit_salaryslip_component_path(item),remote:true,class: "fa fa-edit" %></td> -->
          </tr>
        <% end %>
        <tr>
          <td><strong>Total Gross</strong></td>
          <td align="right"><strong><%= @salaryslip.actual_gross_salary.round %></strong></td>
          <td align="right"><strong><%= @salaryslip.calculated_gross_salary.round %></strong></td>
         <!--  <td></td> -->
        </tr>
         <tr>
          <td><strong>Deduction Component</strong></td>
          <td align="right"><strong></strong></td>
          <td align="right"><strong>Amount</strong></td>
         <!--  <td></td> -->
        </tr>
        <% @deducted_salary_components.each do |item| %>
          <tr>
            <% unless item.salary_component_id.nil? %>
              <td><%= item.salary_component.name %></td>
              <td align="right"><%= item.actual_amount.round %></td>
              <td align="right"><%= item.calculated_amount.round %></td>
             <!--  <td align="center"> link_to "", edit_salaryslip_component_path(item),remote:true,class: "fa fa-edit" %></td> -->
            <%else%>
              <td><%= item.other_component_name %></td>
              <td align="right"><%= item.actual_amount.round %></td>
              <td align="right"><%= item.calculated_amount.round %></td>
             <!--  <td align="center">link_to "", edit_salaryslip_component_path(item),remote:true,class: "fa fa-edit" %></td> -->
            <%end%>
          </tr>
        <% end %>
        <tr>
          <td><strong>Total Deduction</strong></td>
          <td align="right"><strong><%= @salaryslip.actual_total_deduction.round %></strong></td>
          <td align="right"><strong><%= @salaryslip.calculated_total_deduction.round %></strong></td>
          <!-- <td></td> -->
        </tr>
        <tr>
          <td><strong>Net Salary</strong></td>
          <td align="right"><strong><%= @salaryslip.actual_net_salary.round %></strong></td>
          <td align="right"><strong><%= @salaryslip.calculated_net_salary.round %></strong></td>
          <!-- <td></td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div><%= link_to 'Back', salaryslips_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %></div>