<style>
    th {
        text-align: left;
    }
    tr {
        page-break-inside: avoid;
    }
    div.alwaysbreak { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak{ page-break-inside: avoid;
      /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
    }
</style>
<table style="border-collapse: collapse; font-size:7pt;" border=1 width=1000 cellpadding="19">
    <thead>
    <!-- <tr><th colspan="8"><center>BFTL</center> </th></tr> -->
    <tr>
      <th>Year-Month</th>
      <th>ID</th>
      <th>Name</th>
      <th>Actual Gross Salary</th>
      <th>Actual Bonus</th>
      <th>Actual Pf</th>
      <th>Actual Esic</th>
      <th>Actual CTC</th>
      <th>Calculated Gross Salary</th>
      <th>Calculated Bonus</th>
      <th>Calculated Pf</th>
      <th>Calculated Esic</th>
      <th>Calculated CTC</th>
    </tr>
  </thead>
  <tbody>
    <% @salaryslips.try(:each) do |s| %>
    <% @bonus_employees.try(:each) do |be| %>
    <% @employeer_pfs.try(:each) do |ep| %>
    <% @employeer_esic.try(:each) do |ee| %>
      <tr>
        <td><%= s.year %>-<%= s.month %></td>
        <td><%= s.employee.try(:manual_employee_code) %></td>
        <td><%= s.employee.try(:first_name) %> <%= s.employee.try(:middle_name) %> <%= s.employee.try(:last_name) %></td>
        <td><%= s.actual_gross_salary.round %></td>
        <td><%= %></td>
        <td><%= ep.try(:actual_amount) %></td>
        <td><%= ee.try(:actual_amount) %></td>
        <td><%= b=ep.try(:actual_amount)+ee.try(:actual_amount) %></td>
        <td><%= s.calculated_gross_salary.round %></td>
        <td><%= be.amount %></td>
        <td><%= ep.amount %></td>
        <td><%= ee.amount %></td>
        <td><%= a=be.amount+ep.amount+ee.amount %></td>
      </tr>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>