<style>
th {
    text-align: left;
}
tr {
    page-break-inside: avoid;
}
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak{ page-break-inside: avoid;
  /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
}
</style>
     
 <div>
  <table style="border-collapse: collapse; font-size:11pt;" border=1 width=1200 cellpadding="10">
      <thead>
       <tr>
        <td colspan="4">
        <center> <%= wicked_pdf_image_tag @employee.company.company_logo.url, :size => "130x50" %></center> 
          <center><strong><%= @employee.company_location.company.try(:description) %></strong><br><%= @employee.company_location.try(:address) %>, <%= @employee.company_location.try(:name) %>.  </center>
        </td>           
       </tr>
       <tr>
         <th>Employee Detail</th>
         <th>Working Day</th>
         <th>Leave Details</th>
         <th>Slip Information</th>
       </tr>
       <tr>
       <td>
       ID: <%= @employee.manual_employee_code%><br><br> 
       Name: <%= full_name(@employee) %><br><br> 
       Designation: <%= @slip_information.try(:employee_designation).try(:name) %><br><br>
       Department : <%= @slip_information.try(:department).try(:name) %><br><br>
       Unit: <%= @slip_information.try(:cost_center).try(:name)%><br><br>
       </td>
       <td>
       Present Day : <%= @working_day.try(:present_day) %> <br><br> 
       Holiday : <%= @working_day.try(:holiday_in_month) %><br><br> 
       Week Off : <%= @working_day.try(:week_off_day) %><br><br> 
       Absent Day : <%= @working_day.try(:absent_day) %><br><br> 
       Payable Day :<%= @working_day.try(:payable_day) %><br><br>
       </td>
       <td>

        <% @leave_details.each do |ld| %>
            <%= ld.leav_category.name %> <%= ld.no_of_leave %> <%= ld.balance %><br><br>
        <% end %>
        </td>
       <td>
       Salary Slip : <%= @salaryslip.month%> - <%= @salaryslip.year%><br><br>
       UAN No :  <%= @slip_information.try(:uan_no) %><br><br>
       PF No :   <%= @slip_information.try(:pf_no) %><br><br>
       ESIC No : <%= @slip_information.try(:esic_no) %><br><br>
       </td>
       </tr>
  </tbody>
  </table>
<table style="border-collapse: collapse; font-size:11pt;" border=1 width=1200 cellpadding="5">
  <thead>
  <tr><td colspan="7"><center><strong>Salary Details</strong></center> </td></tr>
    <tr>
      <th>Salary Component</th>
      <th style="text-align: right;">Actual Amount</th>
      <th style="text-align: right;">Calculated Amount</th>
      <!-- <th>Action</th> -->
    </tr>
  </thead>
  <tbody>
    <% @addable_salary_components.each do |item| %>
      <tr>
        <td><%= item.salary_component.name %></td>
        <td align="right"><%= item.actual_amount.round %></td>
        <td align="right"><%= item.calculated_amount.round %></td>
        <!-- <td align="center">< link_to "", edit_salaryslip_component_path(item),remote:true,class: "fa fa-edit" %></td> -->
      </tr>
    <% end %>
    <tr>
      <td><strong>Total Gross</strong></td>
      <td align="right"><strong><%= @salaryslip.actual_gross_salary.round %></strong></td>
      <td align="right"><strong><%= @salaryslip.calculated_gross_salary.round %></strong></td>
     <!--  <td></td> -->
    </tr>
     <tr>
      <td><strong>Deduction Component</strong></td>
      <td align="right"><strong></strong></td>
      <td align="right"><strong>Amount</strong></td>
     <!--  <td></td> -->
    </tr>
    <% @deducted_salary_components.each do |item| %>
      <tr>
        <% unless item.salary_component_id.nil? %>
          <td><%= item.salary_component.name %></td>
          <td align="right"><%= item.actual_amount.round %></td>
          <td align="right"><%= item.calculated_amount.round %></td>
         <!--  <td align="center"> link_to "", edit_salaryslip_component_path(item),remote:true,class: "fa fa-edit" %></td> -->
        <%else%>
          <td><%= item.other_component_name %></td>
          <td align="right"><%= item.actual_amount.round %></td>
          <td align="right"><%= item.calculated_amount.round %></td>
         <!--  <td align="center">link_to "", edit_salaryslip_component_path(item),remote:true,class: "fa fa-edit" %></td> -->
        <%end%>
      </tr>
    <% end %>
    <tr>
      <td><strong>Total Deduction</strong></td>
      <td align="right"><strong><%= @salaryslip.actual_total_deduction.round %></strong></td>
      <td align="right"><strong><%= @salaryslip.calculated_total_deduction.round %></strong></td>
      <!-- <td></td> -->
    </tr>
    <tr>
      <td><strong>Net Salary</strong></td>
      <td align="right"><strong><%= @salaryslip.actual_net_salary.round %></strong></td>
      <td align="right"><strong><%= @salaryslip.calculated_net_salary.round %></strong></td>
      <!-- <td></td> -->
    </tr>
  </tbody>
</table>
    </div>


