<style>
th {
    text-align: left;
}
tr {
    page-break-inside: avoid;
}
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak{ page-break-inside: avoid;
  /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
}
</style>
     
 <div>
  <table style="border-collapse: collapse; font-size:11pt;" border=1 width=1200 cellpadding="10">
   <thead>
       <tr>
      <td colspan="3">
       <% if @employee.company_location.company.company_logo == nil %>
      <% else %>
        <center> <%= wicked_pdf_image_tag @employee.company_location.company.company_logo.url, :size => "90x50" %></center>
        <%end%>
     <!--  <center> <= wicked_pdf_image_tag @employee.company.company_logo.url, :size => "90x50" %></center>  -->
        <center><strong><%= @employee.company_location.company.try(:description) %></strong><br><%= @employee.company_location.try(:address) %>, <%= @employee.company_location.try(:name) %>  </center>
        <center><strong>SALARY SLIP</strong></center>
      </td>           
    </tr>
   
      <tr>
      <td>
      <strong> Employee Code :</strong> <%= @employee.manual_employee_code%> <br><br>
      <strong> Name :</strong> <%= full_name(@employee) %> <br><br>
      <strong> Designation :</strong> <%= @employee.joining_detail.try(:employee_designation).name %> <br><br>
      <strong> Department : </strong><%= @employee.department.try(:name) %> <br><br>
      <strong> Date Of Joining : </strong><%= @employee.joining_detail.try(:joining_date) %> <br><br>
      </td>

      <td>
      <strong> UAN No. :</strong> <%= @employee.joining_detail.try(:employee_uan_no) %><br><br> 
      <strong> PF No. :</strong> <%= @employee.joining_detail.try(:employee_pf_no) %><br><br>
      <strong> PAN No  : </strong> <%= @salaryslip.employee.pan_no %><br><br> 
      <strong> Account No. :</strong><%= @employee.try(:employee_bank_detail).try(:account_no) %><br><br> 
      </td>
      <td>
     
      <strong> Pay Month : </strong> <%= @salaryslip.month%> - <%= @salaryslip.year%><br><br>
       <% @leave_details.each do |ld| %>
             <strong> <%= ld.leav_category.name %>  - Leave: </strong> <%= ld.no_of_leave %> - <strong> Balance: </strong> <%= ld.balance %><br><br>
        <% end %>
      <strong> Days in Month : </strong><%= @working_day.try(:day_in_month) %> <br><br> 
      <strong> Payble Days : </strong><%= @working_day.try(:payable_day) %><br><br> 
      
      </td>   
    </tr>
   
    <!--  <tr>
      <th>Gross Salary : <%= @salaryslip.calculated_gross_salary.round %>
    </th>   
 
      <th>Deduction : <%= @salaryslip.calculated_total_deduction.round %>
         </th>   
  
      <th>Net Salary :  <%= @salaryslip.calculated_net_salary.round %>
      </th>   
    </tr>
 -->
  </thead>
</table>

 <div class="row">
  <div class="col-sm-12">
<table style="border-collapse: collapse; font-size:11pt;" border=1 width=1200 cellpadding="5">
      <thead>
      <tr><th colspan="3"><center> Earning Details </center></th></tr>
        <tr>
          <th><center>Component</th></center>
          <th><center>Actual Amount</th></center>
          <th><center>Calculated Amount</th></center>
        </tr>
      </thead>
      <tbody>
        <% @addable_salary_components.each do |item| %>
          <tr>
            <td><%= item.salary_component.name %></td>
            <td align="right"><%= item.actual_amount.round %></td>
            <td align="right"><%= item.calculated_amount.round %></td>
          </tr>
        <% end %>
        <tr>
          <td><strong>Gross Salary</strong></td>
          <td align="right"><strong><%= @salaryslip.actual_gross_salary.round %></strong></td>
          <td align="right"><strong><%= @salaryslip.calculated_gross_salary.round %></strong></td>
        </tr>
       <tr><th colspan="3"><center> Deduction Details </center></th></tr>
    
        <% @deducted_salary_components.each do |item| %>
          <tr>
            <% unless item.salary_component_id.nil? %>
              <td><%= item.salary_component.name %></td>
              <td align="right"><%= item.actual_amount.round %></td>
              <td align="right"><%= item.calculated_amount.round %></td>
            <%else%>
              <td><%= item.other_component_name %></td>
              <td align="right"><%= item.actual_amount.round %></td>
              <td align="right"><%= item.calculated_amount.round %></td>
            <%end%>
          </tr>
        <% end %>
        <tr>
          <td><strong>Total Deduction</strong></td>
          <td align="right"><strong><%= @salaryslip.actual_total_deduction.round %></strong></td>
          <td align="right"><strong><%= @salaryslip.calculated_total_deduction.round %></strong></td>
        </tr>

         <tr>
          <td><strong>Net Salary</strong></td>
          <td align="right"><strong><%= @salaryslip.actual_net_salary.round %></strong></td>
          <td align="right"><strong><%= @salaryslip.calculated_net_salary.round %></strong></td>
        </tr>
        <!-- <tr>
        <td colspan="3"><center>**This is a computer generated slip, hence no signature is required.**</center></td>
        </tr> -->
      </tbody>
    </table>
    <center>**This is a computer generated slip, hence no signature is required.**</center>
    </div>
    </div>
    </div>
