<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:Index="1"><Data ss:Type="String">Sr.No.</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Employee ID</Data></Cell>

        <Cell ss:Index="3"><Data ss:Type="String">Employee Name</Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String">Designation</Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String">Department</Data></Cell>
        <Cell ss:Index="6"><Data ss:Type="String">Cost Unit</Data></Cell>
        <Cell ss:Index="7"><Data ss:Type="String">Year</Data></Cell>
        <Cell ss:Index="8"><Data ss:Type="String">Month</Data></Cell>
        <Cell ss:Index="9"><Data ss:Type="String">Category</Data></Cell>
        <Cell ss:Index="10"><Data ss:Type="String">Account No.</Data></Cell>
        <Cell ss:Index="11"><Data ss:Type="String">Bank Name</Data></Cell>
        <Cell ss:Index="12"><Data ss:Type="String">Payment Mode</Data></Cell>
        <Cell ss:Index="13"><Data ss:Type="String">PF No.</Data></Cell>
        <Cell ss:Index="14"><Data ss:Type="String">UAN No.</Data></Cell>
        <Cell ss:Index="15"><Data ss:Type="String">ESIC No.</Data></Cell>

        <Cell ss:Index="16"><Data ss:Type="String">Basic</Data></Cell>
        <Cell ss:Index="17"><Data ss:Type="String">HRA</Data></Cell>
        <Cell ss:Index="18"><Data ss:Type="String">Conveyance Allowence</Data></Cell>
        <Cell ss:Index="19"><Data ss:Type="String">Other Allowance</Data></Cell>
        <Cell ss:Index="20"><Data ss:Type="String">LTA</Data></Cell>
        <Cell ss:Index="21"><Data ss:Type="String">Medical Allowence</Data></Cell>
        <Cell ss:Index="22"><Data ss:Type="String">Special Allowence</Data></Cell>
        <Cell ss:Index="23"><Data ss:Type="String">Performance Allowence</Data></Cell>
        
        <Cell ss:Index="24"><Data ss:Type="String">Gross Salary</Data></Cell>

        <Cell ss:Index="25"><Data ss:Type="String">Calculated Basic</Data></Cell>
        <Cell ss:Index="26"><Data ss:Type="String">Calculated HRA</Data></Cell>
        <Cell ss:Index="27"><Data ss:Type="String">Calculated Conveyance Allowence</Data></Cell>
        <Cell ss:Index="28"><Data ss:Type="String">Calculated Other Allowance</Data></Cell>
        <Cell ss:Index="29"><Data ss:Type="String">Calculated LTA</Data></Cell>
        <Cell ss:Index="30"><Data ss:Type="String">Calculated Medical Allowance</Data></Cell>
        <Cell ss:Index="31"><Data ss:Type="String">Calculated Special Allowence</Data></Cell>
        <Cell ss:Index="32"><Data ss:Type="String">Calculated Performance Allowence</Data></Cell>

        <Cell ss:Index="33"><Data ss:Type="String">Calculated Gross Salary</Data></Cell>

        <Cell ss:Index="34"><Data ss:Type="String">PF</Data></Cell>
        <Cell ss:Index="35"><Data ss:Type="String">ESIC</Data></Cell>
        <Cell ss:Index="36"><Data ss:Type="String">Professional Tax</Data></Cell>

        <Cell ss:Index="37"><Data ss:Type="String">Welfare</Data></Cell>
        <Cell ss:Index="38"><Data ss:Type="String">Advance</Data></Cell>
        <Cell ss:Index="39"><Data ss:Type="String">Income Tax</Data></Cell>
        <Cell ss:Index="40"><Data ss:Type="String">Mobile Expences</Data></Cell>
        <Cell ss:Index="41"><Data ss:Type="String">Other Deduction</Data></Cell>  
        <Cell ss:Index="42"><Data ss:Type="String">Bank Loan</Data></Cell>

        <Cell ss:Index="43"><Data ss:Type="String">Total Deduction</Data></Cell>

        <Cell ss:Index="44"><Data ss:Type="String">Net Salary</Data></Cell>

        <Cell ss:Index="45"><Data ss:Type="String">No. of Days in Month</Data></Cell>
        <Cell ss:Index="46"><Data ss:Type="String">Present Days</Data></Cell>
        <Cell ss:Index="47"><Data ss:Type="String">Weekoff</Data></Cell>

        <Cell ss:Index="48"><Data ss:Type="String">Pay Leave</Data></Cell>
        <Cell ss:Index="49"><Data ss:Type="String">Non Pay Leave</Data></Cell>
     

        <Cell ss:Index="50"><Data ss:Type="String">Holiday</Data></Cell>
        <Cell ss:Index="51"><Data ss:Type="String">Absent Days</Data></Cell>
        <Cell ss:Index="52"><Data ss:Type="String">Payable Days</Data></Cell>
        <Cell ss:Index="53"><Data ss:Type="String">Location</Data></Cell>


      </Row>
      <% i = 0 %>
      <% @salaryslips.each do |slip| %>
        <% employee = slip.employee %>
        <% joining = employee.joining_detail %>
        <% bankdetail = employee.employee_bank_detail %>
        <% workingday = slip.workingday %>
        <Row>
          <Cell ss:Index="1"><Data ss:Type="String"><%= i=i+1 %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="Number"><%= slip.employee.manual_employee_code %></Data></Cell>
          <Cell ss:Index="3"><Data ss:Type="String"><%= employee.first_name.to_s+" "+employee.middle_name.to_s+" "+employee.last_name.to_s %></Data></Cell>
          
          <Cell ss:Index="4"><Data ss:Type="String"><%= joining.employee_designation.try(:name) %></Data></Cell>
          <Cell ss:Index="5"><Data ss:Type="String"><%= employee.department.try(:name) %></Data></Cell>
          <Cell ss:Index="6"><Data ss:Type="String"><%= joining.cost_center.try(:name) %></Data></Cell>
          <Cell ss:Index="7"><Data ss:Type="String"><%= slip.year %></Data></Cell>
          <Cell ss:Index="8"><Data ss:Type="String"><%= slip.month %></Data></Cell>
          <Cell ss:Index="9"><Data ss:Type="String"><%= joining.employee_category.try(:name) %></Data></Cell>
          <Cell ss:Index="10"><Data ss:Type="String"><%= bankdetail.try(:account_no) %></Data></Cell>
          <Cell ss:Index="11"><Data ss:Type="String"><%= bankdetail.try(:bank).try(:name) %></Data></Cell>
          <Cell ss:Index="12"><Data ss:Type="String"><%= joining.try(:payment_mode).try(:name) %></Data></Cell>
          <Cell ss:Index="13"><Data ss:Type="String"><%= joining.try(:employee_pf_no) %></Data></Cell>
          <Cell ss:Index="14"><Data ss:Type="String"><%= joining.try(:employee_uan_no) %></Data></Cell>
          <Cell ss:Index="15"><Data ss:Type="String"><%= joining.try(:employee_efic_no) %></Data></Cell>

          <% @addable_salaryslip_items = slip.salaryslip_components.where(is_deducted: false) %>
          <% @addable_salaryslip_items.each do |item| %>
            <% case item.salary_component.try(:name) %>
            <% when "Basic" %>
              <Cell ss:Index="16"><Data ss:Type="Number"><%= item.actual_amount.round %></Data></Cell>
            <% when "HRA" %>
              <Cell ss:Index="17"><Data ss:Type="Number"><%= item.actual_amount.round %></Data></Cell>
            <% when "Conveyance Allowance" %>
              <Cell ss:Index="18"><Data ss:Type="Number"><%= item.actual_amount.round %></Data></Cell>
            <% when "Other Allowance" %>
              <Cell ss:Index="19"><Data ss:Type="Number"><%= item.actual_amount.round %></Data></Cell>
            <% when "LTA" %>
              <Cell ss:Index="20"><Data ss:Type="Number"><%= item.actual_amount.round %></Data></Cell>
            <% when "Medical Allowance" %>
              <Cell ss:Index="21"><Data ss:Type="Number"><%= item.actual_amount.round %></Data></Cell>
            <% when "Special Allowance" %>
              <Cell ss:Index="22"><Data ss:Type="Number"><%= item.actual_amount.round %></Data></Cell>
            <% when "Performance Allowance" %>
              <Cell ss:Index="23"><Data ss:Type="Number"><%= item.actual_amount.round %></Data></Cell>
            <% else %>
            
            <% end %> <!-- switch case -->
          <% end %><!-- addable items -->
            <Cell ss:Index="24"><Data ss:Type="Number"><%= slip.actual_gross_salary.round %></Data></Cell>
          <% @addable_salaryslip_items.each do |item| %>
            <% case item.salary_component.try(:name) %>
            <% when "Basic" %>
              <Cell ss:Index="25"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
            <% when "HRA" %>
              <Cell ss:Index="26"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
           
            <% when "Conveyance Allowance" %>
              <Cell ss:Index="27"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
            <% when "Other Allowance" %>
              <Cell ss:Index="28"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
            <% when "LTA" %>
              <Cell ss:Index="29"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
            <% when "Medical Allowance" %>
              <Cell ss:Index="30"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
            <% when "Special Allowance" %>
              <Cell ss:Index="31"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
            <% when "Performance Allowance" %>
              <Cell ss:Index="32"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
            <% else %>
            
            <% end %> <!-- switch case -->
          <% end %><!-- addable items -->
          <Cell ss:Index="33"><Data ss:Type="Number"><%= slip.calculated_gross_salary.round %></Data></Cell>
          
         <% @deducted_salaryslip_items = slip.salaryslip_components.where(is_deducted: true) %>
          <% @deducted_salaryslip_items.each do |item| %>
              <% if item.other_component_name == "Provident Fund" %>
                <Cell ss:Index="34"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
              <% elsif item.other_component_name == "ESIC" %>
                <Cell ss:Index="35"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
              <% elsif item.other_component_name == "Professional Tax" %>
                <Cell ss:Index="36"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>

              <% elsif item.other_component_name == "WelFare" %>
              <Cell ss:Index="37"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
              <% elsif item.other_component_name == "Advance" %>
                <Cell ss:Index="38"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
              <% elsif item.other_component_name == "Income Tax" %>
                <Cell ss:Index="39"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
              <% elsif item.other_component_name == "Mobile Deduction" %>
                <Cell ss:Index="40"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
              <% elsif item.other_component_name == "Other Deduction" %>
                <Cell ss:Index="41"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
              <% elsif item.other_component_name == "Bank Loan" %>
                <Cell ss:Index="42"><Data ss:Type="Number"><%= item.calculated_amount.round %></Data></Cell>
              <% end %>
          <% end %><!-- deducted items -->

          <Cell ss:Index="43"><Data ss:Type="Number"><%= slip.calculated_total_deduction.round %></Data></Cell>
          <Cell ss:Index="44"><Data ss:Type="Number"><%= slip.calculated_net_salary.round %></Data>
          </Cell>   
          <Cell ss:Index="45"><Data ss:Type="Number"><%= workingday.day_in_month %></Data></Cell>
          <Cell ss:Index="46"><Data ss:Type="Number"><%= workingday.present_day %></Data></Cell>

         
          <Cell ss:Index="47"><Data ss:Type="Number"><%= workingday.week_off_day %></Data></Cell>
          <Cell ss:Index="48"><Data ss:Type="Number"><%= workingday.pay_leave %></Data></Cell>
          <Cell ss:Index="49"><Data ss:Type="Number"><%= workingday.nonpay_leave %></Data></Cell>
          <Cell ss:Index="50"><Data ss:Type="Number"><%= workingday.holiday_in_month %></Data></Cell>
          <Cell ss:Index="51"><Data ss:Type="Number"><%= workingday.absent_day %></Data></Cell>
          <Cell ss:Index="52"><Data ss:Type="Number"><%= workingday.payable_day %></Data></Cell>
          <Cell ss:Index="53"><Data ss:Type="String"><%= employee.try(:company_location).try(:name) %></Data></Cell>
        </Row><!-- Row -->
      <% end %><!-- slip -->
    </Table>
  </Worksheet>
</Workbook>