<div class="box">
  <div class="box-header">
 </div>
<div class="box-body">
 <div style="float:right;">
  <%= link_to 'Print PDF', print_salary_slip_rg_salaryslips_path(format: 'pdf',id: @salaryslip.id),class: 'btn btn-xl btn-primary fa fa-print', :target => '_blank' %><br><br>
  </div>

 <table class="table table-bordered table-hover table-condensed"> <br>
      <thead>
       <tr>
      <td colspan="4">
      <% if @employee.company_location.company.company_logo == nil %>
      <% else %>
        <center> <%= image_tag @employee.company_location.company.company_logo.url, :size => "120x70" %></center><br>
        <%end%>
        <center><strong><%= @employee.company_location.company.try(:description) %></strong><br><%= @employee.company_location.try(:address) %>, <%= @employee.company_location.try(:name) %>  </center>
        <center><strong>SALARY SLIP</strong></center> 
      </td>           
    </tr>
    <tr>
      <td>
      <strong> Employee Code :</strong> <%= @employee.manual_employee_code%> <br><br>
      <strong> Name :</strong> <%= full_name(@employee) %> <br><br>
      <strong> Designation :</strong> <%= @employee.joining_detail.try(:employee_designation).name %> <br><br>
      <strong> Department : </strong><%= @employee.department.try(:name) %> <br><br>
      <strong> Date Of Joining : </strong><%= @employee.joining_detail.try(:joining_date) %> <br><br>
      </td>

      <td>
      <strong> UAN No. :</strong> <%= @employee.joining_detail.try(:employee_uan_no) %><br><br> 
      <strong> PF No. :</strong> <%= @employee.joining_detail.try(:employee_pf_no) %><br><br>
      <strong> PAN No  : </strong> <%= @salaryslip.employee.pan_no %><br><br> 
      <strong> Account No. :</strong><%= @employee.try(:employee_bank_detail).try(:account_no) %><br><br> 
      </td>
      <td>
     
      <strong> Pay Month : </strong> <%= @salaryslip.month%> - <%= @salaryslip.year%><br><br>
       <% @leave_details.each do |ld| %>
             <strong> <%= ld.leav_category.name %>  - Leave: </strong> <%= ld.no_of_leave %> - <strong> Balance: </strong> <%= ld.balance %><br><br>
        <% end %>
      <strong> Days in Month : </strong><%= @working_day.try(:day_in_month) %> <br><br> 
      <strong> Payble Days : </strong><%= @working_day.try(:payable_day) %><br><br> 
      
      </td>   
    </tr>
   
    <!--  <tr>
      <th>Gross Salary : <%= @salaryslip.calculated_gross_salary.round %>
    </th>   
 
      <th>Deduction : <%= @salaryslip.calculated_total_deduction.round %> 
         </th>   
  
      <th>Net Salary :  <%= @salaryslip.calculated_net_salary.round %>
      </th>   
    </tr>
 -->
  </thead>
 
</table>

 <div class="row">
  <div class="col-sm-12">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
  
      </thead>
      <tbody>
       <tr>
       <td>  <table style="border: 0">
       <% @addable_salary_components.each do |item| %>
         
          <tr style="border: 0"><td>  <%= item.salary_component.name %></td>
            <td><%= item.actual_amount.round %></td>
           <td> <%= item.calculated_amount.round %></td>
        
        <% end %></tr> </table></td>
    
       <td> <table style="border: 0">
       <% @deducted_salary_components.each do |item| %>
         
            <% unless item.salary_component_id.nil? %>
              <tr style="border-top: 0px; border-bottom: 0px;"><td><%= item.salary_component.name %></td>
              <td><%= item.actual_amount.round %></td>
              <td><%= item.calculated_amount.round %></td></tr>
            <%else%>
             <tr style="border: 0;"> <td><%= item.other_component_name %></td>
             <td> <%= item.actual_amount.round %></td>
             <td> <%= item.calculated_amount.round %></td></tr>
            <%end%>
         
        <% end %></table></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div><%= link_to 'Back', employee_salary_list_salaryslips_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %></div>
</div>


