<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Salary Slip <%= @salaryslip.month%> <%= @salaryslip.year%></h3>
    <div style="float:right;">
  <%= link_to ' Print PDF', print_emp_contribution_slip_salaryslips_path(format: 'pdf',id: @salaryslip.id),class: 'btn btn-xl btn-warning fa fa-print', :target => '_blank' %><br><br>
  </div>
  </div><!-- /.box-header -->
  
  <div class="box-body">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <td colspan="7">
          </td>           
            <center><strong><%= @employee.company_location.company.try(:description)%> </strong><%= @employee.company_location.try(:address)%> - <%= @employee.company_location.try(:name)%>.</center>
          </td>           
        </tr>
        <tr>
          <td colspan="2">Salary Slip : <%= @salaryslip.month%> - <%= @salaryslip.year%></td>
          <td>Leave Type</td>
          <td>Leave</td>  
          <td>Balance</td>   
          <td colspan="2"></td>
        </tr>
        <tr>
          <th>Employee ID</th>
          <td><%= @employee.manual_employee_code%></td>
          <th>CL</th>        
          <td align="right"><%= @working_day.try(:cl_leave) %></td> 
          <td align="right"><%= @working_day.try(:cl_balance) %></td> 
          <th>Monthly Days</th>        
          <td align="right"><%= @working_day.try(:day_in_month) %></td>            
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Employee Name</th>
          <td><%= full_name(@employee) %></td>
          <th>EL</th>        
          <td align="right"><%= @working_day.try(:el_leave) %></td>
          <td align="right"><%= @working_day.try(:el_balance) %></td>
          <th>Working Days</th>
          <td align="right"><%= @working_day.try(:present_day) %></td>
        </tr>
        <tr>
          <th>Department</th>
          <td><%= @employee.department.try(:name) %></td>
          <th>C.off</th>        
          <td align="right"><%= @working_day.try(:coff_leave) %></td>
          <td align="right"><%= @working_day.try(:coff_balance) %></td>      
          <th>Holidays</th>        
          <td align="right"><%= @working_day.try(:holiday_in_month) %></td>   
        </tr>
        <tr>
          <th>Designation</th>
          <td><%= @employee.joining_detail.try(:employee_designation).try(:name) %></td>
          <th>Advance Leave</th>    
          <td align="right"><%= 0 %></td>   
          <td align="right"><%= 0 %></td>
          <th>Week Off</th>    
          <td align="right"><%= @working_day.try(:week_off_day) %></td>
        </tr>
        <tr>
          <th>Unit</th>
          <td><%= @employee.joining_detail.cost_center.try(:name) %></td>
          <th>ESIC Leave</th>        
          <td align="right"><%= @working_day.try(:esic_leave) %></td> 
          <td align="right"><%= 0 %></td>   
          <th>Absent Days</th>
          <td align="right"><%= @working_day.try(:absent_day) %></td>       
        </tr>
        <tr>
          <th>Contact No.</th>
          <td><%= @employee.contact_no %></td>
          <th>LWP</th>    
          <td align="right"><%= @working_day.try(:lwp_leave) %></td>  
          <td align="right"><%= 0%></td>      
          <th>Payble Days</th>
          <td align="right"><%= @working_day.try(:payable_day) %></td>
        </tr>
        <tr>
          <th>ESIC No.</th>
          <td><%= @employee.joining_detail.try(:employee_efic_no) %></td>
          <th>PF No.</th>
          <td colspan="2" align="right"><%= @employee.joining_detail.try(:employee_pf_no) %></td>
          <th>UAN No.</th>
          <td align="right"><%= @employee.joining_detail.try(:employee_uan_no) %></td>
        </tr>
      </tbody>
    </table>
      
    <div id="slip"><%= render 'emp_contribution_slip' %></div>
  </div>
</div>

<div id="myModal" class="modal fade"></div>

