<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Salary Slip <%= @salaryslip.month%> <%= @salaryslip.year%></h3>
    <div style="float:right;">
  <%= link_to 'Print PDF', print_salary_slip_salaryslips_path(format: 'pdf',id: @salaryslip.id),class: 'btn btn-xl btn-primary fa fa-print', :target => '_blank' %><br><br>
  </div>
  </div><!-- /.box-header -->
   
  <div class="box-body">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
       <tr>
        <td colspan="4">
        <center> <%= image_tag @employee.company.company_logo.url, :size => "130x50" %></center>  <br>
          <center><strong><%= @employee.company_location.company.try(:description) %></strong><br><%= @employee.company_location.try(:address) %>, <%= @employee.company_location.try(:name) %>.  </center>
        </td>           
       </tr>
       <tr>
         <th>Employee Detail</th>
         <th>Working Day</th>
         <th>Leave Details</th>
         <th>Slip Information</th>
       </tr>
       <tr>
       <td>
       ID: <%= @employee.manual_employee_code%><br><br> 
       Name: <%= full_name(@employee) %><br><br> 
       Designation: <%= @slip_information.try(:employee_designation).try(:name) %><br><br>
       Department : <%= @slip_information.try(:department).try(:name) %><br><br>
       Unit: <%= @slip_information.try(:cost_center).try(:name)%><br><br>
       </td>
       <td>
       Present Day : <%= @working_day.try(:present_day) %> <br><br> 
       Holiday : <%= @working_day.try(:holiday_in_month) %><br><br> 
       Week Off : <%= @working_day.try(:week_off_day) %><br><br> 
       Absent Day : <%= @working_day.try(:absent_day) %><br><br> 
       Payable Day :<%= @working_day.try(:payable_day) %><br><br>
       </td>
       <td>

        <% @leave_details.each do |ld| %>
            <%= ld.leav_category.name %> - Leave:  <%= ld.no_of_leave %> - Balance: <%= ld.balance %><br><br>
        <% end %>
        </td>
       <td>
       Salary Slip : <%= @salaryslip.month%> - <%= @salaryslip.year%><br><br>
       UAN No :  <%= @slip_information.try(:uan_no) %><br><br>
       PF No :   <%= @slip_information.try(:pf_no) %><br><br>
       ESIC No : <%= @slip_information.try(:esic_no) %><br><br>
       </td>
       </tr>
  </tbody>
  </table>
    <%= render 'slip' %>
  </div>
</div>

<div id="myModal" class="modal fade"></div>

