<%= bootstrap_form_for(@setting_master,remote: true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
      <%= f.select :date, ['YYYY-MM-DD','YYYYMMDD','YYY','MM/DD/YYYY','MM DD YYY'],{hide_label: true,include_blank: " Select Date Format"} %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :precision, ['0.0','0.00'],{hide_label: true,include_blank: " Select Precision Format"} %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :timeformat, ['HH:MM:SS'],{hide_label: true,include_blank: " Select Time Format"} %>
      </div>
    </div>
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :email, ['info@abc.com'],{hide_label: true,include_blank: " Select Email Format"} %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Setting", class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
<% end %>


