<br>
<table id="example2" class="table table-bordered table-hover table-condensed'">
    <thead>
      <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Status</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @employee_categories.each do |employee_category| %>
      <tr>
        <td><%= employee_category.code %></td>
        <td><%= employee_category.name %></td>
        <td><%= employee_category.is_active ? "Active" : "Inactive" %></td>
        <td><%= employee_category.description %></td>
        <td>
          <% if employee_category.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
          <% else %>
            <%= link_to '', edit_employee_category_path(employee_category), class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
            <%= link_to '', employee_category, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-xs  btn-danger fa fa-close' %>
            <%= link_to '', is_confirm_employee_categories_path(employee_category: employee_category),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
          <% end %>
          </td>
        </tr>
      <% end %>                                                                       
    </tbody>
  </table>              