<p id="notice"><%= notice %></p>

<h1>Listing Esic Employer Masters</h1>

<table>
  <thead>
    <tr>
      <th>Esic</th>
      <th>Percentage</th>
      <th>Effective from</th>
      <th>Effective to</th>
      <th>Max limit</th>
      <th>Base component</th>
      <th>Is active</th>
      <th>Is confirm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @esic_employer_masters.each do |esic_employer_master| %>
      <tr>
        <td><%= esic_employer_master.esic %></td>
        <td><%= esic_employer_master.percentage %></td>
        <td><%= esic_employer_master.effective_from %></td>
        <td><%= esic_employer_master.effective_to %></td>
        <td><%= esic_employer_master.max_limit %></td>
        <td><%= esic_employer_master.base_component %></td>
        <td><%= esic_employer_master.is_active %></td>
        <td><%= esic_employer_master.is_confirm %></td>
        <td><%= link_to 'Show', esic_employer_master %></td>
        <td><%= link_to 'Edit', edit_esic_employer_master_path(esic_employer_master) %></td>
        <td><%= link_to 'Destroy', esic_employer_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Esic employer master', new_esic_employer_master_path %>
