<p id="notice"><%= notice %></p>

<h1>Listing Employer Insurances</h1>

<table>
  <thead>
    <tr>
      <th>Base component</th>
      <th>Percentage</th>
      <th>Effective from</th>
      <th>Effective to</th>
      <th>Is active</th>
      <th>Is confirm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employer_insurances.each do |employer_insurance| %>
      <tr>
        <td><%= employer_insurance.base_component %></td>
        <td><%= employer_insurance.percentage %></td>
        <td><%= employer_insurance.effective_from %></td>
        <td><%= employer_insurance.effective_to %></td>
        <td><%= employer_insurance.is_active %></td>
        <td><%= employer_insurance.is_confirm %></td>
        <td><%= link_to 'Show', employer_insurance %></td>
        <td><%= link_to 'Edit', edit_employer_insurance_path(employer_insurance) %></td>
        <td><%= link_to 'Destroy', employer_insurance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employer insurance', new_employer_insurance_path %>
