<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Leave Type</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->


<div class="box-body">
<%= form_for(@leav_type) do |f| %>
  <% if @leav_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leav_type.errors.count, "error") %> prohibited this leav_type from being saved:</h2>

      <ul>
      <% @leav_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :leave_type %>
         </div>
        </div>
      </div>


  
  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :no_of_leave %>
         </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
            <%= f.datetime_select :leave_expiry_date %>
          </div>
        </div>
      </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about the plugin.
  </div>
</div><!-- /.box -->