<p id="notice"><%= notice %></p>

<p>
  <strong>Leave type:</strong>
  <%= @leav_type.leave_type %>
</p>

<p>
  <strong>No of leave:</strong>
  <%= @leav_type.no_of_leave %>
</p>

<p>
  <strong>Leave expiry date:</strong>
  <%= @leav_type.leave_expiry_date %>
</p>

<%= link_to 'Edit', edit_leav_type_path(@leav_type) %> |
<%= link_to 'Back', leav_types_path %>
