<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @holiday.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @holiday.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @holiday.description %>
</p>

<p>
  <strong>Holiday date:</strong>
  <%= @holiday.holiday_date %>
</p>

<%= link_to 'Edit', edit_holiday_path(@holiday) %> |
<%= link_to 'Back', holidays_path %>
