<br>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>No of year</th>
      <th>Payable day</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @gratuity_masters.each do |gratuity_master| %>
      <tr>
        <td><%= gratuity_master.no_of_year %></td>
        <td><%= gratuity_master.payable_day %></td>
        <td><%= gratuity_master.is_active ? "Active" : "Inactive" %></td>
        <td>
          <% if gratuity_master.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
          <% else %>
          	<%= link_to '', edit_gratuity_master_path(gratuity_master),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '',  gratuity_master, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>
            <%= link_to '', is_confirm_gratuity_masters_path(gratuity_master: gratuity_master),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
          <% end %>
           <%= link_to '',gratuity_master_modal_gratuity_masters_path(gratuity_master),class: 'btn btn-xs btn-default fa fa-eye', remote:true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="Mymodal" class="modal fade">
