
<p>
  <strong>No of year:</strong>
  <%= @gratuity_master.no_of_year %>
</p>

<p>
  <strong>Base component:</strong>
  <%= @gratuity_master.base_component %>
</p>

<p>
  <strong>Day in month:</strong>
  <%= @gratuity_master.day_in_month %>
</p>

<p>
  <strong>Payable day:</strong>
  <%= @gratuity_master.payable_day %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @gratuity_master.is_active %>
</p>

<p>
  <strong>Is confirm:</strong>
  <%= @gratuity_master.is_confirm %>
</p>

<%= link_to 'Edit', edit_gratuity_master_path(@gratuity_master) %> |
<%= link_to 'Back', gratuity_masters_path %>
