<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employer Insurance</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">

  <tr>

  <th><strong>Base component</strong></th>
  <td colspan="3">
          <% i = 0 %>
          <% @gratuity_master.base_component.split(",").each do |e| %>
            <% if i == 0 %>
              <%= SalaryComponent.find(e.to_i).name %>
            <% else %>
              + <%= SalaryComponent.find(e.to_i).name %>
            <% end %>
            <% i = i + 1 %>
          <% end %>
  </td>
  </tr>

<tr>
  <th><strong>No. of Year</strong></th>
  <td><%= @gratuity_master.no_of_year %></td>

  <th><strong>Day In Month</strong></th>
  <td><%= @gratuity_master.day_in_month %></td>
</tr>

<tr>
  <th><strong>Payable day</strong></th>
  <td><%= @gratuity_master.payable_day %></td>

  <th><strong>Status</strong></th>
  <td><%= @gratuity_master.is_active ? "Active" : "Inactive" %></td>
</tr>

<tr>
  
  <th><strong>Confirm</strong></th>
  <td colspan="3"><%= @gratuity_master.is_confirm ? "Yes" : "No" %></td>
</tr>
</table> <br>
 <%= link_to 'Back', new_gratuity_master_path,class: 'btn btn-default btn-sm fa fa-arrow-left'  %>