 <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <h4>Employee Asset Detail</h4>
    <p>
      <table id="example2" class="table table-bordered table-hover table-condensed">
	  
    	<tr>
		  <td><strong>Employee</strong></td>
		 <td><%= @assigned_asset.employee.prefix %> <%= @assigned_asset.employee.first_name %> <%= @assigned_asset.employee.last_name %></td>

		 <td><strong>Asset Type</strong></td>
		  <td><%= @assigned_asset.asset_type %></td>
		 </tr>
		 <tr>
		  <td><strong>Asset Details</strong></td>
		  <td><%= @assigned_asset.assets_detail %></td>

		  <td><strong>Asset </strong></td>
		  <td><%= @assigned_asset.assets_id %></td>
		</tr>
		<tr>
		  <td><strong>Asset Value</strong></td>
		  <td><%= @assigned_asset.assets_value %></td>

		  <td><strong>Asset Status</strong></td>
		  <td><%= @assigned_asset.assest_status %></td>
		</tr>

		<tr>
		  <td><strong>Issue Date</strong></td>
		  <td><%= @assigned_asset.issue_date%></td>

		  <td><strong>Valid Till</strong></td>
		  <td><%= @assigned_asset.valid_till %></td>
		</tr>

		<tr>
		<td><strong>Returned On</strong></td>
		<td><%= @assigned_asset.returned_on %></td>

		<tr>
		<td><strong>Remarks</strong></td>
		<td><%= @assigned_asset.returned_on %></td>

		</tr>
	  </table>
    </p>
  </body>
</html>