 <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <h4>Employee Award Detail</h4>
    <p>
      <table id="example2" class="table table-bordered table-hover table-condensed">
	   <tr>
    	<th><strong>Employee</strong></th>
    	<td><%= @award.employee.first_name %> <%= @award.employee.first_name %> <%= @award.employee.last_name %></td>

    	<th><strong>Award name</strong></th>
    	<td><%= @award.award_name %></td>
    </tr>

     <tr>
    	<th> <strong>Year</strong></th>
    	<td><%= @award.try(:year).try(:name) %></td>

    	<th> <strong>Award From</strong></th>
    	<td> <%= @award.award_from %></td>
    </tr>
     </table>
    </p>
  </body>
</html>
