<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  
  <body>
     <h4>Birthday Invitation</h4>
    <p>

    <strong>This is to inform you that following employees has an Birthday Today,Kindly plan a Surprise party.</strong><br><br>
    <%date = Date.today
     @employees_bday = Employee.where("status = ? AND strftime('%d/%m', date_of_birth) = ?", "Active" , date.strftime('%d/%m')) %>
     <% i=0 %>
    <% @employees_bday.each do |e| %>
   
    <%= i=i+1 %> . Name : <%= e.try(:first_name) %> <%= e.try(:middle_name) %> <%= e.try(:last_name) %> - Department : <%= e.department.try(:name) %> - Contact No : <%= e.contact_no %> <br><br>
    <% end %><br>
       <!-- <img src="/assets/images/bday.jpg" height="100px" width="200px"> -->
     <%= image_tag attachments['bday.jpg'].url, :style => "outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block;", :align=>"left" %></td>
    </p>
  </body>
</html>