 <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4>Employee Experience Detail</h4>
    <p>
      <table id="example2" class="table table-bordered table-hover table-condensed">
       	<tr>
		      <th><strong>Employee:</strong></th>
		      <td> <%= @experience.employee.first_name %> <%= @experience.employee.last_name %></td>

		      <th> <strong>No of year experince:</strong></th>
		      <td> <%= @experience.no_of_year %></td>
		    </tr>

		    <tr>
		      <th><strong>Company name:</strong></th>
		      <td> <%= @experience.company_name %></td>

		      <th> <strong>Designation:</strong></th>
		      <td> <%= @experience.designation %></td>
		    </tr>
		    
		    <tr>
		      <th><strong>Ctc:</strong></th>
		      <td> <%= @experience.ctc %></td>
		     
      		<th> <strong>Date</strong></th>
      		<td><%= @experience.start_date %> To  <%= @experience.end_date %></td>
		    </tr>
		    <tr>
		      <th><strong>Description</strong></th>
		      <td colspan="3"> <%= @experience.description %></td>
		    </tr>
	    </table>
    </p>
  </body>
</html>