 <!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4>Employee Experience Detail</h4>
    <p>
      <table class="table table-bordered table-hover table-condensed">
       	<tr>
		      <td><strong>Employee</strong></td>
		      <td><%= @experience.employee.prefix %> <%= @experience.employee.first_name %> <%= @experience.employee.last_name %></td>

		      <td> <strong>No of year experince</strong></td>
		      <td> <%= @experience.no_of_year %></td>
		    </tr>

		    <tr>
		      <td><strong>Company</strong></td>
		      <td> <%= @experience.company_name %></td>

		      <td> <strong>Designation</strong></td>
		      <td> <%= @experience.designation %></td>
		    </tr>
		    
		    <tr>
		      <td><strong>CTC</strong></td>
		      <td> <%= @experience.ctc %></td>
		     
      		<td> <strong>Date</strong></td>
      		<td><%= @experience.start_date %> To  <%= @experience.end_date %></td>
		    </tr>
		    <tr>
		      <td><strong>Description</strong></td>
		      <td colspan="3"> <%= @experience.description %></td>
		    </tr>
	    </table>
    </p>
  </body>
</html>