<p id="notice"><%= notice %></p>

<p>
  <strong>Base component:</strong>
  <%= @employer_esic.base_component %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @employer_esic.percentage %>
</p>

<p>
  <strong>Effective from:</strong>
  <%= @employer_esic.effective_from %>
</p>

<p>
  <strong>Effective to:</strong>
  <%= @employer_esic.effective_to %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @employer_esic.is_active %>
</p>

<p>
  <strong>Is confirm:</strong>
  <%= @employer_esic.is_confirm %>
</p>

<%= link_to 'Edit', edit_employer_esic_path(@employer_esic) %> |
<%= link_to 'Back', employer_esics_path %>
