<div class="box box-default">

  <div class="box-body">
  <%= bootstrap_form_for(@interview_analysis,html: {id: 'interview_analysis'},remote:true) do |f| %>
  <%= f.hidden_field :interview_schedule_id,value:@interview_schedule.id  %>
      <div class="row">

       <div class="col-sm-3">
       <label>Interview Evaluation</label>
        <div class="form-group required">
          <%= f.select :interview_evalution_id, all_interview_evaluation, {hide_label: true,include_blank: " Select Interview Evaluation"} %>
        </div>
      </div>

      <div class="col-sm-3">
       <label>Interview Attribute</label>
        <div class="form-group required">
        <%= f.select :interview_attribute_id, all_interview_attribute, {hide_label: true,include_blank: " Select Interview Attribute"} %>
        </div>
      </div>

      <div class="col-sm-3">
      <label>Interview Decision</label>
        <div class="form-group required">
        <%= f.select :interview_decision_id, all_interview_decision, {hide_label: true,include_blank: " Select Interview Decision"} %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group required">
         <%= f.text_field :comment ,label:"Comment" %>
        </div>
      </div>
      </div>

      <div class="row">
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit :class => class_name, data: { disable_with: data_info } %>
        </div>
      </div>
    </div>
    </div>
  </div>
<% end %>

<script>
$("#interview_analysis").validate({
    rules: {
      "interview_analysis[interview_evalution_id]":{
        required: true
              },
      "interview_analysis[interview_attribute_id]":{
        required: true
      },
      "interview_analysis[interview_decision_id]":{
        required: true
      },
      "interview_analysis[comment]":{
        required: true
      }
    },
    messages: {
      "interview_analysis[interview_evalution_id]":{
        required: "Please Interview Evaluation"
      },
      "interview_analysis[interview_attribute_id]":{
        required: "Please specify Interview Attribute"
      },
      "interview_analysis[interview_decision_id]":{
        required: "Please specify Interview Decision"
      },
      "interview_analysis[comment]":{
        required: "Please specify Comment"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
