<div class="box box-default">

  <div class="box-body">
  <%= bootstrap_form_for(@interview_analysis,html: {id: 'interview_analysis'},remote:true) do |f| %>
      <div class="row">

       <div class="col-sm-3">
        <div class="form-group required">
          <%= f.text_field :interview_evalution_id,label:"Interview Evaluation",class: 'input_interview_evalution' %>
        </div>
      </div>

       <div class="col-sm-3">
        <div class="form-group required">
         <%= f.text_field :interview_attribute_id,label:"Interview Attribute",class: 'input_interview_attribute' %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="form-group required">
         <%= f.text_field :interview_decision_id,label:"Interview Decision",class: 'input_interview_decision' %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :comment ,label:"Comment",class: 'input_comment' %>
        </div>
      </div>
      </div>

       <div class="row">
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit :class => class_name, data: { disable_with: data_info } %>
        </div>
      </div>
    </div>
    </div>
  </div>
<% end %>

