<p id="notice"><%= notice %></p>

<h1>Listing Interview Analyses</h1>

<table>
  <thead>
    <tr>
      <th>Vacancy request history</th>
      <th>Interview evalution</th>
      <th>Interview attribute</th>
      <th>Interview decision</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interview_analyses.each do |interview_analysis| %>
      <tr>
        <td><%= interview_analysis.vacancy_request_history %></td>
        <td><%= interview_analysis.interview_evalution %></td>
        <td><%= interview_analysis.interview_attribute %></td>
        <td><%= interview_analysis.interview_decision %></td>
        <td><%= interview_analysis.comment %></td>
        <td><%= link_to 'Show', interview_analysis %></td>
        <td><%= link_to 'Edit', edit_interview_analysis_path(interview_analysis) %></td>
        <td><%= link_to 'Destroy', interview_analysis, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interview analysis', new_interview_analysis_path %>
