 <table id="example1" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th><input type="checkbox" id="selectAll" value="selectAll"></th>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Designation</th>
        <th>Employement</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= check_box_tag "employee_ids[]", employee.id %></td>
          <td><%= employee.manual_employee_code %></td>
          <td><%= employee.first_name %><%= employee.middle_name %><%= employee.last_name %></td>
          <td><%= employee.joining_detail.try(:employee_designation).try(:name) %></td>
          <td><%= employee.employee_type.try(:name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>