	<table class="table table-bordered table-hover table-condensed">
	  <thead>
	    <tr>
	      <th><input type="checkbox" id="selectAll" value="selectAll"></th>
	    	<th>ID</th>
		    <th>Employee Name</th>
		    <th>Appraisee Rating</th>
		    <th>Appraiser Rating</th>
		    <th>Reviewer Rating</th>
		    <th>Final Rating</th>
		  </tr>
		</thead>
	  <tbody>
	  	<% @goal_ratings.each do |e|  %>
		    <tr>
		      <td><%= check_box_tag "goal_rating_ids[]", e.appraisee_id %></td>
		      <td><%= e.goal_bunch.employee.try(:manual_employee_code) %></td> 
		      <td><%= full_name(e.appraisee) %></td>
		      <td><%= e.goal_bunch.try(:appraisee_rating).try(:value) %></td>
		      <td><%= e.goal_bunch.try(:appraiser_rating) %></td>
		      <td><%= e.goal_bunch.try(:reviewer_rating).try(:value) %></td>
		      <td><%= e.goal_bunch.try(:final_rating).try(:value) %></td>
		      <%= hidden_field_tag "period_id[]", value: e.goal_bunch.period_id %>
		      <%= hidden_field_tag "appraisee_id[]", value: e.appraisee_id %>
		      <%= hidden_field_tag "attribute_master_id[]", value: e.attribute_master_id %>
		      <%= hidden_field_tag "goal_rating[]", value: e.id %>
		    </tr>
	    <% end %>
	  </tbody>
	</table>
<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>