<%= bootstrap_form_for(@goal_rating,url:{action: "create_for_multiple"},html: {id: "goal_rating"},goal_bunch_id: @goal_bunch.id) do |f| %>

    <div class="row">
      <div class="col-sm-3">
        <div class="form-group required">
        <%= f.select :goal_type,["Goal","Attribute"],{label: 'Performance Type',include_blank: "Select Type"},{onchange:"var a={goal_type:$(this).val()}; $.get('/goal_ratings/select_dropdown',a,function(response){});",class: 'form-control'} %>
      </div>
    </div>

      <div id="dropdown"></div>
      
      <div class="col-sm-3">
        <div class="form-group required">
          <%= f.text_field :goal_measure,{label: 'Measure',placeholder: 'Measure'} %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group required">
          <%= f.text_field :target,{label: 'Target',placeholder: 'Target/Unit'} %>
        </div>
      </div>
    </div>

    <div class="row">
    <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :goal_weightage,{label: 'Weightage',placeholder: 'Weightage'} %>
          </div>
      </div>

      <div class="col-sm-3">
        <div class="field">
          <%= f.select :aligned,["Yes","No"],{label: 'Aligned To Supervisor',include_blank: "Select Option"} %>
        </div>
      </div>
    </div>


    <div>
      <%= render 'employee_multiple' %>
    </div>
    
    <div class="row">
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit "Create Goal/Attribute", class: 'btn btn-primary btn-sm ' %>
        </div>
      </div>
    </div>
<% end %><br>
<script type="text/javascript">
  $("#goal_rating").validate({
    rules: {
      "goal_rating[goal_type]":{
        required: true
      },
      "goal_rating[goal_weightage]":{
        required: true,
        numbersOnly:true,
        range:[1,100]
      },
      "goal_rating[goal_measure]":{
        required: true
      }
    },
    messages: {
      "goal_rating[goal_type]":{
        required: "Please specify Goal Type"
      },
      "goal_rating[goal_weightage]":{
        required: "Please specify Weightage"
      },
      "goal_rating[goal_measure]":{
        required: "Please specify Goal Measure"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
<script type="text/javascript">
  $(function(){
    $('#salary_component_template_parent_salary_component_id').on('change', function() {
      enabled_percent_textbox();
    });

    function enabled_percent_textbox(){
      var parent_salary_component_id = parseInt($("#salary_component_template_parent_salary_component_id").val());
      if(isNaN(parent_salary_component_id)){
        $("#salary_component_template_percentage").val("");
        //$("#salary_component_template_percentage").prop('disabled', true);
      }
      else{
        $("#salary_component_template_percentage").prop('disabled', false);
      }
    }
  });
</script>