<div class="row">
    <div class="col-sm-6">
      <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr><td colspan="7"><center>Employee Goals </center></td></tr>
          <tr>
            <th>Goal Perspective</th>
            <th>Measure</th>
            <th>Activity</th>
            <th>Target</th>
            <th>Weightage</th>
            <th>Aligned</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @goal_ratings.each do |goal_rating| %>
            <tr>
              <td><%= goal_rating.goal_perspective.try(:name) %></td>
              <td><%= goal_rating.goal_measure %></td>
              <td><%= goal_rating.activity %></td>
              <td><%= goal_rating.target %></td>
              <td><%= goal_rating.goal_weightage %></td>
              <td><%= goal_rating.aligned %></td>
              <td>
                <% if goal_rating.goal_bunch.goal_confirm == true %>
                <small class="label label-info">Confirmed</small>
                <% else %>
                <!-- < link_to '', goal_set_modal_goal_ratings_path(goal_rating),class: 'btn btn-xs btn-success fa fa-edit',remote:true %> -->

                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- < elsif @goal_rating.goal_type == 'Attribute' %> -->

  <div class="col-sm-6">
    <table class="table table-bordered table-hover table-condensed">
      <thead>
       <tr><td colspan="6"><center> Employee Attribute & Definition</center></td></tr>
        <tr>
          <th>Attribute</th>
          <th>Measure</th>
          <th>Activity</th>
          <th>Target</th>
          <th>Weightage</th>
          <th>Aligned</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @goal_attribute_ratings.each do |goal_rating| %>
          <tr>
            <td><%= goal_rating.attribute_master.try(:name) %></td>
            <td><%= goal_rating.goal_measure %></td>
            <td><%= goal_rating.activity %></td>
            <td><%= goal_rating.target %></td>
            <td><%= goal_rating.goal_weightage %></td>
            <td><%= goal_rating.aligned %></td>
            <td>
              <% if goal_rating.goal_bunch.goal_confirm == true %>
              <small class="label label-info">Confirmed</small>
              <% else %>
                <!-- <= link_to '', attribute_set_modal_goal_ratings_path(goal_rating),class: 'btn btn-xs btn-success fa fa-edit',remote:true %> -->
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
