<div class="ajax-progress"></div>
    	<%= bootstrap_form_for(@training_plan,html: {id: "training_plan"},url:{controller: 'training_plans',action:'training_plan_create',appraisee_id: @appraisee_id}) do |f| %>

    	<%=  f.hidden_field :training_topic_master_id, value: @training_topic_master_id %>
    	<%=  f.hidden_field :period_id, value: @period_id %>
    <div class="row">
	    <div class="col-sm-3">
	      <label>Training Date</label>
	      <div class="form-group required">
	        <div class="input-group">
	          <div class="input-group-addon">
	            <i class="fa fa-calendar"></i>
	          </div>
	          <%= f.text_field :training_date, hide_label: true,class: 'training_date'%>
	        </div>
	      </div>
	    </div>

	    <div class="col-sm-3">
	      <div class="form-group required">
	        <%= f.text_field :trainer_name,label: 'Trainer Name',placeholder: 'Trainer Name' %>
	      </div>
	    </div>

	    <div class="col-sm-3">
	      <div class="field">
	        <%= f.text_field :no_of_days,label: 'No. of Days',placeholder: 'No. of Days' %>
	      </div>
	    </div>
	    <div class="col-sm-3">
	      <div class="field">
	        <%= f.text_field :no_of_hrs,label: 'No. of Hours',placeholder: 'No. of Hours' %>
	      </div>
	    </div>
	  </div>

	  <div class="row">
	    <div class="col-sm-3">
	      <div class="field">
	        <%= f.text_field :place,label: 'Place',placeholder: 'Place' %>
	      </div>
	    </div>
	  </div>

		<div>
      <%= render 'employee_list' %>
    </div>
		
			<div class="row">
		    <div class="col-sm-3">
		      <div class="actions">
		        <%= f.submit "Create Training Plan", class: 'btn btn-primary btn-sm' %>
		      </div>
		    </div>
	  	</div>
    <% end %>

<script type="text/javascript">
  $(function(){
     $('.training_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+5',
    dateFormat: 'dd-mm-yy' });
    });

  $("#training_plan").validate({
    rules: {
      "training_plan[training_date]":{
        required: true
      },
      "training_plan[no_of_employee]":{
        required: true
      },
      "training_plan[trainer_name]":{
        required: true
      }
    },
    messages: {
      "training_plan[training_date]":{
        required: "Please specify Training Date"
      },
      "training_plan[no_of_employee]":{
        required: "Please specify No of employee"
      },
      "training_plan[trainer_name]":{
        required: "Please specify Trainer Name"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
