<div class="ajax-progress"></div>

    	<%= bootstrap_form_for(@training_plan,url:{controller: 'training_plans',action:'training_plan_create',appraisee_id: @appraisee_id}) do |f| %>

    	<%=  f.hidden_field :training_topic_master_id, value: @training_topic_master_id %>
        <div class="row">
			    <div class="col-sm-3">
			      <label>Training Date</label>
			      <div class="form-group required">
			        <div class="input-group">
			          <div class="input-group-addon">
			            <i class="fa fa-calendar"></i>
			          </div>
			          <%= f.text_field :training_date, hide_label: true,class: 'birth_date'%>
			        </div>
			      </div>
			    </div>

			    <div class="col-sm-3">
			      <div class="form-group required">
			        <%= f.text_field :no_of_employee,placeholder: 'No of Employee' %>
			      </div>
			    </div>
			    <div class="col-sm-3">
			      <div class="form-group required">
			        <%= f.text_field :trainer_name,placeholder: 'Trainer Name' %>
			      </div>
			    </div>
			  </div>
			  <div class="row">
			    <div class="col-sm-3">
			      <div class="field">
			        <%= f.text_field :no_of_days,placeholder: 'No of Days' %>
			      </div>
			    </div>
			    <div class="col-sm-3">
			      <div class="field">
			        <%= f.text_field :no_of_hrs,placeholder: 'No of Hours' %>
			      </div>
			    </div>
			    <div class="col-sm-3">
			      <div class="field">
			        <%= f.text_field :place,placeholder: 'Place' %>
			      </div>
			    </div>
			  </div>

		<div>
      <%= render 'employee_list' %>
    </div>
		
			<div class="row">
		    <div class="col-sm-3">
		      <div class="actions">
		        <%= f.submit "Create Training Plan", class: 'btn btn-primary btn-sm' %>
		      </div>
		    </div>
	  	</div>
    <% end %>
