
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee List</h3>
    <div class="pull-right">  
    </div>
  </div>
  <div class="box-body">
    <table id="example6" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Employee</th>
          <th>Period</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @goal_bunches.each do |g| %>
          <tr>
            <td><%= g.employee.manual_employee_code %></td>
            <td><%= full_name(g.employee) %></td>
            <td><%= g.period.name %></td>
           <td>
            <% if g.goal_confirm == true %>
              <%= link_to 'View Goal', new_goal_rating_path(emp_id: g.employee_id,id: g.id),class: 'btn btn-info btn-xs' %>
            <% else %>
              <%= link_to 'Set Goal', new_goal_rating_path(emp_id: g.employee_id,id: g.id),class: 'btn btn-primary btn-xs' %>
            <% end %>
         
            </td>
          </tr>

        <% end %>
      </tbody>
    </table>
    <%= link_to 'Back', admin_level_period_goal_ratings_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
  </div>
</div>
  
<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true,
        "scrollY": 400

    } );
} );
</script>