<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:Index="1"><Data ss:Type="String">Sr. No.</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">ID</Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String">Employee</Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String">Company Location</Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String">Department</Data></Cell> 
        <Cell ss:Index="6"><Data ss:Type="String">Joining Date</Data></Cell>
        <Cell ss:Index="7"><Data ss:Type="String">Designation</Data></Cell>
        <Cell ss:Index="8"><Data ss:Type="String">Employee Grade</Data></Cell>

        <Cell ss:Index="9"><Data ss:Type="String">Qualification Level</Data></Cell>
        <Cell ss:Index="10"><Data ss:Type="String">Qualification </Data></Cell>
        <Cell ss:Index="11"><Data ss:Type="String">Qualification Specialization </Data></Cell>
        <Cell ss:Index="12"><Data ss:Type="String">Marks</Data></Cell>
        <Cell ss:Index="13"><Data ss:Type="String">Passout Year </Data></Cell>
        <Cell ss:Index="14"><Data ss:Type="String">College/School </Data></Cell>
        <Cell ss:Index="15"><Data ss:Type="String">University/Institute </Data></Cell>

        <Cell ss:Index="16"><Data ss:Type="String">Previous Company Name</Data></Cell>
        <Cell ss:Index="17"><Data ss:Type="String">Previous Designation </Data></Cell>
        <Cell ss:Index="18"><Data ss:Type="String">Previous Experience </Data></Cell>
        <Cell ss:Index="19"><Data ss:Type="String">Previous CTC </Data></Cell>

        <Cell ss:Index="20"><Data ss:Type="String">Self Comment </Data></Cell>
        <Cell ss:Index="21"><Data ss:Type="String">Self Rating </Data></Cell>
        <Cell ss:Index="22"><Data ss:Type="String">Appraiser Comment </Data></Cell>
        <Cell ss:Index="23"><Data ss:Type="String">Appraiser Rating </Data></Cell>
        <Cell ss:Index="24"><Data ss:Type="String">Reviewer Comment </Data></Cell>
        <Cell ss:Index="25"><Data ss:Type="String">Reviewer Rating </Data></Cell>
        <Cell ss:Index="26"><Data ss:Type="String">Final Comment </Data></Cell>
        <Cell ss:Index="27"><Data ss:Type="String">Final Rating </Data></Cell>
        </Row>

        <% i = 0 %>

        <% @goal_bunch_ids.each do |e| %>
        <% goal_bunch = GoalBunch.find_by(id: e) %>

        <% employee = Employee.find(goal_bunch.employee_id) %>
        <% joining_detail = JoiningDetail.find_by_employee_id(goal_bunch.employee_id) %>

        <% qualification = Qualification.where(employee_id: goal_bunch.employee_id).last %>
        <% experience = Experience.where(employee_id: goal_bunch.employee_id).last %>

        <% goal_bunch = GoalBunch.find_by(id: goal_bunch.id)%>

        <Row>
          <Cell ss:Index="1"><Data ss:Type="String"><%= i=i+1 %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="String"><%= goal_bunch.employee.try(:manual_employee_code) %></Data></Cell>
          <Cell ss:Index="3"><Data ss:Type="String"><%= full_name(goal_bunch.employee) %></Data></Cell>
          <Cell ss:Index="4"><Data ss:Type="String"><%= goal_bunch.employee.company_location.try(:name) %></Data></Cell>
          <Cell ss:Index="5"><Data ss:Type="String"><%= goal_bunch.employee.department.try(:name) %></Data></Cell>

          <Cell ss:Index="6"><Data ss:Type="String"><%= joining_detail.try(:joining_date) %></Data></Cell>
          <Cell ss:Index="7"><Data ss:Type="String"><%= joining_detail.try(:employee_designation).try(:name)%></Data></Cell> 
          <Cell ss:Index="8"><Data ss:Type="String"><%= joining_detail.try(:employee_grade).try(:name)%></Data></Cell> 
         
          <Cell ss:Index="9"><Data ss:Type="String"><%= qualification.try(:degree_type).try(:name) %></Data></Cell>
          <Cell ss:Index="10"><Data ss:Type="String"><%= qualification.try(:degree).try(:name) %></Data></Cell>
          <Cell ss:Index="11"><Data ss:Type="String"><%= qualification.try(:degree_stream).try(:name) %></Data></Cell>
          <Cell ss:Index="12"><Data ss:Type="String"><%= qualification.try(:marks) %></Data></Cell>
          <Cell ss:Index="13"><Data ss:Type="String"><%= qualification.try(:year).try(:name) %></Data></Cell>
          <Cell ss:Index="14"><Data ss:Type="String"><%= qualification.try(:college) %></Data></Cell>
          <Cell ss:Index="15"><Data ss:Type="String"><%= qualification.try(:university).try(:name) %></Data></Cell>

          <Cell ss:Index="16"><Data ss:Type="String"><%= experience.try(:company_name) %></Data></Cell>
          <Cell ss:Index="17"><Data ss:Type="String"><%= experience.try(:designation) %></Data></Cell>
          <Cell ss:Index="18"><Data ss:Type="String"><%= experience.try(:no_of_year) %></Data></Cell>
          <Cell ss:Index="19"><Data ss:Type="String"><%= experience.try(:ctc) %></Data></Cell>

          <Cell ss:Index="20"><Data ss:Type="String"><%= goal_bunch.try(:appraisee_comment) %></Data></Cell>
          <Cell ss:Index="21"><Data ss:Type="String"><% @a = goal_bunch.try(:appraisee_rating_id).to_f %><%= @a.round(2) %></Data></Cell>
          <Cell ss:Index="22"><Data ss:Type="String"><%= goal_bunch.try(:appraiser_comment) %></Data></Cell>
          <Cell ss:Index="23"><Data ss:Type="String"><%= goal_bunch.try(:appraiser_rating) %></Data></Cell>
          <Cell ss:Index="24"><Data ss:Type="String"><%= goal_bunch.try(:review_comment) %></Data></Cell>
          <Cell ss:Index="25"><Data ss:Type="String"><%= goal_bunch.try(:reviewer_rating).try(:value) %></Data></Cell>
          <Cell ss:Index="26"><Data ss:Type="String"><%= goal_bunch.try(:final_comment) %></Data></Cell>
          <Cell ss:Index="27"><Data ss:Type="String"><%= goal_bunch.try(:final_rating).try(:value) %></Data></Cell>
     </Row><!-- Row -->
      <% end %><!-- slip -->
    </Table>
  </Worksheet>
</Workbook>
