<style>
  th {
      text-align: left;
  }
  tr {
      page-break-inside: avoid;
  }
  div.alwaysbreak { page-break-before: always; }
  div.nobreak:before { clear:both; }
  div.nobreak{ page-break-inside: avoid;
    /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
  }
</style>
<div>
    <% i=0%>

    <table style="border-collapse: collapse; font-size:10pt;" border=1 width=1200 cellpadding="5">
      <thead>
         <tr>
          <td colspan="27"><center> 
            <% if current_user.employee.company_location.company.company_logo == nil %>
            <% else %>
              <center> <%= wicked_pdf_image_tag current_user.employee.company_location.company.company_logo.url, :size => "90x50" %></center>
            <%end%> 
              <strong><%=current_user.employee.company_location.company.try(:description)%></strong> <br> <%= current_user.employee.company_location.company.try(:address)%></center>
          </td>
        </tr> 
        <tr>
          <th colspan="27"><center>Performance Report for Period: <%= @period.name %> From: <%= @period.from %> To: <%= @period.to %></center></th></tr>
          <th>Sr.No.</th>
          <th>ID</th>
          <th>Employee</th>
          <th>Company Location</th>
          <th>Department</th>
          <th>Date Of Joining</th>
          <th>Designation</th> 
          <th>Grade</th>
          <th>Qualification Level</th>
          <th>Qualification </th>
          <th>Qualification Specialization </th>
          <th>Marks</th>
          <th>Passout Year </th>
          <th>College/School </th>
          <th>University/Institute </th>
          <th>Previous Company Name </th>
          <th>Previous Designation </th>
          <th>Previous Experience </th>
          <th>Previous CTC </th>
          <th>Self Comment </th>
          <th>Self Rating </th>
          <th>Appraiser Comment </th>
          <th>Appraiser Rating </th>
          <th>Reviewer Comment </th>
          <th>Reviewer Rating </th>
          <th>Final Comment </th>
          <th>Final Rating </th>
        </tr> 
      </thead>

        <% i = 0 %>
        <% @goal_bunches.each do |e| %>
        <% employee = Employee.find(e.employee_id) %>
        <% joining_detail = JoiningDetail.find_by_employee_id(e.employee_id) %>
        <% qualification = Qualification.where(employee_id: e.employee_id).last %>
        <% experience = Experience.where(employee_id: e.employee_id).last %>
        <% goal_bunch = GoalBunch.find_by(id: e.id)%>

      <tbody>
        <tr>

          <td><%= i=i+1 %></td>
          <td><%= e.employee.manual_employee_code %></td>
          <td><%= full_name(e.employee) %></td>
          <td><%= e.employee.company_location.try(:name) %></td>
          <td><%= e.employee.department.try(:name) %></td>

          <td><%= joining_detail.try(:joining_date) %></td>
          <td><%= joining_detail.try(:employee_designation).try(:name)%></td>
          <td><%= joining_detail.try(:employee_grade).try(:name)%></td>
         
          <td><%= qualification.try(:degree_type).try(:name) %></td>
          <td><%= qualification.try(:degree).try(:name) %></td>
          <td><%= qualification.try(:degree_stream).try(:name) %></td>
          <td><%= qualification.try(:marks) %></td>
          <td><%= qualification.try(:year).try(:name) %></td>
          <td><%= qualification.try(:college) %></td>
          <td><%= qualification.try(:university).try(:name) %></td>

          <td><%= experience.try(:company_name) %></td>
          <td><%= experience.try(:designation) %></td>
          <td><%= experience.try(:no_of_year) %></td>
          <td><%= experience.try(:ctc) %></td>

          <td><%= goal_bunch.try(:appraisee_comment) %></td>
          <td><% @a = goal_bunch.try(:appraisee_rating_id).to_f %><%= @a.round(2) %></td>
          <td><%= goal_bunch.try(:appraiser_comment) %></td>
          <td><%= goal_bunch.try(:appraiser_rating) %></td>
          <td><%= goal_bunch.try(:review_comment) %></td>
          <td><%= goal_bunch.try(:reviewer_rating).try(:value) %></td>
          <td><%= goal_bunch.try(:final_comment) %></td>
          <td><%= goal_bunch.try(:final_rating).try(:value) %></td>
        </tr>
      </tbody>
      <% end %>
    </table>

</div>