<p id="notice"><%= notice %></p>

<h1>Listing Goal Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Goal bunch</th>
      <th>Goal perspective</th>
      <th>Goal weightage</th>
      <th>Goal measure</th>
      <th>Target</th>
      <th>Aligned</th>
      <th>Goal setter</th>
      <th>Appraisee</th>
      <th>Appraisee comment</th>
      <th>Appraiser</th>
      <th>Appraiser comment</th>
      <th>Appraiser rating</th>
      <th>Reviewer</th>
      <th>Reviewer comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goal_ratings.each do |goal_rating| %>
      <tr>
        <td><%= goal_rating.goal_bunch %></td>
        <td><%= goal_rating.goal_perspective %></td>
        <td><%= goal_rating.goal_weightage %></td>
        <td><%= goal_rating.goal_measure %></td>
        <td><%= goal_rating.target %></td>
        <td><%= goal_rating.aligned %></td>
        <td><%= goal_rating.goal_setter %></td><p id="notice"><%= notice %></p>

<h1>Listing Goal Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Goal bunch</th>
      <th>Goal perspective</th>
      <th>Goal weightage</th>
      <th>Goal measure</th>
      <th>Target</th>
      <th>Aligned</th>
      <th>Goal setter</th>
      <th>Appraisee</th>
      <th>Appraisee comment</th>
      <th>Appraiser</th>
      <th>Appraiser comment</th>
      <th>Appraiser rating</th>
      <th>Reviewer</th>
      <th>Reviewer comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goal_ratings.each do |goal_rating| %>
      <tr>
        <td><%= goal_rating.goal_bunch %></td>
        <td><%= goal_rating.goal_perspective %></td>
        <td><%= goal_rating.goal_weightage %></td>
        <td><%= goal_rating.goal_measure %></td>
        <td><%= goal_rating.target %></td>
        <td><%= goal_rating.aligned %></td>
        <td><%= goal_rating.goal_setter %></td>
        <td><%= goal_rating.appraisee %></td>
        <td><%= goal_rating.appraisee_comment %></td>
        <td><%= goal_rating.appraiser %></td>
        <td><%= goal_rating.appraiser_comment %></td>
        <td><%= goal_rating.appraiser_rating %></td>
        <td><%= goal_rating.reviewer %></td>
        <td><%= goal_rating.review_comment %></td>
        <td><%= link_to 'Show', goal_rating %></td>
        <td><%= link_to 'Edit', edit_goal_rating_path(goal_rating) %></td>
        <td><%= link_to 'Destroy', goal_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal rating', new_goal_rating_path %>
        <td><%= goal_rating.appraisee %></td>
        <td><%= goal_rating.appraisee_comment %></td>
        <td><%= goal_rating.appraiser %></td>
        <td><%= goal_rating.appraiser_comment %></td>
        <td><%= goal_rating.appraiser_rating %></td>
        <td><%= goal_rating.reviewer %></td>
        <td><%= goal_rating.review_comment %></td>
        <td><%= link_to 'Show', goal_rating %></td>
        <td><%= link_to 'Edit', edit_goal_rating_path(goal_rating) %></td>
        <td><%= link_to 'Destroy', goal_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal rating', new_goal_rating_path %><p id="notice"><%= notice %></p>

<h1>Listing Goal Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Goal bunch</th>
      <th>Goal perspective</th>
      <th>Goal weightage</th>
      <th>Goal measure</th>
      <th>Target</th>
      <th>Aligned</th>
      <th>Goal setter</th>
      <th>Appraisee</th>
      <th>Appraisee comment</th>
      <th>Appraiser</th>
      <th>Appraiser comment</th>
      <th>Appraiser rating</th>
      <th>Reviewer</th>
      <th>Reviewer comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @goal_ratings.each do |goal_rating| %>
      <tr>
        <td><%= goal_rating.goal_bunch %></td>
        <td><%= goal_rating.goal_perspective %></td>
        <td><%= goal_rating.goal_weightage %></td>
        <td><%= goal_rating.goal_measure %></td>
        <td><%= goal_rating.target %></td>
        <td><%= goal_rating.aligned %></td>
        <td><%= goal_rating.goal_setter %></td>
        <td><%= goal_rating.appraisee %></td>
        <td><%= goal_rating.appraisee_comment %></td>
        <td><%= goal_rating.appraiser %></td>
        <td><%= goal_rating.appraiser_comment %></td>
        <td><%= goal_rating.appraiser_rating %></td>
        <td><%= goal_rating.reviewer %></td>
        <td><%= goal_rating.review_comment %></td>
        <td><%= link_to 'Show', goal_rating %></td>
        <td><%= link_to 'Edit', edit_goal_rating_path(goal_rating) %></td>
        <td><%= link_to 'Destroy', goal_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Goal rating', new_goal_rating_path %>