<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Set Goals And Attribute</h3>
    <div class="pull-right">

    <% if @goal_bunch.goal_confirm == true %>
      <%= link_to " Template ", "/Templates/61.Goal Setting.xls", :class=>" fa fa-download btn-xl btn btn-warning" %>
    <% else %>
    	<%= link_to " Upload ", import_xl_goal_ratings_path(goal_bunch_id: @goal_bunch.id,emp_id: @employee.id), class: 'fa fa-upload btn btn-xl btn-primary' %>
    
     	<%= link_to " Template ", "/Templates/61.Goal Setting.xls", :class=>" fa fa-download btn-xl btn btn-warning" %>
    <% end %>
     </div>

  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="goal_rating_list">
			<%= render 'goal_rating_list' %>
		</div>
		<div id="myModal" class="modal fade"></div>
	</div><!-- /.box-body -->
</div><!-- /.box -->