<style type="text/css">
 .page-break { display:block; clear:both; page-break-after:always; }
</style>
  <div class = "page-break">
     <table style="border-collapse: collapse; font-size:10pt;" border=1 width=1200 cellpadding="5"> 
        <thead>
        <tr>
          <td colspan="6"><center>Employee Rating Detail</center></td>
        </tr>
          <tr>
            <th>ID</th>
            <th>Employee Name</th>
            <th>Appraisee Rating</th>
            <th>Appraiser Rating</th>
            <th>Reviewer Rating</th>
            <th>Final Rating</th>
          </tr>
        </thead>
        <tbody>
          <% @goal_bunches.each do |e| %>
          <tr>
          <td><%= e.employee.manual_employee_code %></td>
          <td><%= e.employee.first_name %> <%= e.employee.middle_name %> <%= e.employee.last_name %> </td>
          <td><%= e.appraisee_rating_id %></td> 
          <td><%= e.appraiser_rating %></td>
          <td><%= e.reviewer_rating.try(:value) %></td>
          <td><%= e.final_rating.try(:value) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>