<style type="text/css">

 .page-break { display:block; clear:both; page-break-after:always; }

</style>
<div>
    <% i=0%>
  <% @goal_bunches.each do |e| %>
  <% employee = Employee.find(e.employee_id) %>
  <% @joining_detail = JoiningDetail.find_by_employee_id(e.employee_id) %>
  <% @experiences = Experience.where(employee_id: e.employee_id) %>
  <% @qualifications = Qualification.where(employee_id: e.employee_id) %>
  <% @employee_promotions = EmployeePromotion.where(employee_id: e.employee_id) %>
  <% @goal_ratings = GoalRating.where(appraisee_id: e.employee_id, goal_bunch_id: e.id, goal_type: 'Goal') %>
  <% @goal_attribute_ratings = GoalRating.where("goal_bunch_id = ? AND goal_type = ?", e.id ,'Attribute') %>
  <% @goal_bunches = GoalBunch.where(employee_id: e.employee_id, id: e.id).group(:employee_id) %>
<div class="page-break">
<table style="border-collapse: collapse; font-size:10pt;" border=1 width=1200 cellpadding="5">    
  <thead>
  <tr>
    <% i=i+1%>
    <th><%= i %></th>
    <th colspan="6"><center>Performance Report for Period: <%= @period.name %> From: <%= @period.from %> To: <%= @period.to %></center></th></tr>
    <tr><th colspan="7"><center><font color='orange'>Employee Performance Detail</font></center></th></tr>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Age</th>
      <th>Department</th>
      <th>Date Of Joining</th>
      <th>Grade</th>
      <th>Designation</th> 
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= e.employee.manual_employee_code %></td> 
      <td><%= full_name(e.employee) %></td>
      <td><%=  %></td>
      <td><%= e.employee.department.try(:name) %></td>
      <td><%= @joining_detail.joining_date %></td>
      <td><%= @joining_detail.employee_grade.try(:name) %></td>
      <td><%= @joining_detail.employee_designation.try(:name) %></td>
    </tr>
  </tbody>
</table>

<table style="border-collapse: collapse; font-size:10pt;" border=1 width=1200 cellpadding="5">    
  <thead>
  <tr><th colspan="4"><center>Previous Experience</center></th></tr>
    <tr>
      <th>Company</th>
      <th>Designation</th>
      <th>Exp.(Years)</th>
      <th>CTC</th>
    </tr>
  </thead>
  <tbody>
    <% @experiences.each do |e| %>
      <tr>
        <td><%= e.company_name %></td>
        <td><%= e.designation %></td>
        <td align="right"><%= e.no_of_year %></td>
        <td align="right"><%= e.ctc %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 <table style="border-collapse: collapse; font-size:10pt;" border=1 width=1200 cellpadding="5" >     
    <thead>
    <tr><th colspan="4"><center>Qualification</center></th></tr>
      <tr>
        <th>Degree</th>
        <th>Year Of Passing</th>
        <th>Marks</th>
        <th>Qualification</th>
      </tr>
    </thead>
    <tbody>
      <% @qualifications.try(:each) do |q| %>
        <tr>
          <td><%= q.degree.try(:name) %></td>
          <td><%= q.year.try(:name)%> </td>
          <td><%= q.marks %></td>
          <td><%= q.degree_type.try(:name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


 <table style="border-collapse: collapse; font-size:10pt;" border=1 width=1200 cellpadding="5">    
    <thead>
    <tr><th colspan="7"><center>Promotion Details</center></th></tr>
      <tr>
        <th>Department</th>
        <th>Designation</th>
        <th>Grade</th>
        <th>Category</th>
        <th>CTC</th>
        <th>From</th>
        <th>To</th>
      </tr>
    </thead>
    <tbody>
    <% @employee_promotions.each do |employee_promotion| %>
        <tr>
          <td><%= employee_promotion.employee.try(:company_location).try(:name) %> - <%= employee_promotion.employee.try(:department).try(:name) %></td>
          <td><%= employee_promotion.employee_designation.try(:name) %></td>
          <td><%= employee_promotion.employee_grade.try(:name) %></td>
          <td><%= employee_promotion.employee_category.try(:name) %></td>
          <td><%= employee_promotion.try(:ctc) %></td>
          <td><%= employee_promotion.effective_from %></td>
          <td><%= employee_promotion.effective_to %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  <table style="border-collapse: collapse; font-size:10pt;" border=1 width=1200 cellpadding="5">     
    <thead>
    <tr><th colspan="10"><center>Performance Record</center></th></tr>
    <tr><th colspan="10"><center>Goals</center></th></tr>
      <tr>
        <th>Goal Perspective</th>
        <th>Goal Measure</th>
        <th>Target/Unit</th>
        <th>Goal Weightage</th>
        <th>Aligned</th>
        <th>Self Comment</th>
        <th>Self Rating</th>
        <th>Appraiser Comment</th>
        <th>Appraiser Rating</th>
        <th>Reviewer Comment</th>
      </tr>
    </thead>
    <tbody>
      <% @goal_ratings.each do |goal_rating| %>
        <tr>
          <td><%= goal_rating.goal_perspective.try(:name) %></td>
          <td><%= goal_rating.goal_measure %></td>
          <td><%= goal_rating.target %></td>
          <td><%= goal_rating.goal_weightage %></td>
          <td><%= goal_rating.aligned %></td>
          <td><%= goal_rating.appraisee_comment %></td>
          <td><%= goal_rating.try(:appraisee_rating).try(:value) %></td>
          <td><%= goal_rating.appraiser_comment %></td>
          <td><%= goal_rating.try(:appraiser_rating).try(:value) %></td>
          <td><%= goal_rating.reviewer_comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

 <table style="border-collapse: collapse; font-size:10pt;" border=1 width=1200 cellpadding="5">     
    <thead>
    <tr><th colspan="10"><center>Attributes</center></th></tr>
      <tr>
        <th>Attribute</th>
        <th>Goal Measure</th>
        <th>Target/Unit</th>
        <th>Goal Weightage</th>
        <th>Aligned</th>
        <th>Self Comment</th>
        <th>Self Rating</th>
        <th>Appraiser Comment</th>
        <th>Appraiser Rating</th>
        <th>Reviewer Comment</th>
      </tr>
    </thead>
    <tbody>
      <% @goal_attribute_ratings.each do |goal_rating| %>
        <tr>
          <td><%= goal_rating.attribute_master.try(:name) %></td>
          <td><%= goal_rating.goal_measure %></td>
          <td><%= goal_rating.target %></td>
          <td><%= goal_rating.goal_weightage %></td>
          <td><%= goal_rating.aligned %></td>
          <td><%= goal_rating.appraisee_comment %></td>
          <td><%= goal_rating.try(:appraisee_rating).try(:value) %></td>
          <td><%= goal_rating.appraiser_comment %></td>
          <td><%= goal_rating.try(:appraiser_rating).try(:value) %></td>
          <td><%= goal_rating.reviewer_comment %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

 <table style="border-collapse: collapse; font-size:10pt;" border=1 width=1200 cellpadding="5">    
    <tbody>
      <% @goal_bunches.each do |goal_bunch| %>
      <tr><th colspan="2"><center>Overall Performance Detail</center></th></tr>
        <tr>
          <th>Self Comment</th>
          <td><%= goal_bunch.try(:appraisee_comment) %></td>
        </tr>
        <tr>
          <th>Self Rating</th>
          <td><%= goal_bunch.try(:appraisee_rating_id) %></td>
        </tr>
        <tr>
          <th>Appraiser Comment</th>
          <td><%= goal_bunch.try(:appraiser_comment) %></td>
        </tr>
        <tr>
          <th>Appraiser Rating</th>
          <td><%= goal_bunch.try(:appraiser_rating) %></td>
        </tr>
        <tr>
          <th>Reviewer Comment</th>
          <td><%= goal_bunch.try(:review_comment) %></td>
        </tr>
        <tr>
          <th>Reviewer Rating</th>
          <td><%= goal_bunch.try(:reviewer_rating).try(:value) %></td>
        </tr>
        <tr>
          <th>Final Comment</th>
          <td><%= goal_bunch.try(:final_comment) %></td>
        </tr>
        <tr>
          <th>Final Rating</th>
          <td><%= goal_bunch.try(:final_rating).try(:value) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

 <table style="border-collapse: collapse; font-size:10pt;" border=1 width=1200 cellpadding="5">     
    <tbody>
      <% @goal_bunches.each do |goal_bunch| %>
      <tr><th colspan="2"><center>Detail</center></th><th>Contact No</th><th>Sign</th></tr>
        <tr>
          <th>Appraisee Name</th>
          <td><%= goal_bunch.employee.try(:first_name) %> <%= goal_bunch.employee.try(:middle_name) %> <%= goal_bunch.employee.try(:last_name) %></td>
          <td><%= goal_bunch.employee.try(:contact_no) %></td>
          <td></td>
        </tr>
        <tr>
          <th>Appraiser Name</th>
          <td><%= goal_bunch.employee.manager.try(:first_name) %> <%= goal_bunch.employee.manager.try(:middle_name) %> <%= goal_bunch.employee.manager.try(:last_name) %></td>
          <td><%= goal_bunch.employee.manager.try(:contact_no) %></td>
          <td></td>
        </tr>
        <tr>
          <th>Reviewer Name</th>
          <td><%= goal_bunch.employee.manager_2.try(:first_name) %> <%= goal_bunch.employee.manager_2.try(:middle_name) %> <%= goal_bunch.employee.manager_2.try(:last_name) %></td>
          <td><%= goal_bunch.employee.manager_2.try(:contact_no) %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
<% end %>