<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Training Plan Detail</h3>
    <div class="pull-right">
      <%= link_to " Print ",all_emp_list_goal_ratings_path(format: 'pdf',trainee_ids: @trainees), class: "btn btn-sm btn-info fa fa-print" %>
    </div> 
  </div>

<div class="box box-default">
  <div class="box-body">
  <% @trainees.each do |t|  %>
  <% employee = Employee.find(t.employee_id) %>
  <% joining_detail = JoiningDetail.find_by_employee_id(t.employee_id) %>
  <% @experiences = Experience.where(employee_id: t.employee_id) %>
  <% @qualifications = Qualification.where(employee_id: t.employee_id) %>
  <% @employee_promotions = EmployeePromotion.where(employee_id: t.employee_id) %>
  <% @trainees = Trainee.where(employee_id: t.employee_id) %>

	   <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
	      <thead>
	      <tr><th colspan="8"><center>Employee Detail</center></th></tr>
	        <tr>
	          <th>ID</th>
	          <th>Name</th>
	          <th>Age</th>
	          <th>Department</th>
	          <th>Date Of Joining</th>
	          <th>Grade</th>
	          <th>Designation</th> 
            <th>Current Experience</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr>
	          <td><%= t.employee.manual_employee_code %></td> 
	          <td><%= full_name(t.employee) %></td>
	          <td><% day = Date.today - t.employee.try(:date_of_birth).to_date %><% d = day.to_i/365 %><%= d %></td>
	          <td><%= t.employee.department.try(:name) %></td>
	          <td><%= joining_detail.joining_date %></td>
	          <td><%= joining_detail.employee_grade.try(:name) %></td>
	          <td><%= joining_detail.employee_designation.try(:name) %></td>
            <td><% day = Date.today - joining_detail.joining_date.to_date %><% d = day.to_f/365 %><% int = d.to_i %><% remaining = d.to_f - int.to_f %><% day1 = remaining.to_f * 365 %><% day2 = day1.to_f/30 %>
            <% if int.to_i > 0 %>
              <%= int.to_i %>.<%= day2.to_i %> <%= "year" %>
            <% else %>
              <%= day2.to_i %><%= "month" %>
            <% end %>
          </td>
	        </tr>
	      </tbody>
	    </table>
	    <br>

    
      <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
          <thead>
          <tr><th colspan="4"><center>Previous Experience</center></th></tr>
            <tr>
              <th>Company</th>
              <th>Designation</th>
              <th>Exp.(Years)</th>
              <th>CTC</th>
            </tr>
          </thead>
          <tbody>
            <% @experiences.each do |experience| %>
              <tr>
                <td><%= experience.try(:company_name) %></td>
                <td><%= experience.try(:designation) %></td>
                <td align="right"><%= experience.try(:no_of_year) %></td>
                <td align="right"><%= experience.try(:ctc) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>

        <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
          <thead>
          <tr><th colspan="4"><center>Qualification</center></th></tr>
            <tr>
              <th>Degree</th>
              <th>Year Of Passing</th>
              <th>Marks</th>
              <th>Qualification</th>
            </tr>
          </thead>
          <tbody>
            <% @qualifications.each do |qualification| %>
              <tr>
                <td><%= qualification.try(:degree).try(:name) %></td>
                <td><%= qualification.try(:year).try(:name)%> </td>
                <td><%= qualification.try(:marks) %></td>
                <td><%= qualification.try(:degree_type).try(:name) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br>

      <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
        <thead>
        <tr><th colspan="7"><center>Promotion Detail</center></th></tr>
          <tr>
            <th>Department</th>
            <th>Designation</th>
            <th>Grade</th>
            <th>Category</th>
            <th>CTC</th>
            <th>From</th>
            <th>To</th>
          </tr>
        </thead>
        <tbody>
          <% @employee_promotions.each do |employee_promotion| %>
            <tr>
              <td><%= employee_promotion.employee.try(:company_location).try(:name) %> - <%= employee_promotion.employee.try(:department).try(:name) %></td>
              <td><%= employee_promotion.employee_designation.try(:name) %></td>
              <td><%= employee_promotion.employee_grade.try(:name) %></td>
              <td><%= employee_promotion.employee_category.try(:name) %></td>
              <td><%= employee_promotion.try(:ctc) %></td>
              <td><%= employee_promotion.effective_from %></td>
              <td><%= employee_promotion.effective_to %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>

      <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
        <thead>
        <tr><th colspan="7"><center>Training Plan Detail</center></th></tr>
          <tr>
	          <th>Employee ID</th>
	          <th>Employee Name</th>
	          <th>Training Topic</th>
	          <th>Training Date</th>
	          <th>Trainer Name</th>
	          <th>No. Of Employee</th>
	          <th>Place</th>
          </tr>
        </thead>
        <tbody>
          <% @trainees.each do |trainee| %>
            <tr>
              <td><%= trainee.employee.try(:manual_employee_code) %></td>
	            <td><%= full_name(trainee.employee) %></td>
	            <td><%= trainee.training_plan.try(:training_topic_master).try(:name) %></td>
	            <td><%= trainee.training_plan.try(:training_date) %></td>
	            <td><%= trainee.training_plan.try(:trainer_name) %></td>
	            <td><%= trainee.training_plan.try(:no_of_employee) %></td> 
	            <td><%= trainee.training_plan.try(:place) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>

  <% end %>
</div>
</div>
</div>
<br><br>