<p id="notice"><%= notice %></p>

<p>
  <strong>Goal bunch:</strong>
  <%= @goal_rating.goal_bunch %>
</p>

<p>
  <strong>Goal perspective:</strong>
  <%= @goal_rating.goal_perspective %>
</p>

<p>
  <strong>Goal weightage:</strong>
  <%= @goal_rating.goal_weightage %>
</p>

<p>
  <strong>Goal measure:</strong>
  <%= @goal_rating.goal_measure %>
</p>

<p>
  <strong>Target:</strong>
  <%= @goal_rating.target %>
</p>

<p>
  <strong>Aligned:</strong>
  <%= @goal_rating.aligned %>
</p>

<p>
  <strong>Goal setter:</strong>
  <%= @goal_rating.goal_setter %>
</p>

<p>
  <strong>Appraisee:</strong>
  <%= @goal_rating.appraisee %>
</p>

<p>
  <strong>Appraisee comment:</strong>
  <%= @goal_rating.appraisee_comment %>
</p>

<p>
  <strong>Appraiser:</strong>
  <%= @goal_rating.appraiser %>
</p>

<p>
  <strong>Appraiser comment:</strong>
  <%= @goal_rating.appraiser_comment %>
</p>

<p>
  <strong>Appraiser rating:</strong>
  <%= @goal_rating.appraiser_rating %>
</p>

<p>
  <strong>Reviewer:</strong>
  <%= @goal_rating.reviewer %>
</p>

<p>
  <strong>Reviewer comment:</strong>
  <%= @goal_rating.reviewer_comment %>
</p>

<%= link_to 'Edit', edit_goal_rating_path(@goal_rating) %> |
<%= link_to 'Back', goal_ratings_path %>
