<%= form_for(@reimbursement_request) do |f| %>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :reimbursement_head_id %><br>
    <%= f.text_field :reimbursement_head_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :approval_id %><br>
    <%= f.text_field :approval_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
