<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @reimbursement_request.employee %>
</p>

<p>
  <strong>Reimbursement head:</strong>
  <%= @reimbursement_request.reimbursement_head %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reimbursement_request.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @reimbursement_request.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @reimbursement_request.status %>
</p>

<p>
  <strong>Approval:</strong>
  <%= @reimbursement_request.approval %>
</p>

<%= link_to 'Edit', edit_reimbursement_request_path(@reimbursement_request) %> |
<%= link_to 'Back', reimbursement_requests_path %>
