<%= bootstrap_form_for(@rewards_allocation,remote:true) do |f| %>

  <div class="row">
    <div class="col-sm-3">
    <label>Reward Type</label> 
      <div class="field">
        <%= f.select :reward_type_id,all_reward_type,{hide_label:true, include_blank: 'Select Reward Type'} %>
      </div>
    </div>

    <div class="col-sm-3">
    <label>Department</label>
      <div class="field">
        <%= f.select :department_id,all_department_list,{hide_label:true, include_blank: 'Select Department'} %>
      </div>
    </div>

    <div class="col-sm-3">
    <label>Reporting Manager</label>
      <div class="field">
        <%= f.select :reporting_master_id,all_reporting_master_list,{hide_label:true, include_blank: 'Select Reporting Manager'} %>
      </div>
    </div>

    <div class="col-sm-3">
      <label>From </label>
      <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :from, hide_label: true, class: 'birth_date1'%>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <label>To </label>
      <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :to, hide_label: true, class: 'birth_date1'%>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
    <label>Allocated Qty</label>
      <div class="field">
        <%= f.text_field :allocated_qty,hide_label:true, placeholder: 'Allocated Qty' %>
      </div>
    </div>

    <div class="col-sm-3">
    <label>Cost</label>
      <div class="field">
        <%= f.text_field :cost,hide_label:true, placeholder: 'Cost' %>
      </div>
    </div>

    <div class="col-sm-3">
    <label></label>
      <div class="actions">
        <%= f.submit :class => class_name, data: { disable_with: data_info } %>
      </div>
    </div>
  </div>
    <% end %>
<br>

<script type="text/javascript">
  $('.birth_date1').datepicker({
  changeYear:true,
  changeMonth: true,
  yearRange: '-100:+10',
  dateFormat: 'dd-mm-yy' });
</script>