<%= bootstrap_form_for @daily_bill_detail,url:{action:'is_confirm',qwe: @travel_request.id} do |f| %>
<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th><input type="checkbox" id="selectAll" value="selectAll"></th>
      <th>Expence Date</th>
      <th>E Place</th>
      <th>Travel Expence</th>
      <th>Local Travel Expence</th>
      <th>Lodging Expence</th>
      <th>Boarding Expence</th>
      <th>Other Expence</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @daily_bill_details.each do |daily_bill_detail| %>
      <tr>
        <td>
          <% if daily_bill_detail.is_confirm == true %>

          <% else %>
            <%= check_box_tag "daily_bill_detail_ids[]",daily_bill_detail.id %>
          <% end %>
        </td>
        <td><%= daily_bill_detail.expence_date %></td>
        <td><%= daily_bill_detail.e_place %></td>
        <td><%= daily_bill_detail.travel_expence %></td>
        <td><%= daily_bill_detail.local_travel_expence %></td>
        <td><%= daily_bill_detail.lodging_expence %></td>
        <td><%= daily_bill_detail.boarding_expence %></td>
        <td><%= daily_bill_detail.other_expence %></td>
        <td>
          <% if daily_bill_detail.is_confirm == true %>
            <small class="label label-info">Confirmed</small>
            <% else %>
              <%= link_to '', edit_daily_bill_detail_path(daily_bill_detail),class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
              <%= link_to '',  daily_bill_detail, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-xs btn-danger fa fa-close' %>
            <% end %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
  
  <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Confirm", class: 'btn btn-primary btn-sm' %> 
        <br><br>
        <%= link_to 'Back', daily_bill_travel_requests_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>

      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>