<%= bootstrap_form_for @daily_bill_detail do |f| %>
  <table id="example2" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <td colspan="8"><center><font color='label-primary'>Expense Claim List</center></td>
      </tr>
      <tr>
        <th>Date</th>
        <th>Place</th>
        <th>Expense Option</th>
        <th>Expence Mode</th>
        <th>Mode Option</th>
        <th>Billing Option</th>
        <th>Expense Amount</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @daily_bill_details.each do |daily_bill_detail| %>
        <tr>
          <td><%= daily_bill_detail.expence_date %></td>
          <td><%= daily_bill_detail.e_place %></td>
          <td><%= daily_bill_detail.try(:expence_opestion).try(:name) %></td>
          <td><%= daily_bill_detail.try(:mode).try(:name) %></td>
          <td><%= daily_bill_detail.try(:billing_option).try(:name)%></td>
          <td><%= daily_bill_detail.try(:billing_opestion)%></td>
          <!-- <td><%#= daily_bill_detail.travel_expence_type.try(:name) %></td> -->
          <td><%= daily_bill_detail.travel_expence %></td>
          <td>
            <% if daily_bill_detail.is_confirm == true %>
              <small class="label label-info">Confirmed</small>
            <% else %>
              <%#= link_to '', edit_daily_bill_detail_path(daily_bill_detail),class: 'btn btn-xs btn-success fa fa-edit',remote:true %>

              <%= link_to '', modal_expense_edit_daily_bill_details_path(daily_bill_detail: daily_bill_detail,travel_request: @travel_request),class: 'btn btn-default btn-xs fa fa-edit',remote:true %>

              <!-- <= link_to '', daily_bill_detail,class: 'btn btn-xs btn-default fa fa-eye' %> -->
              <%= link_to '',  daily_bill_detail, method: :delete, data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-danger fa fa-close' %>
              <%= link_to '', modal_expense_claim_list_daily_bill_details_path(daily_bill_detail),class: 'btn btn-default btn-xs fa fa-eye',remote:true %>
            <% end %>
            <% if daily_bill_detail.request_status == "Approved" %>
              <small class="label label-success">Approved</small>
            <% else %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <th colspan="7">Total</th>
        <th><%= @daily_bill_details.sum(:travel_expence) %></th>
      </tr>    
    </tbody>
  </table>
  
  <div class="row">
    <div class="col-sm-9">
      <div class="actions">
        <% if @travel_request.is_confirm == true %>
        <% else %>
          <%= link_to 'Confirm',is_confirm_daily_bill_details_path(travel_request_id: @travel_request.id),class: 'btn btn-primary btn-sm',data: { confirm: 'Are you sure?' } %>
          <!--<= f.submit "Confirm", class: 'btn btn-primary btn-sm',data: { confirm: 'Are you sure?' } %>--> |
        <% end %>

        <% if @a = ReportingMastersTravelRequest.where(travel_request_id: @travel_request.id).pluck(:status).last == true %>
          <%= link_to 'Print PDF', print_daily_bill_daily_bill_details_path(format: 'pdf',qwe:@travel_request.id ),class: 'btn btn-sm btn-primary',:target => '_blank' %>
        <% else %>
           <!-- <small class="label label-success">You Can't Print until Your request is Approved</small> -->
        <% end %>
        <%= link_to 'Back', daily_bill_travel_requests_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
      </div>
    </div>
  </div>

<% end %>

<div id="modal_expense_claim_list" class="modal fade"></div>
<div id="modal_expense_edit" class="modal fade"></div>
