
<div class="box-body">

<table id="example" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Travel Request ID</th>
      <th>Traveler Name</th>
       <th>Expense Date</th>
       <th>Place</th>
       <th>Expense Type</th>
       <th>Expense Amount</th>
       <th>Currency</th>
    </tr>
  </thead>

  <tbody>
    <% @daily_bill_details.each do |daily_bill_detail| %>
      <tr>
        <td><%= daily_bill_detail.travel_request_id %></td>
        <td><%= daily_bill_detail.travel_request.employee.try(:first_name) %> <%= daily_bill_detail.travel_request.employee.try(:middle_name) %> <%= daily_bill_detail.travel_request.employee.try(:last_name) %></td>
        <td><%= daily_bill_detail.expence_date%></td>
        <td><%= daily_bill_detail.e_place %></td>
        <td><%= daily_bill_detail.travel_expence_type.try(:name) %></td>
        <td><%= daily_bill_detail.travel_expence %></td>
        <td><%= daily_bill_detail.currency_master.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to " Excel Report ",print_expence_date_report_daily_bill_details_path(from_date: params[:salary][:from_date],to_date: params[:salary][:to_date], company_id: params[:employee][:company_id], company_location_id: params[:employee][:company_location_id],department_id: params[:employee][:department_id], format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
 
<%= link_to " Print Report ",print_expence_date_report_daily_bill_details_path(from_date: params[:salary][:from_date],to_date: params[:salary][:to_date], company_id: params[:employee][:company_id], company_location_id: params[:employee][:company_location_id],department_id: params[:employee][:department_id],format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
</div>