<%= bootstrap_form_for(@daily_bill_detail,id:@travel_request.id,remote: true) do |f| %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= f.hidden_field :travel_request_id, value:@travel_request.id  %>
    <div class="row">
       <div class="col-sm-3">
        <label>Expence Date </label>
        <div class="field">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :expence_date, hide_label: true, class: 'input_expence_date' %>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :e_place, label: 'Place',class: 'input_e_place'  %>
        </div>
      </div>
       <div class="col-sm-3">
        <div class="field">
          <%= f.select :travel_expence_type_id,all_travel_expence_type,{label: 'Travel Expence Type',include_blank: "select Travel Type"},class: 'input_travel_expence'  %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :travel_expence,label: 'Travel Expence',class: 'input_travel_expence'  %>
        </div>
      </div>
    </div>
    <div class="row">
    <div class="col-sm-3">
          <label>Currency</label>
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <%= link_to "", currency_masters_path,class: "fa fa-plus fa-success",:target => "_blank" %>
              </div>
               <%= f.select :currency_master_id, all_currency, {hide_label: true,include_blank: " Select Currency Type"} %>
            </div>
          </div>
        </div>
    <div class="col-sm-3">
    <div class="field">
      <%= f.file_field :avatar_file,label: 'Document(only docx,pdf)' %>
    </div>
   </div>

   <div class="col-sm-3">
    <div class="field">
      <%= f.file_field :passport_photo,label: 'Image(only jpeg,jpg,png)' %>
    </div>
   </div>
   </div>

   <!-- unless params['controller'] == 'daily_bill_details' and params['action'] == 'edit' %> -->
    <!-- <div class="row">
      <div class="col-sm-2">
        <input type="button" id="btnAdd" value="+ Add Bill Details" class="btn btn-sm btn-success"> 
      </div>

      <div class="col-sm-3">
        <input type="button" id="btnDel" value="Remove Bill Details" class="btn btn-sm btn-danger">
      </div>
    </div><br> -->
  <!-- end%> -->

  <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Daily Bill Detail",:class => class_name, data: { disable_with: data_info }  %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.input_expence_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });

    $('#btnAdd').click(function () {
      var num     = $('.clonedInput').length,
          newNum  = new Number(num + 1),      
          newElem = $('#entry' + num).clone().attr('id', 'entry' + newNum).fadeIn('slow'); 
      newElem.find('.input_expence_date').attr('name','daily_bill_detail['+ newNum +'][expence_date]').attr('id', newNum + '_daily_bill_detail_expence_date').val('');
      newElem.find('.input_e_place').attr('name','daily_bill_detail['+ newNum +'][e_place]').attr('id', newNum + '_daily_bill_detail_e_place').val('');
      newElem.find('.input_travel_expence').attr('name','daily_bill_detail['+ newNum +'][travel_expence]').attr('id', newNum + '_daily_bill_detail_travel_expence').val('');
      newElem.find('.input_local_travel_expence').attr('name','daily_bill_detail['+ newNum +'][local_travel_expence]').attr('id', newNum + '_daily_bill_detail_local_travel_expence').val('');
      newElem.find('.input_lodging_expence').attr('name','daily_bill_detail['+ newNum +'][lodging_expence]').attr('id', newNum + '_daily_bill_detail_lodging_expence').val('');
      newElem.find('.input_boarding_expence').attr('name','daily_bill_detail['+ newNum +'][boarding_expence]').attr('id', newNum + '_daily_bill_detail_boarding_expence').val('');
      newElem.find('.input_other_expence').attr('name','daily_bill_detail['+ newNum +'][other_expence]').attr('id', newNum + '_daily_bill_detail_other_expence').val('');
      
      $('#entry' + num).after(newElem);
      $('#ID' + newNum + '_title').focus();
      $('#btnDel').attr('disabled', false);
      if (newNum == 5)
      $('#btnAdd').attr('disabled', true).prop('value', "You've reached the limit");
    });

    $('#btnDel').click(function () {
      if (confirm("Are you sure you wish to remove this section? This cannot be undone."))
        {
          var num = $('.clonedInput').length;
          $('#entry' + num).slideUp('slow', function () {$(this).remove();
              if (num -1 === 1)
          $('#btnDel').attr('disabled', true);
          $('#btnAdd').attr('disabled', false).prop('value', "+ Additional Experiences");});
        }
      return false;
    });
    $('#btnAdd').attr('disabled', false);
    $('#btnDel').attr('disabled', true);

    $(document).on("focus", ".input_expence_date", function(){
      $(this).datepicker();
    });

    $("#daily_bill_detail").validate({
      rules: {
        "daily_bill_detail[expence_date]":{
          required: true
        },
        "daily_bill_detail[e_place]":{
          required: true
        }
      },
      messages: {
        "daily_bill_detail[expence_date]":{
          required: "Please Specify Expence Date"
        },
        "daily_bill_detail[e_place]":{
          required: "Please Specify E Place"
        }
      },
      errorPlacement: function(error, element) {
       error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
       error.insertAfter(element.parent(element));
      }
    });
  });
</script>