
    <%= bootstrap_form_for(@daily_bill_detail,remote:true) do |f| %>
  
  <%= f.hidden_field :travel_request_id, value:@travel_request.id  %>
   <div id="entry1" class="clonedInput">

   
  <div class="row">
    <div class="col-sm-3">
      <label>Expence Date </label>
      <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :expence_date, hide_label: true, class: 'input_expence_date' %>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :e_place, label: 'E Place',class: 'input_e_place'  %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :travel_expence, label: 'Travel Expence',class: 'input_travel_expence'  %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :local_travel_expence, label: 'Local Travel Expence',class: 'input_local_travel_expence'  %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :lodging_expence, label: 'Lodging Expence',class: 'input_lodging_expence'  %>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :boarding_expence, label: 'Boarding Expence',class: 'input_boarding_expence'  %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :other_expence, label: 'Other Expence',class: 'input_other_expence'  %>
      </div>
    </div>
  </div>
  </div>

  <% unless params['controller'] == 'daily_bill_details' and params['action'] == 'edit' %>
      <div class="row">
        <div class="col-sm-2">
          <input type="button" id="btnAdd" value="+ Add Bill Details" class="btn btn-sm btn-success"> 
        </div>

        <div class="col-sm-3">
          <input type="button" id="btnDel" value="Remove Bill Details" class="btn btn-sm btn-danger">
        </div>
      </div><br>
    <%end%>  


  <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit :class => class_name, data: { disable_with: data_info }  %>

        <% if params['controller'] == 'daily_bill_details' and params['action'] == 'edit' %>

        <%= link_to 'Back', daily_bill_details_path,class: 'btn btn-default btn-sm fa fa-arrow-left'  %>

      </div>
    </div>
  </div>
<% end %>
      <% end %>


      
<script type="text/javascript">
  
$(function(){
    $('.input_expence_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });
  });

</script>