<div class="modal-dialog" style="height:1000px; max-height:100px; width:1500px; max-width:900px;">
  <div class="modal-content">
    <div class="modal-body">
     <%= bootstrap_form_for :daily_bill_detail,url:{action:"edit_and_send_next", id: @daily_bill_detail.id},html: {id: 'daily_bill_detail'} do |f| %>
      <div class="row">
      

       <div class="col-sm-3">
          <label>Expense Date </label>
          <div class="field">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= f.text_field :expence_date, hide_label: true, class: 'birth_date'%>
            </div>
          </div>
        </div>

      <div class="col-sm-3">
        <div class="field">
          <%= f.select :travel_expence_type_id,all_travel_expence_type,{label: 'Travel Expence Type',include_blank: "select Travel Type"},class: 'input_travel_expence'  %>
        </div>
      </div>


      <div class="col-sm-3">
      <label>Place</label>
        <div class="field">
          <%= f.text_field :e_place, hide_label: true,class: 'input_e_place'  %>
        </div>
      </div>

       
      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :travel_expence,label: 'Travel Expense',class: 'input_travel_expence'  %>
        </div>
      </div>

    </div>

    <div class="row">

    <div class="col-sm-3">
      <label>Request To </label>
      <div class="field">
        <%= f.select :reporting_master_id,all_reporting_master_list1,{hide_label: true,include_blank: " Select Reporting Manager"}%>
      </div>
    </div>

    <div class="col-sm-3">
          <label>Currency</label>
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <%= link_to "", currency_masters_path,class: "fa fa-plus fa-success",:target => "_blank" %>
              </div>
               <%= f.select :currency_master_id, all_currency, {hide_label: true,include_blank: " Select Currency Type"} %>
            </div>
          </div>
        </div>
    <div class="col-sm-3">
    <div class="field">
      <%= f.file_field :avatar_file,label: 'Document(only docx,pdf)' %>
    </div>
   </div>

   <div class="col-sm-3">
    <div class="field">
      <%= f.file_field :passport_photo,label: 'Image(only jpeg,jpg,png)' %>
    </div>
   </div>
   </div><br><br>

    <div class="row">
          <div class="col-sm-3">
            <div class="actions">
              <%= f.submit "Update Daily Bill",:class => class_name, data: { disable_with: data_info }  %>
              <!-- link_to 'Back', travel_request_confirmation_travel_requests_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %> -->
            </div>
          </div>
        </div>
  <% end %>
      <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('.birth_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });
    });
</script>

