<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Update Expence Detail </center></h4>
    </div>
    <div class="modal-body">

    	<%= bootstrap_form_for :daily_bill_detail,url:{action: "update_expence",daily_bill_detail_id: @daily_bill_detail.id,travel_request_id: @travel_request.id} do |f| %>

	    	<div class="row">
	      	<div class="col-sm-4">
		        <div class="form-group required">
		          <div class="input-group">
		            <div class="input-group-addon">
		              <%= link_to "", new_travel_expence_type_path,class: "fa fa-plus fa-success",:target => "_blank" %>
		            </div>
		             <%= f.select :travel_expence_type_id, all_travel_expence_type, {label: 'Expense Type',include_blank: " Select Expense Type"},class: 'form-control' %>
		          </div>
		        </div>
		      </div>
		      <div class="col-sm-4">
	          <div class="form-group required">
	            <div class="input-group">
	              <div class="input-group-addon">
	                <i class="fa fa-calendar"></i>
	              </div>
	               <%= f.text_field :expence_date, label: 'Date',class: 'input_expence_date'%>
	            </div>
	          </div>
	        </div>
	        <div class="col-sm-4">
	          <div class="form-group required">
	            <%= f.text_field :e_place, label: 'Place',class: 'input_e_place'  %>
	          </div>
	        </div>
	      </div>


	      <div class="row">
	        <div class="col-sm-4">
	          <div class="form-group required">
	            <%= f.text_field :travel_expence,label:'Expense Amount'  %>
	          </div>
	        </div>
	        <div class="col-sm-4">
	          <label>Currency</label>
	          <div class="form-group required">
	            <div class="input-group">
	              <div class="input-group-addon">
	                <%= link_to "", currency_masters_path,class: "fa fa-plus fa-success",:target => "_blank" %>
	              </div>
	              <%= f.select :currency_master_id, all_currency, {hide_label: true,include_blank: " Select Currency Type"} %>
	            </div>
	          </div>
	        </div>
	      </div>


	      <div class="row">
	        <div class="col-sm-4">
	          <div class="field">
	            <%= f.file_field :avatar_file,label: 'Document(only docx,pdf)' %>
	          </div>
	        </div>
	        <div class="col-sm-4">
	          <div class="field">
	            <%= f.file_field :passport_photo,label: 'Image(only jpeg,jpg,png)' %>
	          </div>
	        </div>
	        <div class="col-sm-4" style="padding: 20px">
	          <div class="actions">
	            <%= f.submit "Update Expense",:class => class_name, data: { disable_with: data_info }  %>
	          </div>
	        </div>
	      </div>
	    <% end %>

		<div class="modal-footer"></div>
	</div>
</div> 