
<table  class="table table-bordered table-hover table-condensed'">
      <thead>
      <tr>
      <td colspan="5"><center>Travel Request Process</center></td>
    </tr>
        <tr>
        <th>Sr.No</th>
        <th>Approver ID</th>
        <th>Approver Name</th>
        <th>Travel Request Status</th>
        
        <th>Expence Claim Status</th>
       </tr>
      </thead>

      <tbody>
        <% i = 0 %>
        <% @reporting_masters_travel_requests1.each do |a| %>
          <tr>
            <td><%= i=i+1 %></td>
            <% b=a.reporting_master_id
                emp=Employee.where(id: b).take %>
            <td><%= emp.manual_employee_code%></td>
            <td><%= emp.try(:first_name)%> <%= emp.try(:middle_name)%> <%= emp.try(:last_name)%></td>
  	        <td><%= a.travel_status %></td>
            
            <td>
              <% if a.status == true %>
              <small class="label label-primary">Confirmed & Send Next</small>
             <!--  < if @dbl = ReportingMastersTravelRequest.where(travel_request_id: @travel_request.id).pluck(:status).last == true %>
              <small class="label label-danger">Confirmed</small>
              < else %>
              <s end %> -->
              <% elsif a.status == false %>
              <small class="label label-danger">Rejected</small>
              <% else %>
              <% end %>
  	        </td>
          </tr>
          <tr>
          <td></td>
          <td colspan="4"><strong>Comment : </strong><%= a.daily_bill_comment %></td>
          </tr>
        <% end %>
      </tbody>
</table>