<div class="box">
  <div class="box-header">
    <h3 class="box-title">Expense Claim Request Confirmation</h3>
  </div>
  <div class="box-body">
    <%= bootstrap_form_for DailyBillDetail.new,url:{action:'approve_request'} do |f| %>
      <div>
        <%= render 'show_travel_request' %>
      </div>
      <div>
      <%= render 'show_reporting_masters_travel_request' %>
      </div>

      <table id="example" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Total Advance</th>
            <th>Total Expence</th>
            <th>Company Amount</th>
            <th>Employee Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @travel_expence.total_advance_amount%></td>
            <td><%= @travel_expence.total_expence_amount%></td>
            <td><%= @travel_expence.company_amount %></td>
            <td><%= @travel_expence.employee_amount %></td>
          </tr>
        </tbody>
      </table>
      
      <table id="example" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <td colspan="4"><center>Expense Claim List</center></td>
          </tr>
          <tr>
            <th>Expense Date</th>
            <th>Place</th>
            <th>Expense Type</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @daily_bill_details.each do |daily_bill_detail| %>
            <tr>
              <td><%= daily_bill_detail.expence_date %></td>
              <td><%= daily_bill_detail.e_place %></td>
              <td><%= daily_bill_detail.travel_expence_type.try(:name) %></td>
              <td><%= daily_bill_detail.travel_expence %></td>
            </tr> 
          <% end %>
            <tr>
                <th colspan="3">Total</th>
                <td><%= @daily_bill_details.sum(:travel_expence) %></td>
            </tr>
        </tbody>
      </table>

    <% end %>

    <div class="row">
      <div class="col-sm-6">
        <div class="actions">
        <% @daily_bill = ReportingMastersTravelRequest.where(status: nil).count %>
        <% if @daily_bill == 1 %>
        <%= link_to 'Approve',comment_modal_daily_bill_details_path(@travel_request.id),class: 'btn btn-sm btn-info',remote: true %> 
         <% else %>
         <%= link_to 'Approve & Send Next',comment_modal_daily_bill_details_path(@travel_request.id),class: 'btn btn-sm btn-primary',remote: true %>
         <% end %>
         </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>
<div id="myModal" class="modal fade"></div>
<div id="myModal1" class="modal fade"></div>