<div class="box">
  <div class="box-header">
    <h3 class="box-title">Expense Claim Request Confirmation</h3>
    <div class="pull-right">
    </div>
    </div>
<div class="box-body">
<%= bootstrap_form_for DailyBillDetail.new,url:{action:'approve_request'} do |f| %>
<!--<= bootstrap_form_for DailyBillDetail.new,url:{action:'reject_request'} do |r| %>-->
<table id="example" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th><input type="checkbox" id="selectAll" value="selectAll"></th>
      <th>Request ID</th>
      <th>Expense Date</th>
      <th>Place</th>
      <th>Expense Type</th>
      <th>Amount</th>
      <th>Comment</th>
      <th>Status</th>
      <th>Image</th>
      <th>Document</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
      <% @daily_bill_details.each do |daily_bill_detail| %>
      <tr>
        <td><% if daily_bill_detail.request_status == "Approved" %>
         <% else %>
            <%= check_box_tag "daily_bill_detail_ids[]", daily_bill_detail.id %>
            <% end %>
        </td>
        <td><%= daily_bill_detail.travel_request_id %></td>
        <td><%= daily_bill_detail.expence_date %></td>
        <td><%= daily_bill_detail.e_place %></td>
        <td><%= daily_bill_detail.travel_expence_type.try(:name) %></td>
        <td><%= daily_bill_detail.travel_expence %></td>
        <td><%= daily_bill_detail.comment %></td>
        <td>
            <% if daily_bill_detail.request_status == "Approved" %>
            <small class="label label-success">Approved</small>
            <% else %>
            <% end %>
        </td>
        <td>
           <% if daily_bill_detail.passport_photo_file_name == nil %>
           <small class="label label-default">Image Not Available</small>
             <% else %>
             <%= link_to '',download_pics_path(id: daily_bill_detail.id),class: 'btn btn-xs fa fa-picture-o' %>
             <% end %>
        </td>
         <td>
           <% if daily_bill_detail.avatar_file_file_name == nil %>
           <small class="label label-default">Document Not Available</small>
             <% else %>
             <%= link_to '',download_doc_path(id: daily_bill_detail.id),class: 'btn btn-xs fa fa-download' %>
             <% end %>
        </td>
        <td>
        <!--<= link_to 'Edit & Send Next', edit_and_send_next_modal_daily_bill_details_path(daily_bill_detail),class: 'btn btn-sm btn-info fa fa-check', remote: true %>-->
        <%= link_to 'Comment', comment_modal_daily_bill_details_path(daily_bill_detail_id: daily_bill_detail.id),class: 'btn btn-xs btn-info fa fa-check', remote: true %>
        <!--<= link_to 'Reject', reject_request_daily_bill_details_path(daily_bill_detail),class: 'btn btn-xs btn-danger' %>-->
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-3">
    <div class="actions">
      <%= f.submit "Approve Request", class: 'btn btn-info btn-sm' %>
<!--       <= r.submit "Reject Request", class: 'btn btn-danger btn-sm' %>
 -->    </div>
  </div>
</div>
<% end %>
<div>
</div>
</div>
</div>


<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>

<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>
<div id="myModal" class="modal fade"></div>
<div id="myModal1" class="modal fade"></div>