<style>
    th {
        text-align: left;
    }
    tr {
        page-break-inside: avoid;
    }
    div.alwaysbreak { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak{ page-break-inside: avoid;
    }
</style>
  <table style="border-collapse: collapse; font-size:9pt;" border=1 width=1200 cellpadding="15">
    <thead>
   <td colspan="11"><center><strong>
 <%= Company.find(@company).description unless @company.nil? or @company.blank? %></strong><br> <%= Company.find(@company).address unless @company.nil? or @company.blank? %> <br><%=Department.find(@department).name unless @department.nil? or @department.blank? %> - <%= CompanyLocation.find(@company_location).name unless @company_location.nil? or @company_location.blank? %></center>
 </td></tr>
  <tr><th colspan="11"><center> Expence Report</center></th></tr>
    <tr>
      <th>Request ID</th>
      <th>Travel Date</th>
      <th>ID</th>
      <th>Employee Name</th>
       <th>Expense Date</th>
       <th>Place</th>
       <th>Expense Type</th>
       <th>Expense Amount</th>
       <th>Remark</th>
       <th>Request Status</th>
       <th>Confirm</th>
    </tr>
  </thead>

  <tbody>
    <% @daily_bill_details.each do |daily_bill_detail| %>
      <tr>
        <td><%= daily_bill_detail.travel_request_id %></td>
        <td><%= daily_bill_detail.travel_request.traveling_date %> - To - <%= daily_bill_detail.travel_request.to %></td>
        <td><%= daily_bill_detail.travel_request.employee.try(:manual_employee_code) %></td>
        <td><%= daily_bill_detail.travel_request.employee.try(:first_name) %> <%= daily_bill_detail.travel_request.employee.try(:middle_name) %> <%= daily_bill_detail.travel_request.employee.try(:last_name) %></td>
        <td><%= daily_bill_detail.expence_date%></td>
        <td><%= daily_bill_detail.e_place %></td>
        <td><%= daily_bill_detail.travel_expence_type.try(:name) %></td>
        <td><%= daily_bill_detail.travel_expence %></td>
        <td><%= daily_bill_detail.remarks %></td>
        <td><%= daily_bill_detail.request_status %></td>
        <td><%= daily_bill_detail.is_confirm ? "Yes" : "No" %></td>
      </tr>
       <% end %>
      </tbody>
      </table>
