<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:Index="1"><Data ss:Type="String">Sr. No.</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Travel Request ID</Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String">Traveler Name</Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String">Expense Date</Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String">Place</Data></Cell>
        <Cell ss:Index="6"><Data ss:Type="String">Expense Type</Data></Cell>
        <Cell ss:Index="7"><Data ss:Type="String">Expense Amount</Data></Cell>
        <Cell ss:Index="8"><Data ss:Type="String">Currency</Data></Cell>
      </Row>
         <% i = 0 %>
          <% @daily_bill_details.each do |daily_bill_detail| %>
        <Row>
          <Cell ss:Index="1"><Data ss:Type="String"><%= i=i+1 %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="String"><%= daily_bill_detail.travel_request_id %></Data></Cell>
          <Cell ss:Index="3"><Data ss:Type="String"><%= daily_bill_detail.travel_request.employee.try(:first_name) %> <%= daily_bill_detail.travel_request.employee.try(:middle_name) %> <%= daily_bill_detail.travel_request.employee.try(:last_name) %></Data></Cell>
          <Cell ss:Index="4"><Data ss:Type="String"><%= daily_bill_detail.expence_date %></Data></Cell>
          <Cell ss:Index="5"><Data ss:Type="String"><%= daily_bill_detail.e_place %></Data></Cell>
          <Cell ss:Index="6"><Data ss:Type="String"><%= daily_bill_detail.travel_expence_type.try(:name) %></Data></Cell>
          <Cell ss:Index="7"><Data ss:Type="String"><%= daily_bill_detail.travel_expence  %></Data></Cell>
          <Cell ss:Index="8"><Data ss:Type="String"><%= daily_bill_detail.currency_master.try(:name) %></Data></Cell>
          </Row><!-- Row -->
      <% end %><!-- slip -->
    </Table>
  </Worksheet>
</Workbook>