<div class="box box-default">
  <div class="box-header with-border">
   <div class="row">
    <div class="col-sm-1">
  <% if @assigned_assets.first.employee.passport_photo_file_name == nil %>
  <% if @assigned_assets.first.employee.gender == "Female" %>
   <%= image_tag "avatar2.png",class: "img", alt: "User Image", size: "70x70" %>
  <%else%>
   <%= image_tag "avatar5.png",class: "img", alt: "User Image", size: "70x70" %>
  <%end%>
 <%else%>
      <%= image_tag @employee.passport_photo.url, :size => "70x70" %>
      <%end%>
  </div>
    <div class="col-sm-6">
     <font color='#0077b3'>
       ID : <%= @assigned_assets.first.try(:employee).try(:manual_employee_code) %><br>
       Name : <%= full_name(@assigned_assets.first.employee) %><br>
       Email : <%= @assigned_assets.first.try(:employee).try(:email) %></font>
    </div>
  </div>
    <div class="box-tools pull-right">
      <%= link_to "Assign Asset", ajax_new_assigned_asset_employees_path(id: @employee.id), class: 'btn btn-primary btn btn-xs',remote:true %>
    <%= link_to 'Back', employees_path,class: 'btn btn-default btn-xs fa fa-arrow-left' %>

    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
   <tr><th colspan="5"><center><font color='#0077b3'>Employee Asset Details</font></center> </th></tr>
    <tr>
	    <th>Sr.No.</th>
      <th>Asset Type</th>
      <th>Asset</th>
      <th>Returned On</th> 
      <th>Action</th>
    </tr>
  </thead>

	<tbody>
  <% i = 0 %>
	<% @assigned_assets.each do |assigned_asset| %>
      <tr>
        <td><%= i = i+1%></td>
        <td><%= assigned_asset.asset_type.try(:name) %></td>
        <td><%= assigned_asset.assets_id %></td>
        <td>
          <% if assigned_asset.returned_on == nil %>
            <%= link_to ' ',modal_assigned_assets_path(assigned_asset),class: 'btn btn-info btn-xs fa fa-arrow-right',remote: true %></td>
          <% else %> 
            <%= assigned_asset.returned_on %>
          <% end %>
        <td>
         <!--  <= link_to ' ',modal_edit_assigned_assets_path(assigned_asset),class: 'btn btn-success btn-sm fa fa-edit',remote: true %> -->
          <%= link_to ' ',asset_modal_assigned_assets_path(assigned_asset),class: 'btn btn-default btn-xs fa fa-eye',remote:true %>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<div id="myModal" class="modal fade"></div>
<div id="asset_modal" class="modal fade"></div>


<script type="text/javascript">
  $(document).ready(function() {
    $('#example3').DataTable( {
        "scrollY":        "200px",
        "scrollX":        "1000px",
        "scrollCollapse": true,
        "paging":         false
    } );
} );
</script>