<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @assigned_asset.employee %>
</p>

<p>
  <strong>Asset type:</strong>
  <%= @assigned_asset.asset_type %>
</p>

<p>
  <strong>Assets detail:</strong>
  <%= @assigned_asset.assets_detail %>
</p>

<p>
  <strong>Assets:</strong>
  <%= @assigned_asset.assets_id %>
</p>

<p>
  <strong>Assets value:</strong>
  <%= @assigned_asset.assets_value %>
</p>

<p>
  <strong>Assest status:</strong>
  <%= @assigned_asset.assest_status %>
</p>

<p>
  <strong>Issue date:</strong>
  <%= @assigned_asset.issue_date %>
</p>

<p>
  <strong>Valid till:</strong>
  <%= @assigned_asset.valid_till %>
</p>

<p>
  <strong>Returned on:</strong>
  <%= @assigned_asset.returned_on %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @assigned_asset.remarks %>
</p>

<%= link_to 'Edit', edit_assigned_asset_path(@assigned_asset) %> |
<%= link_to 'Back', assigned_assets_path %>
