<%= form_for(@retention_money) do |f| %>
  <% if @retention_money.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retention_money.errors.count, "error") %> prohibited this retention_money from being saved:</h2>

      <ul>
      <% @retention_money.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :have_retention %><br>
    <%= f.check_box :have_retention %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :no_of_month %><br>
    <%= f.text_field :no_of_month %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
