<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Retention Money In Percentage</th>
      <th>Percentage</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <% @retention_moneys.each do |retention_money| %>
      <tr>
        <td><%= retention_money.have_retention ? "Yes" : "No" %></td>
        <td><%= retention_money.persent %></td>
        <td><%= retention_money.is_active ? "Active" : "Inactive" %></td>
        <td>
          <% if retention_money.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
              <%= link_to '', retention_money ,class: 'btn btn-xs btn-default fa fa-eye' %>
               <%= link_to '', edit_retention_money_path(retention_money),class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
          <% else %>
            <%= link_to '', edit_retention_money_path(retention_money),class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
            <%= link_to '',  retention_money, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-xs btn-danger fa fa-close' %>
            <%= link_to '', is_confirm_retention_moneys_path(retention_money: retention_money),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
             <%= link_to '', retention_money ,class: 'btn btn-xs btn-default fa fa-eye' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>