<p id="notice"><%= notice %></p>

<p>
  <strong>Have retention:</strong>
  <%= @retention_money.have_retention %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @retention_money.amount %>
</p>

<p>
  <strong>No of month:</strong>
  <%= @retention_money.no_of_month %>
</p>

<p>
  <strong>Description:</strong>
  <%= @retention_money.description %>
</p>

<%= link_to 'Edit', edit_retention_money_path(@retention_money) %> |
<%= link_to 'Back', retention_moneys_path %>
