<%= bootstrap_form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :department_id, value: current_user.account_id %>
  
  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :first_name %>
       </div>
    </div>

     <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :middle_name %>
       </div>
    </div>

    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
        <%= f.text_field :last_name %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
        <%= f.date_select :date_of_birth %>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :contact_no %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :email %>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :permanent_address %>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :city %>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :district %>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :state %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
    <%= f.number_field :pin_code %>
  </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :current_address %>
       </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :adhar_no %>
       </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :pan_no %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
        <%= f.text_field :licence_no %>
       </div>
    </div>
  </div>



  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :passport_no %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.select :marital_status, ['Marreid','Unmarreid'] %>
        </div>
    </div>
  </div>
    
  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
          <%= f.select :nationality_id, all_nationality %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
          <%= f.select :blood_group_id, all_blood_group %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.select :handicap, ['Yes','No'] %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :status %>
       </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
          <%= f.select :employee_type_id, all_employee_type %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.select :gender, ['Male','Female'] %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="actions">
         <%= f.submit %>
        </div>
    </div>
  </div>
<% end %>
