<!--SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Create Employee</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= bootstrap_form_for(@employee) do |f| %>
      
      <%= f.hidden_field :department_id, value: current_user.account_id %>

      <div class="row">
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :first_name %>
         </div>
        </div>

        <div class="col-sm-3">
           <div class="field">
          <%= f.text_field :middle_name %>
         </div>
        </div>

         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :last_name %>
         </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.select :gender, ['Male','Female'] %>
          </div>
        </div>
     </div>

      <div class="row">
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :adhar_no %>
         </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :pan_no %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :licence_no %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :passport_no %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="field">
            <%= f.select :marital_status, ['Married','UnMarried'] %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.select :nationality_id, all_nationality %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.select :blood_group_id, all_blood_group,{include_blank: "Select something"},{:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1"}%>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.select :handicap, ['Yes','No'] %>
          </div>
        </div>
      </div>

      <div class="row">
         <div class="col-sm-12">
          <div class="field">
           <%= f.text_field :permanent_address %>
          </div>
        </div>
      </div>

      <div class="row">
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :state %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :district %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :city %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.number_field :pin_code %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="field">
            <%= f.text_field :current_address %>
         </div>
        </div>
      </div>

      <div class="row">
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :contact_no %>
         </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :email %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :date_of_birth, class: 'datemask'%>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :status %>
          </div>
        </div>
      </div>

      <div class="row">
         <div class="col-sm-3">
          <div class="field">
            <%= f.select :employee_type_id, all_employee_type %>
          </div>
        </div>
      </div>

      <hr>

      <!-- Nested Form -->
      <%= f.fields_for :joining_detail do |o| %>
<%= console %>
        <div class="row">
          <div class="col-sm-3">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= o.text_field :joining_date, class: 'datemask'%>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="field">
              <%= o.text_field :reffernce_from %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="field">
              <%= o.text_field :admin_hr %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="field">
              <%= o.text_field :tech_hr %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="field">
              <%= o.text_field :designation %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="field">
              <%= o.select :employee_grade_id, all_employee_grade %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="field">
              <%= o.text_field :account_no %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="field">
              <%= o.text_field :ctc %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= o.text_field :confirmation_date, class: 'datemask'%>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="field">
              <%= o.text_field :status %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="field">
              <%= o.text_field :probation_period %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="field">
              <%= o.text_field :notice_period %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="field">
              <%= o.text_field :medical_schem %>
            </div>
          </div>
        </div>
      <% end %>      

      <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="actions">
           <%= f.submit %>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about the plugin.
  </div>
</div><!-- /.box-->