<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Create Employee</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= bootstrap_form_for(@employee,html: {id: 'employee'}) do |f| %>
    <% if @employee.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
        
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :manual_employee_code,label: 'Employee Code',placeholder: "Employee Code"%>
           </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :first_name , label: 'First Name' %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :middle_name, label: 'Middle Name' %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :last_name, label: 'Last Name' %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.select :gender, ['Male','Female'],{label: 'Select Gender',include_blank: " Select Gender"} %>
          </div>
        </div>

        
      </div>

      <div class="row">

        <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :email %>
          </div>
        </div>

         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :adhar_no, label: 'Aadhaar No' %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :pan_no, label: 'PAN Card No' %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :licence_no, label: 'Licence No' %>
          </div>
        </div>
     </div>
       <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :contact_no,label: 'Contact No' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :religion %>
          </div>
        </div>
        <div class="col-sm-3">
        <div class="field">
            <%= f.select :status,['Active','Inactive'],{include_blank: " Select Employee Status"} %>
        </div>
        </div>
        <div class="col-sm-3">
          <div class="field">
            <%= f.select :employee_type_id, all_employee_type,{include_blank: " Select Employee Type"} %>
          </div>
        </div>   
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="field">
            <%= f.select :marital_status, ['Married','UnMarried'],{label: 'Marital Status',include_blank: " Select Marital Status"} %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.select :nationality_id, all_nationality,{include_blank: " Select Nationality"} %>
          </div>
        </div>

        <div class="col-sm-3">
        <div class="field">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :date_of_birth, label: 'Date of Birth', class: 'birth_date'%>
          </div>
        </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.select :blood_group_id, all_blood_group, {label: 'Blood Group',include_blank: " Select Blood Group"} %>
          </div>
        </div>
      </div>

      <div class="row">
         <div class="col-sm-9">
          <div class="form-group required">
           <%= f.text_field :permanent_address, label: 'Permanent Address' %>
          </div>
        </div>
         <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :pin_code,label:"Pin/Zip Code"%>
          </div>
        </div>
        </div>
   
         <div class="row">
          <div class="col-sm-3">
            <div class="form-group required">
              <%=f.select :country_id, all_countries,{include_blank: "Please Select Country"},{onchange:"var a={id:$(this).val(), form : 'employee'}; $.get('/companies/collect_states',a,function(response){});"}%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group required">
              <div id="states">
                <%= render 'companies/state_dropdown' %> 
            </div> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group required">
             <div id="district">
               <%= render 'companies/city_dropdown' %>
           </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="field">
              <%= f.text_field :city %>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="field">
            <%= f.text_field :current_address, label: 'Current Address' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="field">
            <%= f.select :handicap, ['Yes','No'],{include_blank: "Please Select"},{onchange:"var a={id:$(this).val()}; $.get('/employees/ajax_show_textbox',a,function(response){});"} %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="field">
            <div id="handicap_type">
              <% if action_name == 'edit' %>
                <%= f.text_field :handicap_type %>
              <% end %>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="actions">
              <%= f.submit :class => class_name, data: { disable_with: data_info } %>
              <% if params['controller'] == 'employees' and params['action'] == 'edit' %>
                <%= link_to 'Back',basic_detail_employees_path(id: @employee.id),class: 'btn btn-default', remote:true%>
              <%end%>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://www.indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
</div><!-- /.box