<div class="box box-default">
  <div class="box-body">
      <table id="example1" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Contact No.</th>
          </tr>
        </thead>
        <tbody>
          <% @employees.each do |e| %>
            <tr>
              <td><%= e.manual_employee_code %></td>
              <td><%= e.first_name %><%= e.middle_name %><%= e.last_name %></td>
              <td><%= e.try(:department).try(:name)%></td>
              <td><%= e.try(:joining_detail).try(:employee_designation).try(:name) %></td>
              <td><%= e.contact_no %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <%= link_to " Excel Report ",dynamic_report_employees_path(employee_type_id: params[:employee][:employee_type_id],company_id: params[:employee][:company_id],company_location_id: params[:employee][:company_location_id], format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
  <%= link_to " Print ",dynamic_report_employees_path(employee_type_id: params[:employee][:employee_type_id],company_id: params[:employee][:company_id],company_location_id: params[:employee][:company_location_id], format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example1').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>