<div class="box box-default">
  <div class="box-header with-border">
  <div class="row">
  <div class="col-sm-1">
  <% if @employee.passport_photo_file_name == nil %>
  <% if @employee.gender == "Female" %>
   <%= image_tag "avatar2.png",class: "img", alt: "User Image", size: "70x70" %>
  <%else%>
   <%= image_tag "avatar5.png",class: "img", alt: "User Image", size: "70x70" %>
  <%end%>
 <%else%>
      <%= image_tag @employee.passport_photo.url, :size => "70x70" %>
      <%end%>
  </div>
    <div class="col-sm-6">
     <font color='#0077b3'>
        ID : <%= @employee.try(:manual_employee_code) %><br>
        Name : <%= @employee.try(:first_name) %> <%= @employee.try(:middle_name) %> <%= @employee.try(:last_name) %><br>
        Email : <%= @employee.email %></font>
    </div>
  </div>
  <div class="box-tools pull-right">
    <%= link_to 'Edit', edit_employee_path(@employee),class: 'btn btn-xs btn-success fa fa-edit', remote:true %>
    <%= link_to 'Back', employees_path,class: 'btn btn-default btn-xs fa fa-arrow-left' %>
  </div>
    
  </div><!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered table-hover table-condensed">  
      <tr><th colspan="4"><center><font color='#0077b3'>Basic Detail</font></center> </th></tr>
      <tr>
        <th><strong>PAN Card No.</strong></th>
        <td><%= @employee.pan_no %></td>

        <th><strong>Aadhar Card No.</strong></th>
        <td><%= @employee.adhar_no %></td>
      </tr>
      <tr>
        <th><strong>License No.</strong></th>
        <td><%= @employee.licence_no %></td>

        <th><strong>Gender</strong></th>
        <td><%= @employee.gender %></td> 
      </tr>


      <tr>
        <th><strong>Marital Status</strong></th>
        <td><%= @employee.marital_status %></td>

        <th><strong>Nationality</strong></th>
        <td><%= @employee.nationality.try(:name) %></td>
      </tr>
      <tr>
        <th><strong>Date of Birth</strong></th>
        <td><%= @employee.date_of_birth %></td>

        <th><strong>Blood Group</strong></th>
        <td><%= @employee.blood_group.try(:name) %></td>
      </tr>
      <tr>
        <th><strong>Permanent Address</strong></th>
        <td colspan="3"><%= @employee.permanent_address %></td>  
      </tr>
      <tr>
        <th><strong>Pin/Zip Code</strong></th>
        <td><%= @employee.pin_code %></td>

        <th><strong>Country</strong></th>
        <td><%= @employee.country.try(:name) %></td> 

        
      </tr>
      <tr>
      <th><strong>State</strong></th>
        <td><%= @employee.state.try(:name) %></td>

        <th><strong>District</strong></th>
        <td><%= @employee.district.try(:name) %></td>

      </tr>
      <tr>

        <th><strong>City</strong></th>
        <td colspan="3"><%= @employee.city %></td>
        
       
      </tr>
      <tr>      
        <th><strong>Current Address</strong></th>
        <td colspan="3"><%= @employee.current_address %></td>
      </tr>
       <tr>
        <th><strong>Email</strong></th>
        <td><%= @employee.email %></td>

        <th><strong>Optional Email</strong></th>
        <td><%= @employee.optional_email %></td>
      </tr>
        <tr>
        <th><strong>Official Contact No.</strong></th>
        <td><%= @employee.contact_no %></td>

        <th><strong>Extension No.</strong></th>
        <td><%= @employee.optinal_contact_no %></td>
      </tr>
      <tr>
        <th> Personal Contact No.</th>
        <td><%= @employee.try(:optinal_contact_no1) %></td>

        <th> Emergency Contact No.</th>
        <td><%= @employee.try(:emergency_contact_no) %></td>
      </tr>
      <tr>
        <th><strong>Religion</strong></th>
        <td colspan="3"><%= @employee.religion.try(:name) %></td>
     </tr>
      <tr>
        <th><strong>Differently Abled</strong></th>
        <td><%= @employee.handicap %></td>

        <th><strong>Disability Type</strong></th>
        <td><%= @employee.handicap_type %></td>
      </tr>
      <tr>
        <th><strong>Employment Type</strong></th>
        <td><%= @employee.employee_type.try(:name) %></td>

        <th><strong>Religion</strong></th>
        <td><%= @employee.religion.try(:name) %></td>
        </tr>
        <tr>

        <th><strong>Employee Status</strong></th>
        <td colspan="3"><%= @employee.status%></td>
      </tr>

      <tr>
        <th><strong>Service Master</strong></th>
        <td><%= @employee.try(:service_master).try(:name) %></td>
        <th>Resource Pool</th>
        <td><%= @employee.try(:resource_pool_master).try(:name) %></td>
      </tr>

      <tr>
        <th><strong>Company</strong></th>
        <td><%= @employee.try(:company).try(:name) %></td>
        <th>Location</th>
        <td><%= @employee.try(:company_location).try(:name) %></td>
      </tr>
      <tr>
        <th>Department</th>
        <td><%= @employee.try(:department).try(:name) %></td>

        <th>Sub Department</th>
        <td><%= @employee.try(:sub_department).try(:name) %></td>
      </tr>

     <tr>
     <th><strong>Download Profile Picture</strong></th>
     <td><% if @employee.passport_photo_file_name == nil %>
        <small class="label label-default">Not Available</small>
        <% else %>
        <center><%= link_to '',download_employee_profile_picture_path(@employee),class: 'btn btn-xs btn btn-primary fa fa-download' %></center>
       <%end %>
    </td>

      <th><strong>Signature</strong></th>
    <td><% if @employee.employee_signature_file_name == nil %>
   <%= image_tag "white_signature.png",class: "img", alt: "User Image", size: "120x30"  %>
      <% else %>
    <!-- <center><= link_to '',download_employee_signature_path(@employee),class: 'btn btn-xs fa fa-picture-o' %></center> -->
    <%= image_tag @employee.employee_signature.url, :size => "120x30" %><br><br>
  <%end %>
  </td>
</tr>
     
    </table>
  </div><!-- /.box -->
</div>