<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Details</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    
    

<table class="table table-bordered table-hover">
    
    <tr>
      <th> <strong>First name:</strong></th>
      <td> <%= @employee.first_name %></td>
      <th></th>
      <td></td>
    </tr>

    <tr>
      <th>  <strong>Middle name:</strong></th>
      <td><%= @employee.middle_name %></td>

      <th><strong>Last name:</strong></th>
      <td> <%= @employee.last_name %></td>
    </tr>

    <tr>
      <th><strong>Date of birth:</strong></th>
      <td>  <%= @employee.date_of_birth %></td>

      <th><strong>Contact no:</strong></th>
      <td> <%= @employee.contact_no %></td>
    </tr>


    <tr>
      <th><strong>Email:</strong></th>
      <td><%= @employee.email %></td>

      <th> <strong>Permanent address:</strong></th>
      <td> <%= @employee.permanent_address %></td>
    </tr>

    <tr>
      <th> <strong>City:</strong></th>
      <td> <%= @employee.city %></td>

      <th><strong>Country:</strong></th>
      <td><%= @employee.country.name %></td>
    </tr>

    <tr>
      <th> <strong>State:</strong></th>
      <td><%= @employee.state.name %></td>
      
      <th><strong>District:</strong></th>
      <td><%= @employee.district.name %></td>
    </tr>

    <tr>
      <th><strong>Current address:</strong></th>
      <td><%= @employee.current_address %></td>

      <th> <strong>Adhar no:</strong></th>
      <td> <%= @employee.adhar_no %></td>
    </tr>

     <tr>
      <th><strong>Pan no:</strong></th>
      <td><%= @employee.pan_no %></td>

      <th><strong>Licence no:</strong></th>
      <td> <%= @employee.licence_no %></td>
    </tr>


     <tr>
      <th><strong>Passport no:</strong></th>
      <td> <%= @employee.passport_no %></td>

      <th> <strong>Marital status:</strong></th>
      <td> <%= @employee.marital_status %></td>
    </tr>

     <tr>
      <th> <strong>Nationality:</strong></th>
      <td><%= @employee.nationality.try(:name) %></td>

      <th><strong>Blood group:</strong></th>
      <td> <%= @employee.blood_group.try(:name) %></td>
    </tr>

     <tr>
      <th><strong>Handicap:</strong></th>
      <td> <%= @employee.handicap %></td>

      <th> <strong>Status:</strong></th>
      <td><%= @employee.status %></td>
    </tr>

    <tr>
      <th><strong>Employee type:</strong></th>
      <td> <%= @employee.employee_type.try(:name) %></td>

      <th><strong>Gender:</strong></th>
      <td><%= @employee.gender %></td>
    </tr>
 </table>

 <div class="box-footer">
    Visit <a href="https://indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
  </div><!-- /.box -->
</div>