<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Reporting Manager Detail </center></h4>
    </div>
    <div class="modal-body">
    <table class="table table-bordered table-hover table-condensed">
  <thead>
<tr>
	<th>Employee ID</th>
	 <td><%= @e.manual_employee_code %></td>
      <th>Employee Name</th>
       <td><%= @e.first_name %> <%= @e.middle_name %> <%= @e.last_name %></td> 
 </tr>
 <tr>      
      <th>Location</th>
      <td><%= @e.member.try(:company_location).try(:name) %></td>
      <th>HRMS Access Role</th>
       <td><%= @e.member.try(:role).try(:name) %></td>
  </tr>
  <tr>     
      <th>Reporting Manager 1</th>
       <td><%= @e.manager.try(:first_name) %> <%= @e.manager.try(:middle_name) %> <%= @e.manager.try(:last_name) %></td>
      <th>Reporting Manager 2</th>
      <td><%= @e.manager_2.try(:first_name) %> <%= @e.manager_2.try(:middle_name) %> <%= @e.manager_2.try(:last_name) %></td>
    </tr>
    </thead>
</table>
</div>
<div class="modal-footer"></div>
</div>
</div>  