<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee List</h3>    
  </div><!-- /.box-header -->
  <div class="box-body">
    <table  class="table table-bordered table-hover table-condensed">
	    <thead>
	      <tr>
		      <th>Employee Code</th>
		      <th>Name</th>
		      <th>Hrms Access Role</th>
		      <th>Reporting Manager</th>
		      <th>Department</th>
		      <th>Action</th>
		    </tr>
		  </thead>
		  <tbody>
		    <% @employees.each do |employee| %>
					<%= bootstrap_form_for :login, url: {action: 'submit_form'} do |f| %>    
			      <tr>
			      	<td><%= employee.manual_employee_code %></td>
			        <td><%= employee.first_name %> <%= employee.middle_name %> <%= employee.last_name %></td> 
			        <td><%= f.select :role_id, all_role_list,hide_label:true,prompt:true %>
			   					<%= f.hidden_field :employee_id, value: employee.id %>
			        </td>
			        <td><%= f.select :manager_id, all_employee_list,hide_label:true, prompt:true %></td>
			        <td><%= f.select :department_id, all_department_list,hide_label:true, prompt:true %></td>
			        <td><%= f.submit "+", class: 'btn btn-primary btn-sm fa fa-user-plus' %></td>
			      </tr>	
		     	<% end %>
		    <% end %>
		  </tbody>
		</table>
	</div>
</div>
<style type="text/css">

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    padding: 1px;
}
</style>

