<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee List</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
  <%= bootstrap_form_for(:employee, url: { action: 'show_employee_list'},html: {id: 'salary'},remote: true ) do |f| %>

  <div class="row">
 <div class="col-sm-3">
        <div class="field">
          <%= f.select :company_id, all_company,{include_blank: "Select Company"},{onchange:"var a={id:$(this).val(), form : 'employee'}; $.get('/employees/collect_company_location_dropdown_with_label',a,function(response){});"}%>
        </div>
      </div>
     
      <div class="col-sm-3">
        <div class="field">
            <div id="company_location_with_label">
              <%= render 'employees/company_location_dropdown_with_label' %> 
          </div> 
        </div>
      </div>

       <div class="col-sm-3">
            <div class="field">
            <div class="input-group">
              <div id="department">
                <%= render 'employees/department_dropdown' %> 
            </div> 
            </div>
            </div>
        </div>

        <div class="col-sm-3">
        <label></label>
          <div class="actions">
            <%= f.submit "Display Employee", class: "btn btn-sm btn-primary",id: "buttonCtc" %>
          </div>
        </div>
        </div>
       <%end%>
        
     </div>
    </div>
    <div class="ajax-progress"></div>
        <div id="employee_list"></div>
 
<script type="text/javascript">
  $("#buttonCtc").click(function(){
    $('.ajax-progress').show();
    $("#employee_attendance").submit();
  })
  </script>