<style type="text/css">
    th { text-align: left; }
    tr { page-break-inside: avoid; }
    div.alwaysbreak { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak{ page-break-inside: avoid;}
</style>


<div class="box-body">

  <div style="width: 1000px; height: auto;
          padding: 5px;
          border: 1px solid gray;
          margin: 5;">
<div class="box-header">
  </div>
   <table style="border-collapse: collapse; font-size:10pt;" border=1 width=1000 cellpadding="10">
      <!-- <thead><tr><th colspan="4"><center>Employee Profile</center></th> --><!-- <th><= wicked_pdf_image_tag @employee.passport_photo.url, :size => "70x70" %></th> --><!-- /tr> -->
      <thead>
             <tr>
        <td colspan="2">
         <% if @employee.company_location.company.company_logo == nil %>
      <% else %>
        <center> <%= wicked_pdf_image_tag @employee.company_location.company.company_logo.url, :size => "100x50" %></center><br>
        <%end%>
          <center><strong><%= @employee.company_location.company.try(:description) %></strong><br><%= @employee.company_location.try(:address) %>, <%= @employee.company_location.try(:name) %>.
          </center>
              <%= wicked_pdf_image_tag @employee.passport_photo.url, :size => "70x70" %><br>
        </td>           
      </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2"><b>Name :</b> <%= @employee.try(:first_name) %> <%= @employee.try(:middle_name) %> <%= @employee.try(:last_name) %></td>
        </tr>

          <tr>
          <td colspan="2"><b>Address : </b><%= @employee.permanent_address %></td>
          </tr>
         <tr> 
           <td><b>Contact No. :</b> <%= @employee.contact_no %></td>
          <td><b>Email :</b> <%= @employee.email %></td>
         </tr>
         <tr> 
            <td><b>DOB : </b><%= @employee.date_of_birth %></td>
            <td><b> Marital Status : </b> <%= @employee.marital_status%></td>
         </tr>
          <tr> 
           <td><b>Nationality : </b><%= @employee.nationality.try(:name) %> </td>
           <td><b>Current Experience : </b>
              <% if @employee.joining_detail.joining_date == nil %>
                <%= %>
              <% else %>
                <% day = Date.today - @employee.joining_detail.joining_date.to_date %><% d = day.to_f/365 %><% int = d.to_i %><% remaining = d.to_f - int.to_f %><% day1 = remaining.to_f * 365 %><% day2 = day1.to_f/30 %>
                <% if int.to_i > 0 %>
                  <%= int.to_i %>.<%= day2.to_i %> <%= "year" %>
                <% else %>
                  <%= day2.to_i %><%= "month" %>
                <% end %>
              <% end %>
           </td>
          </tr>
      </tbody>
 </table>

<!--       <div style="float:left;">Family Background -  </div><br><br>
 -->
  
 <table style="border-collapse: collapse; font-size:10pt;" border=1 width=1000 cellpadding="10">
    <thead>
       <tr><th colspan="4"><center><font color='#0077b3'>Experience Detail's</font></center> </th></tr>
      <tr>
        <th>No. of Year</th>
        <th>Company Name</th>
        <th>Designation</th>
        <th>CTC</th>
      </tr>
    </thead>
  <tbody>
    <% @experiences.each do |e| %>
      <tr>
        <td><%= e.no_of_year %></td>
        <td><%= e.company_name %></td>
        <td><%= e.designation %></td>
        <td><%= e.ctc %></td>
      </tr>
      <% end %>
    </tbody>
  </table><br>

  <table style="border-collapse: collapse; font-size:10pt;" border=1 width=1000 cellpadding="10">
    <thead>
    <tr><th colspan="3"><center><font color='#0077b3'>Certificate Detail's</font></center> </th></tr>
    <tr>
      <th>Name of Certificate</th>
      <th>Year</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <% @certifications.each do |c| %>
      <tr>
        <td><%= c.name %></td>
        <td><%= c.year.try(:name) %></td>
        <td><%= c.duration %></td>
      </tr>
      <% end %>
    </tbody>
  </table><br>

   
 <table style="border-collapse: collapse; font-size:10pt;" border=1 width=1000 cellpadding="10">
    <thead>
    <tr><th colspan="5"><center><font color='#0077b3'>Education Detail's</font></center> </th></tr>
      <tr>
        <th>Qualification</th>
        <th>Marks</th>
        <th>Passout Year</th>
        <th>College/School</th>
        <th>University/Institute</th>
     </tr>
    </thead>

    <tbody>
       <% @qualifications.each do |qualification| %>
        <tr>
          <td><%= qualification.degree.try(:name) %></td>
          <td><%= qualification.marks %></td>
          <td><%= qualification.year.try(:name) %></td>
          <td><%= qualification.college %></td>
          <td><%= qualification.university.try(:name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table><br>
 
<table style="border-collapse: collapse; font-size:10pt;" border=1 width=1000 cellpadding="10">
    <thead>
    <tr><th colspan="3"><center><font color='#0077b3'>Skills</font></center> </th></tr>
    <tr>
      <th>Skill Name</th>
      <th>Skill level</th>
    </tr>
  </thead>

  <tbody>
    <% @skillsets.each do |skillset| %>
      <tr>
        <td><%= skillset.name %></td>
        <td><%= skillset.skill_level %></td>
      </tr>
      <% end %>
    </tbody>
  </table><br>

    <table style="border-collapse: collapse; font-size:10pt;" border=1 width=1000 cellpadding="10">
    <thead>
       <tr><th colspan="4"><center><font color='#0077b3'>Family Background</font></center> </th></tr>
      <tr>
        <th>Family  member's name</th>
        <th>Relationship with employeee</th>
        <th>Occupation</th>
      </tr>
    </thead>
  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.f_name %></td>
        <td><%= family.relation %></td>
        <td><%= family.profession %></td>
      </tr>
      <% end %>
    </tbody>
  </table><br>