<!--SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Report</h3>
    <div class="pull-right">
      <%= link_to " Upload ", import_xl_employees_path, class: 'fa fa-upload btn btn-xl btn-info' %>
      <%= link_to " Template ", "/Templates/1. Employee Basic Detail.xls", :class=>"fa fa-download btn-xl btn btn-warning" %>
    </div>
  </div><!-- /.box-header -->
  
  <div class="box-body">
    <%= bootstrap_form_for(:emploee, url: { action: 'employee_basic_report',format: 'xls'}) do |f| %>
      <div class="col-sm-3">
        <div class="field">
         <%= select :salary, :company_location_id, all_company_location2,{include_blank: 'Select Location'},{onchange:"var a={company_location:$(this).val()};$('.ajax-progress').show(); $.get('/reports/basic_details/show_basic_detail',a,function(response){});",class: 'form-control'} %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit "Download Excel", class: "btn btn-sm btn-primary" %>
        </div>
      </div>
    </div><br>
  <% end %>
  </div><!-- /.box-body -->
</div><!-- /.box -->
 <div id="employee_list"></div>
  </div><!-- /.box-body -->
</div><!-- /.box -->
    