<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee List</h3>
    <div class="pull-right">
      <%= link_to "Create Employee", new_employee_path, class: 'btn btn-sm btn-primary' %> 
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
  
    <table border="0" cellspacing="5" cellpadding="5">
      <tbody>
        <tr>
          <td>Minimum age:</td>
          <td><input type="text" id="min" name="min"></td>
        </tr>
        <tr>
          <td>Maximum age:</td>
          <td><input type="text" id="max" name="max"></td>
        </tr>
      </tbody>
    </table>

    <table id="example1" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
      <th>Employee Id</th>
      <th>Employee Name</th>
      <th>Comapny Location</th>
      <th>Date of Birth</th>
      <th>City</th>
      <th>Employement</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.manual_employee_code %></td>
        <td><%= full_name(employee) %></td>
        <td><%= employee.try(:company_location).try(:name) %></td>
        <td><%= employee.date_of_birth %></td>
        <td><%= employee.city %></td>
        <td> <%= employee.employee_type.try(:name) %></td>
        <td><%= employee.status %></td>
        <td>
          <%= link_to '', employee,class: 'btn btn-sm btn-default fa fa-eye' %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

<script type="text/javascript">
 $.fn.dataTableExt.afnFiltering.push(
    function( oSettings, aData, iDataIndex ) {
        var iFini = document.getElementById('min').value;
        var iFfin = document.getElementById('max').value;
        var iStartDateCol = 3;
        var iEndDateCol = 3;
 
        iFini=iFini.substring(6,10) + iFini.substring(3,5)+ iFini.substring(0,2);
        iFfin=iFfin.substring(6,10) + iFfin.substring(3,5)+ iFfin.substring(0,2);
 
        var datofini=aData[iStartDateCol].substring(6,10) + aData[iStartDateCol].substring(3,5)+ aData[iStartDateCol].substring(0,2);
        var datoffin=aData[iEndDateCol].substring(6,10) + aData[iEndDateCol].substring(3,5)+ aData[iEndDateCol].substring(0,2);
 
        if ( iFini === "" && iFfin === "" )
        {
            return true;
        }
        else if ( iFini <= datofini && iFfin === "")
        {
            return true;
        }
        else if ( iFfin >= datoffin && iFini === "")
        {
            return true;
        }
        else if (iFini <= datofini && iFfin >= datoffin)
        {
            return true;
        }
        return false;
    }
);
 
$(document).ready(function() {
      var table = $('#example1').DataTable();
      // Add event listeners to the two range filtering inputs
      $('#min').keyup( function() { table.draw(); } );
      $('#max').keyup( function() { table.draw(); } );
  } );
</script>