 <table id="example" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
      <th>ID</th>
      <th>Employee Name</th>
      <th>Department</th>
      <th>Designation</th>
      <th>No.</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.manual_employee_code %></td>
        <td><%= full_name(employee) %></td>
        <td><%= employee.try(:company_location).try(:name) %> - <%= employee.try(:department).try(:name) %></td>
        <td><%= employee.joining_detail.try(:employee_designation).try(:name) %></td>
        <td><%= employee.try(:contact_no) %></td>
        <td>
          <%= link_to '', employee,class: 'btn btn-sm btn-default fa fa-eye' %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>