<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:Index="1"><Data ss:Type="String">Sr. No.</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">ID</Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String">Employee Name</Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String">UAN No.</Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String">Joining Date</Data></Cell>
        <Cell ss:Index="6"><Data ss:Type="String">Confirmation Date</Data></Cell>
        <Cell ss:Index="7"><Data ss:Type="String">Designation</Data></Cell>
        <Cell ss:Index="8"><Data ss:Type="String">Employee Grade</Data></Cell>
        <Cell ss:Index="9"><Data ss:Type="String">PF</Data></Cell>
        <Cell ss:Index="10"><Data ss:Type="String">PF No.</Data></Cell>
        <Cell ss:Index="11"><Data ss:Type="String">PF Max Amount</Data></Cell>
        <Cell ss:Index="12"><Data ss:Type="String">ESIC</Data></Cell>
        <Cell ss:Index="13"><Data ss:Type="String">ESIC No.</Data></Cell>
        <Cell ss:Index="14"><Data ss:Type="String">Payment Mode</Data></Cell>
        <Cell ss:Index="15"><Data ss:Type="String">Cost Center</Data></Cell>
        <Cell ss:Index="16"><Data ss:Type="String">Employee Category</Data></Cell>
        <Cell ss:Index="17"><Data ss:Type="String">Medical Scheme</Data></Cell>
        <Cell ss:Index="18"><Data ss:Type="String">Probation Period</Data></Cell>
        <Cell ss:Index="19"><Data ss:Type="String">Notice Period</Data></Cell>
        <Cell ss:Index="20"><Data ss:Type="String">Passport</Data></Cell>
        <Cell ss:Index="21"><Data ss:Type="String">Passport No.</Data></Cell>
        <Cell ss:Index="22"><Data ss:Type="String">Passport Issue Date</Data></Cell>
        <Cell ss:Index="23"><Data ss:Type="String">Passport Expiry Date</Data></Cell>
        <Cell ss:Index="24"><Data ss:Type="String">Retention</Data></Cell>
        <Cell ss:Index="25"><Data ss:Type="String">Retirement Date</Data></Cell>
        <Cell ss:Index="26"><Data ss:Type="String">Reserved Category</Data></Cell>
        <Cell ss:Index="27"><Data ss:Type="String">Employeer Pf</Data></Cell>
        <Cell ss:Index="28"><Data ss:Type="String">Employeer Esic</Data></Cell>
        <Cell ss:Index="29"><Data ss:Type="String">Employeer Insurance</Data></Cell>
        <Cell ss:Index="30"><Data ss:Type="String">Employeer Family Pension</Data></Cell>
        <Cell ss:Index="31"><Data ss:Type="String">Employeer Bonus</Data></Cell>
        <Cell ss:Index="32"><Data ss:Type="String">Basis Of Time</Data></Cell>   
      </Row>

      <% i = 0 %>
       <% @joining_details.each do |joining_detail| %>
      <Row>
          <Cell ss:Index="1"><Data ss:Type="String"><%= i=i+1 %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="String"><%= joining_detail.employee.try(:manual_employee_code) %></Data></Cell>
          <Cell ss:Index="3"><Data ss:Type="String"><%= joining_detail.employee.try(:first_name) %> <%= joining_detail.employee.try(:middle_name) %> <%= joining_detail.employee.try(:last_name) %></Data></Cell>
          <Cell ss:Index="4"><Data ss:Type="String"><%= joining_detail.try(:employee_uan_no) %></Data></Cell>
          <Cell ss:Index="5"><Data ss:Type="String"><%= joining_detail.try(:joining_date) %></Data></Cell>
          <Cell ss:Index="6"><Data ss:Type="String"><%= joining_detail.try(:confirmation_date) %></Data></Cell>
          <Cell ss:Index="7"><Data ss:Type="String"><%= joining_detail.try(:employee_designation).try(:name)%></Data></Cell> 
          <Cell ss:Index="8"><Data ss:Type="String"><%= joining_detail.try(:employee_grade).try(:name) %></Data></Cell>
          <Cell ss:Index="9"><Data ss:Type="String"><%= joining_detail.try(:select_pf) %></Data></Cell>
          <Cell ss:Index="10"><Data ss:Type="String"><%= joining_detail.try(:employee_pf_no) %></Data></Cell>
          <Cell ss:Index="11"><Data ss:Type="String"><%= joining_detail.try(:pf_max_amount) %></Data></Cell>
          <Cell ss:Index="12"><Data ss:Type="String"><%= joining_detail.try(:have_esic) %></Data></Cell>
          <Cell ss:Index="13"><Data ss:Type="String"><%= joining_detail.try(:employee_efic_no) %></Data></Cell>
          <Cell ss:Index="14"><Data ss:Type="String"><%= joining_detail.try(:payment_mode).try(:name) %></Data></Cell>
          <Cell ss:Index="15"><Data ss:Type="String"><%= joining_detail.try(:cost_center).try(:name) %></Data></Cell>
          <Cell ss:Index="16"><Data ss:Type="String"><%= joining_detail.try(:employee_category).try(:name) %></Data></Cell>
          <Cell ss:Index="17"><Data ss:Type="String"><%= joining_detail.try(:medical_schem) %></Data></Cell>
          <Cell ss:Index="18"><Data ss:Type="String"><%= joining_detail.try(:probation_period) %></Data></Cell>
          <Cell ss:Index="19"><Data ss:Type="String"><%= joining_detail.try(:notice_period) %></Data></Cell>
          <Cell ss:Index="20"><Data ss:Type="String"><%= joining_detail.try(:passport_no) %></Data></Cell>
          <Cell ss:Index="21"><Data ss:Type="String"><%= joining_detail.try(:is_passport) %></Data></Cell>
          <Cell ss:Index="22"><Data ss:Type="String"><%= joining_detail.try(:passport_issue_date) %></Data></Cell>
          <Cell ss:Index="23"><Data ss:Type="String"><%= joining_detail.try(:passport_expiry_date) %></Data></Cell>
          <Cell ss:Index="24"><Data ss:Type="String"><%= joining_detail.try(:have_retention) %></Data></Cell>
          <Cell ss:Index="25"><Data ss:Type="String"><%= joining_detail.try(:retirement_date) %></Data></Cell>
          <Cell ss:Index="26"><Data ss:Type="String"><%= joining_detail.try(:reserved_category).try(:name) %></Data></Cell>
          <Cell ss:Index="27"><Data ss:Type="String"><%= joining_detail.is_employeer_pf ? "Yes" : "No" %></Data></Cell>
          <Cell ss:Index="28"><Data ss:Type="String"><%= joining_detail.is_employeer_esic ? "Yes" : "No" %></Data></Cell>
          <Cell ss:Index="29"><Data ss:Type="String"><%= joining_detail.is_insurance ? "Yes" : "No" %></Data></Cell>
          <Cell ss:Index="30"><Data ss:Type="String"><%= joining_detail.is_family_pension ? "Yes" : "No" %></Data></Cell>
          <Cell ss:Index="31"><Data ss:Type="String"><%= joining_detail.is_bonus ? "Yes" : "No" %></Data></Cell>
          <Cell ss:Index="32"><Data ss:Type="String"><%= joining_detail.basis_of_time ? "Yes" : "No" %></Data></Cell>
        </Row><!-- Row -->
      <% end %><!-- slip -->
    </Table>
  </Worksheet>
</Workbook>