<%= link_to 'Basic Detail',basic_detail_employees_path(id: @employee.id),class: 'btn btn-primary', remote:true%>

<%= link_to 'Joining Detail',ajax_joining_detail_employees_path(id: @employee.id),class: 'btn btn-primary',remote:true%>

<%= link_to 'Bank Detail',ajax_bank_detail_employees_path(id: @employee.id),class: 'btn btn-primary',remote:true%>

<%= link_to 'Academic Detail',ajax_qualification_detail_employees_path(id: @employee.id),class: 'btn btn-primary',remote:true%>

<%= link_to 'Experience Detail',ajax_experience_detail_employees_path(id: @employee.id),class: 'btn btn-primary',remote:true%>

<%= link_to 'Skillset Detail',ajax_skillset_detail_employees_path(id: @employee.id),class: 'btn btn-primary',remote:true%>

<%= link_to 'Certification Detail',ajax_certification_detail_employees_path(id: @employee.id),class: 'btn btn-primary',remote:true%>

<%= link_to 'Award Detail',ajax_award_detail_employees_path(id: @employee.id),class: 'btn btn-primary',remote:true%>

<%= link_to 'Physical Detail',ajax_physical_detail_employees_path(id: @employee.id),class: 'btn btn-primary',remote:true%>

<%= link_to 'Family Detail',ajax_family_detail_employees_path(id: @employee.id),class: 'btn btn-primary',remote:true%>

<div id='info'><%= render 'show_detail'%></div>
    
    
