<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>OD Request Approved</h4>
    <p>
      ID : <%= @manager.try(:manual_employee_code) %><br>
      Employee Name : <%= @manager.try(:first_name).to_s+' '+@manager.try(:middle_name).to_s+' '+@manager.try(:last_name).to_s %><br>
      Approved

      You have one leave request from <br>
      
      ID : <%= @od_request.employee.try(:manual_employee_code) %><br>
      Employee Name : <%= @od_request.employee.try(:first_name).to_s+' '+@od_request.employee.try(:middle_name).to_s+' '+@od_request.employee.try(:last_name).to_s %><br>
      Department : <%= @od_request.employee.try(:department).try(:name) %><br>
      Designation : <%= @od_request.employee.try(:joining_detail).try(:employee_designation).try(:name) %><br>
      From <%= @od_request.start_date.to_date %> To <%= @od_request.end_date.to_date%><br>
      No of Days : <%= @od_request.no_of_day %> 
    </p>
  </body>
</html>