<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <table class="table table-bordered table-hover table-condensed">
    <tbody>
    <tr>
      <td colspan="2">You have one leave request from </td>
    </tr>
      <tr>
        <td>Employee ID :</td>
        <td><%= @od_request.employee.manual_employee_code %></td>
      </tr>
      <tr>
        <td>Employee Name :</td>
        <td> <%= @od_request.employee.first_name.to_s+' '+@od_request.employee.last_name.to_s %></td>
      </tr>
      <tr>
        <td> Date :</td>
        <td><%= @od_request.start_date.to_date %> To <%= @od_request.end_date.to_date%></td>
      <tr>
        <td> No of Days :</td>
        <td><%= @od_request.no_of_day %></td>
      </tr>
      

    </tbody>
  </table>
  </body>
</html>