<%= bootstrap_form_for(@leave_cashable,html: {id: 'leave_cashable'}) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :employee_id,all_employee_list,{include_blank: "Select Employee"} %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :leav_category_id,cashable_leav_category, {label: "Leave Category",include_blank: "Select Category"},{onchange:"var a={id:$(this).val(),emp_id:$('#leave_cashable_employee_id').val()}; $.get('/leave_cashables/collect_amount',a,function(response){});",:class=>"form_control"} %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
            <%= f.text_field :date, label: "Date", class: 'cashable_date'%>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :no_of_leave, label: "Balance",include_blank: "balance" , readonly:true %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :cashable, label: "Encashment",include_blank: "Encashment" %>
      </div>
    </div>
    <div class="col-sm-3">
      <label>Status</label>
      <div class="form-group required">
        <%= f.check_box :is_confirm,label:'Confirm' %>
      </div>
    </div>
    <div class="col-sm-3">
    <label></label>
      <div class="actions">
        <%= f.submit "Create Leave Encashment" ,class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
<% end %>


<script type="text/javascript">

  $(function(){
     $('.cashable_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });
    });
</script>