<p id="notice"><%= notice %></p>

<p>
  <strong>Leav type:</strong>
  <%= @leav_request.leav_type %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @leav_request.employee %>
</p>

<p>
  <strong>Available leaves:</strong>
  <%= @leav_request.available_leaves %>
</p>

<p>
  <strong>Leave:</strong>
  <%= @leav_request.leave %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @leav_request.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @leav_request.date_to %>
</p>

<p>
  <strong>No of days:</strong>
  <%= @leav_request.no_of_days %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @leav_request.reason %>
</p>

<p>
  <strong>Applied on:</strong>
  <%= @leav_request.applied_on %>
</p>

<%= link_to 'Edit', edit_leav_request_path(@leav_request) %> |
<%= link_to 'Back', leav_requests_path %>
