<p id="notice"><%= notice %></p>

<h1>Listing Reward Allocations</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reward_allocations.each do |reward_allocation| %>
      <tr>
        <td><%= reward_allocation.code %></td>
        <td><%= reward_allocation.name %></td>
        <td><%= reward_allocation.description %></td>
        <td><%= reward_allocation.status %></td>
        <td><%= link_to 'Show', reward_allocation %></td>
        <td><%= link_to 'Edit', edit_reward_allocation_path(reward_allocation) %></td>
        <td><%= link_to 'Destroy', reward_allocation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reward allocation', new_reward_allocation_path %>
