<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @reward_allocation.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @reward_allocation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reward_allocation.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @reward_allocation.status %>
</p>

<%= link_to 'Edit', edit_reward_allocation_path(@reward_allocation) %> |
<%= link_to 'Back', reward_allocations_path %>
