<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @company_event.event_name %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @company_event.event_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @company_event.location %>
</p>

<p>
  <strong>Status:</strong>
  <%= @company_event.status %>
</p>

<p>
  <strong>Time:</strong>
  <%= @company_event.time %>
</p>

<%= link_to 'Edit', edit_company_event_path(@company_event) %> |
<%= link_to 'Back', company_events_path %>
