<div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">Create Interview Schedule</h3>
    </div><!-- /.box-header -->
 <div class="box-body">
 <%= bootstrap_form_for @interview_schedule,html: {id: 'selected_resume'},abc: @selected_resume.id do |f| %>
  <%= f.hidden_field :selected_resume_id, value: @selected_resume.id  %>
  <%= f.hidden_field :employee_id, :value => current_user.employee_id %>
  <div>
  <%= render 'show_selected_resume_detail' %>
  </div>
  <div class="row">
    <div class="col-sm-3">
     <div class="form-group required">
      <%= f.text_field :job_title,value: @selected_resume.job_title,readonly: true,label: 'Job Title' %>
     </div>
    </div>

    <div class="col-sm-3">
     <div class="form-group required">
       <%= f.text_field :candidate_name,value: @selected_resume.name,readonly: true %>
     </div>
    </div>

     <div class="col-sm-3">
     <div class="field">
      <%= f.text_field :email_id %>
     </div>
    </div>  

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :location,label:'Location' %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3">
      <label>Interview Date: </label>
      <div class="form-group required">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :interview_date, hide_label: true, class: 'interview_date'%>
        </div>
      </div>
    </div> 
  </div>
  
  <div class="row">
    <div class="col-sm-3">
      <div class="actions">
      <%= f.submit "Create Interview Schedule",class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
  </div>
</div>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
  $(".select2").select2();
});
</script>

<script type="text/javascript">
  $(function(){
    $('.interview_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });
  }); 
</script>
