<div class="modal-dialog"  style="height:2000px; max-height:400px; width:630px; max-width:630px;">
  <div class="modal-content">
    <div class="modal-body">
    <%= bootstrap_form_for :interview_schedule,url:{action:"update_interview_schedule"} do |f| %>
        <div class="row">
     <div class="col-sm-3">
     <div class="field">
      <%= f.text_field :email_id %>
     </div>
    </div>  
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :location,label:'Location' %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-3">
      <label>Interview Date: </label>
      <div class="form-group required">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :interview_date, hide_label: true, class: 'interview_date'%>
        </div>
      </div>
    </div> 
  </div>
   <div class="row">
    <div class="col-sm-3">
      <div class="actions">
      <%= f.submit "Create Interview Schedule",class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
  </div>
</div>
</div>



  