<div class="modal-dialog" style="height:1000px; max-height:100px; width:1000px; max-width:1400px;">
  <div class="modal-content">
<div class="modal-body" >
     <%= bootstrap_form_for :interview_schedule,url:{action:"update_interview_schedule",id: @interview_schedule.id} do |f| %> 
     <div class="row">
       <div class="col-sm-3">
        <label>Email Id </label>
          <div class="field">
             <%= f.text_field :email_id,hide_label: true%>
          </div>
        </div>

        <div class="col-sm-3">
        <label>Location </label>
         <div class="field">
             <%= f.text_field :location,hide_label: true%>
          </div>
        </div>

        <div class="col-sm-3">
          <label>Interview Date </label>
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
               <%= f.text_field :interview_date, hide_label: true, class: 'interview_date'%>
            </div>
          </div>
        </div>      
        </div><br>
      
      <div class="row">
      <div class="col-sm-3">
        <%= f.submit "Update Interview Schedule", class: 'btn btn-sm btn-warning fa fa-modx' %>
        </div>
      </div>

      <% end %>
      <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
    </div>
  </div>
</div>
