<div class="box">
  <div class="box-header">
    <h3 class="box-title">Interview Schedule List</h3>
<div class="box-body">
<!--<= bootstrap_form_for InterviewSchedule.new,url:{action:'is_confirm'} do |f| %>-->
<table id="example" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
<!--       <th><input type="checkbox" id="selectAll" value="selectAll"></th>
 -->      <th>Job Title</th>
      <th>Candidate Name</th>
      <th>Email Id</th>
      <th>Location</th>
      <th>Interview Date</th>
      <!-- <th>Reschedule</th> -->
      <!-- <th>Status</th> -->
<!--       <th>Reschedule List</th>
 -->      <th>Interview Round</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @interview_schedules.each do |interview_schedule| %>
      <tr>
     <!--  <td>
          < if interview_schedule.is_confirm == true %>

          < else %>
            <= check_box_tag "interview_schedule_ids[]", interview_schedule.id %>
          < end %>
        </td> -->
        <td><%= interview_schedule.job_title %></td>
        <td><%= interview_schedule.candidate_name %></td>
        <td><%= interview_schedule.email_id %></td>
        <td><%= interview_schedule.location %></td>
        <td><%= interview_schedule.interview_date %></td>

            <!--<= link_to ' Reschedule', interview_reschedule_interview_schedules_path(id:interview_schedule.id),class: 'btn btn-xs btn-success fa fa-envelope-o'  %>-->
            <!-- </td> -->
            <!-- <td>
              < if interview_schedule.is_confirm == true %>
              <small class="label label-info">Interview Confirmed</small>
              < else %>
              <small class="label label-danger">Not Yet Confirmed</small>
              < end %>
            </td> -->
           <!--  <td> -->
            <!--< link_to ' Confirm Email',sample_email_to_interviewer_path(interview_schedule),class: 'btn btn-xs btn-warning fa fa-check' %>-->
<!--              link_to '',modal_interview_schedules_path,class: 'btn btn-sm btn-warning fa fa-modx',remote: true %>
 -->      <!--  </td> -->
             <!-- <td>
              < link_to ' List',interview_reschedule_list_interview_schedules_path(interview_schedule),class: 'btn btn-xs btn-primary fa fa-sticky-note-o' %>
            </td> -->
            <td>
              <%= link_to ' Interview Round', new_interview_round_path(interview_schedule_id: interview_schedule.id),class: 'btn btn-xs btn-primary' %>
            </td>
        <td>
         <div id="myModal1" class="modal fade"></div>
<!--           <= link_to '', interview_schedule,class: 'btn btn-xs btn-default fa fa-eye' %>
 -->          <%= link_to '', interview_schedule,method: :delete,data:{confirm:'Are you sure?'},class: 'btn btn-xs btn-danger fa fa-close' %>
          <!--<= link_to '',modal_schedule_list_interview_schedules_path(interview_schedule),class: 'btn btn-success btn-xs fa fa-edit',remote: true %>-->
        </td>
          <!--= link_to '', edit_interview_schedule_path(interview_schedule),class: 'btn btn-success btn-xs fa fa-edit' %>-->
      </tr>
    <% end %>
  </tbody>
</table>

<!-- <div class="row">
  <div class="col-sm-3">
    <div class="actions">
      <= f.submit "Confirm Interview", class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
</div>
< end %> -->
     
<br>
<div id="myModal" class="modal fade"></div>

</div>
</div>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>
<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>