<%= form_for :interview_schedule, url: { action: 'print_interviewee_list',format: 'pdf'},:html => {:target => '_blank'} do |f| %>
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Interview List</h3>
    <div class="pull-right"></div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <table id="example" class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
<!--               <th><input type="checkbox" id="selectAll" value="selectAll"></th>
 -->              <th>Sr.No</th>
              <th>Candidate Name</th>
              <th>Interview Date</th>
              <th>Download Resume/Photo</th>
              <th>Interview Rounds</th>
            </tr>
          </thead>

          <tbody>
          <% i = 0 %>
            <% @interview_schedules.each do |interview_schedule| %>
              <tr>
              <!-- <td>
                  <= check_box_tag "interview_schedule_ids[]", interview_schedule.id %>
              </td> -->
                <td><%= i=i+1 %></td>
                <td><%= interview_schedule.candidate_name %></td>
                <td><%= interview_schedule.interview_date %></td>
                <td><%= link_to '', resume_list_interview_schedules_path(interview_schedule),class: 'btn btn-xs fa fa-download' %></td>
                <td><%= link_to ' Interview Round',interview_round_list_interview_schedules_path(interview_schedule),class: 'btn btn-xs btn-primary' %></td>
                
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
</div>

  <!-- <div class="col-sm-3">
    <= f.submit "Print Interviewee Detail",class: "btn btn-xl btn-warning fa fa-print" %>
  </div> -->
  <% end %>

<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>