<style>
  th {
      text-align: left;
  }
  </style>
  <style>
     table {
    page-break-inside: avoid; 
  }
</style>
<center><h3 class="box-title">Final Report</h3></center><br>
<h4 class="box-title">Interview Schedule Details</h4>
<table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
  <thead>
    <tr>
<!--       <th>ID</th>
 --> 
      <th>Job Title</th>
      <th>Candidate Name</th>
      <th>Email ID</th>
      <th>Interview Date</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% @interview_schedules.each do |interview_schedule| %>
      <tr>
<!--         <td><%= interview_schedule.id %></td>
 -->    <td><%= interview_schedule.job_title %></td>
        <td><%= interview_schedule.candidate_name %></td>
        <td><%= interview_schedule.email_id %></td>
        <td><%= interview_schedule.interview_date %></td>
        <td><%= interview_schedule.location %></td>
      </tr>
    <% end %>
  </tbody>
</table><br><br>
<h4 class="box-title">Interview Rounds</h4>
<table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Sr.No</th> 
      <th>Interviewer Name</th>
      <th>Interview Type</th>
      <th>Interview Date</th>
      <th>Interview Time</th>
      <th>Location</th>
      <th>Schedule Comment</th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @interview_rounds.each do |interview_round| %>
      <tr>
        <td><%= i=i+1 %></td>
        <td><%= full_name(interview_round.employee) %></td>
        <td><%= interview_round.interview_type.try(:name) %></td>
        <td><%= interview_round.interview_date %></td>
        <td><%= interview_round.interview_time %></td>
        <td><%= interview_round.location %></td>
        <td><%= interview_round.schedule_comment %></td>
<!--         <td><= interview_rounds.interview_analysis.interview_evalution.try(:name) %></td>
 -->      </tr>
    <% end %>
  </tbody>
</table>  
<h4 class="box-title">Interview Evaluation</h4>
<table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Sr.No</th> 
      <th>Interviewer Name</th>
      <th>Interview Type</th>
      <th>Evaluation Criteria</th>
      <th>Skillset</th>
      <th>Evaluation</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
  <% i = 0 %>
    <% @interview_analyses.each do |interview_analysis| %>
      <tr>
        <td><%= i=i+1 %></td>
        <td><%= interview_analysis.interview_round.employee.try(:first_name) %> <%= interview_analysis.interview_round.employee.try(:middle_name) %> <%= interview_analysis.interview_round.employee.try(:last_name) %></td>
        <td><%= interview_analysis.interview_round.interview_type.try(:name) %></td>
        <td><%= interview_analysis.interview_evalution.try(:name) %></td>
        <td><%= interview_analysis.interview_attribute.try(:name) %></td>
        <td><%= interview_analysis.interview_decision.try(:name) %></td>
        <td><%= interview_analysis.comment %></td>
      </tr>
    <% end %>
    <tr>
        <th>Total Score</th>
        <th colspan="6"><% interv_analy = InterviewAnalysis.where(interview_schedule_id: @interview_schedule.id) %><%=  %></th>
    </tr>
  </tbody>
</table><br><br>

