<style>
  th {
      text-align: left;
  }
  </style>
  <style>
     table {
    page-break-inside: avoid; 
  }
</style>
<table style="border-collapse: collapse; font-size:11pt;" border=1 width=1200 cellpadding="10">
  <thead>
   <tr><th colspan="6"><center>Interview Schedule Details</center></th></tr>
    <tr>
<!--       <th>ID</th>
 -->  <th>Job Title</th>
      <th>Candidate Name</th>
      <th>Email ID</th>
      <th>Interview Date</th>
      <th>Location</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @interview_schedules.each do |interview_schedule| %>
      <tr>
<!--         <td><%= interview_schedule.id %></td>
 -->    <td><%= interview_schedule.job_title %></td>
        <td><%= interview_schedule.candidate_name %></td>
        <td><%= interview_schedule.email_id %></td>
        <td><%= interview_schedule.interview_date %></td>
        <td><%= interview_schedule.location %></td>
        <td><%= interview_schedule.address %></td>
      </tr>
  </tbody>
</table>

<table style="border-collapse: collapse; font-size:11pt;" border=1 width=1200 cellpadding="10">
  <thead>
  <% @interview_rounds.each do |interview_round| %>
  <tr><th colspan="4"><center>Interview Rounds</center></th></tr>
    
  </thead>
  <tbody>
    
      <tr>
        <td>Interviewer Name : <%= full_name(interview_round.employee) %></td>
        <td>Type : <%= interview_round.interview_type.try(:name) %></td>
     
        <td colspan="2">Date : <%= interview_round.interview_date %> - Time : <%= interview_round.interview_time %></td>
      </tr>
      <tr>
        <td>Location : <%= interview_round.location %></td>
        <td colspan="3">Description : <%= interview_round.schedule_comment %></td>
<!--         <td><= interview_rounds.interview_analysis.interview_evalution.try(:name) %></td>
 -->  </tr>
      <tr><th colspan="4"><center>Interview Evaluation</center></th></tr>
      <tr>
          <th>Attributes</th>
          <th>Skillset</th>
          <th>Evaluation</th>
          <th>Remarks</th>
          
      </tr>
      <% interview_round.interview_analyses.try(:each) do |ia| %>
      <tr>
          <td><%= ia.interview_evalution.try(:name) %></td>
          <td><%= ia.interview_attribute.try(:name) %></td>
          <td><%= ia.interview_decision.try(:name) %></td>
          <td><%= ia.comment %></td>
      </tr>
     
      <%end%><br>
       <tr>
       <th colspan="2">Total Score</th>
       <th colspan="2">
          <% interv_analy = InterviewAnalysis.where(interview_round_id: interview_round) %>
          <% sum = 0 %>
          <% interv_analy.each do |i| %>
          <% interv_dec = InterviewDecision.find_by(id: i.interview_decision_id) %>
          <% sum = interv_dec.name + sum %>
          <% end %> 
          <%= sum %>
       </th>
      </tr>
    <% end %>
    <tr>
      <th colspan="2">Overall Total Score</th>
      <th colspan="2">
          <% interv_analy = InterviewAnalysis.where(interview_schedule_id: @interview_schedule.id) %>
          <% sum = 0 %>
          <% interv_analy.each do |i| %>
          <% interv_dec = InterviewDecision.find_by(id: i.interview_decision_id) %>
          <% sum = interv_dec.name + sum %>
          <% end %> 
          <%= sum %>
      </th>
    </tr>  
  </tbody>
</table>
<% end %>

