<div class="box box-default">
<div class="box-header with-border">
    <h3 class="box-title">Interview Details</h3>
  </div><!-- /.box-header -->
 <div class="box-body">
   <table id="example2" class="table table-bordered table-hover table-condensed">
   <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>

 <tr> 
  <th><strong>Job Title:</strong></th>
  <td><%= @interview_schedule.interviewer_name %></td>

   <th><strong>Candidate Name:</strong></th>
  <td><%= @interview_schedule.candidate_name %></td>

  <th><strong>Interviewer Name:</strong></th>
  <td><%= @interview_schedule.employee.try(:manual_employee_code)+' '+@interview_schedule.employee.try(:first_name)+' '+@interview_schedule.employee.try(:last_name) %></td>
 

  <th><strong>Email Id:</strong></th>
  <td><%= @interview_schedule.email_id %></td>
</tr>

<tr>
  <th><strong>Interview Date</strong></th>
  <td><%= @interview_schedule.interview_date %></td>

  <th><strong>Interview Time</strong></th>
  <td><%= @interview_schedule.interview_time %></td>

  <th><strong>Location:</strong></th>
  <td><%= @interview_schedule.location %></td>

  <th><strong>Schedulecomments:</strong></th>
  <td><%= @interview_schedule.schedule_comments %></td>
</tr>

<tr>
  
  <th><strong>Postingtitle:</strong></th>
  <td><%= @interview_schedule.post_title %></td>

  <th><strong>Type:</strong></th>
  <td><%= @interview_schedule.interview_type %></td>

 <th><strong>Interviewstatus:</strong></th>
  <td><%= @interview_schedule.interview_status %></td>

  <th></th>
  <td></td>
  
</tr>

</table>

<%= link_to 'Edit', edit_interview_schedule_path(@interview_schedule) %> |
<%= link_to 'Back', interview_schedules_path %>
</div>
</div>