
  <div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Skillset</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>

    </div>
  </div><!-- /.box-header -->

<div class="box-body">
<%= bootstrap_form_for(@skillset,html: {id: 'skillset'}) do |f| %>
<%= f.hidden_field :employee_id, value: @employee.id %>
  <div class="row">
        
         <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :name %>
         </div>
        </div>

         <div class="col-sm-3">
          <div class="form-group required">
           <%= f.select :skill_level, ['Competence','Proficiency','Expertise','Mastery'] %>
           </div>
        </div>
      </div>

   <% if controller_name == 'skillsets' and action_name == 'new' %>
      <div class="row">
        <div class="col-sm-2">
          <input type="button" id="btnAdd" value="Add section" class="btn btn-success"> 
        </div>

        <div class="col-sm-3">
          <input type="button" id="btnDel" value="Remove section above" class="btn btn-danger">
        </div>
      </div><br>
    <% end %>
 
        <div class="col-sm-1"></div>
         <div class="col-sm-4">
          <div class="actions">
            <%= f.submit :class => class_name, data: { disable_with: data_info } %>
            </div>
        </div>
</div><!-- /.box-body -->
<% end %>
<div class="box-footer">

    Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about the plugin.
  </div>
</div><!-- /.box -->