
  <div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Certifications</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>

    </div>
  </div><!-- /.box-header -->

<div class="box-body">
<%= bootstrap_form_for(@skillset) do |f| %>

  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
              <%= f.text_field :employee_id %>
          </div>
        </div>
  </div>



  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :name %>
         </div>
        </div>
  </div>

  <div class="row">

        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :skill_level %>
           </div>
        </div>
  </div>

 <div class="row">

        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="actions">
           <%= f.submit %>
            </div>
        </div>
 </div>
</div><!-- /.box-body -->
<% end %>
<div class="box-footer">

    Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about the plugin.
  </div>
</div><!-- /.box -->