<div class="box box-default">
  <div class="box-header with-border">
 <div class="row">
   <div class="col-sm-1">
  <% if @skillsets.first.employee.passport_photo_file_name == nil %>
  <% if @skillsets.first.employee.gender == "Female" %>
   <%= image_tag "avatar2.png",class: "img", alt: "User Image", size: "70x70" %>
  <%else%>
   <%= image_tag "avatar5.png",class: "img", alt: "User Image", size: "70x70" %>
  <%end%>
 <%else%>
      <%= image_tag @employee.passport_photo.url, :size => "70x70" %>
      <%end%>
  </div>
    <div class="col-sm-6">
     <font color='#0077b3'>
       ID : <%= @skillsets.first.employee.try(:manual_employee_code) %><br>
       Name : <%= full_name(@skillsets.first.employee) %><br>
       Email : <%= @skillsets.first.employee.email %></font>
    </div>
  </div>

    <div class="box-tools pull-right">
      <%= link_to "Add Skill Set", ajax_new_skillset_employees_path(id: @employee.id), class: 'btn btn-xs btn-primary',remote:true %>
      <%= link_to 'Back', employees_path,class: 'btn btn-default btn-xs fa fa-arrow-left' %>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <tr><th colspan="3"><center><font color='#0077b3'>Skill Set Detail</font></center> </th></tr>
   <tr>
      <th>Sr.No.</th>
      <th>Name</th>
      <th>Skill Level</th>
      <th>Action</th>
    </tr>
  <% i = 0%>
    <% @skillsets.each do |skillset| %>
      <tr>
        <td><%= i = i+1 %></td>
        <td><%= skillset.name %></td>
        <td><%= skillset.skill_level %></td>
        <td>
          <%= link_to '', edit_skillset_path(skillset),class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
          <!--  link_to '', skillset, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-sm fa fa-close' %> -->
        </td>
      </tr>
        <%end%>
    </table>
  </div><!-- /.box -->
</div>

