 <div class="box">
  <div class="box-header">
    <h3 class="box-title">Skills List</h3>
    <div class="pull-right">
      <%= link_to "New Skillset", new_skillset_path, class: 'btn btn-sm btn-primary' %> 
    </div>
    
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
    <tr>
      <th>Employee</th>
      <th>Name</th>
      <th>Skill level</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @skillsets.each do |skillset| %>
      <tr>
        <td><%= skillset.employee %></td>
        <td><%= skillset.name %></td>
        <td><%= skillset.skill_level %></td>
        <td>
         <%= link_to '', skillset,class: 'btn btn-sm btn-default fa fa-eye' %>
         <%= link_to '', edit_skillset_path(skillset),class: 'btn btn-sm btn-success fa fa-edit' %>
         <%= link_to '', skillset, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-danger fa fa-close' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>