<p id="notice"><%= notice %></p>

<p>
  <strong>Compliance type:</strong>
  <%= @transaction_record.compliance_type %>
</p>

<p>
  <strong>Type:</strong>
  <%= @transaction_record.type %>
</p>

<p>
  <strong>Submission date:</strong>
  <%= @transaction_record.submission_date %>
</p>

<p>
  <strong>Reminder date:</strong>
  <%= @transaction_record.reminder_Date %>
</p>

<p>
  <strong>Previous days:</strong>
  <%= @transaction_record.previous_days %>
</p>

<p>
  <strong>After days:</strong>
  <%= @transaction_record.after_days %>
</p>

<p>
  <strong>Email 1:</strong>
  <%= @transaction_record.email_1 %>
</p>

<p>
  <strong>Email 2:</strong>
  <%= @transaction_record.email_2 %>
</p>

<p>
  <strong>Email 3:</strong>
  <%= @transaction_record.email_3 %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction_record.status %>
</p>

<p>
  <strong>Is confirm:</strong>
  <%= @transaction_record.is_confirm %>
</p>

<%= link_to 'Edit', edit_transaction_record_path(@transaction_record) %> |
<%= link_to 'Back', transaction_records_path %>
