<table id="example2" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Period</th>
          <th>Goal perspective</th>
          <th>Goal measure</th>
          <th>Target</th>
          <th>Goal weightage</th>
          <th>Difficulty level</th>
          <th>Allign To Supervisor</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @employee_goals.each do |e| %>
        <tr>
          <td><%= e.period.title %></td>
          <td><%= e.goal_perspective.name %></td>
          <td><%= e.goal_measure %></td>
          <td><%= e.target %></td>
          <td><%= e.goal_weightage %></td>
          <td><%= e.difficulty_level %></td>
          <td><%= e.allign_to_supervisor %></td>
          <td>
            <% if e.is_confirm == true %>
            <% else %>
              <%= link_to '', edit_employee_goal_path(e) ,class: 'btn btn-xs btn-success fa fa-edit',remote:true  %>
              <%= link_to '',  e, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-xs btn-danger fa fa-close' %>
              <%= link_to '',is_confirm_employee_goals_path(e),class: 'btn btn-xs btn-warning fa fa-check'%>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to 'Attribute Setting', new_employee_attribute_path(@employee.id) , class: 'btn btn-warning btn-sm' %> </br>
      </br>
    <%= link_to 'Back', subordinate_list_employee_goals_path %>