<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"><%= @employee_goals.try(:first).try(:employee).try(:manual_employee_code) %> <%= @employee_goals.try(:first).try(:employee).try(:first_name) %> <%= @employee_goals.try(:first).try(:employee).try(:last_name) %> Goals : <%= @employee_goals.try(:first).try(:period).try(:title) %> : <%= @employee_goals.try(:first).try(:period).try(:start_date) %> To <%= @employee_goals.try(:first).try(:period).try(:end_date) %></h3>
  </div>
  <div class="box-body">

<table id="example" class="table table-bordered table-hover table-condensed">
		<thead>
		  <tr>
				<th>Goal perspective</th>
				<th>Goal measure</th>
				<th>Target</th>
				<th>Goal weightage</th>
				<th>Difficulty level</th>
				<th>Allign To Supervisor</th>
			</tr>
		</thead>
		<tbody>
		  <% @employee_goals.each do |e| %>
		  <tr>
				<td><%= e.goal_perspective.name %></td>
				<td><%= e.goal_measure %></td>
				<td><%= e.target %></td>
				<td><%= e.goal_weightage %></td>
				<td><%= e.difficulty_level %></td>
				<td><%= e.allign_to_supervisor %></td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<hr>
	<h6> Attributes & Definition </h6>
	<table id="example2" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Attribute & Definition</th>
          <th>Weightage</th>
        </tr>
      </thead>
      <tbody>
        <% @employee_attributes.each do |a| %>
        <tr>
          <td><%= a.attribute_master.name %></td>
          <td><%= a.weightage %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    
<%= link_to ' Back', employee_list_employee_goals_path ,class: 'btn btn-default btn-sm fa fa-arrow-left'%>
</div>
</div>