<style>
th {
    text-align: left;
}
tr {
    page-break-inside: avoid;
}
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak{ page-break-inside: avoid;
  /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
}
</style>
 <% @employees.each do |e| %>
   <% @attribute_rating_sheets = AttributeRatingSheet.where(appraisee_id: e.id ).group(:appraisee_id) %>
   <% @experiences = Experience.where(employee_id: e.id)  %>
   <% @qualifications = Qualification.where(employee_id: e.id)%> 
   <% @goal_rating_sheets = GoalRatingSheet.where(appraisee_id:e.id)%>
   <%@joining_detail = JoiningDetail.find_by_employee_id(e.id) %>
    <% @employes = Employee.where(id: e.id).group(:id) %>
  <%  @ctc = EmployeeSalaryTemplate.where(employee_id: e.id).sum(:monthly_amount)%>
   <% @attribute_rating_multiple_sheets = AttributeRatingSheet.where(appraisee_id: e.id) %>
<div>
<h3>Employee Details</h3>
<table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
    <thead>
	    <tr>
	    	<th>Employee ID</th>
	    	<th>Name</th>
        <th>Age</th>
	    	<th>Department</th>
	    	<th>Date Of Joining</th>
	    	<th>Grade</th>
	    	<th>Current Designation</th> 
      </tr>
    </thead>
    <tbody>
      <% @employes.each do |a| %>
      <tr>
        <td><%= a.manual_employee_code %></td> 
        <td><%= a.first_name %></td>
        <td><%= Time.now.year - a.date_of_birth.year %></td>
        <td><%= a.department.try(:name) %></td>
        <td><%= @joining_detail.joining_date %></td>
        <td><%= @joining_detail.employee_grade.try(:name) %></td>
        <td><%= @joining_detail.employee_designation.try(:name) %></td>
      </tr>
      <% end %>
    </tbody>
  </table><br><br>

  <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
    <thead>
      <tr>
	    	<th>Previous Company</th>
        <th>Designation</th>
        <th>Previous Exp.(Years)</th>
        <th>CTC</th>
      </tr>
    </thead>
    <tbody>
    <% @experiences.each do |e| %>
      <tr>
       <td><%= e.company_name %></td>
       <td><%= e.designation %></td>
       <td><%= e.no_of_year %></td>
       <td><%= e.ctc %></td>
      </tr>
      <% end %>
    </tbody>
	</table><br><br>

	<table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Degree</th>
            <th>Year Of Passing</th>
            <th>Marks %</th>
            <th>Qualification</th>
          </tr>
        </thead>
        <tbody>
        <% @qualifications.each do |q| %>
          <tr>
            <td><%= q.degree.try(:name) %></td>
            <td><%= q.year.try(:name).to_s+" / "+q.marks.to_s %></td>
            <td><%= q.degree_type.try(:name) %></td>
          </tr>
          <% end %>
        </tbody>
      </table><br><br>

      <table id="tbl" style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Goal Perspective</th>
        <th>Goal Measure</th>
        <th>Target/Unit</th>
        <th>Goal Weightage</th>
        <th>Difficulty Level</th>
        
        <th>Aligned To Supervisor</th>
        <th>Appraisee Comment</th>
        <th>Appraisee Rating</th>
        <th>Appraiser Comment</th>
        <th>Appraiser Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @goal_rating_sheets.each do |g| %>
        <tr>
          <td><%= g.employee_goal.goal_perspective.try(:name) %></td>
          <td><%= g.employee_goal.goal_measure %></td>
          <td><%= g.employee_goal.target %></td>
          <td><%= g.employee_goal.goal_weightage %></td>
          <td><%= g.employee_goal.difficulty_level %></td>
          <td><%= g.employee_goal.allign_to_supervisor %></td>

          <td><%= g.appraisee_comment %></td>
          <td><%= g.appraisee_rating.try(:code) %></td>
          <td><%= g.appraiser_comment %></td>
          <td><%= g.appraiser_rating.try(:code) %></td>
        </tr>
      <% end %>
    </tbody>
  </table><br>

  <table id="tbl" style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Attribute & Definition</th>
        <th>Weightage</th>
        <th>Appraisee Comment</th>
        <th>Appraisee Rating</th>
        <th>Appraiser Comment</th>
        <th>Appraiser Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @attribute_rating_multiple_sheets.each do |a| %>
        <tr>
          <td><%= a.employee_attribute.attribute_master.try(:name) %></td>
          <td><%= a.employee_attribute.weightage %></td>
          <td><%= a.appraisee_comment %></td>
          <td><%= a.appraisee_rating.try(:code) %></td>
          <td><%= a.appraiser_comment %></td><br><br>
          <td><%= a.appraiser_rating.try(:code) %></td>   
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
 </div> 