<p id="notice"><%= notice %></p>

<h1>Listing Meeting Follow Ups</h1>

<table>
  <thead>
    <tr>
      <th>Employee plan</th>
      <th>Contact person</th>
      <th>Contact no</th>
      <th>Follow up response</th>
      <th>Date</th>
      <th>Time</th>
      <th>Next date</th>
      <th>Next time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meeting_follow_ups.each do |meeting_follow_up| %>
      <tr>
        <td><%= meeting_follow_up.employee_plan %></td>
        <td><%= meeting_follow_up.contact_person %></td>
        <td><%= meeting_follow_up.contact_no %></td>
        <td><%= meeting_follow_up.follow_up_response %></td>
        <td><%= meeting_follow_up.date %></td>
        <td><%= meeting_follow_up.time %></td>
        <td><%= meeting_follow_up.next_date %></td>
        <td><%= meeting_follow_up.next_time %></td>
        <td><%= link_to 'Show', meeting_follow_up %></td>
        <td><%= link_to 'Edit', edit_meeting_follow_up_path(meeting_follow_up) %></td>
        <td><%= link_to 'Destroy', meeting_follow_up, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Meeting follow up', new_meeting_follow_up_path %>
