<%= form_for(@employee_shift) do |f| %>
  <% if @employee_shift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_shift.errors.count, "error") %> prohibited this employee_shift from being saved:</h2>

      <ul>
      <% @employee_shift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_shift_id %><br>
    <%= f.text_field :company_shift_id %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
