<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee shift</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>  
      <th>Name</th>
      <th>Shift</th>
      <th>From Date</th>
      <th>To Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @employee_shifts.each do |employee_shift| %>
      <tr>
        <td><%= employee_shift.employee.try(:first_name) %></td>
        <td><%= employee_shift.company_shift.try(:name) %></td>
        <td><%= employee_shift.from_date %></td>
        <td><%= employee_shift.to_date %></td>
        <td>
        <%= link_to '', employee_of_shift_employee_shifts_path,class: 'btn btn-default fa fa-eye' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>