<%= bootstrap_form_for(@payroll_overtime_master,html: {id: 'payroll_overtime_master'},remote:true) do |f| %>
<div class="row">
<div class="col-sm-3">
    <label>Base Component</label>
      <div class="form-group required">
        <%=select_tag("components[]",options_for_select(SalaryComponent.where(is_base: true).collect {|ff| [ff.name, ff.id] }),{:multiple=>true,:id => "batches",class: "form-control"})%>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :is_payroll,[['Yes','true'],['No','false']],{label: 'Payroll',include_blank: " Select Payroll Option"} %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :rate %>
      </div>
    </div>
   
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :company_hrs %>
      </div>
    </div>
  </div>
  <div class="row">
   <div class="col-sm-3">
      <label>Status </label>
      <div class="field">
        <%= f.check_box :is_active, label: 'Active'%>
      </div>
    </div>
 
    <div class="col-sm-3">
    <label></label>
      <div class="actions">
        <%= f.submit"Create Overtime Payroll Master", :class => class_name, data: { disable_with: data_info }%>
      </div>
    </div>
  </div>
  <br>
<% end %>

<script>
$("#payroll_overtime_master").validate({
    rules: {
      "payroll_overtime_master[is_payroll]":{
        required: true,
      }
    },
    messages: {
      "payroll_overtime_master[is_payroll]":{
        required: "Please Select Payroll",
      }
      
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>