<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Overtime Payroll Detail </center></h4>
    </div>
    <div class="modal-body">
		<table class="table table-bordered table-hover table-condensed">
		  <thead>
		  <tr>
		  <th><strong>Base Component</strong></th>
		   <td colspan="3"> <% i = 0 %>
		          <% @payroll_overtime_master.base_component.split(",").each do |e| %>
		            <% if i == 0 %>
		              <%= SalaryComponent.find(e.to_i).name %>
		            <% else %>
		              + <%= SalaryComponent.find(e.to_i).name %>
		            <% end %>
		            <% i = i + 1 %>
		          <% end %>
		      </td>
		  
		</tr>
		<tr>
		  <th><strong>Rate</strong></th>
		   <td><%= @payroll_overtime_master.rate %></td>

		     <th><strong>Payroll</strong></th>
		  <td><%= @payroll_overtime_master.is_payroll %></td>

		</tr>

		<tr>
		<th><strong>Company Hrs</strong></th>
		   <td><%= @payroll_overtime_master.company_hrs %></td>

		    <th><strong>Status</strong></th>
		   <td><%= @payroll_overtime_master.is_active ? "Active" : "Inactive" %></td>
		</tr>
		  </thead>
		</table>
</div>
<div class="modal-footer"></div>
</div>
</div>  