<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Payroll</th>
      <th>Company Hrs</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @payroll_overtime_masters.each do |payroll_overtime_master| %>
      <tr>
        <td><%= payroll_overtime_master.is_payroll ? "Yes" : "No" %></td>
        <td><%= payroll_overtime_master.company_hrs %></td>
        <td><%= payroll_overtime_master.is_active ? "Active" : "Inactive" %></td>
        <td>
          <% if payroll_overtime_master.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
            <%= link_to '', payroll_overtime_masters_modal_payroll_overtime_masters_path(payroll_overtime_master), class: 'btn btn-xs btn-default fa fa-eye',remote: true%>
            <%= link_to '', edit_payroll_overtime_master_path(payroll_overtime_master) ,class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
          <% else %>
            <%= link_to '', edit_payroll_overtime_master_path(payroll_overtime_master) ,class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
            <%= link_to '',  payroll_overtime_master, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-xs btn-danger fa fa-close' %>
            <%= link_to '', is_confirm_payroll_overtime_masters_path(payroll_overtime_master: payroll_overtime_master),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
            <%= link_to '', payroll_overtime_masters_modal_payroll_overtime_masters_path(payroll_overtime_master), class: 'btn btn-xs btn-default fa fa-eye',remote: true%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="Mymodal" class="modal fade"></div>