<%= form_for(@interview_decision) do |f| %>
  <% if @interview_decision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interview_decision.errors.count, "error") %> prohibited this interview_decision from being saved:</h2>

      <ul>
      <% @interview_decision.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
