<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @interview_decision.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @interview_decision.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @interview_decision.description %>
</p>

<%= link_to 'Edit', edit_interview_decision_path(@interview_decision) %> |
<%= link_to 'Back', interview_decisions_path %>
