<p id="notice"><%= notice %></p>

<h1>Listing Bonus</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Bonus amount</th>
      <th>Bouns date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bonus.each do |bonu| %>
      <tr>
        <td><%= bonu.employee %></td>
        <td><%= bonu.bonus_amount %></td>
        <td><%= bonu.bouns_date %></td>
        <td><%= link_to 'Show', bonu %></td>
        <td><%= link_to 'Edit', edit_bonu_path(bonu) %></td>
        <td><%= link_to 'Destroy', bonu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bonu', new_bonu_path %>
