<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @bonu.employee %>
</p>

<p>
  <strong>Bonus amount:</strong>
  <%= @bonu.bonus_amount %>
</p>

<p>
  <strong>Bouns date:</strong>
  <%= @bonu.bouns_date %>
</p>

<%= link_to 'Edit', edit_bonu_path(@bonu) %> |
<%= link_to 'Back', bonus_path %>
