<div class="box">
  <div class="box-header">
    <h3 class="box-title">Rembursment Confirmation List</h3>
    <div class="pull-right">
    </div>
    </div>
<div class="box-body">
<table id="example" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Rembursment Date</th>
      <th>Amount</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
      <% @rembursments.each do |rembursment| %>
      <tr>
      <% if @rembursment.id == rembursment.id %>
        <td><font color='green'> *<%= rembursment.employee.try(:manual_employee_code) %></font></td>
        <td><font color='green'><%= full_name(rembursment.employee)%></font></td>
        <td><font color='green'><%= rembursment.rembursment_date %></font></td>
        <td><font color='green'><%= rembursment.amount %></font></td>
        <td><font color='green'><%= rembursment.status %></font></td>
      <% else %>
        <td><%= rembursment.employee.try(:manual_employee_code) %></td>
        <td><%= full_name(rembursment.employee)%></td>
        <td><%= rembursment.rembursment_date %></td>
        <td><%= rembursment.amount %></td>
        <td><%= rembursment.status %></td>
      </tr>
      <% end %>
      <% end %>
  </tbody>
</table>

<table id="example1" class="table table-bordered table-hover table-condensed">
<tbody>
    <tr><td colspan="4"><font color='red'><center>Current Rembursment Request</center></font></td></tr>  </tbody>
    <tr>

      <td><b>Rembursment Code</b></td>
      <td><%= @rembursment.id %></td>
    
      <td><b>Employee Name</b></td>
      <td><%= full_name(@rembursment.employee) %></td>
    </tr>
    <tr>
      <td><b>Reporting Manager 1</b></td>
      <td><%= @rembursment.employee.try(:manager).try(:first_name) %> <%= @rembursment.employee.try(:manager).try(:middle_name) %> <%= @rembursment.employee.try(:manager).try(:last_name) %></td>
    
      <td><b>Reporting Manager 2</b></td>
      <td><%= @rembursment.employee.try(:manager_2).try(:first_name) %> <%= @rembursment.employee.try(:manager_2).try(:middle_name) %> <%= @rembursment.employee.try(:manager_2).try(:last_name) %></td>
    </tr>

    <tr>

    <td><b>Rembursment Date</b></td>
      <td><%= @rembursment.rembursment_date %></td>
      
      <th><strong>Rembursment</strong></th>
      <td><%= @rembursment.rembursmentmaster.try(:name)%></td>
    </tr>
    <tr>
      <td><b>Amount</b></td>
      <td><%= @rembursment.amount %></td>
   
      <td><b>Status</b></td>
      <td><%= @rembursment.status %></td>
    </tr>

</table>

<td>
  <% if @rembursment.employee.manager_id.present? && @rembursment.employee.manager_2_id.present? && @rembursment.status == "Pending" %>
      <%= link_to ' Approve',first_approve_rembursments_path(@rembursment.id),class: 'btn btn-sm btn-info fa fa-check',data: { confirm: 'Are you sure?' } %> |
      <%= link_to ' Reject',reject_rembursment_rembursments_path(@rembursment.id),class: 'btn btn-sm btn-danger fa fa-trash',data: { confirm: 'Are you sure?' } %> 
  <%  elsif @rembursment.employee.manager_id.present? && @rembursment.employee.manager_2_id.present? && @rembursment.status == "FirstApproved" %>
    <%= link_to ' Approve',first_approve_rembursments_path(@rembursment.id),class: 'btn btn-sm btn-info fa fa-check',data: { confirm: 'Are you sure?' } %> |
    <%= link_to ' Reject',reject_rembursment_rembursments_path(@rembursment.id),class: 'btn btn-sm btn-danger fa fa-trash',data: { confirm: 'Are you sure?' } %> 
    <%= link_to 'Approve & Send next',approve_and_send_next_rembursments_path(@rembursment.id),class: 'btn btn btn-xs btn-success',data: { confirm: 'Are you sure?' } %> 
  <% elsif @rembursment.employee.manager_id.present? && @rembursment.employee.manager_2_id.nil? && @rembursment.status == "Pending" %>
    <%= link_to ' Approve',approve_rembursment_rembursments_path(@rembursment.id),class: 'btn btn-sm btn-info fa fa-check',data: { confirm: 'Are you sure?' } %> |
    <%= link_to ' Reject',reject_rembursment_rembursments_path(@rembursment.id),class: 'btn btn-sm btn-danger fa fa-trash',data: { confirm: 'Are you sure?' } %> 
  <% end %>

  <% if @rembursment.status == "Approved & Send Next" %>
      <% rembursment = Rembursment.where(id: @rembursment.id , status: "Approved & Send Next").take %>
      <% employ = Employee.where(id: rembursment.manager_id).take %>

  <% if @rembursment.employee.manager_id.present? && @rembursment.employee.manager_2_id.present? && @rembursment.status == "Approved & Send Next" %>
      <%= link_to 'Approve',first_approve_rembursments_path(@rembursment.id),class: 'btn btn-sm btn-info fa fa-check',data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Reject',reject_rembursment_rembursments_path(@rembursment.id),class: 'btn btn-sm btn-danger fa fa-trash',data: { confirm: 'Are you sure?' } %>

    <% elsif @rembursment.employee.manager_id.present? && @rembursment.employee.manager_2_id.nil? && @rembursment.status == "Approved & Send Next"%>
    <%= link_to 'Approve',approve_rembursment_rembursments_path(@rembursment.id),class: 'btn btn-sm btn-info fa fa-check',data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Reject',reject_rembursment_rembursments_path(@rembursment.id),class: 'btn btn-sm btn-danger fa fa-trash',data: { confirm: 'Are you sure?' } %>
      %>     
    <% end %>
   <% elsif @rembursment.status == "SecondApproved"  %>
      <%= link_to 'Final Approve',final_approve_rembursments_path(@rembursment.id),class: 'btn btn-sm btn-info fa fa-check',data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Reject',reject_rembursment_rembursments_path(@rembursment.id),class: 'btn btn-sm btn-danger fa fa-trash',data: { confirm: 'Are you sure?' } %>
    <% end %>
</td>
 <%= link_to 'Back', rembursment_request_rembursments_path(rembursment_id: @rembursment.id),class: 'btn btn-default btn-sm fa fa-arrow-left' %> 

 </div>
 </div>
