<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Rembursment</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed'">

<tr>
 <th><strong>Employee ID</strong></th>
 <td><%= @rembursment.employee.try (:manual_employee_code )%></td>

  <th><strong>Employee Name</strong></th>
 <td><%= full_name(@rembursment.employee)%></td>
 
</tr>

 <tr>
    <td><b>Reporting Manager 1</b></td>
    <td><%= @rembursment.employee.manager.try(:first_name) %> <%= @rembursment.employee.manager.try(:middle_name) %> <%= @rembursment.employee.manager.try(:last_name) %></td>

    <td><b>Reporting Manager 2</b></td>
    <td><%= @rembursment.employee.try(:manager_2).try(:first_name) %> <%= @rembursment.employee.try(:manager_2).try(:middle_name) %> <%= @rembursment.employee.try(:manager_2).try(:last_name) %></td>
 </tr>

 <tr>
  <th><strong>Rembursment Date</strong></th>
  <td><%= @rembursment.rembursment_date %></td>
 

 <th><strong>Rembursment</strong></th>
 <td><%= @rembursment.rembursmentmaster.try(:name)%></td>
</tr>


<tr>
 <th><strong>Amount</strong></th>
 <td><%= @rembursment.amount %></td>  
<th></th>
<td></td>
</tr>


</table><br>
<%= link_to 'Back', rembursments_path,class: 'btn btn-default fa fa-arrow-left' %>

</div>
</div>