<br>
<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.code %></td>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.status ? "Active" : "Inactive" %></td>
        <td>
            <%= link_to '', edit_task_path(task),class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
            <%= link_to '', task, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-xs btn-danger fa fa-close' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>