<%= bootstrap_form_for(@fp_master,html: {id: 'fp_master'},remote:true) do |f| %>
 <div class="row">

  <div class="col-sm-3">
        <div class="form-group required">

        <%= f.select :is_fp,[['Yes','true'],['No','false']],{label: 'FP',include_blank: " Select FP Option"} %>
      </div>
      </div>
     
   <div class="col-sm-3">
        <%= f.text_field :percentage %>
      </div>
   <div class="col-sm-3">
      <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :effective_from,label: "Effective From", class: 'effective_from'%>
        </div>
      </div>
    </div>
   <div class="col-sm-3">
      <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :effective_to, label: "Effective To", class: 'effective_to'%>
        </div>
      </div>
    </div>

</div>

 <div class="row">
  <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :min_limit %>
      </div>
    </div>
  <div class="col-sm-3">
      <div class="field">
    <%= f.text_field :base_component %>
  </div>
  </div>
  
 <div class="col-sm-3">
         <div class="col-sm-1">
      <label>Status </label>
      <div class="field">
        <%= f.check_box :is_active, label: 'Active'%>
      </div>
    </div>
    </div>
  
  <div class="col-sm-3">
   <label></label>
      <div class="actions">
        <%= f.submit :class => class_name, data: { disable_with: data_info } %>
      </div>
    </div>
    </div>
<% end %>
<script>     
    $(function(){
    $('.effective_from').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-20:+10',
    dateFormat: 'dd-mm-yy' });
  });
</script>
<script>
   $(function(){
    $('.effective_to').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-20:+10',
    dateFormat: 'dd-mm-yy' });
  });
</script>
<script>
$("#fp_master").validate({
    rules: {
      "fp_master[is_fp]":{
        required: true,
      },
      "fp_master[min_limit]":{
        required: true
      },
     
    },
    messages: {
      "fp_master[is_fp]":{
        required: "Please specify FP "
      },
      "fp_master[min_limit]":{
        required: "Please Specify Limit"
      },
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
