<table id="example2" class="table table-bordered table-hover table-condensed'">
  <thead>
    <tr>
      <th>FP</th>
      <th>Min Limit</th>
      <th>Percentage</th>
      <th>Base Component</th>
      <th>Effective From</th>
      <th>Effective To</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @fp_masters.each do |fp_master| %>
      <tr>
        <td><%= fp_master.is_fp ? "Yes" : "No" %></td>
        <td><%= fp_master.min_limit %></td>
        <td><%= fp_master.percentage %></td>
        <td><%= fp_master.base_component %></td>
        <td><%= fp_master.effective_from %></td>
        <td><%= fp_master.effective_to %></td>
        <td><%= fp_master.is_active ?  "Active" : "Inactive" %></td>
         <td>
          <% if fp_master.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
          <% else %>
            <%= link_to '', edit_fp_master_path(fp_master),class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
            <%= link_to '',  fp_master, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-xs btn-danger fa fa-close' %>
            <%= link_to '', is_confirm_fp_masters_path(fp_master: fp_master),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>