<p id="notice"><%= notice %></p>

<h1>Listing Fp Masters</h1>

<table>
  <thead>
    <tr>
      <th>Is fp</th>
      <th>Min limit</th>
      <th>Percentage</th>
      <th>Base component</th>
      <th>Effective from</th>
      <th>Effective to</th>
      <th>Is active</th>
      <th>Is confirm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fp_masters.each do |fp_master| %>
      <tr>
        <td><%= fp_master.is_fp %></td>
        <td><%= fp_master.min_limit %></td>
        <td><%= fp_master.percentage %></td>
        <td><%= fp_master.base_component %></td>
        <td><%= fp_master.effective_from %></td>
        <td><%= fp_master.effective_to %></td>
        <td><%= fp_master.is_active %></td>
        <td><%= fp_master.is_confirm %></td>
        <td><%= link_to 'Show', fp_master %></td>
        <td><%= link_to 'Edit', edit_fp_master_path(fp_master) %></td>
        <td><%= link_to 'Destroy', fp_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fp master', new_fp_master_path %>
