<!-- <p id="notice"><%#= notice %></p>

<h1>Listing Expence Opestions</h1>

<table>
  <thead>
    <tr>
      <th>Employee grade</th>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @expence_opestions.each do |expence_opestion| %>
      <tr>
        <td><%#= expence_opestion.employee_grade %></td>
        <td><%#= expence_opestion.code %></td>
        <td><%#= expence_opestion.name %></td>
        <td><%#= expence_opestion.description %></td>
        <td><%#= expence_opestion.status %></td>
        <td><%#= link_to 'Show', expence_opestion %></td>
        <td><%#= link_to 'Edit', edit_expence_opestion_path(expence_opestion) %></td>
        <td><%#= link_to 'Destroy', expence_opestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%# end %>
  </tbody>
</table>

<br>
 -->
<%#= link_to 'New Expence opestion', new_expence_opestion_path %>

<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Expence Opestion</h3>
      <div class="pull-right">
    <%= link_to " PDF ", expence_opestions_path(id: @expence_opestion.id, format: "pdf"), class: "btn btn-xl btn-info fa fa-print",:target => "_blank" %>
    
    <%= link_to " XLS ", expence_opestions_path(id: @expence_opestion.id, format: "xls"), class: "btn btn-xl btn-success fa fa-print",:target => "_blank" %>

    <%= link_to " Upload ", import_xl_expence_opestions_path, class: 'fa fa-upload btn btn-xl btn-primary' %>
    
    <%= link_to " Template ", "/Templates/67.ExpenceOpestions.xls", class: "fa fa-download btn-xl btn btn-warning" %>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="form">
      <%= render 'form' %>  
    </div>
    
    <div id="department_list">
      <%= render 'expence_opestion_list' %>
    </div>
    
  </div><!-- /.box-body -->
</div><!-- /.box -->
