<p id="notice"><%= notice %></p>

<p>
  <strong>Employee grade:</strong>
  <%= @expence_opestion.employee_grade %>
</p>

<p>
  <strong>Code:</strong>
  <%= @expence_opestion.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @expence_opestion.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expence_opestion.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @expence_opestion.status %>
</p>

<%= link_to 'Edit', edit_expence_opestion_path(@expence_opestion) %> |
<%= link_to 'Back', expence_opestions_path %>
