<!--<= bootstrap_form_for(@due_action,html: {id: 'due_action'},due_detail_id: @due_detail.id) do |f| %>-->
<%= bootstrap_form_for(@due_action,html: {id: 'due_action'}) do |f| %>
<!--<= f.hidden_field :due_detail_id, value: @due_detail.id  %>-->
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,label: 'Name' %>
      </div>
    </div> 
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :remark,label: 'Remark' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :amount,label: 'Amount' %>
      </div>
    </div>

    <div class="col-sm-3">
    <label></label>
      <div class="actions">
        <%= f.submit "Create Due Action ",:class => class_name,  data: { disable_with: data_info } %>
      </div>
    </div>

  </div>
<% end %><br>


