<div class="box box-default">
   <div class="box-body"> 
<%= bootstrap_form_for(@issue_tracker_access, remote:true) do |f| %>
<div class="row">
  <div class="col-sm-3">
    <div class="form-group required">
        <%= f.select :role,['Admin','Co-ordinator'],{include_blank: "Select Role"} %>
    </div>
  </div>
   <div class="col-sm-3">
    <div class="form-group required">
  <label>Issue Tracker Group</label>
      <div class="input-group">
         <div class="input-group-addon">
          <%= link_to "", new_issue_tracker_group_path,class: "fa fa-plus fa-success",:target => "_blank" %>
        </div>
        <%= f.select :issue_tracker_group_id,all_issue_tracker_group,{hide_label: true ,include_blank: "Select Group"},{onchange:"var a={group_id:$(this).val()}; $.get('/issue_tracker_members/collect_issues',a,function(response){});"}%>
     <!--  <= f.select :issue_tracker_group_id,all_issue_tracker_group,{hide_label:true ,include_blank: "Select Group"} %> -->
    </div>
  </div>
  </div>

   <div class="col-sm-3">
    <div class="form-group required">
    <div class="input-group">
      <div class="input-group-addon">
      </div>
      <div id="issues">
        <%= render 'issue_tracker_members/issue_dropdown' %> 
    </div> 
    </div>
    </div>
  </div>
  <!-- <div class="col-sm-3">
    <label>Issue Tracker Member</label>
    <div class="form-group required">
      <div class="input-group">
        <div class="input-group-addon">
          <= link_to "", new_issue_tracker_member_path,class: "fa fa-plus fa-success",:target => "_blank" %>
        </div>
         <= f.select :issue_tracker_member_id, all_issue_tracker_member, {hide_label: true,include_blank: " Select Member"}, class: 'input_degree_stream_id' %>
      </div>
    </div>
  </div> -->
 
  <div class="col-sm-3">
    <label>Status</label>
    <%= f.check_box :status,label:'Active' %>
  </div>
  <div class="col-sm-3">
    <label></label>
    <div class="actions">
     <%= f.submit'Create Issue Tracker Access',:class => class_name, data: { disable_with: data_info } %>
    </div>
  </div>
</div>
<% end %>
</div>
</div>