<p id="notice"><%= notice %></p>

<h1>Listing Issue Tracker Accesses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Employee</th>
      <th>Status</th>
      <th>Is confirm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issue_tracker_accesses.each do |issue_tracker_access| %>
      <tr>
        <td><%= issue_tracker_access.name %></td>
        <td><%= issue_tracker_access.role %></td>
        <td><%= issue_tracker_access.employee %></td>
        <td><%= issue_tracker_access.status %></td>
        <td><%= issue_tracker_access.is_confirm %></td>
        <td><%= link_to 'Show', issue_tracker_access %></td>
        <td><%= link_to 'Edit', edit_issue_tracker_access_path(issue_tracker_access) %></td>
        <td><%= link_to 'Destroy', issue_tracker_access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue tracker access', new_issue_tracker_access_path %>
