<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @issue_tracker_access.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @issue_tracker_access.role %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @issue_tracker_access.employee %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue_tracker_access.status %>
</p>

<p>
  <strong>Is confirm:</strong>
  <%= @issue_tracker_access.is_confirm %>
</p>

<%= link_to 'Edit', edit_issue_tracker_access_path(@issue_tracker_access) %> |
<%= link_to 'Back', issue_tracker_accesses_path %>
