<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Issue Tracker</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
  <table id="example2" class="table table-bordered table-hover table-condensed'">


<tr>
 <th><strong>Issue Tracker Group</strong></th>
 <td> <%= @issue_master.issue_tracker_group %></td>
 
</tr>

<tr>
  <th><strong>Issue Type</strong></th>
  <td><%= @issue_master.issue_type %></td>
</tr>

<tr>
  <th><strong>Name</strong></th>
  <td><%= @issue_master.name %></td>
</tr>

<tr>
  <th><strong>Description</strong></th>
  <td><%= @issue_master.description %></td>
</tr>

<tr>
  <th><strong>Status</strong></th>
  <td><%= @issue_master.status %></td>
</tr>

<tr>
  <th><strong>Is Confirm</strong>
  <td><%= @issue_master.is_confirm %></td>
</tr>


</table>
<%= link_to 'Edit',  edit_issue_master_path(@issue_master),class: 'btn btn-success btn-sm fa fa-edit' %> |
<%= link_to 'Back', issue_masters_path,class: 'btn btn-primary fa fa-arrow-left' %>


</div>
</div>