<%= form_for(@employee_grade) do |f| %>
  <% if @employee_grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_grade.errors.count, "error") %> prohibited this employee_grade from being saved:</h2>

      <ul>
      <% @employee_grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
