<%= bootstrap_form_for(CompanyTimeMaster.new,html: {id: 'company_time_master'}) do |f| %>
  <div class="row">
    <div class="col-sm-2">
      <div class="bootstrap-timepicker">
        <div class="form-group">
          <label>In Min Time</label>
          <div class="input-group">
            <%= text_field :company_time_master,:in_min_time,hide_label:true, class: 'form-control timepicker' %>
            <div class="input-group-addon">
              <i class="fa fa-clock-o"></i>
            </div>
          </div><!-- /.input group -->
        </div><!-- /.form group -->
      </div>
    </div>
    <div class="col-sm-2">
      <div class="bootstrap-timepicker">
        <div class="form-group">
          <label>In Max Time</label>
          <div class="input-group">
            <%= text_field :company_time_master,:in_max_time,hide_label:true, class: 'form-control timepicker' %>
            <div class="input-group-addon">
              <i class="fa fa-clock-o"></i>
            </div>
          </div><!-- /.input group -->
        </div><!-- /.form group -->
      </div>
    </div>
    <div class="col-sm-2">
      <div class="bootstrap-timepicker">
        <div class="form-group">
          <label>In Time</label>
          <div class="input-group">
            <%= text_field :company_time_master,:in_time,hide_label:true, class: 'form-control timepicker' %>
            <div class="input-group-addon">
              <i class="fa fa-clock-o"></i>
            </div>
          </div><!-- /.input group -->
        </div><!-- /.form group -->
      </div>
    </div>
    <div class="col-sm-2">
      <div class="bootstrap-timepicker">
        <div class="form-group">
          <label>Out Min Time</label>
          <div class="input-group">
            <%= text_field :company_time_master,:out_min_time,hide_label:true, class: 'form-control timepicker' %>
            <div class="input-group-addon">
              <i class="fa fa-clock-o"></i>
            </div>
          </div><!-- /.input group -->
        </div><!-- /.form group -->
      </div>
    </div>
     <div class="col-sm-2">
      <div class="bootstrap-timepicker">
        <div class="form-group">
          <label>Out Max Time</label>
          <div class="input-group">
            <%= text_field :company_time_master,:out_max_time,hide_label:true, class: 'form-control timepicker' %>
            <div class="input-group-addon">
              <i class="fa fa-clock-o"></i>
            </div>
          </div><!-- /.input group -->
        </div><!-- /.form group -->
      </div>
    </div>
    <div class="col-sm-2">
      <div class="bootstrap-timepicker">
        <div class="form-group">
          <label>Out Time</label>
          <div class="input-group">
            <%= text_field :company_time_master,:out_time,hide_label:true, class: 'form-control timepicker' %>
            <div class="input-group-addon">
              <i class="fa fa-clock-o"></i>
            </div>
          </div><!-- /.input group -->
        </div><!-- /.form group -->
      </div>
    </div>
    </div>
    <div class="row">
    
    <div class="col-sm-2">
      <div class="field">
        <%= text_field :company_time_master,:working_hrs,label: 'Working Hrs' %>
      </div>
    </div>
    

     <div class="col-sm-3">
      <label>Status </label>
      <div class="field">
        <%= check_box :company_time_master,:is_active, label: 'Active'%>
      </div>
    </div>

    <div class="col-sm-3">
    <label></label>
      <div class="actions">

        <%= f.submit "Create Company Time" ,class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  </div>
<% end %>