<%= bootstrap_form_for(@leave_transfer,html: {id: 'leave_transfer'}) do |f| %>

  <%= f.hidden_field :employee_id, value: current_user.employee_id  %>
  <%= f.hidden_field :date, value: Date.today  %>

  <div class="row">
    <div class="col-sm-3">  
      <div class="form-group required">
        <%= f.select :transfer_to_id, all_active_employee_with_code,{label: 'Transfer To',include_blank: " Select Employee"}  %>
      </div>
    </div>

    <div class="col-sm-3">  
      <div class="form-group required">
        <%= f.select :leav_category_id, leav_category_transfer,{label: 'Leave Category',include_blank: " Select Leave Category"}  %>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="form-group required">
        <%= f.text_field :no_of_leave %>
      </div>
    </div>

        <div class="col-sm-4">
      <div class="field">
        <%= f.text_field :reason %>
      </div>
    </div>
    </div>

  <div class="row">
    <div class="col-sm-3" style="padding-top: 20px;">
      <div class="actions">
        <%= f.submit 'Create Leave Transfer',class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">

$("#leave_transfer").validate({
    rules: {
      "leave_transfer[transfer_to_id]":{
        required: true
      },
      "leave_transfer[date]":{
        required: true
      },
      "leave_transfer[no_of_leave]":{
        required: true
      },
      "leave_transfer[leav_category_id]":{
        required: true
      }
    },
    messages: {
      "leave_transfer[transfer_to_id]":{
        required: "Please specify Transfer To."
      },
      "leave_transfer[date]":{
        required: "Please specify Date"
      },
      "leave_transfer[no_of_leave]":{
        required: "Please specify no_of_leave"
      },
      "leave_transfer[leav_category_id]":{
        required: "Please specify Leave Category"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
  });

</script>