<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Leave Transfer Detail </center></h4>
    </div>
    <div class="modal-body">
<table class="table table-bordered table-hover table-condensed">
  <thead>

      <tr>
        <th><strong>Employee</strong></th>
        <td><%= full_name(@leave_transfer.employee) %></td>
      </tr>

      <tr>
        <th><strong>Transfer To</strong></th>
        <td><%= full_name(@leave_transfer.transfer_to) %></td>
      </tr>

      <tr>
        <th><strong>Date</strong></th>
        <td><%= @leave_transfer.date %></td>
      </tr>

      <tr>
        <th><strong>No. of leaves</strong></th>
        <td><%= @leave_transfer.no_of_leave %></td>
      </tr>

      <tr>
        <th><strong>Status</strong></th>
        <td><%= @leave_transfer.status %></td>
      </tr>


      <tr>
        <th><strong>Reason</strong></th>
        <td><%= @leave_transfer.reason %></td>
      </tr>

  </thead>
</table>
</div>
<div class="modal-footer"></div>
</div>
</div>  