<p id="notice"><%= notice %></p>

<h1>Listing Reserved Categories</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reserved_categories.each do |reserved_category| %>
      <tr>
        <td><%= reserved_category.code %></td>
        <td><%= reserved_category.name %></td>
        <td><%= reserved_category.description %></td>
        <td><%= link_to 'Show', reserved_category %></td>
        <td><%= link_to 'Edit', edit_reserved_category_path(reserved_category) %></td>
        <td><%= link_to 'Destroy', reserved_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reserved category', new_reserved_category_path %>
