<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @reserved_category.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @reserved_category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reserved_category.description %>
</p>

<%= link_to 'Edit', edit_reserved_category_path(@reserved_category) %> |
<%= link_to 'Back', reserved_categories_path %>
