<br>
<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
  <% @asset_types.each do |asset_type| %>
      <tr>
        <td><%= asset_type.code %></td>
        <td><%= asset_type.name %></td>
        <td><%= asset_type.description %></td>
        <td>
          <% if asset_type.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
          <% else %>
            <%= link_to '', edit_asset_type_path(asset_type),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '', asset_type, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-xs fa fa-close' %>
            <%= link_to '', is_confirm_asset_types_path(asset_type: asset_type),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>