<p id="notice"><%= notice %></p>

<h1>Listing Issue Locker Histories</h1>

<table>
  <thead>
    <tr>
      <th>Issue locker</th>
      <th>Issue request</th>
      <th>Employee</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issue_locker_histories.each do |issue_locker_history| %>
      <tr>
        <td><%= issue_locker_history.issue_locker %></td>
        <td><%= issue_locker_history.issue_request %></td>
        <td><%= issue_locker_history.employee %></td>
        <td><%= issue_locker_history.status %></td>
        <td><%= link_to 'Show', issue_locker_history %></td>
        <td><%= link_to 'Edit', edit_issue_locker_history_path(issue_locker_history) %></td>
        <td><%= link_to 'Destroy', issue_locker_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue locker history', new_issue_locker_history_path %>
