<p id="notice"><%= notice %></p>

<p>
  <strong>Issue locker:</strong>
  <%= @issue_locker_history.issue_locker %>
</p>

<p>
  <strong>Issue request:</strong>
  <%= @issue_locker_history.issue_request %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @issue_locker_history.employee %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue_locker_history.status %>
</p>

<%= link_to 'Edit', edit_issue_locker_history_path(@issue_locker_history) %> |
<%= link_to 'Back', issue_locker_histories_path %>
