<br>
  <table id="example6" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Sr.No.</th>
        <th>Employee</th>
        <th>Post Topic</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% i = 0 %>
      <% @topics.each do |topic| %>
        <tr>
          <td><%= i = i + 1 %></td>
          <td><%= full_name(topic.employee) %></td>
          <td><%= topic.post_topic %></td>
          <td><%= topic.status ? "Active" : "Inactive" %></td>
          <td><%= link_to ' ', view_topic_details_topics_path(topic), remote: true, class: 'btn btn-xs btn-default fa fa-eye' %>
          <%= link_to ' ', edit_topic_path(topic), remote: true,class: 'btn btn-xs btn-success fa fa-edit' %>
          <%= link_to ' ', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger fa fa-trash' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div id="view_topic_details" class="modal fade"></div>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>