<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Topic List</h3>
    <div class="pull-right">
      <%#= link_to " PDF ", distributor_list_distributors_path(id: @distributor.id, format: "pdf"), class: "btn btn-xl btn-info fa fa-print",:target => "_blank" %>
      
      <%#= link_to " XLS ", distributor_list_distributors_path(id: @distributor.id, format: "xls"), class: "btn btn-xl btn-success fa fa-print",:target => "_blank" %>
      
      <%#= link_to " Upload", import_xl_distributors_path, class: 'fa fa-upload btn btn-xl btn-primary' %>
      
      <%#= link_to " Template", "/Templates/10.Distributor.xls", :class=>"fa fa-download btn-xl btn btn-warning" %>
    </div>
    <div class="box-body">
      <table id="example6" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Sr.No.</th>
            <th>Date</th>
            <th>Employee</th>
            <th>Post Topic</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% i = 0 %>
          <% @topics.each do |topic| %>
            <tr>
              <td><%= i = i + 1 %></td>
              <td><%= topic.try(:date).to_date %></td>
              <td><%= full_name(topic.employee) %></td>
              <td><%= topic.post_topic %></td>
              <td><%= topic.status ? "Active" : "Inactive" %></td>
              <td><%= link_to ' ', all_topic_details_topics_path(topic), class: 'btn btn-xs btn-default fa fa-eye' %>
              <%= link_to ' ', view_topic_details_topics_path(topic_id: topic.id, format: "pdf"), class: 'btn btn-xs btn-success fa fa-file-pdf-o',:target => "_blank" %>
              <%#= link_to ' ', topic, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-success fa fa-file-excel-o' %>
              <%= link_to ' ', inactive_topic_topics_path(topic), class: 'btn btn-xs btn-danger fa fa-ban' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <div id="view_topic_details" class="modal fade"></div>
    </div><!-- /.box-body -->
  </div>
</div><!-- /.box -->

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>