<p id="notice"><%= notice %></p>

<h1>Listing Reporting Masters</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reporting_masters.each do |reporting_master| %>
      <tr>
        <td><%= reporting_master.code %></td>
        <td><%= reporting_master.name %></td>
        <td><%= reporting_master.description %></td>
        <td><%= reporting_master.employee %></td>
        <td><%= link_to 'Show', reporting_master %></td>
        <td><%= link_to 'Edit', edit_reporting_master_path(reporting_master) %></td>
        <td><%= link_to 'Destroy', reporting_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reporting master', new_reporting_master_path %>
