<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @reporting_master.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @reporting_master.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reporting_master.description %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @reporting_master.employee %>
</p>

<%= link_to 'Edit', edit_reporting_master_path(@reporting_master) %> |
<%= link_to 'Back', reporting_masters_path %>
