<p id="notice"><%= notice %></p>

<h1>Listing Payment Modes</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payment_modes.each do |payment_mode| %>
      <tr>
        <td><%= payment_mode.code %></td>
        <td><%= payment_mode.name %></td>
        <td><%= payment_mode.description %></td>
        <td><%= link_to 'Show', payment_mode %></td>
        <td><%= link_to 'Edit', edit_payment_mode_path(payment_mode) %></td>
        <td><%= link_to 'Destroy', payment_mode, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment mode', new_payment_mode_path %>
