<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @payment_mode.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @payment_mode.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @payment_mode.description %>
</p>

<%= link_to 'Edit', edit_payment_mode_path(@payment_mode) %> |
<%= link_to 'Back', payment_modes_path %>
