<table id="example6" class="table table-bordered table-hover table-condensed'">
  <thead>
    <tr>  
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
     <% @employee_designations.each do |employee_designation| %>
      <tr>
        
        <td><%= employee_designation.try(:name) %></td>
        <td><%= employee_designation.try(:description) %></td>
        <td>
          <% if employee_designation.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
          <% else %>
            <%= link_to '', edit_employee_designation_path(employee_designation),class: 'btn btn-xs btn-success fa fa-edit fa-sm',remote:true %>
            <%= link_to '',  employee_designation, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-xs btn-danger fa fa-close fa-sm' %>
            <%= link_to '', is_confirm_employee_designations_path(employee_designation: employee_designation),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>
