<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> Feedback Form </h3>
  </div>
    <div class="box-body">
   
      <%= bootstrap_form_for @survey_detail,url:{action: 'submit_question', survey_details_id: @survey_detail.id } do |f| %>
      
      <%= f.hidden_field :employee_id, :value => current_user.employee_id %>
      <%#= f.hidden_field :answer_master_id, :value => params[:id] %>
      <table class="table table-bordered table-hover table-condensed">
     <% i = 0 %>
      <%  %>
      <tr>
        <th> Sr.No.</th>
        <th > Question</th>
        <th> Excellent</th>
        <th> Very Good</th>
        <th> Good </th>
        <th> Needs Improvement</th>
        <th> Unsatisfied</th>
        <th> Action </th>
      </tr>
      <% @survey_details.each do |sq| %>
      
      
      <tr>
      <th> <%= i = i + 1  %></th>
        <td><%= sq.survey_question.try(:question)  %></td>
      
      
       <% if sq.excellent == true || sq.very_good == true || sq.good == true || sq.needs_improvement == true || sq.unsatisfied == true %>
         <% if sq.excellent == true %>
            <td colspan="5"><%= 'Excellent' %> </td>
         <% elsif sq.very_good == true %>   
            <td colspan="5"><%= 'Very Good' %> </td>
         <% elsif sq.good == true %>   
            <td colspan="5"><%= 'Good' %> </td>
         <% elsif sq.needs_improvement == true %>   
            <td colspan="5"><%= 'Needs Improvement' %> </td>      
         <% elsif sq.unsatisfied == true %>   
            <td colspan="5"><%= 'Unsatisfied' %> </td>
         <% end %>   

        <td></td>
       <%else%>
      <%# @answer_masters = AnswerMaster.all %>
      <%# @answer_masters.each do |am| %>
      <%#= f.radio_button :bearing_two,'true', :checked => true,label:'OK' %> 
      <%# if sq.excellent == true || sq.very_good == true || sq.good == true || sq.needs_improvement == true || sq.unsatisfied == true%>
       <td><%= f.radio_button :excellent, 'excellent' %>  </td>
       <td><%= f.radio_button :excellent, 'very_good'  %>  </td>
       <td><%= f.radio_button :excellent, 'good' %>  </td>
       <td><%= f.radio_button :excellent, 'needs_improvement' %>  </td> 
       <td><%= f.radio_button :excellent, 'unsatisfied' %>  </td>
       <%#= f.hidden_field :survey_question_id, :value => sq.id %>
       
       <td><%= f.submit "Submit",class: "btn btn-primary btn-sm", value: sq.id  %></td>
       <%end%>
      <%#end %>
      <% end %> 
      </tr>    
      </table>
      
     
    <% end %>

  </div>
</div>
