<div class="box box-default">
  <div class="box-header with-border">
    <div class="row">
    <div class="col-sm-12">
      <div class="box-tools pull-right">  

      <h1>Listing Survey Details</h1>

      <table>
        <thead>
          <tr>
            <th>Employee</th>
            <th>Survey question</th>
            <th>Answer master</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @survey_details.each do |survey_detail| %>
            <tr>
              <td><%= survey_detail.employee %></td>
              <td><%= survey_detail.survey_question %></td>
              <td><%= survey_detail.answer_master %></td>
              <td><%= link_to 'Show', survey_detail %></td>
              <td><%= link_to 'Edit', edit_survey_detail_path(survey_detail) %></td>
              <td><%= link_to 'Destroy', survey_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      </div>
    </div>
  </div>
  </div>
</div>      

<%= link_to 'New Survey detail', new_survey_detail_path %>
<%#= link_to 'New Survey detail', create_survey_survey_detail_path %>
