 <div class="box-body"> 
   <%= bootstrap_form_for(@company_policy,html: {id: 'company_policy'},remote:true) do |f| %>
   <%= hidden_field_tag :authenticity_token, form_authenticity_token %> 
        <div class="row">

         <div class="col-sm-3">
            <div class="form-group required">
             <%= f.select :policy_type_id,all_policy_type,{label: "Policy Type",include_blank: 'Select Policy Type'} %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group required">
             <%= f.text_field :name,label: "Policy Name" %>
            </div>
          </div>
    <div class="col-sm-3">
      <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :effective_from,label: "Effective From", class: 'effective_from'%>
        </div>
      </div>
    </div>
 <div class="col-sm-3">
      <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :effective_to, label: "Effective To", class: 'effective_to'%>
        </div>
      </div>
    </div>
   
    </div>
        <br>
        <div class="row">
    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :email %>
      </div>
    </div>

        <div class="col-sm-3">
            <div class="field">
              <%= f.text_field :description,label: 'Description' %>
            </div>
          </div>

          <div class="col-sm-3">
          <div class="col-sm-1">
            <label>Status </label>
            <div class="field">
              <%= f.check_box :status, label: 'Active'%>
            </div>
          </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group required">
              <%= f.file_field :document,label: 'Document(doc,docx,pdf only)' %>
            </div>
           </div>
           </div>

        <div class="row">
         <div class="col-sm-3">

          <div class="actions">
            <%= f.submit'Create Company Policy', class: 'btn btn-primary btn-sm' %>
          </div>
          </div>
      <% end %>
     
        </div>
<script>     
    $(function(){
    $('.effective_from').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-20:+10',
    dateFormat: 'dd-mm-yy' });
  });
</script>
<script>
   $(function(){
    $('.effective_to').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-20:+10',
    dateFormat: 'dd-mm-yy' });
  });
</script>

<script>
$("#company_policy").validate({
    rules: {
      "company_policy[name]":{
        required: true,
      },
      "company_policy[document]":{
        required: true,
        },
      "company_policy[policy_type_id]":{
        required: true,
      }
    },
    messages: {
      "company_policy[name]":{
        required: "Please specify name",
      },
      "company_policy[document]":{
        required: "Please select document",
         },
      "company_policy[policy_type_id]":{
        required: "Please select policy type",
      }
      
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>


