<div class="box">
  <div class="box-header">
    <h3 class="box-title">Monthly Expenses</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
  <div id="comments">
    <table id="example1" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Expence Type</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% @monthly_expences.each do |m| %>
        <tr>
          <td><%= m.employee.try(:manual_employee_code) %></td>
          <td><%= full_name(m.employee) %></td>
          <td><%= m.expencess_type.name %></td>
          <td><%= m.amount %></td>
          <td><%= m.expence_date %></td>
          <td><%= m.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
<%= link_to " Excel Report ",monthly_expence_xls_monthly_expences_path(month: params[:monthly_expences][:month], year: params[:monthly_expences][:year],company_id: params[:monthly_expences][:company_id],company_location_id: params[:food_deduction][:company_location_id], format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
  <%= link_to " PDF Report ",monthly_expence_pdf_monthly_expences_path(month: params[:monthly_expences][:month], year: params[:monthly_expences][:year],company_id: params[:monthly_expences][:company_id],company_location_id: params[:food_deduction][:company_location_id], format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
</div>