<div class="box">
  <div class="box-header">
    <h3 class="box-title">Monthly Expenses</h3>
    <div class="pull-right">
      <%= link_to " Excel ",employee_expences_monthly_expences_path(month: @month,year: @year, format: "xls"), class: "btn btn-sm btn-success fa fa-print" %>
      <%= link_to " PDF ",employee_expences_monthly_expences_path(month: @month,year: @year, format: "pdf"), class: "btn btn-sm btn-info fa fa-print", :target => "_blank" %>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
  <div id="comments">
  <% i = 0 %>
    <table id="example1" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Expence Type</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @monthly_expences.each do |m| %>
        <tr>
          <td><%= i = i +1 %></td>
          <td><%= m.employee.try(:manual_employee_code) %></td>
          <td><%= full_name(m.employee) %></td>
          <td><%= m.expencess_type.name %></td>
          <td><%= m.amount %></td>
          <td>
            <% if m.is_paid == true %>
              <small class="label label-primary">Paid</small>
            <% else %>
              <%= link_to '', edit_monthly_expence_path(m), class: 'btn btn-xs btn-success fa fa-edit' %>
              <%= link_to '', modal_monthly_expences_path(m), class: 'btn btn-xs btn-default fa fa-eye',remote: true%>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <%= link_to 'Back',monthly_expences_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
</div>
</div>
<div id="myModal" class="modal fade"></div>
