<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Expences</h3>
    <div class="pull-right">
      <%= link_to "New Monthly expence", new_monthly_expence_path, class: 'btn btn-sm btn-primary' %> 
    </div>
    
  </div><!-- /.box-header -->
  <div class="box-body">
  <div id="comments">
    <table id="example1" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Year</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
       <% @monthly_expences.each do |w| %>
        <% year = w.expence_date.strftime('%Y') %>
        <tr>
          <td><%= year %></td>
          <td>
            <%= link_to 'January',employees_monthly_expences_path(year: year, month: "January") , class: 'btn btn-xs btn-primary' %>
            <%= link_to 'February',employees_monthly_expences_path(year: year, month: "February") , class: 'btn btn-xs btn-primary' %>
            <%= link_to 'March',employees_monthly_expences_path(year: year, month: "March") , class: 'btn btn-xs btn-primary' %>
            <%= link_to 'April',employees_monthly_expences_path(year: year, month: "April") , class: 'btn btn-xs btn-primary' %>
            <%= link_to 'May',employees_monthly_expences_path(year: year, month: "May") , class: 'btn btn-xs btn-success' %>
            <%= link_to 'June',employees_monthly_expences_path(year: year, month: "June") , class: 'btn btn-xs btn-success' %>
            <%= link_to 'July',employees_monthly_expences_path(year: year, month: "July") , class: 'btn btn-xs btn-success' %>
            <%= link_to 'August',employees_monthly_expences_path(year: year, month: "August") , class: 'btn btn-xs btn-success' %>
            <%= link_to 'September',employees_monthly_expences_path(year: year, month: "September") , class: 'btn btn-xs btn-danger' %>
            <%= link_to 'October',employees_monthly_expences_path(year: year, month: "October") , class: 'btn btn-xs btn-danger' %>
            <%= link_to 'November',employees_monthly_expences_path(year: year, month: "November") , class: 'btn btn-xs btn-danger' %>
            <%= link_to 'December',employees_monthly_expences_path(year: year, month: "December") , class: 'btn btn-xs btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
</div>
