<p id="notice"><%= notice %></p>

<h1>Listing Monthly Expences</h1>

<table>
  <thead>
    <tr>
      <th>Expence date</th>
      <th>Amount</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monthly_expences.each do |monthly_expence| %>
      <tr>
        <td><%= monthly_expence.expence_date %></td>
        <td><%= monthly_expence.amount %></td>
        <td><%= monthly_expence.employee %></td>
        <td><%= link_to 'Show', monthly_expence %></td>
        <td><%= link_to 'Edit', edit_monthly_expence_path(monthly_expence) %></td>
        <td><%= link_to 'Destroy', monthly_expence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monthly expence', new_monthly_expence_path %>
