<style>
    th {
        text-align: left;
    }
    tr {
        page-break-inside: avoid;
    }
    div.alwaysbreak { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak{ page-break-inside: avoid;
      /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
    }
</style>
<table style="border-collapse: collapse; font-size:10pt;" border=1 width=1000 cellpadding="19">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Expence Type</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <% @monthly_expences.each do |m| %>
        <tr>
          <td><%= m.employee.try(:manual_employee_code) %></td>
          <td><%= full_name(m.employee) %></td>
          <td><%= m.expencess_type.name %></td>
          <td><%= m.amount %></td>
          <td><%= m.expence_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>