<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:Index="1"><Data ss:Type="String">ID </Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Employee Name </Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String">Expence Type </Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String">Amount </Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String">Date </Data></Cell>
      </Row>

      <% @monthly_expences.each do |m| %>
      <Row>
          <Cell ss:Index="1"><Data ss:Type="String"><%= m.employee.try(:manual_employee_code) %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="String"><%= full_name(m.employee) %></Data></Cell>
          <Cell ss:Index="3"><Data ss:Type="String"><%= m.expencess_type.name %></Data></Cell>
          <Cell ss:Index="4"><Data ss:Type="String"><%= m.amount %></Data></Cell>
          <Cell ss:Index="5"><Data ss:Type="String"><%= m.expence_date %></Data></Cell>
          </Row><!-- Row -->
      <% end %><!-- slip -->
    </Table>
  </Worksheet>
</Workbook>