<style type="text/css">
    th { text-align: left; }
    tr { page-break-inside: avoid; }
    div.alwaysbreak { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak{ page-break-inside: avoid;}
</style>

<table style="border-collapse: collapse; font-size:9pt;" border=1 width=1200 cellpadding="10">
<thead>
  <tr>
        <td colspan="8">
         <% if current_user.company_location.company.company_logo == nil %>
      <% else %>
        <center> <%= wicked_pdf_image_tag current_user.company_location.company.company_logo.url, :size => "90x50" %></center>
        <%end%>
          <center><strong><%= current_user.company_location.company.try(:description) %></strong><br><%= current_user.company_location.try(:address) %>, <%= current_user.company_location.try(:name) %>. <br> <%= @month %> <%= @year %> </center>
        </td>           
       </tr>
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Expence Type</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <% @monthly_expences.each do |m| %>
        <tr>
          <td><%= m.employee.try(:manual_employee_code) %></td>
          <td><%= full_name(m.employee) %></td>
          <td><%= m.expencess_type.name %></td>
          <td><%= m.amount %></td>
          <td><%= m.expence_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>