<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Qualifications Details</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->

<div class="box-body">
<%= bootstrap_form_for(@company) do |f| %>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :employee_id %>
          </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :ssc %>
         </div>
        </div>
      </div>

  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
          <%= f.text_field :ssc_from %>
           </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :ssc_marks %>
          </div>
        </div>
      </div>

   <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
            <%= f.number_field :ssc_year %>
          </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :ssc_bord %>
          </div>
        </div>
      </div>

  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :diploma %>
           </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field"> 
           <%= f.text_field :diploma_from %>
           </div>
        </div>
      </div>

 <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :diploma_marks %>
         </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.number_field :diploma_year %>
          </div>
        </div>
      </div>

   <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :diploma_university %>
          </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :hsc %>
          </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :hsc_from %>
           </div>
        </div>
      </div>

  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :hsc_marks %>
          </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.number_field :hsc_year %>
          </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :hsc_bord %>
          </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :ug %>
          </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :ug_from %>
          </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :ug_marks %>
          </div>
        </div>
      </div>

  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.number_field :ug_year %>
          </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :ug_university %>
          </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :pg %>
          </div>
        </div>
      </div>

  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :pg_from %>
          </div>
        </div>
      </div>

 <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :pg_marks %>
          </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
           <%= f.number_field :pg_year %>
          </div>
        </div>
      </div>


  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :pg_university %>
           </div>
         </div>
      </div>

  <div class="row">
        <div class="col-sm-1"></div>
         <div class="col-sm-3">
          <div class="actions">
           <%= f.submit %>
            </div>
        </div>
      </div>

<% end %>
</div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about the plugin.
  </div>
</div><!-- /.box -->