<!-- SELECT2 EXAMPLE -->

<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Qualifications</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->

<div class="box-body">

<%= bootstrap_form_for(@qualification,html: {id: 'qualification'},remote:true) do |f| %>
  <%= f.hidden_field :employee_id, value: @employee.id %>
    <div id="entry1" class="clonedInput">
      <div class="row">
        <div class="col-sm-3">
          <div class="field">
            <%= f.select :degree_type_id, all_degree_type, {include_blank: "Select Degree Type"}, class: 'input_degree_type_id' %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.select :degree_id, all_degree, {include_blank: "Select Degree"}, class: 'input_degree_id' %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.select :degree_stream_id, all_degree_stream, {include_blank: " Select Degree Stream"}, class: 'input_degree_stream_id' %>
          </div>
        </div>
    
        <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :marks, label: 'Marks(%)', class: 'input_marks' %>
          </div>
        </div>
    </div>    
   <div class="row">
        <div class="col-sm-3">
          <div class="field">
           <%= f.select :year_id, all_year,{include_blank: " Select Passing Year"},label: 'Year',class: 'input_year_id' %>
          </div>
        </div>
       
        <div class="col-sm-4">
          <div class="field">
          <%= f.text_field :college, class: 'input_college' %>
           </div>
        </div>

        <div class="col-sm-4">
          <div class="field">
           <%= f.select :university_id, all_university,{include_blank: " Select University"},label: 'Year',class: 'input_university_id' %>
          </div>
        </div>
      </div>
    </div>
    <% unless params['controller'] == 'qualifications' and params['action'] == 'edit' %>  
      <div class="row">
        <div class="col-sm-2">
          <input type="button" id="btnAdd" value="Add section" class="btn btn-success"> 
        </div>

        <div class="col-sm-3">
          <input type="button" id="btnDel" value="Remove section above" class="btn btn-danger">
        </div>
      </div><br>
    <% end %>  

    <div class="row">
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit :class => class_name, data: { disable_with: data_info } %>
          <% if params['controller'] == 'qualifications' and params['action'] == 'edit' %>
            <%= link_to 'Back',ajax_qualification_detail_employees_path(id: @employee.id),class: 'btn btn-default',remote:true%>
          <%end%>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
</div><!-- /.box -->


<script type="text/javascript">
  $(function () {
  $('#btnAdd').click(function () {
    var num     = $('.clonedInput').length,
        newNum  = new Number(num + 1),      
        newElem = $('#entry' + num).clone().attr('id', 'entry' + newNum).fadeIn('slow'); //
    newElem.find('.input_degree_type_id').attr('name','qualification['+ newNum +'][degree_type_id]').attr('id', newNum + '_qualification_degree_type_id').val(''); 
    newElem.find('.input_degree_id').attr('name','qualification['+ newNum +'][degree_id]').attr('id', newNum + '_qualification_degree_id').val('');
    newElem.find('.input_degree_stream_id').attr('name','qualification['+ newNum +'][degree_stream_id]').attr('id', newNum + '_qualification_degree_stream_id').val('');
    newElem.find('.input_marks').attr('name','qualification['+ newNum +'][marks]').attr('id', newNum + '_qualification_marks').val('');
    newElem.find('.input_year_id').attr('name','qualification['+ newNum +'][year_id]').attr('id', newNum + '_qualification_year_id').val('');
    newElem.find('.input_college').attr('name','qualification['+ newNum +'][college]').attr('id', newNum + '_qualification_college').val('');
    newElem.find('.input_university_id').attr('name','qualification['+ newNum +'][university_id]').attr('id', newNum + '_qualification_university_id').val('');
    
    
    $('#entry' + num).after(newElem);
    $('#ID' + newNum + '_title').focus();

    $('#btnDel').attr('disabled', false);

    if (newNum == 5)
    $('#btnAdd').attr('disabled', true).prop('value', "You've reached the limit"); // value here updates the text in the 'add' button when the limit is reached 
  });

  $('#btnDel').click(function () {
  // Confirmation dialog box. Works on all desktop browsers and iPhone.
      if (confirm("Are you sure you wish to remove this section? This cannot be undone."))
          {
              var num = $('.clonedInput').length;
              // how many "duplicatable" input fields we currently have
              $('#entry' + num).slideUp('slow', function () {$(this).remove();
              // if only one element remains, disable the "remove" button
                  if (num -1 === 1)
              $('#btnDel').attr('disabled', true);
              // enable the "add" button
              $('#btnAdd').attr('disabled', false).prop('value', "add section");});
          }
      return false; // Removes the last section you added
  });
  // Enable the "add" button
  $('#btnAdd').attr('disabled', false);
  // Disable the "remove" button
  $('#btnDel').attr('disabled', true);
});
</script>