<%= form_for(@qualification) do |f| %>
  <% if @qualification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qualification.errors.count, "error") %> prohibited this qualification from being saved:</h2>

      <ul>
      <% @qualification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :ssc %><br>
    <%= f.text_field :ssc %>
  </div>
  <div class="field">
    <%= f.label :ssc_from %><br>
    <%= f.text_field :ssc_from %>
  </div>
  <div class="field">
    <%= f.label :ssc_marks %><br>
    <%= f.text_field :ssc_marks %>
  </div>
  <div class="field">
    <%= f.label :ssc_year %><br>
    <%= f.number_field :ssc_year %>
  </div>
  <div class="field">
    <%= f.label :ssc_bord %><br>
    <%= f.text_field :ssc_bord %>
  </div>
  <div class="field">
    <%= f.label :diploma %><br>
    <%= f.text_field :diploma %>
  </div>
  <div class="field">
    <%= f.label :diploma_from %><br>
    <%= f.text_field :diploma_from %>
  </div>
  <div class="field">
    <%= f.label :diploma_marks %><br>
    <%= f.text_field :diploma_marks %>
  </div>
  <div class="field">
    <%= f.label :diploma_year %><br>
    <%= f.number_field :diploma_year %>
  </div>
  <div class="field">
    <%= f.label :diploma_university %><br>
    <%= f.text_field :diploma_university %>
  </div>
  <div class="field">
    <%= f.label :hsc %><br>
    <%= f.text_field :hsc %>
  </div>
  <div class="field">
    <%= f.label :hsc_from %><br>
    <%= f.text_field :hsc_from %>
  </div>
  <div class="field">
    <%= f.label :hsc_marks %><br>
    <%= f.text_field :hsc_marks %>
  </div>
  <div class="field">
    <%= f.label :hsc_year %><br>
    <%= f.number_field :hsc_year %>
  </div>
  <div class="field">
    <%= f.label :hsc_bord %><br>
    <%= f.text_field :hsc_bord %>
  </div>
  <div class="field">
    <%= f.label :ug %><br>
    <%= f.text_field :ug %>
  </div>
  <div class="field">
    <%= f.label :ug_from %><br>
    <%= f.text_field :ug_from %>
  </div>
  <div class="field">
    <%= f.label :ug_marks %><br>
    <%= f.text_field :ug_marks %>
  </div>
  <div class="field">
    <%= f.label :ug_year %><br>
    <%= f.number_field :ug_year %>
  </div>
  <div class="field">
    <%= f.label :ug_university %><br>
    <%= f.text_field :ug_university %>
  </div>
  <div class="field">
    <%= f.label :pg %><br>
    <%= f.text_field :pg %>
  </div>
  <div class="field">
    <%= f.label :pg_from %><br>
    <%= f.text_field :pg_from %>
  </div>
  <div class="field">
    <%= f.label :pg_marks %><br>
    <%= f.text_field :pg_marks %>
  </div>
  <div class="field">
    <%= f.label :pg_year %><br>
    <%= f.number_field :pg_year %>
  </div>
  <div class="field">
    <%= f.label :pg_university %><br>
    <%= f.text_field :pg_university %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
