<table id="example2" class="table table-bordered table-hover">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>

  <tr>
  <th><strong>Employee:</strong></th>
 <td>  <%= @qualification.employee %></td>

 <th><strong>Ssc:</strong></th>
  <td><%= @qualification.course %></td>
 </tr>

<tr>
  <th><strong>Ssc from:</strong></th>
  <td><%= @qualification.college %></td>

  <th><strong>Ssc marks:</strong></th>
  <td><%= @qualification.marks %></td>
</tr>

<tr>
  <th><strong>Ssc year:</strong></th>
  <td><%= @qualification.passout_year%></td>

  <th><strong>Ssc bord:</strong></th>
  <td><%= @qualification.university %></td>
</tr>
</table>