<p id="notice"><%= notice %></p>

<h1>Listing Qualifications</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Ssc</th>
      <th>Ssc from</th>
      <th>Ssc marks</th>
      <th>Ssc year</th>
      <th>Ssc bord</th>
      <th>Deploma</th>
      <th>Deploma from</th>
      <th>Deploma marks</th>
      <th>Deploma year</th>
      <th>Deploma university</th>
      <th>Hsc</th>
      <th>Hsc from</th>
      <th>Hsc marks</th>
      <th>Hsc year</th>
      <th>Hsc bord</th>
      <th>Ug</th>
      <th>Ug from</th>
      <th>Ug marks</th>
      <th>Ug year</th>
      <th>Ug university</th>
      <th>Pg</th>
      <th>Pg from</th>
      <th>Pg marks</th>
      <th>Pg yaer</th>
      <th>Pg university</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @qualifications.each do |qualification| %>
      <tr>
        <td><%= qualification.employee %></td>
        <td><%= qualification.ssc %></td>
        <td><%= qualification.ssc_from %></td>
        <td><%= qualification.ssc_marks %></td>
        <td><%= qualification.ssc_year %></td>
        <td><%= qualification.ssc_bord %></td>
        <td><%= qualification.deploma %></td>
        <td><%= qualification.deploma_from %></td>
        <td><%= qualification.deploma_marks %></td>
        <td><%= qualification.deploma_year %></td>
        <td><%= qualification.deploma_university %></td>
        <td><%= qualification.hsc %></td>
        <td><%= qualification.hsc_from %></td>
        <td><%= qualification.hsc_marks %></td>
        <td><%= qualification.hsc_year %></td>
        <td><%= qualification.hsc_bord %></td>
        <td><%= qualification.ug %></td>
        <td><%= qualification.ug_from %></td>
        <td><%= qualification.ug_marks %></td>
        <td><%= qualification.ug_year %></td>
        <td><%= qualification.ug_university %></td>
        <td><%= qualification.pg %></td>
        <td><%= qualification.pg_from %></td>
        <td><%= qualification.pg_marks %></td>
        <td><%= qualification.pg_yaer %></td>
        <td><%= qualification.pg_university %></td>
        <td><%= link_to 'Show', qualification %></td>
        <td><%= link_to 'Edit', edit_qualification_path(qualification) %></td>
        <td><%= link_to 'Destroy', qualification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Qualification', new_qualification_path %>
