<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Qualification</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>

  <tr>
  <th><strong>Employee:</strong></th>
 <td>  <%= @qualification.employee %></td>

 <th><strong>Ssc:</strong></th>
  <td><%= @qualification.course %></td>
 </tr>

<tr>
  <th><strong>Ssc from:</strong></th>
  <td><%= @qualification.college %></td>

  <th><strong>Ssc marks:</strong></th>
  <td><%= @qualification.marks %></td>
</tr>

<tr>
  <th><strong>Ssc year:</strong></th>
  <td><%= @qualification.year_id%></td>

  <th><strong>Ssc bord:</strong></th>
  <td><%= @qualification.university %></td>
</tr>
</table>

    <%= link_to 'Edit', edit_qualification_path(@qualification),class: 'btn btn-success fa fa-edit' %> |
    <%= link_to 'Back', qualifications_path,class: 'btn btn-default fa fa-arrow-left' %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about the plugin.
  </div>
</div><!-- /.box -->


