<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @qualification.employee %>
</p>

<p>
  <strong>Ssc:</strong>
  <%= @qualification.ssc %>
</p>

<p>
  <strong>Ssc from:</strong>
  <%= @qualification.ssc_from %>
</p>

<p>
  <strong>Ssc marks:</strong>
  <%= @qualification.ssc_marks %>
</p>

<p>
  <strong>Ssc year:</strong>
  <%= @qualification.ssc_year %>
</p>

<p>
  <strong>Ssc bord:</strong>
  <%= @qualification.ssc_bord %>
</p>

<p>
  <strong>Diploma:</strong>
  <%= @qualification.diploma %>
</p>

<p>
  <strong>Diploma from:</strong>
  <%= @qualification.diploma_from %>
</p>

<p>
  <strong>Diploma marks:</strong>
  <%= @qualification.diploma_marks %>
</p>

<p>
  <strong>Diploma year:</strong>
  <%= @qualification.diploma_year %>
</p>

<p>
  <strong>Diploma university:</strong>
  <%= @qualification.diploma_university %>
</p>

<p>
  <strong>Hsc:</strong>
  <%= @qualification.hsc %>
</p>

<p>
  <strong>Hsc from:</strong>
  <%= @qualification.hsc_from %>
</p>

<p>
  <strong>Hsc marks:</strong>
  <%= @qualification.hsc_marks %>
</p>

<p>
  <strong>Hsc year:</strong>
  <%= @qualification.hsc_year %>
</p>

<p>
  <strong>Hsc bord:</strong>
  <%= @qualification.hsc_bord %>
</p>

<p>
  <strong>Ug:</strong>
  <%= @qualification.ug %>
</p>

<p>
  <strong>Ug from:</strong>
  <%= @qualification.ug_from %>
</p>

<p>
  <strong>Ug marks:</strong>
  <%= @qualification.ug_marks %>
</p>

<p>
  <strong>Ug year:</strong>
  <%= @qualification.ug_year %>
</p>

<p>
  <strong>Ug university:</strong>
  <%= @qualification.ug_university %>
</p>

<p>
  <strong>Pg:</strong>
  <%= @qualification.pg %>
</p>

<p>
  <strong>Pg from:</strong>
  <%= @qualification.pg_from %>
</p>

<p>
  <strong>Pg marks:</strong>
  <%= @qualification.pg_marks %>
</p>

<p>
  <strong>Pg year:</strong>
  <%= @qualification.pg_year %>
</p>

<p>
  <strong>Pg university:</strong>
  <%= @qualification.pg_university %>
</p>

<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<%= link_to 'Back', qualifications_path %>
