<div class="box-header with-border">
</div><!-- /.box-header --><!-- 
<div class="box-body"></div> -->
<table id="example6" class="table table-bordered table-hover table-condensed">
 <thead>
    <tr>
      <th>Minimum wages</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
      <% @dearness_allowances.each do |dearness_allowance| %>
      <tr>
        <td><%= dearness_allowance.minimum_wages %></td>
        <td><%= dearness_allowance.is_active ? "Active" : "Inactive" %></td>
        <td>
          <% if dearness_allowance.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
            <%= link_to '', edit_dearness_allowance_path(dearness_allowance) ,class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
          <% else %>
            <%= link_to '', edit_dearness_allowance_path(dearness_allowance) ,class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
            <%= link_to '',  dearness_allowance, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-xs btn-danger fa fa-close' %>
            <%= link_to '', is_confirm_dearness_allowances_path(dearness_allowance: dearness_allowance),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
            <%= link_to '', dearness_allowances_modal_dearness_allowances_path(dearness_allowance),class: 'btn btn-xs btn-default fa fa-eye',remote:true %>

          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div id="Mymodal" class="modal fade">

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>