<p id="notice"><%= notice %></p>

<p>
  <strong>Base component:</strong>
  <%= @dearness_allowance.base_component %>
</p>

<p>
  <strong>Minimum wages:</strong>
  <%= @dearness_allowance.minimum_wages %>
</p>

<p>
  <strong>Effective from:</strong>
  <%= @dearness_allowance.effective_from %>
</p>

<p>
  <strong>Effective to:</strong>
  <%= @dearness_allowance.effective_to %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @dearness_allowance.is_active %>
</p>

<p>
  <strong>Is confirm:</strong>
  <%= @dearness_allowance.is_confirm %>
</p>

<%= link_to 'Edit', edit_dearness_allowance_path(@dearness_allowance) %> |
<%= link_to 'Back', dearness_allowances_path %>
