<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Dearness Allowance</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">

  <tr>
  <th><strong>Base Component</strong></th>
   <td colspan="3"> <% i = 0 %>
          <% @dearness_allowance.base_component.split(",").each do |e| %>
            <% if i == 0 %>
              <%= SalaryComponent.find(e.to_i).name %>
            <% else %>
              + <%= SalaryComponent.find(e.to_i).name %>
            <% end %>
            <% i = i + 1 %>
          <% end %>
      </td>
  
</tr>
<tr>
  <th><strong>Minimum wages</strong></th>
   <td><%= @dearness_allowance.minimum_wages %></td>

     <th><strong>Effective from</strong></th>
  <td><%= @dearness_allowance.effective_from %></td>

</tr>

<tr>
   <th><strong>Effective to</strong></th>
   <td><%= @dearness_allowance.effective_to %></td>

  <th>Status</th>
  <td><%= @dearness_allowance.is_active ? "Active" : "Inactive"  %></td>
</tr>  

</table><br>
 <%= link_to 'Back', new_dearness_allowance_path,class: 'btn btn-default btn-sm fa fa-arrow-left'  %>