<!--SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Week Off</h3>
  </div><!-- /.box-header -->

  <div class="box-body">
    <%= bootstrap_form_for(@week_off,html: {id: 'week_off'}) do |f| %>
    <div class="row">
    <div class="col-sm-4">
      <label>Week Off Date Range </label>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :weekoff_date_range, hide_label: true,class: "pull-right active",id: "reservationtime" %>
          </div><!-- /.input group -->
        </div>
      </div>
    </div>

    <div class="row">
    <div class="col-sm-12">
      <table id="example1" class="table table-bordered table-hover table-condensed'">
        <thead>
          <tr>
            <th><input type="checkbox" id="selectAll" value="selectAll"></th>
            <th>ID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Employement</th>
            <th>Contact</th>
          </tr>
        </thead>

        <tbody>
          <% @employees.try(:each) do |e| %>
            <tr>
              <td><%= check_box_tag "employee_ids[]", e.id %></td>
              <td><%= e.manual_employee_code %></td>
              <td><%= full_name(e) %></td>
              <td><%= e.company_location.try(:name) %> - <%= e.department.try(:name) %>
              </td>
              <td><%= e.joining_detail.try(:employee_designation).try(:name) %></td>
              <td><%= e.employee_type.try(:name) %></td>
               <td><%= e.contact_no %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit :class => class_name, data: { disable_with: data_info } %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
$(function () {
  $('#selectAll').click(function() {
    if (this.checked) {
      $(':checkbox').each(function() {
        this.checked = true;                       
      });
    } 
    else {
      $(':checkbox').each(function() {
        this.checked = false;                        
      });
    } 
  });

  });
</script>