<p id="notice"><%= notice %></p>

<p>
  <strong>Weekoff date range:</strong>
  <%= @week_off.weekoff_date_range %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @week_off.employee %>
</p>

<%= link_to 'Edit', edit_week_off_path(@week_off) %> |
<%= link_to 'Back', week_offs_path %>
