<% @@parents = [] %>
<% @@children = [] %>
<br>
<div class="table-responsive">
  <% i = 0 %>
    <%= form_for :employee_salary_template,url: {action: 'create_employee_template'} do |f| %>
      <%= hidden_field :employee,:employee_id,value: @employee_id %>
      <%= hidden_field :template,:template_id,value: @salary_template.id %>
      <div class="row">
        <div class="col-sm-8">
          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <tr>
                <th>Sr. No</th>
                <th>Salary Component</th>
                <th>Is Deducted</th>
                <th>Parent Salary Component</th>
                <th>Percentage</th>
                <th>To Be Paid</th>
                <th>Monthly Amount</th>
                <th>Annual Amount</th>
          	  </tr>
            </thead>

            <tbody>
              <% i=0 %>
              <% @employee_salary_templates.each do |template| %>
                <tr>
                  <td><%= i=i+1 %></td>
                  <td><%= select :salary_component_id, template.salary_component_id, all_salary_component, {:prompt => true, :selected => template.salary_component_id, },class: 'form-control'%></td>
                  
                  <td><%= select :is_deducted, template.salary_component_id, [['Yes','true'],['No','false']], {:prompt => true, :selected => template.is_deducted, },class: 'form-control'%></td>

                  <td><%= select :parent_salary_component_id, template.salary_component_id, all_salary_component, {:prompt => true, :selected => template.parent_salary_component_id },class: 'form-control'%></td>

                  <td><%= text_field :percentage,template.salary_component_id, value: template.try(:percentage), class: "form-control" %></td>

                  <td><%= select :to_be_paid, template.salary_component_id, [['Annual'],['Monthly']], {:prompt => true, :selected => template.to_be_paid, },class: 'form-control'%></td>

                  <td class="excel"><%= text_field :monthly_amount,template.salary_component_id, value: 0, autocomplete: "off",class: "form-control",:tabindex => i=i+1 %></td>
                  
                  <td><%= text_field :annual_amount,template.salary_component_id,readonly: true, value: template.try(:annual_amount),class: "form-control" %></td>
                </tr>
                <%unless template.parent_salary_component_id.nil? %>
                <% @@parents << template.parent_salary_component_id %>
                <%end  %>

                <%unless template.parent_salary_component_id.nil? %>
                <% @@children << template.salary_component_id %>
                <%end  %>
              <% end %>     
            </tbody>
          </table>
        </div>

        <% unless @current_salary_components.nil? %>
          <div class="col-sm-4">
            <table class="table table-bordered table-hover table-condensed">
              <thead>
                <tr>
                  <th>Salary Component</th>
                  <th>Monthly Amount</th>
                  <th>Difference</th>
                </tr>
              </thead>

              <tbody>
                <% @current_salary_components.try(:each) do |template| %>
                  <tr>
                    <td><%= select :old_salary_component_id, template.salary_component_id, all_salary_component, {:prompt => true, :selected => template.salary_component_id, },class: 'form-control'%></td>
                    
                    <td><%= text_field :old_monthly_amount,template.salary_component_id, value: template.try(:monthly_amount),class: "form-control" %></td>

                    <td><%= text_field :difference,template.salary_component_id, value: 0, class: "form-control" %>
                      <%= hidden_field :old_is_deducted,template.salary_component_id, value: template.is_deducted, class: "form-control" %>
                    </td>
                  </tr>
                <% end %>     
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <%= text_field :increement,:date,{class: 'form-control increement_date',placeholder:'Select Increement Date'} %>
        </div>
      </div><br>
    <%= f.submit "Create Employee Salary", class: "btn btn-primary btn-sm", data: {disable_with: "Wait..."} %>
  <% end %>
</div>

<style type="text/css">
.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    padding: 1px;
}
</style>

<script type="text/javascript">
  $(function(){    
      <% @employee_salary_templates.each do |i| %>
        <% if i.parent_salary_component_id.nil? %>
          $('#monthly_amount_<%=i.salary_component_id%>').on('input', function(){
            <% children = i.children %>
            var parent = parseFloat($("#monthly_amount_<%=i.salary_component_id%>").val());
            <% children.each do |c| %>
              var percentage = <%= c.percentage %>
              var amt = parent * percentage / 100
              console.log(parent+"*"+percentage+"/"+100+"="+amt+"<%= c.salary_component.name%>");
              $('#monthly_amount_<%=c.salary_component_id%>').val(amt);

              var parent1 = amt
              <% children1 = c.children%>
              <% children1.each do |c1| %>
                var percentage1 = <%= c1.percentage %>
                var amt1 = parent1 * percentage1 / 100
                console.log(parent1+"*"+percentage1+"/"+100+"="+amt1+"<%= c1.salary_component.name%>");
                $('#monthly_amount_<%=c1.salary_component_id%>').val(amt1);
              <% end %>
            <% end %>
          });
        <%else%>
          $('#monthly_amount_<%=i.salary_component_id%>').on('input', function(){
            <% else_children =  i.children %>
            
            var parent = parseFloat($("#monthly_amount_<%=i.salary_component_id%>").val());
            <% else_children.each do |c| %>
              var percentage = <%= c.percentage %>
              var amt = parent * percentage / 100
              console.log(parent+"*"+percentage+"/"+100+"="+amt+"<%= c.salary_component.name%>");
              $('#monthly_amount_<%=c.salary_component_id%>').val(amt);

              var parent1 = amt
              <% children1 = c.children%>
              <% children1.each do |c1| %>
                var percentage1 = <%= c1.percentage %>
                var amt1 = parent1 * percentage1 / 100
                console.log(parent1+"*"+percentage1+"/"+100+"="+amt1+"<%= c1.salary_component.name%>");
                $('#monthly_amount_<%=c1.salary_component_id%>').val(amt1);
              <% end %>
            <% end %>

          });
        <%end%>  
      <% end %>
  });
</script>