<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Salary Master Data</h3>    
  </div><!-- /.box-header -->
	<div class="box-body">
	<table class="table table-bordered table-hover table-condensed">
	  <thead>
	    <tr>
	      <th>Employee Code</th>
	      <td><%= @employee.manual_employee_code%></td>
	      <th>Employee Name</th>
	      <td><%= @employee.first_name+""+@employee.last_name %></td>
	      <th>Designation</th>
	      <td><%= @employee.joining_detail.try(:designation) %></td>
	    </tr>
	  </thead>
	  <tbody>
	  	<tr>
	  	  <th>Employement</th>
	  		<td><%= @employee.employee_type.try(:name) %></td>
	  		<th>Contact No</th>
	  		<td><%= @employee.contact_no %></td>
	  		<th>Email</th>
	  		<td><%= @employee.email %></td>
	  		
	  	</tr>
	  	 <tr>
        <th>Month Day</th>		
        <td align="right"><%= @working_day.day_in_month %></td>      
        <th>Holidays</th>	    
        <td align="right"><%= @working_day.holiday_in_month %></td>    
        <th>Leave Total</th>		
        <td align="right"><%= @working_day.total_leave %></td>		        
			</tr>
			<tr>
				<th>Working Days</th>
				<td align="right"><%= @working_day.present_day %></td>
				<th>Absent Days</th>
				<td align="right"><%= @working_day.absent_day %></td>
				<th>Payble Days</th>
				<td align="right"><%= @working_day.payable_day %></td>
			</tr>
	  </tbody>
	</table>
	<hr>
		<div class="row">
			<div class="col-sm-6">
				<table class="table table-bordered table-hover table-condensed">
				  <thead>
				    <tr>
				      <th>Particular</th>
				      <th>Amount</th>
				    </tr>
				  </thead>
				  	<% addable_total = 0 %>
				    <% @addable_salary_components.each do |salary_component| %>
				      <tr>
				        <td><%= salary_component.salary_component.name %></td>
				        <td align="right"><%=salary_component.monthly_amount %></td>
				      </tr>
				    <% end %>
				    <tr>
			        <th>Gross Salary</th>
			        <td align="right"><strong><%= @addable_total %></strong></td>
			      </tr>
				 
			</div>
			<div class="col-sm-6">
				  
				    <% deducted_total = 0 %>
				    <% @deducted_salary_components.each do |salary_component| %>
				      <tr>
				        <td><%= salary_component.salary_component.name %></td>
				        <td align="right"><%= salary_component.monthly_amount %></td>
				      </tr>
				    <% end %>
				    <% @instalment_array.each do |ia| %>
				    <tr>
				    	<td>Installment</td>
				    	<td align="right"><%= ia.advance_salary.instalment_amount %></td>
				    </tr>
					<% end %>
				    <tr>
				        <td>Absent</td>
				        <td align="right"><%= '%.2f'%(@absent_value) %></td>
				      </tr>
				    <tr>
			        <th>Total</th>
			        <td align="right"><strong><%= '%.2f'%(@deducted_total) %></strong></td>
			      </tr>
				
				
			</div>
			<div class="col-sm-6">
			<tr>
			<th></th>
			<td></td>
			</tr>
				   <tr>
		      		<th>Net Salary</th>
		      		<td align="right"><strong><%= '%.2f'%(@net_total) %></strong></td>
		    		</tr>  
				
			</div>

		</div>
		  
		  </table>
		
		<button>Submit</button>
	</div><!-- /.box-body -->
</div><!-- /.box -->

