<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">
      Employee Salary Template 
      <%#= code_full_name(@employee_salary_templates.first.employee) %>
    </h3>
    <div class="box-tools pull-right">
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <div id="myModal"></div>    
      </div>
    </div>
    <%= bootstrap_form_for :employee_salary_template,url:{action:'is_confirm_employee_template'} do |f| %>  
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th><input type="checkbox" id="selectAll" value="selectAll"></th>
          <th>Salary Component</th>
      <!--     <th>Deducted</th>
          <th>Parent Component</th>
          <th>Percentage</th>
          <th>To Be Paid</th> -->
          <th>Monthly Amount</th>
          <th>Annual Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @employee_salary_templates.each do |template| %>
          <tr>
          <td> <% if template.try(:is_confirm) == true %>
          <% else %>
           <%= check_box_tag "template_ids[]", template.id %><% end %></td>
            <td><%= template.try(:salary_component).try(:name)%></td>
           <!-- <td><= template.try(:is_deducted) ? "Yes" : "No" %></td> -->
           <!-- <td><= template.try(:parent_salary_component).try(:name)%></td> -->
           <!-- <td><= template.try(:percentage)%></td> -->
           <!-- <td><= template.try(:to_be_paid)%></td> --> 
           <td align="right"><%= template.try(:monthly_amount)%></td>
           <td align="right"><%= template.try(:annual_amount)%></td>

           <td><% if template.try(:is_confirm) == true %>
            <small class="label label-info">Confirmed</small>
            <% else %><%= link_to '', edit_employee_salary_template_path(template), class: 'btn btn-success btn-xs fa fa-edit',remote:true %><% end %>
            </td>
          </tr>
        <% end %> 
        <tr>
          <th colspan="2">Total</th>
          <!-- <th colspan="4"></th> -->
          <td align="right"><strong><%= @employee_salary_templates.sum(:monthly_amount) %></strong></td>
          <td align="right"><strong><%= @employee_salary_templates.sum(:annual_amount) %></strong></td>
          <td></td>
        </tr>    
      </tbody>
    </table>
    <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Confirm", class: 'btn btn-primary btn-sm' %> | <%= link_to 'Back', fresh_template_employee_templates_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
      </div>
    </div>
  </div>
    <% end %>
    </div>
  </div><!-- /.box-body -->

<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>
