<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Salary Template</h3>
    <div class="box-tools pull-right">
      
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Salary component</th>
            <th>Is deducted</th>
            <th>Parent salary component</th>
            <th>Percentage</th>
            <th>Is taxable</th>
            <th>Tax</th>
            <th>Base</th>
            <th>To be paid</th>
            <th>Max amount</th>
            <th>Monthly amount</th>
            <th>Annual amount</th>
          </tr>
        </thead>

        <tbody>
          <% @employee_salary_templates.each do |template| %>
            <tr>
             <td><%= template.try(:salary_component).try(:name)%></td>
             <td><%= template.try(:is_deducted)%></td>
             <td><%= template.try(:parent_salary_component).try(:name)%></td>
             <td><%= template.try(:percentage)%></td>
             <td><%= template.try(:is_taxable)%></td>
             <td><%= template.try(:tax)%></td>
             <td><%= template.try(:base)%></td>
             <td><%= template.try(:to_be_paid)%></td>
             <td><%= template.try(:max_amount)%></td>
             <td><%= template.try(:monthly_amount)%></td>
             <td><%= template.try(:annual_amount)%></td>
            </tr>
          <% end %>     
        </tbody>
      </table>
      <%= link_to "Edit", class: 'btn btn-success fa fa-edit'%> |
      <%= link_to 'Back', employee_salary_templates_path %>
  </div><!-- /.box-body -->
</div><!-- /.box -->