<%= form_for(@employee_promotion) do |f| %>
  <% if @employee_promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_promotion.errors.count, "error") %> prohibited this employee_promotion from being saved:</h2>

      <ul>
      <% @employee_promotion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br>
    <%= f.text_field :department_id %>
  </div>
  <div class="field">
    <%= f.label :employee_designation_id %><br>
    <%= f.text_field :employee_designation_id %>
  </div>
  <div class="field">
    <%= f.label :employee_grade_id %><br>
    <%= f.text_field :employee_grade_id %>
  </div>
  <div class="field">
    <%= f.label :employee_category_id %><br>
    <%= f.text_field :employee_category_id %>
  </div>
  <div class="field">
    <%= f.label :employee_ctc %><br>
    <%= f.text_field :employee_ctc %>
  </div>
  <div class="field">
    <%= f.label :justification %><br>
    <%= f.text_area :justification %>
  </div>
  <div class="field">
    <%= f.label :effective_from %><br>
    <%= f.date_select :effective_from %>
  </div>
  <div class="field">
    <%= f.label :effective_to %><br>
    <%= f.date_select :effective_to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
