<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Promotion Detail </center></h4>
    </div>
    <div class="modal-body">
<table class="table table-bordered table-hover table-condensed">
  <thead>
<tr>
     <th><strong>ID</strong></th>
      <td><%= @employee_promotion.employee.try(:manual_employee_code) %></td>

      <th><strong>Employee</strong></th>
      <td><%= full_name(@employee_promotion.employee) %></td>
    
    </tr>

    <tr>
      <th><strong>Employee Department</strong></th>
      <td><%= @employee_promotion.department.try(:name) %></td>

      <th><strong>Employee Designation</strong></th>
      <td><%= @employee_promotion.employee_designation.try(:name) %></td>
  
    </tr>

    <tr>
      <th><strong>Employee Grade</strong></th>
      <td><%= @employee_promotion.employee_grade.try(:name) %></td>

      <th><strong>Employee Category</strong></th>
      <td><%= @employee_promotion.employee_category.try(:name) %></td>

    </tr>

    <tr>
      <th><strong>Effective From</strong></th>
      <td><%= @employee_promotion.effective_from %></td>

      <th><strong>Effective To</strong></th>
      <td><%= "Till Next Promotion" %></td>
    </tr>
<tr>
    <th><strong>Employee CTC</strong></th>
    <td colspan="3"><%= @employee_promotion.employee_ctc %></td>
</tr>

    <tr>
      <th><strong>Justification</strong></th>
      <td colspan="3"><%= @employee_promotion.justification %></td>
    </tr>
  </thead>
</table>
</div>
<div class="modal-footer"></div>
</div>
</div>  