<div class="box-body">

 <div style="width: 700px; height: 700px;
          padding: 10px;
          border: 5px solid gray;
          margin: 10;">
  <div style="float:right;">Date - <%= Time.zone.now.to_date %> </div><br><br>

  <b><center>PROMOTION CERTIFICATE</center></b><br><br>
  <table id="example2" class="table table-bordered table-hover table-condensed'">
  <tr>
      <th><strong>Employee Name</strong></th>
      <td><%= @employee_promotion.employee.try(:first_name) %> <%= @employee_promotion.employee.try(:middle_name) %> <%= @employee_promotion.employee.try(:last_name) %></td>
    
      <th><strong>Department</strong></th>
      <td><%= @employee_promotion.department.try(:name) %></td>
    </tr>

    <tr>
      <th><strong>Employee Designation</strong></th>
      <td><%= @employee_promotion.employee_designation.try(:name) %></td>
  
      <th><strong>Employee Grade</strong></th>
      <td><%= @employee_promotion.employee_grade.try(:name) %></td>
    </tr>

    <tr>
      <th><strong>Employee Category</strong></th>
      <td><%= @employee_promotion.employee_category.try(:name) %></td>

      <th><strong>Employee CTC</strong></th>
      <td><%= @employee_promotion.employee_ctc %></td>
    </tr>

    <tr>
      <th><strong>Effective From</strong></th>
      <td><%= @employee_promotion.effective_from %></td>

      <th><strong>Effective To</strong></th>
      <td><%= @employee_promotion.effective_to %></td>
    </tr>

   </table>


  <p>For <b> <%= current_user.employee.company_location.company.try(:description) %> </b></p>

  <P>HR</P>


</div>
</div>
 <%= link_to "Print",print_certificate_employee_promotions_path(emp_promotion_id: @employee_promotion.id,format: "pdf") ,class: 'btn btn-warning btn-xs ',:target => "_blank"%> 
<!-- = link_to "Print",service_certificate_certificates_path(employee_id: @employee.id, certificate: @certificate,format: "pdf"),:target => "_blank"%> -->