 <div class="box">
  <div class="box-header">
    <h3 class="box-title">Promotion History</h3>
    <!--  <div class="pull-right">
      <= link_to "New Employee Promotion", new_employee_promotion_path, class: 'btn btn-primary btn-sm' %> 
    </div> -->
    <div class="pull-right"></div>
  </div><!-- /.box-header -->
  <div class="box-body">
 <table id="example6" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Employee</th>
        <th>Designation</th>
        <th>Employement Type</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.manual_employee_code %></td>
          <td><%= full_name(employee) %></td>
          <td><%= employee.joining_detail.try(:employee_designation).try(:name) %></td>
          <td><%= employee.employee_type.try(:name) %></td>
          <td><%= link_to 'Promotion History',promotion_history_employee_promotions_path(id: employee.id),class: 'btn btn-sm btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  </div>


<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>
