<table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Designation</th>
        <th>Grade</th>
        <th>Category</th>
        <th>Effective From</th>
      </tr>
    </thead>

    <tbody>
      <% @employee_promotions.each do |employee_promotion| %>
        <tr>
          <td><%= employee_promotion.employee.try(:manual_employee_code) %></td>
          <td><%= employee_promotion.employee.try(:first_name) %> <%= employee_promotion.employee.try(:middle_name) %> <%= employee_promotion.employee.try(:last_name) %></td>
          <td><%= employee_promotion.employee.try(:company_location).try(:name) %> - <%= employee_promotion.employee.try(:department).try(:name) %></td>
          <td><%= employee_promotion.employee_designation.try(:name) %></td>
          <td><%= employee_promotion.employee_grade.try(:name) %></td>
          <td><%= employee_promotion.employee_category.try(:name) %></td>
          <td><%= employee_promotion.effective_from %></td>
        </tr>
      <% end %>
    </tbody>
  </table>