<style type="text/css">
    th { text-align: left; }
    tr { page-break-inside: avoid; }
    div.alwaysbreak { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak{ page-break-inside: avoid;}
</style>
 <table style="border-collapse: collapse; font-size:15pt;" border=1 width=1600 cellpadding="20">
   
<thead>
  <tr><th colspan="9"><center><strong> Promotion History of <%= @employee_promotions.first.try(:employee).try(:manual_employee_code) %> <%= full_name(@employee_promotions.first.try(:employee)) %> <br><%= @employee_promotions.first.employee.company_location.company.try(:description) %></strong> <br>
        <%= @employee_promotions.first.employee.company_location.company.try(:address) %><br> <%= @employee_promotions.first.employee.department.try(:name) %> -
        <%= @employee_promotions.first.employee.company_location.try(:name) %></center></th></tr>
       <tr>
        <th>Department</th>
        <th>Designation</th>
        <th>Grade</th>
        <th>Category</th>
        <th>CTC</th>
        <th>From</th>
        <th>To</th>
        <th>Justification</th>  
       </tr>
</thead>
<tbody>
 <% @employee_promotions.each do |employee_promotion| %>
<tr>
          <td><%= employee_promotion.employee.try(:company_location).try(:name) %> - <%= employee_promotion.employee.try(:department).try(:name) %></td>
          <td><%= employee_promotion.employee_designation.try(:name) %></td>
          <td><%= employee_promotion.employee_grade.try(:name) %></td>
          <td><%= employee_promotion.employee_category.try(:name) %></td>
          <td><%= employee_promotion.employee_ctc %></td>
          <td><%= employee_promotion.effective_from %></td>
          <td><%= employee_promotion.effective_to %></td>
          <td><%= employee_promotion.justification %></td>
        </tr>
</tbody>
 <% end %>
  </table>