<div class="box">
  <div class="box-header">
  <%= form_for :employee_promotion, url: { action: 'print_employee_promotion',format: 'pdf',id: @employee.id},:html => {:target => '_blank'} do |f| %>

    Promotion History of <%= @employee_promotions.first.try(:employee).try(:manual_employee_code) %> <%= full_name(@employee_promotions.first.try(:employee)) %>
  </div><!-- /.box-header -->
 
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Department</th>
        <th>Grade</th>
        <th>Designation</th>
        <th>Category</th>
        <th>CTC</th>
        <th>Justification</th>
        <th>Effective From</th>
        <th>Effective To</th>
      </tr>
    </thead>

    <tbody>
      <% @employee_promotions.each do |employee_promotion| %>
        <tr>
          <td><%= employee_promotion.employee.try(:company_location).try(:name) %> - <%= employee_promotion.employee.try(:department).try(:name) %></td>
          <td><%= employee_promotion.employee_grade.name %></td>
          <td><%= employee_promotion.employee_designation.name %></td>
          <td><%= employee_promotion.employee_category.name %></td>
          <td><%= employee_promotion.employee_ctc %></td>
          <td><%= employee_promotion.justification %></td>
          <td><%= employee_promotion.effective_from %></td>
          <td><%= employee_promotion.effective_to %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  </div>

   <div class="row">
  <div class="col-sm-3">
    <div class="actions">
      <%= f.submit "Print Promotion Details", class: 'btn btn-primary btn-sm' %>
    </div>
  </div>
</div>
<% end %>
