<div class="box">
  <div class="box-header">
   <h3 class="box-title"> Promotion History of <%= @employee_promotions.first.try(:employee).try(:manual_employee_code) %> <%= full_name(@employee_promotions.first.try(:employee)) %></h3>
  </div><!-- /.box-header -->
    <div class="pull-right">
    <%= link_to " Print Report ", print_employee_promotion_employee_promotions_path(id: @employee.id, format: "pdf"), class: "btn btn-xl btn-info fa fa-print",:target => "_blank" %>
      <%= link_to " Excel Report ", print_promotion_excel_employee_promotions_path(id: @employee.id, format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
    </div><br>
 
  <div class="box-body"><br>
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Promotion ID</th>
        <th>Department</th>
        <th>Grade</th>
        <th>Designation</th>
        <th>Category</th>
        <th>CTC</th>
        <th>Effective From</th>
        <th>Effective To</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% i= 0 %>
      <% @employee_promotions.each do |employee_promotion| %>
        <tr>
          <th><%= i= i+1 %></th>
          <td><%= employee_promotion.employee.try(:company_location).try(:name) %> - <%= employee_promotion.employee.try(:department).try(:name) %></td>
          <td><%= employee_promotion.employee_grade.name %></td>
          <td><%= employee_promotion.employee_designation.name %></td>
          <td><%= employee_promotion.employee_category.name %></td>
          <td><%= employee_promotion.employee_ctc %></td>
          <td><%= employee_promotion.effective_from %></td>
          <td><%= employee_promotion.effective_to %></td>
          <td><%= link_to '', display_certificate_employee_promotions_path(emp_promotion_id: employee_promotion.id),class: 'btn btn-default btn-xs fa fa-certificate' %>
          <%= link_to '', employee_promotion,class: 'btn btn-default btn-xs fa fa-eye' %>

          </td> 
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  </div>