<br>
<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Regularization reason</th>
      <th>Date</th>
      <th>justification</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @attendance_regularizations.each do |attendance_regularization| %>
      <tr>
        <td><%= attendance_regularization.regularization_reason.try(:name) %></td>
        <td><%= attendance_regularization.date %></td>
        <td><%= attendance_regularization.justification %></td>
        <td>
          <% if attendance_regularization.status == "Pending" %>
            <small class="label label-default">Pending</small>
          <% elsif attendance_regularization.status == "Approved" %>
            <small class="label label-success">Approved</small>
          <% elsif attendance_regularization.status == "Rejected" %>
            <small class="label label-danger">Rejected</small>
          <% else %>
            <small class="label label-info">Else</small>
          <% end %>
        </td>
        <td>
          <%= link_to ' ', show_attendance_regularization_attendance_regularizations_path(attendance_regularization), remote: true, class: 'btn btn-xs btn-default fa fa-eye' %>
          <%= link_to '', edit_attendance_regularization_path(attendance_regularization),class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
          <%= link_to '', attendance_regularization, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-xs btn-danger fa fa-close' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="show_attendance_regularization" class="modal fade"></div>