<%= bootstrap_form_for(@attendance_regularization,htlm: {id: 'attendance_regularization'},remote: true) do |f| %>
  <div class="row">
    <%= f.hidden_field :employee_id , value: current_user.employee_id %>
    <%= f.hidden_field :manager_id , value: current_user.employee.manager_id %>
    <%= f.hidden_field :status , value: "Pending" %>
    
    <div class="col-sm-3">
      <div class="form-group required">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :date, label: 'Date', placeholder: "00/00/2018", class: 'birth_date'%>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <label> Regularization Reason </label>
        <%= f.select :regularization_reason_id,all_regularization_reason,{hide_label: true,include_blank: "Select Regularization Reason"} %>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="form-group required">
        <label> Justification </label>
        <%= f.text_field :justification, hide_label: true, placeholder: "Justification"%>
      </div>
    </div>
  </div>
  <br />

  <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Attendance Regularization Request ", class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
<% end %>

<script>
$("#attendance_regularization").validate({
  rules: {
    "attendance_regularization[date]":{
      required: true,
    },
    "attendance_regularization[regularization_reason_id]":{
      required: true,
    },
    "attendance_regularization[justification]":{
      required: true,
    }
  },
  messages: {
    "attendance_regularization[date]":{
      required: "Please specify Date",
    },
    "attendance_regularization[regularization_reason_id]":{
      required: "Please the Reason",
    },
    "attendance_regularization[justification]":{
      required: "Please the mention justification",
    }
  },
  errorPlacement: function(error, element) {
  error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
  error.insertAfter(element.parent(element));
  }
  });
</script>

<script type="text/javascript">
  $(function(){
    $('.date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+25',
    dateFormat: 'dd-mm-yy' });

    $(".timepicker").timepicker({
    showInputs: false });
  });
</script>
