<!-- Main content -->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Attendance Regularization Details </center></h4>
    </div>
    <div class="modal-body">
      <table class="table table-bordered table-hover table-condensed">
        <tbody>
       	  <tr>
            <th><strong>Employee</strong></th>
            <td><%= full_name(@attendance_regularizations.employee) %></td>
          </tr>
          <tr>
            <th><strong>Manager</strong></th>
            <% manager = Employee.find(@attendance_regularizations.manager_id) %>
            <td><%= full_name(manager) %></td>
          </tr>
          <tr>
            <th><strong>Date</strong></th>
            <td><%= @attendance_regularizations.date %></td>
          </tr>
          <tr>
            <th><strong>Regularization Reason</strong></th>
            <td><%= @attendance_regularizations.regularization_reason.try(:name) %></td>
          </tr>
          <tr>
            <th><strong>Status</strong></th>
            <td><%= @attendance_regularizations.status %></td>
          </tr>
          <tr>
            <th><strong>Justification</strong></th>
            <td><%= @attendance_regularizations.justification %></td>
          </tr>
      </tbody>
	    </table> <br>
	    <div align="center">
	    <%#= link_to 'Approve', plan_approve_employee_plans_path(@employee_plan.id), data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm" %>
   </div>
    
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<!-- <div id="myModal" class="modal fade"></div> -->
