<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:Index="1"><Data ss:Type="String">Sr.No.</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">ID</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Employee Name</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Date</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Regularization Reason</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Status</Data></Cell>
        
      </Row>
      <% i = 0 %>
      <% @regularization_report.each do |attendance_regularization| %>
        <Row>
          <Cell ss:Index="1"><Data ss:Type="String"><%= i=i+1 %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="String"><%= attendance_regularization.employee.try(:manual_employee_code) %></Data></Cell>
          <% @employee = Employee.find(attendance_regularization.employee_id) %>
          <Cell ss:Index="2"><Data ss:Type="String"><%= full_name(@employee) %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="String"><%= attendance_regularization.date %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="String"><%= attendance_regularization.regularization_reason.try(:name) %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="String"><%= attendance_regularization.status %></Data></Cell>
        </Row><!-- Row -->
      <% end %><!-- slip -->
    </Table>
  </Worksheet>
</Workbook>