<div class="box box-default">

  <div class="box-body">
    <div class="pull-right">
     
      <% if  @goal_bunch.nil? %>
      <% else %>
          <% if @goal_bunch.appraisee_confirm == true %>
            <%= link_to " Template ",self_evaluation_goal_bunches_path(format: "xls",employee_id: @employee.id,goal_bunch_id: @goal_bunch_id.id), class: "btn btn-xl btn-primary fa fa-print", :target => "_blank" %>
          <% else %>
            <%= link_to " Upload ", import_xl_goal_bunches_path(goal_bunch_id: @goal_bunch_id.id,employee_id: @employee.id), class: 'fa fa-upload btn btn-xl btn-success' %>
            <%= link_to " Template ",self_evaluation_goal_bunches_path(format: "xls",employee_id: @employee.id,goal_bunch_id: @goal_bunch_id.id), class: "btn btn-xl btn-primary fa fa-print", :target => "_blank" %>
          <% end %>
      <% end %>
     </div> <!-- pull right -->
<br>
 <table id="example2" class="table table-bordered table-hover table-condensed">
     <thead>
        <tr>
         <th>Base</th>
         <th>Period</th>
         <th>Employee</th>
         <th>Appraiser</th>
         <th>Reviewer</th>
        </tr>
      </thead>
      <tbody>
        <!-- < @goal_bunche.each do |g| %> -->
          <tr>
          <td><%= @goal_bunches.period.try(:name) %></td>
          <td>From: <%= @goal_bunches.period.try(:from) %> To: <%= @goal_bunches.period.try(:to) %> </td>
          <td><%= @goal_bunches.employee.try(:manual_employee_code) %> - <%= full_name(@goal_bunches.employee) %></td>
          <td><%= @goal_bunches.employee.try(:manager).try(:manual_employee_code) %> - <%= full_name(@goal_bunches.employee.try(:manager)) %></td>
          <td><%= @goal_bunches.employee.try(:manager_2).try(:manual_employee_code) %> - <%= full_name(@goal_bunches.employee.try(:manager_2)) %></td>
          </tr>
        <!-- < end %> -->
      </tbody>
    </table>
<table class="table table-bordered table-hover table-condensed">     
  <thead>
   <tr><th colspan="4"><center>Employee Details</center></th></tr>
    <% @employees.each do |a| %>
    <tr>
      <th>ID</th>
      <td><%= a.manual_employee_code %></td> 
      <th>Name</th>
       <td><%= full_name(a) %></td>
     
      </tr>
      <tr>
       <th>Age</th>
      <td>
          <% if a.date_of_birth == nil %>
            <%= %>
          <% else %>
            <% day = Date.today - a.try(:date_of_birth).to_date %><% d = day.to_i/365 %><%= d %>
          <% end %>
        </td>
      <th>Department</th>
       <td><%= a.try(:department).try(:name) %></td>
    </tr>
    <tr>
      <th>Date Of Joining</th>
      <td><%= @joining_detail.joining_date %></td>
      <th>Grade</th>
      <td><%= @joining_detail.employee_grade.try(:name) %></td>
      </tr>
      <tr>
      <th>Current Designation</th>
      <td><%= @joining_detail.employee_designation.try(:name) %></td> 
      <th>Current Experience</th>
        <td>
          <% if @joining_detail.joining_date == nil %>
            <%= %>
          <% else %>
            <% day = Date.today - @joining_detail.joining_date.to_date %><% d = day.to_f/365 %><% int = d.to_i %><% remaining = d.to_f - int.to_f %><% day1 = remaining.to_f * 365 %><% day2 = day1.to_f/30 %>
            <% if int.to_i > 0 %>
              <%= int.to_i %>.<%= day2.to_i %> <%= "year" %>
            <% else %>
              <%= day2.to_i %><%= "month" %>
            <% end %>
          <% end %>
        </td>
    </tr>
  </thead>
  <tbody>
    <% end %>
  </tbody>
</table>

<table class="table table-bordered table-hover table-condensed">
  <thead>
   <tr><th colspan="4"><center>Qualification Details</center></th></tr>
    <tr>
      <th>Degree</th>
      <th>Year Of Passing</th>
      <th>Marks</th>
      <th>Qualification</th>
    </tr>
  </thead>
  <tbody>
    <% @qualifications.each do |q| %>
      <tr>
        <td><%= q.degree.try(:name) %></td>
        <td><%= q.year.try(:name) %> </td>
        <td><%= q.marks %></td>
        <td><%= q.degree_type.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  
  <table class="table table-bordered table-hover table-condensed">
    <thead>
     <tr><th colspan="4"><center>Previous Experience</center></th></tr>
      <tr>
        <th>Previous Company</th>
        <th>Designation</th>
        <th>Experience(In Years)</th>
        <th>CTC</th>
      </tr>
    </thead>
    <tbody>
      <% @experiences.each do |e| %>
        <tr>
          <td><%= e.company_name %></td>
          <td><%= e.designation %></td>
          <td><%= e.no_of_year %></td>
          <td><%= e.ctc %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table class="table table-bordered table-hover table-condensed">
    <thead>
     <tr><th colspan="6"><center>Promotion Details</center></th></tr>
     <% @employee_promotions.each do |employee_promotion| %>
      <tr>
        <th>Department</th>
        <td colspan="2"><%= employee_promotion.employee.try(:company_location).try(:name) %> - <%= employee_promotion.employee.try(:department).try(:name) %></td>
        <th>Designation</th>
         <td colspan="2"><%= employee_promotion.employee_designation.try(:name) %></td>
      </tr>
      <tr>   
        <th>Grade</th>
        <td colspan="2"><%= employee_promotion.employee_grade.try(:name) %></td>
        <th>Category</th>
        <td colspan="2"><%= employee_promotion.employee_category.try(:name) %></td>
      </tr>  
       <tr>  
        <th>CTC</th>
         <td><%= employee_promotion.try(:employee_ctc) %></td>
        <th>From</th>
        <td><%= employee_promotion.effective_from %></td>
        <th>To</th>
         <td><%= employee_promotion.effective_to %></td>
      </tr>
    </thead>
    <tbody>
      <% end %>
    </tbody>
  </table>

  <% if  @goal_bunch.nil? %>
    <center><p class="text-warning"> No Goals Available </p></center> 
  <% else %>
    <% if @goal_bunch.appraisee_comment == nil %>
        <div class="box box-default">
          <div class="box-body">
          <%= bootstrap_form_for (@goal_rating),url:{action:'self_comment',emp_id: @employee.id,goal_bunch_id: @goal_bunch_id.id} do |f| %>  
            <table class="table table-bordered table-hover table-condensed">
              <thead>
               <tr><th colspan="7"><center>Goal Rating</center></th></tr>
                <tr>
                  <th>Goal Perspective</th>
                  <th>Measure</th>
                  <th>Activity</th>
                  <th>Target/Unit</th>
                  <th>Weightage</th>
                  <th>Aligned</th>
                  <!-- <th>Self Comment</th>
                  <th>Self Rating</th> -->
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @goal_ratings.each do |goal_rating| %>
                  <tr>
                    <td><%= goal_rating.goal_perspective.try(:name) %></td>
                    <td><%= goal_rating.goal_measure %></td>
                    <td><%= goal_rating.activity %></td>
                    <td><%= goal_rating.target %></td>
                    <td><%= goal_rating.goal_weightage %></td>
                    <td><%= goal_rating.aligned %></td>

                    <td><%= link_to 'Comment/Rating', self_comment_modal_goal_bunches_path(goal_rating_id: goal_rating.id,emp_id: @employee.id,goal_bunch_id: @goal_bunch_id.id),class: 'btn btn-xs btn-warning',remote: true %>
                    </td>

                     <!-- <td><%#= text_field_tag 'appraisee_comment[]',"",class: "form-control",autofocus: true %></td>
                    <td><%#= select_tag 'appraisee_rating[]',options_for_select(all_rating_type),{class: "form-control", hide_label: true,include_blank: " Select Rating"} %></td> -->
                    <%= hidden_field_tag 'goal_rating_ids[]',"",value: goal_rating.id %>
                  </tr>​

                <% end %>
              </tbody>
            </table>

            <table class="table table-bordered table-hover table-condensed">
              <thead>
               <tr><th colspan="7"><center>Attribute Rating</center></th></tr>
                <tr>
                  <th>Attribute</th>
                  <th>Measure</th>
                  <th>Activity</th>
                  <th>Target/Unit</th>
                  <th>Weightage</th>
                  <th>Aligned</th>
                  <!-- <th>Self Comment</th>
                  <th>Self Rating</th> -->
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @goal_attribute_ratings.each do |goal_rating| %>
                  <tr>
                    <td><%= goal_rating.attribute_master.try(:name) %></td>
                    <td><%= goal_rating.goal_measure %></td>
                    <td><%= goal_rating.activity %></td>
                    <td><%= goal_rating.target %></td>
                    <td><%= goal_rating.goal_weightage %></td>
                    <td><%= goal_rating.aligned %></td>

                    <td><%= link_to 'Comment/Rating', self_comment_modal_goal_bunches_path(goal_rating_id: goal_rating.id,emp_id: @employee.id,goal_bunch_id: @goal_bunch_id.id),class: 'btn btn-xs btn-warning',remote: true %>
                    </td>

                    <!-- <td><%#= text_field_tag 'appraisee_comment[]',"",class: "form-control" %></td>
                    <td><%#= select_tag 'appraisee_rating[]',options_for_select(all_rating_type),{class: "form-control", hide_label: true,include_blank: " Select Rating"} %></td> -->
                    <%= hidden_field_tag 'goal_rating_ids[]',"",value: goal_rating.id %>
                  </tr>
                <% end %>
              </tbody>
            </table>

          <% unless @goal_ratings.empty? && @goal_attribute_ratings.empty? %>
          <div class="row">
            <div class="col-sm-3">
              <div class="actions">
                <%#= f.submit "Create Comment", class: 'btn btn-primary btn-sm' %> 
              </div>
            </div>
          </div>
          <% end %> 
        </div>
        </div>
      <% end %>
  <% end %>

<div id="myModal" class="modal fade"></div>

<div class="box box-default">
  
  <div class="box-body">
  <%= bootstrap_form_for GoalBunch.new,url:{action:'self_comment_confirm'} do |f| %>
    <table class="table table-bordered table-hover table-condensed">
      <thead>
       <tr><th colspan="9"><center>Goal Details</center></th></tr>
        <tr>
          <th>Goal Perspective</th>
          <th>Measure</th>
          <th>Activity</th>
          <th>Target/Unit</th>
          <th>Weightage</th>
          <th>Aligned</th>
          <th>Self Comment</th>
          <th>Self Rating</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% appraisee_goal_sum = 0 %>
        <% appraisee_goalrating_sum = 0 %>
        <% @self_goal_ratings.each do |goal_rating| %>
          <tr>
            <td><%= goal_rating.goal_perspective.try(:name) %></td>
            <td><%= goal_rating.goal_measure %></td>
            <td><%= goal_rating.activity %></td>
            <td><%= goal_rating.target %></td>
            <td><%= weightage = goal_rating.goal_weightage %></td>
            <td><%= goal_rating.aligned %></td>
            <td><%= goal_rating.appraisee_comment %></td>
            <td><%= appraisee_rating = goal_rating.try(:appraisee_rating).try(:value) %></td>
            <td>
              <% if @goal_bunch.appraisee_confirm == true %>
                <small class="label label-info">Confirmed</small>
              <% else %>
                <% if @goal_bunch.appraisee_rating_id == nil %>
                  <%= link_to '', self_modal_goal_ratings_path(goal_rating),class: 'btn btn-xs btn-success fa fa-edit',remote: true %> 
                <% else %>
                <% end %>
              <% end %>
            </td>
            <% appraisee_output = weightage * appraisee_rating.to_i / 100.to_f %>
            <% appraisee_goal_sum = appraisee_goal_sum + appraisee_output %>
            <% appraisee_goalrating_sum = appraisee_goalrating_sum.to_f + appraisee_rating.to_f %>
          </tr>
        <% end %>
        <tr>
          <th colspan="2"><h6><font color='red' size='2'>Appraisee Rating For Goal </font></h6></th>
          <% if @period.marks == true %>
            <th colspan="7"><h6><font color='red' size='2'> <%= appraisee_goalrating_sum.round(2) %></font></h6></th>
          <% else %>
            <th colspan="7"><h6><font color='red' size='2'> <%= appraisee_goal_sum.round(2) %></font></h6></th>
          <% end %>
        </tr>
      </tbody>
    </table>

  
    <table class="table table-bordered table-hover table-condensed">
      <thead>
       <tr><th colspan="9"><center>Attribute Details</center></th></tr>
        <tr>
          <th>Attribute</th>
          <th>Measure</th>
          <th>Activity</th>
          <th>Target/Unit</th>
          <th>Weightage</th>
          <th>Aligned</th>
          <th>Self Comment</th>
          <th>Self Rating</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% appraisee_attribute_sum = 0 %>
        <% appraisee_attributerating_sum = 0 %>
        <% @self_attribute_ratings.each do |goal_rating| %>
          <tr>
            <td><%= goal_rating.attribute_master.try(:name) %></td>
            <td><%= goal_rating.goal_measure %></td>
            <td><%= goal_rating.activity %></td>
            <td><%= goal_rating.target %></td>
            <td><%= weightage = goal_rating.goal_weightage %></td>
            <td><%= goal_rating.aligned %></td>
            <td><%= goal_rating.appraisee_comment %></td>
            <td><%= appraisee_rating = goal_rating.try(:appraisee_rating).try(:value) %></td>
            <td>
              <% if @goal_bunch.appraisee_confirm == true %>
                <small class="label label-info">Confirmed</small>
              <% else %>
                <% if @goal_bunch.appraisee_rating_id == nil %>
                  <%= link_to '', self_modal_goal_ratings_path(goal_rating),class: 'btn btn-xs btn-success fa fa-edit',remote: true %> 
                <% else %>
                <% end %>
              <% end %>
            </td>
            <% appraisee_output = weightage * appraisee_rating.to_f.to_f / 100.to_f %>
            <% appraisee_attribute_sum = appraisee_attribute_sum.to_f + appraisee_output.to_f %>
            <% appraisee_attributerating_sum = appraisee_attributerating_sum.to_f + appraisee_rating.to_f %>
          </tr>
        <% end %>
          <tr>
            <th colspan="2"><h6><font color='red' size='2'>Appraisee Rating For Attribute</font></h6></th>
            <% if @period.marks == true %>
              <th colspan="7"><h6><font color='red' size='2'> <%= appraisee_attributerating_sum.round(2) %></font></h6></th>
            <% else %>
              <th colspan="7"><h6><font color='red' size='2'> <%= appraisee_attribute_sum.round(2) %></font></h6></th>
            <% end %>
          </tr>
        <tr>
          <th colspan="2"> <h6><font color='red' size='2'>Overall </font></h6></th>
          <% if @period.marks == true %>
            <th colspan="7"> <h6><font color='red' size='2'><%= (appraisee_attributerating_sum + appraisee_goalrating_sum ).round(2) %></font></h6></th>
          <% else %>
            <th colspan="7"> <h6><font color='red' size='2'><%= (appraisee_attribute_sum + appraisee_goal_sum ).round(2) %></font></h6></th>
          <% end %>
        </tr>
      </tbody>
    </table>
      <% if @period.marks == true %>
        <% @Overall = (appraisee_attributerating_sum + appraisee_goalrating_sum ).round(2) %>
      <% else %>
        <% @Overall = (appraisee_attribute_sum + appraisee_goal_sum ).round(2) %>
      <% end %>

  <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <% unless @goal_ratings.empty? && @goal_attribute_ratings.empty? %>
        <% else %>
          <% unless @goal_bunch.nil? %>
            <% if @goal_bunch.appraisee_confirm == true %>
            <% else %>
            <%= link_to 'Overall Comment', modal_self_overall_goal_bunches_path(goal_bunch_id: @goal_bunch.id,appraisee_overall: @Overall,employee_id: @employee.id),class: 'btn btn-primary btn-sm',remote: true %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="box-header with-border">
  <h3 class="box-title">Overall Comment</h3>
</div>
<%= bootstrap_form_for GoalBunch.new,url:{action:'self_overall_comment_confirm',emp_id: @employee.id,goal_bunch_id: @goal_bunches.id} do |f| %>
 <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Overall Comment</th>
        <th>Overall Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @goal_bunches.appraisee_comment %></td>
        <td><%= @goal_bunches.appraisee_rating_id.to_f.round(2) %></td>
      </tr>
    </tbody>
  </table>

    <% unless @goal_bunch.nil? %>
      <% if @goal_bunch.appraisee_comment == nil or @goal_bunch.appraisee_confirm == true %>
       <%= link_to 'Back',period_list_appraisee_goal_bunches_path,class: 'btn btn-sm btn-default fa fa-arrow-left'%>
      <% else %>
        <div class="row">
          <div class="col-sm-3">
            <div class="actions">
              <%= f.submit "Confirm", class: 'btn btn-primary btn-sm' %> |
              <%= link_to 'Back',period_list_appraisee_goal_bunches_path,class: 'btn btn-sm btn-default fa fa-arrow-left'%>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
<% end %>
  <br>

  
<% end %>
  
</div>
</div>
<div id="myModal" class="modal fade"></div>
<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>
