<div class="box box-default">
  <div class="box-body">
    <%= bootstrap_form_for :goal_bunches,html: {id: "goal_bunches"}, url: { action: 'create_admin_level_period'} do |f| %>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.select :period_id,all_period_type,{label: 'Period',include_blank: 'Select Period'} %>
          </div>
        </div>
      </div>

      <table id="example1" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th><input type="checkbox" id="selectAll" value="selectAll"></th>
            <th>ID</th>
            <th>Employee</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Cost Center</th>
            <th>Contact No.</th>
          </tr>
        </thead>
        <tbody>
          <% @employees.each do |e| %>
            <tr>              
              <td><%= check_box_tag "employee_ids[]",e.id %></td>
              <td><%= e.manual_employee_code %></td>
              <td><%= full_name(e) %></td>
              <td><%= e.try(:company_location).try(:name)%> - <%= e.try(:department).try(:name)%></td>
              <td><%= e.try(:joining_detail).try(:employee_designation).try(:name) %></td>
              <td><%= e.try(:joining_detail).try(:cost_center).try(:name) %></td>
              <td><%= e.contact_no %></td>
              <%= f.hidden_field :department_id, value: e.department_id %>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <div class="row">
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit "Create Period" ,class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      </div>
    </div>
  </div>


  <% end %>
<script type="text/javascript">
$(document).ready(function() {
    $('#example1').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>
<script type="text/javascript">
  $('#selectAll').click(function() {
    if (this.checked) {
      $(':checkbox').each(function() {
        this.checked = true;
      });
    }
    else {
      $(':checkbox').each(function() {
        this.checked = false;
      });
    }
  });

  $("#goal_bunches").validate({
    rules: {
      "goal_bunches[period_id]":{
        required: true
      }
    },
    messages: {
      "goal_bunches[period_id]":{
        required: "Please Specify Period"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>