<div class="box">
  <div class="box-body">
   <table class="table table-bordered table-hover table-condensed">     
      <thead>
        <tr><th colspan="8"><center>Employee Details</center></th></tr>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Department</th>
          <th>Date Of Joining</th>
          <th>Grade</th>
          <th>Current Designation</th> 
          <th>Current Experience</th>
        </tr>
      </thead>
      <tbody>
        <% @employees.each do |a| %>
        <tr>
          <td><%= a.manual_employee_code %></td> 
          <td><%= full_name(a) %></td>
          <td>
            <% if a.date_of_birth == nil %>
              <%= %>
            <% else %>
              <% day = Date.today - a.try(:date_of_birth).to_date %><% d = day.to_i/365 %><%= d %>
            <% end %>
          </td>
          <td><%= a.department.try(:name) %></td>
          <td><%= @joining_detail.joining_date %></td>
          <td><%= @joining_detail.employee_grade.name %></td>
          <td><%= @joining_detail.employee_designation.name %></td>
          <td>
            <% if @joining_detail.joining_date == nil %>
              <%= %>
            <% else %>
              <% day = Date.today - @joining_detail.joining_date.to_date %><% d = day.to_f/365 %><% int = d.to_i %><% remaining = d.to_f - int.to_f %><% day1 = remaining.to_f * 365 %><% day2 = day1.to_f/30 %>
              <% if int.to_i > 0 %>
                <%= int.to_i %>.<%= day2.to_i %> <%= "year" %>
              <% else %>
                <%= day2.to_i %><%= "month" %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr><th colspan="4"><center>Qualification Details</center></th></tr>
        <tr>
          <th>Degree</th>
          <th>Year Of Passing</th>
          <th>Marks</th>
          <th>Qualification</th>
        </tr>
      </thead>
      <tbody>
        <% @qualifications.each do |q| %>
          <tr>
            <td><%= q.degree.try(:name) %></td>
            <td><%= q.year.try(:name) %> </td>
            <td><%= q.marks %></td>
            <td><%= q.degree_type.try(:name) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <table class="table table-bordered table-hover table-condensed">
      <thead>
     <tr><th colspan="4"><center>Previous Experience</center></th></tr>
        <tr>
          <th>Previous Company</th>
          <th>Designation</th>
          <th>Previous Exp.(Years)</th>
          <th>CTC</th>
        </tr>
      </thead>
      <tbody>
        <% @experiences.each do |e| %>
          <tr>
            <td><%= e.company_name %></td>
            <td><%= e.designation %></td>
            <td><%= e.no_of_year %></td>
            <td><%= e.ctc %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <table class="table table-bordered table-hover table-condensed">
    <thead>
     <tr><th colspan="7"><center>Promotion Details</center></th></tr>
      <tr>
        <th>Department</th>
        <th>Designation</th>
        <th>Grade</th>
        <th>Category</th>
        <th>CTC</th>
        <th>From</th>
        <th>To</th>
      </tr>
    </thead>
    <tbody>
    <% @employee_promotions.each do |employee_promotion| %>
        <tr>
          <td><%= employee_promotion.employee.try(:company_location).try(:name) %> - <%= employee_promotion.employee.try(:department).try(:name) %></td>
          <td><%= employee_promotion.employee_designation.try(:name) %></td>
          <td><%= employee_promotion.employee_grade.try(:name) %></td>
          <td><%= employee_promotion.employee_category.try(:name) %></td>
          <td><%= employee_promotion.try(:ctc) %></td>
          <td><%= employee_promotion.effective_from %></td>
          <td><%= employee_promotion.effective_to %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr><th colspan="10"><center>Goal Rating</center></th></tr>
      <tr>
        <th>Goal Perspective</th>
        <th>Measure</th>
        <th>Target/Unit</th>
        <th>Weightage</th>
        <th>Aligned</th>
        <th>Self Comment</th>
        <th>Self Rating</th>
        <th>Appraiser Comment</th>
        <th>Appraiser Rating</th>
        <th>Reviewer Comment</th>
      </tr>
    </thead>
    <tbody>
      <% @goal_ratings.each do |goal_rating| %>
        <tr>
          <td><%= goal_rating.goal_perspective.try(:name) %></td>
          <td><%= goal_rating.goal_measure %></td>
          <td><%= goal_rating.target %></td>
          <td><%= goal_rating.goal_weightage %></td>
          <td><%= goal_rating.aligned %></td>
          <td><%= goal_rating.appraisee_comment %></td>
          <td><%= goal_rating.try(:appraisee_rating).try(:value) %></td>
          <td><%= goal_rating.appraiser_comment %></td>
          <td><%= goal_rating.try(:appraiser_rating).try(:value) %></td>
          <td><%= goal_rating.reviewer_comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr><th colspan="10"><center>Attribute Rating</center></th></tr>
      <tr>
        <th>Attribute</th>
        <th>Measure</th>
        <th>Target/Unit</th>
        <th>Weightage</th>
        <th>Aligned</th>
        <th>Self Comment</th>
        <th>Self Rating</th>
        <th>Appraiser Comment</th>
        <th>Appraiser Rating</th>
        <th>Reviewer Comment</th>
      </tr>
    </thead>
    <tbody>
      <% @goal_attribute_ratings.each do |goal_rating| %>
        <tr>
          <td><%= goal_rating.attribute_master.try(:name) %></td>
          <td><%= goal_rating.goal_measure %></td>
          <td><%= goal_rating.target %></td>
          <td><%= goal_rating.goal_weightage %></td>
          <td><%= goal_rating.aligned %></td>
          <td><%= goal_rating.appraisee_comment %></td>
          <td><%= goal_rating.try(:appraisee_rating).try(:value) %></td>
          <td><%= goal_rating.appraiser_comment %></td>
          <td><%= goal_rating.try(:appraiser_rating).try(:value) %></td>
          <td><%= goal_rating.reviewer_comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
  <% if  @goal_bunch.nil? %>
  <center><p class="text-warning"> No Goals Available </p></center> 
  <% else %>

   <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
    <thead><tr><th colspan="2"><center>Overall List</center></th></tr></thead>
   <tbody>
        <tr>
          <th>Self Comment</th>
          <td><%= @goal_bunches.try(:appraisee_comment) %></td>
        </tr>
        <tr>
          <th>Self Rating</th>
          <td><%= @goal_bunches.try(:appraisee_rating_id) %></td>
        </tr>
        <tr>
          <th>Appraiser Comment</th>
          <td><%= @goal_bunches.try(:appraiser_comment) %></td>
        </tr>
        <tr>
          <th>Appraiser Rating</th>
          <td><%= @goal_bunches.try(:appraiser_rating) %></td>
        </tr>
        <tr>
          <th>Reviewer Comment</th>
          <td><%= @goal_bunches.try(:review_comment) %></td>
        </tr>
        <tr>
          <th>Reviewer Rating</th>
          <td><%= @goal_bunches.try(:reviewer_rating_id) %></td>
        </tr>
        <tr>
          <th>Final Comment</th>
          <td><%= @goal_bunches.try(:final_comment) %></td>
        </tr>
        <tr>
          <th>Final Rating</th>
          <td><%= @goal_bunches.try(:final_rating_id) %></td>
        </tr> 
    </tbody>
  </table>

  <% if @goal_bunch.final_comment == nil %>
      <% if @goal_bunch.employee.manager_2_id == nil %>
     
        <%= bootstrap_form_for(@goal_bunch,html: {id: 'goal_bunch'},url:{action: "final_create",employee_id: @employee.id,goal_bunch_id: @goal_bunch.id,period_id: @period.id}) do |f| %>
          <%= hidden_field_tag :final_id, {},value: current_user.employee_id %>

          <div class="row">
            <h6><center>Recommendation For Employee</center></h6>
          <div class="col-sm-3">
              <%= f.select :f_promotion,[['Yes','true'],['No','false']],{label: 'Promotion',include_blank: " Select Promotion Option"},autofocus: true %>
          </div>

          <div class="col-sm-3">
              <%= f.select :f_increment,[['Yes','true'],['No','false']],{label: 'Increment',include_blank: " Select Increment Option"} %>
          </div>

          <div class="col-sm-3">
              <%= f.select :f_designation_id,all_employee_designation,{label: 'Designation',include_blank: " Select Designation"} %>
          </div>

          <div class="col-sm-3">
          <label>Revised CTC</label>
            <%= f.text_field :f_ctc,hide_label:true,placeholder: 'CTC' %>
          </div>
          </div>
          <br>

            <div class="box-header with-border">
              <h6><center>Final Comment/Rating For Employee</center></h6>
            </div>
              <div class="row">
                <div class="col-sm-9">
                  <div class="field">
                  <%= f.text_field :final_comment,hide_label:true,placeholder: 'Final Comment'%>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="field">
                  <%= f.select :final_rating_id,all_rating_type,{hide_label:true, include_blank: 'Select Rating'} %>
                  </div>
                </div>
              </div>

              <% if @goal_bunch.final_comment == nil %>
                <% if @goal_bunch.final_confirm == true %>
                <% else %>
                  <div class="row">
                    <div class="col-sm-3">
                      <div class="actions">
                        <%= f.submit "Create" , class: "btn btn-primary btn-sm" %>
                        <%= link_to 'Back',period_list_final_goal_bunches_path(period_id: @period.id),class: 'btn btn-sm btn-default fa fa-arrow-left' %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>

          <% end %> <!-- <h5><center>Reviewer Comment not Confirmed</center></h5> -->

      <% else %> <!-- manager2 available -->
          <% if @goal_bunch.reviewer_confirm == true %>

              <%= bootstrap_form_for(@goal_bunch,html: {id: 'goal_bunch'},url:{action: "final_create",employee_id: @employee.id,goal_bunch_id: @goal_bunch.id,period_id: @period.id}) do |f| %>
              <%= hidden_field_tag :final_id, {},value: current_user.employee_id %>

                  <br>
                <div class="row">
                  <h6><center>Recommendation For Employee</center></h6>
                <div class="col-sm-3">
                    <%= f.select :f_promotion,[['Yes','true'],['No','false']],{label: 'Promotion',include_blank: " Select Promotion Option"} %>
                </div>

                <div class="col-sm-3">
                    <%= f.select :f_increment,[['Yes','true'],['No','false']],{label: 'Increment',include_blank: " Select Increment Option"} %>
                </div>

                <div class="col-sm-3">
                    <%= f.select :f_designation_id,all_employee_designation,{label: 'Designation',include_blank: " Select Designation"} %>
                </div>

                <div class="col-sm-3">
                <label>Revised CTC</label>
                  <%= f.text_field :f_ctc,hide_label:true,placeholder: 'CTC' %>
                </div>
                </div>
              <br>

              <div class="box-header with-border">
                <h3 class="box-title">Final Comment</h3>
              </div>
                <div class="row">
                  <div class="col-sm-9">
                    <div class="field">
                    <%= f.text_field :final_comment,hide_label:true, placeholder: 'Final Comment',autofocus: true  %>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="field">
                    <%= f.select :final_rating_id,all_rating_type,{hide_label:true, include_blank: 'Select Rating'} %>
                    </div>
                  </div>
                </div>

                <% if @goal_bunch.final_comment == nil %>
                  <% if @goal_bunch.final_confirm == true %>
                  <% else %>
                    <div class="row">
                      <div class="col-sm-3">
                        <div class="actions">
                          <%= f.submit "Create" , class: "btn btn-primary btn-sm" %>
                          <%= link_to 'Back',period_list_final_goal_bunches_path(period_id: @period.id),class: 'btn btn-sm btn-default fa fa-arrow-left' %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>

          <% else %>
          <h5><center>Reviewer Comment not Confirmed</center></h5>
          <% end %>

      <% end %>  
    <% else %><!--
      <center>Comment Created</center> -->
    <% end %>

    <% if @goal_bunch.employee.manager_2_id == nil %>

          <%= bootstrap_form_for GoalBunch.new,url:{action:'final_comment_confirm',emp_id: @employee.id,goal_bunch_id: @goal_bunches.id,period_id: @period.id} do |f| %>
          <%= hidden_field_tag :final_id, {},value: current_user.employee_id %>

          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <tr><th colspan="4"><center>Recommendation For Employee</center></th></tr>
              <tr>
                <th>Promotion</th>
                <th>Increment</th>
                <th>Designation</th>
                <th>CTC</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @goal_bunches.f_promotion ? "Yes" : "No" %></td>
                <td><%= @goal_bunches.f_increment ? "Yes" : "No" %></td>
                <td><%= @goal_bunches.f_designation.try(:name) %></td>
                <td><%= @goal_bunches.f_ctc %></td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <tr><th colspan="4"><center>Created Final Comment</center></th></tr>
              <tr>
                <th>Final Comment</th>
                <th>Final Rating</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td><%= @goal_bunches.final_comment %></td>
                  <td><%= @goal_bunches.final_rating.try(:value) %></td>
                  
                    <% if @goal_bunches.final_comment == nil %>
                    <td></td>
                    <% else %>
                      <% if @goal_bunches.final_confirm == true %>
                      <td><small class="label label-info">Confirmed</small></td>
                      <% else %>
                      <td><%= link_to '', final_modal_goal_bunches_path(goal_bunch_id: @goal_bunches,period_id: @period.id),class: 'btn btn-xs btn-success fa fa-edit',remote:true %></td>
                      <% end %>
                    <% end %>
                </tr>
            </tbody>
          </table>

             <div class="row">
              <div class="col-sm-3">
                <div class="actions">
                  <% if @goal_bunch.final_comment == nil  or @goal_bunch.final_confirm != nil %>
                    <%= link_to 'Back',period_list_final_goal_bunches_path(period_id: @period.id),class: 'btn btn-sm btn-default fa fa-arrow-left' %>
                  <% else %>
                    <%= f.submit "Confirm", class: 'btn btn-primary btn-sm' %>
                    <%= link_to 'Back',period_list_final_goal_bunches_path(period_id: @period.id),class: 'btn btn-sm btn-default fa fa-arrow-left' %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

    <% else %>
    <% if @goal_bunch.reviewer_confirm == true %>

          <%= bootstrap_form_for GoalBunch.new,url:{action:'final_comment_confirm',emp_id: @employee.id,goal_bunch_id: @goal_bunches.id,period_id: @period.id} do |f| %>
          <%= hidden_field_tag :final_id, {},value: current_user.employee_id %>

          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <tr><th colspan="4"><center>Recommendation For Employee</center></th></tr>
              <tr>
                <th>Promotion</th>
                <th>Increment</th>
                <th>Designation</th>
                <th>CTC</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @goal_bunches.f_promotion ? "Yes" : "No" %></td>
                <td><%= @goal_bunches.f_increment ? "Yes" : "No" %></td>
                <td><%= @goal_bunches.f_designation.try(:name) %></td>
                <td><%= @goal_bunches.f_ctc %></td>
              </tr>
            </tbody>
          </table>

          <table class="table table-bordered table-hover table-condensed">
            <thead>
              <tr><th colspan="4"><center>Created Final Comment</center></th></tr>
              <tr>
                <th>Final Comment</th>
                <th>Final Rating</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td><%= @goal_bunches.final_comment %></td>
                  <td><%= @goal_bunches.final_rating.try(:value) %></td>
                  
                    <% if @goal_bunches.final_comment == nil %>
                    <td></td>
                    <% else %>
                      <% if @goal_bunches.final_confirm == true %>
                      <td><small class="label label-info">Confirmed</small></td>
                      <% else %>
                      <td><%= link_to '', final_modal_goal_bunches_path(goal_bunch_id: @goal_bunches,period_id: @period.id),class: 'btn btn-xs btn-success fa fa-edit',remote:true %></td>
                      <% end %>
                    <% end %>
                </tr>
            </tbody>
          </table>

             <div class="row">
              <div class="col-sm-3">
                <div class="actions">
                  <% if @goal_bunch.final_comment == nil  or @goal_bunch.final_confirm == true %>
                    <%= link_to 'Back',period_list_final_goal_bunches_path(period_id: @period.id),class: 'btn btn-sm btn-default fa fa-arrow-left' %>
                  <% else %>
                    <%= f.submit "Confirm", class: 'btn btn-primary btn-sm' %>
                    <%= link_to 'Back',period_list_final_goal_bunches_path(period_id: @period.id),class: 'btn btn-sm btn-default fa fa-arrow-left' %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>

      <% else %>
         
      <% end %>
    <% end %>  
  </div>
  </div>
<% end %>

<div id="myModal" class="modal fade"></div>
<script type="text/javascript">
  $("#goal_bunch").validate({
    rules: {
      "goal_bunch[final_comment]":{
        required: true
      },
      "goal_bunch[final_rating_id]":{
        required: true
      }
    },
    messages: {
      "goal_bunch[final_comment]":{
        required: "Please specify Final Comment"
      },
      "goal_bunch[final_rating_id]":{
        required: "Please specify Final Rating"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>