<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Details</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
<table class="table table-bordered table-hover table-condensed">     
  <thead>
    <tr>
      <th>Employee Id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Department</th>
      <th>Date Of Joining</th>
      <th>Grade</th>
      <th>Current Designation</th> 
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |a| %>
    <tr>
      <td><%= a.manual_employee_code %></td> 
      <td><%= a.first_name %></td>
      <td><%=  %></td>
      <td><%= a.department.name %></td>
      <td><%= @joining_detail.joining_date %></td>
      <td><%= @joining_detail.employee_grade.name %></td>
      <td><%= @joining_detail.employee_designation.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="box-header with-border">
  <h3 class="box-title">Previous Experience</h3>
</div>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Previous Company</th>
      <th>Designation</th>
      <th>Previous Exp.(Years)</th>
      <th>CTC</th>
    </tr>
  </thead>
  <tbody>
    <% @experiences.each do |e| %>
      <tr>
        <td><%= e.company_name %></td>
        <td><%= e.designation %></td>
        <td><%= e.no_of_year %></td>
        <td><%= e.ctc %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="box-header with-border">
  <h3 class="box-title">Qualification Details</h3>
</div>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Degree</th>
      <th>Year Of Passing</th>
      <th>Marks</th>
      <th>Qualification</th>
    </tr>
  </thead>
  <tbody>
    <% @qualifications.each do |q| %>
      <tr>
        <td><%= q.degree.name %></td>
        <td><%= q.year.name%> </td>
        <td><%= q.marks %></td>
        <td><%= q.degree_type.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="box-header with-border">
  <h3 class="box-title">Goals List</h3>
</div>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Goal Perspective</th>
        <th>Goal Weightage</th>
        <th>Goal Measure</th>
        <th>Target/Unit</th>
        <th>Aligned</th>
        <th>Self Comment</th>
        <th>Appraiser Comment</th>
        <th>Appraiser Rating</th>
        <th>Reviewer Comment</th>
      </tr>
    </thead>
    <tbody>
      <% @goal_ratings.each do |goal_rating| %>
        <tr>
          <td><%= goal_rating.goal_perspective.try(:name) %></td>
          <td><%= goal_rating.goal_weightage %></td>
          <td><%= goal_rating.goal_measure %></td>
          <td><%= goal_rating.target %></td>
          <td><%= goal_rating.aligned %></td>
          <td><%= goal_rating.appraisee_comment %></td>
          <td><%= goal_rating.appraiser_comment %></td>
          <td><%= goal_rating.appraiser_rating_id %></td>
          <td><%= goal_rating.reviewer_comment %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="box-header with-border">
  <h3 class="box-title">Overall List</h3>
</div>
   <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
    <tbody>
      <% @goal_bunches.each do |goal_bunch| %>
        <tr>
          <th>Self Comment</th>
          <td><%= goal_bunch.appraisee_comment %></td>
        </tr>
        <tr>
          <th>Appraiser Comment</th>
          <td><%= goal_bunch.appraiser_comment %></td>
        </tr>
        <tr>
          <th>Appraiser Rating</th>
          <td><%= goal_bunch.appraiser_comment %></td>
        </tr>
        <tr>
          <th>Reviewer Comment</th>
          <td><%= goal_bunch.review_comment %></td>
        </tr>
        <tr>
          <th>Reviewer Rating</th>
          <td><%= goal_bunch.reviewer_rating_id %></td>
        </tr>
        <tr>
          <th>Final Comment</th>
          <td><%= goal_bunch.final_comment %></td>
        </tr>
        <tr>
          <th>Final Rating</th>
          <td><%= goal_bunch.final_rating_id %></td>
        </tr> 
      <% end %>
    </tbody>
  </table>

<hr>
<%= link_to 'Print PDF', print_final_detail_goal_bunches_path(format: 'pdf',id:@employee.id ),class: 'btn btn-xl btn-warning', :target => '_blank' %><br>
</div>
</div>
<div class="box">
  <div class="box-header">
  </div><!-- /.box-header -->
  <div class="box-body">
  <%= bootstrap_form_for(:goal_bunches, url: { action: 'xl_sheet_print',format: 'xls',id: @employee.id}) do |f| %>

    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Download Excel", class: "btn btn-sm btn-warning" %>
      </div>
    </div>

</div>
</div>
<% end %>