<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:Index="1"><Data ss:Type="String">Sr.No.</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Employee Code</Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String">Period</Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String">Type</Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String">Perspective</Data></Cell> 

        <Cell ss:Index="6"><Data ss:Type="String">Measure</Data></Cell>
        <Cell ss:Index="7"><Data ss:Type="String">Activity</Data></Cell>
        <Cell ss:Index="8"><Data ss:Type="String">Target</Data></Cell>
        <Cell ss:Index="9"><Data ss:Type="String">Weightage</Data></Cell>
        <Cell ss:Index="10"><Data ss:Type="String">Align to supervisor</Data></Cell>
        <Cell ss:Index="11"><Data ss:Type="String">Self Comment</Data></Cell>
        <Cell ss:Index="12"><Data ss:Type="String">Self Rating</Data></Cell>
        <Cell ss:Index="13"><Data ss:Type="String">Appraiser Comment</Data></Cell>
        <Cell ss:Index="14"><Data ss:Type="String">Appraiser Rating</Data></Cell>
        <Cell ss:Index="15"><Data ss:Type="String">Reviewer Comment</Data></Cell>
        <Cell ss:Index="16"><Data ss:Type="String">Goal Rating ID</Data></Cell>
      </Row>

        <% i = 0 %>
        <% @goal_ratings.each do |g|  %>
        <% employee = Employee.find(g.appraisee_id) %>
        <!-- < goal_bunch = GoalBunch.find_by_employee_id(g.employee_id)%> -->
          <Row>
            <Cell ss:Index="1"><Data ss:Type="String"><%= i=i+1 %></Data></Cell>
            <Cell ss:Index="2"><Data ss:Type="String"><%= employee.manual_employee_code %></Data></Cell>
            <Cell ss:Index="3"><Data ss:Type="String"><%= g.period_id %></Data></Cell>
            <Cell ss:Index="4"><Data ss:Type="String"><%= type = g.goal_type %></Data></Cell>
            <% if type == "Goal" %>
            <Cell ss:Index="5"><Data ss:Type="String"><%= g.goal_perspective_id %></Data></Cell>
            <% else %>
            <Cell ss:Index="5"><Data ss:Type="String"><%= g.attribute_master_id %></Data></Cell>
            <% end %>

            <Cell ss:Index="6"><Data ss:Type="String"><%= g.goal_measure %></Data></Cell> 
            <Cell ss:Index="7"><Data ss:Type="String"><%= g.activity %></Data></Cell>
            <Cell ss:Index="8"><Data ss:Type="String"><%= g.target %></Data></Cell>
            <Cell ss:Index="9"><Data ss:Type="String"><%= g.goal_weightage %></Data></Cell>
            <Cell ss:Index="10"><Data ss:Type="String"><%= g.aligned %></Data></Cell>
            <Cell ss:Index="11"><Data ss:Type="String"><%= g.try(:appraisee_comment) %></Data></Cell>
            <Cell ss:Index="12"><Data ss:Type="String"><%= g.try(:appraisee_rating).try(:value) %></Data></Cell>
            <Cell ss:Index="13"><Data ss:Type="String"><%= g.try(:appraiser_comment) %></Data></Cell>
            <Cell ss:Index="14"><Data ss:Type="String"><%= g.try(:appraiser_rating).try(:value) %></Data></Cell>
            <Cell ss:Index="15"><Data ss:Type="String"><%= g.try(:reviewer_comment) %></Data></Cell>
            <Cell ss:Index="16"><Data ss:Type="String"><%= g.try(:id) %></Data></Cell>
          </Row><!-- Row -->
        <% end %><!-- slip -->
      </Table>
  </Worksheet>
</Workbook>
