<div class="modal-dialog" style="height:1000px; max-height:100px; width:900px; max-width:900px;">
  <div class="modal-content">
    <div class="modal-body">
        <div class="box-header with-border">
          <h3 class="box-title">Travel Request</h3>
        </div>
        <div class="box-body">
        <%= bootstrap_form_for :travel_request_history,url:{action:"edit_and_approve_modal_submit", abc: @travel_request.id} do |f| %>

          <!--<= f.hidden_field :employee_id, value: @travel_request.employee_id %>-->
          <%= f.hidden_field :travel_request_id, value: @travel_request.id %>

        <div class="row">

        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :employee_id,label:'Employee Name',value: full_name(@travel_request.employee),readonly: true %>   
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
          <%= f.text_field :reporting_master_id, label:'Request To',value: @travel_request.reporting_master_id,readonly: true %>   
          </div>
        </div>   

          <div class="col-sm-3">
            <div class="field">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <%= f.text_field :application_date, label: "Application Date", class: 'application_date'%>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
              <div class="form-group required">
                <%= f.select :travel_option_id,all_travel_option,{label: "Travel Option",placeholder: 'Travel Option',include_blank: 'Select Travel Option'} %>
              </div>
            </div>  
        </div>


        <div class="row">

       <div class="col-sm-3">
            <div class="form-group required">
              <%= f.select :travel_mode_id,all_travel_mode,{label: "Travel Mode",placeholder: 'Travel mode',include_blank: 'Select Travel mode'} %>
            </div>
          </div>

        <div class="col-sm-3">
            <div class="field">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <%= f.text_field :traveling_date, label: "Traveling Date", class: 'traveling_date'%>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="field">
              <div class="form-group required">
                <%= f.text_field :place, label: 'Place' %>
              </div>
            </div>
          </div>
          
          <div class="col-sm-3">
            <div class="field">
              <%= f.text_field :total_advance, label: 'Total Advance' %>
            </div>
          </div>

        </div>
       
       <div class="row">

       <div class="col-sm-3">
            <div class="field">
              <div class="form-group required">
                <%= f.text_field :tour_purpose, label: 'Tour Purpose' %>
              </div>
            </div>
          </div>

        <div class="col-sm-3" style="padding-top:20px;">
            <div class="actions">
              <%= f.submit "Edit & Approve",:class => class_name, data: { disable_with: data_info }  %>
              <!-- link_to 'Back', travel_request_confirmation_travel_requests_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %> -->
            </div>
          </div>
        </div>

      </div>
      <% end %>
      <script type="text/javascript">
        $(function(){
          $('.application_date').datepicker({
          changeYear:true,
          changeMonth: true,
          yearRange: '-200:-0',
          dateFormat: 'dd-mm-yy' });

          $('.traveling_date').datepicker({
          changeYear:true,
          changeMonth: true,
          yearRange: '-20:+2',
          dateFormat: 'dd-mm-yy' });
          });
      </script>
     </div>
  </div>
</div>
