
<div class="box-body">
<h5 class="box-title"><center>Travel Request</center></h5>
<table id="example" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Travel Request ID</th>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Approver</th>
      <th>Application Date</th>
      <th>Travelling Date</th>
      <th>Place</th>
      <th>Tour Purpose</th>
      <th>Travel Option</th>
      <th>Travel Mode</th>
      <th>Total Advance</th>
    </tr>
  </thead>

  <tbody>
    <% @travel_requests.each do |travel_request| %>
      <tr>
        <td><%= travel_request.id %></td>
        <td><%= travel_request.employee.try(:manual_employee_code) %></td>
        <td><%= travel_request.employee.try(:first_name) %> <%= travel_request.employee.try(:middle_name) %> <%= travel_request.employee.try(:last_name) %></td>
        <td><%= travel_request.reporting_master.try(:employee).try(:first_name) %>
        <%= travel_request.reporting_master.try(:employee).try(:last_name) %>
        <%= travel_request.reporting_master.try(:employee).try(:middle_name) %></td>
        <td><%= travel_request.application_date %></td>
        <td><%= travel_request.traveling_date %></td>
        <td><%= travel_request.place %></td>
        <td><%= travel_request.tour_purpose %></td>
        <td><%= travel_request.travel_option.try(:name) %></td>
        <td><%= travel_request.travel_mode.try(:name) %></td>
        <td><%= travel_request.total_advance %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="box-body">
<h5 class="box-title"><center>Daily Bill Details</center></h5>
<table id="example" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
       <th>Travel Request ID</th>
       <th>Expense Date</th>
       <th>Place</th>
       <th>Expense Type</th>
       <th>Expense Amount</th>
    </tr>
  
  </thead>

  <tbody>
    <% @daily_bill_details.each do |daily_bill_detail| %>
      <tr>
        <td><%= daily_bill_detail.travel_request_id%></td>
        <td><%= daily_bill_detail.expence_date%></td>
        <td><%= daily_bill_detail.e_place %></td>
        <td><%= daily_bill_detail.travel_expence_type.try(:name) %></td>
        <td><%= daily_bill_detail.travel_expence %></td>
      </tr>
    <% end %>
    <tr>
       <th colspan="4">Expense Amount</th>
        <th><%= @daily_bill_details.sum(:travel_expence) %></th>
    </tr>
    <tr>
       <th colspan="4">Total</th>
        <th><%= @travel_expences.try(:remaining_amount) %></th>
    </tr>
  </tbody>
</table>
</div>
<div class="box-body">
<h5 class="box-title"><center>Travel Expences</center></h5>
<table id="example" class="table table-bordered table-hover table-condensed">
  <thead>
     <tr>
          <th>Travel Request ID</th>
          <th>Total Advance Amount</th>
          <th>Total Expense Amount</th>
          <th>Remaining Amount</th>
          <th>Employee Amount</th>
          <th>Company Amount</th>
        </tr>
  
  </thead>

  <tbody>
    <% @travel_expences.each do |travel_expence| %>
      <tr>
            <td><%= travel_expence.travel_request.id %></td>
            <td><%= travel_expence.total_advance_amount %></td>
            <td><%= travel_expence.total_expence_amount %></td>
            <td><%= travel_expence.remaining_amount %></td>
            <td><%= travel_expence.employee_amount %></td>
            <td><%= travel_expence.company_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<!-- <= link_to " Excel Report ",print_travel_request_employee_name_report_travel_requests_path(employee_id: params[:travel_request][:employee_id], format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
 
<= link_to " Print Report ",print_travel_request_employee_name_report_travel_requests_path(employee_id: params[:travel_request][:employee_id],format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %> -->
</div>