<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center>Travel Process Status</center></h4>
    </div>
    <div class="modal-body">

      <table  class="table table-bordered table-hover table-condensed'">
        <thead>
          <tr>
          <th>Sr.No.</th>
          <th>Approver Name</th>
          <th>Request Status</th>
          <th>Claim Status</th>
         </tr>
        </thead>

        <tbody>
          <% i = 0 %>
          <% @reporting_masters_travel_requests.each do |a| %>
            <tr>
              <td><%= i=i+1 %></td>
              <% b=a.reporting_master_id
                  emp=Employee.where(id: b).take %>
              <td><%= emp.try(:first_name)%> <%= emp.try(:middle_name)%> <%= emp.try(:last_name)%></td>
    	        <td><%= a.travel_status %></td>
              
              <td>
                <% if a.status == true %>
                <small class="label label-primary">Confirmed</small>
               <!--  < if @dbl = ReportingMastersTravelRequest.where(travel_request_id: @travel_request.id).pluck(:status).last == true %>
                <small class="label label-danger">Confirmed</small>
                < else %>
                <s end %> -->
                <% elsif a.status == false %>
                <small class="label label-danger">Rejected</small>
                <% else %>
                <% end %>
    	        </td>
            </tr>
            <tr>
            <td></td>
            <td colspan="3"><strong>Comment : </strong><%= a.daily_bill_comment %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <div class="modal-footer"></div>
  </div>
</div>  