<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>  
         <% i = 0 %>
          <% @travel_requests.each do |travel_request| %>
        <Row>
        <Cell ss:Index="1"><Data ss:Type="String">Request ID.</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Employee ID</Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String">First Name</Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String">Middle Name</Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String">Last Name</Data></Cell>
        <Cell ss:Index="6"><Data ss:Type="String">Application Date</Data></Cell>
        <Cell ss:Index="7"><Data ss:Type="String">Traveling Date</Data></Cell>
        <Cell ss:Index="8"><Data ss:Type="String">Approver First Name</Data></Cell>
        <Cell ss:Index="9"><Data ss:Type="String">Approver Middle Name</Data></Cell>
        <Cell ss:Index="10"><Data ss:Type="String">Approver Last Name</Data></Cell>
        <Cell ss:Index="11"><Data ss:Type="String">Place</Data></Cell>
        <Cell ss:Index="12"><Data ss:Type="String">Tour Purpose</Data></Cell>
        <Cell ss:Index="13"><Data ss:Type="String">Travel Option</Data></Cell>
        <Cell ss:Index="14"><Data ss:Type="String">Travel Mode</Data></Cell>
        <Cell ss:Index="15"><Data ss:Type="String">Total Advance</Data></Cell>
        </Row>
          <% @daily_bill_detail = DailyBillDetail.where(travel_request_id: travel_request) %>
          <% @travel_expence = TravelExpence.where(travel_request_id: travel_request) %>
        
          
        <Row>
          <Cell ss:Index="1"><Data ss:Type="String"><%= travel_request.id %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="String"><%= travel_request.employee.try(:manual_employee_code ) %></Data></Cell>
          <Cell ss:Index="3"><Data ss:Type="String"><%= travel_request.employee.try(:first_name ) %></Data></Cell>
          <Cell ss:Index="4"><Data ss:Type="String"><%= travel_request.employee.try(:middle_name ) %></Data></Cell>
          <Cell ss:Index="5"><Data ss:Type="String"><%= travel_request.employee.try(:last_name ) %></Data></Cell>
          <Cell ss:Index="6"><Data ss:Type="String"><%= travel_request.application_date.to_date %></Data></Cell>
          <Cell ss:Index="7"><Data ss:Type="String"><%= travel_request.traveling_date.to_date %></Data></Cell>
          <Cell ss:Index="8"><Data ss:Type="String"><%= travel_request.reporting_master.try(:employee).try(:first_name) %></Data></Cell>
          <Cell ss:Index="9"><Data ss:Type="String"><%= travel_request.reporting_master.try(:employee).try(:middle_name ) %></Data></Cell>
          <Cell ss:Index="10"><Data ss:Type="String"><%= travel_request.reporting_master.try(:employee).try(:last_name ) %></Data></Cell>
          <Cell ss:Index="11"><Data ss:Type="String"><%= travel_request.place %></Data></Cell>
          <Cell ss:Index="12"><Data ss:Type="String"><%= travel_request.tour_purpose %></Data></Cell>
          <Cell ss:Index="13"><Data ss:Type="String"><%= travel_request.try(:travel_option).try(:name) %></Data></Cell>
          <Cell ss:Index="14"><Data ss:Type="String"><%= travel_request.travel_mode.try(:name) %></Data></Cell>
          <Cell ss:Index="15"><Data ss:Type="Number"><%= travel_request.total_advance %></Data></Cell>
          </Row>
        <Row>
        <Cell ss:Index="1"><Data ss:Type="String">Expense Date</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Expense Type</Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String">Expense Amount</Data></Cell>
        </Row>
          <% @daily_bill_detail.each do |daily_bill_detail| %>
          <Row>
          <Cell ss:Index="1"><Data ss:Type="String"><%= daily_bill_detail.try(:travel_option).try(:expence_date) %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="String"><%= daily_bill_detail.travel_expence_type.try(:name) %></Data></Cell>
          <Cell ss:Index="3"><Data ss:Type="Number"><%= daily_bill_detail.travel_expence %></Data></Cell>
          </Row>
          <% @travel_expence.each do |travel_expence| %>
           <Row>
        <Cell ss:Index="1"><Data ss:Type="String">Total Advance Amount</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Total Expense Amount</Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String">Company Amount</Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String">Employee Amount</Data></Cell>
      </Row>
          <Row>
          <Cell ss:Index="1"><Data ss:Type="Number"><%= travel_expence.total_advance_amount %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="Number"><%= travel_expence.total_expence_amount %></Data></Cell>
          <Cell ss:Index="3"><Data ss:Type="Number"><%= travel_expence.company_amount %></Data></Cell>
          <Cell ss:Index="4"><Data ss:Type="Number"><%= travel_expence.employee_amount %></Data></Cell>
          </Row><!-- Row -->
      <% end %>
      <% end %>
       <% end %><!-- slip -->
       <Row>
          <Cell ss:Index="1"><Data ss:Type="String"> </Data></Cell>
       </Row>
    </Table>
  </Worksheet>
</Workbook>