<div class="box box-default">
  <div class="box-header with-border">
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
     <tr><td colspan="4"><font color='label-primary'><center>Travel Request Detail of <%= @travel_request.employee.try(:manual_employee_code) %> - <%= full_name(@travel_request.employee) %></center></font></td></tr>

    <tr>
      <th><strong>Traveling Request ID</strong></th>
      <td><%= @travel_request.id %></td>

      <th><strong>Application Date</strong></th>
      <td><%= @travel_request.application_date %></td>
    </tr>

    <tr>
      <th><strong>Department</strong></th>
      <td><%= @travel_request.employee.company_location.try(:name) %> - <%= @travel_request.employee.department.try(:name) %></td>

      <th><strong>Manager</strong></th>
     <td><% emp=Employee.where(id: @travel_request.reporting_master_id).take %>
      <%= emp.try(:first_name) %> <%= emp.try(:middle_name) %> <%= emp.try(:last_name) %> </td>
    </tr>

    <tr>
      <th><strong>Traveling Option</strong></th>
      <td><%= @travel_request.travel_option.try(:name) %></td>

      <th><strong>Travel Mode</strong></th>
      <td><%= @travel_request.travel_mode.try(:name) %></td>
    </tr>

    <tr>
      <th><strong>Project</strong></th>
      <td><%= @travel_request.project_master.try(:name) %></td>

      <th><strong>Place</strong></th>
      <td><%= @travel_request.place %></td>

    </tr>

    <tr>
      <th><strong>From Date</strong></th>
      <td><%= @travel_request.traveling_date %></td>

      <th><strong>To Date</strong></th>
      <td><%= @travel_request.to %></td>
  
    </tr>

    <tr>
      <th><strong>From Time</strong></th>
      <td><%= @travel_request.from_time %></td>
      
      <th><strong>To Time</strong></th>
      <td><%= @travel_request.to_time %></td>
    </tr>

    <tr>
      <th><strong>Day</strong></th>
      <td><%= @travel_request.day %></td>
      
      <th><strong>Advance</strong></th>
      <td><%= @travel_request.total_advance %></td>
    </tr>
    <tr>
      <th><strong>Current Status</strong></th>
      <td>
        <% @travel_request.reporting_masters_travel_requests.try(:each) do |rmt| %>
          <% case rmt.travel_status %>
          <% when "Pending" %>
            <small class="label label-default">Pending</small>
          <% when "FirstApproved" %>
            <small class="label label-warning">FirstApproved</small>
          <% when "Approved" %>
            <small class="label label-primary">Approved</small>
          <% when "FinalApproved" %>
            <small class="label label-success">FinalApproved</small>
          <% when "Approved & Send Next" %>
            <small class="label label-info">Approved & Send Next</small>
          <% when "Rejected" %>
            <small class="label label-danger">Rejected</small>
          <% when "Cancelled" %>
            <small class="label label-danger">Cancelled</small>
          <% end %>
        <% end %>
      </td>

      <th><strong>Tour Purpose</strong></th>
      <td><%= @travel_request.tour_purpose %></td>
    </tr>

  </table><br>

  <table  class="table table-bordered table-hover table-condensed'">
      <thead>
        <tr>
          <td colspan="4"><center><font color='label-primary'>Travel Request Process</font></center></td>
        </tr>
        <tr>
          <th>Sr.No.</th>
          <th>Process By</th>
          <th>Request Status</th>
          <th>Claim Status</th>
        </tr>
      </thead>

      <tbody>
        <% i = 0 %>
        <% @reporting_masters_travel_requests.each do |a| %>
          <tr>
            <td><%= i=i+1 %></td>
            <% b=a.reporting_master_id
                emp=Employee.where(id: b).take %>
            <td><%= emp.try(:prefix)%>  <%= emp.try(:first_name)%> <%= emp.try(:middle_name)%> <%= emp.try(:last_name)%></td>
            <td>
              <% case a.travel_status %>
                <% when "Pending" %>
                  <small class="label label-default">Pending</small>
                <% when "FirstApproved" %>
                  <small class="label label-warning">FirstApproved</small>
                <% when "Approved" %>
                  <small class="label label-primary">Approved</small>
                <% when "FinalApproved" %>
                  <small class="label label-success">FinalApproved</small>
                <% when "Approved & Send Next" %>
                  <small class="label label-info">Approved & Send Next</small>
                <% when "Rejected" %>
                  <small class="label label-danger">Rejected</small>
                <% when "Cancelled" %>
                  <small class="label label-danger">Cancelled</small>
                <% end %>
            </td>
            <td>
               <% if a.status == true %>
               <small class="label label-primary">Confirmed & Send Next</small>
               <% else %>
               <% end %>
          </td>
          </tr>
          <tr>
          <td></td>
          <td colspan="3"><strong>Comment : </strong><%= a.daily_bill_comment %></td>
          </tr>
        <% end %>
      </tbody>
</table><br>
    <!-- <= link_to 'Edit', edit_travel_request_path(@travel_request),class: 'btn btn-success btn-sm fa fa-edit' %> | -->
    <% if @travel_request.employee_id == current_user.employee_id %>
      <%= link_to 'Back', travel_request_self_services_path,class: 'btn btn-default btn-sm fa fa-arrow-left'  %>
    <% else %>
      <%= link_to 'Back', travel_requests_path,class: 'btn btn-default btn-sm fa fa-arrow-left'  %>
    <% end %>
    </div>
  </div>