<div class="box box-default">
  <div class="box-header with-border">
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <tr>
      <td colspan="4"><center>Travel Request Detail</center></td>
    </tr>
    <tr>
      <th><strong>Traveling Request ID</strong></th>
      <td><%= @travel_request.id %></td>

      <th><strong>Application Date</strong></th>
      <td><%= @travel_request.application_date %></td>
    </tr>

    <tr>
      <th><strong>Employee ID</strong></th>
      <td><%= @travel_request.employee.try(:manual_employee_code) %></td>

      <th><strong>Employee Name</strong></th>
      <td><%= @travel_request.employee.try(:first_name) %> <%= @travel_request.employee.try(:middle_name) %> <%= @travel_request.employee.try(:last_name) %></td>
    </tr>

    <tr>
      <th><strong>Department</strong></th>
      <td><%= @travel_request.employee.company_location.try(:name) %> - <%= @travel_request.employee.department.try(:name) %></td>

      <th><strong>Manager</strong></th>
     <td><% emp=Employee.where(id: @travel_request.reporting_master_id).take %>
      <%= emp.try(:first_name) %> <%= emp.try(:middle_name) %> <%= emp.try(:last_name) %> </td>
    </tr>

    <tr>
      <th><strong>Traveling Option</strong></th>
      <td><%= @travel_request.travel_option.try(:name) %></td>

      <th><strong>Travel Mode</strong></th>
      <td><%= @travel_request.travel_mode.try(:name) %></td>
    </tr>

    <tr>
      <th><strong>Place</strong></th>
      <td><%= @travel_request.place %></td>

      <th><strong>From Date</strong></th>
      <td><%= @travel_request.traveling_date %></td>
    </tr>

    <tr>
      <th><strong>To Date</strong></th>
      <td><%= @travel_request.to %></td>
  
      <th><strong>Day</strong></th>
      <td><%= @travel_request.day %></td>
      
    </tr>

      <tr>
      <th><strong>Advance</strong></th>
      <td><%= @travel_request.total_advance %></td>

      <th><strong>Current Status</strong></th>
      <td><%= @travel_request.current_status %></td>
    </tr>

    <tr>
      <th><strong>Tour Purpose</strong></th>
      <td colspan="3"><%= @travel_request.tour_purpose %></td>
    </tr>

  </table><br>

  <table  class="table table-bordered table-hover table-condensed'">
      <thead>
        <tr>
          <td colspan="4"><center>Travel Request Process</center></td>
        </tr>
        <tr>
          <th>Sr.No</th>
          <th>Process By</th>
          <th>Request Status</th>
          <th>Claim Status</th>
        </tr>
      </thead>

      <tbody>
        <% i = 0 %>
        <% @reporting_masters_travel_requests.each do |a| %>
          <tr>
            <td><%= i=i+1 %></td>
            <% b=a.reporting_master_id
                emp=Employee.where(id: b).take %>
            <td><%= emp.try(:prefix)%>  <%= emp.try(:first_name)%> <%= emp.try(:middle_name)%> <%= emp.try(:last_name)%></td>
            <td><%= a.travel_status %></td>
            <td>
               <% if a.status == true %>
               <small class="label label-primary">Confirmed & Send Next</small>
               <% else %>
               <% end %>
          </td>
          </tr>
          <tr>
          <td></td>
          <td colspan="3"><strong>Comment : </strong><%= a.daily_bill_comment %></td>
          </tr>
        <% end %>
      </tbody>
</table><br>
    <!-- <= link_to 'Edit', edit_travel_request_path(@travel_request),class: 'btn btn-success btn-sm fa fa-edit' %> | -->
    <%= link_to 'Back', travel_requests_path,class: 'btn btn-default btn-sm fa fa-arrow-left'  %>
    </div>
  </div>