<div class="box">
  <div class="box-header">
    <h3 class="box-title">Travel Request Approval<h3>
    <div class="pull-right">
    </div>
    </div>

<div class="box-body">

<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Employee Name</th>
      <th>Date</th>
      <th>Place</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @travel_requests.each do |travel_request| %>
      <tr>
        <td><%= travel_request.employee.try(:manual_employee_code) %></td>
        <td><%= full_name(travel_request.employee) %></td>
        <td><%= travel_request.try(:traveling_date) %> - <%= travel_request.try(:to) %></td>
        <td><%= travel_request.place %></td>
       <td>
         <% if travel_request.current_status == "Pending" %>
         <%= link_to 'Approve', travel_request_confirmation_travel_requests_path(travel_request),class: 'btn btn-xs btn-primary' %>
         <% elsif travel_request.current_status == "Approved & Send Next" %>
         <%= link_to 'Approve', travel_request_confirmation_travel_requests_path(travel_request),class: 'btn btn-xs btn-primary' %>
         <% elsif travel_request.current_status == "Edit And Approved" %>
         <small class="label label-success">Edit And Approved</small>
         <% elsif travel_request.current_status == "Approved" %>
         <small class="label label-primary">Approved</small>
         <% elsif travel_request.current_status == "FirstApproved" %>
         <small class="label label-info">FirstApproved</small>
         <%= link_to 'Approve', travel_request_confirmation_travel_requests_path(travel_request),class: 'btn btn-xs btn-primary' %>
         <% elsif travel_request.current_status == "Rejected" %>
         <small class="label label-primary">Rejected</small>
         <% else %>
         <%= link_to 'Approve', travel_request_confirmation_travel_requests_path(travel_request),class: 'btn btn-xs btn-primary' %>
        <%= link_to '', travel_request,class: 'btn btn-xs btn-default fa fa-eye' %>
        <% end %>
      </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>

