<div class="box">
  <div class="box-header">
    <h3 class="box-title">Travel Approval/Reject<h3>
    <div class="pull-right">
    </div>
    </div>

<div class="box-body">

<table id="example" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Employee Name</th>
      <th>Request To</th>
      <th>From Date</th>
      <th>Place</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @travel_requests.each do |travel_request| %>
      <tr>
        <td><%= travel_request.employee.try(:manual_employee_code) %></td>
        <td><%= travel_request.employee.try(:first_name) %> <%= travel_request.employee.try(:middle_name) %> <%= travel_request.employee.try(:last_name) %></td>
        <td><%= travel_request.try(:reporting_master).try(:employee).try(:first_name) %> <%= travel_request.try(:reporting_master).try(:employee).try(:middle_name) %> <%= travel_request.try(:reporting_master).try(:employee).try(:last_name) %></td>
        <td><%= travel_request.traveling_date %></td>
        <td><%= travel_request.place %></td>
        <td>
            <% if travel_request.current_status == "Pending" %>
              <small class="label label-primary">Pending</small>
            <% elsif travel_request.current_status == "Approved & Send Next" %>
              <small class="label label-primary">Approved & Send Next</small>
            <% elsif travel_request.current_status == "Edit & Send Next" %>
              <small class="label label-primary">Edit & Send Next</small>
            <% elsif travel_request.current_status == "Approved" %>
              <small class="label label-primary">Approved</small>
            <% elsif travel_request.current_status == "Edit & Approved" %>
              <small class="label label-primary">Edit & Approved</small>
            <% else %>
              <small class="label label-primary">Rejected</small>
            <% end %>
        </td>
        <td>
          <% if travel_request.current_status == "Approved" or travel_request.current_status == "Reject" or travel_request.current_status == "Edit & Approved" %>
          <% else %>
          <%= link_to 'Approve / Reject',travel_request_confirmation_travel_requests_path(travel_request),class: 'btn btn-sm btn-warning' %>
          <% end %>
          <%= link_to '', travel_request,class: 'btn btn-xs btn-default fa fa-eye' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>

