<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4>Interview schedule information</h4>  
     <p>
    	<% employee1 = Employee.find_by(id: @candidate_interview_schedule.interviewer_id) %>
      Dear <b><%= employee1.try(:first_name) %> <%= employee1.try(:middle_name) %> <%= employee1.try(:last_name) %></b> ,
     </p>
     <p>
     	This is to inform you that interview of candidate <b><%= @candidate_interview_schedule.candidate_form.try(:name) %></b> is scheduled to date <b><%= @candidate_interview_schedule.date %></b> at <b><%= @candidate_interview_schedule.time %></b>
     </p>

     <p>
     	For the position of <b><%=  @candidate_interview_schedule.candidate_form.vacancy_request.vacancy %></b> and type of interview is <b><%= @candidate_interview_schedule.interview_type_master.try(:name) %></b> in our company office . 
     </p><br>
      <p><b>
        Warm Regards .
     </p></b>
       </body>
</html>