<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Family Details</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->


<div class="box-body">
<%= bootstrap_form_for(@family,html: {id: 'family'},remote:true) do |f| %>
<%= f.hidden_field :employee_id, value: @employee.id %>
  <div class="row">
      <div class="col-sm-3">
        <div class="form-group required">
          <%= f.text_field :relation %>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group required">
         <%= f.text_field :f_name,label: 'First Name' %>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :m_name,label: 'Middle Name' %>
        </div>
    </div>
     <div class="col-sm-3">
        <div class="form-group required">
        <%= f.text_field :l_name,label: 'Last Name' %>
        </div>
    </div>
</div>

<div class="row">
     <div class="col-sm-3">
         <div class="form-group required">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :date_of_birth,label: 'Birth Date', class: 'family_birth_date' %>
          </div>
         </div>
        </div>
      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :age %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :contact_no %>
        </div>
     </div>
     <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :email %>
        </div>
    </div>
</div>
<div class="row">
   
      <div class="col-sm-9">
        <div class="field">
         <%= f.text_field :current_address %>
        </div>
    </div>

    <div class="col-sm-3">
        <div class="field">
        <%= f.select :blood_group, all_blood_group %>
        </div>
      </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :adhar_no %>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :pan_no,label:"Pan Card No" %>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="field">
        <%= f.select :marital, ['Married','UnMarried'] %>
        </div>
    </div>

      <div class="col-sm-3">
        <div class="field">
          <%= f.select :medical_claim, ['Yes','No'] %>
        </div>
      </div>
</div>

<div class="row">  
      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :religion %>
        </div>
      </div>
 
      <div class="col-sm-3">
        <div class="field">
        <%= f.select :is_handicap, ['Yes','No'],label:"Handicap"%>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :handicap_type %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :profession %>
        </div>
      </div>
</div>
<div class="row">
    <div class="col-sm-3">
      <div class="field">
        <%= f.select :have_passport, ['Yes','No'],{include_blank: "Please Select"},{onchange:"var a={id:$(this).val()}; $.get('/joining_details/ajax_show_textbox',a,function(response){});"} %>
      </div>
    </div>

     <div class="col-sm-3">
        <div class="field">
        <%= f.text_field :passport_no %>
       </div>
      </div>
      <div class="col-sm-3">
        <div class="field">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :passport_issue_date, class: 'family_passport_issue_date'%>
          </div>
        </div>
        </div>
        <div class="col-sm-3">
        <div class="field">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :passport_expiry_date, class: 'family_passport_expiry_date'%>
          </div>
        </div>
        </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="actions">
            <%= f.submit :class => class_name, data: { disable_with: data_info } %>
        </div>
    </div>
  </div>
<% end %>
</div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
</div><!-- /.box -->
<script type="text/javascript">
  $(function(){
    $('.family_birth_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });

    $('.family_passport_issue_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });

    $('.family_passport_expiry_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-100:-20',
    dateFormat: 'dd-mm-yy' });


  }); 
</script>
