<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Details</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
   <table id="example2" class="table table-bordered table-hover">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>
<tr>
  <th><strong>Employee:</strong></th>

  <td><%= @family.employee.first_name %></td>


  <th><strong>No of member:</strong></th>
  <td><%= @family.no_of_member %></td>
</tr>

<tr>
  <th><strong>F name:</strong></th>
  <td><%= @family.f_name %></td>
  <th></th>
  <td></td>
</tr>

<tr>
  <th><strong>M name:</strong></th>
  <td><%= @family.m_name %></td>

  <th><strong>L name:</strong></th>
  <td><%= @family.l_name %></td>
</tr>

<tr>
  <th> <strong>Date of birth:</strong></th>
  <td><%= @family.date_of_birth %></td>

  <th><strong>Age:</strong></th>
  <td><%= @family.age %></td>
</tr>

<tr>
  <th> <strong>Contact no:</strong></th>
  <td><%= @family.contact_no %></td>

  <th> <strong>Email:</strong></th>
  <td><%= @family.email %></td>
<tr>
 
  <th> <strong>Relation:</strong></th>
  <td><%= @family.relation %></td>
</tr>

<tr>
  <th><strong>Adhar no:</strong></th>
  <td> <%= @family.adhar_no %></td>

  <th> <strong>Pan no:</strong></th>
  <td><%= @family.pan_no %></td>
</tr>

<tr>
  <th><strong>Passport no:</strong></th>
  <td><%= @family.passport_no %></td>

  <th><strong>Medical claim:</strong></th>
  <td><%= @family.medical_claim %></td>
</tr>


<tr>
  <th><strong>Marital:</strong></th>
  <td><%= @family.marital %></td>

  <th> <strong>Blood group:</strong></th>
  <td><%= @family.blood_group %></td>
</tr>

<tr>
  <th> <strong>Religion:</strong></th>
  <td><%= @family.religion %></td>

  <th><strong>Handicap:</strong></th>
  <td><%= @family.handicap_type %></td>
</tr>

<tr>
  <th> <strong>Profession:</strong></th>
  <td>  <%= @family.profession %></td>

  <th></th>
  <td></td>
</tr>
</table>
  <div class="box-footer">
    Visit <a href="https://indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
  </div><!-- /.box -->
</div>