<table id="example2" class="table table-bordered table-hover">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>
<tr>
  <th><strong>Employee:</strong></th>
  <td><%= @family.employee %></td>

  <th><strong>No of member:</strong></th>
  <td><%= @family.no_of_member %></td>
</tr>

<tr>
  <th><strong>F name:</strong></th>
  <td><%= @family.f_name %></td>

  <th><strong>M name:</strong></th>
  <td><%= @family.m_name %></td>
</tr>

<tr>
  <th><strong>M name:</strong></th>
  <td><%= @family.m_name %></td>

  <th><strong>L name:</strong></th>
  <td><%= @family.l_name %></td>
</tr>

<tr>
  <th> <strong>Date of birth:</strong></th>
  <td><%= @family.date_of_birth %></td>

  <th><strong>Age:</strong></th>
  <td><%= @family.age %></td>
</tr>

<tr>
  <th> <strong>Contact no:</strong></th>
  <td><%= @family.contact_no %></td>

  <th><strong>Phone no:</strong></th>
  <td><%= @family.phone_no %></td>
</tr>


<tr>
  <th> <strong>Email:</strong></th>
  <td><%= @family.email %></td>

  <th><strong>Permanent address:</strong></th>
  <td><%= @family.permanent_address %></td>
</tr>


<tr>
  <th><strong>City:</strong></th>
  <td> <%= @family.city %></td>

  <th> <strong>Dist:</strong></th>
  <td><%= @family.dist %></td>
</tr>


<tr>
  <th><strong>State:</strong></th>
  <td><%= @family.state %></td>

  <th> <strong>Pin code:</strong></th>
  <td><%= @family.pin_code %></td>
</tr>

<tr>
  <th><strong>Current address:</strong></th>
  <td> <%= @family.current_address %></td>

  <th> <strong>Relation:</strong></th>
  <td><%= @family.relation %></td>
</tr>

<tr>
  <th><strong>Adhar no:</strong></th>
  <td> <%= @family.adhar_no %></td>

  <th> <strong>Pan no:</strong></th>
  <td><%= @family.pan_no %></td>
</tr>

<tr>
  <th><strong>Passport no:</strong></th>
  <td><%= @family.passport_no %></td>

  <th><strong>Medical claim:</strong></th>
  <td><%= @family.medical_claim %></td>
</tr>


<tr>
  <th><strong>Marital:</strong></th>
  <td><%= @family.marital %></td>

  <th><strong>Status:</strong></th>
  <td><%= @family.status %></td>
</tr>


<tr>
  <th><strong>Nationality:</strong></th>
  <td><%= @family.nationality %></td>

  <th> <strong>Blood group:</strong></th>
  <td><%= @family.blood_group %></td>
</tr>

<tr>
  <th> <strong>Religion:</strong></th>
  <td><%= @family.religion %></td>

  <th><strong>Phandicap:</strong></th>
  <td><%= @family.phandicap %></td>
</tr>

<tr>
  <th> <strong>Profession:</strong></th>
  <td>  <%= @family.profession %></td>

  <th></th>
  <td></td>
</tr>


</table>