<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Details</h3>
    <div class="box-tools pull-right">
      <%= link_to "Add Family Member", ajax_new_family_employees_path(id: @employee.id), class: 'btn btn-primary',remote:true %>
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
   <table id="example2" class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Contact no</th>
        <th>Relation</th>
        <th>Profession</th>
        <th>Blood group</th>
        <th>Action</th>
      </tr>
    </thead>
  <tbody>
    <% @families.each do |family| %>
      <tr>
        <td><%= family.f_name %></td>
        <td><%= family.date_of_birth %></td>
        <td><%= family.contact_no %></td>
        <td><%= family.relation %></td>
        <td><%= family.profession %></td>
        <td><%= family.blood_group %></td>
        <td>
            <%= link_to '', family,class: 'btn btn-default fa fa-eye',remote: true %>
            <%= link_to '', edit_family_path(family),class: 'btn btn-success fa fa-edit',remote: true %>
            
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div><!-- /.box -->
</div>