<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:Index="1"><Data ss:Type="String">Sr.No.</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Employee Code</Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String">Relation</Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String">First Name</Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String">Middle Name</Data></Cell>
        <Cell ss:Index="6"><Data ss:Type="String">Last Name</Data></Cell>
        <Cell ss:Index="7"><Data ss:Type="String">Date Of Birth</Data></Cell>
        <Cell ss:Index="8"><Data ss:Type="String">Age</Data></Cell>
        <Cell ss:Index="9"><Data ss:Type="String">Contact No</Data></Cell>
        <Cell ss:Index="10"><Data ss:Type="String">Email</Data></Cell>
        <Cell ss:Index="11"><Data ss:Type="String">Current Address</Data></Cell>
        <Cell ss:Index="12"><Data ss:Type="String">Gender</Data></Cell>
        <Cell ss:Index="13"><Data ss:Type="String">Blood Group</Data></Cell>
        <Cell ss:Index="14"><Data ss:Type="String">Aadhaar Card No</Data></Cell>
        <Cell ss:Index="15"><Data ss:Type="String">PAN Card No</Data></Cell>
        <Cell ss:Index="16"><Data ss:Type="String">Marital Status</Data></Cell>
        <Cell ss:Index="17"><Data ss:Type="String">Medical Insurance</Data></Cell>
        <Cell ss:Index="18"><Data ss:Type="String">Profession</Data></Cell>
        <Cell ss:Index="19"><Data ss:Type="String">Passport No</Data></Cell>
        <Cell ss:Index="20"><Data ss:Type="String">Passport Issue Date</Data></Cell>
        <Cell ss:Index="21"><Data ss:Type="String">Passport Expiry Date</Data></Cell>
        <Cell ss:Index="22"><Data ss:Type="String">Religion</Data></Cell>
        <Cell ss:Index="23"><Data ss:Type="String">Differently Abled</Data></Cell>
        <Cell ss:Index="24"><Data ss:Type="String">Disability Type</Data></Cell>
      </Row>

        <% i = 0 %>
         <% @families.each do |family| %>
        <Row>
        <Cell ss:Index="1"><Data ss:Type="String"><%= i = i + 1 %></Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String"><%= family.employee.try(:manual_employee_code) %></Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String"><%= family.relation_master.try(:name) %></Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String"><%= family.f_name %></Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String"><%= family.m_name %></Data></Cell>
        <Cell ss:Index="6"><Data ss:Type="String"><%= family.l_name %></Data></Cell>
        <Cell ss:Index="7"><Data ss:Type="String"><%= family.date_of_birth %></Data></Cell>
         <Cell ss:Index="8"><Data ss:Type="String"><%= family.age %></Data></Cell>
        <Cell ss:Index="9"><Data ss:Type="String"><%= family.contact_no %></Data></Cell>
         <Cell ss:Index="10"><Data ss:Type="String"><%= family.email %></Data></Cell>
        <Cell ss:Index="11"><Data ss:Type="String"><%= family.current_address %></Data></Cell>
        <Cell ss:Index="12"><Data ss:Type="String"><%= family.gender %></Data></Cell>
        <Cell ss:Index="13"><Data ss:Type="String"><%= family.blood_group.try(:name) %></Data></Cell>
        <Cell ss:Index="14"><Data ss:Type="String"><%= family.adhar_no %></Data></Cell>
        <Cell ss:Index="15"><Data ss:Type="String"><%= family.pan_no %></Data></Cell>
        <Cell ss:Index="16"><Data ss:Type="String"><%= family.marital %></Data></Cell>
        <Cell ss:Index="17"><Data ss:Type="String"><%= family.medical_claim %></Data></Cell>
        <Cell ss:Index="18"><Data ss:Type="String"><%= family.profession %></Data></Cell>
        <Cell ss:Index="19"><Data ss:Type="String"><%= family.passport_no %></Data></Cell>
        <Cell ss:Index="20"><Data ss:Type="String"><%= family.passport_issue_date %></Data></Cell>
        <Cell ss:Index="21"><Data ss:Type="String"><%= family.passport_expiry_date %></Data></Cell>
        <Cell ss:Index="22"><Data ss:Type="String"><%= family.religion.try(:name) %></Data></Cell>
        <Cell ss:Index="23"><Data ss:Type="String"><%= family.is_handicap %></Data></Cell>
        <Cell ss:Index="24"><Data ss:Type="String"><%= family.handicap_type %></Data></Cell>
          </Row><!-- Row -->
      <% end %><!-- slip -->
    </Table>
  </Worksheet>
</Workbook>