<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @family.employee %>
</p>

<p>
  <strong>No of member:</strong>
  <%= @family.no_of_member %>
</p>

<p>
  <strong>F name:</strong>
  <%= @family.f_name %>
</p>

<p>
  <strong>M name:</strong>
  <%= @family.m_name %>
</p>

<p>
  <strong>M name:</strong>
  <%= @family.m_name %>
</p>

<p>
  <strong>L name:</strong>
  <%= @family.l_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @family.date_of_birth %>
</p>

<p>
  <strong>Age:</strong>
  <%= @family.age %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @family.contact_no %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @family.phone_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @family.email %>
</p>

<p>
  <strong>Permanent address:</strong>
  <%= @family.permanent_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @family.city %>
</p>

<p>
  <strong>Dist:</strong>
  <%= @family.dist %>
</p>

<p>
  <strong>State:</strong>
  <%= @family.state %>
</p>

<p>
  <strong>Pin code:</strong>
  <%= @family.pin_code %>
</p>

<p>
  <strong>Current address:</strong>
  <%= @family.current_address %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @family.relation %>
</p>

<p>
  <strong>Adhar no:</strong>
  <%= @family.adhar_no %>
</p>

<p>
  <strong>Pan no:</strong>
  <%= @family.pan_no %>
</p>

<p>
  <strong>Passport no:</strong>
  <%= @family.passport_no %>
</p>

<p>
  <strong>Medical claim:</strong>
  <%= @family.medical_claim %>
</p>

<p>
  <strong>Marital:</strong>
  <%= @family.marital %>
</p>

<p>
  <strong>Status:</strong>
  <%= @family.status %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @family.nationality %>
</p>

<p>
  <strong>Blood group:</strong>
  <%= @family.blood_group %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @family.religion %>
</p>

<p>
  <strong>Phandicap:</strong>
  <%= @family.phandicap %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @family.profession %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
