<%= form_for(@exit_interview) do |f| %>
  <% if @exit_interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exit_interview.errors.count, "error") %> prohibited this exit_interview from being saved:</h2>

      <ul>
      <% @exit_interview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :question_master_id %><br>
    <%= f.text_field :question_master_id %>
  </div>
  <div class="field">
    <%= f.label :answer %><br>
    <%= f.text_area :answer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
