
 <style type="text/css">
    th { text-align: left; }
    tr { page-break-inside: avoid; }
    div.alwaysbreak { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak{ page-break-inside: avoid;}
</style>

<table style="border-collapse: collapse; font-size:9pt;" border=1 width=1200 cellpadding="10">
<thead>
<tr><td colspan="2">
<% if @exit_interview.try(:employee).try(:company_location).try(:company).try(:company_logo) == nil %>
      <% else %>
        <center> <%= wicked_pdf_image_tag @exit_interview.try(:employee).try(:company_location).try(:company).try(:company_logo).url, :size => "90x50" %></center>
        <%end%><br>

    <center><strong> <%= @exit_interview.try(:employee).try(:company_location).try(:company).try(:description) %></strong><br><%= @exit_interview.try(:employee).try(:company_location).try(:address) %>, <%= @exit_interview.try(:employee).try(:company_location).try(:name) %> <br> Exit Interview of ID : <%= @exit_interview.try(:employee).try(:manual_employee_code) %><%= full_name(@exit_interview.try(:employee)) %></strong></center></td></tr>
  
    <tr> 
      <th>Sr. No.</th>
    	<th>Question</th>
    </tr>
  </thead>
  <tbody>
   <% i = 0 %>
    <% @exit_interviews.each do |exit_interview| %>
      <tr>
       
        <td><%= i = i+1 %></td>
         <td><strong><%= exit_interview.question_master.name %><br>
        Answer : </strong>
        <%= exit_interview.answer %></td>
      </tr>
    <% end %>
  </tbody>
</table>
