<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @exit_interview.employee %>
</p>

<p>
  <strong>Question master:</strong>
  <%= @exit_interview.question_master %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @exit_interview.answer %>
</p>

<%= link_to 'Edit', edit_exit_interview_path(@exit_interview) %> |
<%= link_to 'Back', exit_interviews_path %>
