<%= bootstrap_form_for(@other_salary_component,html: {id: 'nationality'},remote:true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code,hide_label:true, placeholder: 'Code' %>
      </div>
    </div>
      <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,hide_label:true, placeholder: 'Name' %>
      </div>
    </div>
      <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :description,hide_label:true, placeholder: 'Description' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit :class => class_name%>
      </div>
    </div>
  </div>
<% end %>