<p id="notice"><%= notice %></p>

<h1>Listing Other Salary Components</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Is deducted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @other_salary_components.each do |other_salary_component| %>
      <tr>
        <td><%= other_salary_component.code %></td>
        <td><%= other_salary_component.name %></td>
        <td><%= other_salary_component.description %></td>
        <td><%= other_salary_component.is_deducted %></td>
        <td><%= link_to 'Show', other_salary_component %></td>
        <td><%= link_to 'Edit', edit_other_salary_component_path(other_salary_component) %></td>
        <td><%= link_to 'Destroy', other_salary_component, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Other salary component', new_other_salary_component_path %>
