<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @overtime_month_record.employee %>
</p>

<p>
  <strong>Overtime data:</strong>
  <%= @overtime_month_record.overtime_data %>
</p>

<p>
  <strong>Attendance bonus amount:</strong>
  <%= @overtime_month_record.attendance_bonus_amount %>
</p>

<p>
  <strong>Paid holiday amount:</strong>
  <%= @overtime_month_record.paid_holiday_amount %>
</p>

<%= link_to 'Edit', edit_overtime_month_record_path(@overtime_month_record) %> |
<%= link_to 'Back', overtime_month_records_path %>
