<%= form_for(@shift_rotation) do |f| %>
  <% if @shift_rotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shift_rotation.errors.count, "error") %> prohibited this shift_rotation from being saved:</h2>

      <ul>
      <% @shift_rotation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :company_shift_id %><br>
    <%= f.text_field :company_shift_id %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
