<%= bootstrap_form_for(@employee_task_to_do,remote: true,html: {id: "employee_task_to_do"}) do |f| %>
  <%= f.hidden_field :employee_id, value: current_user.employee_id%>


    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :task_name,hide_label: true,placeholder: 'Task Name' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :task_date, hide_label: true, class: 'birth_date',placeholder: 'Task Date' %>
        </div>
      </div>
    </div>


    <div class="col-sm-2">
      <div class="field">
        <div class="bootstrap-timepicker">
          <div class="form-group">
            <!-- <label>Time picker:</label> -->
            <div class="input-group">
              <!-- <input type="text" class="form-control timepicker"> -->
              <div class="input-group-addon">
                <i class="fa fa-clock-o"></i>
              </div>
              <!-- <= f.text_field :task_time,hide_label: true, class: "timepicker", placeholder: 'Time'%> -->
              <%= f.text_field :task_time1,hide_label: true, class: 'birth_date', placeholder: 'Time'%>
            </div><!-- /.input group -->
          </div><!-- /.form group -->
        </div>
      </div>
    </div>
    <div class="col-sm-1">
      <div class="field">
        <%= f.check_box :status ,label: "Active" %>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="actions">
        <%= f.submit "Create Task", class:'btn btn-primary btn-sm' %>
      </div>
    </div>
<% end %>
<script type="text/javascript">
 $("#employee_task_to_do").validate({
    rules: {
      "employee_task_to_do[task_name]":{
        required: true
      }
    },
    messages: {
      "employee_task_to_do[task_name]":{
        required: "Please Specify Task Name"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });

  $(function(){
    $('.birth_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:+1',
    dateFormat: 'dd-mm-yy' });

    //Timepicker
    $(".timepicker").timepicker({
      showInputs: false
    });
  }); 
</script>