<ul class="todo-list">
<% @employee_task_to_dos.each do |e| %>
  <li>
    <%= e.task_date %>  <%= e.task_name %>    <%= e.status %>
    
    <small class="label label-warning"><i class="fa fa-clock-o"></i> <%= e.time %> </small>
    <!-- General tools such as edit or delete-->
    <%= link_to "Edit" , edit_employee_task_to_do_path(e),remote: true %>
  </li>
 <% end %>
</ul>

