 <div class="box-header">
    <h3 class="box-title">Employee Advance Salary</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
  <div id="comments">
    <table id="example1" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Advance Amount</th>
        <th>No. of Installment</th>
        <th>Installment Amount</th>
        <th>Advance Date</th>
      </tr>
    </thead>

    <tbody>
      <% @advance_salaries.each do |advance_salary| %>
        <tr>
         <td><%= advance_salary.employee.try(:manual_employee_code) %></td>
         <td><%= full_name(advance_salary.employee) %></td>
         <td><%= advance_salary.advance_amount %></td>
         <td><%= advance_salary.no_of_instalment %></td>
         <td><%= advance_salary.instalment_amount %></td>
         <td><%= advance_salary.advance_date %></td>
       </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <%= link_to 'Back', advance_salaries_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
  <%= link_to " Excel Report ",advance_salary_xls_advance_salaries_path(month: params[:advance_salary][:month], year: params[:advance_salary][:year],company_id: params[:advance_salary][:company_id],company_location_id: params[:advance_salary][:company_location_id], format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
  <%= link_to " PDF Report ",advance_salary_pdf_advance_salaries_path(month: params[:advance_salary][:month], year: params[:advance_salary][:year],company_id: params[:advance_salary][:company_id],company_location_id: params[:advance_salary][:company_location_id], format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>
 <!--  < link_to " Excel Report ",dynamic_report_advance_salaries_path(:advance_salary =>{:month => params[:advance_salary][:month], :year => params[:advance_salary][:year],:company_id => params[:advance_salary][:company_id],:company_location_id => params[:advance_salary][:company_location_id]}, format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
  < link_to " PDF Report ",dynamic_report_advance_salaries_path(:advance_salary =>{:month => params[:advance_salary][:month], :year => params[:advance_salary][:year],:company_id => params[:advance_salary][:company_id],:company_location_id => params[:advance_salary][:company_location_id]}, format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
</div>
 -->