<%= form_for(@advance_salary) do |f| %>
  <% if @advance_salary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advance_salary.errors.count, "error") %> prohibited this advance_salary from being saved:</h2>

      <ul>
      <% @advance_salary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :advance_amount %><br>
    <%= f.text_field :advance_amount %>
  </div>
  <div class="field">
    <%= f.label :no_of_instalment %><br>
    <%= f.text_field :no_of_instalment %>
  </div>
  <div class="field">
    <%= f.label :instalment_amount %><br>
    <%= f.text_field :instalment_amount %>
  </div>
  <div class="field">
    <%= f.label :advance_date %><br>
    <%= f.date_select :advance_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
