<style>
    th {
        text-align: left;
    }
    tr {
        page-break-inside: avoid;
    }
    div.alwaysbreak { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak{ page-break-inside: avoid;
      /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
    }
</style>
  <table style="border-collapse: collapse; font-size:8pt;" border=1 width=900 cellpadding="10">
    <thead>
     <tr>
      <td colspan = "3">
        <center><strong><%= current_user.employee.company_location.company.description %></strong></center>
      </td>
      </tr>
      <tr> 
      <td>
        <strong><%= @employee.manual_employee_code %></strong>
      </td> 
      <td colspan = "2">
        <strong><%= @employee.first_name %> <%= @employee.middle_name %> <%= @employee.last_name %></strong>
      </td>            
      </tr>   
    </thead>

    <tbody>
      <% @advance_salaries.each do |advance_salary| %>
        <% @instalment = Instalment.where(advance_salary_id: advance_salary) %>
        <tr>
        <th colspan = "3"><center> Advance </center></th>
        </tr>
       <tr>
        <th>Advance Date</th>
        <th>Advance Amount</th>
        <th>Installment Amount</th>
      </tr>

        <tr>
         <td><%= advance_salary.advance_date %></td>
         <td><%= advance_salary.advance_amount %></td>
         <td><%= advance_salary.instalment_amount %></td>
        </tr>

        <tr>
        <th colspan = "3"><center> Installment </center></th>
        </tr>
        <tr>
        <th>Installment Date</th>
        <th>Installment Amount</th>
        <th>Complete</th>
        </tr>
         <% @instalment.each do |instalment| %>
        <tr>
          <td><%= instalment.instalment_date %></td>
          <td><%= instalment.instalment_amount %></td>
          <td><%= instalment.is_complete ? "Yes" : "No" %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>