<p id="notice"><%= notice %></p>

<h1>Listing Induction Details</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Start date</th>
      <th>Induction master</th>
      <th>Induction completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @induction_details.each do |induction_detail| %>
      <tr>
        <td><%= induction_detail.employee %></td>
        <td><%= induction_detail.start_date %></td>
        <td><%= induction_detail.induction_master %></td>
        <td><%= induction_detail.induction_completed %></td>
        <td><%= link_to 'Show', induction_detail %></td>
        <td><%= link_to 'Edit', edit_induction_detail_path(induction_detail) %></td>
        <td><%= link_to 'Destroy', induction_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Induction detail', new_induction_detail_path %>
