 <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
    <tr>
 <th colspan="5">
        <center><strong><%= current_user.employee.company_location.company.description %></strong></center><br>
        <center><strong>Induction Schedule</strong></center>
        <center><small></small></center>   
      </th>
    </tr>
   <tr>
     <th><strong>Employee Id</strong></th>
      <td><%= @induction_detail.employee.manual_employee_code %></td>
      
      <th><strong>Employee</strong></th>
      <td><%= @induction_detail.employee.try(:first_name) %> <%= @induction_detail.employee.try(:middle_name) %> <%= @induction_detail.employee.try(:last_name) %></td>
    </tr>
    <tr>
      <th><strong>Department</strong></th>
      <td><%= @induction_detail.employee.company_location.try(:name) %> - <%= @induction_detail.employee.department.try(:name) %></td>

      <th><strong>Designation</strong></th>
      <td><%= @induction_detail.employee.joining_detail.try(:employee_designation).try(:name)%></td>
    </tr>

    <tr>
      <th><strong>Date Of Joining</strong></th>
      <td><%= @induction_detail.employee.joining_detail.joining_date %></td>

       <th><strong>Induction Start Date</strong></th>
      <td><%= @induction_detail.start_date %></td>
   </tr>
   <tr>
      <th><strong>Induction End Date</strong></th>
      <td><%= @induction_detail.end_date %></td>

      <th><strong></strong></th>
      <td></td>
   </tr>

  </table><br><br>

  <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Sr.No</th>
      <th>Activity</th>
      <th>Day</th>
      <th>Duration(Hrs)</th>
      <th>Contact Person</th>
   </tr>
  </thead>

  <tbody>
  <% i = 0 %>
   <% @induction_activities.each do |induction_activity| %>
      <tr>
        <td><%= i=i+1 %></td>
        <td><%= induction_activity.activity %></td>
        <td><%= induction_activity.day %></td>
        <td><%= induction_activity.duration %></td>
        <td><%= full_name(induction_activity.employee) %></td>
      </tr>
      <% end %>
  </tbody>
</table>