<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Induction Detail List</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <tr>
      <td colspan="5">
        <center>
           <% if current_user.employee.company_location.company.company_logo == nil %>
          <% else %>
            <center> <%= image_tag current_user.employee.company_location.company.company_logo.url, :size => "90x50" %></center>
            <%end%>
          <%= current_user.employee.company_location.company.description %><br>
          <%= current_user.employee.company_location.company.address %><br>
       </center><br>
      </td>
    </tr>
   <tr>
     <th><strong>Employee Id</strong></th>
      <td><%= @induction_detail.employee.manual_employee_code %></td>
      
      <th><strong>Employee</strong></th>
      <td><%= @induction_detail.employee.try(:first_name) %> <%= @induction_detail.employee.try(:middle_name) %> <%= @induction_detail.employee.try(:last_name) %></td>
    </tr>
    <tr>
      <th><strong>Department</strong></th>
      <td><%= @induction_detail.employee.company_location.try(:name) %> - <%= @induction_detail.employee.department.try(:name) %></td>

      <th><strong>Designation</strong></th>
      <td><%= @induction_detail.employee.joining_detail.try(:employee_designation).try(:name)%></td>
    </tr>

    <tr>
      <th><strong>Date Of Joining</strong></th>
      <td><%= @induction_detail.employee.joining_detail.joining_date %></td>

      <!-- <th><strong>Induction Start Date</strong></th>
      <td><%= @induction_detail.start_date %></td> -->

      <th><strong>Induction End Date</strong></th>
      <td><%= @induction_detail.end_date %></td>
   </tr>

    <!-- <tr>
      <th><strong>Induction End Date</strong></th>
      <td><%= @induction_detail.end_date %></td>

      <th><strong></strong></th>
      <td></td>
   </tr> -->
  </table><br><br>
  

  <div>
    <div class="box-body">
<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Sr.No</th>
      <th>Day</th>
      <th>From</th>
      <th>To</th>
      <th>Duration</th>
      <th>Person</th>
      <th>Program Agenda</th>
    </tr>
  </thead>

  <tbody>
  <% i = 0 %>
    <% @induction_activities.each do |induction_activity| %>
      <tr>
        <td><%= i=i+1 %></td>
        <td><%= induction_activity.activity_date %></td>
        <td><%= induction_activity.from %></td>
        <td><%= induction_activity.to %></td>
        <td><%= induction_activity.duration %></td>
        <td><%= full_name(induction_activity.employee) %></td>
        <td><%= induction_activity.program_agenda %></td>
        <!-- <td>
            if induction_activity.avatar_file_name == nil %>
           <small class="label label-default">Document Not Available</small>
             < else %>
             <center>< link_to '',download_document_path(id: induction_activity.id),class: 'btn btn-xs btn-primary fa fa-download' %></center>
              end %>
        </td> -->
      </tr>
      <% end %>
  </tbody>
</table>
</div>
  </div><br>

  <%= link_to " Print",print_induction_details_induction_details_path(id: @induction_detail.id, format: "pdf"), class: "btn btn-xl btn-primary fa fa-print",:target => "_blank" %>
  </div>
  </div><br>