<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Induction Detail List</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <tr>
      <th colspan="5">
        <center><strong><%= current_user.employee.company_location.company.description %></strong></center><br>
        <center><strong>Induction Schedule</strong></center>
        <center><small></small></center>   
      </th>
    </tr>
   <tr>
     <th><strong>Employee Id</strong></th>
      <td><%= @induction_detail.employee.manual_employee_code %></td>
      
      <th><strong>Employee</strong></th>
      <td><%= @induction_detail.employee.try(:first_name) %> <%= @induction_detail.employee.try(:middle_name) %> <%= @induction_detail.employee.try(:last_name) %></td>
    </tr>
    <tr>
      <th><strong>Department</strong></th>
      <td><%= @induction_detail.employee.company_location.try(:name) %> - <%= @induction_detail.employee.department.try(:name) %></td>

      <th><strong>Designation</strong></th>
      <td><%= @induction_detail.employee.joining_detail.try(:employee_designation).try(:name)%></td>
    </tr>

    <tr>
      <th><strong>Date Of Joining</strong></th>
      <td><%= @induction_detail.employee.joining_detail.joining_date %></td>

      <th><strong>Induction Start Date</strong></th>
      <td><%= @induction_detail.start_date %></td>
   </tr>

    <tr>
      <th><strong>Induction End Date</strong></th>
      <td><%= @induction_detail.end_date %></td>

      <th><strong></strong></th>
      <td></td>
   </tr>
  </table><br><br>
  </div>

  <div>
    <%= render 'induction_activity_list' %>
  </div>
  
  </div>
  <div class="col-sm-3">
    <%= link_to " Print",print_induction_details_induction_details_path(id: @induction_detail.id, format: "pdf"), class: "btn btn-xl btn-success fa fa-print",:target => "_blank" %>
  </div>