<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Induction Detail List</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>

    <tr>
      <th><strong>Employee</strong></th>
      <td><%= @induction_detail.employee.try(:first_name) %> <%= @induction_detail.employee.try(:middle_name) %> <%= @induction_detail.employee.try(:last_name) %></td>

      <th><strong>Start Date</strong></th>
      <td><%= @induction_detail.start_date %></td>
    </tr>

    <tr>
      <th><strong>Induction master</strong></th>
      <td><%= @induction_detail.induction_master.code %></td>

      <th><strong>Status</strong></th>
      <td><%= @induction_detail.induction_completed ? "Yes" : "No" %></td>
    </tr>
    
  </table>
    </div>

    <div>
      <%= render 'induction_activity_list' %>
    </div>
  </div>
