<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Is bouns</th>
      <th>Limit amount</th>
      <th>Bonus persentage</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @bonus_masters.each do |bonus_master| %>
      <tr>
        <td><%= bonus_master.is_bouns ? "Yes" : "No" %></td>
        <td><%= bonus_master.limit_amount %></td>
        <td><%= bonus_master.bonus_persentage %></td>
        <td><%= bonus_master.status ? "Active" : "Inactive" %></td>
        <td>
          <%= link_to '', edit_bonus_master_path(bonus_master),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
          <%= link_to '',  bonus_master, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>