<%= form_for(@bonus_master) do |f| %>
  <% if @bonus_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bonus_master.errors.count, "error") %> prohibited this bonus_master from being saved:</h2>

      <ul>
      <% @bonus_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :is_bouns %><br>
    <%= f.check_box :is_bouns %>
  </div>
  <div class="field">
    <%= f.label :limit_amount %><br>
    <%= f.text_field :limit_amount %>
  </div>
  <div class="field">
    <%= f.label :bonus_persentage %><br>
    <%= f.text_field :bonus_persentage %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
