<p id="notice"><%= notice %></p>

<h1>Listing Bonus Masters</h1>

<table>
  <thead>
    <tr>
      <th>Is bouns</th>
      <th>Limit amount</th>
      <th>Bonus persentage</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bonus_masters.each do |bonus_master| %>
      <tr>
        <td><%= bonus_master.is_bouns %></td>
        <td><%= bonus_master.limit_amount %></td>
        <td><%= bonus_master.bonus_persentage %></td>
        <td><%= bonus_master.status %></td>
        <td><%= link_to 'Show', bonus_master %></td>
        <td><%= link_to 'Edit', edit_bonus_master_path(bonus_master) %></td>
        <td><%= link_to 'Destroy', bonus_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bonus master', new_bonus_master_path %>
