<br>
<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Code</th>
      <th>Name</th>
      <th>Action</th>
 
  <tbody>
    <% @policy_types.each do |pt| %>
      <tr>
        <td><%= pt.code %></td>
        <td><%= pt.name %></td>
        <td>
            <%= link_to '', edit_policy_type_path(pt),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '',  pt, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-xs fa fa-close',remote:true %>
            <%= link_to '', pt,class: 'btn btn-default btn-xs fa fa-eye' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>