<br>
<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Code</th>
      <th>Name</th>
      <th>Action</th>
 
  <tbody>
    <% @policy_types.each do |pt| %>
      <tr>
        <td><%= pt.code %></td>
        <td><%= pt.name %></td>
        <td>
            <%= link_to '', edit_policy_type_path(pt),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '',  pt, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-xs fa fa-close',remote:true %>
             <%= link_to '', modal_policy_types_path(pt), class: 'btn btn-xs btn-default fa fa-eye',remote: true%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="Mymodal" class="modal fade"></div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>