
<%= bootstrap_form_for(@state,html: {id: 'state'},remote:true) do |f| %>
  <div class="row">
   <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :state_id,all_country,{label: 'State',include_blank: " Select State"} %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code, placeholder: 'Code' %>
      </div>
    </div>
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name, placeholder: 'state Name' %>
      </div>
    </div>
   <div class="col-sm-3">
   <label></label>
      <div class="actions">
        <%= f.submit "Create state" ,class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
  <% end %>
