<p id="notice"><%= notice %></p>

<h1>Listing Illness Types</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @illness_types.each do |illness_type| %>
      <tr>
        <td><%= illness_type.code %></td>
        <td><%= illness_type.name %></td>
        <td><%= illness_type.description %></td>
        <td><%= link_to 'Show', illness_type %></td>
        <td><%= link_to 'Edit', edit_illness_type_path(illness_type) %></td>
        <td><%= link_to 'Destroy', illness_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Illness type', new_illness_type_path %>
