
<%= bootstrap_form_for(@issue_tracker_member, remote:true) do |f| %>
    <div class="row">
        <div class="col-sm-3">
         <div class="form-group required">
              <%= f.select :issue_tracker_group_id,all_issue_tracker_group,{label: "Group",include_blank: "Select Group"} %>
            </div>
        </div> 

      <div class="col-sm-3">
          <div class="form-group required">
             <%= f.select :employee_id, employee_list_for_food_deduction, {label: "Member",include_blank: "Select Member"},{:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1"} %>
          </div>
      </div>

      <div class="col-sm-3">
       <div class="form-group required">
          <%= f.select :role,['Admin','Co-ordinator'],{include_blank: "Select Role"} %>
       </div>
      </div>

     <div class="col-sm-3">
        <label>Status</label>
        <%= f.check_box :status,label:'Active' %>
      </div>
       </div>
       <div class="row">
     <div class="col-sm-3">
     <label></label>
     <div class="actions">
        <%= f.submit'Create Member',:class => class_name, data: { disable_with: data_info } %>
     </div>
     </div>
  </div>
<% end %>
 
