<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Group</th>
      <th>Member</th>
      <th>Role</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @issue_tracker_members.each do |issue_tracker_member| %>
      <tr>
        <td><%= issue_tracker_member.issue_tracker_group.try(:name) %></td>
        <td><%= issue_tracker_member.employee.try(:first_name) %> <%= issue_tracker_member.employee.try(:middle_name) %> <%= issue_tracker_member.employee.try(:last_name) %> </td>
         <td><%= issue_tracker_member.role %></td>
        <td><%= issue_tracker_member.status ? "Active" : "Inactive" %></td>
        <td>
          <%= link_to '', edit_issue_tracker_member_path(issue_tracker_member),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
          <%= link_to '',  issue_tracker_member, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %></td>
      </tr>
    <% end %>
  </tbody>
</table>