<p id="notice"><%= notice %></p>

<p>
  <strong>Issue tracker group:</strong>
  <%= @issue_tracker_member.issue_tracker_group %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @issue_tracker_member.employee %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue_tracker_member.status %>
</p>

<p>
  <strong>Is confirm:</strong>
  <%= @issue_tracker_member.is_confirm %>
</p>

<%= link_to 'Edit', edit_issue_tracker_member_path(@issue_tracker_member) %> |
<%= link_to 'Back', issue_tracker_members_path %>
