<%= form_for :salary_slip_ledgers do |f| %>
<table id="example1" class="table table-bordered table-hover table-condensed">
  <thead>
      <!-- <th><input type="checkbox" id="selectAll" value="selectAll"></th> -->
      <th>SalarySlip ID</th>
      <th>Salary Slip Component</th>
      <th>Actual Amount</th>
      <th>Other Component</th>
      <th>Calculated Amount</th>
    
  </thead>
  <tbody>
    <% @salaryslip_components.each do |salaryslip_component| %>
      <tr>
        <!-- <td><%= check_box_tag "salaryslip_component_ids[]" %></td> -->
        <td><%= salaryslip_component.salaryslip_id %></td>
        <td><%= salaryslip_component.salary_component.try(:name) %></td>
        <td><%= salaryslip_component.actual_amount %></td>
        <td><%= salaryslip_component.other_component_name %></td>
        <td><%= salaryslip_component.calculated_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 <div class="col-sm-3">
        <%= f.submit "Print Salary Slip",class: "btn btn-xl btn-warning fa fa-print" %>
     </div>
<% end %>


<script type="text/javascript">
$('#selectAll').click(function() {
  if (this.checked) {
    $(':checkbox').each(function() {
      this.checked = true;                       
    });
  } 
  else {
    $(':checkbox').each(function() {
      this.checked = false;                        
    });
  } 
});
</script>