<%= form_for :salary_slip_ledgers do |f| %>
<table id="example3" class="table table-bordered table-hover table-condensed">
  <thead>
  <tr>
      <th>Employee Name</th>
      <th>department_name</th>
      <th>code</th>
      <th>pf_no</th>
      <th>esic_no</th>
      <th>actual_basic</th>
      <th>actual_da</th>
      <th>actual_hra</th>

      <th>actual_convenience</th>
      <th>actual_other</th>
      <th>actual_special</th>
      <th>actual_washing</th>
      <th>actual_total</th>
      <th>earned_basic</th>
      <th>earned_da</th>
      <th>earned_hra</th>

      <th>earned_convenience</th>
      <th>earned_other</th>
      <th>earned_special</th>
      <th>earned_washing</th>
      <th>earned_total</th>

      <th>pf</th>
      <th>esic</th>
      <th>income_tax</th>
      <th>pt</th>
      <th>advance</th>
      <th>society</th>

      <th>food_deduction</th>
      <th>mobile</th>
      <th>retention</th>
      <th>deduction_total</th>
      <th>net_payable</th>
      <th>total_leave</th>

      <th>lwp_leave</th>
      <th>day_in_month</th>
      <th>present_day</th>
      <th>absent_day</th>
      <th>holiday</th>
      <th>weekoff</th>
  </tr>
  </thead>
  <tbody>
    <% @reports.each do |r| %>
      <tr>
        <td><%= r.try(:employee_name) %></td>
        <td><%= r.try(:department_name) %></td>
        <td><%= r.try(:code) %></td>
        <td><%= r.try(:pf_no) %></td>
        <td><%= r.try(:esic_no) %></td>
        <td><%= r.try(:actual_basic) %></td>
        <td><%= r.try(:actual_da) %></td>
        <td><%= r.try(:actual_hra) %></td>

        <td><%= r.try(:actual_convenience) %></td>
        <td><%= r.try(:actual_other) %></td>
        <td><%= r.try(:actual_special) %></td>
        <td><%= r.try(:actual_washing) %></td>
        <td><%= r.try(:actual_total) %></td>
        <td><%= r.try(:earned_basic) %></td>
        <td><%= r.try(:earned_da) %></td>
        <td><%= r.try(:earned_hra) %></td>

        <td><%= r.try(:earned_convenience) %></td>
        <td><%= r.try(:earned_other) %></td>
        <td><%= r.try(:earned_special) %></td>
        <td><%= r.try(:earned_washing) %></td>
        <td><%= r.try(:earned_total) %></td>

        <td><%= r.try(:pf) %></td>
        <td><%= r.try(:esic) %></td>
        <td><%= r.try(:income_tax) %></td>
        <td><%= r.try(:pt) %></td>
        <td><%= r.try(:advance) %></td>
        <td><%= r.try(:society) %></td>

        <td><%= r.try(:food_deduction) %></td>
        <td><%= r.try(:mobile) %></td>
        <td><%= r.try(:retention) %></td>
        <td><%= r.try(:deduction_total) %></td>
        <td><%= r.try(:net_payable) %></td>
        <td><%= r.try(:total_leave) %></td>

        <td><%= r.try(:lwp_leave) %></td>
        <td><%= r.try(:day_in_month) %></td>
        <td><%= r.try(:present_day) %></td>
        <td><%= r.try(:absent_day) %></td>
        <td><%= r.try(:holiday) %></td>
        <td><%= r.try(:weekoff) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
   <div class="col-sm-3">
      <%= f.submit "Print Salary Slip",class: "btn btn-xl btn-warning fa fa-print" %>
   </div>
 <% end %>

<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });

  $(document).ready(function() {
    $('#example3').DataTable( {
        "scrollY":        "200px",
        "scrollX":        "1000px",
        "scrollCollapse": true,
        "paging":         false
    } );
} );
</script>