<%= form_for :salary_slip_ledgers do |f| %>
<table id="example1" class="table table-bordered table-hover table-condensed">
  <thead>
  <tr>
      <th>Employee Name</th>
      <th>Basic Pay</th>
      <th>HRA</th>
      <th>Special Allowance</th>
      <th>Convenience Allowance</th>
      <th>Other Allowance</th>
      <th>Washing Allowanc</th>
      <th>DA</th>
  </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
    <% @salaryslip =  Salaryslip.find_by_employee_id(employee.id) %>
    <% @addable_items = SalaryslipComponent.where(salaryslip_id: @salaryslip.id, is_deducted: false).where.not(other_component_name: nil) %>
      <% @addable_items.each do |item| %>
      <tr>
        <td><%= employee.try(:first_name) %></td>
        <% case item.salary_component.try(:name) %>
        <% when "Basic" %>
        <td><%= item.actual_amount.round * 12 %></td>
        <% when "HRA" %>
        <td><%= item.actual_amount.round * 12 %></td>
        <% when "Special Allowance" %>
        <td><%= item.actual_amount.round * 12 %></td>
        <% when "Convenience Allowance" %>
        <td><%= item.actual_amount.round * 12 %></td>
        <% when "Other Allowance" %>
        <td><%= item.actual_amount.round * 12 %></td>
        <% when "Washing Allowance" %>
        <td><%= item.actual_amount.round * 12 %></td>
        <% when "DA" %>
        <td><%= item.actual_amount.round * 12 %></td>
        <% else %>
        <td><%= %></td>
        <% end %>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
   <div class="col-sm-3">
      <%= f.submit "Print Salary Slip",class: "btn btn-xl btn-warning fa fa-print" %>
   </div>
 <% end %>

<script type="text/javascript">
$('#selectAll').click(function() {
  if (this.checked) {
    $(':checkbox').each(function() {
      this.checked = true;                       
    });
  } 
  else {
    $(':checkbox').each(function() {
      this.checked = false;                        
    });
  } 
});
</script>