<div class="ajax-progress"></div>
<div class="box">
  <div class="box-body">
        <% i = 0 %>
    <table id="example6" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <td colspan="7">
            <center><strong>ESIC Report</strong></center>
            <center><strong><%= @from.strftime("%B-%Y") %> to <%= @to.strftime("%B-%Y") %></strong></center>
          </td>           
        </tr>
        <tr>
          <th>Sr. No.</th>
          <th>Employee Code</th>
          <th>Employee Name</th>
          <th>ESIC No.</th>
          <th>Payble Days</Data></th>
          <th>Gross Salary</th>
          <th>ESIC Amount</th>
        </tr>
      </thead>

      <tbody>
        <% @salaryslips.each do |slip| %>
          <% employee = slip.employee %>
          <% joining = employee.joining_detail %>
          <% bank = employee.employee_bank_detail %>
          <% workingday = slip.workingday %>
          <% @amount = 0 %>
          <% @esic_amount = 0 %>
          <tr>
            <td><%= i = i + 1 %></td>
            <td><%= slip.employee.manual_employee_code %></td>
            <td><%= employee.first_name.to_s+" "+employee.middle_name.to_s+" "+employee.last_name.to_s %></td>
            <td><%= joining.try(:employee_efic_no) %></td>
            <td><%= workingday.payable_day %></td>
            <td><%= gross_amt = slip.calculated_gross_salary.round %></td>
              <% @deducted_salaryslip_items = slip.salaryslip_components.where(is_deducted: true) %>
              <% @deducted_salaryslip_items.each do |item| %>
                <% if item.other_component_name == "ESIC" %>
                  <td><%= esic_amount = item.calculated_amount.round %></td>
                  <% @esic_amount = @esic_amount.to_f + esic_amount.to_f %>
                <% end %>
              <% end %><!-- deducted items -->
          </tr><!-- Row -->
        <% end %><!-- slip -->
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Total</td>
            <td><%= @esic_amount%></td>
          </tr>
      </tbody>
    </table>
    <div class="col-sm-6">
      <%= link_to " Excel Report ",esic_dynamic_report_salary_slip_ledgers_path(:employee => {:from => params[:employee][:from],:to => params[:employee][:to],:company_id => params[:employee][:company_id],:company_location_id => params[:employee][:company_location_id]}, format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
      <%= link_to " PDF Report",esic_dynamic_report_salary_slip_ledgers_path(:employee => {:from => params[:employee][:from],:to => params[:employee][:to],:company_id => params[:employee][:company_id],:company_location_id => params[:employee][:company_location_id]}, format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true,
        "scrollY": 500
    } );
} );
</script>