<div class="box-header">
    <div class="pull-right">
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
  <div id="comments">
    <table id="example" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Employee Name</th>
        <th>PF No.</th>
        <th>Payble Days</th>
        <th>Amount</th>
        <th>PF Amount</th>
      </tr>
    </thead>

    <tbody>
      <% @salaryslips.each do |slip| %>
        <% employee = slip.employee %>
        <% joining = employee.joining_detail %>
        <% bank = employee.employee_bank_detail %>
        <% workingday = slip.workingday %>
        <tr>
          <td><%= slip.employee.manual_employee_code %></td>
          <td><%= employee.first_name.to_s+" "+employee.middle_name.to_s+" "+employee.last_name.to_s %></td>
          <td><%= joining.try(:employee_pf_no) %></td>
          <td><%= workingday.payable_day %></td>
          <% @addable_salaryslip_items = slip.salaryslip_components.where(is_deducted: false) %>
          <%basic_amt = 0%>
          <%da_amt = 0%>
          <%basic_a_amt = 0 %>
          <% @addable_salaryslip_items.each do |item| %>
          
            <% case item.salary_component.try(:name) %>
            <% when "Basic" %>
            <% basic_amt = item.calculated_amount.round %>
            <% when "DA" %>
           <% da_amt = item.calculated_amount.round %>
            <% else %>
           
            <% end %> <!-- switch case --> 
  
          <% end %><!-- addable items -->

          
          <td><%= basic_amt+da_amt %></td>
           
          <% @deducted_salaryslip_items = slip.salaryslip_components.where(is_deducted: true) %>
          <% @deducted_salaryslip_items.each do |item| %>
              <% if item.other_component_name == "PF" %>
               <td><%= item.calculated_amount.round %></td>
            <% end %>
             
      <% end %><!-- slip -->
     
        </tr>
        <% end %>
    </tbody>
  </table>
  </div>
  <%= link_to " Excel Report ",dynamic_report_salary_slip_ledgers_path(month: params[:pf_detail][:month], year: params[:pf_detail][:year],company_id: params[:pf_detail][:company_id],company_location_id: params[:food_deduction][:company_location_id], format: "xls"), class: "btn btn-xl btn-success fa fa-print" %> |
 <!--  <= link_to " Text Report", export_pf_report_to_text_salary_slip_ledgers_path(month: params[:pf_detail][:month], year: params[:pf_detail][:year],company_id: params[:pf_detail][:company_id],company_location_id: params[:food_deduction][:company_location_id], format: "csv"), class: "btn btn-xl btn-primary fa fa-file-text-o" %> | -->
  <%= link_to " PDF Report ",dynamic_report_salary_slip_ledgers_path(month: params[:pf_detail][:month], year: params[:pf_detail][:year],company_id: params[:pf_detail][:company_id],company_location_id: params[:food_deduction][:company_location_id], format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>