<div class="box-header">
    <div class="pull-right">
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
  <div id="comments">
    <table id="example" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>ID</Data></th>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Professional Tax</th>
    </tr>
    </thead>
    <tbody>
      <% @salaryslips.each do |slip| %>
        <% employee = slip.employee %>
        <% bank = employee.employee_bank_detail %>
        <% workingday = slip.workingday %>
        <tr>
          <td><%= slip.employee.manual_employee_code %></td>
          <td><%= employee.try(:first_name) %> <%= employee.try(:middle_name) %> <%= employee.try(:last_name) %></td>
           <td><%= employee.company_location.try(:name) %> - <%= employee.department.try(:name) %></td>

          <% @deducted_salaryslip_items = slip.salaryslip_components.where(is_deducted: true) %>
          <% @deducted_salaryslip_items.each do |item| %>
              <% if item.other_component_name == "Professional Tax" %>
                <td><%= item.calculated_amount.round %></td>
              <% end %>
          <% end %><!-- deducted items -->
        </Row><!-- Row -->
      <% end %><!-- slip -->
   </tbody>
  </table>
  </div>

  <%= link_to " Excel Report ",professional_tax_master_dynamic_report_salary_slip_ledgers_path(:food_deduction => {:month => params[:food_deduction][:month],:year => params[:food_deduction][:year],:company_id => params[:food_deduction][:company_id],:company_location_id => params[:food_deduction][:company_location_id]}, format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
  <%= link_to " PDF Report ",professional_tax_master_dynamic_report_salary_slip_ledgers_path(:food_deduction => {:month => params[:food_deduction][:month],:year => params[:food_deduction][:year],:company_id => params[:food_deduction][:company_id],:company_location_id => params[:food_deduction][:company_location_id]}, format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>