<div class="ajax-progress"></div>
  <% i = 0 %>
<table id="example3" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>No</th>
      <th>Code</th>
      <th>Name</th>
      <th>Department</th>
      
      <th>Basic</th>
      <th>DA</th>
      <th>HRA</th>
      <th>Conv</th>
      <th>O.Allow</th>
      <th>S.Allow</th>
      <th>Wsh.Allow</th>
      <th>PF ctc</th>
      <th>ESIC ctc</th>
      <th>Bonus ctc</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |r| %>
      <tr>
        <td><%= i = i+1 %></td>
        <td><%= r.try(:code) %></td>
        <td><%= r.try(:employee_name) %></td>
        <td><%= r.try(:department_name) %></td>
        
        <td><%= r.try(:actual_basic) %></td>
        <td><%= r.try(:actual_da) %></td>
        <td><%= r.try(:actual_hra) %></td>

        <td><%= r.try(:actual_convenience) %></td>
        <td><%= r.try(:actual_other) %></td>
        <td><%= r.try(:actual_special) %></td>
        <td><%= r.try(:actual_washing) %></td>

        <td><%= r.try(:pf_ctc) %></td>
        <td><%= r.try(:esic_ctc) %></td>
        <td><%= r.try(:bonus_ctc) %></td>

        <td><%= r.try(:actual_total) %></td>
      </tr>
    <% end %>

   
  </tbody>
</table>
<div class="col-sm-6">
  <%= link_to " Print Salary Slip ", collect_ctc_salary_salary_slip_ledgers_path(format: "pdf"), class: "btn btn-xl btn-info fa fa-print" %>

  <%= link_to " Excel Report ", collect_ctc_salary_salary_slip_ledgers_path(format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
</div>
