<% i = 0 %>
<table style="border-collapse: collapse; font-size:10pt;" border=1 width=1000 cellpadding="10">
  <thead>
    <tr>
      <th colspan="6">
        <center><strong><%= current_user.employee.company_location.company.description %></strong></center>
        <center><small><%= Bank.find(@bank).name %></small></center>
        <center><small>Employee Monthly Salary For The Month <%= @month %> - <%= @year %></small></center> 
      </th>
    </tr>
  
    <tr>
      <th>Sr. No</th>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Account Number</th>
      <th>Net Salary</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% @slips.each do |s| %>
      <tr>
        <td><%= i = i+1 %></td>
        <td><%= s.employee.manual_employee_code %></td>
        <td><%= full_name(s.employee) %></td>
        <td><%= account_no(s.employee.id) %></td>
        <td><%= s.calculated_net_salary.round %></td>
        <td><%= s.employee.company_location.try(:name) %></td>
      </tr>
    <% end %>
    <tfoot>
      <tr>
        <th colspan="4">Total</th>
        
        <th><%= @total_net_salary %></th>
        <th></th>
      </tr>
    </tfoot>
  </tbody>
</table>
<style type="text/css">
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }
</style>
