<div class="ajax-progress"></div>
<% i = 0 %>
<table style="border-collapse: collapse; font-size:30pt;" border=1 width=1000 cellpadding="15">
  <thead>
    <tr>
      <th colspan="15">
        <center><strong><%= current_user.employee.company_location.company.description %></strong></center>
        <center><small></small></center>
        <center><small>Employee Monthly CTC Report for : <%= @month %> - <%= @year %></small></center>   
      </th>
    </tr>
    <tr>
      <th>Sr.No</th>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Department</th>

      <th>Basic</th>
      <th>DA</th>
      <th>HRA</th>

      <th>Conv</th>
      <th>O.Allow</th>
      <th>S.Allow</th>
      <th>Wsh.Allow</th>

      <th>PF </th>
      <th>ESIC </th>
      <th>Bonus </th>
      
      <th>CTC Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |r| %>
      <tr>
       <% sum = 0 %>
        <td><%= i = i+1 %></td>
        <td><%= r.try(:code) %></td>
        <td><%= r.try(:employee_name) %></td>
        <td><%= r.try(:department_name) %></td>
        
        <td><%= r.try(:actual_basic) %><% sum += r.try(:actual_basic).to_i %></td>
        <td><%= r.try(:actual_da) %><% sum += r.try(:actual_da).to_i %></td>
        <td><%= r.try(:actual_hra) %><% sum += r.try(:actual_hra).to_i %></td>

        <td><%= r.try(:actual_convenience) %><% sum += r.try(:actual_convenience).to_i %></td>
        <td><%= r.try(:actual_other) %><% sum += r.try(:actual_other).to_i %></td>
        <td><%= r.try(:actual_special) %><% sum += r.try(:actual_special).to_i %></td>
        <td><%= r.try(:actual_washing) %><% sum += r.try(:actual_washing).to_i %></td>

        <td><%= r.try(:pf_ctc) %><% sum += r.try(:pf_ctc).to_i %></td>
        <td><%= r.try(:esic_ctc) %><% sum += r.try(:esic_ctc).to_i %></td>
        <td><%= r.try(:bonus_ctc) %><% sum += r.try(:bonus_ctc).to_i %></td>

        <td><%= sum %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<style type="text/css">
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }
</style>

