<div class="ajax-progress"></div>
<% i = 0 %>
<table style="border-collapse: collapse; font-size:30pt;" border=1 width=1000 cellpadding="15">
  <thead>
    <tr>
      <th colspan="6">
        <center><strong>BHANDARI FOILS AND TUBES LTD.</strong></center>
      </th>
    </tr>
    <tr>
      <th>Sr.No</th>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Department</th>
      
      <th>Basic</th>
      <th>DA</th>
      <th>HRA</th>
      <th>Conv</th>
      <th>O.Allow</th>
      <th>S.Allow</th>
      <th>Wsh.Allow</th>
      <th>PF </th>
      <th>ESIC </th>
      <th>Bonus </th>
      <th>CTC Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |r| %>
      <tr>
        <td><%= i = i+1 %></td>
        <td><%= r.try(:code) %></td>
        <td><%= r.try(:employee_name) %></td>
        <td><%= r.try(:department_name) %></td>
        
        <td><%= r.try(:actual_basic) %></td>
        <td><%= r.try(:actual_da) %></td>
        <td><%= r.try(:actual_hra) %></td>

        <td><%= r.try(:actual_convenience) %></td>
        <td><%= r.try(:actual_other) %></td>
        <td><%= r.try(:actual_special) %></td>
        <td><%= r.try(:actual_washing) %></td>

        <td><%= r.try(:pf_ctc) %></td>
        <td><%= r.try(:esic_ctc) %></td>
        <td><%= r.try(:bonus_ctc) %></td>

        <td><%= r.try(:actual_total) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<style type="text/css">
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak { page-break-inside: avoid; }
</style>

