<!--SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Monthly CTC Report</h3>
  </div><!-- /.box-header -->

  <div class="box-body">
    <%= bootstrap_form_for(:salary, url: { action: 'show_monthly_ctc'},html: {id: "salary"},remote: true) do |f| %>
      <div class="row">
        <div class="col-sm-3">
          <div class="field">
            <%= select :salary,:month, ['January','February','March','April','May','June','July','August','September','October','November','December'],{label: 'Select Month',include_blank: "Select Month"}, class: "form-control" %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= select :salary,:year,['2015','2016','2017','2018','2019','2020','2021','2022','2023','2024','2025','2026','2027'],{label: 'Select Year',include_blank: "Select Year"}, class: "form-control" %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group required">
            <%= select :salary, :department_id, all_department_list,{label: 'Department',include_blank: " Select Department"},{class: "form-control"} %>
          </div>
        </div>
  
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit "Submit", class: "btn btn-sm btn-warning", id: "buttonCtc" %>
          </div>
        </div>
      </div><br>
    <% end %>

    <div class="ajax-progress"></div>
    <div class="row">
      <div class="col-sm-12">
        <div id="employee_list"></div>    
      </div>
    </div>
  </div><!-- /.box-body -->
</div><!-- /.box -->

<script type="text/javascript">
  $("#buttonCtc").click(function(){
    $('.ajax-progress').show();
    $("#salary").submit();
  })
</script>