<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:Index="1"><Data ss:Type="String">Sr No.</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Month - Year</Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String">Employee Code</Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String">Employee Name</Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String">ESIC No.</Data></Cell>
        <Cell ss:Index="6"><Data ss:Type="String">Payble Days</Data></Cell>
        <Cell ss:Index="7"><Data ss:Type="String">Gross Salary</Data></Cell>
        <Cell ss:Index="8"><Data ss:Type="String">ESIC Amount</Data></Cell>
      </Row>
      <% i = 0 %>
      <% @esic_amount = 0 %>
      <% @salaryslips.each do |slip| %>
        <% employee = slip.employee %>
        <% joining = employee.joining_detail %>
        <% bank = employee.employee_bank_detail %>
        <% workingday = slip.workingday %>
        <Row>
          <Cell ss:Index="1"><Data ss:Type="String"><%= i=i+1 %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="String"><%= slip.month %> <%= slip.year %></Data></Cell>
          <Cell ss:Index="3"><Data ss:Type="String"><%= slip.employee.manual_employee_code %></Data></Cell>
          <Cell ss:Index="4"><Data ss:Type="String"><%= employee.first_name.to_s+" "+employee.middle_name.to_s+" "+employee.last_name.to_s %></Data></Cell>
          <Cell ss:Index="5"><Data ss:Type="String"><%= joining.try(:employee_efic_no) %></Data></Cell>
          <Cell ss:Index="6"><Data ss:Type="Number"><%= workingday.payable_day %></Data></Cell>
          <Cell ss:Index="7"><Data ss:Type="Number"><%= gross_amt = slip.calculated_gross_salary.round %></Data></Cell>
          <% @deducted_salaryslip_items = slip.salaryslip_components.where(is_deducted: true) %>
          <% @deducted_salaryslip_items.each do |item| %>
              <% if item.other_component_name == "ESIC" %>
                <Cell ss:Index="8"><Data ss:Type="Number"><%= esic_amount = item.calculated_amount.round %></Data></Cell>
              <% @esic_amount = @esic_amount.to_f + esic_amount.to_f %>
              <% end %>
          <% end %><!-- deducted items -->
        </Row><!-- Row -->
      <% end %><!-- slip -->
       <Row>
          <Cell ss:Index="7"><Data ss:Type="String">Total</Data></Cell>
          <Cell ss:Index="8"><Data ss:Type="Number"><%= @esic_amount %></Data></Cell>
        </Row>
    </Table>
  </Worksheet>
</Workbook>