<!--SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Pf Detail Report</h3>
  </div><!-- /.box-header -->

  <div class="box-body">
    <%= bootstrap_form_for(:pf_detail, url: { action: 'dynamic_report'},html: {id: 'pf_detail'},remote:true) do |f| %>
      <div class="row">
        <div class="col-sm-3">
          <div class="field">
            <%= select :pf_detail,:year,['2015','2016','2017','2018','2019','2020','2021','2022','2023','2024','2025','2026','2027'],{label: 'Select Year',include_blank: " Select Year"}, class: "form-control" %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= select :pf_detail,:month, ['January','February','March','April','May','June','July','August','September','October','November','December'],{label: 'Select Month',include_blank: " Select Month"}, class: "form-control" %>
           </div>
        </div>

         <!-- <div class="col-sm-3">
          <div class="field">
            <= select :food_deduction,:company_id,all_company,{label: 'Company',include_blank: " Select Company"}, class: "form-control" %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
          <= select :food_deduction, :company_location_id, all_company_location,{label: 'Company Location',include_blank: " Select Company Location"}, class: "form-control" %>
          </div>
        </div> -->
        <div class="col-sm-3">
            <div class="form-group required">
              <%=f.select :company_id, all_company,{include_blank: "Select Company",hide_label: true},{onchange:"var a={id:$(this).val(), form : 'salary_slip_ledger'}; $.get('/employees/collect_company_location',a,function(response){});"}%>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group required">
              <div id="company_location1">
                <%= render 'employees/company_loc_dropdown' %> 
            </div>
            </div>
          </div>
        </div>
        
        <div class="row">
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit "Display Report", class: "btn btn-sm btn-warning" %>
          </div>
        </div>
        </div><br>
        <div id="pf_detail_li"></div>

      <br>
    <% end %>
  </div><!-- /.box-body -->
</div><!-- /.box -->

<script>
$("#food_deduction").validate({
    rules: {
      "food_deduction[month]":{
        required: true,
      },
      "food_deduction[year]":{
        required: true,
      }
    },
    messages: {
      "food_deduction[month]":{
        required: "Please specify Month",
      },
      "food_deduction[year]":{
        required: "Please specify Year",
      }
      
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
