<div class="ajax-progress"></div>
<% i = 0 %>
<table id="example3" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>No</th>
      <th>Code</th>
      <th>Name</th>
      <th>Month</th>
      
      <th>Basic</th>
      <th>DA</th>
      <th>HRA</th>
      <th>conv</th>
      <th>O.Allow</th>
      <th>S.Allow</th>
      <th>Wsh.Allow</th>
      <th>Gross</th>

      <th>PF</th>
      <th>ESIC</th>
      <th>IT</th>
      <th>PT</th>
      <th>Adv.Sal</th>
      <th>Society</th>
      <th>Food</th>
      <th>Mobile</th>
      <th>Retention</th>
      <th>Total Dedu</th>

      <th>NET</th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |r| %>
      <tr>
        <td><%= i = i+1 %></td>
        <td><%= r.try(:code) %></td>
        <td><%= r.try(:employee_name) %></td>
        <td><%= r.try(:month) %></td>
        
        <td><%= r.try(:earned_basic) %></td>
        <td><%= r.try(:earned_da) %></td>
        <td><%= r.try(:earned_hra) %></td>

        <td><%= r.try(:earned_convenience) %></td>
        <td><%= r.try(:earned_other) %></td>
        <td><%= r.try(:earned_special) %></td>
        <td><%= r.try(:earned_washing) %></td>
        <td><%= r.try(:earned_total) %></td>

        <td><%= r.try(:pf) %></td>
        <td><%= r.try(:esic) %></td>
        <td><%= r.try(:income_tax) %></td>
        <td><%= r.try(:pt) %></td>
        <td><%= r.try(:advance) %></td>
        <td><%= r.try(:society) %></td>

        <td><%= r.try(:food_deduction) %></td>
        <td><%= r.try(:mobile) %></td>
        <td><%= r.try(:retention) %></td>
        <td><%= r.try(:deduction_total) %></td>
        <td><%= r.try(:net_payable) %></td>
        <td><%=  %></td>
      </tr>
    <% end %>

    <tr>
      <td><%= @sum.earned_basic %></td>
      <td><%= @sum.earned_da %></td>
      <td><%= @sum.earned_hra %></td>
      <td><%= @sum.earned_convenience %></td>
      <td><%= @sum.earned_other %></td>
      <td><%= @sum.earned_special %></td>
      <td><%= @sum.earned_washing %></td>
      <td><%= @sum.earned_total %></td>

      <td><%= @sum.pf %></td>
      <td><%= @sum.esic %></td>
      <td><%= @sum.income_tax %></td>
      <td><%= @sum.pt %></td>
      <td><%= @sum.advance %></td>
      <td><%= @sum.society %></td>
      <td><%= @sum.food_deduction %></td>
      <td><%= @sum.mobile %></td>
      <td><%= @sum.retention %></td>
      <td><%= @sum.deduction_total %></td>

      <td><%= @sum.net_payable %></td>
    </tr>
  </tbody>
</table>
  <div class="col-sm-6">
    
  </div>