<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
  
        <Cell ss:Index="1"><Data ss:Type="String">Sr.No</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Employee Code</Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String">Employee Name</Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String">Department</Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String">PF No.</Data></Cell>
        <Cell ss:Index="6"><Data ss:Type="String">ESIC No.</Data></Cell>


        <Cell ss:Index="7"><Data ss:Type="String">Basic</Data></Cell>
        <Cell ss:Index="8"><Data ss:Type="String">DA</Data></Cell>
        <Cell ss:Index="9"><Data ss:Type="String">HRA</Data></Cell>
        <Cell ss:Index="10"><Data ss:Type="String">Conv</Data></Cell>
        <Cell ss:Index="11"><Data ss:Type="String">O.Allow</Data></Cell>
        <Cell ss:Index="12"><Data ss:Type="String">S.Allow</Data></Cell>
        <Cell ss:Index="13"><Data ss:Type="String">Wsh.Allow</Data></Cell>
        <Cell ss:Index="14"><Data ss:Type="String">Driver Allow</Data></Cell>
        <Cell ss:Index="15"><Data ss:Type="String">Medi Allow</Data></Cell>
        <Cell ss:Index="16"><Data ss:Type="String">Child Edu Allow</Data></Cell>
        <Cell ss:Index="17"><Data ss:Type="String">MRA</Data></Cell>
        <Cell ss:Index="18"><Data ss:Type="String">MA</Data></Cell>
        <Cell ss:Index="19"><Data ss:Type="String">Total</Data></Cell>

        <Cell ss:Index="20"><Data ss:Type="String">CL</Data></Cell>
        <Cell ss:Index="21"><Data ss:Type="String">EL</Data></Cell>
        <Cell ss:Index="22"><Data ss:Type="String">AL</Data></Cell>
        <Cell ss:Index="23"><Data ss:Type="String">OD</Data></Cell>
        <Cell ss:Index="24"><Data ss:Type="String">Coff</Data></Cell>
        <Cell ss:Index="25"><Data ss:Type="String">ESIC</Data></Cell>
        <Cell ss:Index="26"><Data ss:Type="String">LWP</Data></Cell>
        <Cell ss:Index="27"><Data ss:Type="String">Payable</Data></Cell>
        <Cell ss:Index="28"><Data ss:Type="String">PD</Data></Cell>
        <Cell ss:Index="29"><Data ss:Type="String">AD</Data></Cell>
        <Cell ss:Index="30"><Data ss:Type="String">HD</Data></Cell>
        <Cell ss:Index="31"><Data ss:Type="String">WOff</Data></Cell>

        <Cell ss:Index="32"><Data ss:Type="String">Basic</Data></Cell>
        <Cell ss:Index="33"><Data ss:Type="String">DA</Data></Cell>
        <Cell ss:Index="34"><Data ss:Type="String">HRA</Data></Cell>
        <Cell ss:Index="35"><Data ss:Type="String">conv</Data></Cell>
        <Cell ss:Index="36"><Data ss:Type="String">O.Allow</Data></Cell>
        <Cell ss:Index="37"><Data ss:Type="String">S.Allow</Data></Cell>
        <Cell ss:Index="38"><Data ss:Type="String">Wsh.Allow</Data></Cell>
        <Cell ss:Index="39"><Data ss:Type="String">Driver Allow</Data></Cell>
        <Cell ss:Index="40"><Data ss:Type="String">Medi Allow</Data></Cell>
        <Cell ss:Index="41"><Data ss:Type="String">Child Edu Allow</Data></Cell>
        <Cell ss:Index="42"><Data ss:Type="String">MRA</Data></Cell>
        <Cell ss:Index="43"><Data ss:Type="String">Gross</Data></Cell>

        <Cell ss:Index="44"><Data ss:Type="String">PF</Data></Cell>
        <Cell ss:Index="45"><Data ss:Type="String">ESIC</Data></Cell>
        <Cell ss:Index="46"><Data ss:Type="String">IT</Data></Cell>
        <Cell ss:Index="47"><Data ss:Type="String">PT</Data></Cell>
        <Cell ss:Index="48"><Data ss:Type="String">Adv.Sal</Data></Cell>
        <Cell ss:Index="49"><Data ss:Type="String">Society</Data></Cell>
        <Cell ss:Index="50"><Data ss:Type="String">Food</Data></Cell>
        <Cell ss:Index="51"><Data ss:Type="String">Mobile</Data></Cell>
        <Cell ss:Index="52"><Data ss:Type="String">Retention</Data></Cell>
        <Cell ss:Index="53"><Data ss:Type="String">Wel Faire</Data></Cell>
        <Cell ss:Index="54"><Data ss:Type="String">O.Dedu</Data></Cell>
        <Cell ss:Index="55"><Data ss:Type="String">Total Dedu</Data></Cell>

        <Cell ss:Index="56"><Data ss:Type="String">NET</Data></Cell>
        <Cell ss:Index="57"><Data ss:Type="String">SIGN</Data></Cell>
    </Row>
  <% i = 0 %>
    <% @reports.each do |r| %>
      <Row>
      
        <Cell ss:Index="1"><Data ss:Type="String"><%= i = i + 1 %></Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String"><%= r.try(:code) %></Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String"><%= r.try(:employee_name) %></Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String"><%= r.try(:department_name) %></Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String"><%= r.try(:pf_no) %></Data></Cell>
        <Cell ss:Index="6"><Data ss:Type="String"><%= r.try(:esic_no) %></Data></Cell>
      
        <Cell ss:Index="7"><Data ss:Type="Number"><%= r.try(:actual_basic).try(:round) %></Data></Cell>
        <Cell ss:Index="8"><Data ss:Type="Number"><%= r.try(:actual_da).try(:round) %></Data></Cell>
        <Cell ss:Index="9"><Data ss:Type="Number"><%= r.try(:actual_hra).try(:round) %></Data></Cell>

        <Cell ss:Index="10"><Data ss:Type="Number"><%= r.try(:actual_convenience).try(:round) %></Data></Cell>
        <Cell ss:Index="11"><Data ss:Type="Number"><%= r.try(:actual_other).try(:round) %></Data></Cell>
        <Cell ss:Index="12"><Data ss:Type="Number"><%= r.try(:actual_special).try(:round) %></Data></Cell>
        <Cell ss:Index="13"><Data ss:Type="Number"><%= r.try(:actual_washing).try(:round) %></Data></Cell>
        <Cell ss:Index="14"><Data ss:Type="Number"><%= r.try(:actual_driver).try(:round) %></Data></Cell>
        <Cell ss:Index="15"><Data ss:Type="Number"><%= r.try(:actual_medical).try(:round) %></Data></Cell>
        <Cell ss:Index="16"><Data ss:Type="Number"><%= r.try(:actual_child_edu).try(:round) %></Data></Cell>
        <Cell ss:Index="17"><Data ss:Type="Number"><%= r.try(:actual_mra).try(:round) %></Data></Cell>
        <Cell ss:Index="18"><Data ss:Type="Number"><%= r.try(:actual_monthly_arrear).try(:round) %></Data></Cell>

        <Cell ss:Index="19"><Data ss:Type="Number"><%= r.try(:actual_total).try(:round) %></Data></Cell>

        <Cell ss:Index="20"><Data ss:Type="Number"><%= r.try(:cl_leave) %></Data></Cell>
        <Cell ss:Index="21"><Data ss:Type="Number"><%= r.try(:el_leave) %></Data></Cell>
        <Cell ss:Index="22"><Data ss:Type="Number"><%= r.try(:advance_leave) %></Data></Cell>
        <Cell ss:Index="23"><Data ss:Type="Number"><%= r.try(:od_leave) %></Data></Cell>
        <Cell ss:Index="24"><Data ss:Type="Number"><%= r.try(:coff_leave) %></Data></Cell>
        <Cell ss:Index="25"><Data ss:Type="Number"><%= r.try(:esic_leave) %></Data></Cell>

        <Cell ss:Index="26"><Data ss:Type="Number"><%= r.try(:lwp_leave) %></Data></Cell>
        <Cell ss:Index="27"><Data ss:Type="Number"><%= r.try(:payable_day) %></Data></Cell>
        <Cell ss:Index="28"><Data ss:Type="Number"><%= r.try(:present_day) %></Data></Cell>
        <Cell ss:Index="29"><Data ss:Type="Number"><%= r.try(:absent_day) %></Data></Cell>
        <Cell ss:Index="30"><Data ss:Type="Number"><%= r.try(:holiday) %></Data></Cell>
        <Cell ss:Index="31"><Data ss:Type="Number"><%= r.try(:weekoff) %></Data></Cell>

        <Cell ss:Index="32"><Data ss:Type="Number"><%= r.try(:earned_basic).try(:round) %></Data></Cell>
        <Cell ss:Index="33"><Data ss:Type="Number"><%= r.try(:earned_da).try(:round) %></Data></Cell>
        <Cell ss:Index="34"><Data ss:Type="Number"><%= r.try(:earned_hra).try(:round) %></Data></Cell>

        <Cell ss:Index="35"><Data ss:Type="Number"><%= r.try(:earned_convenience).try(:round) %></Data></Cell>
        <Cell ss:Index="36"><Data ss:Type="Number"><%= r.try(:earned_other).try(:round) %></Data></Cell>
        <Cell ss:Index="37"><Data ss:Type="Number"><%= r.try(:earned_special).try(:round) %></Data></Cell>
        <Cell ss:Index="38"><Data ss:Type="Number"><%= r.try(:earned_washing).try(:round) %></Data></Cell>
        <Cell ss:Index="39"><Data ss:Type="Number"><%= r.try(:earned_driver).try(:round) %></Data></Cell>
        <Cell ss:Index="40"><Data ss:Type="Number"><%= r.try(:earned_medical).try(:round) %></Data></Cell>
        <Cell ss:Index="41"><Data ss:Type="Number"><%= r.try(:earned_child_edu).try(:round) %></Data></Cell>
        <Cell ss:Index="42"><Data ss:Type="Number"><%= r.try(:earned_mra).try(:round) %></Data></Cell>
        <Cell ss:Index="43"><Data ss:Type="Number"><%= r.try(:earned_monthly_arrear).try(:round) %></Data></Cell>
        <Cell ss:Index="44"><Data ss:Type="Number"><%= r.try(:earned_total).try(:round) %></Data></Cell>

        <Cell ss:Index="45"><Data ss:Type="Number"><%= r.try(:pf) %></Data></Cell>
        <Cell ss:Index="46"><Data ss:Type="Number"><%= r.try(:esic) %></Data></Cell>
        <Cell ss:Index="47"><Data ss:Type="Number"><%= r.try(:income_tax) %></Data></Cell>
        <Cell ss:Index="48"><Data ss:Type="Number"><%= r.try(:pt) %></Data></Cell>
        <Cell ss:Index="49"><Data ss:Type="Number"><%= r.try(:advance) %></Data></Cell>
        <Cell ss:Index="50"><Data ss:Type="Number"><%= r.try(:society) %></Data></Cell>

        <Cell ss:Index="51"><Data ss:Type="Number"><%= r.try(:food_deduction) %></Data></Cell>
        <Cell ss:Index="52"><Data ss:Type="Number"><%= r.try(:mobile) %></Data></Cell>
        <Cell ss:Index="53"><Data ss:Type="Number"><%= r.try(:retention) %></Data></Cell>
        <Cell ss:Index="54"><Data ss:Type="Number"><%= r.try(:welfair) %></Data></Cell>
        <Cell ss:Index="55"><Data ss:Type="Number"><%= r.try(:other_deduction) %></Data></Cell>
        <Cell ss:Index="56"><Data ss:Type="Number"><%= r.try(:deduction_total).round %></Data></Cell>
        <Cell ss:Index="57"><Data ss:Type="Number"><%= r.try(:net_payable).round %></Data></Cell>
        <Cell ss:Index="58"><Data ss:Type="String"><%=  %></Data></Cell>
      </Row>
    <% end %>  
    </Table>
  </Worksheet>
</Workbook>