<!--SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Welfare Report</h3>
  </div><!-- /.box-header -->

  <div class="box-body">
    <%= bootstrap_form_for(:employee, url: { action: 'wellfair_dynamic_report'},html: {id: 'employee'},remote:true) do |f| %>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= text_field :employee, :from,{label: 'From Date', placeholder: 'From Date' , class: 'form-control request_date'}%>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= text_field :employee, :to,{label: 'To Date', placeholder: 'To Date',class: 'form-control request_date'}%>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group required">
              <%=f.select :company_id, all_company,{include_blank: "Select Company",hide_label: true},{onchange:"var a={id:$(this).val(), form : 'employee'}; $.get('/employees/collect_company_location',a,function(response){});"}%>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group required">
              <div id="company_location">
                <%= render 'employees/company_location_dropdown' %> 
            </div>
            </div>
          </div>
        </div>

        <br>
        <div class="row">
          <div class="col-sm-2">
            <div class="actions">
              <%= f.submit "Display Report", class: "btn btn-sm btn-primary",id: "buttonCtc" %>
            </div>
          </div>
        </div><br>
        <div class="ajax-progress"></div>
        <div id="welfair_li"></div>

      <br>
    <% end %>
  </div><!-- /.box-body -->
</div><!-- /.box -->

<script type="text/javascript">
$(function(){
    $('.request_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:+1',
    dateFormat: 'dd-mm-yy' });
  }); 

  $("#buttonCtc").click(function(){
    $('.ajax-progress').show();
    $("#employee").submit();
  })
</script>

<script>
$("#employee").validate({
    rules: {
      "employee[from]":{
        required: true,
      },
      "employee[to]":{
        required: true,
      }
    },
    messages: {
      "employee[from]":{
        required: "Please select From Date",
      },
      "employee[to]":{
        required: "Please select To Date",
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
