<%= bootstrap_form_for(@performance_period, remote: true,html: {id: "performance_period"}) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :title,label: 'Title', placeholder: 'Title' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :description,label: 'Description' , placeholder: 'Description' %>
      </div>
    </div>

    <div class="col-sm-3">
      <label>From Date: </label>
      <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :start_date, hide_label: true, class: 'birth_date1'%>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <label>To Date: </label>
      <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :end_date, hide_label: true, class: 'birth_date1'%>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.check_box :is_open,include_blank: "Is Open",label: 'Active' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Rating",class: 'btn btn-primary btn-sm'%>
      </div>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    $('.start_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+25',
    dateFormat: 'dd-mm-yy' });

    $('.end_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+25',
    dateFormat: 'dd-mm-yy' });
});

  $("#performance_period").validate({
    rules: {
      "performance_period[title]":{
        required: true
      },
      "performance_period[description]":{
        required: true
      },
      "performance_period[start_date]":{
        required: true
      },
      "performance_period[end_date]":{
        required: true
      }
    },
    messages: {
      "performance_period[title]":{
        required: "Please specify title"
      },
      "performance_period[description]":{
        required: "Please specify description"
      },
      "performance_period[start_date]":{
        required: "Please specify start_date"
      },
      "performance_period[end_date]":{
        required: "Please specify end_date"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>