<%= bootstrap_form_for(@performance_period, remote: true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :title,hide_label:true, placeholder: 'Title' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :description,hide_label:true, placeholder: 'Description' %>
      </div>
    </div>

    <div class="col-sm-3">
      <label>From Date: </label>
      <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :start_date, hide_label: true, class: 'Start Date'%>
        </div>
      </div>
    </div>
    </div>

    <div class="row">
    <div class="col-sm-3">
      <label>To Date: </label>
      <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :end_date, hide_label: true, class: 'End Date'%>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.check_box :is_open,include_blank: "Is Open",label: 'Active' %>
      </div>
    </div>


    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Rating",class: 'btn btn-primary btn-sm'%>
      </div>
    </div>
  </div>
<% end %>


<script type="text/javascript">
  $(function(){
    $('.start_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+25',
    dateFormat: 'dd-mm-yy' });

    $('.end_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+25',
    dateFormat: 'dd-mm-yy' });
});
</script>