<p id="notice"><%= notice %></p>
  <h3>Performance Period</h3>
    
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @performance_periods.each do |performance_period| %>
          <tr>
            <td><%= performance_period.title %></td>
            <td><%= performance_period.description %></td>
            <td><%= performance_period.start_date %></td>
            <td><%= performance_period.end_date %></td>
            <td><%= performance_period.is_open %></td>
            <td>
            <%= link_to '', edit_performance_period_path(performance_period),class: 'btn btn-xs btn-success fa fa-edit' %>
            <%= link_to '', performance_period, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-xs btn-danger fa fa-close' %>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
