<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Period</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed'">

      <tr>
        <th><strong>Title:</strong></th>
        <td><%= @performance_period.title %></td>
      
        <th><strong>Start date:</strong></th>
        <td><%= @performance_period.start_date %></td>
      </tr>

      <tr>
        <th><strong>End date:</strong></th>
        <td><%= @performance_period.end_date %></td>
      
        <th><strong>Description:</strong></th>
        <td><%= @performance_period.description %></td>
      </tr>

      <tr>
        <th><strong>Is open:</strong></th>
        <td><%= @performance_period.is_open %></td>
        
        <th></th>
        <td></td>
      </tr>
    </table>

  </div>
</div>

<%= link_to 'Edit', edit_performance_period_path(@performance_period) %> |
<%= link_to 'Back', performance_periods_path %>
