<table id="example1" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Account Code</th>
      <th>Is Deducted</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @salary_components.each do |salary_component| %>
      <tr>
        <td><%= salary_component.code %></td>
        <td><%= salary_component.name %></td>
        <td><%= salary_component.description %></td>
        <td><%= salary_component.account_code %></td>
        <td><%= salary_component.is_deducted ? "Yes" : "No" %></td>
        <td><%= salary_component.is_active ? "Active" : "Inactive" %></td>

        <td>
          <% if salary_component.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
          <% else %>
            <%= link_to '', edit_salary_component_path(salary_component),class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
            <%= link_to '', is_confirm_salary_components_path(salary_component: salary_component),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
