<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @salary_component.name %>
</p>

<p>
  <strong>Is deducted:</strong>
  <%= @salary_component.is_deducted %>
</p>

<p>
  <strong>Code:</strong>
  <%= @salary_component.code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @salary_component.description %>
</p>

<%= link_to 'Edit', edit_salary_component_path(@salary_component) %> |
<%= link_to 'Back', salary_components_path %>
