<%= bootstrap_form_for Trainee.new,url:{action:'confirm_employee_for_training'} do |f| %>
<div class="box-body">
<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
        <td colspan="8"><center>Employee List For Training</center></td>
    </tr>
    <tr>
      <th><input type="checkbox" id="selectAll" value="selectAll"></th>
      <th>Sr.No</th>
      <th>ID</th>
      <th>Name</th>
      <th>Department</th>
      <th>Designation</th>
      <th>Contact No</th>
      <th>Signature</th>
  </thead>
  <tbody>
  <% i = 0 %>
   <% @trainees.each do |trainee| %>
      <tr>
        <td>
          <% if trainee.is_complete == true %>
          <% else %>
            <%= check_box_tag "trainee_ids[]", trainee.id %>
          <% end %>
        </td>
        <td><%= i=i+1 %></td>
        <td><%= trainee.employee.try(:manual_employee_code) %></td> 
        <td><%= full_name(trainee.employee) %></td>
        <td><%= trainee.employee.department.try(:name) %></td>
        <td><%= trainee.employee.joining_detail.employee_designation.try(:name) %></td>
        <td><%= trainee.employee.try(:contact_no) %></td>
        <td></td>
      </tr>
      <% end %>
  </tbody>
</table>
</div>

<div class="row">
  <div class="col-sm-9">
    <div class="actions">
      <%= f.submit " Training Attended", class: 'btn btn-sm btn-primary fa fa-check' %> |
      <%= link_to " Print Training Report ", print_training_details_training_plans_path(id: @training_plan.id, format: "pdf"), class: "btn btn-xl btn-info fa fa-print",:target => "_blank" %> |
      <%= link_to 'Back', training_plans_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>