    <h2><strong>Training Details</strong></h2><br><br>
    <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
      <tr>
        <th><strong>Training date:</strong></th>
        <td><%= @training_plan.training_date %></td>
      
        <th><strong>Topic:</strong></th>
        <td><%= @training_plan.training_topic_master.try(:name) %></td>
      </tr>

      <tr>
        <th><strong>No of employee:</strong></th>
        <td><%= @training_plan.no_of_employee %></td>
      
        <th><strong>Trainer name:</strong></th>
        <td><%= @training_plan.trainer_name %></td>
      </tr>

      <p>
        <th><strong>No of days:</strong></th>
        <td><%= @training_plan.no_of_days %></td>
      
        <th><strong>No of hrs:</strong></th>
        <td><%= @training_plan.no_of_hrs %></td>
      </p>

      <tr>
        <th><strong>Place:</strong></th>
        <td><%= @training_plan.place %></td>

        <th></th>
        <td></td>
      </tr>
    </table><br><br>

    <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>Sr.No</th>
      <th>Employee Name</th>
      <th>Signature</th>
  </thead>
  <tbody>
  <% i = 0 %>
   <% @trainees.each do |trainee| %>
      <tr>
        <td><%= i=i+1 %></td>
        <td><%= trainee.employee.try(:first_name) %> <%= trainee.employee.try(:middle_name) %> <%=trainee.employee.try(:last_name) %></td>
        <td></td>
      </tr>
      <% end %>
  </tbody>
</table>