<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Training Plan</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">

      <tr>
        <th><strong>Training Date:</strong></th>
        <td><%= @training_plan.training_date %></td>
      
        <th><strong>Topic:</strong></th>
        <td><%= @training_plan.training_topic_master.try(:name) %></td>
      </tr>

      <tr>
        <th><strong>No of Employee:</strong></th>
        <td><%= @training_plan.no_of_employee %></td>
      
        <th><strong>Trainer Name:</strong></th>
        <td><%= @training_plan.trainer_name %></td>
      </tr>

      <tr>
        <th><strong>Contact No:</strong></th>
        <td><%= @training_plan.trainer_num %></td>
      
        <th><strong>About Trainer:</strong></th>
        <td><%= @training_plan.about_trainer %></td>
      </tr>

      <tr>
        <th><strong>No of Days:</strong></th>
        <td><%= @training_plan.no_of_days %></td>
      
        <th><strong>No of Hrs:</strong></th>
        <td><%= @training_plan.no_of_hrs %></td>
      </tr>

      <tr>
        <th><strong>Place:</strong></th>
        <td><%= @training_plan.place %></td>

        <th></th>
        <td></td>
      </tr>
    </table>
    <div class="box-header with-border">
       <h3 class="box-title">Employee's Who are Going To Attend Training</h3>
    </div>
    <div>
      <%= render 'trainee' %>
    </div>
      <%= link_to " Print Training Report ", print_training_details_training_plans_path(id: @training_plan.id, format: "pdf"), class: "btn btn-xl btn-info fa fa-print",:target => "_blank" %>  
      <%= link_to 'Back', training_plans_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
  </div>
</div>
