<p id="notice"><%= notice %></p>

<p>
  <strong>Issue request:</strong>
  <%= @issue_locker.issue_request %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @issue_locker.employee %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue_locker.status %>
</p>

<%= link_to 'Edit', edit_issue_locker_path(@issue_locker) %> |
<%= link_to 'Back', issue_lockers_path %>
