<table id="example6" class="table table-bordered table-hover table-condensed'">
    <thead>
      <tr>
      
      <th>Code</th>
      <th>Name</th>
      <th>Company Location</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        
        <td><%= department.manual_department_code %></td>
        <td><%= department.name %></td>
        <td><%= department.company_location.try(:name) %></td>

        <td>
         <% if department.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
            <% else %>
            
             <%= link_to '', edit_department_path(department), class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
             <!-- link_to '', department, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-sm  btn-danger fa fa-close' -->
            <%= link_to '', is_confirm_departments_path(department: department),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
            <%= link_to '', department,class: 'btn btn-default btn-sm fa fa-eye' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <script type="text/javascript">
  $(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>