<%= bootstrap_form_for(@department) do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :company_location_id, value: current_user.account_id %>
       
  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :name %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :email %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
          <%= f.select :department_type_id, all_department_type %>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
    <%= f.text_field :address %>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
          <%= f.number_field :pin_code %>
       </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :head_of_department %>
         </div>
      </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :contact_no %>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
    <%= f.text_field :manager %>
        </div>
      </div>
  </div>


   <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :hr %>
       </div>
      </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="actions">
         <%= f.submit %>
        </div>
      </div>
  </div>

<% end %>
