<p id="notice"><%= notice %></p>

<p>
  <strong>Company location:</strong>
  <%= @department.company_location %>
</p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Department type:</strong>
  <%= @department.department_type %>
</p>

<p>
  <strong>Address:</strong>
  <%= @department.address %>
</p>

<p>
  <strong>Pin code:</strong>
  <%= @department.pin_code %>
</p>

<p>
  <strong>Head of department:</strong>
  <%= @department.head_of_department %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @department.contact_no %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @department.manager %>
</p>

<p>
  <strong>Hr:</strong>
  <%= @department.hr %>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
