<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Department</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>

    <tr>
      <th> <strong>Company location:</strong></th>
      <td> <%= @department.company_location.name %></td>

      <th><strong>Name:</strong></th>
      <td><%= @department.name %></td>
    </tr>

     <tr>
      <th><strong>Department type:</strong></th>
      <td><%= @department.department_type.name %></td>

      <th> <strong>Contact no:</strong></th>
      <td> <%= @department.contact_no %></td>
      
    </tr>


</table>

    <%= link_to 'Edit', edit_department_path(@department),class: 'btn btn-success fa fa-edit' %> |
    <%= link_to 'Back', root_path,class: 'btn btn-default fa fa-arrow-left' %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about the plugin.
  </div>
</div><!-- /.box -->
