<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Your leave transfer request Rejected By</h4>
    <p> current_user.employee.first_name.to_s+' '+current_user.employee.last_name.to_s </p>
    <h4>Your leave transfer request</h4>
    <p>
      Transfer By : <%= @leave_transfer.employee.manual_employee_code %> - <%= @leave_transfer.employee.try(:prefix).to_s+' '+@leave_transfer.employee.first_name.to_s+' '+@leave_transfer.employee.last_name.to_s %><br>
      Transfer To : <%= @leave_transfer.transfer_to.manual_employee_code %> - <% @leave_transfer.transfer_to.try(:prefix).to_s+' '+@leave_transfer.transfer_to.first_name.to_s+' '+@leave_transfer.transfer_to.last_name.to_s %><br>
      Leave Category : <%= @leave_transfer.leav_category.try(:name) %><br>
      Date <%= @leave_transfer.date.to_date %><br>
      No of Days : <%= @leave_transfer.no_of_leave %><br>
    </p>
  </body>
</html>
