<!-- SELECT2 EXAMPLE -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <style>
     .w3-btn{width:auto;}
    </style>

    <style type="text/css">
    .bs-example{
      margin: 20px;
    }
    .icon-input-btn{
        display: inline-block;
        position: relative;
    }
    .icon-input-btn input[type="button"]{
        padding-left: 2em;
    }
    .icon-input-btn .glyphicon{
        display: inline-block;
        position: absolute;
        left: 0.75em;
        top: 30%;
    }
</style>



  <script type="text/javascript">
$(document).ready(function(){
  $(".icon-input-btn").each(function(){
        var btnFont = $(this).find(".btn").css("font-size");
        var btnColor = $(this).find(".btn").css("color");
    $(this).find(".glyphicon").css("font-size", btnFont);
        $(this).find(".glyphicon").css("color", btnColor);
        if($(this).find(".btn-xs").length){
            $(this).find(".glyphicon").css("top", "24%");
        }
  }); 
});
 </script>


<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Induction Templates</h3>
  </div><!-- /.box-header -->

<div class="box-body">

<%= bootstrap_form_for(@induction_template,html: {id: 'induction_template'},remote:true) do |f| %>
     
      <div class="row">
        <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :template_no, class: 'input_template_no' %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :description, label: 'Description', class: 'input_description' %>
          </div>
        </div>
      </div>
     <div id="entry1" class="clonedInput "> 
      <div class="row">
        <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :activity, label: 'Activity', class: 'input_activity' %>
          </div>
        </div>
    
        <div class="col-sm-2">
          <div class="field">
            <%= f.text_field :day, label: 'Day', class: 'input_day' %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :duration, label: 'Duration', class: 'input_duration' %>
          </div>
        </div>
       
        <div class="col-sm-4">
        <label>Contact Person</label>
          <div class="field">
          <%= f.select :employee_id,all_employee_list,{hide_label: true,include_blank: " Select Employee"},class: 'input_employee' %>
           </div>
        </div>
    </div>    
    </div>

        <% unless params['controller'] == 'induction_templates' and params['action'] == 'edit' %>
        <div class="row">
          <div class="col-sm-2">
            <input type="button" id="btnAdd" value="+ Add Information" class="btn btn-success"> 
          </div>

          <div class="col-sm-3">
            <input type="button" id="btnDel" value="Remove Information" class="btn btn-sm btn-danger">
          </div>
        </div><br>
      <%end%>
      
      <div class="row">
        <div class="col-sm-4">
          <div class="actions">
            <%= f.submit :class => class_name, data: { disable_with: data_info } %>
            <% if params['controller'] == 'induction_templates' and params['action'] == 'edit' %>
          <%end%>
          </div>
        </div>
      </div>

  </div>
<% end %>
</div><!-- /.box-body -->
</div><!-- /.box -->


<script type="text/javascript">
  $(function () {
  $('#btnAdd').click(function () {
    var num     = $('.clonedInput').length, 
        newNum  = new Number(num + 1),      
        newElem = $('#entry' + num).clone().attr('id', 'entry' + newNum).fadeIn('slow'); 
    newElem.find('.input_template_no').attr('name','induction_template['+ newNum +'][template_no]').attr('id', newNum + '_induction_template_template_no').val(''); 
    newElem.find('.input_description').attr('name','induction_template['+ newNum +'][description]').attr('id', newNum + '_induction_template_description').val(''); 
    newElem.find('.input_activity').attr('name','induction_template['+ newNum +'][activity]').attr('id', newNum + '_induction_template_activity').val(''); 
    newElem.find('.input_day').attr('name','induction_template['+ newNum +'][day]').attr('id', newNum + '_induction_template_day').val('');
    newElem.find('.input_duration').attr('name','induction_template['+ newNum +'][duration]').attr('id', newNum + '_induction_template_duration').val('');
    newElem.find('.input_employee').attr('name','induction_template['+ newNum +'][employee_id]').attr('id', newNum + '_induction_template_employee').val('');
    
    $('#entry' + num).after(newElem);
    $('#ID' + newNum + '_title').focus();

    $('#btnDel').attr('disabled', false);

    if (newNum == 5)
    $('#btnAdd').attr('disabled', true).prop('value', "You've reached the limit"); 
  });

  $('#btnDel').click(function () {
      if (confirm("Are you sure you wish to remove this section? This cannot be undone."))
          {
              var num = $('.clonedInput').length;
              $('#entry' + num).slideUp('slow', function () {$(this).remove();
                  if (num -1 === 1)
              $('#btnDel').attr('disabled', true);
              $('#btnAdd').attr('disabled', false).prop('value', "+ Add Information");});
          }
      return false;
  });
  $('#btnAdd').attr('disabled', false);
  $('#btnDel').attr('disabled', true);
});
</script>