<%= bootstrap_form_for(@training_topic_master,html: {id: 'training_topic_master'},remote:true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code,hide_label:true, placeholder: 'Training Course Code ' %>
      </div>
    </div> 
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,hide_label:true, placeholder: 'Training Course Type' %>
      </div>
    </div>
     <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :description,hide_label:true, placeholder: 'Description' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Training Course", class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<script>
$("#training_topic_master").validate({
    rules: {
      "training_topic_master[code]":{
        required: true,
      },
      "training_topic_master[name]":{
        required: true,
      }
       },
    messages: {
      "training_topic_master[code]":{
        required: "Please Specify Training Course Code",
      },
       "training_topic_master[name]":{
        required: "Please Specify Training Course Type",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>