<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @training_topic_masters.each do |training_topic_master| %>
      <tr>
        <td><%= training_topic_master.code %></td>
        <td><%= training_topic_master.name %></td>
        <td><%= training_topic_master.description %></td>
        <td>
            <%= link_to '', edit_training_topic_master_path(training_topic_master),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '',  training_topic_master, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true
    } );
} );
</script>