<!-- Info boxes -->
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="glyphicon glyphicon-th-large"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Companies</span>
        <span class="info-box-number"><%=@companies.try(:count)%></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-red"><i class="glyphicon glyphicon-th-list"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Locations</span>
        <span class="info-box-number"><%= @company_locations.try(:count)%></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->

  <!-- fix for small devices only -->
  <div class="clearfix visible-sm-block"></div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="glyphicon glyphicon-th"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Departments</span>
        <span class="info-box-number"><%= @departments.try(:count) %></span>
      </div><!-- /.info-box-content --> 
    </div><!-- /.info-box -->
  </div><!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Employees</span>
        <span class="info-box-number"><%= @employees.try(:count) %></span>
      </div><!-- /.info-box-content -->
    </div><!-- /.info-box -->
  </div><!-- /.col -->
</div><!-- /.row -->

<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee List</h3>
    <div class="pull-right">
      <%= link_to "Create Employee", new_employee_path, class: 'btn btn-sm btn-primary' %> 
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
      <th>Code</th>
      <th>Employee Name</th>
      <th>Comapny Location</th>
      <th>Date of Birth</th>
      <th>Employement</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.manual_employee_code %></td>
        <td><%= full_name(employee) %></td>
        <td><%= employee.try(:company_location).try(:name) %></td>
        <td><%= employee.date_of_birth %></td>
        <td> <%= employee.employee_type.try(:name) %></td>
        <td><%= employee.status %></td>
        <td>
          <%= link_to '', employee,class: 'btn btn-sm btn-default fa fa-eye' %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>