
<%= link_to 'Basic Details',basic_detail_employees_path(id: @employee.id),class: 'btn btn-sm btn-primary', remote:true%>

<%= link_to 'Joining Details',ajax_joining_detail_employees_path(id: @employee.id),class: 'btn btn-sm btn-primary',remote:true%>

<%= link_to 'Bank Details',ajax_bank_detail_employees_path(id: @employee.id),class: 'btn btn-sm btn-primary',remote:true%>

<%= link_to 'Qualification Details',ajax_qualification_detail_employees_path(id: @employee.id),class: 'btn btn-sm btn-primary',remote:true%>

<%= link_to 'Experience Details',ajax_experience_detail_employees_path(id: @employee.id),class: 'btn btn-sm btn-primary',remote:true%>

<%= link_to 'Skillset Details',ajax_skillset_detail_employees_path(id: @employee.id),class: 'btn btn-sm btn-primary',remote:true%>

<%= link_to 'Certification Details',ajax_certification_detail_employees_path(id: @employee.id),class: 'btn btn-sm btn-primary',remote:true%>

<%= link_to 'Award Details',ajax_award_detail_employees_path(id: @employee.id),class: 'btn btn-sm btn-primary',remote:true%>

<%= link_to 'Physical Details',ajax_physical_detail_employees_path(id: @employee.id),class: 'btn btn-sm btn-primary',remote:true%>

<%= link_to 'Family Details',ajax_family_detail_employees_path(id: @employee.id),class: 'btn btn-sm btn-primary',remote:true%>

<div id="message">
	
</div>

<div id='info'><%= render 'employees/show_detail'%></div>

    
    
