<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Code</th>
      <th>Description</th>
      <th>Limit</th>
      <th>Status</th>
      <th>Action</th>
 
  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.code %></td>
        <td><%= section.description %></td>
        <td><%= section.limit %></td>
         <td><%= section.status ? "Active" : "Inactive" %></td>
        <td>
           <%= link_to '', edit_section_path(section),class: 'btn btn-success btn-xs fa fa-edit',remote:true %> 
          <%= link_to '',  section, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-xs fa fa-close',remote:true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>