<p id="notice"><%= notice %></p>

<h1>Listing Food Coupan Masters</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_coupan_masters.each do |food_coupan_master| %>
      <tr>
        <td><%= food_coupan_master.code %></td>
        <td><%= food_coupan_master.name %></td>
        <td><%= food_coupan_master.description %></td>
        <td><%= food_coupan_master.price %></td>
        <td><%= link_to 'Show', food_coupan_master %></td>
        <td><%= link_to 'Edit', edit_food_coupan_master_path(food_coupan_master) %></td>
        <td><%= link_to 'Destroy', food_coupan_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food coupan master', new_food_coupan_master_path %>
