<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @food_coupan_master.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @food_coupan_master.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food_coupan_master.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @food_coupan_master.price %>
</p>

<%= link_to 'Edit', edit_food_coupan_master_path(@food_coupan_master) %> |
<%= link_to 'Back', food_coupan_masters_path %>
