<div class="box">
  <div class="box-body">

    <table id="example6" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>OD Type</th>
          <th>No. Of Days</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <% @on_duty_requests.each do |on_duty_request| %>
          <tr>
            <% if @current_request.id == on_duty_request.id %>
              <th><font color='green'>*<%= on_duty_request.employee.try(:manual_employee_code) %> </font></th>
              <th><font color='green'><%= on_duty_request.leave_type %></th></font>
              <th><font color='green'><%= on_duty_request.no_of_day %></th></font>
            <%else%>
              <td><%= on_duty_request.employee.try(:manual_employee_code) %></td>
              <td><%= on_duty_request.leave_type %></td>
              <td><%= on_duty_request.no_of_day %></td>
            <%end%>
            <td>
              <% on_duty_request.od_status_records.try(:each) do |r| %>
                <% case r.status %>
                  <% when "Pending" %>
                    <small class="label label-default">Pending</small>
                  <% when "FirstApproved" %>
                    <small class="label label-primary">FirstApproved</small>
                  <% when "FinalApproved" %>
                    <small class="label label-success">FinalApproved</small>
                  <% when "Rejected" %>
                    <small class="label label-danger">Rejected</small>
                  <% when "Cancelled" %>
                    <small class="label label-warning">Cancelled</small>
                  <% else %>
                    <small class="label label-info">Else</small>
                <%end%>
              <%end%>
            </td> 
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  <table id="example1" class="table table-bordered table-hover table-condensed">
    <tbody>
      <tr><td colspan="4"><font color='red'><center>Employee Current OD Detail</center></font></td></tr>
      <tr>
        <th>ID</th>
        <td><%= @current_request.employee.try(:manual_employee_code) %></td>

        <th>Employee Name</th>
        <td><%= full_name(@current_request.employee) %></td>
      </tr>
      <tr>
        <th>From Date</th>
        <td><%= @current_request.start_date.to_date %></td>

        <th>To Date</th>
        <td><%= @current_request.end_date.to_date %></td>
      </tr>
      <tr>
        <th>No. of Day</th>
        <td><%= @current_request.no_of_day %></td>

        <th>Current Status</th>
        <td><%= @current_request.try(:current_status) %></td>
      </tr>
      <tr>
        <th>Reason</th>
        <td colspan="3"><%= @current_request.try(:reason) %></td>
      </tr>
    </tbody>
  </table>
  <br>
     <%= link_to 'Back', od_request_list_on_duty_requests_path,class: 'btn btn-sm btn-default fa fa-arrow-left' %> |
    <% if @current_request.current_status == "Pending" %>
        <%= link_to 'Approve', first_approve_od_status_record_path(@current_request.id), data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-info fa fa-check' %> |
        <%= link_to 'Reject', first_reject_od_status_record_path(@current_request.id), data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-danger fa fa-trash' %>
      <% else %>
        <%= link_to 'Approve', second_approve_od_status_record_path(@current_request.id), data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-info fa fa-check' %> |
        <%= link_to 'Reject', second_reject_od_status_record_path(@current_request.id), data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-danger fa fa-trash' %>
      <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>