<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:Index="1"><Data ss:Type="String">ID </Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Employee Name </Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String">On Duty Type </Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String">No. Of Days </Data></Cell>
        <Cell ss:Index="6"><Data ss:Type="String">From Date </Data></Cell>
        <Cell ss:Index="7"><Data ss:Type="String">To Date </Data></Cell>
        <Cell ss:Index="8"><Data ss:Type="String">Status </Data></Cell>
      </Row>

      <% @on_duty_requests.each do |on_duty_request| %>
      <Row>
          <Cell ss:Index="1"><Data ss:Type="String"><%= on_duty_request.employee.try(:manual_employee_code) %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="String"><%= full_name(on_duty_request.employee) %></Data></Cell>
          <Cell ss:Index="4"><Data ss:Type="String"><%= on_duty_request.leave_type %></Data></Cell>
          <Cell ss:Index="5"><Data ss:Type="String"><%= on_duty_request.no_of_day %></Data></Cell>
          <Cell ss:Index="6"><Data ss:Type="String"><%= on_duty_request.start_date.to_date %></Data></Cell>
          <Cell ss:Index="7"><Data ss:Type="String"><%= on_duty_request.end_date.to_date %></Data></Cell>
          <Cell ss:Index="8"><Data ss:Type="String"><%= on_duty_request.current_status %></Data></Cell>
      </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>