<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4>Confirmed By Appraiser</h4>
    <p>
       1. <b>Employee :-</b> <%= @emp.first_name%> <%= @emp.middle_name%> <%= @emp.last_name %><br><br>
       2. <b>Appraiser :-</b> <%= @emp.manager.first_name %> <%= @emp.manager.middle_name %> <%= @emp.manager.last_name %><br><br>
       3. <b>Contact no :-</b> <%= @emp.contact_no %><br><br>
       4. <b>Department :-</b> <%= @emp.department.name %><br><br>
      <div class="row">
        <div class="col-sm-5">
            With Regards,<br><br>
           
        </div>
      </div>
    </p>
  </body>
</html>