<div class="box">
<div class="box-header">
<h3 class="box-title">Due Details For : <%= code_full_name(@due_employee_details.first.employee) %> , Template Name : <%= @due_employee_details.first.due_template.try(:name) %></h3>
  <!-- <div class="pull-right">
    <= link_to "Full & Final Settlement", full_and_final_settlement_due_details_path,class: 'btn btn-primary' %> 
  </div> -->
</div>
<div class="box-body">
<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
  <% @due_employee_details.each do |due_employee_detail| %>
  <tr><th colspan="5"><center>Member Detail</center></th></tr>
    <tr>
     <th>ID</th>
     <th>Member</th>
     <th>Department</th>
     <th>Designation</th>
     <th></th>
     </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= due_employee_detail.reporting_master.employee.try(:manual_employee_code) %></td>      
        <td><%= full_name(due_employee_detail.reporting_master.employee) %></td>
        <td><%= due_employee_detail.reporting_master.employee.department.try(:name) %></td> 
        <td><%= due_employee_detail.employee.joining_detail.employee_designation.try(:name) %></td>
        <td></td>
      </tr>
      <tr><th colspan="5"><center>Due Detail</center></th></tr>
      <tr>
          <th>Item Name</th>
          <th>Remark</th>
          <th>Confirm</th>
          <th>Status</th>
          <th>Amount</th>
      </tr>
      <% due_employee_detail.due_actions.try(:each) do |due_action| %>
      <tr>
        <td><%= due_action.name %></td>
        <td><%= due_action.remark %></td>
        <td><%= due_action.is_confirm ? "Yes" : "No" %></td>
        <td>
          <% if due_action.status == false %>
          <small class="label label-default">Pending</small>
          <% else %>
          <small class="label label-success">Clear</small>
          <% end %>
        </td>
        <td><%= due_action.amount %></td>
      </tr>
      <%end%><br>
      <tr>
        <th>Pending Total</th>
        <% a=DueAction.where(due_employee_detail_id: due_employee_detail,status: false) %>
        <th><%= pending_total=a.sum(:amount) %></th>
     
        <th>Clear Total</th>
        <% b=DueAction.where(due_employee_detail_id: due_employee_detail,status: true) %>
        <th><%= clear_total=b.sum(:amount) %></th>

        <th><%= total=due_employee_detail.due_actions.sum(:amount) %></th>
      </tr>
      <tr><th colspan="5"></th></tr>
    <% end %>
    <tr>
        <th>Grand Pending Total</th>
        <% c=DueEmployeeDetail.where(employee_id: @employee.id).pluck(:id) %>
        <% d=DueAction.where(due_employee_detail_id: c,status: false) %>
        <th><%= grand_pending_total=d.sum(:amount) %></th>
     
        <th> Grand Clear Total</th>
        <% e=DueAction.where(due_employee_detail_id: c,status: true) %>
        <th><%= grand_clear_total=e.sum(:amount) %></th>
        
        <% f=DueAction.where(due_employee_detail_id: c) %>
        <th><%= f.sum(:amount) %></th>
    </tr>
  </tbody>
</table>
</div>

<div class="box-body">
 <table id="example1" class="table table-bordered table-hover table-condensed">
    <thead>
     <!--  <tr>
        <td colspan="8"><center><strong><%= current_user.company_location.company.description %></strong><br><%= current_user.company_location.address %>, <= current_user.company_location.name %></center></td>
      </tr> -->
      <tr><th colspan="4"><center>Advance Salary Detail</center></th></tr>
      <tr>
        <th>Advance Amount</th>
        <th>No. of Installment</th>
        <th>Installment Amount</th>
        <th>Advance Date</th>
      </tr>
    </thead>

    <tbody>
      <% @advance_salaries.each do |advance_salary| %>
        <tr>
          <td><%= advance_salary.advance_amount %></td>
          <td><%= advance_salary.no_of_instalment %></td>
          <td><%= advance_salary.instalment_amount %></td>
          <td><%= advance_salary.advance_date %></td>
         
       </tr>
      <!--  <tr>
          <td colspan="3">Total</td>
          <th><= @sum.advance_amount %></th>
          <td colspan="4"></td>
       </tr> -->
       <tr><th colspan="4"><center>Installment Detail</center></th></tr>
      <tr>
          <th colspan="3">Instalment Date</th>
          <th>Instalment Amount</th>
          
      </tr>
      <% advance_salary.instalments.where(is_complete: false).try(:each) do |instalment| %>
      <tr>
          <td colspan="3"><%= instalment.try(:instalment_date) %></td>
          <td><%= instalment.try(:instalment_amount)  %></td>
      </tr>
     
      <%end%><br>
       <tr>
       <th colspan="3">Total</th>
         <th><% inst=advance_salary.instalments.where(is_complete: false) %>
           <%= inst.sum(:instalment_amount) %>
         </th>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="box-body">
    <table id="example6" class="table table-bordered table-hover table-condensed'">
    <thead>
      <tr><th colspan="2"><center>Leave Balance</center></th></tr>
      <tr>
      <th>Category</th>
      <th>No. of Leave</th>
    </tr>
  </thead>

  <tbody>
    <% @employee_leav_balances.each do |employee_leav_balance| %>
      <tr>
        <td><%= employee_leav_balance.leav_category.try(:code) %> - <%= employee_leav_balance.leav_category.try(:name) %></td>
        <td><%= employee_leav_balance.no_of_leave %></td>
        </tr>
       
      <% end %>
       <tr>
         <th>Total</th>
           <th><%= @employee_leav_balances.sum(:no_of_leave) %>
           </th>
        </tr>
        <!-- <tr>
     < @employee_salary_templates = EmployeeSalaryTemplate.where(employee_id: @employee.id)
     @leave_cash_masters = LeaveCashMaster.where(is_active: true)
     # @day_in_month =  @leave_cashable.date.end_of_month.day
     day_in_month = Date.today.end_of_month.day
     sum = @employee_leav_balances.sum(:no_of_leave)
     @employee_salary_templates.try(:each) do |est|
        @leave_cash_masters.try(:each) do |lcm|
          formula_string = lcm.base_component.split(',').map {|i| i.to_i}
          @employee_templates = EmployeeTemplate.where(employee_id: @employee.id,is_active: true).take
          formula_item = EmployeeSalaryTemplate.where(salary_component_id: formula_string,employee_id: @employee.id,employee_template_id: @employee_templates.id)  
          @total = formula_item.sum(:monthly_amount) %>
          < formula_item_monthly_amount = ( @total.to_f / day_in_month.to_i * lcm.rate.to_f ) * sum.to_i %>
          <th>Leave Encashment Amount</th>
           <th>%= formula_item_monthly_amount %></th>
        < end %>
      < end %>
        </tr> -->
    </tbody>
  </table>
</div>



<div class="box-body">
    <table id="example6" class="table table-bordered table-hover table-condensed'">
    <thead>

      <% @workingdays.each do |workingday| %>
       <tr>
        <td><%= workingday.month_name %> <%= workingday.year %> <%= workingday.payable_day %> </td>
     </tr>
    
    
      </thead>
      <tbody>
       </tbody>
  </table>
      <% @salaryslips = Salaryslip.where(workingday_id: workingday).take %>
      <% @addable_salary_components = SalaryslipComponent.where(salaryslip_id: @salaryslips,is_deducted: false) %>
    <table id="example6" class="table table-bordered table-hover table-condensed'">
    <thead>
        <tr>
        <% @addable_salary_components.try(:each) do |asc| %>

            <td><%= asc.salary_component.name %> : <%= asc.calculated_amount.round %></td>
          
        <% end %>
     
       
         </tr>
     </tbody>
  </table>
        <% @salaryslips = Salaryslip.where(workingday_id: workingday).take %>
        <% @deducted_salary_components = SalaryslipComponent.where(salaryslip_id: @salaryslips,is_deducted: true) %>
        <table id="example6" class="table table-bordered table-hover table-condensed'">
        <thead>
         <tr>
       <% @deducted_salary_components.try(:each) do |dsc| %>
        
            <% unless dsc.salary_component_id.nil? %>
              <td><%= dsc.salary_component.name %> : <%= dsc.calculated_amount.round %></td>
            <%else%>
              <td><%= dsc.other_component_name %> : <%= dsc.calculated_amount.round %></td>
            <%end%>
        <% end %>
       <tr>
        <% workingday.salaryslips.try(:each) do |salslip| %>
       
          <td><strong>Gross Salary</strong> :<%= salslip.calculated_gross_salary.round %></strong></td>
       
          <td><strong>Total Deduction</strong> : <%= salslip.calculated_total_deduction.round %></strong></td>
        
          <td><strong>Net Salary</strong> :<strong><%= salslip.calculated_net_salary.round %></strong></td>
      
      
        <% end %>
          </tr>
         </tbody>
        </table>
       <br>
      <% end %>
    </div>

  <div class="box-body">
    <table id="example6" class="table table-bordered table-hover table-condensed'">
    <thead>
      <tr><th colspan="4"><center>Gratuity</center></th></tr>
      <tr>
      <th>Amount</th>
      <th>No. of Year</th>
      <th>Total</th>
      <th>Day</th>
     </tr>
  </thead>

  <tbody>
    <% @gratuities.each do |gratuity| %>
      <tr>
        <td><%= gratuity.gratuity_amount %></td>
        <td><%= gratuity.no_of_year %></td>
        <td><%= gratuity.total_gratuity %></td>
        <td><%= gratuity.day %></td>
      </tr>
      <% end %>
  </tbody>
  </table>
</div>

<div class="box-body">
    <table id="example6" class="table table-bordered table-hover table-condensed'">
    <thead>
      <tr><th colspan="7"><center>Amount to be Paid </center></th></tr>
      <tr>
      <th>Clearance Pending</th>
      <th>Installment</th>
      <th>Total</th>
      <th>Net Salary</th>
      <th>Gratuity</th>
      <th>Total</th>
      <th>Final Total</th>
     </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= grand_pending_total %></td>
        <td><% adv_sal = AdvanceSalary.where(employee_id:  @employee.id).pluck(:id) 
        instal=Instalment.where(advance_salary_id: adv_sal,is_complete: false) %>
        <%= instal_total=instal.sum(:instalment_amount) %></td>
        <td><strong><%= total_1=grand_pending_total + instal_total  %></strong></td>
        <td><% @salaryslips = Salaryslip.where(workingday_id: @workingdays_1) 
        net_salary=@salaryslips.sum(:calculated_net_salary).round %>
        <%= net_salary %></td>
        <td><% grat=@gratuities.take %>
          <%= total_grat=grat.total_gratuity %>
        </td>
        <td><strong><%= total_2=net_salary+total_grat %></strong></td>
        <td><strong><%= final_total=total_1-total_2 %></strong></td>
      </tr>
  </tbody>
  </table>
</div>



</div>

<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>


