<br>
  <table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @regularization_reasons.each do |regularization_reason| %>
      <tr>
        <td><%= regularization_reason.code %></td>
        <td><%= regularization_reason.name %></td>
        <td><%= regularization_reason.description %></td>
        <td><%= regularization_reason.status %></td>
        <td>
           <%= link_to '', edit_regularization_reason_path(regularization_reason),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '',  regularization_reason, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-xs fa fa-close' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
