<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Performance Calendar</h3>

       <div class="pull-right">
    <%= link_to " PDF ", performance_calendar_performance_calendars_path(id: @performance_calendar.id, format: "pdf"), class: "btn btn-xl btn-info fa fa-print",:target => "_blank" %>
    
<%= link_to " XLS ", performance_calendar_performance_calendars_path(id: @performance_calendar.id, format: "xls"), class: "btn btn-xl btn-success fa fa-print",:target => "_blank" %>

    <%= link_to " Upload ", import_xl_performance_calendars_path, class: 'fa fa-upload btn btn-xl btn-primary' %>
    
    <%= link_to " Template", "/Templates/47.Performance Calendar.xls", :class=>"fa fa-download btn-xl btn btn-warning" %>
    </div>

  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="performance_calendar_list">
			<%= render 'performance_calendar_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->