<p id="notice"><%= notice %></p>

<p>
  <strong>Period:</strong>
  <%= @performance_calendar.period %>
</p>

<p>
  <strong>Performance activity:</strong>
  <%= @performance_calendar.performance_activity %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @performance_calendar.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @performance_calendar.end_date %>
</p>

<%= link_to 'Edit', edit_performance_calendar_path(@performance_calendar) %> |
<%= link_to 'Back', performance_calendars_path %>
