<style>
th {
    text-align: left;
}
tr {
    page-break-inside: avoid;
}
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak{ page-break-inside: avoid;
  /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
}
</style>
<div>
<div class="box box-default">
  <div class="box-body">

  	<% employee = Employee.find_by(id: @employee.id) %>
    <table style="border-collapse: collapse;font-size:10pt;" border=1 width=900 class="table table-bordered table-hover">
       <tr><th colspan="5"><center><%= employee.company.try(:description)%> <%= employee.company_location.try(:name)%></center><center><small><%= employee.company.try(:address)%></small></center></th></tr>
      <tbody>
         <% i=0 %>
        <% @employee_ids.each do |e|  %>
        <% @employee = Employee.find_by(id: e) %>
          <tr>
            <th><%= i=i+1 %></th>
            <td>ID : <%= @employee.manual_employee_code %></td>
            <td>Name : <%= full_name(@employee) %></td>
            <td colspan="2">Department : <%= @employee.try(:department).try(:name) %></td>
          </tr>

          <tr>
            <th>Degree</th>
            <th>Degree Type</th>
            <th>Degree Stream</th>
            <th colspan="2">Year Of Passing</th>
          </tr>
          <% @qualifications = Qualification.where(employee_id: e) %>
          <% @qualifications.each do |q|  %>
            <tr>
              <td><%= q.try(:degree).try(:name) %></td>
              <td><%= q.try(:degree_type).try(:name) %></td>
              <td><%= q.try(:degree_stream).try(:name) %></td>
              <td colspan="2"><%= q.try(:year).try(:name) %></td>
            </tr> 
          <% end %>

          <tr>
            <th>Joining Date</th>
            <th>Joining Designation</th>
            <th>Post</th>
            <th>Current Designation</th>
            <th>Last Promotion</th>
          </tr>
          <% @joining_details = JoiningDetail.where(employee_id: e) %>
          <% @joining_details.each do |g|  %>
          <% @employee_promotion = EmployeePromotion.where(employee_id: e).first %>
          <% @employee_promotion_last = EmployeePromotion.where(employee_id: e).last %>
            <tr>
              <td><%= g.try(:joining_date) %></td>
              <td><%= @employee_promotion.try(:employee_designation).try(:name) %></td>
              <td><%= g.try(:employee_category).try(:name) %></td>
              <td><%=  g.try(:employee_designation).try(:name) %></td>
              <td><%= @employee_promotion_last.try(:effective_from) %></td>
            </tr> 
          <% end %>

          <tr>
            <th>Joining CTC</th>
            <th>Current CTC</th>
            <th>Last Salary Revision</th>
            <th colspan="2">Past Experience(in year)</th>
          </tr>
            <% @current_template = EmployeeTemplate.where(employee_id: e,is_active: true).take %>
            <% @first_template = EmployeeTemplate.where(employee_id: e).first %>
            <% @last_template = EmployeeTemplate.where(employee_id: e).last %>
            <% @experience = Experience.where(employee_id: e) %>

            <% @current_employee_salary_templates = @current_template.try(:employee_salary_templates) %>
            <% @first_employee_salary_templates = @first_template.try(:employee_salary_templates) %>
          <tr> 
            <% if @first_employee_salary_templates == nil %>
              <td></td>
            <% else %>
              <td><%= @first_employee_salary_templates.sum(:annual_amount) %></td>
            <% end %>
            <% if @current_employee_salary_templates == nil %>
              <td></td>
            <% else %>
              <td><%= @current_employee_salary_templates.sum(:annual_amount) %></td>
            <% end %>
            <td><%= @last_template.try(:start_date) %></td>
            <td colspan="2"><%= @experience.sum(:no_of_year) %></td>
          </tr> 

          <tr>
            <th>CTC 1</th>
            <th>CTC 2</th>
            <th colspan="3">CTC 3</th>
          </tr>
            <% @employee_templates = EmployeeTemplate.where(employee_id: e).last(3) %>
            <% @emp_temp1 = @employee_templates.try(:first) %>
            <% @emp_temp = @employee_templates.last(2) %>
            <% @emp_temp2 = @emp_temp.try(:first) %>
            <% @emp_temp3 = @employee_templates.try(:last) %>

            <% @employee_template1 = EmployeeTemplate.find_by(id: @emp_temp1.try(:id)) %>
            <% @employee_salary_templates1 = @employee_template1.try(:employee_salary_templates) %>
            <% @employee_template2 = EmployeeTemplate.find_by(id: @emp_temp2.try(:id)) %>
            <% @employee_salary_templates2 = @employee_template2.try(:employee_salary_templates) %>
            <% @employee_template3 = EmployeeTemplate.find_by(id: @emp_temp3.try(:id)) %>
            <% @employee_salary_templates3 = @employee_template3.try(:employee_salary_templates) %>
          <tr>
            <% if @employee_salary_templates1 == nil %>
            <% else %>
              <td><%= @employee_salary_templates1.sum(:annual_amount) %></td>
            <% end %>
            <% if @employee_salary_templates2 == nil %>
            <% else %>
              <td><%= @employee_salary_templates2.sum(:annual_amount) %></td>
            <% end %>
            <% if @employee_salary_templates3 == nil %>
            <% else %>
              <td colspan="3"><%= @employee_salary_templates3.sum(:annual_amount) %></td>
            <% end %>
          </tr> 

          <tr>
            <th>Appraisee Rating</th>
            <th>Appraiser Rating</th>
            <th>Reviewer Rating</th>
            <th colspan="2">Final Rating</th>
          </tr>
            <% @goal_bunch = GoalBunch.where(employee_id: e).last %>
            <tr>
              <td><%= @goal_bunch.try(:appraisee_rating_id).to_f.round(4) %></td>
              <td><%= @goal_bunch.try(:appraiser_rating) %></td>
              <td><%= @goal_bunch.try(:reviewer_rating_id) %></td>
              <td colspan="2"><%= @goal_bunch.try(:final_rating_id) %></td>
            </tr> 

            <tr>
              <th>Increment</th>
              <th>Promotion</th>
              <th>Revised Designation</th>
              <th colspan="2">Revised CTC</th>
            </tr>
             <% @goal_bunch = GoalBunch.where(employee_id: e).last %>
            <tr>
              <td><%= @goal_bunch.try(:r_increment) %></td>
              <td><%= @goal_bunch.try(:r_promotion) %></td>
              <td><%= @goal_bunch.try(:r_designation).try(:name) %></td>
              <td colspan="2"><%= @goal_bunch.try(:r_ctc) %></td>
            </tr>

            <tr>
              <th>Final Increment</th>
              <th>Promotion</th>
              <th>Revised Designation</th>
              <th colspan="2">Revised CTC</th>
            </tr>
             <% @goal_bunch = GoalBunch.where(employee_id: e).last %>
            <tr>
              <td><%= @goal_bunch.try(:f_increment) %></td>
              <td><%= @goal_bunch.try(:f_promotion) %></td>
              <td><%= @goal_bunch.try(:f_designation).try(:name) %></td>
              <td colspan="2"><%= @goal_bunch.try(:f_ctc) %></td>
            </tr>

          <% end %>
        </tbody>
      </table>
    
  </div>
</div>