<style type="text/css">
 .page-break { display:block; clear:both; page-break-after:always; }
 tr {
    page-break-inside: avoid;
}
th {
    page-break-inside: avoid;
}
</style>

<div class="box box-default">
  <div class="box-body">
    <% employee = Employee.find_by(id: @employee.id) %>

     
          <% @employee_templates = EmployeeTemplate.where(employee_id: @employee.id) %>
          <% @employee_templates.each do |t| %>
        <table style="border-collapse: collapse; font-size:9pt;" border=1 width=1200 cellpadding="5">
      <tr><td colspan="3"><center>
      <% if employee.company_location.company.company_logo == nil %>
      <% else %>
        <center> <%= wicked_pdf_image_tag employee.company_location.company.company_logo.url, :size => "90x50" %></center>
        <%end%>

      <strong><%= employee.company.try(:description)%> <%= employee.company_location.try(:name)%></strong></center> <center><small><%= employee.company.try(:address)%></small> </center></td> </tr>
      <tr>
       <td> <strong>ID : </strong><%= employee.manual_employee_code %></td>
       <td><strong>Employee Name : </strong><%= employee.first_name %> <%= employee.middle_name %> <%= employee.last_name %></td>
        <td> <strong>Designation : </strong><%= employee.joining_detail.employee_designation.try(:name) %></td>
      </tr>
           <tr>
             <th colspan="3"><center> Period <%= t.start_date %>  -  <%= t.end_date %> </center> </th>
           </tr>
           <tr>
            <th>Salary Component</th>
            <th>Monthly Amount</th>
            <th>Annual Amount</th>
          </tr>
              <% @employee_salary_templates = EmployeeSalaryTemplate.where(employee_template_id: t)  %>
              <% @employee_salary_templates.each do |s|  %>
              <% @employee_salary_template = EmployeeSalaryTemplate.find_by(id: s) %>
                <tr>
                  <td><%= s.try(:salary_component).try(:name) %></td>
                  <td><%= s.try(:monthly_amount) %></td>
                  <td><%= s.try(:annual_amount) %></td>
                </tr>
              <% end %>
               <tr>
                  <th>Gross Salary</th>
                  <th><%= @employee_salary_templates.sum(:monthly_amount) %></th>
                  <th><%= @employee_salary_templates.sum(:annual_amount) %></th>
                  </tr>
                     </table>
        <br><br>

            <% end  %>
          
     
  </div>
</div>