 <div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Report</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
<%= bootstrap_form_for(:employee, url: { action: 'print_salary_slip_monthwise'},html: {id: 'salary'},remote: true ) do |f| %>
   <div class="row">

 <div class="col-sm-2">
        <div class="form-group required">
        <div class="input-group">
          <%= f.select :company_id, all_company,{include_blank: "Select Company"},{onchange:"var a={id:$(this).val(), form : 'employee'}; $.get('/employees/collect_company_location_dropdown_with_label',a,function(response){});"}%>
        </div>
        </div>
      </div>
     
      <div class="col-sm-2">
            <div class="form-group required">
              <div id="company_location_with_label">
                <%= render 'employees/company_location_dropdown_with_label' %> 
            </div> 
            </div>
          </div>

       <div class="col-sm-2">
            <div class="form-group required">
            <div class="input-group">
              <div id="department">
                <%= render 'employees/department_dropdown' %> 
            </div> 
            </div>
            </div>
        </div>
     
       <div class="col-sm-2">
        <label></label>
          <div class="actions">
            <%= f.submit "Display Report", class: "btn btn-sm btn-primary",id: "buttonCtc" %>
          </div>
        </div>
        </div>
       
        <div class="ajax-progress"></div>
        <div id="employee_list_pdf"></div>
      <%end%>
    </div>
  </div>