<div class="box">
  <div class="box-header">
    <h3 class="box-title">Salary Break Up</h3>
    <div class="pull-right">
      <%= link_to " Excel Report ", employee_salaryslip_details_employee_templates_path(format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
      <%#= link_to " Excel Report ", employee_salaryslip_details_employee_templates_path(employee_ids: @employee_ids, format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
      <%= link_to 'Upload', import_xl_employee_templates_path,class: 'fa fa-upload btn btn-sm btn-info' %>
      <%= link_to " Template", "/Templates/65.Employee Template.xls", :class=>"fa fa-download btn-sm btn btn-warning" %>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example6" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.try(:manual_employee_code) %></td>
            <td><%= full_name(employee) %></td>
            <td>
              <% if have_template(employee) %>
                <%= link_to 'Create Template', fresh_employee_templates_path(employee),class: 'btn btn-sm btn-warning fa fa-check' %>
              <% else %>
                <%= link_to 'View Template', current_template_employee_salary_templates_path(emp_id: employee),class: 'btn btn-sm btn-info fa fa-check' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>

