<div class="box">
  <div class="box-header">
    <h3 class="box-title">Assign Template To Employee</h3>
    <div class="pull-right">
      
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Employee Id</th>
          <th>Employee Name</th>
          <th>Department</th>
          <th>Category</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @employees.each do |employee| %>
          <tr>
            <td><%= employee.try(:manual_employee_code) %></td>
            <td><%= full_name(employee) %></td>
            <td><%= employee.company_location.try(:name) %> - <%= employee.department.try(:name) %></td>
            <td><%= employee.joining_detail.employee_category.try(:name) %></td>
            <td>
              <%= link_to 'Increment Salary', new_employee_salary_template_path(id: employee),class: 'btn btn-sm btn-info fa fa-check' %>
              <%= link_to 'Assigned Salary Template', template_list_employee_templates_path(employee),class: 'btn btn-sm btn-info fa fa-check' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>