<style>
th {
    text-align: left;
}
tr {
    page-break-inside: avoid;
}
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak{ page-break-inside: avoid;
  /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
}
</style>
<div>
<div class="box box-default">
  <div class="box-body">
    <% employee = Employee.find_by(id: @employee_template.employee_id) %>

      <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
        <tbody>
          <tr></tr>
          <tr>
            <td>ID : <%= employee.manual_employee_code %></td>
            <td colspan="2">Employee Name : <%= employee.first_name %> <%= employee.middle_name %> <%= employee.last_name %></td>
            <td colspan="2">Department Name : <%= employee.company_location.try(:name) %> - <%= employee.department.try(:name) %></td>
          </tr>
        </tbody>
      </table>
      <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Salary Component</th>
            <th>Monthly Amount</th>
            <th>Anual Amount</th>
          </tr>
        </thead>
     
      <% @employee_salary_templates.each do |g|  %>
      <% employee = Employee.find(g.employee_id) %>
      <% employee_salary_template = EmployeeSalaryTemplate.find_by(id: g) %>
            <tr>
              <td><%= employee_salary_template.try(:salary_component).try(:name) %></td>
              <td><%= employee_salary_template.try(:monthly_amount) %></td>
              <td><%= employee_salary_template.try(:annual_amount) %></td>
            </tr>
      
    <% end %>
      </tbody>
      </table>
  </div>
</div>