<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Record</h3>
  </div><!-- /.box-header -->
  <div class="box-body">

    <% i=0%>
    <% @employee_templates.each do |e| %>
      <% employee = Employee.find_by(id: e.employee_id) %>
      <% joining_detail = JoiningDetail.find_by_employee_id(e.employee_id) %>

      <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">    
        <thead>
        <tr>
        <% i=i+1%>
        <th><%= i %></th>
        <th colspan="6"><center>Employee Performance Detail</center></th>
        </tr>
          <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Department</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= employee.manual_employee_code %></td> 
            <td><%= employee.first_name %> <%= employee.middle_name %> <%= employee.last_name %></td>
            <td><%= employee.department.try(:name) %></td>
          </tr>
        </tbody>
      </table>
      <br>






















    <table id="example6" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Employee ID</th>
          <th>Employee Name</th>
        </tr>
      </thead>

      <tbody>
        <% @employee_templates.each do |employee_template| %>
          <tr>
            <td><%= employee_template.try(:employee).try(:manual_employee_code) %></td>
            <td><%= employee_template.employee.try(:first_name) %> <%= employee_template.employee.try(:middle_name) %> <%= employee_template.employee.try(:last_name) %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <!--  <= link_to " Excel Report ",employee_attendance_excel_report_employee_attendances_path(month: params[:employee_attendance][:month], year: params[:employee_attendance][:year], format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>

      <= link_to " Print Attendance Slip ",employee_attendance_pdf_report_employee_attendances_path(month: params[:employee_attendance][:month], year: params[:employee_attendance][:year], format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %> -->
  </div>
</div>