<div class="box box-default">
  <div class="box-body">
     <div class="pull-right">
        <%= link_to 'PDF Report', salary_breakup_pdf_employee_templates_path(format: 'pdf',employee_template_ids: @employee_template_ids ),class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
        <%= link_to "Excel Report",salary_breakup_xls_employee_templates_path(format: "xls",employee_template_ids: @employee_template_ids ), class: "btn btn-xl btn-primary fa fa-print", :target => "_blank" %>
      </div>
      <br>
      <table style="border-collapse: collapse;" border=1 width=900 class="table table-bordered table-hover">
      <tbody>
       <% i=0 %>
      <% @employee_template_ids.each do |e|  %>
      <% employee_template = EmployeeTemplate.find_by(id: e) %>
      <tr>
        <td><%= i=i+1 %></td>
        <td>ID <%= employee_template.employee.manual_employee_code %></td>
        <td>Name <%= employee_template.employee.first_name %> <%= employee_template.employee.middle_name %> <%= employee_template.employee.last_name %></td>
      </tr>

      <tr>
        <th>Salary Component</th>
        <th>Monthly Amount</th>
        <th>Annual Amount</th>
      </tr>
      <% @employee_salary_templates = EmployeeSalaryTemplate.where(employee_template_id: e) %>
        <% @employee_salary_templates.each do |g|  %>
            <tr>
              <td><%= g.try(:salary_component).try(:name) %></td>
              <td><%= g.try(:monthly_amount) %></td>
              <td><%= g.try(:annual_amount) %></td>
            </tr> 
          <% end %>
           <tr>
              <th>Gross Salary</th>
              <th><%= @employee_salary_templates.sum(:monthly_amount) %></th>
              <th><%= @employee_salary_templates.sum(:annual_amount) %></th>
            </tr> 
    <% end %>
      </tbody>
      </table>
  </div>
</div>
