<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Sr.No</th>
      <th>Value</th>
      <th>Discription</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  <% i = 0 %>
  <% @ratings.each do |rating| %>
      <tr>
        <td><%= i = i + 1 %></td>
        <td><%= rating.value %></td>
        <td><%= rating.discription %></td>
        <td><%= rating.status ? "Active" : "Inactive" %></td>
        <td>
            <%= link_to '', edit_rating_path(rating),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '',  rating, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true
    } );
} );
</script>