<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>ID</th>  
      <th>Employee Name</th>
      <th>Amount</th>
      <th>Action</th>
 
  <tbody>
    <% @monthly_arrears.each do |monthly_arrear| %>
      <tr>
       <td><%= monthly_arrear.employee.try(:manual_employee_code) %></td>
       <td><%= full_name(monthly_arrear.employee) %></td>
        <td><%= monthly_arrear.amount %></td>
        <td>
           <% if monthly_arrear.is_paid == true %>
           <small class= "label label-primary">Paid</small>
           <%else%>
            <%= link_to '', edit_monthly_arrear_path(monthly_arrear),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '',  monthly_arrear, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-xs fa fa-close',remote:true %>
           <% end %>
           <%= link_to '', modal_monthly_arrears_path(monthly_arrear), class: 'btn btn-xs btn-default fa fa-eye',remote: true%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="myModal" class="modal fade"></div>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>