<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>  
      <th>Salary Component</th>
      <th>Is Deducted</th>
      <th>Parent Salary Component</th>
      <th>Percentage</th>
      <th>Tax</th>
      <th>Base(%)</th>
      <th>To be Paid</th>
      <th>Max Amount</th>
      <th>Monthly Amount</th>
      <th>Annual Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @employee_annual_salaries.each do |salary| %>
      <tr>
        <td><%= salary.salary_component.try(:name) %></td>
        <td><%= salary.is_deducted %></td>
        <td><%= salary.try(:parent_salary_component_id) %></td>
        <td><%= salary.percentage %></td>
        <td><%= salary.try(:tax) %></td>
        <td><%= salary.base %></td>
        <td><%= salary.to_be_paid %></td>
        <td><%= salary.max_amount %></td>
        <td><%= salary.monthly_amount %></td>
        <td><%= salary.annual_amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>
