<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee salary slip</h3>
  </div><!-- /.box-header -->
	<div class="box-body">
		<table  class="table table-bordered table-hover">
		  <tbody>
		    <tr>
	        <td align="center">
	        	<b>
	        		<%= @items.first.employee.first_name+' '+@items.first.employee.middle_name+' '+@items.first.employee.last_name%>
	        	</b>
	        </td>
	      </tr>
	    </tbody>
  	</table>
		<div class="row">
			<div class="col-sm-6">
				<table  class="table table-bordered table-hover table-condensed">
			    <thead>
			      <tr>
				      <th>No.</th>
				      <th>Particulars</th>
				      <th>Amount</th>
			      </tr>
				  </thead>
				  <tbody>
				  	<% i = 0 %><% addect_total = 0 %>
				    <% @items.each do |item| %>
				    	<% unless item.salary_component.try(:is_deducted) %>
					      <tr>
					        <td><%= i=i+1 %></td>
					        <td><%= item.salary_component.try(:name) %></td>
					        <td align="right"><%= '%.2f'%amt = item.amount/12 %></td>
					        <% addect_total = addect_total + amt %>
					      </tr>
					    <% end %>  
				    <% end %>
				    <tr>
				    	<td></td>
				    	<td><b><%= "Total" %></b></td>
			        <td align="right"><b><%= '%.2f'%addect_total %></b></td>
				    </tr>
			    </tbody>
		  	</table>
			</div>

			<div class="col-sm-6">
				<table  class="table table-bordered table-hover table-condensed">
			    <thead>
			      <tr>
				      <th>No.</th>
				      <th>Particulars</th>
				      <th>Amount</th>
			      </tr>
				  </thead>
				  <tbody>
				  	<% j = 0 %> <% deduct_total = 0 %>
				    <% @items.each do |item,i| %>
				      <% if item.salary_component.try(:is_deducted) %>
					      <tr>
					        <td><%= j=j+1 %></td>
					        <td><%= item.salary_component.try(:name) %></td>
					        <td align="right"><%= '%.2f'%amt =item.amount/12 %></td>
					        <% deduct_total = deduct_total + amt %>
					      </tr>
					    <% end %>
				    <% end %>
				    <tr>
			        <td><%=  %></td>
			        <td><b><%= "Total" %></b></td>
			        <td align="right"><b><%= '%.2f'%deduct_total %></b></td>
			      </tr>
			    </tbody>
		  	</table>
			</div>
		</div>
		
		<table  class="table table-bordered table-hover">
		  <tbody>
		    <tr>
	        <td align="right"><b>Net Total : <%= '%.2f'%(addect_total - deduct_total) %></b></td>
	      </tr>
	    </tbody>
  	</table>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->