<table id="example6" class="table table-bordered table-hover table-condensed'">
  <thead>
    <tr>  
      <th>Code</th>
      <th>Name</th>
      <th>Decription</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @degrees.each do |degree| %>
      <tr>
        <td><%= degree.code %></td>
        <td><%= degree.name %></td>
        <td><%= degree.description %></td>
        <td>
            <%= link_to '', edit_degree_path(degree),class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
            <%= link_to '',  degree, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-xs btn-danger fa fa-close' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<script type="text/javascript">
  $(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>