<%= bootstrap_form_for(@plan_reason_master, html: {id: 'plan_reason_master' } ) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code, label:'Code', placeholder: 'Code' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name, label: 'Name', placeholder: 'Name' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.check_box :status, label:'Status' %>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="form-group required">
        <%= f.text_area :description, label:'Description'%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="actions" style="padding-top: 20px;">
        <%= f.submit 'Create',class: "btn btn-primary btn-sm"%>
      </div>
    </div>
 </div>
<% end %>

<script>
  $("#plan_reason_master").validate({
    rules: {
      "plan_reason_master[code]":{
        required: true,
      },
      "plan_reason_master[name]":{
        required: true,
      },
      "plan_reason_master[status]":{
        required: true,
      },
      "plan_reason_master[description]":{
        required: true,
      }
    },
    messages: {
      "plan_reason_master[code]":{
        required: "Please Specify Code",
      },
       "plan_reason_master[name]":{
        required: "Please Specify Name",
      },
      "plan_reason_master[status]":{
        required: "Please Specify Status",
      },
      "plan_reason_master[description]":{
        required: "Please Specify Description",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
  });
</script>
