<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Awards Details</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->

<div class="box-body">
  <%= bootstrap_form_for(@award,html: {id: 'award'}) do |f| %>
    <%= f.hidden_field :employee_id, value: current_user.account_id %>        
    <div id="entry1" class="clonedInput">
      <div class="row">
        <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :award_name, class: 'input_award_name' %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
           <%= f.number_field :year, class: 'input_year' %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :award_from, class: 'input_award_from' %>
          </div>
        </div>
      </div>
    </div>
    <% if controller_name == 'awards' and action_name == 'new' %>
      <div class="row">
        <div class="col-sm-2">
          <input type="button" id="btnAdd" value="Add section" class="btn btn-success"> 
        </div>

        <div class="col-sm-3">
          <input type="button" id="btnDel" value="Remove section above" class="btn btn-danger">
        </div>
      </div><br>
    <% end %>

    <div class="row">
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit :class => class_name, data: { disable_with: data_info } %>
        </div>
      </div>
    </div>
    <!-- <div id="area"></div> -->
  <% end %>
  <!-- <button id="btnAdd">Add</button> -->
</div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about the plugin.
  </div>
</div><!-- /.box -->