<div class="box box-default">
  <div class="box-header with-border">
     <div class="row">
  <div class="col-sm-1">
      <%= image_tag @employee.passport_photo.url, :size => "70x70" %>
  </div>
    <div class="col-sm-6">
     <font color='#0077b3'>
       ID : <%= @awards.first.employee.try(:manual_employee_code) %><br>
       Name : <%= full_name(@awards.first.employee) %><br>
       Email : <%= @awards.first.employee.try(:email) %></font>
    </div>
  </div>
    <div class="box-tools pull-right">
      <%= link_to "Add Award", ajax_new_award_employees_path(id: @employee.id), class: 'btn btn-primary btn-sm',remote:true %>
      <%= link_to 'Back', employees_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <tr><th colspan="4"><center><font color='#0077b3'>Award Detail</font></center> </th></tr>
      <tr>
      <th>Award name</th>
      <th>Year</th>
      <th>Award from</th>
      <th>Action</th>
    </tr>
    <% @awards.each do |award| %>
      <tr>
        <td><%= award.award_name %></td>
        <td><%= award.year.name %></td>
        <td><%= award.award_from %></td>
        <td>
          <%= link_to '', edit_award_path(award),class: 'btn btn-success fa fa-edit btn-sm',remote:true %>
           <!-- link_to '', award, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger fa fa-close btn-sm' %> -->
        </td>
      </tr>
      <%end%>
    </table>
  </div><!-- /.box -->
</div>