<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Awards Details</h3>
    <div class="box-tools pull-right">
      <%= link_to "Add Award", ajax_new_award_employees_path(id: @employee.id), class: 'btn btn-primary',remote:true %>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
      <tr>
      <th>Award name</th>
      <th>Year</th>
      <th>Award from</th>
      <th>Action</th>
    </tr>
    <% @awards.each do |award| %>
      <tr>
        <td><%= award.award_name %></td>
        <td><%= award.year.name %></td>
        <td><%= award.award_from %></td>
        <td>
          <%= link_to '', edit_award_path(award),class: 'btn btn-success fa fa-edit',remote:true %>
          <%= link_to '', award, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger fa fa-close' %>
        </td>
      </tr>
      <%end%>
    </table>
  </div><!-- /.box -->
</div>