<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @award.employee %>
</p>

<p>
  <strong>Award name:</strong>
  <%= @award.award_name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @award.year %>
</p>

<p>
  <strong>Award from:</strong>
  <%= @award.award_from %>
</p>

<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
