<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Awards of Employee</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>

    <tr>
    	<th><strong>Employee:</strong></th>
    	<td><%= @award.employee %></td>

    	<th><strong>Award name:</strong></th>
    	<td><%= @award.award_name %></td>
    </tr>

     <tr>
    	<th> <strong>Year:</strong></th>
    	<td><%= @year.name %></td>

    	<th> <strong>Award from:</strong></th>
    	<td> <%= @award.award_from %></td>
    </tr>

    </table>

    <%= link_to 'Edit', edit_award_path(@award),class: 'btn btn-success fa fa-edit btn-sm' %> |
    <%= link_to 'Back', awards_path,class: 'btn btn-default fa fa-arrow-left btn-sm' %>
  </div><!-- /.box-body -->
</div><!-- /.box -->
