<p id="notice"><%= notice %></p>

<p>
  <strong>Candidate form:</strong>
  <%= @candidate_interview_schedule.candidate_form %>
</p>

<p>
  <strong>Interviewer:</strong>
  <%= @candidate_interview_schedule.interviewer %>
</p>

<p>
  <strong>Interview type master:</strong>
  <%= @candidate_interview_schedule.interview_type_master %>
</p>

<p>
  <strong>Date:</strong>
  <%= @candidate_interview_schedule.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @candidate_interview_schedule.time %>
</p>

<p>
  <strong>Place:</strong>
  <%= @candidate_interview_schedule.place %>
</p>

<p>
  <strong>Address:</strong>
  <%= @candidate_interview_schedule.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @candidate_interview_schedule.description %>
</p>

<%= link_to 'Edit', edit_candidate_interview_schedule_path(@candidate_interview_schedule) %> |
<%= link_to 'Back', candidate_interview_schedules_path %>
