
<div class="box-body">
<table id="example" class="table table-bordered table-hover table-condensed">
  <tr><td colspan="8">
 <% if @workingdays.try(:first).try(:employee).try(:company_location).try(:company).try(:company_logo) == nil %>
      <% else %>
        <center> <%= image_tag @workingdays.try(:first).try(:employee).try(:company_location).try(:company).try(:company_logo).url, :size => "90x50" %></center>
        <%end%>

  <center><strong><%= @workingdays.try(:first).try(:employee).try(:company_location).try(:company).try(:description) %></strong> <br>
        <%= @workingdays.try(:first).try(:employee).try(:company_location).try(:company).try(:address) %><br>
        <b> <%= @from_date.to_date %> To  <%= @to_date.to_date %></b>
        </center></td>
  </tr>
  <tr>
    <td colspan="2"> <b>ID</b> : <%= @workingdays.try(:first).try(:employee).try(:manual_employee_code) %></td>
    <td colspan="4"> <b>Name</b> : <%= full_name(@workingdays.try(:first).try(:employee)) %>
    </td>
    <td colspan="2"> <b>Department</b> : <%= @workingdays.try(:first).try(:employee).try(:department).try(:name) %></td>
  </tr>
  <tr>
  <th>Month Name</th>
  <th>Month Year</th>
  <th>Present Day</th>
  <th>Absent Day</th>
  <th>Payable Leave</th>
  <th>Payable Day</th>
  <th>Non Payable Day</th>
  <th>Day In Month</th>
  </tr>
  <tbody>
  
  <% @workingdays.each do |workingday| %>
   <tr>
       <td><%= workingday.month_name %></td>
       <td><%= workingday.year %></td>
       <td><% wd  = workingday.present_day %><%= wd %></td>
       <td><% ab  = workingday.absent_day %><%= ab %></td>
       <td><% pay = workingday.pay_leave %><%= pay %></td>
       <td><% pay_day = workingday.payable_day %><%= pay_day %></td>
       <td><% non_pay = workingday.nonpayable_day %><%= non_pay %></td>
       <td><% day = workingday.day_in_month %><%= day %></td>
    </tr>
    <tr>
        <th colspan="2">Total</th>
        <td><%= wd.try(:sum) %></td>
        <td><%= ab.try(:sum) %></td>
        <td><%= pay.try(:sum) %></td>
        <td><%= pay_day.try(:sum) %></td>
        <td><%= non_pay.try(:sum) %></td>
        <td><%= day.try(:sum) %></td>
   </tr>
  <% end %>
</tbody>
</table><br>
<div>
<%= link_to " Excel Report ",print_date_report_workingdays_path(from_date: params[:salary][:from_date],to_date: params[:salary][:to_date],employee_id: params[:salary][:employee_id], format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
 
<%= link_to " Print Report ",print_date_report_workingdays_path(from_date: params[:salary][:from_date],to_date: params[:salary][:to_date],employee_id: params[:salary][:employee_id],format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
</div>
