
<div class="box-body">
<table id="example" class="table table-bordered table-hover table-condensed">
  <tr><td colspan="8">
 <% if @workingdays.first.employee.company_location.company.company_logo == nil %>
      <% else %>
        <center> <%= image_tag @workingdays.first.employee.company_location.company.company_logo.url, :size => "90x50" %></center>
        <%end%>

  <center><strong><%= @workingdays.first.employee.company_location.company.try(:description) %></strong> <br>
        <%= @workingdays.first.employee.company_location.company.try(:address) %><br>
        <b> <%= @from_date.strftime("%B %Y") %> To  <%= @to_date.strftime("%B %Y") %></b>
        </center></td>
  </tr>
  <tr>
    <td colspan="2"> <b>ID</b> : <%= @workingdays.first.employee.try(:manual_employee_code) %></td>
    <td colspan="4"> <b>Name</b> : <%= full_name(@workingdays.first.employee) %>
    </td>
    <td colspan="2"> <b>Department</b> : <%= @workingdays.first.employee.department.try(:name) %></td>
  </tr>
  <tr>
  <th>Month Name</th>
  <th>Month Year</th>
  <th>Present Day</th>
  <th>Absent Day</th>
  <th>Payable Leave</th>
  <th>Payable Day</th>
  <th>Non Payable Day</th>
  <th>Day In Month</th>
  <tbody>
  
 <% @workingdays.each do |workingday| %>
   <tr>
   <td><%= workingday.month_name %></td>
   <td><%= workingday.year %></td>
   <td><%= workingday.present_day %></td>
   <td><%= workingday.absent_day %></td>
   <td><%= workingday.pay_leave %></td>
   <td><%= workingday.payable_day %></td>
   <td><%= workingday.nonpayable_day %></td>
   <td><%= workingday.day_in_month %></td>
  </tr>
   <% end %>
</tbody>
</table><br>
<div>
<%= link_to " Excel Report ",print_date_report_workingdays_path(from_date: params[:salary][:from_date],to_date: params[:salary][:to_date],employee_id: params[:salary][:employee_id], format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
 
<%= link_to " Print Report ",print_date_report_workingdays_path(from_date: params[:salary][:from_date],to_date: params[:salary][:to_date],employee_id: params[:salary][:employee_id],format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
</div>
