<%= form_for(@workingday) do |f| %>
  <% if @workingday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workingday.errors.count, "error") %> prohibited this workingday from being saved:</h2>

      <ul>
      <% @workingday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.select :employee_id, Employee.all.collect {|e| [e.first_name+" "+e.last_name,e.id]} %>
  </div>
  <div class="field">
    <%= f.label :month_name %><br>
    <%= f.text_field :month_name %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :day_in_month %><br>
    <%= f.number_field :day_in_month %>
  </div>
  <div class="field">
    <%= f.label :present_day %><br>
    <%= f.text_field :present_day %>
  </div>
  <div class="field">
    <%= f.label :total_leave %><br>
    <%= f.text_field :total_leave %>
  </div>
  <div class="field">
    <%= f.label :holiday_in_month %><br>
    <%= f.text_field :holiday_in_month %>
  </div>
  <div class="field">
    <%= f.label :week_off_day %><br>
    <%= f.text_field :week_off_day %>
  </div>
  <div class="field">
    <%= f.label :absent_day %><br>
    <%= f.text_field :absent_day %>
  </div>
  <div class="field">
    <%= f.label :payable_day %><br>
    <%= f.text_field :payable_day %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
