<div class="box">
  <div class="box-header">
    <h3 class="box-title">Working Date Report</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= bootstrap_form_for(:workingday, url: { action: 'print_date_report'},html: {id: 'salary'},remote: true ) do |f| %>

  	  <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= text_field :salary,:from_date,label: 'From Date',placeholder: "From Date",class: 'form-control request_date'%>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
                <%= text_field :salary,:to_date,label: 'To Date',placeholder: "To Date", class: 'form-control request_date'%>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="field">
            <%= select :salary,:employee_id,employee_list_by_company_location,{hide_label:true,include_blank: " Select Employee"},{:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1"}  %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit "Display Report", class: "btn btn-sm btn-primary",id: "buttonCtc" %>
          </div>
        </div>
      </div>
      <div id="date_list"></div>
    <%end%>
    
  </div>
</div>

<script type="text/javascript">
 $("#buttonCtc").click(function(){
    $('.ajax-progress').show();
    $("#advance_salary").submit();
  })
</script>

<script type="text/javascript">
  $(function(){
    $('.request_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-100:-0',
    dateFormat: 'dd-mm-yy' });
  }); 
</script>

<script type="text/javascript">
 
   $("#salary").validate({
    rules: {
      "salary[from_date]":{
        required: true,
      
      },
      "salary[to_date]":{
        required: true,
      },
      "salary[employee_id]":{
        required: true,
      }
    },
    messages: {
      "salary[from_date]":{
        required: "Please Specify Date Range",
      },
      "salary[to_date]":{
        required: "Please Specify Date Range",
      },
      "salary[employee_id]":{
        required: "Please Specify Employee",
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
