<table id="example5" class="table table-bordered table-hover table-condensed">
  <thead>
          <tr><td colspan="13"><center>Working Days : <%= @from %> - <%= @to %></center></td></tr>
          <tr>
            <th>ID</th>
            <th>Employee</th>
            <th>Present Day</th>
            <th>Holiday</th>
            <th>Week Off</th>
            <th>OD</th>
            <th>Gate Pass</th>
            <th>Pay Leave</th>
            <th>Non Pay Leave</th>
            <th>Absent</th>
            <th>Payable Day</th>
            <th>Days In Month</th>
          </tr>
        </thead>

        <tbody>
           <% @workingdays.each do |workingday| %>
            <tr>
              <td><%= workingday.employee.try(:manual_employee_code) %></td>
              <td><%= full_name(workingday.employee) %></td>
              <td><%= workingday.present_day %></td>
              <td><%= workingday.holiday_in_month %></td>
              <td><%= workingday.week_off_day %></td>
              <td><%= workingday.od_day %></td>
              <td><%= workingday.gatepass %></td>
              <td><%= workingday.pay_leave %></td>
              <td><%= workingday.nonpay_leave %></td>
              <td><%= workingday.absent_day %></td>
              <th><%= workingday.payable_day %></th>
              <td><%= workingday.day_in_month %></td>
            </tr>
        <% end %>
        </tbody>
      </table>