<style type="text/css">
    th { text-align: left; }
    tr { page-break-inside: avoid; }
    div.alwaysbreak { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak{ page-break-inside: avoid;}
</style>

<table style="border-collapse: collapse; font-size:9pt;" border=1 width=1200 cellpadding="10">
  <tr><td colspan="8"><center><strong>
         <% if @workingdays.first.employee.company_location.company.company_logo == nil %>
      <% else %>
        <center> <%= wicked_pdf_image_tag @workingdays.first.employee.company_location.company.company_logo.url, :size => "90x50" %></center>
        <%end%>


  <%= @workingdays.first.employee.company_location.company.try(:description) %></strong> <br>
        <%= @workingdays.first.employee.company_location.company.try(:address) %><br>
           <b> <%= @from_date.strftime("%B%Y") %> To  <%= @to_date.strftime("%B%Y") %>
           </b></center>
        </td>
  </tr>
  <tr>
    <td colspan="2"> <b>ID</b> : <%= @workingdays.first.employee.try(:manual_employee_code) %></td>
    <td colspan="4"> <b>Name</b> : <%= full_name(@workingdays.first.employee) %>  
    </td>
    <td colspan="2"> <b>Department</b> : <%= @workingdays.first.employee.department.try(:name) %></td>
  </tr>
  <tr>
  <th>Month Name</th>
  <th>Month Year</th>
  <th>Present Day</th>
  <th>Absent Day</th>
  <th>Payable Leave</th>
  <th>Payable Day</th>
  <th>Non Payable Day</th>
  <th>Day In Month</th>
  <tbody>
  
 <% @workingdays.each do |workingday| %>
   <tr>
   <td><%= workingday.month_name %></td>
   <td><%= workingday.year %></td>
   <td><%= workingday.present_day %></td>
   <td><%= workingday.absent_day %></td>
   <td><%= workingday.pay_leave %></td>
   <td><%= workingday.payable_day %></td>
   <td><%= workingday.nonpayable_day %></td>
   <td><%= workingday.day_in_month %></td>
  </tr>
   <% end %>
</tbody>
</table>