<div class="box">
  <div class="box-body">
    <%= form_for :workingday, url: { action: "is_confirm_workingday", date: @date } do |f| %>
      <table id="example5" class="table table-bordered table-hover table-condensed">
      <thead>
      <tr><td colspan="13"><center>Working Days : <%= @month %> - <%= @year %></center></td></tr>
        <tr>
          <th>ID</th>
          <th>Employee</th>
          <th>Present Day</th>
          <th>Holiday</th>
          <th>Week Off</th>
          <th>OD</th>
          <th>Gate Pass</th>
          <th>Pay Leave</th>
          <th>Non Pay Leave</th>
          <th>Absent</th>
          <th>Payable Day</th>
          <!-- <th>Non Payable Day</th> -->
          <th>Days In Month</th>
        </tr>
      </thead>

      <tbody>
         <% @workingdays.each do |workingday| %>
          <tr>
            <td><%= workingday.employee.try(:manual_employee_code) %></td>
            <td><%= full_name(workingday.employee) %></td>
            <td><%= workingday.present_day %></td>
            <td><%= workingday.holiday_in_month %></td>
            <td><%= workingday.week_off_day %></td>
            <td><%= workingday.od_day %></td>
            <td><%= workingday.gatepass %></td>
            <td><%= workingday.pay_leave %></td>
            <td><%= workingday.nonpay_leave %></td>
            <td><%= workingday.absent_day %></td>
            <th><%= workingday.payable_day %></th>
            <!-- <th><= workingday.nonpayable_day %></th> -->
            <td><%= workingday.day_in_month %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  <%= link_to "PDF Report",display_workingday_workingdays_path(:employee => {:month => params[:employee][:month],:year => params[:employee][:year],:company_id => params[:employee][:company_id],:company_location_id => params[:employee][:company_location_id],:department_id => params[:employee][:department_id],:status => params[:employee][:status]},format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>

  <%= link_to " Excel Report ",display_workingday_workingdays_path(:employee => {:month => params[:employee][:month],:year => params[:employee][:year],:company_id => params[:employee][:company_id],:company_location_id => params[:employee][:company_location_id],:department_id => params[:employee][:department_id],:status => params[:employee][:status]},format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
  
    <%= link_to 'Back', workingdays_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
  </div>
</div>
<% end %>


<script type="text/javascript">
$(document).ready(function() {
    $('#example5').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true
    } );
} );
</script>

