<div class="box">
  <div class="box-header">
    <h3 class="box-title">Working Day</h3>
    <div class="pull-right">
      <%= link_to 'New Working Day ', new_workingday_path, class: 'btn btn-sm btn-primary' %> 
    </div>
    
  </div><!-- /.box-header -->
  <div class="box-body">
  <div id="comments">
    <table id="example1" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Month</th>
        <th>Year</th>
        <th>Days In Month</th>
        <th>Present Day</th>
        <th>Total Leave</th>
        <th>Holiday</th>
        <th>Week Off</th>
        <th>Absenty</th>
        <th>Payable Day</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
       <% @workingdays.each do |workingday| %>
        <tr>
          <td><%= workingday.employee.try(:manual_employee_code) %></td>
          <td><%= workingday.month_name %></td>
          <td><%= workingday.year %></td>
          <td><%= workingday.day_in_month %></td>
          <td><%= workingday.present_day %></td>
          <td><%= workingday.total_leave %></td>
          <td><%= workingday.holiday_in_month %></td>
          <td><%= workingday.week_off_day %></td>
          <td><%= workingday.absent_day %></td>
          <td><%= workingday.payable_day %></td>
          <td>
            <%= link_to '', edit_workingday_path(workingday), class: 'btn btn-xs btn-success fa fa-edit' %>
            <!-- link_to '', workingday, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-xs  btn-danger fa fa-close' -->
            <%= link_to '', workingday,class: 'btn btn-xs btn-default fa fa-eye' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
</div>