
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Working Day</h3>
    <div class="pull-right">
      <%= link_to 'New Working Day ', new_workingday_path, class: 'btn btn-sm btn-primary' %> 
    </div>
    
  </div><!-- /.box-header -->
  <div class="box-body">
  <div id="comments">
  <%= form_for :workingday, url: { action: "is_confirm_workingday", date: @date } do |f| %>
    <table id="example1" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
       <th><input type="checkbox" id="selectAll" value="selectAll"></th>
        <th>Employee ID</th>
        <th>Month</th>
        <th>Year</th>
        <th>Days In Month</th>
        <th>Present Day</th>
        <th>Total Leave</th>
        <th>Holiday</th>
        <th>Week Off</th>
        <th>Absenty</th>
        <th>Payable Day</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
       <% @workingdays.each do |workingday| %>
        <tr>
          <td> <% if workingday.is_confirm == true %>

          <% else %>
         <%= check_box_tag "workingday_ids[]", workingday.id %></td>
         <% end %>
          <td><%= workingday.employee.try(:manual_employee_code) %></td>
          <td><%= workingday.month_name %></td>
          <td><%= workingday.year %></td>
          <td><%= workingday.day_in_month %></td>
          <td><%= workingday.present_day %></td>
          <td><%= workingday.total_leave %></td>
          <td><%= workingday.holiday_in_month %></td>
          <td><%= workingday.week_off_day %></td>
          <td><%= workingday.absent_day %></td>
          <td><%= workingday.payable_day %></td>

          <td>
              <% if workingday.is_confirm == true %>
              <small class="label label-info">Confirmed</small>
              <% else %><%= link_to '', edit_workingday_path(workingday), class: 'btn btn-xs btn-success fa fa-edit' %>

              <%= link_to '', workingday,class: 'btn btn-xs btn-default fa fa-eye' %>
               <% end %>
          </td>
        </tr>
         
    <% end %>
    </tbody>
  </table>
  <%= f.submit "Confirm workingday", class: "btn btn-sm btn-primary" %>
  </div>
</div>
<% end %>
</div>

<script type="text/javascript">
  $("#example1").DataTable();

$('#selectAll').click(function() {
  if (this.checked) {
    $(':checkbox').each(function() {
      this.checked = true;                       
    });
  } 
  else {
    $(':checkbox').each(function() {
      this.checked = false;                        
    });
  } 
});
</script>