<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @workingday.employee %>
</p>

<p>
  <strong>Month name:</strong>
  <%= @workingday.month_name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @workingday.year %>
</p>

<p>
  <strong>Day in month:</strong>
  <%= @workingday.day_in_month %>
</p>

<p>
  <strong>Present day:</strong>
  <%= @workingday.present_day %>
</p>

<p>
  <strong>Total leave:</strong>
  <%= @workingday.total_leave %>
</p>

<p>
  <strong>Holiday in month:</strong>
  <%= @workingday.holiday_in_month %>
</p>

<p>
  <strong>Week off day:</strong>
  <%= @workingday.week_off_day %>
</p>

<p>
  <strong>Absent day:</strong>
  <%= @workingday.absent_day %>
</p>

<p>
  <strong>Payable day:</strong>
  <%= @workingday.payable_day %>
</p>

<%= link_to 'Edit', edit_workingday_path(@workingday) %> |
<%= link_to 'Back', workingdays_path %>
