<div class="box">
  <div class="box-body">
    <table id="example5" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr><td colspan="13"><center>Working Days : <%= @from %> - <%= @to %></center></td></tr>
        <tr>
          <th>ID</th>
          <th>Employee</th>
          <th>Payable Day</th>
        </tr>
      </thead>

      <tbody>
         <% @workingdays.each do |workingday| %>
          <tr>
            <td><%= workingday.employee.try(:manual_employee_code) %></td>
            <td><%= full_name(workingday.employee) %></td>
            <td>
                <% a = 0 %>
                <% @workingday = Workingday.where(date: @from..@to,employee_id: workingday.employee_id) %>
                <% @workingday.each do |w| %>
                  <% day =  a + w.payable_day %>
                  <% pay_day = day %>
                <% end %>
              <%= pay_day %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= link_to 'Back', datewise_total_workingday_workingdays_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
    $('#example5').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true
    } );
} );
</script>

