<%= form_for(@reward_recognition) do |f| %>
  <% if @reward_recognition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward_recognition.errors.count, "error") %> prohibited this reward_recognition from being saved:</h2>

      <ul>
      <% @reward_recognition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reward_type_id %><br>
    <%= f.text_field :reward_type_id %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :reward_owner_id %><br>
    <%= f.text_field :reward_owner_id %>
  </div>
  <div class="field">
    <%= f.label :cost_unit %><br>
    <%= f.text_field :cost_unit %>
  </div>
  <div class="field">
    <%= f.label :communication %><br>
    <%= f.text_field :communication %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
