<p id="notice"><%= notice %></p>

<h1>Listing Reward Recognitions</h1>

<table>
  <thead>
    <tr>
      <th>Reward type</th>
      <th>Type</th>
      <th>Reward owner</th>
      <th>Cost unit</th>
      <th>Communication</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reward_recognitions.each do |reward_recognition| %>
      <tr>
        <td><%= reward_recognition.reward_type %></td>
        <td><%= reward_recognition.type %></td>
        <td><%= reward_recognition.reward_owner %></td>
        <td><%= reward_recognition.cost_unit %></td>
        <td><%= reward_recognition.communication %></td>
        <td><%= link_to 'Show', reward_recognition %></td>
        <td><%= link_to 'Edit', edit_reward_recognition_path(reward_recognition) %></td>
        <td><%= link_to 'Destroy', reward_recognition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reward recognition', new_reward_recognition_path %>
