<p id="notice"><%= notice %></p>

<p>
  <strong>Reward type:</strong>
  <%= @reward_recognition.reward_type %>
</p>

<p>
  <strong>Type:</strong>
  <%= @reward_recognition.type %>
</p>

<p>
  <strong>Reward owner:</strong>
  <%= @reward_recognition.reward_owner %>
</p>

<p>
  <strong>Cost unit:</strong>
  <%= @reward_recognition.cost_unit %>
</p>

<p>
  <strong>Communication:</strong>
  <%= @reward_recognition.communication %>
</p>

<%= link_to 'Edit', edit_reward_recognition_path(@reward_recognition) %> |
<%= link_to 'Back', reward_recognitions_path %>
