<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> Employee Resignation </h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= bootstrap_form_for(@employee_resignation,html: {id: 'employee_resignation'}) do |f| %>
    <%= f.hidden_field :employee_id, :value => current_user.employee_id %>
     <%= f.hidden_field :application_date, value: Date.today %>
     
      <div class="row">
      <div class="col-sm-3">
          <div class="form-group required">
          <%= f.select :employee_id, all_active_employee_with_code, {include_blank: "Select Employee",label: "Employee"},{onchange:"var a={id:$(this).val()}; $.get('/employee_resignations/display_notice_period',a,function(response){});"} %>    
          </div>
        </div>
        
     
        <div class="col-sm-3">
        <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= f.text_field :resignation_date,class: 'resignation',label:'Resignation Date'%>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
           <%= f.select :leaving_reason_id, all_leaving_reason,{label: 'Reason of Leaving',include_blank: " Select Reason of Leaving"} %>
          </div>
        </div>

         <!-- <div class="col-sm-3">
          <div class="form-group required">
          <= f.select :reporting_master_id, all_reporting_master_list, {include_blank: "Select Approval",label:"Request To"},{:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1"} %>    
          </div>
        </div>  -->

         <div class="col-sm-3">
         <div class="field">
           <%= f.text_field :notice_period, label:'Notice Period (in days)',readonly: true %>
         </div>
       </div>
       
      </div>
      <div class="row">

      <div class="col-sm-3">
       <div class="field">
         <%= f.text_field :short_notice_period, label:'Short Notice Period (in days)' %>
       </div>
      </div>

      <div class="col-sm-3">
       <label>Requested Releaving Date</label>
       <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :tentative_leaving_date,hide_label: true, class: 'tentative_leaving_date'%>
        </div>
       </div>
      </div>
      
      <div class="col-sm-3">
       <div class="field">
         <%= f.text_field :remark, label:'Remark' %>
       </div>
      </div>

      <div class="col-sm-3">
       <label>Exit Interview Date</label>
       <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :exit_interview_date,hide_label: true, class: 'exit_interview_date'%>
        </div>
       </div>
      </div>
    
      </div>

      <div class="row">
      
  
      <div class="col-sm-3">
       <div class="field">
         <%= f.text_field :note, label:'Note' %>
       </div>
      </div>

      <div class="col-sm-3">
       <label>Leaving Date</label>
       <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :leaving_date,hide_label: true, class: 'leaving_date'%>
        </div>
       </div>
      </div>

      <div class="col-sm-3">
        <label>Settled On</label>
        <div class="field">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :settled_on,hide_label: true, class: 'settled_on'%>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="field">
          <%= f.check_box :is_stop_pay_request, label:'Stop Payment Request' %>
       </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="field">
          <%= f.text_area :reason, label: "Reason" %>
        </div>
      </div>
    </div>
    
   <div class="row">
     <div class="col-sm-6">
      <div class="actions">
        <%= f.submit 'Create Employee Resignation',class: "btn btn-primary btn-sm"  %>
        <%= link_to 'Back', employee_resignations_path,class: 'btn btn-sm btn-default fa fa-arrow-left' %>
      </div>
     </div>
   </div>
  <% end %>
    
  </div><!-- /.box-body -->
</div><!--box -->

<script type="text/javascript">

    $("#employee_resignation").validate({
    rules: {
      "employee_resignation[reporting_master_id]":{
        required: true
      },
      "employee_resignation[employee_id]":{
        required: true
      },
      "employee_resignation[resignation_date]":{
        required: true
      }
    },
    messages: {
      "employee_resignation[reporting_master_id]":{
        required: "Please specify Reporting Manager"
      },
      "employee_resignation[employee_id]":{
        required: "Please specify Employee"
      },
      "employee_resignation[resignation_date]":{
        required: "Please specify Date"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
<script type="text/javascript">
  $(function(){
    $('.resignation').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });

    $('.tentative_leaving_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:+50',
    dateFormat: 'dd-mm-yy' });

    $('.exit_interview_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-100:-0',
    dateFormat: 'dd-mm-yy' });

    $('.leaving_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-1:+150',
    dateFormat: 'dd-mm-yy' });

    $('.settled_on').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-1:+150',
    dateFormat: 'dd-mm-yy' });

  }); 
</script>

