<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> Employee Resignation </h3>
  </div><!-- /.box-header -->
  <div class="box-body">
<%= bootstrap_form_for(@employee_resignation,remote:true) do |f| %>

    <div class="row">
          <div class="col-sm-3">
           <label>Resignation Date </label>
          <div class="form-group required">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :resignation_date,hide_label: true,class: 'resignation_date'%>
          </div>
        </div>
        </div>

        <div class="col-sm-6">
          <div class="field">
            <%= f.text_field :reason %>
          </div>
        </div>
        
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.check_box :is_notice_period %>
          </div>
        </div>
      </div>

      <div class="row">
       <div class="col-sm-3">
         <div class="field">
           <%= f.text_field :notice_period, label:'Notice Period' %>
         </div>
       </div>

      <div class="col-sm-3">
       <div class="field">
         <%= f.text_field :short_notice_period, label:'Short Notice Period' %>
       </div>
      </div>

      <div class="col-sm-3">
       <label>Tentative Leaving Date</label>
       <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :tentative_leaving_date,hide_label: true, class: 'tentative_leaving_date'%>
        </div>
       </div>
      </div>
      <div class="col-sm-3">
       <div class="field">
         <%= f.text_field :remark, label:'Remark' %>
       </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
       <label>Interview Date</label>
       <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :exit_interview_date,hide_label: true, class: 'exit_interview_date'%>
        </div>
       </div>
      </div>

      <div class="col-sm-3">
       <div class="field">
         <%= f.text_field :note, label:'Note' %>
       </div>
      </div>

      <div class="col-sm-3">
       <label>Leaving Date</label>
       <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :leaving_date,hide_label: true, class: 'leaving_date'%>
        </div>
       </div>
      </div>

      <div class="col-sm-3">
       <label>Settled On</label>
       <div class="field">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :settled_on,hide_label: true, class: 'settled_on'%>
        </div>
       </div>
      </div>
    </div>

    <div class="row">
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.check_box :has_left %>
      </div>
     </div>
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.check_box :notice_served %>
      </div>
     </div>
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.check_box :rehired %>
      </div>
     </div>
   </div>

   <div class="row">
     <div class="col-sm-3">
      <div class="actions">
          <%= f.submit :class => class_name, data: { disable_with: data_info } %>
      </div>
     </div>
   </div>
  <% end %>
    
  </div><!-- /.box-body -->
</div><!--box -->
<script type="text/javascript">
  $(function(){
    $('.resignation_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+25',
    dateFormat: 'dd-mm-yy' });

    $('.tentative_leaving_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+25',
    dateFormat: 'dd-mm-yy' });

    $('.exit_interview_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+25',
    dateFormat: 'dd-mm-yy' });

    $('.leaving_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+25',
    dateFormat: 'dd-mm-yy' });

     $('.settled_on').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+25',
    dateFormat: 'dd-mm-yy' });

  }); 
</script>
