<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Initiate Employee Resignation </h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= bootstrap_form_for(@employee_resignation,html: {id: 'employee_resignation'}) do |f| %>
   <!--  <= f.hidden_field :employee_id, :value => current_user.employee_id %> -->
     <%= f.hidden_field :application_date, value: Date.today %>
     
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.select :employee_id, all_active_employee_with_code, {include_blank: "Select Employee",label: "Employee"},{:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1",onchange:"var a={id:$(this).val()}; $.get('/employee_resignations/display_notice_period',a,function(response){});"}%>    
          </div>
        </div>
        
     
        <div class="col-sm-3">
        <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= f.text_field :resignation_date,id: "employee_resignation_resignation_date",class: 'company_start_date'%>
            </div>
          </div>
        </div>

       <div class="col-sm-3">
         <div class="form-group required">
           <%= f.text_field :notice_period,id: "employee_resignation_notice_period" ,label:'Notice Period',readonly: true %>
         </div>
        </div> 

            <div class="col-sm-3">
          <div class="form-group required">
           <%= f.select :leaving_reason_id, all_leaving_reason,{label: 'Reason of Leaving',include_blank: " Select Reason of Leaving"} %>
          </div>
        </div>  
        

      

    </div>

      <div class="row">


     


      <div class="col-sm-3">
       <div class="form-group required">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :tentative_leaving_date, class: 'company_start_date',label:'Requested Relieving Date'%>
        </div>
       </div>
      </div>
      
     <!--  <div class="col-sm-3">
       <div class="field">
         < f.text_field :remark, label:'Remark' %>
       </div>
      </div> -->

      <div class="col-sm-3">
       <div class="form-group required">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :exit_interview_date, class: 'company_start_date',label:'Exit Interview Date'%>
        </div>
       </div>
      </div>

        <div class="col-sm-3">
       <div class="field">
         <%= f.text_field :short_notice_period,disabled_id: "employee_resignation_short_notice_period",label:'Leaving Date (As per notice period)',readonly: true  %>
       </div>
      </div>

      <div class="col-sm-3">
       <div class="form-group required">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :leaving_date, class: 'company_start_date',label:'Lieving Date'%>
        </div>
       </div>
      </div>
    
      </div>

    <div class="row">
        <div class="col-sm-12">
         <div class="form-group required">
          <%= f.text_area :reason,label: "Reason" %>
        </div>
      </div>
    </div>


      <div class="row">
      
  
      <div class="col-sm-12">
       <div class="form-group required">
         <%= f.text_area :note, label:'Note' %>
       </div>
      </div>


     </div>
    
   <div class="row">
     <div class="col-sm-6">
      <div class="actions">
        <%= f.submit 'Initiate Resignation',class: 'btn btn-sm btn-primary'  %>
        <%= link_to 'Back', employee_resignations_path,class: 'btn btn-sm btn-default fa fa-arrow-left' %>
      </div>
     </div>
   </div>
  <% end %>
    
  </div><!-- /.box-body -->
</div><!--box -->

<script type="text/javascript">
   $(function(){
    $('#employee_resignation_resignation_date').on('change', function() {
      var employee_resignation_resignation_date = parseInt($('#employee_resignation_resignation_date').val());
      var employee_resignation_notice_period = parseInt($('#employee_resignation_notice_period').val());

      var ans="";
      if (isNaN(employee_resignation_resignation_date) || isNaN(employee_resignation_notice_period)) {
        ans = ""
      }
      else{
        ans = (employee_resignation_resignation_date + employee_resignation_notice_period);
        var date = new Date ()
        date.setDate(ans);
      }
      $('#employee_resignation_short_notice_period').val(date);

    });
  });
</script>