<div class="box">
  <div class="box-header">
    <h3 class="box-title">Confirm Resignation List</h3>
    <div class="pull-right">  
    </div>
  </div>
  <div class="box-body">
    <table id="example6" class="table table-bordered table-hover table-condensed">
     <thead>
        <tr>
        <th>ID</th>
         <th>Employee Name</th>
         <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @employee_resignations.each do |g| %>
        <tr>
        <td><%= g.employee.try(:manual_employee_code)%></td>
        <td> <%= full_name(g.employee)%></td>
        <td> 
        <% if  g.employee.joining_detail.leaving_date == nil %>
         <%= link_to 'Confirm',confirm_resignation_employee_resignations_path(g),class: 'btn btn-xs btn-primary' %>
         <!-- <= link_to '', g,class: 'btn btn-xs btn-default fa fa-eye' %> -->
         <%= link_to '', modal_resignation_detail_employee_resignations_path(g), class: 'btn btn-default fa fa-eye btn-xs ',remote:true %>
         <% else %>
         <%= link_to '', modal_resignation_detail_employee_resignations_path(g), class: 'btn btn-default fa fa-eye btn-xs ',remote:true %>
         <!-- <= link_to '', g,class: 'btn btn-xs btn-default fa fa-eye' %> -->
         <small class="label label-primary">Confirmed</small>
         <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="modal_resignation_detail" class="modal fade"></div>
<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>