<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Resignation</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
  <div>
       <%= render 'trainee_request' %>
    </div>
    
    <table id="example2" class="table table-bordered table-hover table-condensed'">

<tr>
 <th><strong>Employee ID</strong></th>
 <td><%= @employee_resignations.employee.try (:manual_employee_code )%></td>

  <th><strong>Employee Name</strong></th>
 <td><%= full_name(@employee_resignations.employee)%></td>
 
</tr>

<tr>
  <th><strong>Resignation Date</strong></th>
  <td><%= @employee_resignations.resignation_date %></td>
 

 <th><strong>Leaving Reason</strong></th>
 <td><%= @employee_resignations.leaving_reason.try(:name)%></td>
</tr>

<tr>
 <th><strong>Notice Period</strong></th>
  <td colspan="3"><%= @employee_resignations.notice_period %></td>
</tr>

<tr>
 <th><strong>Requested Relieving Date</strong></th>
 <td><%= @employee_resignations.tentative_leaving_date %></td>
 

 <th><strong>Exit Interview Date</strong></th>
  <td><%= @employee_resignations.exit_interview_date %></td>
  
</tr>

<tr>
 <th><strong>Note</strong></th>
  <td><%= @employee_resignations.note %></td>

  <th><strong>Remark</strong></th>
 <td><%= @employee_resignations.remark %></td>
</tr>

<tr>

  <th><strong>Leaving Date</strong></th>
  <td><%= @employee_resignations.leaving_date %></td>
  
 <th><strong>Settled On</strong></th>
 <td><%= @employee_resignations.settled_on %></td>

</tr>

<tr>
 
 <th><strong>Reason</strong></th>
  <td colspan="3"><%= @employee_resignation.reason %></td>


</tr>

</table><br>
<!-- <= link_to 'Edit', edit_employee_resignation_path(@employee_resignation),class: 'btn btn-success btn-sm fa fa-edit' %> -->
<%= link_to 'Back', employee_resignations_path,class: 'btn btn-default fa fa-arrow-left' %>


</div>
</div>