<div class="box">
  <div class="box-header">
  <h6 class="box-title">Employee Resignation History of : <%= @employee_resignation.employee.try(:first_name) %> <%= @employee_resignation.employee.try(:middle_name) %> <%= @employee_resignation.employee.try(:last_name) %></h6>   
    <div class="pull-right">
      <!-- <= link_to 'Print Report', print_resignation_detail_employee_resignations_path(format: 'pdf',emp_id: @employee_resignation_id.employee_id,resignation_id: @employee_resignation_id.id),class: "btn btn-xl btn-info fa fa-print" %> -->
     
    </div>
  </div>
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed'">
      <thead>
        <tr>
          <th>Change Status Employee</th>
          <th>Change Date</th>
          <th>Resignation Request Status</th>
      </thead>

      <tbody>
        <% @resignation_status_records.each do |resignation_status_record| %>
          <tr>
            <td><% a=resignation_status_record.change_status_employee_id %>
              <% b=Employee.where(id: a).take %>
              <%= b.first_name+" "+b.middle_name+" "+b.last_name %>
            </td>
            <td><%= resignation_status_record.change_date.to_date %></td>
            <td><%= resignation_status_record.status %></td>   
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>