<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Experience Details</h3>
    <div class="box-tools pull-right">
      <%= link_to "Add Experience", ajax_new_experience_employees_path(id: @employee.id), class: 'btn btn-primary',remote:true %>
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
     <tr>
      <th>Company Name</th>
      <th>Designation</th>
      <th>Experience</th>
      <th>CTC</th>
      <th>Action</th>
    </tr>
     <% @experiences.each do |experience| %>
      <tr>
        <td><%= experience.company_name %></td>
        <td><%= experience.designation %></td>
        <td><%= experience.no_of_year %></td>
        <td><%= experience.ctc %></td>
        <td>
          <%= link_to '', edit_experience_path(experience),class: 'btn btn-success fa fa-edit',remote:true %>
          <%= link_to '', experience, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger fa fa-close' %>
        </td>
      </tr>
      <%end%>
    </table>
  <div class="box-footer">
    Visit <a href="https://indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
  </div><!-- /.box -->
</div>