<div class="box box-default">
  <div class="box-header with-border">
    <h6 class="box-title">Experience Details Of : <%= code_full_name(@experiences.first.employee) %></h6>
    <div class="box-tools pull-right">
      <%= link_to "Add Experience", ajax_new_experience_employees_path(id: @employee.id), class: 'btn btn-sm btn-primary',remote:true %>
      <%= link_to 'Back', employees_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
     <tr>
      <th>Company Name</th>
      <th>Designation</th>
      <th>Experience</th>
      <th>CTC</th>
      <th>Action</th>
    </tr>
     <% @experiences.each do |experience| %>
      <tr>
        <td><%= experience.company_name %></td>
        <td><%= experience.designation %></td>
        <td><%= experience.no_of_year %></td>
        <td><%= experience.ctc %></td>
        <td>
         <div id="myModal" class="modal fade"></div>
           <%= link_to '',modal_experience_experiences_path(experience),class: 'btn btn-sm btn-success fa fa-edit',remote: true %>
          <!-- link_to '', experience, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-danger fa fa-close'  -->
        </td>
      </tr>
      <%end%>
    </table>
  </div><!-- /.box -->
</div>