 <div class="box">
  <div class="box-header">
    <h3 class="box-title">Experinece List</h3>
    <div class="pull-right">
      <%= link_to "New Experinece", new_experince_path, class: 'btn btn-primary' %> 
    </div>
    
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
    <thead>
      <tr>
      <th>Employee</th>
      <th>No of year experince</th>
      <th>Company name</th>
      <th>Designation</th>
      <th>Ctc</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @experinces.each do |experince| %>
      <tr>
        <td><%= experince.employee %></td>
        <td><%= experince.no_of_year_experince %></td>
        <td><%= experince.company_name %></td>
        <td><%= experince.designation %></td>
        <td><%= experince.ctc %></td>
        <td>
            <%= link_to '', experince ,class: 'btn btn-default fa fa-eye' %>
            <%= link_to '', edit_experince_path(experince),class: 'btn btn-success fa fa-edit' %>
            <%= link_to '', experince, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger fa fa-close' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
