<%= bootstrap_form_for(@rembursmentmaster,html: {id: 'rembursmentmaster'},remote:true) do |f| %>
      <div class="row">
        <div class="col-sm-3">
            <div class="form-group required">
              <%= f.text_field :code,label:'Code', placeholder: 'Code' %>
            </div>
        </div> 
           <div class="col-sm-3">
            <div class="form-group required">
              <%= f.text_field :name,label:'Name', placeholder: 'Name' %>
              </div>
              </div>

            <div class="col-sm-3">
            <div class="field">
              <%= f.text_field :description,label:'Description', placeholder: 'Description' %>
            </div>
          </div>
           
            <div class="col-sm-3">
            <label>Status</label>
            <div class="field">
            <%= f.check_box :status , label:'Active'%>
          </div>
          </div>
          </div>
           <div class="row">
          <div class="col-sm-3">
            <div class="actions">
              <%= f.submit 'Create Reimbursement',:class => class_name, data: { disable_with: data_info } %>
            </div>
          </div>
        </div>
<% end %>

<script>
$("#rembursmentmaster").validate({
    rules: {
      "rembursmentmaster[code]":{
        required: true,
      },
      "rembursmentmaster[name]":{
        required: true,
      }
       },
    messages: {
      "rembursmentmaster[code]":{
        required: "Please Specify Code",
      },
       "rembursmentmaster[name]":{
        required: "Please Specify Name",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>