<p id="notice"><%= notice %></p>

<h1>Listing Cost Centers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cost_centers.each do |cost_center| %>
      <tr>
        <td><%= cost_center.name %></td>
        <td><%= link_to 'Show', cost_center %></td>
        <td><%= link_to 'Edit', edit_cost_center_path(cost_center) %></td>
        <td><%= link_to 'Destroy', cost_center, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cost center', new_cost_center_path %>
