<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Texable</th>
      <th>Percentage</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @slabs.each do |slab| %>
      <tr>
        <td><%= slab.from %></td>
        <td><%= slab.to %></td>
        <td><%= slab.texable_amount %></td>
        <td><%= slab.percentage %></td>
        <td>
          <%= link_to '', edit_slab_path(slab),class: 'btn btn-success btn-xs fa fa-edit',remote:true %> 
          <%= link_to '',  slab, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-xs fa fa-close',remote:true %>
          <%= link_to '', modal_slabs_path(slab), class: 'btn btn-xs btn-default fa fa-eye',remote: true%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="myModal" class="modal fade"></div>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true
    } );
} );
</script>