<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Plan Detail </center></h4>
    </div>
    <div class="modal-body">
<table class="table table-bordered table-hover table-condensed">
  <thead>

    <tr>
    	<th>Employee</th>
    	<td><%= @employee_plan.employee.try(:first_name) %> <%= @employee_plan.employee.try(:last_name) %></td>
    </tr>

    <tr>
      <th>Manager</th>
      <% emp = @employee_plan.manager_id %>
      <% @emp_name = Employee.find(emp) %>
      <td><%= @emp_name.prefix %> <%= @emp_name.first_name %> <%= @emp_name.middle_name %><%= @emp_name.last_name%></td>
    </tr>

    <tr>
    	<th>From Date</th>
    	<td><%= @employee_plan.from_date%></td>
    </tr>

    <tr>
     	<th>To Date</th>
     	<td><%= @employee_plan.to_date %></td>
    </tr>

    <tr>
     	<th>From Time</th>
      <td><%= @employee_plan.from_time %></td>
    </tr>

    <tr>
      <th>To Time</th>
      <td><%= @employee_plan.to_time %></td>
    </tr>

    <tr>
      <th>Meeting With</th>
      <td><%= @employee_plan.meeting_with %></td>
    </tr>

    <tr>
      <th>Meeting Agenda</th>
      <td><%= @employee_plan.meeting_agenda %></td>
    </tr>

    <tr>
      <th>Place</th>
      <td><%= @employee_plan.location %></td>
    </tr>

    <tr>
      <th>Current Status</th>
      <td><%= @employee_plan.current_status  %></td>
    </tr>
    <% if @employee_plan.feedback.present? && @employee_plan.try(:plan_reason_master).nil? %>
      <tr >
        <th>Plan Attend Feedback</th>
        <td><%= @employee_plan.feedback %></td>
      </tr>
    <% elsif @employee_plan.feedback.present? && @employee_plan.try(:plan_reason_master).present? %>
      <tr >
        <th>Plan Reject Reason</th>
        <td><%= @employee_plan.feedback %></td>
      </tr>
      <tr>
        <th>Plan Reject Reson Refer </th>
        <td><%= @employee_plan.try(:plan_reason_master).try(:name) %></td>
      </tr>
    <% else @employee_plan.nil? && @employee_plan.try(:plan_reason_master).nil? %>
    <% end %>
    

  </thead>
</table>
</div>