<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Plan Detail </center></h4>
    </div>
    <div class="modal-body">
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
    	<th>Employee</th>
    	<td><%= @employee_plan.employee.try(:first_name) %> <%= @employee_plan.employee.try(:last_name) %></td>
      <th>Manager</th>
      <td><%= @employee_plan.manager_id %></td>
    </tr>

    <tr>
    	<th>From date</th>
    	<td><%= @employee_plan.from_date%></td>
     	<th>To date</th>
     	<td><%= @employee_plan.to_date %></td>
    </tr>

    <tr>
     	<th>From Time</th>
      <td><%= @employee_plan.from_time %></td>
      <th>To Time</th>
      <td><%= @employee_plan.to_time %></td>
    </tr>

    <tr>
      <th>Meeting with</th>
      <td><%= @employee_plan.meeting_with %></td>
      <th>Meeting agenda</th>
      <td><%= @employee_plan.meeting_agenda %></td>
    </tr>

    <tr>
      <th>Status</th>
      <td><%= @employee_plan.status %></td>
      <th>Current Status</th>
      <td><%= @employee_plan.current_status %></td>
    </tr>

  </thead>
</table>
</div>
<!-- <div class="modal-footer"></div>
</div>
</div> 
<div id="myModal" class="modal fade"> -->