<!-- Main content -->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Plan Details </center></h4>
    </div>
    <div class="modal-body">
      <table class="table table-bordered table-hover table-condensed">
        <tbody>
       	  <tr>
  			<th><strong>Employee</strong></th>
    		<td>
    		<%= @employee_plan.employee.prefix %> <%= @employee_plan.employee.first_name %> <%= @employee_plan.employee.middle_name %><%= @employee_plan.employee.last_name%>
    		</td>
		  </tr>
		  <tr>
  			<th><strong>From Date</strong></th>
    		<td><%= @employee_plan.from_date %></td>
    	  </tr>
    	  <tr>
  			<th><strong>To Date</strong></th>
    		<td><%= @employee_plan.to_date %>
		  </tr>
		  <tr>
  			<th><strong>From Time</strong></th>
    		<td><%= @employee_plan.from_time %></td>
		  </tr>
		  <tr>
  			<th><strong>To Time</strong></th>
    		<td><%= @employee_plan.to_time %></td>
		  </tr>
		  <tr>
  			<th><strong>Meeting With</strong></th>
    		<td><%= @employee_plan.meeting_with %></td>
		  </tr>
		  <tr>
  			<th><strong>Location</strong></th>
    		<td><%= @employee_plan.location %></td>
		  </tr>
		  <tr>
  			<th><strong>Meeting Agenda</strong></th>
    		<td><%= @employee_plan.meeting_agenda %></td>
		  </tr>
		  <tr>
  			<th><strong>Confirm</strong></th>
    		<td><%= @employee_plan.confirm %></td>
		  </tr>
		  <tr>
  			<th><strong>Status</strong></th>
    		<td><%= @employee_plan.status %></td>
		  </tr>
		  <tr>
  			<th><strong>Current Status</strong></th>
			<td><%= @employee_plan.current_status %></td>
		  </tr>
		  <tr>
		    <th><strong>Manager</strong></th>
		    <% emp = @employee_plan.manager_id %>
        <% @emp_name = Employee.find(emp) %>
        <td><%= @emp_name.prefix %> <%= @emp_name.first_name %> <%= @emp_name.middle_name %><%= @emp_name.last_name%></td>
		  </tr>
	    </table> <br>
	    <div align="center">
	    <%= link_to 'Approve', plan_approve_employee_plans_path(@employee_plan.id), data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm" %>
   </div>
    
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<!-- <div id="myModal" class="modal fade"></div> -->