<style>
  th {
      text-align: left;
  }
  tr {
      page-break-inside: avoid;
  }
  div.alwaysbreak { page-break-before: always; }
  div.nobreak:before { clear:both; }
  div.nobreak{ page-break-inside: avoid;
    /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
  }
</style>
<table style="border-collapse: collapse; font-size:9pt;" border=1 width=1000 cellpadding="10">
  <thead>
    <tr>
      <td colspan="8"><center> 
        <% if current_user.employee.company_location.company.company_logo == nil %>
        <%else %>
          <center> <%= wicked_pdf_image_tag current_user.employee.company_location.company.company_logo.url, :size => "90x50" %></center>
        <%end%> 
        <strong><%=current_user.employee.company_location.company.try(:description)%></strong> <br> <%= current_user.employee.company_location.company.try(:address)%></center>
      </td>
    </tr>
    <tr>
      <td colspan="2"> <b>ID</b> : <%= @employee.try(:manual_employee_code) %></td>
      <td colspan="6"> <b>Employee Name</b> : <%= @employee.try(:first_name) %> <%= current_user.employee.try(:middle_name) %> <%= current_user.employee.try(:last_name) %>
      </td>
    </tr>
    <tr>
      <th>Sr.No.</th>
      <th>Date</th>
      <th>Time</th>
      <th>Location</th>
    </tr>
    <%i = 0%>
    <% @emp_report.try(:each) do |employee_plan| %>
      <tr>
        <td><%= i = i+1 %></td>
        <td><%= employee_plan.date %></td>
        <td><%= employee_plan.time %></td>
        <td><%= employee_plan.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>