<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Attend Meeting</h3>
    <div class="pull-right"></div>
      <div class="pull-right">
        <%= link_to 'Back', meeting_minutes_history_employee_plans_path, class: 'btn btn-sm btn-default fa fa-arrow-left' %>
        <%= link_to "Excel Report", plan_meeting_minutes_employee_plans_path(plan_id: params[:plan_id],format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
        <%= link_to "Print Report", plan_meeting_minutes_employee_plans_path(plan_id: params[:plan_id],format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
      </div><br /> <br />
      <div class="box-body">
        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <tr><th colspan="4"><center><font color='#0077b3'>Meeting Detail</font></center> </th></tr>
            <tr>
              <th>Employee</th>
              <td><%= @employee_plan.employee.try(:first_name) %> <%= @employee_plan.employee.try(:last_name) %></td>
            
              <th>Manager</th>
              <% emp = @employee_plan.manager_id %>
              <% @emp_name = Employee.find(emp) %>
              <td><%= @emp_name.prefix %> <%= @emp_name.first_name %> <%= @emp_name.middle_name %><%= @emp_name.last_name%>
              </td>
            </tr>
            <tr>
              <th>From Date</th>
              <td><%= @employee_plan.from_date%></td>
            
              <th>To Date</th>
              <td><%= @employee_plan.to_date %></td>
            </tr>
            <tr>
              <th>From Time</th>
              <td><%= @employee_plan.from_time %></td>
            
              <th>To Time</th>
              <td><%= @employee_plan.to_time %></td>
            </tr>
            <tr>
              <th>Meeting With</th>
              <td><%= @employee_plan.meeting_with %></td>
            
              <th>Meeting Agenda</th>
              <td><%= @employee_plan.meeting_agenda %></td>
            </tr>
            <tr>
              <th>Place</th>
              <td><%= @employee_plan.location %></td>
              <th></th>
              <td></td>
            </tr>
           
          </thead>
        </table>
        <br />
        <table class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>  
              <th text-align="center">Minutes </th>
            </tr>
          </thead>
          <tbody>
          <% i = 0%>
            <% @emp_minutes.each do |m| %>
            <tr>
              <td>
                <%= i=i+1 %>
                  <%= m.minutes %>
                  <hr style="margin-top:00px;margin-bottom:00px;">
                <% end %>
              </td>
            </tr>
          </tbody>
      </table>
     </div>
    </div>
  </div>
  <div id="minutes_form"></div>
  <div id="plan_meeting_minutes" class="modal fade"></div>
<script>
  $("#employee_plan").validate({
    rules: {
      "employee_plan_id[feedback]":{
        required: true,
      },
    },
    messages: {
      "employee_plan_id[feedback]":{
        required: "Please Specify The Feedback",
      },
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
  });
</script>
