<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @employee_plan.employee %>
</p>

<p>
  <strong>From date:</strong>
  <%= @employee_plan.from_date %>
</p>

<p>
  <strong>To date:</strong>
  <%= @employee_plan.to_date %>
</p>

<p>
  <strong>From time:</strong>
  <%= @employee_plan.from_time %>
</p>

<p>
  <strong>To time:</strong>
  <%= @employee_plan.to_time %>
</p>

<p>
  <strong>Meeting with:</strong>
  <%= @employee_plan.meeting_with %>
</p>

<p>
  <strong>Location:</strong>
  <%= @employee_plan.location %>
</p>

<p>
  <strong>Meeting agenda:</strong>
  <%= @employee_plan.meeting_agenda %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @employee_plan.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @employee_plan.lng %>
</p>

<p>
  <strong>Conform:</strong>
  <%= @employee_plan.conform %>
</p>

<p>
  <strong>Status:</strong>
  <%= @employee_plan.status %>
</p>

<p>
  <strong>Current status:</strong>
  <%= @employee_plan.current_status %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @employee_plan.manager_id %>
</p>

<%#= link_to 'Edit', edit_employee_plan_path(@employee_plan) %> |
<%#= link_to 'Back', employee_plans_path %>

 -->
<%= render 'modal_employee_plan_detail' %>