<p id="notice"><%= notice %></p>

<h1>Listing Insurance Masters</h1>

<table>
  <thead>
    <tr>
      <th>Is insurance</th>
      <th>Percentage</th>
      <th>Base component</th>
      <th>Effective from</th>
      <th>Effective to</th>
      <th>Is active</th>
      <th>Is confirm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insurance_masters.each do |insurance_master| %>
      <tr>
        <td><%= insurance_master.is_insurance %></td>
        <td><%= insurance_master.percentage %></td>
        <td><%= insurance_master.base_component %></td>
        <td><%= insurance_master.effective_from %></td>
        <td><%= insurance_master.effective_to %></td>
        <td><%= insurance_master.is_active %></td>
        <td><%= insurance_master.is_confirm %></td>
        <td><%= link_to 'Show', insurance_master %></td>
        <td><%= link_to 'Edit', edit_insurance_master_path(insurance_master) %></td>
        <td><%= link_to 'Destroy', insurance_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insurance master', new_insurance_master_path %>
