<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @about_company.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @about_company.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @about_company.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @about_company.status %>
</p>

<%= link_to 'Edit', edit_about_company_path(@about_company) %> |
<%= link_to 'Back', about_companies_path %>
