<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Create Employee</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= bootstrap_form_for(@company) do |f| %>
    
      <div class="row">
        
        <div class="col-sm-2">
          <div class="form-group required">
           <%= f.text_field :name,label: 'Name'%>
           </div>
        </div>

        <div class="col-sm-2">
           <div class="field">
          <%= f.select :company_type_id, all_company_type,label: 'Company Type ID' %>
           </div>
        </div>

         <div class="col-sm-2">
          <div class="form-group required">
           <%= f.text_field :registration_no,label: 'Registration No' %>
         </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :pan_card_no,label: 'Pancard Number' %>
          </div>
        </div>

        <div class="col-sm-3">
        <div class="form-group required">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :starting_date,label: 'Starting Date',class: 'datemask'%>
          </div>
        </div>
        </div>
        
    </div>

   <div class="row">
         <div class="col-sm-12">
          <div class="field">
           <%= f.text_area :address,label: 'Address' %>
          </div>
        </div>
   </div>


        
    <div class="row">
         <div class="col-sm-2">
          <div class="field">
           <%= f.text_field :city,label: 'City' %>
          </div>
        </div>
       

        <div class="col-sm-2">
          <div class="field">
           <%= f.text_field :district,label: 'District' %>
          </div>
        </div>
   

         <div class="col-sm-2">
          <div class="form-group required">
           <%= f.number_field :pin_code,label: 'Pin Code' %>
          </div>
        </div>


         <div class="col-sm-3">
          <div class="field">
           <%= f.text_field :state,label: 'State' %>
          </div>
        </div>

         <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :contact_no,label: 'Contact No' %>
         </div>
        </div>
    </div>

   <div class="row">
     <div class="col-sm-2">
          <div class="form-group required">
           <%= f.text_field :tax_no,label: 'Tax Number' %>
         </div>
        </div>

       <div class="col-sm-2">
          <div class="form-group required">
           <%= f.text_field :professional_tax_no,label: 'Professional Tax No' %>
          </div>
        </div>

         <div class="col-sm-2">
          <div class="form-group required">
           <%= f.text_field :email,label: 'Email' %>
         </div>
        </div> 
        

         <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :web_site %>
          </div>
        </div>

          
         <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :ceo_name %>
          </div>
        </div>

      </div>


      <div class="row">
         <div class="col-sm-3">
          <div class="actions">
           <%= f.submit %>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about the plugin.
  </div>
</div><!-- /.box -->
