
<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Create Company</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->


  <div class="box-body">
    <%= bootstrap_form_for(@company,html: {id: 'company'}) do |f| %>
    <% if @company.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@company.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :manual_company_code,label: 'Company Code',placeholder: "Company Code"%>
           </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :name,label: 'Company Name',placeholder: "e.g : TCS"%>
           </div>
        </div>
        <div class="col-sm-6">
          <div class="field">
           <%= f.text_field :description,label: 'Description',placeholder: "e.g : Indiba Consultancy Services." %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="field">
             <%= f.select :company_type_id, all_company_type,{label: 'Company Type',include_blank: " Select Company Type"}%>
          </div>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :registration_no,label: 'Registration No' %>
          </div>
        </div>
        
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :contact_no,label: 'Contact No' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :pan_card_no,label: 'Pancard Number',placeholder: "e.g : ABCDE12345B" %>
          </div>
        </div>
        <div class="col-sm-3">
         <div class="form-group required">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :starting_date,label: 'Starting Date',class: 'company_start_date'%>
          </div>
         </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-9">
          <div class="form-group required">
           <%= f.text_field :address,label: 'Address' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :pin_code,label: 'Pin/ZIP Code',placeholder: "e.g : 400703" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <%=f.select :country_id, all_countries,{include_blank: "Please Select Country"},{onchange:"var a={id:$(this).val(), form : 'company'}; $.get('/companies/collect_states',a,function(response){});"}%>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
            <div id="states">
              <%= render 'state_dropdown' %>
            </div> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
           <div id="district">
             <%= render 'city_dropdown' %>
           </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :city,placeholder: "e.g : Mumbai" %>
          </div>
        </div>        
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :tax_no,label: 'Tax Number' %>
          </div>
        </div>
       
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :professional_tax_no,label: 'Professional Tax No' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :email,label: 'Email',placeholder: "e.g : xyz@gmail.com" %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :web_site, label: 'Website',placeholder: "e.g : www.companyname.com" %>
          </div>
        </div>  
      </div>   
      <div class="row">
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit :class => class_name, data: { disable_with: data_info } %>
          </div>
        </div>
    </div>
    <% end %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
</div><!-- /.box -->

