
<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Create Company</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->


  <div class="box-body">
    <%= bootstrap_form_for(@company,html: {id: 'company'}) do |f| %>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :name,label: 'Company Name',placeholder: "e.g : ICS"%>
           </div>
        </div>
        <div class="col-sm-6">
          <div class="field">
           <%= f.text_field :description,label: 'Description',placeholder: "e.g : Indiba Consaltancy Services." %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="field">
             <%= f.select :company_type_id, all_company_type,label: 'Company Type ID' %>
          </div>
        </div>
      </div>
     
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :registration_no,label: 'Registration No' %>
          </div>
        </div>
        
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :contact_no,label: 'Contact No' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :pan_card_no,label: 'Pancard Number' %>
          </div>
        </div>
        <div class="col-sm-3">
         <div class="form-group required">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :starting_date,label: 'Starting Date',class: 'datemask'%>
          </div>
         </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-9">
          <div class="form-group required">
           <%= f.text_field :address,label: 'Address' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :pin_code,label: 'Pin Code/ZIP' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :country %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
            <%=f.select :state, all_states,{include_blank: "Please Select State"},{onchange:"var a={id:$(this).val()}; $.get('/companies/collect_cities',a,function(response){});"}%> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
           <div id="district">
             <%=f.select :district,{},{include_blank: "Please Select State"} %> 
           </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :city %>
          </div>
        </div>        
      </div>

      <div class="row">
         
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :tax_no,label: 'Tax Number' %>
          </div>
        </div>
       
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :professional_tax_no,label: 'Professional Tax No' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :email,label: 'Email' %>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :web_site %>
          </div>
        </div>  
      </div>   
      <div class="row">
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit "Create Account",class: "btn btn-primary",data: { disable_with: 'Wait....'} %>
          </div>
        </div>
    </div>
    <% end %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
</div><!-- /.box -->