<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Company</h3>
    <div class="box-tools pull-right">
    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover">

    <tr>
      <th>Company Code:</th>
      <td><%=@company.company_code %></td>

      <th>Name:</th>
      <td><%= @company.name %></td>
    </tr>
    <tr>
        <th>Company Description:</th>
        <td><%= @company.description %></td>

        <th>Company type:</th>
        <td><%= @company.company_type.name %></td>
      </tr>

      <tr>
        <th>Registration no:</th>
        <td><%= @company.registration_no %></td>

        <th>Pan card no:</th>
        <td><%= @company.pan_card_no %></td>
      </tr>

      <tr>
        <th>Tax no:</th>
        <td><%= @company.tax_no %></td>

        <th>Professional tax no:</th>
        <td><%= @company.professional_tax_no %></td>
      </tr>

      <tr>
        <th>Address:</th>
        <td><%= @company.address %></td>

        <th>Pin code:</th>
        <td><%= @company.pin_code %></td>
      </tr>
      <tr>
        <th>City:</th>
        <td><%= @company.city %></td>

        <th>District:</th>
        <td><%= @company.district.name %></td>
      </tr>

      <tr>
        <th>State:</th>
        <td><%= @company.state.name %></td>

        <th>Country:</th>
        <td><%= @company.country.name %></td>
      </tr>

      <tr>
        <th>Starting date:</th>
        <td><%= @company.starting_date %></td>

        <th>Contact no:</th>
        <td><%= @company.contact_no %></td>
      </tr>

      <tr>
        <th>Email:</th>
        <td><%= @company.email %></td>

        <th>Web site:</th>
        <td><%= @company.web_site %></td>
      </tr>


    </table>

    <%= link_to 'Edit', edit_company_path(@company),class: 'btn btn-success fa fa-edit' %> |
    <%= link_to 'Back', companies_path,class: 'btn btn-default fa fa-arrow-left' %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
</div><!-- /.box -->



