<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Company</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
      <tr>
        <td>Name:</td>
        <td><%= @company.name %></td>
      </tr>

      <tr>
        <td>Company type:</td>
        <td><%= @company.company_type.name %></td>
      </tr>

      <tr>
        <td>Registration no:</td>
        <td><%= @company.registration_no %></td>
      </tr>

      <tr>
        <td>Pan card no:</td>
        <td><%= @company.pan_card_no %></td>
      </tr>

      <tr>
        <td>Tax no:</td>
        <td><%= @company.tax_no %></td>
      </tr>

      <tr>
        <td>Professional tax no:</td>
        <td><%= @company.professional_tax_no %></td>
      </tr>

      <tr>
        <td>Address:</td>
        <td><%= @company.address %></td>
      </tr>

      <tr>
        <td>City:</td>
        <td><%= @company.city %></td>
      </tr>

      <tr>
        <td>District:</td>
        <td><%= @company.district %></td>
      </tr>

      <tr>
        <td>Pin code:</td>
        <td><%= @company.pin_code %></td>
      </tr>

      <tr>
        <td>State:</td>
        <td><%= @company.state %></td>
      </tr>

      <tr>
        <td>Email:</td>
        <td><%= @company.email %></td>
      </tr>

      <tr>
        <td>Contact no:</td>
        <td><%= @company.contact_no %></td>
      </tr>

      <tr>
        <td>Web site:</td>
        <td><%= @company.web_site %></td>
      </tr>

      <tr>
        <td>Starting date:</td>
        <td><%= @company.starting_date %></td>
      </tr>

      <tr>
        <td>Ceo name:</td>
        <td><%= @company.ceo_name %></td>
      </tr>

    </table>

    <%= link_to 'Edit', edit_company_path(@company),class: 'btn btn-success fa fa-edit' %> |
    <%= link_to 'Back', root_path,class: 'btn btn-default fa fa-arrow-left' %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about the plugin.
  </div>
</div><!-- /.box -->



