<div class="box">
  <div class="box-header">
    <h3 class="box-title">Listing Certifications</h3>
    <div class="pull-right">
      <%= link_to "New Certification", new_certification_path, class: 'btn btn-primary' %> 
    </div>
    
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
    <thead>
      <tr>
      <th>Employee</th>
      <th>Name</th>
      <th>Year</th>
      <th>Duration</th>
      <th>Descripation</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @certifications.each do |certification| %>
      <tr>
        <td><%= certification.employee.id %></td>
        <td><%= certification.name %></td>
        <td><%= certification.year_id %></td>
        <td><%= certification.duration %></td>
        <td><%= certification.descripation %></td>
        <td>
         <%= link_to '', certification,class: 'btn btn-default fa fa-eye' %>
            <%= link_to '', edit_certification_path(certification),class: 'btn btn-success fa fa-edit' %>
            <%= link_to '', certification, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger fa fa-close' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>




       