<p id="notice"><%= notice %></p>

<h1>Listing Bonus Employees</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Bonus date</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bonus_employees.each do |bonus_employee| %>
      <tr>
        <td><%= bonus_employee.employee %></td>
        <td><%= bonus_employee.bonus_date %></td>
        <td><%= bonus_employee.amount %></td>
        <td><%= link_to 'Show', bonus_employee %></td>
        <td><%= link_to 'Edit', edit_bonus_employee_path(bonus_employee) %></td>
        <td><%= link_to 'Destroy', bonus_employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bonus employee', new_bonus_employee_path %>
