<br>
<div class="box box-default">
	<div class="box-body">
		
     <%= bootstrap_form_for :employee_week_off,html: {id: "employee_week_offs"}, url: { action: 'revert_selective_week_off'} do |f| %>

	 <table id="example6" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th><input type="checkbox" id="selectAll" value="selectAll"></th>
          <th>ID</th>
          <th>Employee</th>
          <th>Department</th>
          <th>Day</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
        <% @employee_week_offs.each do |employee_week_off| %>
          <tr>             
            <td><%= check_box_tag "employee_week_off_ids[]",employee_week_off.id %></td>
            <td><%= employee_week_off.employee.manual_employee_code %></td>
            <td><%= full_name(employee_week_off.employee) %></td>
            <td><%= employee_week_off.employee.company_location.try(:name) %> - <%= employee_week_off.employee.department.try(:name) %></td>
            <td><%= employee_week_off.day %></td>
            <td><%= employee_week_off.date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

      <div class="row">
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit "Revert", data: { confirm: 'Are you sure? This will revert Week Off!'} ,class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      </div>
      <% end %>
      <br>
	</div>
</div>

<script type="text/javascript">
 $('#selectAll').click(function() {
    if (this.checked) {
      $(':checkbox').each(function() {
        this.checked = true;
      });
    }
    else {
      $(':checkbox').each(function() {
        this.checked = false;
      });
    }
  });

	$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>