<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Week Off Detail For <%= @employee_attendances.first.day %> </center></h4>
    </div>
    <div class="modal-body">    

      <table id="example6" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Sr. No</th>
            <th>ID</th>
            <th>Employee</th>
            <th>Present</th>
          </tr>
        </thead>
        <tbody>
          <% i = 0 %>
          <% @employee_attendances.each do |e| %>
            <tr>
              <td><%= i = i + 1 %></td>
              <td><%= e.employee.try(:manual_employee_code) %></td>
              <td><%= full_name(e.employee) %></td>
              <td><%= e.present %></td>
            </tr>
          <% end %>
        </tbody>
      </table>


    </div>
    <div class="modal-footer"></div>
  </div>
</div>  
