<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Date Wise Week Off </h3>
    <div class="box-body">
      <%= bootstrap_form_for(:employee, url: {action: 'show_date_wise_weekoff'},html: {id: 'employee'},remote: true) do |f| %>
        <div class="row">

          <div class="col-sm-2">
            <div class="form-group required">
              <div class="input-group">
                 <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                 </div>
                <%= f.text_field :from_date, label: 'From Date',placeholder: "From Date", class: 'weekoff_date'%>
               </div>
             </div>
            </div>
          <div class="col-sm-2">
             <div class="form-group required">
               <div class="input-group">
                 <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                 </div>
                <%= f.text_field :to_date, label: 'To Date',placeholder: "To Date", class: 'weekoff_date'%>
               </div>
             </div>
            </div>
            
          <div class="col-sm-2">
            <label>Company</label>
            <div class="field">
              <%= f.select :company_id, all_company,{include_blank: "Select Company",hide_label: true},{onchange:"var a={id:$(this).val(), form : 'employee'}; $.get('/employees/collect_company_location_dropdown_with_label',a,function(response){});"}%>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="field">
              <div id="company_location_with_label">
                <%= render 'employees/company_location_dropdown_with_label' %> 
            </div>
            </div>
          </div>

          <div class="col-sm-2">
            <div class="field">
              <div class="input-group">
                <div id="department">
                  <%= render 'employees/department_dropdown' %> 
                </div> 
              </div>
            </div>
          </div>

            <div class="col-sm-2" style="padding-top: 20px;">
              <div class="actions">
                <%= f.submit 'Show Employee List',class: "btn btn-primary btn-sm" %>
              </div>
            </div>
          </div>
          <% end %>
          <br>
        <div id="date_wise_weekoff"></div>
        </div>
      </div>
    </div>

  <script type="text/javascript">
  $("#buttonCtc").click(function(){
    $('.ajax-progress').show();
    $("#employee_attendance").submit();
  })
  </script>
  
  <script type="text/javascript">
  $(function(){
    $('.weekoff_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+20',
    dateFormat: 'dd-mm-yy' });
  }); 

  $("#employee").validate({
    rules: {
      "employee[from_date]":{
        required: true,
      },
      "employee[to_date]":{
        required: true,
      }
    },
    messages: {
      "employee[from_date]":{
        required: "Please Specify From Date",
      },
       "employee[to_date]":{
        required: "Please Select To Date",
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script> 