<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Revert Week Off</h3>
    <div class="box-body">
      <%= bootstrap_form_for(:employee_week_off, url: {action: 'employee_week_off_list'},html: {id: 'employee_week_off'},remote:true) do |f| %>
        <div class="row">
          <div class="col-sm-3">
            <div class="field">
              <div class="input-group">
                 <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                 </div>
                <%= f.text_field :from_date, hide_label: true,placeholder: "From Date", class: 'date'%>
               </div>
             </div>
            </div>
          <div class="col-sm-3">
             <div class="field">
               <div class="input-group">
                 <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                 </div>
                <%= f.text_field :to_date, hide_label: true,placeholder: "To Date", class: 'date'%>
               </div>
             </div>
            </div>
            <div class="col-sm-3">
              <div class="field">
                 <%= f.select :employee_id, employee_list_by_company_location, {hide_label: true,include_blank: "Select Employee"},{:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1"} %>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="actions">
                <%= f.submit 'Show Employee Week Off',class: "btn btn-primary btn-sm",id: "buttonCtc" %>
              </div>
            </div>
          </div>

          <div id="employee_week_off_list"></div>
            <br>
          <% end %>
        </div>
      </div>
    </div>

  <script type="text/javascript">
  $("#buttonCtc").click(function(){
    $('.ajax-progress').show();
    $("#employee_attendance").submit();
  })

  $(function(){
    $('.date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-1:+10',
    dateFormat: 'dd-mm-yy' });
  }); 
</script> 