<p id="notice"><%= notice %></p>

<h1>Listing Da Masters</h1>

<table>
  <thead>
    <tr>
      <th>Is da</th>
      <th>Minimum wages</th>
      <th>Effective from</th>
      <th>Effective to</th>
      <th>Is active</th>
      <th>Is confirm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @da_masters.each do |da_master| %>
      <tr>
        <td><%= da_master.is_da %></td>
        <td><%= da_master.minimum_wages %></td>
        <td><%= da_master.effective_from %></td>
        <td><%= da_master.effective_to %></td>
        <td><%= da_master.is_active %></td>
        <td><%= da_master.is_confirm %></td>
        <td><%= link_to 'Show', da_master %></td>
        <td><%= link_to 'Edit', edit_da_master_path(da_master) %></td>
        <td><%= link_to 'Destroy', da_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Da master', new_da_master_path %>
