<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Code</th>
      <th>Attribute</th>
      <th>Action</th>
    </tr>
  </thead>
  
  <tbody>
    <% @attribute_masters.each do |attribute_master| %>
      <tr>
        <td><%= attribute_master.code %></td>
        <td><%= attribute_master.name %></td>
        <td>
          <% if attribute_master.is_confirm == true %>
          <%= link_to '', edit_attribute_master_path(attribute_master),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <small class= "label label-primary">Confirmed</small>
          <% else %>
            <%= link_to '', edit_attribute_master_path(attribute_master),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '',  attribute_master, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>
            <%= link_to '', is_confirm_attribute_masters_path(attribute_master: attribute_master),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
             <%= link_to '', attribute_master,class: 'btn btn-default btn-xs fa fa-eye' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>