<%= bootstrap_form_for(@attribute_master,html: {id: 'attribute_master'},remote:true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code,placeholder: 'Attribute Master Code',label:'Code' %>
      </div>
    </div> 
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,placeholder: 'Attribute Master Name',label:'Name' %>
      </div>
    </div>
     <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :definition, placeholder: 'Definition',label:'Definition' %>
      </div>
    </div>
     </div>
      <div class="row">
     <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :status,placeholder: 'Status',label:'Status' %>
      </div>
    </div><br>
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit"Create Attribute Master", :class => class_name, data: { disable_with: data_info } %>
      </div>
    </div>
  </div>
<% end %>