<div class="box-body"> 
<%= bootstrap_form_for(@attribute_master,html: {id: 'attribute_master'},remote:true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code,placeholder: 'Attribute Code',label:'Code' %>
      </div>
    </div> 
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,placeholder: 'Attribute Name',label:'Name' %>
      </div>
    </div>
     <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :definition, placeholder: 'Definition',label:'Definition' %>
      </div>
    </div>
    
     <div class="col-sm-3">
     <label> Status </label>
      <div class="field">
        <%= f.check_box :status,label:'Status' %>
      </div>
      </div>
    </div>
    <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit"Create Attribute ", :class => class_name, data: { disable_with: data_info } %>
      </div>
    </div>
    </div>
<% end %>

<script type="text/javascript">

$("#attribute_master").validate({
    rules: {
      "attribute_master[code]":{
        required: true,
      },
      "attribute_master[name]":{
        required: true,
      }
    },
    messages: {
      "attribute_master[code]":{
        required: "Please Specify Code",
      },
      "attribute_master[name]":{
        required: "Please Specify Name",
      }
      
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>