<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Attribute Definition</h3>
   <div class="pull-right">
    <%= link_to " PDF ", attribute_master_attribute_masters_path(id: @attribute_master.id, format: "pdf"), class: "btn btn-xl btn-info fa fa-print",:target => "_blank" %>
    
    <%= link_to " XLS ", attribute_master_attribute_masters_path(id: @attribute_master.id, format: "xls"), class: "btn btn-xl btn-success fa fa-print",:target => "_blank" %>

    <%= link_to " Upload  ", import_xl_attribute_masters_path, class: 'fa fa-upload btn btn-xl btn-primary' %>
    
    <%= link_to " Template", "/Templates/45.Attribute Definition.xls", :class=>"fa fa-download btn-xl btn btn-warning" %>
    </div>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		<div id="attribute_master_li">
			<%= render 'attribute_master_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->