<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @attribute_master.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @attribute_master.name %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @attribute_master.definition %>
</p>

<p>
  <strong>Status:</strong>
  <%= @attribute_master.status %>
</p>

<%= link_to 'Edit', edit_attribute_master_path(@attribute_master) %> |
<%= link_to 'Back', attribute_masters_path %>
