<<<<<<< HEAD
<table id="example6" class="table table-bordered table-hover table-condensed'">
=======
<table id="example6" class="table table-bordered table-hover table-condensed">
>>>>>>> e8ea30e5e7eee6228b64e5772eaf10451e3d7551
  <thead>
    <tr>  
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @travel_modes.each do |travel_mode| %>
      <tr>
        <td><%= travel_mode.code %></td>
        <td><%= travel_mode.name %></td>
        <td><%= travel_mode.description %></td>
        <td>
            <%= link_to '', edit_travel_mode_path(travel_mode),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '',  travel_mode, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
<<<<<<< HEAD
  $(document).ready(function() {
=======
$(document).ready(function() {
>>>>>>> e8ea30e5e7eee6228b64e5772eaf10451e3d7551
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
<<<<<<< HEAD
</script> 
=======
</script>
>>>>>>> e8ea30e5e7eee6228b64e5772eaf10451e3d7551
