<p id="notice"><%= notice %></p>

<h1>Listing Employee Daily Activities</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Project master</th>
      <th>Today activity</th>
      <th>Tomorrow plan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_daily_activities.each do |employee_daily_activity| %>
      <tr>
        <td><%= employee_daily_activity.employee %></td>
        <td><%= employee_daily_activity.project_master %></td>
        <td><%= employee_daily_activity.today_activity %></td>
        <td><%= employee_daily_activity.tomorrow_plan %></td>
        <td><%= link_to 'Show', employee_daily_activity %></td>
        <td><%= link_to 'Edit', edit_employee_daily_activity_path(employee_daily_activity) %></td>
        <td><%= link_to 'Destroy', employee_daily_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee daily activity', new_employee_daily_activity_path %>
