<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @employee_daily_activity.employee %>
</p>

<p>
  <strong>Project master:</strong>
  <%= @employee_daily_activity.project_master %>
</p>

<p>
  <strong>Today activity:</strong>
  <%= @employee_daily_activity.today_activity %>
</p>

<p>
  <strong>Tomorrow plan:</strong>
  <%= @employee_daily_activity.tomorrow_plan %>
</p>

<%= link_to 'Edit', edit_employee_daily_activity_path(@employee_daily_activity) %> |
<%= link_to 'Back', employee_daily_activities_path %>
