<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Date</th>
      <th>Purpose</th>
      <th>Reward type</th>
      <th>Quantity</th>
      <th>Approval</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @rewards_pals.each do |rewards_pal| %>
      <tr>
        <td><%= rewards_pal.employee.try(:first_name) %> <%= rewards_pal.employee.try(:middle_name) %> <%= rewards_pal.employee.try(:last_name) %></td>
        <td><%= rewards_pal.date %></td>
        <td><%= rewards_pal.purpose %></td>
        <td><%= rewards_pal.reward_type.try(:name) %></td>
        <td><%= rewards_pal.qty %></td>
        <td><%= full_name(rewards_pal.reporting_master.employee) %></td>
        <td>
          <%= link_to '', edit_rewards_pal_path(rewards_pal),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
          <%= link_to '',  rewards_pal, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

