<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Bank Details</h3>
    <div class="box-tools pull-right">
    <%= link_to 'Back',ajax_bank_detail_employees_path(id: @employee.id),class: 'btn btn-default fa fa-chevron-left',remote:true%>

      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->


  <div class="box-body">

    <%= bootstrap_form_for(@employee_bank_detail,html: {id: 'employee_bank_detail'},remote:true) do |f| %>
    <%= f.hidden_field :employee_id, value: @employee.id %>
     <div class="row">
        <div class="col-sm-3">
           <div class="field">
           <%= f.text_field :account_no %>
           </div>
        </div>

         <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :bank_name %>
         </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group required">
              <%= f.text_field :branch_name %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :address %>
          </div>
        </div>
     </div>

       <div class="row">
        <div class="col-sm-3">
          <div class="field">
          <%= f.text_field :contact_no %>
           </div>
        </div>

        <div class="col-sm-3">
           <div class="field">
         <%= f.text_field :micr_code %>
           </div>
        </div>

         <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :branch_code %>
         </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.text_field :ifsc_code %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="actions">
            <%= f.submit :class => class_name, data: { disable_with: data_info } %>
            <% if params['controller'] == 'employee_bank_details' and params['action'] == 'edit' %>
                <%= link_to 'Back',ajax_bank_detail_employees_path(id: @employee.id),class: 'btn btn-default', remote:true%>
              <%end%>
          </div>
        </div>
      </div>
  <% end %>
     </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
</div><!-- /.box -->
