<div class="box box-default">
  <div class="box-header with-border">
    <strong> <font color='#0077b3'> Bank Details of : <%= @employee_bank_detail.try(:employee).try(:manual_employee_code) %> - Name : <%= @employee_bank_detail.try(:employee).try(:first_name) %> <%= @employee_bank_detail.try(:employee).try(:middle_name) %> <%= @employee_bank_detail.try(:employee).try(:last_name) %></font></strong>
    <div class="box-tools pull-right">
      <%= link_to 'Edit', edit_employee_bank_detail_path(@employee_bank_detail),class: 'btn btn-sm btn-success fa fa-edit', remote:true %>
      <%= link_to 'Back', employees_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    
    <table id="example2" class="table table-bordered table-hover table-condensed'">

    <tr>
      <th><strong>Employee</strong></th>
      <td><%= @employee_bank_detail.employee.first_name %> <%= @employee_bank_detail.employee.middle_name %> <%= @employee_bank_detail.employee.last_name %></td>

      <th> <strong>Account No</strong></th>
      <td><%= @employee_bank_detail.account_no %></td>
    </tr>

    <tr>
      <th><strong>Bank Name</strong></th>
      <td><%= @employee_bank_detail.bank.try(:name) %></td>

      <th><strong>Branch Name</strong></th>
      <td><%= @employee_bank_detail.branch_name %></td>
    </tr>

    <tr>
      <th><strong>Address</strong></th>
      <td> <%= @employee_bank_detail.address %></td>

      <th><strong>Contact No</strong></th>
      <td> <%= @employee_bank_detail.contact_no %></td>
    </tr>

    <tr>
      <th><strong>MICR Code</strong></th>
      <td><%= @employee_bank_detail.micr_code %></td>

      <th><strong>Branch Code</strong></th>
      <td> <%= @employee_bank_detail.branch_code %></td>
    </tr>

    <tr>
      <th><strong>IFSC Code</strong></th>
      <td><%= @employee_bank_detail.ifsc_code %></td>

      <th></th>
      <td></td>
    </tr>
    </table><br/>
  </div><!-- /.box -->
</div>


