<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @employee_bank_detail.employee %>
</p>

<p>
  <strong>Account no:</strong>
  <%= @employee_bank_detail.account_no %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @employee_bank_detail.bank_name %>
</p>

<p>
  <strong>Branch name:</strong>
  <%= @employee_bank_detail.branch_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee_bank_detail.address %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @employee_bank_detail.contact_no %>
</p>

<p>
  <strong>Micr code:</strong>
  <%= @employee_bank_detail.micr_code %>
</p>

<p>
  <strong>Branch code:</strong>
  <%= @employee_bank_detail.branch_code %>
</p>

<p>
  <strong>Ifsc code:</strong>
  <%= @employee_bank_detail.ifsc_code %>
</p>

<%= link_to 'Edit', edit_employee_bank_detail_path(@employee_bank_detail) %> |
<%= link_to 'Back', employee_bank_details_path %>
