<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Bank Details</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed'">

    <tr>
      <th><strong>Employee:</strong></th>
      <td> <%= @employee_bank_detail.employee %></td>

      <th> <strong>Account no:</strong></th>
      <td><%= @employee_bank_detail.account_no %></td>
    </tr>

    <tr>
      <th><strong>Bank name:</strong></th>
      <td><%= @employee_bank_detail.bank.try(:name) %></td>

      <th><strong>Branch name:</strong></th>
      <td><%= @employee_bank_detail.branch_name %></td>
    </tr>

    <tr>
      <th><strong>Address:</strong></th>
      <td> <%= @employee_bank_detail.address %></td>

      <th><strong>Contact no:</strong></th>
      <td> <%= @employee_bank_detail.contact_no %></td>
    </tr>

    <tr>
      <th><strong>Micr code:</strong></th>
      <td><%= @employee_bank_detail.micr_code %></td>

      <th><strong>Branch code:</strong></th>
      <td> <%= @employee_bank_detail.branch_code %></td>
    </tr>

    <tr>
      <th><strong>Ifsc code:</strong></th>
      <td><%= @employee_bank_detail.ifsc_code %></td>

      <th></th>
      <td></td>
    </tr>
    </table>

    <%= link_to 'Edit', edit_employee_bank_detail_path(@employee_bank_detail),class: 'btn btn-sm btn-success fa fa-edit' %> |
    <%= link_to 'Back', employee_bank_details_path,class: 'btn btn-sm btn-default fa fa-arrow-left' %>
  </div><!-- /.box-body -->
</div><!-- /.box -->
