<div class="table-responsive">
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Sr No.</th>
      <th>Salary component</th>
      <th>Is deducted</th>
      <th>Parent salary component</th>
      <th>Percentage</th>
      <th>To be paid</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
    <% @salary_component_templates.each do |salary_component_template| %>
      <tr>
        <td><%= i=i+1 %></td>
        <td><%= salary_component_template.try(:salary_component).try(:name) %></td>
        <td><%= salary_component_template.try(:is_deducted) ? "Yes" : "No" %></td>
        <td><%= salary_component_template.try(:parent_salary_component).try(:name) %></td>
        <td><%= salary_component_template.try(:percentage) %></td>
        <td><%= salary_component_template.try(:to_be_paid) %></td>
        <td>  
          <%= link_to '', edit_salary_component_template_path(salary_component_template),class: "btn btn-sm btn-success btn-xs fa fa-edit", remote: true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>