
<%= bootstrap_form_for(@district,html: {id: 'district'},remote:true) do |f| %>
  <div class="row">
   <div class="col-sm-3">
      <div class="form-group required">
        <%= f.select :state_id,all_state,{label: 'State',include_blank: " Select State"} %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code, placeholder: 'Code' %>
      </div>
    </div>
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name, placeholder: 'district Name' %>
      </div>
    </div>
   <div class="col-sm-3">
   <label></label>
      <div class="actions">
        <%= f.submit "Create District" ,class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
  <% end %>
