<div class="box-header with-border">
</div><!-- /.box-header --><!-- 
<div class="box-body"></div> -->
<table id="example1" class="table table-bordered table-hover table-condensed">
 <thead>
    <tr>
      <th>Percentage</th>
      <th>Effective from</th>
      <th>Effective to</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @pf_employers.each do |pf_employer| %>
      <tr>
        <td><%= pf_employer.percentage %></td>
        <td><%= pf_employer.effective_from %></td>
        <td><%= pf_employer.effective_to %></td>
        <td><%= pf_employer.is_active ? "Active" : "Inactive" %></td>
        <td>
          <% if pf_employer.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
            <%= link_to '', pf_employer ,class: 'btn btn-xs btn-default fa fa-eye' %>
          <% else %>
            <%= link_to '', edit_pf_employer_path(pf_employer) ,class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
            <%= link_to '',  pf_employer, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-xs btn-danger fa fa-close' %>
            <%= link_to '', is_confirm_pf_employers_path(pf_employer: pf_employer),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
            <%= link_to '', pf_employer ,class: 'btn btn-xs btn-default fa fa-eye' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>