<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">PF Employer</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">

  <tr>
  <th><strong>Base Component</strong></th>
   <td colspan="3"> <% i = 0 %>
          <% @pf_employer.base_component.split(",").each do |e| %>
            <% if i == 0 %>
              <%= SalaryComponent.find(e.to_i).name %>
            <% else %>
              + <%= SalaryComponent.find(e.to_i).name %>
            <% end %>
            <% i = i + 1 %>
          <% end %>
      </td>
  
</tr>
<tr>
  <th><strong>Percentage</strong></th>
   <td><%= @pf_employer.percentage %></td>

    <th><strong>Status</strong></th>
   <td><%= @pf_employer.is_active ? "Active" : "Inactive" %></td>
</tr>

<tr>
  <th><strong>From Date</strong></th>
  <td><%= @pf_employer.effective_from %></td>

  <th><strong>To Date</strong></th>
  <td><%= @pf_employer.effective_to %></td>

</tr>
</table><br>
 <%= link_to 'Back', new_pf_employer_path,class: 'btn btn-default btn-sm fa fa-arrow-left'  %>