<p id="notice"><%= notice %></p>

<p>
  <strong>Is pf:</strong>
  <%= @pf_master.is_pf %>
</p>

<p>
  <strong>Percentage:</strong>
  <%= @pf_master.percentage %>
</p>

<p>
  <strong>Date effective:</strong>
  <%= @pf_master.date_effective %>
</p>

<p>
  <strong>Min limit:</strong>
  <%= @pf_master.min_limit %>
</p>

<p>
  <strong>Base component:</strong>
  <%= @pf_master.base_component %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @pf_master.is_active %>
</p>

<%= link_to 'Edit', edit_pf_master_path(@pf_master) %> |
<%= link_to 'Back', pf_masters_path %>
