<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">PF</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">

<tr>
	<th><strong>PF</strong></th>
	 <td><%= @pf_master.is_pf ? "Yes" : "No" %></td>
	<th><strong>Percentage</strong></th>
	 <td><%= @pf_master.percentage %></td>
</tr>
<tr>
	<th><strong>Base Component</strong></th>
	 <td colspan="3">  <% i = 0 %>
          <% @pf_master.base_component.split(",").each do |e| %>
            <% if i == 0 %>
              <%= SalaryComponent.find(e.to_i).name %>
            <% else %>
              + <%= SalaryComponent.find(e.to_i).name %>
            <% end %>
            <% i = i + 1 %>
          <% end %>
      </td>
	
</tr>

<tr>
	<th><strong>Effective Date</strong></th>
	<td><%= @pf_master.date_effective %></td>

	<th><strong>Min limit</strong></th>
	<td><%= @pf_master.min_limit %></td>

</tr>

<tr>

		<th><strong>Status</strong></th>
	<td colspan="3"><%= @pf_master.is_active ? "Active" : "Inactive" %></td>
</tr>

</table><br>
 <%= link_to 'Back', new_pf_master_path,class: 'btn btn-default btn-sm fa fa-arrow-left'  %>