<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Time From</th>
      <th>Time To</th>
      <th>Allow latemark</th>
      <th>Amount</th>
      <th>Allow Halfday</th>
      <th>Action</th>
    </tr>
    </tr>
  </thead>
  
 <tbody>
    <% @latemark_masters.each do |latemark_master| %>
      <tr>
        <td><%= latemark_master.company_time %></td>
        <td><%= latemark_master.late_limit %></td>
        <td><%= latemark_master.allow_latemark %></td>
        <td><%= latemark_master.amount %></td>
        <td><%= latemark_master.halfday_allow ? "Yes" : "No" %></td>
          <td>
            <%= link_to '',  latemark_master, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>
             <%= link_to '', edit_latemark_master_path(latemark_master),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
             
          </td>
      </tr>
    <% end %>
  </tbody>
</table>