<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Time From</th>
      <th>Time To</th>
      <th>Allow latemark</th>
      <th>Amount</th>
      <th>Allow Halfday</th>
      <th>Fullday Working Time</th>
      <th>Halfday Working Time</th>
      <th>Action</th>
    </tr>
    </tr>
  </thead>
  
 <tbody>
    <% @latemark_masters.each do |latemark_master| %>
      <tr>
        <td><%= latemark_master.company_time %></td>
        <td><%= latemark_master.late_limit %></td>
        <td><%= latemark_master.allow_latemark %></td>
        <td><%= latemark_master.amount %></td>
        <td><%= latemark_master.halfday_allow ? "Yes" : "No" %></td>
        <td><%= latemark_master.fullday_working_hrs %></td>
        <td><%= latemark_master.halfday_working_hrs %></td>
        <td>
          <%= link_to '',  latemark_master, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>
           <%= link_to '', edit_latemark_master_path(latemark_master),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>
