<br>
<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Sr. No</th>
      <th>ID</th>
      <th>Employee</th>
      <th>Date</th>
      <th>Latemark Count</th>
        <th>Latemark Amount</th>
    </tr>
  </thead>
  <tbody>
    <% i = 0 %>
    <% @latemark_deductions.each do |latemark_deduction| %>

      <tr>
        <td><%= i = i + 1 %></td>
        <td><%= latemark_deduction.employee.manual_employee_code %></td>
        <td><%= full_name(latemark_deduction.employee) %></td>
        <td><%= latemark_deduction.latemark_day %></td>
        <td><%= latemark_deduction.latemark_count%></td>
          <td><%= latemark_deduction.latemark_amount%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="col-sm-2" style="padding-top: 20px">
  <%= link_to 'Revert Latemark',revert_latemark_value_latemark_masters_path(from_date:  params[:latemark_master][:from_date], to_date:  params[:latemark_master][:to_date]),class: 'btn btn-primary btn-sm ' %>
</div>


<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>