<div class="box">
  <div class="box-header">
    <h3 class="box-title">Latemark Employee List</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= form_for :latemark_masters, url: { action: 'calculate_latemark'} do |f| %>

      <table id="example6" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr><th colspan="5"><center>From <%= @from_date.to_date %> To <%= @to_date.to_date %></center></th></tr>
          <tr>
            <th><input type="checkbox" id="selectAll" value="selectAll"></th>
            <th>ID</th>
            <th>Employee</th>
            <th>In Time</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% @employee_attendances.each do |employee_attendance| %>

            <tr>
              <% if employee_attendance.in_time.strftime("%I:%M") > @company_time %>

                <td><%= check_box_tag "employee_attendance_ids[]", employee_attendance.id %></td>
                <td><%= employee_attendance.employee.manual_employee_code %></td>
                <td><%= full_name(employee_attendance.employee) %></td>
                <td><%= employee_attendance.in_time.strftime("%I:%M") %></td>
                <td><%= employee_attendance.day %></td>
              <% else %>
              
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="col-sm-3">
        <%= f.submit "Calculate Latemark",class: "btn btn-xl btn-primary fa fa-print" %>
      </div>
      
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>