<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4>Resignation Request Approved</h4>
    <p> 
      This is to inform you that you have a New Employee Resignation Request .
      Details for Resignation is given below.<br><br>
       1. <b>Reporting Manager Name :-</b> <%= @employee.try(:first_name).to_s %> <%= @employee.try(:last_name).to_s %> <%= @employee.try(:middle_name).to_s %><br><br>
       2. <b>Employee Name :-</b> <%= @emp.employee.try(:first_name).to_s %> <%= @emp.employee.try(:last_name).to_s %> <%= @emp.employee.try(:middle_name).to_s %><br><br>
       3. <b>Resignation Date :-</b> <%= @employee_resignation.resignation_date %><br><br>
       4. <b>Reason For Leaving :-</b> <%= @employee_resignation.reason %><br><br>
       5. <b>Notice Period :-</b> <%= @employee_resignation.notice_period %><br><br>
       6. <b>Short Notice Period :-</b> <%= @employee_resignation.short_notice_period %><br><br>
       7. <b>Requested Relieving Date :-</b> <%= @employee_resignation.tentative_leaving_date %><br><br>
       8. <b>Remark:-</b> <%= @employee_resignation.remark %><br><br>
       9. <b>Interview Date:-</b> <%= @employee_resignation.exit_interview_date %><br><br>
       10. <b>Note:-</b> <%= @employee_resignation.note %><br><br>
       11. <b>Leaving Date:-</b> <%= @employee_resignation.leaving_date %><br><br>
       12. <b>Settled On:-</b> <%= @employee_resignation.settled_on %><br><br>
       13. <b>Reason:-</b> <%= @employee_resignation.reason %><br><br>
        <br><br>
     </p>
  </body>
</html>