<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4>Resignation Request</h4>
    <p> 
      Dear <%= @employee.try(:prefix) %><%= @employee.try(:first_name).to_s %> <%= @employee.try(:last_name).to_s %> <%= @employee.try(:middle_name).to_s %>, </p><br>

      <p>Please accept this message as notification that I <b><%= @emp.employee.prefix %><%= @emp.employee.try(:first_name).to_s %> <%= @emp.employee.try(:last_name).to_s %> <%= @emp.employee.try(:middle_name).to_s %></b> am leaving my position with <b><%= @employee.company.try(:name) %></b></p>

      <p>I appreciate the opportunities I have been given at <b><%= @employee.company.try(:name) %></b> and your professional guidance and support. I wish you and the company success in the future.Requested relieving date is <b><%= @employee_resignation.tentative_leaving_date %></b>. And the reason of leaving the organization is <b><%= @employee_resignation.reason %></p></b>

      <p>Please let me know what to expect as far as my final work schedule, accrued vacation leave, and my employee benefits.</p>

  Best Regards
  </body>
</html>