<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4><center>Resignation request pending for your approval</center></h4>

<p><b>Dear <%= @reporting_master.try(:prefix) %><%= @reporting_master.try(:first_name).to_s %> <%= @reporting_master.try(:middle_name).to_s %> <%= @reporting_master.try(:last_name).to_s %>,</b></p>

<p>Please accept this message as notification that I <b> <%= @employee.prefix %><%= @employee.try(:first_name).to_s %> <%= @employee.try(:middle_name).to_s %> <%= @employee.try(:last_name).to_s %> (<%= @employee.try(:manual_employee_code) %>)</b>, would like to resign from my position with SG Analytics.</p>

<p>I appreciate the opportunities I have been given at SG Analytics and your professional guidance and support. I wish you and the company success in the future. Requested relieving date is <b><%= @employee_resignation.tentative_leaving_date %></b> and the reason of leaving the organization is Test Mail.</p>

<p>My resignation has been approved by my direct reporting manager, <b><%= @reporting_master.try(:prefix) %><%= @reporting_master.try(:first_name).to_s %> <%= @reporting_master.try(:middle_name).to_s %> <%= @reporting_master.try(:last_name).to_s %>.</b></p>

<p>For more details on the request, kindly check the People First HRMS portal.

<p>Best Regards,</p>

 <p><b><%=  @first_reporting_master.try(:employee).try(:prefix) %><%= @first_reporting_master.try(:employee).try(:first_name).to_s %> <%= @first_reporting_master.try(:employee).try(:middle_name).to_s %> <%= @first_reporting_master.try(:employee).try(:last_name).to_s %> </b></p>
  </body>
</html>

