<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4><center>Your resignation request has been approved</center></h4>

<p>This is to inform that the resignation request created by<b> <%= @employee_resignation.try(:employee).try(:prefix) %><%= @employee_resignation.try(:employee).try(:first_name) %> <%= @employee_resignation.try(:employee).try(:middle_name) %> <%= @employee_resignation.try(:employee).try(:last_name) %> </b> on  <b> <%= @employee_resignation.try(:resignation_date) %> </b>, has been approved by your reporting manager and SKIP level manager. </p>

<p> Your resignation request has now been sent to the HR Head for approval.</p>

<p>For further details, kindly contact your with HR Team.</p>
<h4>Details of the Resignation:-</h4>
<p>Employee ID:- <%= @employee.try(:manual_employee_code) %></p>
<p>Employee Name:-<%= @employee_resignation.try(:employee).try(:prefix) %><%= @employee_resignation.try(:employee).try(:first_name) %> <%= @employee_resignation.try(:employee).try(:middle_name) %> <%= @employee_resignation.try(:employee).try(:last_name) %></p>
<p>Reason of Separation:- <%= @employee_resignation.try(:reason) %></p>
  </body>
</html>


