<%= form_for(@leave_status_record) do |f| %>
  <% if @leave_status_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leave_status_record.errors.count, "error") %> prohibited this leave_status_record from being saved:</h2>

      <ul>
      <% @leave_status_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_leav_request_id %><br>
    <%= f.text_field :employee_leav_request_id %>
  </div>
  <div class="field">
    <%= f.label :change_status_employee_id %><br>
    <%= f.text_field :change_status_employee_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :change_date %><br>
    <%= f.datetime_select :change_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
