<%= form_for(@company_type) do |f| %>
  <% if @company_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company_type.errors.count, "error") %> prohibited this company_type from being saved:</h2>

      <ul>
      <% @company_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :name %>
       </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="actions">
    <%= f.submit %>
       </div>
    </div>
  </div>
<% end %>
