<%= bootstrap_form_for(@company_type,html: {id: 'company_type'},remote:true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code,hide_label:true, placeholder: 'Company Code' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,hide_label:true, placeholder: 'Company Name' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :description,hide_label:true, placeholder: 'Company Description' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Company Type" ,:class => class_name, data: { disable_with: data_info } %>
      </div>
    </div>
  </div>
<% end %>

<script>
$("#company_type").validate({
    rules: {
      "company_type[code]":{
        required: true,
      },
      "company_type[name]":{
        required: true,
      }
       },
    messages: {
      "company_type[code]":{
        required: "Please specify code",
      },
       "company_type[name]":{
        required: "Please specify name",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
