<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Company Locations</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= bootstrap_form_for(@company_location,html: {id: 'company_location'}) do |f| %>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group required">
             <%= f.select :company_id, all_company %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group required">
              <%= f.text_field :name,label:"Location Name" %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="field">
             <%= f.text_field :email %>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="field">
              <%= f.text_field :contact_no %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <div class="field">
              <%= f.text_field :address %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="field">
              <%= f.text_field :pin_code,label:"Pin Code/ZIP" %>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group required">
              <%=f.select :country, all_countries,{include_blank: "Please Select Country"},{onchange:"var a={id:$(this).val()}; $.get('/companies/collect_states',a,function(response){});"}%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group required">
              <div id="states">
<<<<<<< HEAD
              <%=f.select :state,{},{include_blank: "Please Select Country"} %> 
            </div> 
=======
                <%=f.select :state,{},{include_blank: "Please Select State"}%> 
              </div>
>>>>>>> 9fb63fa0db072ea6905a3ba50d4549512716392f
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group required">
             <div id="district">
             <%=f.select :district,{},{include_blank: "Please Select State"} %> 
           </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group required">
              <%= f.text_field :city %>
            </div>
          </div>
        </div>

        <div class="row">
         <div class="col-sm-5">
          <div class="actions">
            <%= f.submit "Create Company Locations",class: "btn btn-primary",data: { disable_with: 'Wait....'} %>
          </div>
          </div>
      <% end %>
      </div>
        </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
</div><!-- /.box -->
