<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Company Locations</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= bootstrap_form_for(@company_location,html: {id: 'company_location'}) do |f| %>

    <% if @company_location.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@company_location.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @company_location.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group required">
             <%= f.text_field :manual_company_location_code,label: 'Company Location Code',placeholder: "Company Location Code"%>
             </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
            <div class="form-group required">
             <%= f.select :company_id, all_company %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="form-group required">
              <%= f.text_field :name,label:"Location Name" %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="field">
             <%= f.text_field :email %>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="field">
              <%= f.text_field :contact_no %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-9">
            <div class="field">
              <%= f.text_field :address %>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="field">
              <%= f.text_field :pin_code,label:"Pin Code/ZIP" %>
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group required">
              <%=f.select :country_id, all_countries,{include_blank: "Please Select Country"},{onchange:"var a={id:$(this).val(), form : 'company_location'}; $.get('/companies/collect_states',a,function(response){});"}%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group required">
              <div id="states">
                <%= render 'companies/state_dropdown' %>
              </div> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group required">
             <div id="district">
               <%= render 'companies/city_dropdown' %>
           </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group required">
              <%= f.text_field :city %>
            </div>
          </div>
        </div>

        <div class="row">
         <div class="col-sm-5">
          <div class="actions">
            <%= f.submit "Create Company Locations",class: "btn btn-primary",data: { disable_with: 'Wait....'} %>
          </div>
          </div>
      <% end %>
      </div>
        </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
</div><!-- /.box -->
