<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Company</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>

    <tr>
      <th><strong>Company:</strong></th>
      <td> <%= @company_location.company %></td>

      <th><strong>Location Name:</strong></th>
      <td><%= @company_location.name %></td>
    </tr>

    <tr>
      <th><strong>Address:</strong></th>
      <td><%= @company_location.address %></td>

      <th><strong>City:</strong></th>
      <td><%= @company_location.city %></td>
    </tr>

    <tr>
      <th> <strong>District:</strong></th>
      <td> <%= @company_location.district %></td>

      <th><strong>Pin code:</strong></th>
      <td><%= @company_location.pin_code %></td>
    </tr>

    <tr>
      <th><strong>Contact no:</strong></th>
      <td><%= @company_location.contact_no %></td>

      <th><strong>Email:</strong></th>
      <td><%= @company_location.email %></td>
    </tr>
     </table>

    <%= link_to 'Edit', edit_company_location_path(@company_location),class: 'btn btn-success fa fa-edit' %> |
    <%= link_to 'Back', root_path,class: 'btn btn-default fa fa-arrow-left' %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about the plugin.
  </div>
</div><!-- /.box -->
