<p id="notice"><%= notice %></p>

<p>
  <strong>Issue tracker group:</strong>
  <%= @issue_root_cause.issue_tracker_group %>
</p>

<p>
  <strong>Name:</strong>
  <%= @issue_root_cause.name %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @issue_root_cause.is_active %>
</p>

<p>
  <strong>Is confirm:</strong>
  <%= @issue_root_cause.is_confirm %>
</p>

<%= link_to 'Edit', edit_issue_root_cause_path(@issue_root_cause) %> |
<%= link_to 'Back', issue_root_causes_path %>
