<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Leave History</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <table id="example1" class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <th>Employee ID</th>
              <th>Leave Category</th>
              <th>Leave Type</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <% @employee_leav_requests.each do |employee_leav_request| %>
              <tr>
                <td><%= employee_leav_request.employee.try(:manual_employee_code) %></td>
                <td><%= employee_leav_request.leav_category.try(:name) %></td>
                <td><%= employee_leav_request.leave_type %></td>
                <td><%= employee_leav_request.start_date.to_date.to_s+" "+employee_leav_request.start_date.to_s %></td>
                <td><%= employee_leav_request.end_date.to_date.to_s+" "+employee_leav_request.end_date.to_s %></td>
                <td>
                  <% employee_leav_request.leave_status_records.try(:each) do |r| %>
                    <% case r.status %>
                      <% when "Pending" %>
                        <small class="label label-default">Pending</small>
                      <% when "FirstApproved" %>
                        <small class="label label-primary">FirstApproved</small>
                      <% when "FinalApproved" %>
                        <small class="label label-success">FinalApproved</small>
                      <% when "Rejected" %>
                        <small class="label label-danger">Rejected</small>
                      <% when "Cancelled" %>
                        <small class="label label-warning">Cancelled</small>
                      <% else %>
                        <small class="label label-info">Else</small>
                    <%end%>
                  <%end%>
                </td>  
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">Name</div>
      <div class="col-sm-6"><%= full_name(@employee) %></div>
    </div>
    <div class="row">
      <div class="col-sm-2">Leave Category</div>
      <div class="col-sm-6"><%= @current_request.leav_category.name %></div>
    </div>
    <div class="row">
      <div class="col-sm-2">Leave Type</div>
      <div class="col-sm-6"><%= @current_request.leave_type %></div>
    </div>
    <div class="row">
      <div class="col-sm-2">No of Day</div>
      <div class="col-sm-6"><%= @current_request.leave_count %></div>
    </div>
    <div class="row">
      <div class="col-sm-2">Period</div>
      <div class="col-sm-6"><%= @current_request.date_range %></div>
    </div>
    <div class="row">
      <div class="col-sm-2">Reason</div>
      <div class="col-sm-6"><%= @current_request.try(:reason) %></div>
    </div>
    <% if @current_request.current_status == "Pending" %>
      <%= link_to 'Approved', first_approve_leave_status_record_path(@current_request.id), data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-info fa fa-check' %>
      <%= link_to 'Reject', first_reject_leave_status_record_path(@current_request.id), data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-danger fa fa-trash' %>
    <% elsif @current_request.current_status == "FirstApproved" %>
      <%= link_to 'Approved', second_approve_leave_status_record_path(@current_request.id), data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-info fa fa-check' %>
      <%= link_to 'Reject', second_reject_leave_status_record_path(@current_request.id), data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-danger fa fa-trash' %>
      <%= link_to 'Back', employee_history_with_current_leave_employee_leav_requests_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
    <% end %>
  </div>
</div>


      