<%= bootstrap_form_for(@interview_attribute,html: {id: 'interview_attribute'},remote:true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code,hide_label:true, placeholder: 'Code' %>
      </div>
    </div> 
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,hide_label:true, placeholder: 'Skill Set' %>
      </div>
    </div>
     <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :description,hide_label:true, placeholder: 'Description' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Skill Set" ,class: 'btn btn-sm btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
<script>
$("#interview_attribute").validate({
    rules: {
      "interview_attribute[code]":{
        required: true,
      },
       "interview_attribute[name]":{
        required: true,
      }
       },
    messages: {
      "interview_attribute[code]":{
        required: "Please specify code",
      },
      "interview_attribute[name]":{
        required: "Please specify name",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>