<table class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
<!--       <th>ID</th>
 -->  <th>Job Title</th>
      <th>Candidate Name</th>
      <th>Email ID</th>
      <th>Interview Date</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% @interview_schedules.each do |interview_schedule| %>
      <tr>
<!--         <td><%= interview_schedule.id %></td>
 -->    <td><%= interview_schedule.job_title %></td>
        <td><%= interview_schedule.candidate_name %></td>
        <td><%= interview_schedule.email_id %></td>
        <td><%= interview_schedule.interview_date %></td>
        <td><%= interview_schedule.location %></td>
      </tr>
      <% end %>
  </tbody>
</table>