<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Training Records</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
      <tr> 
        <th colspan="2"></th>
        <th colspan="2"></th>
      </tr>

      <tr>
        <th><strong>Employee</strong></th>
        <td><%= @training_record.employee.try(:manual_employee_code) %> <%= @training_record.employee.try(:first_name) %> <%= @training_record.employee.try(:last_name) %></td>
     
        <th><strong>Training Topic Master</strong></th>
        <td><%= @training_record.training_topic_master.try(:name) %></td>
      </tr>

      <tr>
        <th><strong>Training Date</strong></th>
        <td><%= @training_record.training_date %></td>
      
        <th><strong>Duration</strong></th>
        <td><%= @training_record.duration %></td>
      </tr>

      <tr>
        <th><strong>Location</strong></th>
        <td><%= @training_record.location %></td>
     
        <th><strong>Trainer Name</strong></th>
        <td><%= @training_record.trainer_name %></td>
      </tr>
    </table>

       <%= link_to 'Edit', edit_training_record_path(@training_record),class: 'btn btn-success btn-sm fa fa-edit' %> |
      <%= link_to 'Back', training_records_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
  </div>
</div>