<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Over Time</th>
      <th>Day</th>
      <th>Company Hours</th>
      <th>OT Rate</th>
      <th>ESIC</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
   <% @overtime_masters.each do |overtime_master| %>
      <tr>
        <td><%= overtime_master.is_over_time ? "Active" : "Inactive" %></td>
        <td><%= overtime_master.day %></td>
        <td><%= overtime_master.company_hrs %></td>
        <td><%= overtime_master.ot_rate %></td>
        <td><%= overtime_master.is_esic ? "Yes" : "No" %></td>
        <td><%= overtime_master.status ? "Active" : "Inactive" %></td>
        <td>
          <% if overtime_master.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
          <% else %>
            <%= link_to '', edit_overtime_master_path(overtime_master) ,class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
            <%= link_to '',  overtime_master, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-xs btn-danger fa fa-close' %>
            <%= link_to '', is_confirm_overtime_masters_path(overtime_master: overtime_master),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>