<p id="notice"><%= notice %></p>

<h1>Listing Annual Salary Masters</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Name</th>
      <th>Code</th>
      <th>Description</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annual_salary_masters.each do |annual_salary_master| %>
      <tr>
        <td><%= annual_salary_master.employee %></td>
        <td><%= annual_salary_master.name %></td>
        <td><%= annual_salary_master.code %></td>
        <td><%= annual_salary_master.description %></td>
        <td><%= annual_salary_master.amount %></td>
        <td><%= link_to 'Show', annual_salary_master %></td>
        <td><%= link_to 'Edit', edit_annual_salary_master_path(annual_salary_master) %></td>
        <td><%= link_to 'Destroy', annual_salary_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Annual salary master', new_annual_salary_master_path %>
