<%= bootstrap_form_for(@listed_company, html: {id: 'listed_company' } ) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name, label:'Name', placeholder: 'Name' %>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :contact_no, label: 'Contact Number', placeholder: '0000000000' %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group required">
        <%= f.text_field :email, label:'Email', placeholder: 'abc@example.com' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <div class="form-group required">
        <%= f.text_area :location, label:'Location', placeholder: 'XYZ' %>
      </div>
    </div>
    <div class="col-sm-2">
     <label>Status</label>
     <%= f.check_box :status,label:'Active' %>
    </div>
    <div class="col-sm-3">
      <div class="actions" style="padding-top: 20px;">
        <%= f.submit 'Create',class: "btn btn-primary btn-sm"%>
      </div>
    </div>
  </div>
  <br />
<% end %>

<script>
  $("#listed_company").validate({
    rules: {
      "listed_company[name]":{
        required: true,
      },
      "listed_company[contact_no]":{
        required: true,
      },
      "listed_company[email]":{
        required: true,
      },
      "listed_company[location]":{
        required: true,
      }
    },
    messages: {
      "listed_company[name]":{
        required: "Please Specify Name",
      },
      "listed_company[contact_no]":{
        required: "Please Specify Contact Number",
      },
      "listed_company[email]":{
        required: "Please Specify Email Address",
      },
      "listed_company[location]":{
        required: "Please Specify Location",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
  });
</script>
