<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listed_company.name %>
</p>

<p>
  <strong>Contact no:</strong>
  <%= @listed_company.contact_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @listed_company.email %>
</p>

<p>
  <strong>Location:</strong>
  <%= @listed_company.location %>
</p>

<%= link_to 'Edit', edit_listed_company_path(@listed_company) %> |
<%= link_to 'Back', listed_companies_path %>
