<style>
    th {
        text-align: left;
    }
    tr {
        page-break-inside: avoid;
    }
    div.alwaysbreak { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak{ page-break-inside: avoid;
      /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
    }
</style>
<table style="border-collapse: collapse; font-size:9pt;" border=1 width=1200 cellpadding="10">
  <thead>
    <tr>
      <td colspan="6"><center> 
        <% if current_user.employee.company_location.company.company_logo == nil %>
        <%else %>
          <center> <%= wicked_pdf_image_tag current_user.employee.company_location.company.company_logo.url, :size => "90x50" %></center>
        <%end%> 
          <strong><%=current_user.employee.company_location.company.try(:description)%></strong> <br> <%= current_user.employee.company_location.company.try(:address)%></center>
      </td>
    </tr>
    <tr>
      <th>Expense Option</th>
      <th>Mode</th>
      <th>Option</th>
      <th>Billing Option</th>
      <th>Employee Grade</th>
      <th>Min Amount</th>
      <th>Max Amount</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @expenses_masters.each do |expenses_master| %>
      <tr>
        <td><%= expenses_master.expence_opestion.try(:name) %></td>
        <td><%= expenses_master.mode %></td>
        <td><%= expenses_master.billing_opestion %></td>
        <td><%= expenses_master.billing_option.try(:name) %></td>
        <td><%= expenses_master.employee_grade.try(:name) %></td>
        <td><%= expenses_master.min_amount %></td>
        <td><%= expenses_master.max_amount %></td>
        <td><%= expenses_master.status ? "Active" : "Inactive" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
