<p id="notice"><%= notice %></p>

<h1>Listing Expenses Masters</h1>

<table>
  <thead>
    <tr>
      <th>Expence opestion</th>
      <th>Mode</th>
      <th>Billing opestion</th>
      <th>Billing option</th>
      <th>Employee grade</th>
      <th>Min amount</th>
      <th>Max amount</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses_masters.each do |expenses_master| %>
      <tr>
        <td><%= expenses_master.expence_opestion %></td>
        <td><%= expenses_master.mode %></td>
        <td><%= expenses_master.billing_opestion %></td>
        <td><%= expenses_master.billing_option %></td>
        <td><%= expenses_master.employee_grade %></td>
        <td><%= expenses_master.min_amount %></td>
        <td><%= expenses_master.max_amount %></td>
        <td><%= expenses_master.status %></td>
        <td><%= link_to 'Show', expenses_master %></td>
        <td><%= link_to 'Edit', edit_expenses_master_path(expenses_master) %></td>
        <td><%= link_to 'Destroy', expenses_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expenses master', new_expenses_master_path %>
