<p id="notice"><%= notice %></p>

<p>
  <strong>Expence opestion:</strong>
  <%= @expenses_master.expence_opestion %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @expenses_master.mode %>
</p>

<p>
  <strong>Billing opestion:</strong>
  <%= @expenses_master.billing_opestion %>
</p>

<p>
  <strong>Billing option:</strong>
  <%= @expenses_master.billing_option %>
</p>

<p>
  <strong>Employee grade:</strong>
  <%= @expenses_master.employee_grade %>
</p>

<p>
  <strong>Min amount:</strong>
  <%= @expenses_master.min_amount %>
</p>

<p>
  <strong>Max amount:</strong>
  <%= @expenses_master.max_amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @expenses_master.status %>
</p>

<%= link_to 'Edit', edit_expenses_master_path(@expenses_master) %> |
<%= link_to 'Back', expenses_masters_path %>
