<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Insentives</h3>
    <div class="pull-right">
      <%= link_to " Excel ",employee_insentive_month_employee_insentives_path(month: @month,year: @year, format: "xls"), class: "btn btn-sm btn-success fa fa-print" %>
      <%= link_to " PDF ",employee_insentive_month_employee_insentives_path(month: @month,year: @year, format: "pdf"), class: "btn btn-sm btn-info fa fa-print", :target => "_blank" %>
    </div>
  </div>
  <div class="box-body">
    <table id="example6" class="table table-bordered table-hover table-condensed'">
      <thead>
        <tr>
          <th>Sr.No.</th>
          <th>ID</th>
          <th>Employee</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% i = 0 %>
        <% @employee_insentives.each do |employee_insentive| %>
          <tr>
            <td><%= i = i + 1 %></td>
            <td><%= employee_insentive.employee.try(:manual_employee_code) %></td>
            <td><%= full_name(employee_insentive.employee) %></td>
            <td><%= employee_insentive.date %></td>
            <td><%= employee_insentive.amount %></td>
            <td><%= employee_insentive.status %></td>
            <td>
              <% if employee_insentive.status.nil? %>
                <%= link_to ' ', show_employee_insentive_employee_insentives_path(employee_insentive), remote: true, class: 'btn btn-xs btn-default fa fa-eye' %>
                <%= link_to ' ', edit_employee_insentive_path(employee_insentive), class: 'btn btn-success btn-xs fa fa-edit' %>
                <%= link_to ' ', employee_insentive, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-xs fa fa-close' %>
              <% else %>
                <small class="label label-primary">Paid</small>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="show_employee_insentive" class="modal fade"></div>


<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>
