<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Membership</h3>
    <div class="pull-right">
      <%= link_to 'New Membership', new_society_member_ship_path, class: 'btn btn-sm btn-primary' %> 
    </div>
    
  </div><!-- /.box-header -->
  <div class="box-body">
  <div id="comments">
    <table id="example6" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Amount</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
       <% @society_member_ships.each do |society_member_ship| %>
        <tr>
          <td><%= society_member_ship.employee.try(:manual_employee_code) %></td>
          <td><%= full_name(society_member_ship.employee) %></td>
          <td><%= society_member_ship.amount %></td>
          <td>
           <% if society_member_ship.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
          <% else %>
            <%= link_to '', edit_society_member_ship_path(society_member_ship), class: 'btn btn-xs btn-success fa fa-edit' %>
            <%= link_to '', society_member_ship,class: 'btn btn-xs btn-default fa fa-eye' %>
            <%= link_to '', is_confirm_society_member_ships_path(society_member_ship: society_member_ship),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>
