<div class="box box-default">
   <div class="box-body"> 
    <%= bootstrap_form_for(@investment_declaration,html: {id: 'investment_declaration'}) do |f| %>
     <%= hidden_field_tag :authenticity_token, form_authenticity_token %> 
      <div class="row">
        <div class="col-sm-3">
          <div class="field">
            <%= f.select :employee_id, employee_list_for_food_deduction, {include_blank: "Select Employee"} %>
          </div>
          </div>
        <div class="col-sm-3">
            <div class="form-group required">
               <%= f.select :investment_head_id, investment_head_all, {label:'Investment Head',include_blank: " Select Investment Head"} %>
            </div>
        </div>

            <div class="col-sm-3">
            <div class="field">
              <%= f.text_field :amount,label:'Amount', placeholder: 'Amount' %>
            </div>
          </div>
         
        

        <div class="col-sm-3">
          <label>Date: </label>
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= f.text_field :date, hide_label: true, class: 'interview_date'%>
            </div>
          </div>
        </div> 
            </div>
           <div class="row">
            <div class="col-sm-3">
     <label>Status</label>
      <div class="field">       
        <%= f.check_box :status,label:'Active' %>
      </div>
    </div>
      <div class="col-sm-2">
        <div class="field">
          <%= f.file_field :document,label: 'Document(doc,docx,pdf only)' %>
        </div>
       </div>
          <div class="col-sm-3">
            <div class="actions">
              <%= f.submit 'Create Investment Declaration',:class => class_name, data: { disable_with: data_info } %>
            </div>
            </div>
          </div>
        </div>
    </div>
 <% end %>

<script type="text/javascript">
  $(function(){
    $('.interview_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });
  }); 
</script>