<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @investment_declaration.date %>
</p>

<p>
  <strong>Investment head:</strong>
  <%= @investment_declaration.investment_head %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @investment_declaration.amount %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @investment_declaration.employee %>
</p>

<p>
  <strong>Status:</strong>
  <%= @investment_declaration.status %>
</p>

<%= link_to 'Edit', edit_investment_declaration_path(@investment_declaration) %> |
<%= link_to 'Back', investment_declarations_path %>
