<br>
<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Status</th>
      <th>Action</th>
 
  <tbody>
    <% @about_bosses.each do |about_boss| %>
      <tr>
        <td><%= about_boss.code %></td>
        <td><%= about_boss.name %></td>
        <td><%= about_boss.description %></td>
         <td><%= about_boss.status ? "Active" : "Inactive" %></td>
        <td>
            <%= link_to '', edit_about_boss_path(about_boss),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '',  about_boss, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-xs fa fa-close',remote:true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>