<br>
<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Goal Perspective</th>
      <th>Weightage</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @goal_perspectives.each do |goal_perspective| %>
      <tr>
        <td><%= goal_perspective.name %></td>
        <td><%= goal_perspective.goal_weightage ? "Yes" : "No" %></td>
        <td><%= goal_perspective.status ? "Active" : "Inactive" %></td>
        <td>
            <%= link_to '', edit_goal_perspective_path(goal_perspective),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '',  goal_perspective, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>
             <%= link_to '', modal_goal_perspectives_path(goal_perspective),class: 'btn btn-default btn-xs fa fa-eye',remote:true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="myModal" class="modal fade"></div>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>
