<p id="notice"><%= notice %></p>

<p>
  <strong>Expence opestion:</strong>
  <%= @mode.expence_opestion %>
</p>

<p>
  <strong>Code:</strong>
  <%= @mode.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mode.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mode.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @mode.status %>
</p>

<%= link_to 'Edit', edit_mode_path(@mode) %> |
<%= link_to 'Back', modes_path %>
