<p id="notice"><%= notice %></p>

<p>
  <strong>Nominational master:</strong>
  <%= @employee_nomination.nominational_master %>
</p>

<p>
  <strong>Family:</strong>
  <%= @employee_nomination.family %>
</p>

<p>
  <strong>Nomination:</strong>
  <%= @employee_nomination.nomination %>
</p>

<p>
  <strong>Mental illness:</strong>
  <%= @employee_nomination.mental_illness %>
</p>

<p>
  <strong>Minor:</strong>
  <%= @employee_nomination.minor %>
</p>

<p>
  <strong>Guardian name:</strong>
  <%= @employee_nomination.guardian_name %>
</p>

<p>
  <strong>Relation:</strong>
  <%= @employee_nomination.relation %>
</p>

<p>
  <strong>Same address:</strong>
  <%= @employee_nomination.same_address %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee_nomination.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @employee_nomination.city %>
</p>

<p>
  <strong>District:</strong>
  <%= @employee_nomination.district %>
</p>

<p>
  <strong>State:</strong>
  <%= @employee_nomination.state %>
</p>

<p>
  <strong>Contry:</strong>
  <%= @employee_nomination.contry %>
</p>

<p>
  <strong>Pin code:</strong>
  <%= @employee_nomination.pin_code %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @employee_nomination.phone_no %>
</p>

<p>
  <strong>Mobile no:</strong>
  <%= @employee_nomination.mobile_no %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee_nomination.email %>
</p>

<%= link_to 'Edit', edit_employee_nomination_path(@employee_nomination) %> |
<%= link_to 'Back', employee_nominations_path %>
