<%= bootstrap_form_for(@employee_physical) do |f| %>
  <% if @employee_physical.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_physical.errors.count, "error") %> prohibited this employee_physical from being saved:</h2>

      <ul>
      <% @employee_physical.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :employee_id %>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :hieght %>
       </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
    <%= f.text_field :weight %>
       </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
    <%= f.label :size %><br>
    <%= f.text_field :size %>
       </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="actions">
    <%= f.submit %>
       </div>
    </div>
  </div>
<% end %>
