
<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Physical Details</h3>
  </div><!-- /.box-header -->



<div class="box-body">
<%= bootstrap_form_for(@employee_physical,html: {id: 'employee_physical'},remote:true) do |f| %>
 
<%= f.hidden_field :employee_id, value: @employee.id %>
  <div class="row">
      
  
      <div class="col-sm-3">
        <div class="form-group required">
         <%= f.text_field :height,label:"Height",placeholder: "e.g. 5.5 inch " %>
       </div>
    </div>
 
      <div class="col-sm-3">
        <div class="form-group required">
          <%= f.text_field :weight,label:"Weight",placeholder: "e.g. 65(kg)" %>
       </div>
    </div>
 
      <div class="col-sm-3">
        <div class="form-group required">
          <%= f.select :size, ['XS','S','M','L','XL','XXL'],{label: 'T-Shirt Size',include_blank: " Select T-Shirt Size"} %>
       </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group required">
          <%= f.select :trouser_size, ['28','30','32','34','36','38','40','42','44'],{label: 'Trouser Size',include_blank: " Select Trouser Size(cm)"} %>
       </div>
      </div>
  </div>


  <div class="row">
      <div class="col-sm-6">
        <div class="actions">
          <%= f.submit :class => class_name, data: { disable_with: data_info } %>
       </div>
    </div>
  </div>
<% end %>
</div><!-- /.box-body -->
</div><!-- /.box -->

<script type="text/javascript">
 $("#employee_physical").validate({
    rules: {
      "employee_physical[height]":{
        required: true
      },
      "employee_physical[weight]":{
        required: true
        },
      "employee_physical[size]":{
        required: true
        },
      "employee_physical[trouser_size]":{
        required: true
      }
    },
    messages: {
      "employee_physical[height]":{
        required: "Please specify height"
      },
      "employee_physical[weight]":{
        required: "Please specify weight"
        },
      "employee_physical[size]":{
        required: "Please specify t-shirt size"
        },
      "employee_physical[trouser_size]":{
        required: "Please specify trouser size"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>