<p id="notice"><%= notice %></p>

<h1>Listing Employee Physicals</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Hieght</th>
      <th>Weight</th>
      <th>Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employee_physicals.each do |employee_physical| %>
      <tr>
        <td><%= employee_physical.employee %></td>
        <td><%= employee_physical.hieght %></td>
        <td><%= employee_physical.weight %></td>
        <td><%= employee_physical.size %></td>
        <td><%= link_to 'Show', employee_physical %></td>
        <td><%= link_to 'Edit', edit_employee_physical_path(employee_physical) %></td>
        <td><%= link_to 'Destroy', employee_physical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee physical', new_employee_physical_path %>
