<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Company</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>

    <tr>
    	<th><strong>Employee:</strong></th>
    	<td>  <%= @employee_physical.employee %></td>

    	<th> <strong>Hieght:</strong></th>
    	<td> <%= @employee_physical.height %></td>
    </tr>
     <tr>
    	<th><strong>Weight:</strong></th>
    	<td><%= @employee_physical.weight %></td>

    	<th> <strong>T-Shirt Size:</strong></th>
    	<td> <%= @employee_physical.size %></td>
    </tr>
    <tr>
      <th><strong>Trouser Size</strong></th>
      <td><%= @employee_physical.trouser_size %></td>

      <th> </th>
      <td> </td>
    </tr>
  
    </table>

    <%= link_to 'Edit', edit_employee_physical_path(@employee_physical),class: 'btn btn-success btn-sm fa fa-edit' %> |
    <%= link_to 'Back', employee_physicals_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
  </div><!-- /.box-body -->
</div><!-- /.box -->