<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @recognition_type.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @recognition_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recognition_type.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @recognition_type.status %>
</p>

<%= link_to 'Edit', edit_recognition_type_path(@recognition_type) %> |
<%= link_to 'Back', recognition_types_path %>
