<p id="notice"><%= notice %></p>

<h1>Listing Policy Details</h1>

<table>
  <thead>
    <tr>
      <th>Investment declaration</th>
      <th>Insurer</th>
      <th>Policy no</th>
      <th>Relation</th>
      <th>Frequency</th>
      <th>Premium amount</th>
      <th>Estimated annual amount</th>
      <th>Actual annual amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @policy_details.each do |policy_detail| %>
      <tr>
        <td><%= policy_detail.investment_declaration %></td>
        <td><%= policy_detail.insurer %></td>
        <td><%= policy_detail.policy_no %></td>
        <td><%= policy_detail.relation %></td>
        <td><%= policy_detail.frequency %></td>
        <td><%= policy_detail.premium_amount %></td>
        <td><%= policy_detail.estimated_annual_amount %></td>
        <td><%= policy_detail.actual_annual_amount %></td>
        <td><%= link_to 'Show', policy_detail %></td>
        <td><%= link_to 'Edit', edit_policy_detail_path(policy_detail) %></td>
        <td><%= link_to 'Destroy', policy_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Policy detail', new_policy_detail_path %>
