<div class="box">
  <div class="box-header">
    <h3 class="box-title">Visitor Detail</h3>
    <div class="pull-right">
       <%= link_to "New Entry", new_visitor_detail_path, class: 'btn btn-primary btn-sm' %>
    </div>
    </div>

<div class="box-body">

<table id="example1" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Sr. No</th>
      <th>Name</th>
      <th>Meet To</th>
      <th>From</th>
      <th>Time</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% i = 0 %>
    <% @visitor_details.each do |visitor_detail| %>
      <tr>
        <td><%= i = i + 1 %></td>
        <td><%= visitor_detail.name %></td>
        <td><%= full_name(visitor_detail.employee) %></td>
        <td><%= visitor_detail.from %></td>
        <td><%= visitor_detail.in_time %></td>
        <td><%= visitor_detail.visiting_date %></td>
      <!--   <td>
           <%# if visitor_detail.avatar_file_name == nil %>
           <small class="label label-default">Picture Not Available</small>
             <% #else %>
             <%#= link_to ' Picture',download_person_image_path(id: visitor_detail.id),class: 'btn btn-xs btn btn-info fa fa-download',:target => "_blank" %>
             <%# end %>
        </td> -->
        <td><%= link_to '', edit_visitor_detail_path(visitor_detail),class: 'btn-success btn-xs fa fa-edit' %>
          <%= link_to '', visitor_detail, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn-danger btn-xs fa fa-close' %>
          <%= link_to '',show_detail_visitor_details_path(visitor_detail.id),class: 'btn btn-xs btn-default fa fa-eye',remote: true %>
         
          <%= link_to '',print_visitor_card_visitor_details_path(id: visitor_detail.id,format: "pdf") ,class: 'btn btn-warning btn-xs fa fa-print ',:target => "_blank" %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
<div id="myModal" class="modal fade"></div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#example1').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>
