<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Interview Type</h3>
    <div class="pull-right">
    <%= link_to " PDF ", interview_type_master_interview_types_path(id: @interview_type.id, format: "pdf"), class: "btn btn-xl btn-info fa fa-print",:target => "_blank" %>
    
    <%= link_to " XLS ", interview_type_master_interview_types_path(id: @interview_type.id, format: "xls"), class: "btn btn-xl btn-success fa fa-print",:target => "_blank" %>

    <%= link_to " Upload ", import_xl_interview_types_path, class: 'fa fa-upload btn btn-xl btn-primary' %>
    
    <%= link_to " Template", "/Templates/51.Interview Type.xls", :class=>"fa fa-download btn-xl btn btn-warning" %>
    </div>
  </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="interview_list">
			<%= render 'interview_type_list' %>
		</div>
		
	</div><!-- /.box-body -->
</div><!-- /.box -->