<%= bootstrap_form_for(@induction_master,html: {id: 'induction_master'},remote:true) do |f| %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code,hide_label:true, placeholder: 'Template Code' %>
      </div>
    </div> 
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :description,hide_label:true, placeholder: 'Description' %>
      </div>
    </div>

    <div class="row">
     <div class="col-sm-3">
        <div class="field">
          <%= f.file_field :avatar,hide_label:true %>
        </div>
     </div>
  </div>  

    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Induction Template",:class => class_name,  data: { disable_with: data_info } %>
      </div>
    </div>

  </div>
<% end %>
