<%= bootstrap_form_for @employee_leav_balance, html: {id: "employee_leav_balance"} do |f| %>
  <div class="row">
        <% text_field "employee_leav_balance","category_name",value: @leav_category.try(:name),label: 'Leave Category' ,class: "form-control", readonly:true %>
     
    <%= hidden_field "employee_leav_balance","leav_category_id", value: @leav_category.id%>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :no_of_leave,label: 'No. of Leaves' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :total_leave,label: 'Total Leaves' ,readonly:true %>
      </div>
    </div>
  
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :from_date,label: 'From Date' ,class: "expiry_date" %>
      </div>
    </div>
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :to_date,label: 'To Date' ,class: "expiry_date" %>
      </div>
    </div>
  </div>
  <hr>
  <hr>
  
  <div class="row">
    <div class="col-sm-12">
      <table id="example6" class="table table-bordered table-hover table-condensed'">
        <thead>
          <tr>
            <th><input type="checkbox" id="selectAll" value="selectAll"></th>
            <th>ID</th>
            <th>Employee Name</th>
          </tr>
        </thead>

        <tbody>
          <% @employees.where(status: 'Active').each do |e| %>
            <tr>
              <td><%= check_box_tag "employee_ids[]", e.id %></td>
              <td><%= e.manual_employee_code %></td>
              <td><%= full_name(e) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
 
  <div class="row">
    <div class="col-sm-6">
      <div class="actions">
        <%= f.submit "Create Employee Leave Balance",class: 'btn btn-sm btn-primary' %>

        <%= link_to 'Back', employee_leav_balances_path,class: 'btn btn-sm btn-default fa fa-arrow-left' %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true
    } );
} );
</script>

<script type="text/javascript">
$(function () {
  $('#selectAll').click(function() {
    if (this.checked) {
      $(':checkbox').each(function() {
        this.checked = true;                       
      });
    } 
    else {
      $(':checkbox').each(function() {
        this.checked = false;                        
      });
    } 
  });

  $('.expiry_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:+50',
    dateFormat: 'dd-mm-yy' });

  $("#example1").DataTable();
  $('#example2').DataTable({
    "paging": true,
    "lengthChange": false,
    "searching": false,
    "ordering": true,
    "info": true,
    "autoWidth": false
  });

  $('#employee_leav_balance_no_of_leave').on('input', function() {
    calculate_total_leave();
  });
  $('#employee_leav_balance_total_leave').on('input', function() {
      calculate_no_of_leave();
  });

  function calculate_total_leave() {
    var no_of_leave = parseFloat($('#employee_leav_balance_no_of_leave').val());
    if(isNaN(no_of_leave)){
      $('#employee_leav_balance_total_leave').val(""); 
    }
    else {
      $('#employee_leav_balance_total_leave').val(no_of_leave); 
    }    
  }
  function calculate_no_of_leave() {
    var total_leave = parseFloat($('#employee_leav_balance_total_leave').val());
    if(isNaN(total_leave)){
      $('#employee_leav_balance_no_of_leave').val(""); 
    }
    else {
      $('#employee_leav_balance_no_of_leave').val(total_leave); 
    }   
  }

  $("#employee_leav_balance").validate({
    rules: {
      "employee_leav_balance[no_of_leave]":{
        required: true,
        maxlength: 20,
      },
      "employee_leav_balance[from_date]":{
        required: true,
      },
      "employee_leav_balance[to_date]":{
        required: true,
      }
    },
    messages: {
      "employee_leav_balance[no_of_leave]":{
        required: "Please specify no. of leaves",
        maxlength: "No. Of leaves allows upto 20 characters"
      },
      "employee_leav_balance[from_date]":{
        required: "Please specify from date",
      },
       "employee_leav_balance[to_date]":{
        required: "Please specify to date",
      }
      
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
  });

});
</script>