<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Leave Balance Detail </center></h4>
    </div>
    <div class="modal-body">
<table class="table table-bordered table-hover table-condensed">
  <thead>
<tr>
    	<th><strong>ID</strong></th>
    	<td><%= @employee_leav_balance.employee.try(:manual_employee_code) %></td>
</tr>
<tr>
      <th><strong>Employee</strong></th>
      <td><%= @employee_leav_balance.employee.try(:first_name) %> <%= @employee_leav_balance.employee.try(:middle_name) %> <%= @employee_leav_balance.employee.try(:last_name) %></td>
    </tr>
    <tr>
    	<th><strong>Leave Category</strong></th>
    	<td><%=  @employee_leav_balance.leav_category.try(:code) %> - <%= @employee_leav_balance.leav_category.try(:name) %></td>
   </tr>
   <tr>
    	<th><strong>No. of Leaves</strong></th>
    	<td> <%= @employee_leav_balance.no_of_leave %></td>
    </tr>

    <tr>
    	<th><strong>Total Leave</strong></th>
    	<td> <%= @employee_leav_balance.total_leave %></td>

    </tr>

    <tr>
    	<th><strong>From Date</strong></th>
    	<td> <%= @employee_leav_balance.from_date %></td>
    </tr>

    <tr>
    	<th><strong>To Date</strong></th>
    	<td> <%= @employee_leav_balance.to_date %></td>
    </tr>


   </thead>
</table>
</div>
<div class="modal-footer"></div>
</div>
</div>  