<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Leave Assignment</h3>
    <div class="pull-right">
      <%= link_to "New Balance", new_employee_leav_balance_path, class: 'btn btn-primary btn-sm' %>
      <%= link_to "Update Balance", leave_employee_leav_balances_path, class: 'btn btn-info btn-sm',data: { confirm: 'Are you sure? you want to update Leave Balance !' } %>
     <%= link_to "Excel",show_balance_employee_leav_balances_path(format: "xls"), class: "btn btn-sm btn-success" %>
      <%= link_to "PDF",show_balance_employee_leav_balances_path(format: "pdf"), class: "btn btn-sm btn-warning", :target => "_blank" %>
    </div>
    
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example6" class="table table-bordered table-hover table-condensed'">
    <thead>
      <tr>
      <th>ID</th>
      <th>Employee</th>
      <th>Leave Category</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @employee_leav_balances.where(is_active: true).each do |employee_leav_balance| %>
      <tr>
        <td><%= employee_leav_balance.employee.try(:manual_employee_code) %></td>
        <td><%= full_name(employee_leav_balance.employee)%></td>
         <td><%= employee_leav_balance.leav_category.try(:name) %></td>
         <td>
            <div id="myModal1" class="modal fade"></div>
              <% if employee_leav_balance.is_confirm == true %>
              <small class= "label label-primary">Confirmed</small>
              <% else %>
                <%= link_to '',leave_balance_modal_employee_leav_balances_path(employee_leav_balance),class: 'btn btn btn-xs btn-success fa fa-edit',remote: true %>
                <%= link_to '', is_confirm_leave_employee_leav_balances_path(emp_leav_bal_id: employee_leav_balance ),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
                <%= link_to '',modal_balance_detail_employee_leav_balances_path(employee_leav_balance),class: 'btn btn-default btn-xs fa fa-eye',remote: true %>
                <!-- <= link_to '', employee_leav_balance,class: 'btn btn-default btn-xs fa fa-eye' %> -->
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>

<div id="modal_balance_detail" class="modal fade"></div>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>

