<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Leave Balance</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>

    <tr>
    	<th><strong>Employee:</strong></th>
    	<td><%= @employee_leav_balance.employee %></td>

    	<th><strong>Leave category:</strong></th>
    	<td><%= @employee_leav_balance.leav_category %></td>
    </tr>

    <tr>
    	<th><strong>No of leave:</strong></th>
    	<td> <%= @employee_leav_balance.no_of_leave %></td>

    	<th></th>
    	<td></td>
    </tr>

    </table>
    <%= link_to 'Edit', edit_employee_leav_balance_path(@employee_leav_balance),class: 'btn btn-success fa fa-edit' %> |
    <%= link_to 'Back', employee_leav_balances_path,class: 'btn btn-default fa fa-arrow-left' %>
  </div><!-- /.box-body -->
</div><!-- /.box -->
