<div class="login-box">
  <div class="login-box-body">
   <div class="btn btn-block btn-social btn-facebook btn-flat"> HRMS-ONE </div><!-- 
    <p class="login-box-msg"><center> Login in to HRMS-ONE</center></p><br> -->
    <br>
   <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group has-feedback">
        <div class="form-group required">
        <%= f.email_field :email, autofocus: true, required: true, class: "form-control", placeholder: "Email" %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
      </div>
      <div class="form-group has-feedback">
        <div class="form-group required">
        <%= f.password_field :password, autocomplete: "off", required: true,length: 8, class: "form-control", placeholder: "Password" %>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                </div>
              <% end -%>
            </label>
          </div>
        </div><!-- /.col -->
      </div>
        <div class="row">
          <div class="col-sm-3">
            <%= f.submit "Sign in",class: "btn btn-primary", data: { disable_with: 'Signing in...'} %>
          </div><!-- /.col -->
          <div class="col-sm-3">
            <%= link_to 'New User',new_registration_path(resource_name), class: 'btn btn-primary'%>
          </div>
        </div>
      </div>
      <%= render "members/shared/links" %>
    <% end %>  
  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->