<div class="box box-default">
   <div class="box-body"> 
<%= bootstrap_form_for(@issue_tracker_group, remote:true) do |f| %>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group required">
              <%= f.text_field :name,label:'Name', placeholder: 'Name' %>
            </div>
        </div> 

      <div class="col-sm-3">
          <div class="form-group required">
             <%= f.text_field :email,label:'Email-Id', placeholder: 'Email-Id' %>
          </div>
      </div>

     <div class="col-sm-3">
           <%= f.text_field :contact_number,label:'Contact Number', placeholder: 'Contact Number' %>
          </div>

    <div class="col-sm-3">
    <label>Status</label>
       <%= f.check_box :status,label:'Active' %>
     </div>
    
  </div>
  <div class="row">
    <div class="col-sm-2">
    <label></label>
      <div class="actions">
       <%= f.submit'Create Group',:class => class_name, data: { disable_with: data_info } %>
      </div>
    </div>
  </div>
<% end %>
  </div>
  </div>
  