<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @issue_tracker_group.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @issue_tracker_group.email %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @issue_tracker_group.contact_number %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue_tracker_group.status %>
</p>

<p>
  <strong>Is confirm:</strong>
  <%= @issue_tracker_group.is_confirm %>
</p>

<%= link_to 'Edit', edit_issue_tracker_group_path(@issue_tracker_group) %> |
<%= link_to 'Back', issue_tracker_groups_path %>
