<div class="box-body">

<div style="width: 420px; height: 500px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;">
  <div style="float:right;">Date - <%= Time.zone.now.to_date %> </div><br><br>

  <b><center>TO WHOM SO EVER IT MAY CONCERN</center></b><br><br>

  <p> This is to certify that Mr./Miss.<b> <%= @employee.first_name %> <%= @employee.middle_name %> <%= @employee.last_name %> </b> has been working in our company as a <b> <%= @employee.joining_detail.employee_designation.try(:name) %> </b> since <b> <%= @employee.joining_detail.joining_date %> </b>    As per official record his/her Address - <b> <%= @employee.permanent_address %> <%= @employee.try(:city) %>,<%= @employee.district.try(:name) %>,<%= @employee.state.try(:name) %>,<%= @employee.country.try(:name) %> <%= @employee.try(:pin_code) %>. </b></p><br>

  <p>This certificate is issued to him on his own request for Submitting to his __________________ .</p>
  
  <p>For <b> <%= current_user.employee.company_location.company.description %> </b></p>

  <P>HR</P>

</div>
</div>