<div class="box box-default">
<div class="box-header with-border">
      <h3 class="box-title">Create Candidate Profile</h3>
    </div>
 
<div class="box-body">
<%= bootstrap_form_for @selected_resume,html: {id: 'selected_resume'},url:{action:'create_new'} do |f| %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<div class="row">
  <div class="col-sm-3">
    <div class="form-group required">
      <%= f.text_field :name,label: 'Name' %>
    </div>
  </div>

   <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :contact_no,label: 'Contact No.' %>
    </div>
  </div>

  <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :skillset,label: 'Skillset' %>
      </div>
  </div>
    
  <div class="col-sm-3">
    <!--   <label>Educational Qualification</label> -->
      <div class="form-group required">
        <div class="input-group">
          <div class="input-group-addon">
            <%= link_to "", new_degree_path,class: "fa fa-plus fa-success",:target => "_blank" %>
          </div>
          <%= f.select :degree_id, all_degree_list,{label: 'Educational Qualification',include_blank: " Select Qualification"} %>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :ctc, label: 'Expected CTC' %>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :email_id, label: 'Email ID' %>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :experience, label: 'Experience' %>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :notice_period, label: 'Notice Period' %>
    </div>
  </div>

</div>

<div class="row">
 <div class="col-sm-3">
    <div class="field">
      <%= f.file_field :avatar,label: 'Resume Upload(only docx,pdf)' %>
    </div>
 </div>

 <div class="col-sm-3">
      <div class="field">
        <%= f.file_field :passport_photo,label: 'Photo Upload(only jpeg,jpg,png)' %>
      </div>
    </div>
  </div>  


<div class="row">
  <div class="col-sm-3">
    <div class="actions">
      <%= f.submit "Create", class: "btn btn-primary btn-sm" %>
    </div>
  </div>
</div>

</div>
</div>
<% end %>
<script>
$("#selected_resume").validate({
    rules: {
      "selected_resume[name]":{
        required: true
              },
      "selected_resume[degree_id]":{
        required: true
      }
    },
    messages: {
      "selected_resume[name]":{
        required: "Please specify Name"
      },
      "selected_resume[degree_id]":{
        required: "Please specify Qualification"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>



