<div class="modal-dialog"  style="height:3000px; max-height:500px; width:1000px; max-width:1200px;">
  <div class="modal-content">
    <div class="modal-body">
     <%= bootstrap_form_for :selected_resume,url:{action:"update_profile",id: @selected_resume.id,vacancy_master_id: @vacancy_master.id},html: {id: 'selected_resume'} do |f| %>
        <div class="row">
  <div class="col-sm-3">
    <div class="form-group required">
      <%= f.text_field :name,label: 'Name' %>
    </div>
  </div>

   <div class="col-sm-3">
    <div class="field">
    <%= f.text_field :job_title,readonly: true, label: 'Job Title' %>
    </div>
  </div>

  <div class="col-sm-3">
      <div class="field">
        <%= f.text_field :skillset,label: 'Skillset' %>
      </div>
  </div>

   <div class="col-sm-3">
      <label>Educational Qualification</label>
      <div class="form-group required">
        <div class="input-group">
          <div class="input-group-addon">
            <%= link_to "", new_degree_path,class: "fa fa-plus fa-success",:target => "_blank" %>
          </div>
          <%= f.select :degree_id, all_degree_list,{hide_label: true,include_blank: " Select Qualification"} %>
        </div>
      </div>
    </div>

   
  
    
 
  </div>

<div class="row">


  <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :ctc, label: 'CTC' %>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :experience, label: 'Experience' %>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :notice_period, label: 'Notice Period' %>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :contact_no,label: 'Contact No.' %>
    </div>
  </div>

</div>
<div class="row">

 <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :email_id, label: 'Email Id' %>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="field">
      <%= f.file_field :avatar,label: 'Resume Upload(only docx,pdf)' %>
    </div>
 </div>

 <div class="col-sm-3">
      <div class="field">
        <%= f.file_field :passport_photo,label: 'Photo Upload(only jpeg,jpg,png)' %>
      </div>
    </div>
</div><br>

<div class="row">
 <div class="col-sm-3">
            <%= f.submit "Update Profile", class: 'btn btn-sm btn-primary fa fa-modx' %>
          </div>
          </div>

      <% end %>
      <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
    </div>
  </div>
  </div>
</div>
<script>
$("#trainee").validate({
    rules: {
      "trainee[feedback]":{
        required: true,
      }
    },
    messages: {
      "trainee[feedback]":{
        required: "Please Specify Feedback",
      }
      
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
