<%= bootstrap_form_for @selected_resume,url:{action:'is_confirm',vacancy_master_id: @vacancy_master.id} do |f| %>   
<table id="example" class="table table-bordered table-hover table-condensed example3">
  <thead>
    <tr>
      <% if @vacancy_master.is_confirmed == true %>
      <% else %>
      <th><input type="checkbox" id="selectAll" value="selectAll"></th>
      <% end %>
      <th>Name</th>
      <th>Email Id</th>
      <th>Skillset</th>
      <th>Contact No</th>
      <th>Status</th>
<!--       <th>Offer Letter Status</th>
 -->      <th>Resume</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @selected_resumes.each do |selected_resume| %>
      <tr>
        <% if @vacancy_master.is_confirmed == true %>
        <% else %>
        <td>
          <% if selected_resume.status == "Shortlisted" %>
          <% elsif selected_resume.status == "Interview Scheduled" %>
          <% elsif selected_resume.status == "Interview Rescheduled" %>
          <% else %>
            <%= check_box_tag "selected_resume_ids[]", selected_resume.id %>
          <% end %>
        </td>
        <% end %>
        <td><%= selected_resume.name %></td>
        <td><%= selected_resume.email_id %></td>
        <td><%= selected_resume.skillset %></td>
        <td><%= selected_resume.contact_no %></td>
        <td>
          <div id="myModal1" class="modal fade"></div>
          <% if selected_resume.status == "Shortlisted" %>
            <small class="label label-primary">Shortlisted</small>
            <% elsif selected_resume.status == "Interview Scheduled" %>
            <small class="label label-primary">Interview Scheduled</small>
            <!-- <= link_to '',modal_change_status_selected_resumes_path(selected_resume,vacancy_master_id: @vacancy_master.id),class: 'btn btn btn-sm btn-default fa fa-info',remote: true %> -->
            <% elsif selected_resume.status == "Interview Rescheduled" %>
            <small class="label label-default">Interview Rescheduled</small>
           <!--  <= link_to ' Update Status',modal_change_status_selected_resumes_path(selected_resume),class: 'btn btn btn-xs btn-default fa fa-modx',remote: true %> -->
            <% else %>
            <small class="label label-default">Not Yet Shortlisted</small>
            <% end %>
        </td>
        <!-- <td><= selected_resume.offer_letter_status %> <div id="myModal" class="modal fade"></div>
          < if selected_resume.status == "Shortlisted" %>
          <= link_to ' Offer Letter',modal_selected_resumes_path(selected_resume),class: 'btn btn btn-sm btn-default fa fa-modx',remote: true %>
          < elsif selected_resume.status == "Interview Scheduled" %>
          <= link_to ' Offer Letter',modal_selected_resumes_path(selected_resume),class: 'btn btn btn-sm btn-default fa fa-modx',remote: true %>
          < else %>
          < end %>
          </td> -->
        <td>
         <% if selected_resume.avatar_file_name == nil %>
           <small class="label label-default">Not Available</small>
             <% else %>
             <center><%= link_to '',download_resume_path(id: selected_resume.id),class: 'btn btn-xs fa fa-download',target: "_blank" %>
             <% end %>
             </center>
        </td>
        <td>
          <% if selected_resume.passport_photo_file_name == nil %>
              <small class="label label-default">Not Available</small>
              <% else %>
              <center><%= link_to '',download_image_path(id: selected_resume.id),class: 'btn btn-xs fa fa-picture-o' %></center>
              <% end %>
        </td>
        <td>
        <div id="myModal" class="modal fade"></div>

        
        <!--<= link_to '', selected_resume, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>-->
        <% if selected_resume.status == "Shortlisted" %>
        <%= link_to '', modal_show_selected_resume_selected_resumes_path(selected_resume,vacancy_master_id: @vacancy_master.id),class: 'btn btn-xs btn-default fa fa-eye',remote:true %>
        <% else %>
        <%= link_to '', modal_show_selected_resume_selected_resumes_path(selected_resume,vacancy_master_id: @vacancy_master.id),class: 'btn btn-xs btn-default fa fa-eye',remote:true %>
        <%= link_to '',modal_profile_update_selected_resumes_path(selected_resume,vacancy_master_id: @vacancy_master.id),class: 'btn btn btn-xs btn-success fa fa-edit',remote: true %>
        <% end %>
           <!-- < if selected_resume.status == "Shortlisted" %>
          <= link_to ' Interview', new_interview_schedule_path(selected_resume.id),class: 'btn btn-xs btn-primary fa fa-check' %>
          < elsif selected_resume.status == "Interview Rescheduled" %>
          <= link_to ' Interview', new_interview_schedule_path(selected_resume.id),class: 'btn btn-xs btn-primary fa fa-check' %>
          < else %>
          < end %> -->
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="myModal2" class="modal fade"></div>
<div id="myModal3" class="modal fade"></div>

<div class="row">
  <div class="col-sm-6">
    <div class="actions">
   <!-- < @selected_resume_1 = SelectedResume.where(vacancy_master_id: @vacancy_master.id,status: "Shortlisted").count
     @selected_resume_2 = SelectedResume.where(vacancy_master_id: @vacancy_master.id,status: "Interview Scheduled").count
     @selected_resume_3 = SelectedResume.where(vacancy_master_id: @vacancy_master.id,status: nil).count %>
     < if @selected_resume_3 == 0 && @selected_resume_1 > 0 || @selected_resume_2 > 0 %>
     <= link_to 'Back', vacancy_resume_vacancy_masters_path,class:"btn btn-sm btn-default fa fa-arrow-left" %>
      < else %> -->
      <% if @vacancy_master.is_confirmed == true %>
      <%= link_to 'Back', vacancy_resume_vacancy_masters_path,class:"btn btn-sm btn-default fa fa-arrow-left" %>
       <% else %>
      <%= f.submit "Confirm", class: 'btn btn-primary btn-sm',data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Back', vacancy_resume_vacancy_masters_path,class:"btn btn-sm btn-default fa fa-arrow-left" %>
      <% end %>
      <!-- < end %> -->
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>



<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>