<table id="example3" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Vacancy Code</th>
      <th>Job Title</th>
      <th>Department</th>
      <th>Qualification</th>
      <th>No. of Position</th>
      <th>Experience</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @vacancy_master.try(:id) %></td>
        <td><%= @vacancy_master.try(:vacancy_name) %></td>
        <td><%= @vacancy_master.try(:company_location).try(:name) %></td>
        <td><%= @vacancy_master.try(:degree).try(:name) %></td>
        <td><%= @vacancy_master.try(:no_of_position) %></td>
        <td><%= @vacancy_master.try(:experience) %></td>
      </tr>
  </tbody>
</table>