<table id="example3" class="table table-bordered table-hover table-condensed">
 <thead>
  <tr> 
	  <th>Vacancy Code</th> 
	  <th>Vacancy Name</th> 
	  <th>Department</th> 
	  <th>Qualification</th> 
	  <th>No. of Position</th> 
	  <th>Experience</th>
	  <th>Action</th> 
  </tr> 
 </thead> 
 <tbody> 
 <tr> 
	 <td><%= @vacancy_master.vacancy_code %></td>
	 <td><%= @vacancy_master.vacancy_name %></td>
	 <td><%= @vacancy_master.company_location.try(:name) %></td> 
	 <td><%= @vacancy_master.degree.try(:name) %></td> 
	 <td><%= @vacancy_master.no_of_position %></td> 
	 <td><%= @vacancy_master.experience %></td> 
	 <td><%= link_to '', modal_vacancy_master_selected_resumes_path(@vacancy_master), class: 'btn btn-xs btn-default fa fa-eye',remote: true%></td>
 </tr> 
 </tbody> 
 </table>
  <div id="myModal4" class="modal fade"></div>