<div class="box">
  <div class="box-header">
    <h3 class="box-title">Resume List</h3>
    </div>

<p id="notice"><%= notice %></p>

<div class="box-body">
<%= bootstrap_form_for @selected_resume,url:{action:'is_confirm'} do |f| %>   
<table id="example" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th><input type="checkbox" id="selectAll" value="selectAll"></th>
      <th>Name</th>
      <th>Contact No.</th>
      <th>Degree</th>
      <th>CTC</th>
      <th>Experience</th>
      <th>Notice period</th>
      <th>Confirmed</th>
      <th>Download Resume</th>
      <th>Download Image</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @selected_resumes.each do |selected_resume| %>
      <tr>
        <td>
          <% if selected_resume.is_confirm == true %>

          <% else %>
            <%= check_box_tag "selected_resume_ids[]", selected_resume.id %>
          <% end %>
        </td>
        <td><%= selected_resume.name %></td>
        <td><%= selected_resume.contact_no %></td>
        <td><%= selected_resume.degree.try(:name) %></td>
        <td><%= selected_resume.ctc %></td>
        <td><%= selected_resume.experience %></td>
        <td><%= selected_resume.notice_period %></td>
        <td>
          <% if selected_resume.is_confirm == true %>
            <small class="label label-primary">Confirmed</small>
            <% else %>
            <small class="label label-default">Not Yet Confirmed</small>
            <% end %>
        </td>
       <td>
         <% if selected_resume.avatar_file_name == nil %>
           <small class="label label-default">Resume Not Available</small>
             <% else %>
             <center><%= link_to '',download_resume_path(id: selected_resume.id),class: 'btn btn-xs fa fa-download' %></center>
             <% end %>
          </td>
          <td>
          <% if selected_resume.passport_photo_file_name == nil %>
              <small class="label label-default">Image Not Available</small>
              <% else %>
             <center><%= link_to '',download_image_path(id: selected_resume.id),class: 'btn btn-xs fa fa-picture-o' %></center>
              <% end %>
        </td>
        <td>
        <%= link_to '', selected_resume,class: 'btn btn-xs btn-default fa fa-eye' %>
        <!--= link_to '', selected_resume, method: :delete, data: { confirm: 'Are you sure?'},class: 'btn btn-danger btn-xs fa fa-close' %>-->
           <% if selected_resume.is_confirm == true %>
          <%= link_to ' Take Interview', new_interview_schedule_path(selected_resume.id),class: 'btn btn-xs btn-primary fa fa-check' %>
          <% else %>
          <small class="label label-default">Not Yet Confirmed</small>
          <% end %>
        </td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-sm-3">
    <div class="actions">
      <%= f.submit "Confirm", class: 'btn btn-primary btn-sm' %> 
      
    </div>
  </div>
</div>
 <% end %>
 </div>
 </div>

<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>

<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>