<%= form_for(@overall_rating) do |f| %>

  <div class="field">
    <%= f.label :goal_rating_sheet_id %><br>
    <%= f.text_field :goal_rating_sheet_id %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :ro1_id %><br>
    <%= f.text_field :ro1_id %>
  </div>
  <div class="field">
    <%= f.label :ro2_id %><br>
    <%= f.text_field :ro2_id %>
  </div>
  <div class="field">
    <%= f.label :final_id %><br>
    <%= f.text_field :final_id %>
  </div>
  <div class="field">
    <%= f.label :ro1_rating_id %><br>
    <%= f.text_field :ro1_rating_id %>
  </div>
  <div class="field">
    <%= f.label :ro1_comment %><br>
    <%= f.text_area :ro1_comment %>
  </div>
  <div class="field">
    <%= f.label :ro2_rating_id %><br>
    <%= f.text_field :ro2_rating_id %>
  </div>
  <div class="field">
    <%= f.label :ro2_comment %><br>
    <%= f.text_area :ro2_comment %>
  </div>
  <div class="field">
    <%= f.label :final_rating_id %><br>
    <%= f.text_field :final_rating_id %>
  </div>
  <div class="field">
    <%= f.label :final_comment %><br>
    <%= f.text_area :final_comment %>
  </div>
  <div class="field">
    <%= f.label :promotion %><br>
    <%= f.check_box :promotion %>
  </div>
  <div class="field">
    <%= f.label :increment %><br>
    <%= f.text_field :increment %>
  </div>
  <div class="field">
    <%= f.label :final_ctc %><br>
    <%= f.text_field :final_ctc %>
  </div>
  <div class="field">
    <%= f.label :appraisee_comment %><br>
    <%= f.text_area :appraisee_comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
