<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Company Leave Details</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>

    <tr>
    	<th> <strong>Employee grade:</strong></th>
    	<td><%= @company_leav.employee_grade.name %></td>

    	<th> <strong>Leave Type:</strong></th>
    	<td><%= @company_leav.leav_category.name %></td>
    	
    </tr>

     <tr>
     	<th><strong>No of leave:</strong></th>
    	<td><%= @company_leav.no_of_leave %></td>

    	<th><strong>Expire date:</strong></th>
    	<td><%= @company_leav.expiry_date %></td>
    </tr>
 
  </table>
    <%= link_to 'Edit', edit_company_leav_path(@company_leav),class: 'btn btn-success fa fa-edit' %> |
    <%= link_to 'Back', company_leavs_path,class: 'btn btn-default fa fa-arrow-left' %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about the plugin.
  </div>
</div><!-- /.box -->

