<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @gps_information.employee %>
</p>

<p>
  <strong>Day:</strong>
  <%= @gps_information.day %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @gps_information.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @gps_information.latitude %>
</p>

<p>
  <strong>Place:</strong>
  <%= @gps_information.place %>
</p>

<p>
  <strong>Radius:</strong>
  <%= @gps_information.radius %>
</p>

<%= link_to 'Edit', edit_gps_information_path(@gps_information) %> |
<%= link_to 'Back', gps_informations_path %>
