<p id="notice"><%= notice %></p>

<h1>Listing Overtimes</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Ot date</th>
      <th>Ot type</th>
      <th>Ot total hrs</th>
      <th>Total production</th>
      <th>Normal wages rate</th>
      <th>Ot wages rate</th>
      <th>Ot earning</th>
      <th>Paid on date</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @overtimes.each do |overtime| %>
      <tr>
        <td><%= overtime.employee %></td>
        <td><%= overtime.ot_date %></td>
        <td><%= overtime.ot_type %></td>
        <td><%= overtime.ot_total_hrs %></td>
        <td><%= overtime.total_production %></td>
        <td><%= overtime.normal_wages_rate %></td>
        <td><%= overtime.ot_wages_rate %></td>
        <td><%= overtime.ot_earning %></td>
        <td><%= overtime.paid_on_date %></td>
        <td><%= overtime.remarks %></td>
        <td><%= link_to 'Show', overtime %></td>
        <td><%= link_to 'Edit', edit_overtime_path(overtime) %></td>
        <td><%= link_to 'Destroy', overtime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Overtime', new_overtime_path %>
