<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Overtime Details</h3>
    <div class="box-tools pull-right">
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <tr>
      <th><strong>Employee:</strong></th>
      <td><%= @overtime.employee %></td>

      <strong>Ot date:</strong>
      <td><%= @overtime.ot_date %></td>
    </tr>
    <tr>
        <th><strong>Ot type:</strong></th>
        <td><%= @overtime.ot_type %></td>

        <th><strong>Ot total hrs:</strong></th>
        <td><%= @overtime.ot_total_hrs %></td>
      </tr>
      <tr>
        <th><strong>Normal wages rate:</strong></th>
        <td><%= @overtime.total_production %></td>

        <th><strong>Ot wages rate:</strong></th>
        <td><%= @overtime.ot_wages_rate %></td>
      </tr>
      <tr>
        <th><strong>Ot earning:</strong></th>
        <td><%= @overtime.ot_earning %></td>

        <th><strong>Paid on date:</strong></th>
        <td> <%= @overtime.paid_on_date %></td>
      </tr>
      <tr>
        <th><strong>Remarks:</strong></th>
        <td><%= @overtime.remarks %></td>

        <th></th>
        <td></td>
      </tr>
    </table>
   <%= link_to 'Edit', edit_overtime_path(@overtime),class: 'btn btn-success btn-sm fa fa-edit' %> |
    <%= link_to 'Back', overtimes_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
  </div><!-- /.box-body -->
</div><!-- /.box -->