<%= form_for(@loan_emi) do |f| %>
  <% if @loan_emi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan_emi.errors.count, "error") %> prohibited this loan_emi from being saved:</h2>

      <ul>
      <% @loan_emi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :loan_approval_id %><br>
    <%= f.text_field :loan_approval_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :emi_amount %><br>
    <%= f.text_field :emi_amount %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.check_box :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
