<div class="box-body">

  <div style="width: 700px; height: 700px;
          padding: 10px;
          border: 5px solid gray;
          margin: 10;">
    <div style="float:right;">Date - <%= Time.zone.now.to_date %> </div><br><br>

      <b><center>TO WHOM IT MAY CONCERN</center></b><br><br>

      <p> This is to certify that Mr./Miss.<b> <%= @employee.first_name %> <%= @employee.middle_name %> <%= @employee.last_name %> </b> has been working in our company as a <b> <%= @employee.joining_detail.employee_designation.try(:name) %> </b> since <b> <%= @employee.joining_detail.joining_date %> </b>.  His Monthly salary is Rs. <b> <%= @employee_salary_templates.try(:monthly_amount) %>/- </b> Gross. per Month.</p><br>

      <p> This certificate is issued to him on his own request for submitting to his _____________.</p><br><br>
            
      <p>For <b> <%= current_user.employee.company_location.company.description %> </b></p>

      <P>HR</P>
    
   <!--   <= link_to " Print Certificate ", showing_joining_date_print_certificate_path(@employee,format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>   -->
  </div>
</div>
<%= link_to "Print Certificate",display_certificate_certificates_path(employee_id: @employee.id, certificate: @certificate, format: "pdf"),class: "btn btn-xl btn-info fa fa-print",:target => "_blank" %>
