<div class="box">
  <div class="box-header">
    <h3 class="box-title">Certificate List</h3>
    <div class="pull-right">
      <%= link_to "Create New Certificate Format", new_certificate_path, class: 'btn btn-sm btn-primary' %> 
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <thead>
       <tr>
      <th>Certificate master</th>
      <th>Action</th>
      </tr>
    </thead>
    <tbody>
         <% @certificates.each do |certificate| %>
      <tr>
        <td><%= certificate.certificate_master.try(:name) %></td>
        <td>
        <%= link_to '', edit_certificate_path(certificate),class: 'btn btn-success btn-xs fa fa-edit'  %>
        <%= link_to '', certificate, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-xs fa fa-close' %>
        <%= link_to '', certificate,class: 'btn btn-xs btn-default fa fa-eye' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
</div>