<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @leave_c_off.employee %>
</p>

<p>
  <strong>C off date:</strong>
  <%= @leave_c_off.c_off_date %>
</p>

<p>
  <strong>C off type:</strong>
  <%= @leave_c_off.c_off_type %>
</p>

<p>
  <strong>C off expire day:</strong>
  <%= @leave_c_off.c_off_expire_day %>
</p>

<p>
  <strong>Expiry status:</strong>
  <%= @leave_c_off.expiry_status %>
</p>

<%= link_to 'Edit', edit_leave_c_off_path(@leave_c_off) %> |
<%= link_to 'Back', leave_c_offs_path %>
