<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Transfer</h3>
    <div class="box-body">
      <%= bootstrap_form_for(@employee_transfer,html: {id: 'employee_transfer'}) do |f| %>

      <%= f.hidden_field :employee_id, value: current_user.employee_id %>
      <div class="row">
       <div class="col-sm-3">
          <div class="form-group required">
          <%= f.select :employee_id, all_active_employee_with_code, {include_blank: "Select Employee"},{:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1"} %>    
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group required">
         <!--  <label>Vacancy Approval</label> -->
            <%= f.select :reporting_master_id,all_reporting_master_list,{label: 'Request To',include_blank: " Select Reporting Person"},{:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1"} %>
          </div>
        </div>
      
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.select :employee_designation_id,all_employee_designation,{include_blank: 'Select Designation',label: 'Employee Designation'},{:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1"}  %>
          </div>
        </div>
    
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.select :employee_category_id,all_employee_category,{include_blank: 'Select Category',label: 'Employee Category'} %>
          </div>
        </div>
      </div>

     <div class="row">
        
        <div class="col-sm-3">
            <div class="field">
            <div class="input-group">
              <%=f.select :company_id, all_company,{include_blank: "Select Company"},{onchange:"var a={id:$(this).val(), form : 'employee'}; $.get('/employees/collect_company_location_dropdown_with_label',a,function(response){});"}%>
            </div>
            </div>
          </div>

         <div class="col-sm-3">
            <div class="field">
            <div class="input-group">
              <div id="company_location_with_label">
                <%= render 'employees/company_location_dropdown_with_label' %> 
            </div> 
            </div>
            </div>
          </div>

          <div class="col-sm-3">
            <div class="field">
            <div class="input-group">
              <div id="department">
                <%= render 'employees/department_dropdown' %> 
            </div> 
            </div>
            </div>
          </div>
        </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="field">
            <%= f.text_area :justification %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="actions">
          <%= f.submit'Create Employee Transfer', :class => class_name, data: { disable_with: data_info } %> | <%= link_to 'Back', employee_transfers_path,class:'btn btn-sm btn-default fa fa-arrow-left' %>
          <!--  <= link_to 'Back',employee_list_employee_transfers_path,class: 'btn btn-default btn-sm fa fa-arrow-left'%> -->
        </div>
      </div>
    </div>
  </div>
</div>
  <% end %>

<script>
$("#employee_transfer").validate({
    rules: {
      "employee_transfer[employee_id]":{
        required: true,
      },
      "employee_transfer[reporting_master_id]":{
        required: true,
      },
      "employee_transfer[employee_designation_id]":{
        required: true,
      },
      "employee_transfer[employee_category_id]":{
        required: true,
      }
    },
    messages: {
      "employee_transfer[employee_id]":{
        required: "Please Select Employee Name ",
      },
      "employee_transfer[reporting_master_id]":{
        required: "Please Select Reporting Manager Name",
      },
      "employee_transfer[employee_designation_id]":{
        required: "Please Specify Designation",
      },
      "employee_transfer[employee_category_id]":{
        required: "Please Specify Category",
      }
      
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
