<div class="box">
  <div class="box-header">
    <h3 class="box-title">Transfer Request Approval</h3>
    <div class="pull-right"></div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <table id="example2" class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Employee Name</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
          <% @employee_transfers.each do |employee_transfer| %>
          <tr>
          <% if @employee_transfer.id == employee_transfer.id %>
          <th><font color='green'>*<%= employee_transfer.employee.try(:manual_employee_code) %></font></th>
                <th><font color='green'><%= full_name(employee_transfer.employee) %></th></font>

                <%else%>
            <td><%= employee_transfer.employee.try(:manual_employee_code) %></td>
            <td><%= full_name(employee_transfer.employee) %></td>
    
          <% end %>
              <td>
                  <% employee_transfer.reporting_employee_transfers.try(:each) do |r| %>
                    <% case r.status %>
                      <% when "Pending" %>
                        <small class="label label-default">Pending</small>
                      <% when "FirstApproved" %>
                        <small class="label label-primary">FirstApproved</small>
                      <% when "FinalApproved" %>
                        <small class="label label-success">FinalApproved</small>
                      <% when "Rejected" %>
                        <small class="label label-danger">Rejected</small>
                      <% when "Approved & Send Next" %>
                        <small class="label label-warning">Approved & Send Next</small>
                      <% else %>
                    <%end%>
                  <%end%>
                </td> 
          </tr>
        <% end %>
      </tbody>
    </table>

     <table id="example1" class="table table-bordered table-hover table-condensed">
<tbody>
            <tr><td colspan="4"><font color='label-primary'><center>Previous Detail's of <%= @employee_transfer.employee.try(:manual_employee_code) %> - <%= full_name(@employee_transfer.employee) %></center></font></td></tr>

            <tr>
              <th>Employee Designation</th>
              <td><%= @employee_transfer.employee.joining_detail.employee_designation.try(:name) %></td>
              <th>Employee Category</th>
              <td><%= @employee_transfer.employee.joining_detail.employee_category.try(:name) %></td>
            </tr>

            <tr>
              <th>Company</th>
              <td><%= @employee_transfer.employee.company.try(:name) %></td>
              <th>Company Location</th>
              <td><%= @employee_transfer.employee.company_location.try(:name) %></td>
            </tr>

            <tr>
              <th>Department</th>
              <td colspan="3"><%= @employee_transfer.employee.department.try(:name) %></td>
            </tr>

</tbody>
    </table>

<table id="example1" class="table table-bordered table-hover table-condensed">
<tbody>
            <tr><td colspan="4"><font color='label-primary'><center>Current Transfer Request Detail of <%= @employee_transfer.employee.try(:manual_employee_code) %> - <%= full_name(@employee_transfer.employee) %></center></font></td></tr>

            <tr>
              <th>Request To</th>
              <td><% emp=Employee.where(id: @employee_transfer.reporting_master_id).take %>
              <%= emp.try(:prefix) %> <%= emp.try(:first_name) %> <%= emp.try(:middle_name) %> <%= emp.try(:last_name) %></td>
              <th>Employee Designation</th>
              <td><%= @employee_transfer.designation %></td>
            </tr>

            <tr>
              <th>Employee Category</th>
              <td><%= @employee_transfer.category %></td>
              <th>Company</th>
              <td><%= @employee_transfer.employee_company %></td>
            </tr>

            <tr>
              <th>Company Location</th>
              <td><%= @employee_transfer.employee_company_location %></td>
               <th>Department</th>
              <td><%= @employee_transfer.employee_department %></td>
            </tr>

            <tr>
              <th>Justification</th>
              <td colspan="3"><%= @employee_transfer.justification %></td>       
            </tr>
   </tbody>
   </table>         

    <div id="myModal" class="modal fade"></div>
    <div id="myModal1" class="modal fade"></div>
   
   <tr>
      <% if @employee_transfer.employee.manager_id.present? && @employee_transfer.employee.manager_2_id.present? && @employee_transfer.current_status == "Pending" %>
      <%= link_to 'Approve',first_approve_employee_transfers_path(@employee_transfer.id),class: 'btn btn-sm btn-info fa fa-check',data: { confirm: 'Are you sure?' } %>
      <%= link_to 'Reject',reject_transfer_employee_transfers_path(@employee_transfer.id),class: 'btn btn-sm btn-danger fa fa-trash' %>

      <% elsif @employee_transfer.employee.manager_id.present? && @employee_transfer.employee.manager_2_id.nil? && @employee_transfer.current_status == "Pending" %>
        <%= link_to 'Approve',approve_employee_transfer_employee_transfers_path(@employee_transfer.id),class: 'btn btn-sm btn-info fa fa-check',data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Reject',reject_transfer_employee_transfers_path(@employee_transfer.id),class: 'btn btn-sm btn-danger fa fa-trash' %>
        <%= link_to 'Approve & Send next',approve_and_send_next_employee_transfers_path(@employee_transfer.id),class: 'btn btn btn-xs btn-success' %>

      <% elsif @employee_transfer.current_status == "FirstApproved" %>
        <%= link_to 'Approve',approve_employee_transfer_employee_transfers_path(@employee_transfer.id),class: 'btn btn-sm btn-info fa fa-check',data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Reject',reject_transfer_employee_transfers_path(@employee_transfer.id),class: 'btn btn-sm btn-danger fa fa-trash' %>
        <%= link_to 'Approve & Send next',approve_and_send_next_employee_transfers_path(@employee_transfer.id),class: 'btn btn btn-xs btn-success' %> 
      
      <% elsif @employee_transfer.current_status == "Approved & Send Next" %>
        <%= link_to 'Approve',approve_employee_transfer_employee_transfers_path(@employee_transfer.id),class: 'btn btn-sm btn-info fa fa-check',data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Reject',reject_transfer_employee_transfers_path(@employee_transfer.id),class: 'btn btn-sm btn-danger fa fa-trash' %>
        <%= link_to 'Approve & Send next',approve_and_send_next_employee_transfers_path(@employee_transfer.id),class: 'btn btn btn-xs btn-success' %> 
       
      <% elsif @employee_transfer.current_status == "Approved" %>
        <%= link_to 'Approve',final_approve_employee_transfers_path(@employee_transfer.id),class: 'btn btn-sm btn-info fa fa-check' %>
        <%= link_to 'Reject',reject_transfer_employee_transfers_path(@employee_transfer.id),class: 'btn btn-sm btn-danger fa fa-trash' %>
      <% end %>


    <%= link_to 'Back', transfer_request_employee_transfers_path,class:'btn btn-sm btn-default fa fa-arrow-left' %>
   </tr>
  </div>
</div>