<div class="box">
  <div class="box-header">
    <h3 class="box-title">Final Transfer Approval</h3>
    <div class="pull-right"></div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <table id="example2" class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <th>ID</th>
              <th>Employee Name</th>
              <th>Employee Designation</th>
              <th>Employee Category</th>
              <th>Company</th>
              <th>Company Location</th>
              <th>Department</th>
              <th>Justification</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
          <% @employee_transfers.each do |employee_transfer| %>
          <tr>
         
            <td><%= employee_transfer.employee.try(:manual_employee_code) %></td>
             <td><%= employee_transfer.try(:employee).try(:first_name) %> <%= employee_transfer.try(:employee).try(:middle_name) %> <%= employee_transfer.try(:employee).try(:last_name) %></td>
            <td><%= employee_transfer.employee_designation %></td>
            <td><%= employee_transfer.employee_category %></td>
            <td><%= employee_transfer.company %></td>
            <td><%= employee_transfer.company_location %></td>  
            <td><%= employee_transfer.department %></td>
            <td><%= employee_transfer.justification %></td>
             <td>
           <%= link_to 'View Detail',employee_transfer_confirmation_2_employee_transfers_path(employee_transfer),class: 'btn btn-xs btn-primary' %>
                </td>
          </tr>
        <% end %>
      </tbody>
    </table>
 