<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Transfer List</h3>
    
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Employee</th>
      <th>Reporting Master</th>
      <th>Employee Designation</th>
      <th>Employee Category</th>
      <th>Company</th>
      <th>Company Location</th>
      <th>Department</th>
      <th>Justification</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @employee_transfers.each do |employee_transfer| %>
      <tr>
        <td><%= employee_transfer.employee.try(:manual_employee_code) %></td>
        <td><%= employee_transfer.reporting_master_id%></td>
        <td><%= employee_transfer.employee_designation %></td>
        <td><%= employee_transfer.employee_category %></td>
        <td><%= employee_transfer.company %></td>
        <td><%= employee_transfer.company_location %></td>  
        <td><%= employee_transfer.department %></td>
        <td><%= employee_transfer.justification %></td>
        <td>
        <!-- <= link_to '', employee_transfer,class:'btn btn-xs btn-default fa fa-eye' %> -->
        <%= link_to '', edit_employee_transfer_path(employee_transfer),class:'btn-success btn-xs fa fa-edit' %>
       <%= link_to '', employee_transfer, method: :delete, data: { confirm: 'Are you sure?' },class:'btn-danger btn-xs fa fa-close' %>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>