<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> Employee Transfer</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    

<tr>
  <td><strong>Employee</strong></td>
  <td><%= @employee_transfer.employee.try(:first_name) %> <%= @employee_transfer.employee.try(:middle_name) %> <%= @employee_transfer.employee.try(:last_name) %></td>
  <td><strong>Reporting Master</strong></td>
  <td><%= @employee_transfer.reporting_master_id %></td>
</tr>

<tr>
  <td><strong>Employee Designation</strong></td>
  <td><%= @employee_transfer.employee_designation %></td>
  <td> <strong>Employee Category</strong></td>
  <td><%= @employee_transfer.employee_category %></td>
</tr>

<tr>
  <td><strong>Company</strong></td>
  <td><%= @employee_transfer.company %></td>
   <td> <strong>Company Location</strong></td>
  <td><%= @employee_transfer.company_location %></td>
</tr>


<tr>
  <td><strong>Department</strong></td>
 <td> <%= @employee_transfer.department %></td>
    <td><strong>Justification</strong></td>
  <td><%= @employee_transfer.justification %></td>
</tr>
</table><br>
<%= link_to 'Edit', edit_employee_transfer_path(@employee_transfer),class:'btn btn-sm btn-success fa fa-edit' %> |
<%= link_to 'Back', employee_transfers_path,class:'btn btn-sm btn-default fa fa-arrow-left' %>
</div>
</div>