<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Overtime Daily Record</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= bootstrap_form_for(@overtime_daily_record,html: {id: 'overtime_daily_record'}) do |f| %>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group required">
       <%= f.select :employee_id, employee_list_by_company_location, {label: 'Employee',include_blank: " Select Employee"},{onchange:"var a={employee_id:$(this).val()}; $.get('/overtime_salaries/collect_basic',a,function(response){});",:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1"}  %>
       </div>
      </div>
      <div class="col-sm-3">
        <div id="basic_amount"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
       <div class="form-group required">
      <!--  <label>Overtime Date </label> -->
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
           <%= f.text_field :ot_daily_date,class: 'ot_daily_date',label:'Overtime Date'%>
        </div>
       </div>
      </div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :ot_daily_hrs,label:"OT Hrs"%>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :ot_rate,label:"Wages Rate", readonly: true %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :ot_daily_amount,label:"OT Amount", readonly: true %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="actions">
          <%= f.submit 'Create Overtime Daily Record',:class => class_name, data: { disable_with: data_info } %>
          <%= link_to 'Back', overtime_daily_records_path,class:'btn btn-sm btn-default fa fa-arrow-left' %>
        </div>
      </div>
    </div>
  <% end %>    
 </div><!-- /.box-body -->
</div><!-- /.box -->

<script type="text/javascript">
  $(function(){
    $('.ot_daily_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });
  });

  $(function(){
    $('#overtime_daily_record_ot_daily_hrs').on('input', function(){
      calculate_wages_and_ot_amount();
    });

    function calculate_wages_and_ot_amount(){
      var ot_hrs = parseFloat($('#overtime_daily_record_ot_daily_hrs').val());
      var basic_amount = parseFloat($('#overtime_salary_basic_amount').val());
      var day = <%= @overtime_master.day %>
      var company_hrs = <%= @overtime_master.company_hrs %>
      var ot_rate = <%= @overtime_master.ot_rate %>
      var percentage = <%= @esic_master.percentage %>

      var basic_amount_by_day = (basic_amount / day).toFixed(2);
      var basic_amount_by_day_by_company_hrs = (basic_amount_by_day / company_hrs).toFixed(2);
      var wages = (basic_amount_by_day_by_company_hrs * ot_rate).toFixed(2);
      var ot_amount = (wages * ot_hrs).toFixed(2);

      $('#overtime_daily_record_ot_rate').val(wages);
      $('#overtime_daily_record_ot_daily_amount').val(ot_amount);
    }
  });

   $("#overtime_daily_record").validate({
  rules: {
    "overtime_daily_record[employee_id]":{
      required: true
    },
    "overtime_daily_record[ot_daily_date]":{
      required: true
    },
    "overtime_daily_record[ot_daily_hrs]":{
      required: true
    }
  },
  
  errorPlacement: function(error, element) {
   error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
   error.insertAfter(element.parent(element));
  }
});

  $(document).ready(function() {
  $(".select2").select2();
});
</script>