<%= bootstrap_form_for(@currency_master,htlm: {id: 'currency_master'},remote: true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code, hide_label: true,placeholder: "Code"%>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name, hide_label: true,placeholder: "Name"%>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :description, hide_label: true,placeholder: "Description"%>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Currency Master", class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
<% end %>

<script>
$("#currency_master").validate({
    rules: {
      "currency_master[code]":{
        required: true,
      },
      "currency_master[name]":{
        required: true,
      }
       },
    messages: {
      "currency_master[code]":{
        required: "Please Specify Code",
      },
       "currency_master[name]":{
        required: "Please Specify Name",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
