<br>
<table id="example6" class="table table-bordered table-hover table-condensed'">

  <thead>
    <tr>  
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @relation_masters.each do |relation_master| %>
      <tr>
        <td><%= relation_master.code %></td>
        <td><%= relation_master.name %></td>
        <td><%= relation_master.description %></td>
        <td>
            <%= link_to '', edit_relation_master_path(relation_master),class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
            <%= link_to '',  relation_master, method: :delete, data: { confirm: 'Are you sure?'},class: 'btn btn-danger btn-xs fa fa-close' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>