<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @relation_master.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @relation_master.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @relation_master.description %>
</p>

<%= link_to 'Edit', edit_relation_master_path(@relation_master) %> |
<%= link_to 'Back', relation_masters_path %>
