<div class="box">
  <div class="box-header">
    <h3 class="box-title">Compliance Detail</h3>
    <div class="box-body">
      <%= bootstrap_form_for(:compliance_record, url: { action: 'show_compliance_record'},html: {id: "compliance_record"},remote: true) do |f| %>

        <div class="row">
          <div class="col-sm-3">
            <label>From </label>
            <div class="form-group required">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <%= text_field :compliance_record,:from,hide_label: true,class: 'request_date form-control'%>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <label>To </label>
            <div class="form-group required">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <%= text_field :compliance_record,:to,hide_label: true,class: 'request_date form-control'%>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <label>Agency</label>
            <div class="field">
              <%= select :compliance_record,:agency_id,all_agency_type,{hide_label: true,include_blank: "Select Agency"},class: 'form-control' %>
           </div>
          </div>
        
          <div class="col-sm-3" style="padding-top:20px;">
            <%= f.submit "Show Compliance Record",class: "btn btn-xl btn-primary fa fa-print",id: "buttonCtc" %>
          </div>
        </div>

      <% end %>
        <div class="ajax-progress"></div>
        <div class="row">
          <div class="col-sm-12">
            <div id="compliance_record"></div>    
          </div>
        </div>

    </div>
  </div>
</div>


<script type="text/javascript">
  $("#buttonCtc").click(function(){
    $('.ajax-progress').show();
    $("#compliance_record").submit();
  })
</script>

<script type="text/javascript">
  $(function(){
    $('.request_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:+1',
    dateFormat: 'dd-mm-yy' });
  }); 
</script>

<script>
$("#compliance_record").validate({
    rules: {
      "compliance_record[from]":{
        required: true,
      },
      "compliance_record[to]":{
        required: true,
      }
       },
    messages: {
      "compliance_record[from]":{
        required: "Please Specify from",
      },
       "compliance_record[to]":{
        required: "Please Select to",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
