<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @compliance_type.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @compliance_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @compliance_type.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @compliance_type.status %>
</p>

<%= link_to 'Edit', edit_compliance_type_path(@compliance_type) %> |
<%= link_to 'Back', compliance_types_path %>
