<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4>Travel Request</h4>
    <p>    
      This is to inform you that you have a new Trave Request.Details for request is given below.<br><br>
       1 Reporting Manager Name :- <%= @employee.first_name.to_s %> <%= @employee.last_name.to_s %> <%= @employee.middle_name.to_s %><br><br>
       2 Employee Name :- <%= @emp.employee.first_name.to_s %> <%= @emp.employee.last_name.to_s %> <%= @emp.employee.middle_name.to_s %><br><br>
       3 Traveling Date :-  <%= @travel_request.traveling_date %><br><br>
       4 Tour Purpose :- <%= @travel_request.tour_purpose %><br><br>
       5 Place :- <%= @travel_request.place %><br><br>
       6 Advance Amount :- <%= @travel_request.total_advance %><br><br>
        With Regards,<br><br>
         HR
     </p>
  </body>
</html>