<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Code</th>
      <th>Evaluation Criteria</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @interview_evalutions.each do |interview_evalution| %>
      <tr>
        <td><%= interview_evalution.code %></td>
        <td><%= interview_evalution.name %></td>
        <td><%= interview_evalution.description %></td>
        <td>
            <%= link_to '', edit_interview_evalution_path(interview_evalution),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '',  interview_evalution, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true
    } );
} );
</script>