<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @interview_evalution.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @interview_evalution.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @interview_evalution.description %>
</p>

<%= link_to 'Edit', edit_interview_evalution_path(@interview_evalution) %> |
<%= link_to 'Back', interview_evalutions_path %>
