<%= form_for(@issue_request) do |f| %>
  <% if @issue_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue_request.errors.count, "error") %> prohibited this issue_request from being saved:</h2>

      <ul>
      <% @issue_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :issue_master_id %><br>
    <%= f.text_field :issue_master_id %>
  </div>
  <div class="field">
    <%= f.label :issue_tracker_member_id %><br>
    <%= f.text_field :issue_tracker_member_id %>
  </div>
  <div class="field">
    <%= f.label :issue_tracker_group_id %><br>
    <%= f.text_field :issue_tracker_group_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :issue_priority %><br>
    <%= f.text_field :issue_priority %>
  </div>
  <div class="field">
    <%= f.label :status_id %><br>
    <%= f.text_field :status_id %>
  </div>
  <div class="field">
    <%= f.label :is_confirm_id %><br>
    <%= f.text_field :is_confirm_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
