<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> Employee Resignation </h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= bootstrap_form_for(@issue_request) do |f| %>
     <%= f.hidden_field :employee_id, :value => current_user.employee_id %>

 <div class="row">
      <div class="col-sm-3">
          <div class="form-group required">
    <%= f.text_field :issue_master_id %>
  </div>
  </div>

   <div class="col-sm-3">
          <div class="form-group required">
    <%= f.text_field :issue_tracker_member_id %>
  </div>
  </div>

   <div class="col-sm-3">
          <div class="form-group required">
    <%= f.text_field :issue_tracker_group_id,all_issue_tracker_group,{include_blank: "Select Group"} %>
  </div>
  </div>

  <div class="col-sm-3">
          <div class="form-group required">
    <%= f.text_field :description %>
  </div>
  </div>


   <div class="col-sm-3">
        <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= f.text_field :date,class: 'issue',label:'Date'%>
            </div>
          </div>
        </div>

  <div class="col-sm-3">
          <div class="form-group required">
    <%= f.time_select :time %>
  </div>
  </div>

  <!-- <div class="field">
    <= f.label :employee_id %><br>
    <= f.text_field :employee_id %>
  </div> -->

  <div class="col-sm-3">
          <div class="form-group required">
    <%= f.text_field :issue_priority %>
  </div>
  </div>

   <div class="col-sm-3">
    <label>Status</label>
       <%= f.check_box :status,label:'Active' %>
</div>
    
   <div class="col-sm-3">
    <div class="form-group required">
     <label>Is Confirm</label>
       <%= f.check_box :is_confirm,label:'Confirm', placeholder: 'Confirm'%>
    </div>
  </div>

  <div class="row">
     <div class="col-sm-3">
      <div class="actions">
        <%= f.submit 'Create Issue Request',class: "btn btn-primary btn-sm"  %>
        <%= link_to 'Back', issue_requests_path,class: 'btn btn-sm btn-default fa fa-arrow-left' %>
      </div>
     </div>
   </div>
  <% end %>
    
  </div><!-- /.box-body -->
</div><