<div class="box-header">
 <div class="pull-right"></div>
</div><!-- /.box-header -->
<div class="box-body">
    <div id="comments">
      <table id="example1" class="table table-bordered table-hover table-condensed">
          <thead>
            <tr><td colspan="12"><center><strong><%= current_user.employee.company_location.company.try(:description) %></strong> <br>
        			<%= current_user.employee.company_location.company.try(:address) %><br> <%= current_user.employee.department.try(:name) %> -
        			<%= current_user.employee.company_location.try(:name) %></center> </td>
        		</tr>
           <tr>
			        <th>Support ID</th>
			        <th>Support</th>
			        <th>Support Raised By</th>
			        <th>Support Date</th>
			        <th>Root Cause</th>
			        <th>Description</th>
			        <th>Priority </th>
			        <th>Support Solved By</th>
			        <th>Solved</th>
			        <th>Confirm</th>
			        <th>Effort Time</th>
			        <th>Comment</th>
          </tr>
        </thead>

        <tbody>
          <% @issue_requests.each do |issue_request| %>
          <tr>
		          <td><%= issue_request.id %></td>
		          <td><%= issue_request.issue_master.try(:name) %></td>
		          <td><%= full_name(issue_request.employee) %></td>
		          <td><%= issue_request.date %></td>
		          <td><%= issue_request.issue_root_cause.try(:name) %></td>
		          <td><%= issue_request.description %></td>
		          <td><%= issue_request.issue_priority %></td>
		          <td><%= full_name(issue_request.issue_tracker_member.employee) %></td>
		          <td><%= issue_request.status %></td>
		          <td><%= issue_request.is_complete %></td>
		          <td><%= issue_request.effort_time %></td>
		          <td><%= issue_request.comment %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
    <%= link_to " Excel Report ",memberwise_report_list_xls_issue_requests_path(from: params[:issue_request][:from],to: params[:issue_request][:to], issue_tracker_group_id: params[:issue_request][:issue_tracker_group_id], issue_tracker_member_id: params[:issue_requests][:issue_tracker_member_id], format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
 
       <%= link_to " Print Report ",memberwise_report_list_pdf_issue_requests_path(from: @from ,to: @to, issue_tracker_member_id: @member_id,issue_tracker_group_id: @group_id,format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
</div>
