<div class="box">
  <div class="box-header">
        <font color='#0077b3' , size="3"> 
        <% emp = current_user.employee_id %>
       <% issue = IssueTrackerMember.find_by(employee_id: emp)%>
       Solved Support List of : <%= issue.issue_tracker_group.name %> Group  - Member : <%= current_user.employee.try(:first_name) %> <%= current_user.employee.try(:middle_name) %> <%= current_user.employee.try(:last_name) %> - Role : <%= issue.role %> </font>

  </div>
	<div class="box-body">
    <table id="example6" class="table table-bordered table-hover table-condensed">
    	<thead>
        <tr>
          <th>Sr. No</th>
          <th>Requested By</th>
          <th>Support</th>
          <th>Date</th>
          <th>Priority</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
    		<% i = 0 %>
        <% @solved_requests.each do |issue_request| %>
          <tr>
            <% if issue_request.status == 'true' %>
            <% else %>
              <td><%= i = i + 1 %></td>
              <td><%= full_name(issue_request.employee) %></td>
              <td><%= issue_request.issue_master.try(:name) %></td>
              <td><%= issue_request.date %></td>
              <td><%= issue_request.issue_priority %></td>
              <td>
              	<%= link_to '',request_detail_modal_issue_requests_path(issue_request_id: issue_request),class: 'btn btn-sm btn-default fa fa-eye',remote: true %>
                <div id="request_detail_form" class="modal fade"></div>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>
