<%= bootstrap_form_for @goal_rating_sheet,url:{action:'is_confirm_appraisee'} do |f| %>   
<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Goal Rating : <%= @employee_goals.try(:first).try(:period).try(:title) %></h3>
    <div class="pull-right">
       
    </div>
  </div>
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th><input type="checkbox" id="selectAll" value="selectAll"></th>
            <th>Goal Perspctive</th>
            <th>Goal Measure</th>
            <th>Target</th>
            <th>Goal Weightage</th>
            <th>Difficulty Level</th>
            <th>Allign To Supervisor</th>
            <th>Appraisee comment</th>
            <th>Appraisee rating</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <% @goal_rating_shets.each do |g| %>
        <tr>
            
            <td><%= check_box_tag "goal_rating_sheet_ids[]", g.id %></td>
            <td><%= g.employee_goal.goal_perspective.name %></td>
            <td><%= g.employee_goal.goal_measure %></td>
            <td><%= g.employee_goal.target %></td>
            <td><%= g.employee_goal.goal_weightage %></td>
            <td><%= g.employee_goal.difficulty_level %></td>
            <td><%= g.employee_goal.allign_to_supervisor %></td>
            
            <td><%= g.appraisee_comment %></td>
            <td><%= g.appraisee_rating.try(:code) %></td>
            <td>
              <% if g.is_confirm_appraisee == true %>
                <small class="label label-info">Confirmed</small>
              <% else %>
              
              <%= link_to '',modal_goal_rating_sheets_path(g) ,class: 'btn btn-xs btn-success fa fa-edit',remote: true %>
              <% end %>
            </td>
        </tr>
        <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit "Confirm", class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Attribute-Setting', new_attribute_rating_sheet_path, class: 'btn btn-warning btn-sm' %>
          </div>
        </div>
      </div>
      
  </div>
 </div>
 <% end %>

 <div id="myModal" class="modal fade"></div>

<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>