<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> 
      Self Appraisal : <%= code_full_name(@employee_goal.try(:employee)) %>
      Goal Rating : <%= @period.try(:title) %> : <%= @period.try(:start_date) %> To <%= @period.try(:end_date) %>
    </h3>
  </div>
  <div class="box-body">
    <%= bootstrap_form_for(@goal_rating_sheet) do |f| %>
      <table id="tbl" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Perspective</th>
            <th>Measure</th>
            <th>Target</th>
            <th>Weightage</th>
            <th>Level</th>
            <th>Allign To Supervisor</th>
            <th>Appraisee Comment</th>
            <th>Appraisee Rating</th>
          </tr>
        </thead>
        <tbody>
          <% @goal_rating_sheets.each do |goal_rating_sheet| %>
            <tr>          
              <td><%= goal_rating_sheet.employee_goal.goal_perspective.try(:name) %></td>
              <td><%= goal_rating_sheet.employee_goal.goal_measure %></td>
              <td><%= goal_rating_sheet.employee_goal.target %></td>
              <td><%= goal_rating_sheet.employee_goal.goal_weightage %></td>
              <td><%= goal_rating_sheet.employee_goal.difficulty_level %></td>
              <td><%= goal_rating_sheet.employee_goal.allign_to_supervisor %></td>
              
              <td><%= text_field_tag 'appraisee_comment[]' %></td>
              <td><%= select_tag 'appraisee_rating_id[]',options_for_select(all_rating_type), {class: 'form-control', hide_label: true,include_blank: " Select Rating"} %></td>
              
                 <%= hidden_field_tag 'employee_goal_id[]',{},value: goal_rating_sheet.id %>
                 <%= hidden_field_tag :appraisee_id, {},value: current_user.employee_id %>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% unless @goal_rating_sheets.empty? %>
        <div class="row">
          <div class="col-sm-3">
            <div class="actions">
              <%= f.submit "Create Goal Rating" ,class: "btn btn-primary btn-sm"%>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
