<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> <%= @employee_goals.try(:first).employee.try(:manual_employee_code) %> <%= @employee_goals.try(:first).employee.try(:first_name) %> <%= @employee_goals.try(:first).employee.try(:last_name) %> Goal Rating : <%= @employee_goals.try(:first).try(:period).try(:title) %> : <%= @employee_goals.try(:first).try(:period).try(:start_date) %> To <%= @employee_goals.try(:first).try(:period).try(:end_date) %></h3>
  </div>
  <div class="box-body">

  <%= bootstrap_form_for(@goal_rating_sheet) do |f| %>

  <table id="tbl" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Designation</th>
      </tr>
    </thead>
    <tbody>
      <% @goal_rting_sheets.each do |g| %>
        <tr>
          <td><%= g.appraisee.manual_employee_code %></td>
          <td><%= g.appraisee.first_name %></td>
          <td><%= g.appraisee.joining_detail.department.name %></td>
          <td><%= g.appraisee.joining_detail.employee_designation.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <table id="tbl" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Perspective</th>
        <th>Measure</th>
        <th>Target</th>
        <th>Weightage</th>
        <th>Level</th>
        <th>Allign To Supervisor</th>
        <th>Comment</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @employee_goals.each do |employee_goal| %>
        <tr>
          
          <td><%= employee_goal.goal_perspective.name %></td>
          <td><%= employee_goal.goal_measure %></td>
          <td><%= employee_goal.target %></td>
          <td><%= employee_goal.goal_weightage %></td>
          <td><%= employee_goal.difficulty_level %></td>
          <td><%= employee_goal.allign_to_supervisor %></td>
          
          <td><%= text_field_tag 'appraisee_comment[]' %></td>
          <td><%= select_tag 'appraisee_rating_id[]',options_for_select(all_rating_type), class: 'form-control' %></td>
          
             <%= hidden_field_tag 'employee_goal_id[]',{},value: employee_goal.id %>
             <%= hidden_field_tag :appraisee_id, {},value: current_user.employee_id %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @employee_goals.empty? %>

  <% else %>
  <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Goal Rating" ,class: "btn btn-primary btn-sm"%>
      </div>
    </div>
  </div>
  
  <% end %>
  <% end %>
  </div>
</div>
