<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> <%= @employee_goals.try(:first).try(:employee).try(:manual_employee_code) %> <%= @employee_goals.try(:first).try(:employee).try(:first_name) %> <%= @employee_goals.try(:first).try(:employee).try(:last_name) %> Goal Rating : <%= @employee_goals.try(:first).try(:period).try(:title) %> : <%= @employee_goals.try(:first).try(:period).try(:start_date) %> To <%= @employee_goals.try(:first).try(:period).try(:end_date) %></h3>
  </div>
  <div class="box-body">

  <%= bootstrap_form_for(@goal_rating_sheet) do |f| %>

  <table id="tbl" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Perspective</th>
        <th>Measure</th>
        <th>Target</th>
        <th>Weightage</th>
        <th>Level</th>
        <th>Allign To Supervisor</th>
        <th>Comment</th>
        <th>Evaluation</th>
      </tr>
    </thead>
    <tbody>
      <% @goal_rating_sheets.each do |goal_rating_sheet| %>
        <tr>
          
          <td><%= goal_rating_sheet.employee_goal.goal_perspective.name %></td>
          <td><%= goal_rating_sheet.employee_goal.goal_measure %></td>
          <td><%= goal_rating_sheet.employee_goal.target %></td>
          <td><%= goal_rating_sheet.employee_goal.goal_weightage %></td>
          <td><%= goal_rating_sheet.employee_goal.difficulty_level %></td>
          <td><%= goal_rating_sheet.employee_goal.allign_to_supervisor %></td>
          
          <td><%= text_field_tag 'appraisee_comment[]' %></td>
          <td><%= select_tag 'appraisee_rating_id[]',options_for_select(all_rating_type), {class: 'form-control', hide_label: true,include_blank: " Select Rating"} %></td>
          
             <%= hidden_field_tag 'employee_goal_id[]',{},value: goal_rating_sheet.id %>
             <%= hidden_field_tag :appraisee_id, {},value: current_user.employee_id %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @goal_rating_sheets.empty? %>

  <% else %>
  <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Goal Rating" ,class: "btn btn-primary btn-sm"%>
      </div>
    </div>
  </div>
  
  <% end %>

  </div>
</div>
  <% end %>