<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Appraiser Goal Rating</h3>
  </div>
  <div class="box-body">
   <%= bootstrap_form_for(@goal_rating_sheet,url: {action: "appraiser_create"},html: {id: "goal_rating_sheet"}) do |f| %>
    <table id="tbl" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Designation</th>
      </tr>
    </thead>
    <tbody>
      <% @goal_rating_single_sheets.each do |g| %>
        <tr>
          <td><%= g.appraisee.manual_employee_code %></td>
          <td><%= g.appraisee.first_name %></td>
          <td><%= g.appraisee.joining_detail.department.try(:name) %></td>
          <td><%= g.appraisee.joining_detail.employee_designation.try(:name) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h6>Appraiser Goal Rating</h6>
    <table class="table table-bordered table-hover table-condensed example3">
    <thead>
      <tr>
        <th>Period</th>
        <th>Goal Perspective</th>
        <th>Goal Measure</th>
        <th>Target</th>
        <th>Goal Weightage</th>
        <th>Difficulty Level</th>
        <th>Aligned To Supervisor</th>

        <th>Appraisee Comment</th>
        <th>Appraisee Evaluation</th>
        <th>Appraiser Comment</th>
        <th>Appraiser Evaluation</th>
      </tr>
    </thead>

    <tbody>
      <% @goal_ratings.each do |g| %>
        <tr>
          <td><%= g.employee_goal.period.title %></td>
          <td><%= g.employee_goal.goal_perspective.name %></td>
          <td><%= g.employee_goal.goal_measure %></td>
          <td><%= g.employee_goal.target %></td>
          <td><%= g.employee_goal.goal_weightage %></td>
          <td><%= g.employee_goal.difficulty_level %></td>
          <td><%= g.employee_goal.allign_to_supervisor %></td>
          <% if g.is_confirm_appraisee == true %>
            <td><%= g.appraisee_comment %></td>
            <td><%= g.appraisee_rating.try(:code) %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
          <td><%= text_field_tag 'appraiser_comment[]',"",{class: 'form-control'} %></td>
          <td>
          <%= select_tag 'appraiser_rating_id[]',options_for_select(all_rating_type), {class: 'form-control', hide_label: true,include_blank: " Select Rating"} %></td>
          <%= hidden_field_tag 'employee_goal_id[]',{},value: g.employee_goal.id %>
          <%= hidden_field_tag 'goal_rating_sheet_id[]', {},value: g.id %> 
          <%= hidden_field_tag :appraisee_id, {},value: g.appraisee_id %>
          <%= hidden_field_tag :appraiser_id, {},value: current_user.employee_id %>   
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @goal_ratings.empty? %>

  <% else %>
    <div class="row">
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit "Create Rating Sheet" ,class: "btn btn-primary btn-sm"%>
         </div>
        </div>
      </div>
  <% end %>
  <% end %> 
<hr>
<%= bootstrap_form_for @goal_rating_sheet,url:{action:'is_confirm_appraiser', id: @employee.id} do |f| %>
 <h6>Appraiser Goal Rating List</h6> 
  <table class="table table-bordered table-hover table-condensed example3">
    <thead>
      <tr>
        <th><input type="checkbox" id="selectAll" value="selectAll"></th>
        <th>Period</th>
        <th>Goal Perspective</th>
        <th>Goal Measure</th>
        <th>Target/Unit</th>
        <th>Goal Weightage</th>
        <th>Difficulty Level</th>
        
        <th>Aligned To Supervisor</th>
        <th>Appraisee Comment</th>
        <th>Appraisee Evaluation</th>
        <th>Appraiser Comment</th>
        <th>Appraiser Evaluation</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% appraisee_sum = 0 %>
      <% appraiser_sum = 0 %>
      <% @goal_rating_sheets.each do |g| %>
        <tr>
          <td><%= check_box_tag "goal_rating_sheet_ids[]", g.id unless g.is_confirm_appraiser %></td>
          <td><%= g.employee_goal.period.title %></td>
          <td><%= g.employee_goal.goal_perspective.name %></td>
          <td><%= g.employee_goal.goal_measure %></td>
          <td><%= g.employee_goal.target %></td>
          <td><%= weightage = g.employee_goal.goal_weightage %></td>
          <td><%= g.employee_goal.difficulty_level %></td>
          <td><%= g.employee_goal.allign_to_supervisor %></td>

          <% if g.is_confirm_appraisee == true %>
            <td><%= g.appraisee_comment %></td>
            <td><%= appraisee_rating = g.appraisee_rating.try(:code) %></td>
          <% else %>
            <td></td>
            <td></td>
          <% end %>
            <td><%= g.appraiser_comment %></td>
            <td><%= appraiser_rating = g.appraiser_rating.try(:code) %></td>
            <% appraisee_output = weightage * appraisee_rating.to_i / 100.to_f %>
            <% appraisee_sum = appraisee_sum + appraisee_output %>
            <% appraiser_output = weightage * appraiser_rating.to_i / 100.to_f %>
            <% appraiser_sum = appraiser_sum + appraiser_output %>
          <td>
          <% if g.is_confirm_appraiser == true %>
          <small class="label label-info">Confirmed</small>
            <% else %>
              <%= link_to '', modal_appraiser_goal_rating_sheets_path(g) ,class: 'btn btn-xs btn-success fa fa-edit', remote: true %>    
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h3>Appraisee Rating = <%= appraisee_sum %></h3>
  <h3>Appraiser Rating = <%= appraiser_sum %></h3>
    <div class="row">
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit "Confirm", class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Attribute-Setting', appraiser_attribute_rating_sheets_path(@employee.id) , class: 'btn btn-warning btn-sm' %>
        </div>
      </div>
    </div>
  </div>
  </div>
  <% end %>
  <div id="myModal" class="modal fade"></div>

<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });

  $(document).ready(function() {
    $('.example3').DataTable( {
      "scrollX":        "1200px",
      "paging":         false,
      "searching":     false
    });
  });
</script>
