<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Appraiser Goal Rating</h3>
  </div>
  <div class="box-body">
   <%= bootstrap_form_for(@goal_rating_sheet,url: {action: "appraiser_create"},html: {id: "goal_rating_sheet"}) do |f| %>

    <table id="tbl" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Employee Id</th>
        <th>Employee Name</th>
        <th>Department</th>
        <th>Designation</th>
      </tr>
    </thead>
    <tbody>
      <% @goal_rating_single_sheets.each do |g| %>
        <tr>
          <td><%= g.appraisee.manual_employee_code %></td>
          <td><%= g.appraisee.first_name %></td>
          <td><%= g.appraisee.joining_detail.department.name %></td>
          <td><%= g.appraisee.joining_detail.employee_designation.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <table id="tbl" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Period</th>
        <th>Goal Perspctive</th>
        <th>Goal Measure</th>
        <th>Target</th>
        <th>Goal Weightage</th>
        <th>Difficulty Level</th>
        <th>Allign To Supervisor</th>

        <th>Appraisee Comment</th>
        <th>Appraisee Rating</th>
        <th>Appraiser Comment</th>
        <th>Appraiser Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @goal_ratings.each do |g| %>
        <tr>
          <td><%= g.employee_goal.period.title %></td>
          <td><%= g.employee_goal.goal_perspective.name %></td>
          <td><%= g.employee_goal.goal_measure %></td>
          <td><%= g.employee_goal.target %></td>
          <td><%= g.employee_goal.goal_weightage %></td>
          <td><%= g.employee_goal.difficulty_level %></td>
          <td><%= g.employee_goal.allign_to_supervisor %></td>
          <% if g.is_confirm_appraisee == true %>
          <td><%= g.appraisee_comment %></td>
          <td><%= g.appraisee_rating.try(:code) %></td>
          <% else %>
          <td></td>
          <td></td>
          <% end %>
          <td><%= text_field_tag 'appraiser_comment[]' %></td>
          <td><%= select_tag 'appraiser_rating_id[]',options_for_select(all_rating_type) ,class: 'form_control' %></td>
          <%= hidden_field_tag 'employee_goal_id[]',{},value: g.employee_goal.id %>
          <%= hidden_field_tag 'goal_rating_sheet_id[]', {},value: g.id %> 
          <%= hidden_field_tag :appraisee_id, {},value: g.appraisee_id %>
          <%= hidden_field_tag :appraiser_id, {},value: current_user.employee_id %>   
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @goal_ratings.empty? %>

  <% else %>
    <div class="row">
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit "Create Rating Sheet" ,class: "btn btn-primary btn-sm"%>
         </div>
        </div>
      </div>
  <% end %>
  

  <% end %> 

<%= bootstrap_form_for @goal_rating_sheet,url:{action:'is_confirm_appraiser'} do |f| %> 
  <table id="tbl" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th><input type="checkbox" id="selectAll" value="selectAll"></th>
        <th>Goal Perspctive</th>
        <th>Goal Measure</th>
        <th>Target</th>
        <th>Goal Weightage</th>
        <th>Difficulty Level</th>
        
        <th>Allign To Supervisor</th>
        <th>Appraisee Comment</th>
        <th>Appraisee Rating</th>
        <th>Appraiser Comment</th>
        <th>Appraiser Rating</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @goal_rating_sheets.each do |g| %>
        <tr>
          <td><%= check_box_tag "goal_rating_sheet_ids[]", g.id %></td>
          <td><%= g.employee_goal.goal_perspective.name %></td>
          <td><%= g.employee_goal.goal_measure %></td>
          <td><%= g.employee_goal.target %></td>
          <td><%= g.employee_goal.goal_weightage %></td>
          <td><%= g.employee_goal.difficulty_level %></td>
          <td><%= g.employee_goal.allign_to_supervisor %></td>

          <% if g.is_confirm_appraisee == true %>
          <td><%= g.appraisee_comment %></td>
          <td><%= g.appraisee_rating.try(:code) %></td>
          <% else %>
          <td></td>
          <td></td>
          <% end %>
          <td><%= g.appraiser_comment %></td>
          <td><%= g.appraiser_rating.try(:code) %></td>
           
          <td>
          <% if g.is_confirm_appraiser == true %>
          <small class="label label-success">Confirmed</small>
            <% else %>
              <%= link_to '', edit_appraiser_goal_rating_sheets_path(g) ,class: 'btn btn-xs btn-success fa fa-edit' %>
              
            <% end %>
          </td>
          
        </tr>
      <% end %>
    </tbody>
  </table>

    <div class="row">
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit "Confirm", class: 'btn btn-primary btn-sm' %>
        </div>
      </div>
    </div>

  </div>
  </div>
   <% end %>
   <%= link_to 'Attribute-Setting', appraiser_attribute_rating_sheets_path(@employee.id) , class: 'btn btn-warning btn-sm' %>
  

<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });
</script>
