<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Goal Rating</h3>
    <div class="pull-right">
      <%= link_to "New Goal rating sheet", new_goal_rating_sheet_path, class: 'btn btn-sm btn-primary' %> 
    </div>
  </div>
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Goal Perspctive</th>
            <th>Goal Measure</th>
            <th>Target</th>
            <th>Goal Weightage</th>
            <th>Difficulty Level</th>
            <th>Allign To Supervisor</th>
            <th>Appraisee comment</th>
            <th>Appraisee rating</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        <% @goal_rating_sheets.each do |g| %>
          <tr>
            <td><%= g.employee_goal.goal_perspective.name %></td>
            <td><%= g.employee_goal.goal_measure %></td>
            <td><%= g.employee_goal.target %></td>
            <td><%= g.employee_goal.goal_weightage %></td>
            <td><%= g.employee_goal.difficulty_level %></td>
            <td><%= g.employee_goal.allign_to_supervisor %></td>

            <td><%= g.appraisee_comment %></td>
            <td><%= g.appraisee_rating_id %></td>
            <td>
            <% if g.is_confirm_appraisee == true %>
            <small class="label label-info">Confirmed</small>
            <% else %>
            <%= link_to '', is_confirm_appraisee_goal_rating_sheets_path(g), class: 'btn btn-xs btn-warning fa fa-check' %>
            <%= link_to '', edit_goal_rating_sheet_path(g) ,class: 'btn btn-xs btn-success fa fa-edit' %>
            <%= link_to '', g, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-xs btn-danger fa fa-close' %>
            <% end %>
          </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      
<%= link_to 'Attribute-Setting', new_attribute_rating_sheet_path, class: 'btn btn-warning btn-sm' %>
  </div>
</div>
