<div class="box">
  <div class="box-header">
    <h3 class="box-title">Installment</h3>    
  </div><!-- /.box-header -->
  <div class="box-body">
  <div id="comments">
    <table id="example1" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Contact No.</th>
        <th>Department Name</th>
        <th>Instalment Amount</th>
      </tr>
    </thead>

    <tbody>
       <% @instalments.each do |i| %>
        <tr>
          <td><%= i.advance_salary.try(:employee).try(:manual_employee_code) %></td>
          <td><%= full_name(i.advance_salary.try(:employee)) %></td>
          <td><%= i.advance_salary.try(:contact_no) %></td>
          <td><%= i.advance_salary.try(:employee).try(:department).try(:name) %></td>
          <td><%= i.instalment_amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <%= link_to 'Back', instalments_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
</div>
</div>