<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Attendance Detail </center></h4>
    </div>
    <div class="modal-body">
    	<table id="example6" class="table table-bordered table-hover table-condensed">
	      <thead>
	        <% @employee_attendances.each do |a| %>
	        <tr>
	          <th>ID</th>
	            <td><%= a.try(:employee).try(:manual_employee_code) %></td>
	          <th>Employee</th>
	            <td><%= full_name(a.employee) %></td>
	       	</tr><tr>
	          <th>Date</th>
	            <td><%= a.try(:day).to_date %></td>
	          <th>Day</th>
	            <td><%= a.try(:day).strftime('%A') %></td>
	       	</tr><tr>
	          <th>In Time</th>
	            <td><%= a.try(:in_time) %></td>
	          <th>Out Time</th>
	            <td><%= a.try(:out_time) %></td>
	       	</tr><tr>
	          <th>Working Hrs.</th>
	            <td><%= a.try(:working_hrs) %></td>
	          <th>Present</th>
	            <td><%= a.try(:present) %></td>
	          
	        </tr>
	        <% end %>
	      </thead>
	      <tbody>
	      </tbody>
	    </table>
		</div>
		<div class="modal-footer"></div>
	</div>
</div>  