<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> Update Out Time</h3>
  </div>
  <div class="box-body">
    <%= bootstrap_form_for :manager_Self_services,html: {id: "manager_Self_services"}, url: { action: 'update_out_time'} do |f| %>

    	<div class="row">
  			<div class="col-sm-3">
         	<label>Out Time</label>
          <div class="bootstrap-timepicker">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-clock-o"></i>
                </div>
                <%= text_field :employee_attendance,:out_time,hide_label: true, placeholder: 'Out Time',class: 'form-control timepicker' %>
              </div>
            </div>
          </div>
        </div>
      </div>

			<table id="example6" class="table table-bordered table-hover table-condensed">
	      <thead>
	        <tr>
            <th><input type="checkbox" id="selectAll" value="selectAll"></th>
	          <th>ID</th>
	          <th>Employee</th>
	          <th>Date</th>
	          <th>Day</th>
	          <th>Present</th>
	          <th>In Time</th>
	          <th>Out Time</th>
	          <th>Working Hrs.</th>
	        </tr>
	      </thead>
	      <tbody>
	        <% @all_employee_attendances.each do |a| %>
	          <tr>      
              <td><%= check_box_tag "employee_attendance_ids[]",a.id %></td>
	            <td><%= a.try(:employee).try(:manual_employee_code) %></td>
	            <td><%= full_name(a.employee) %></td>
	            <td><%= a.try(:day) %></td>
	            <td><%= a.try(:day).strftime('%A') %></td>
	            <td><%= a.try(:present) %></td>
	            <td><%= a.try(:in_time) %></td>
	            <td><%= a.try(:out_time) %></td>
	            <td><%= a.try(:working_hrs) %></td>
	          </tr>
	        <% end %>
	      </tbody>
	    </table>
      <div class="row">
        <div class="col-sm-6">
          <div class="actions">
            <%= f.submit "Update Time" ,class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      </div>
    
	  <% end %>
      <br>
	  </div>
	</div>


<script type="text/javascript">
  $(function(){
     $(".timepicker").timepicker({
    showInputs: false
  });
  }); 
</script>


<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );

 $('#selectAll').click(function() {
    if (this.checked) {
      $(':checkbox').each(function() {
        this.checked = true;
      });
    }
    else {
      $(':checkbox').each(function() {
        this.checked = false;
      });
    }
  });

  $("#manager_Self_services").validate({
    rules: {
      "manager_Self_services[out_time]":{
        required: true
      }
    },
    messages: {
      "manager_Self_services[out_time]":{
        required: "Please Specify Out Time"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>