<style>
th {
    text-align: left;
}
tr {
    page-break-inside: avoid;
}
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak{ page-break-inside: avoid;
  /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
}
</style>
<div>
    <table style="border-collapse: collapse; font-size:9pt;" border=1 width=1200 cellpadding="10">
      <thead>
        <tr>
          <td colspan="7"><center> 
            <% if current_user.employee.company_location.company.company_logo == nil %>
            <% else %>
              <center> <%= wicked_pdf_image_tag current_user.employee.company_location.company.company_logo.url, :size => "90x50" %></center>
            <%end%> 
              <strong><%=current_user.employee.company_location.company.try(:description)%></strong> <br> <%= current_user.employee.company_location.company.try(:address)%></center>
          </td>
        </tr>
        <tr><th colspan="7"><center> Employee Attendance Report : <%= @from.to_date %> To <%= @to.to_date %></center></th></tr>

          <tr>
            <th>ID</th>
            <th>Employee</th>
            <th>Date</th>
            <th>Day</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Present</th>
          </tr>
        </thead>
        <tbody>
          <% @employee_attendances.each do |a| %>
            <tr>
              <td><%= a.employee.manual_employee_code %></td>
              <td><%= full_name(a.employee) %></td>
              <td><%= a.try(:day) %></td>
              <td><%= a.try(:day).strftime('%A') %></td>
              <td><%= a.try(:in_time) %></td>
              <td><%= a.try(:out_time) %></td>
              <td><%= a.try(:present) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>