<div class="box">
  <div class="box-header">
    <h3 class="box-title">Compensatory Off Approval </h3>
    <div class="pull-right">  
    </div>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <table id="example6" class="table table-bordered table-hover table-condensed">
         <thead>
            <tr><td colspan="4"><center>Compensatory Off Request</center></td></tr>
            <tr>
              <th>ID</th>
              <th>Employee</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @leave_c_off_pending.try(:each) do |e| %>
            <tr>
              <td><%= e.employee.manual_employee_code %></td>
              <td><%= full_name(e.employee)%></td>
                <td><%= e.c_off_date %></td>
                <td>
                  <%= link_to ' Approve', final_approve_leave_c_offs_path(e),class: 'btn btn-xs btn-primary fa fa-check' %>
                  <%= link_to ' Reject', reject_c_off_leave_c_offs_path(e),class: 'btn btn-xs btn-danger fa fa-trash' %>
                  <%= link_to '', detail_modal_leave_c_offs_path(e),class:'btn btn-xs btn-default fa fa-eye',remote: true %>
                </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

     
    </div>
  </div>
</div>
<div id="myModal" class="modal fade"></div>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true
    } );
} );
</script>