<div class="box">
  <div class="box-header">
    <h3 class="box-title">Attendance List</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Employee Name</th>
          <th>Date</th>
          <th>In Time</th>
          <th>Out Time</th>
          <th>Present</th>
        </tr>
      </thead>

      <tbody>
        <% @employee_attendances.each do |employee_attendance| %>
          <tr>
            <td><%= employee_attendance.employee.try(:manual_employee_code) %></td>
            <td><%= full_name(employee_attendance.try(:employee)) %></td>
            <td><%= employee_attendance.try(:day) %></td>
            <td><%= employee_attendance.try(:in_time) %></td>
            <td><%= employee_attendance.try(:out_time) %></td>
            <td><%= employee_attendance.try(:present) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'Back',employee_attendance_manager_self_services_path,class: 'btn btn-default btn-sm fa fa-arrow-left'%>

     <%= link_to " Excel Report ",manager_self_service_attendance_employee_attendances_path(:employee => {:from => params[:employee][:from],:to => params[:employee][:to]}, format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
 
     <%= link_to " Print Report ",manager_self_service_attendance_employee_attendances_path(:employee => {:from => params[:employee][:from],:to =>  params[:employee][:to]},format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %> 
     
  </div>
</div>