 <div class="box">
  <div class="box-header">
    <h3 class="box-title">Attendance Report of <%= @employee_attendances.try(:first).try(:employee).try(:manual_employee_code) %> <%= full_name(@employee_attendances.try(:first).try(:employee)) %> <%= @from.to_date %> To <%= @to.to_date %></h3>
    <div class="pull-right">
    </div>
    
  </div><!-- /.box-header -->
  <div class="box-body"> 
    <table id="example6" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Date</th>
          <th>Day</th>
          <th>Present</th>
          <th>In Time</th>
          <th>Out Time</th>
          <!-- <th>Working Hrs.</th> -->
        <!-- <th>Comment</th> -->
        </tr>
      </thead>

      <tbody>
        <% @employee_attendances.each do |employee_attendance| %>
          <tr>
            <td><%= employee_attendance.try(:day).to_date %></td>
            <td><%= employee_attendance.try(:day).strftime('%A') %></td>
            <td><%= employee_attendance.try(:present) %></td>
            <td><%= employee_attendance.try(:in_time) %></td>
            <% if employee_attendance.try(:in_time) == employee_attendance.try(:out_time) %>
              <td></td>
            <% else %>
              <td><%= employee_attendance.try(:out_time) %></td>
            <% end %>
            <%# if employee_attendance.try(:in_time) == employee_attendance.try(:out_time) %>
              <!-- <td></td> -->
            <%# else %>
              <!-- <td><#%= employee_attendance.try(:working_hrs) %></td> -->
            <%# end %>
           <!--  <td><#%= employee_attendance.try(:comment) %></td>
           --></tr>
        <% end %>
      </tbody>
    </table>
    <br>
    <%= link_to 'Back',employee_attendance_manager_self_services_path,class: 'btn btn-default btn-sm fa fa-arrow-left'%>

     <%= link_to " Excel Report ",manager_self_service_attendance_employee_attendances_path(:employee => {:from => params[:employee][:from],:to => params[:employee][:to],:employee_id => params[:employee][:employee_id]}, format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
 
     <%= link_to " Print Report ",manager_self_service_attendance_employee_attendances_path(:employee => {:from => params[:employee][:from],:to =>  params[:employee][:to],:employee_id => params[:employee][:employee_id]},format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %> 
     
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>
