<div class="box-body">
  <%= bootstrap_form_for(@leave_c_off, url: {action: 'create_self_c_off'},html: {id: 'leave_c_off'}) do |f| %>
    <%= hidden_field_tag :employee_id, current_user.employee_id %> 
 
    <div class="row">
      <div class="col-sm-3">
        <label>Date </label>
        <div class="form-group required">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :c_off_date,hide_label: true,class: 'c_off_date'%>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group required">
          <%= f.select :c_off_type,['Full Day','Half Day'],{label: 'C.Off Type',include_blank: " Select C.Off Type"} %>
       </div>
      </div> 
      <div class="col-sm-3" style="padding-top: 20px">
        <div class="actions">
          <%= f.submit "Create C.Off Leave",class: 'btn btn-sm btn-primary fa fa-modx' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">
 
  $(function(){
    $('.c_off_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });

   }); 

  $("#leave_c_off").validate({
  rules: {
    "leave_c_off[c_off_date]":{
      required: true
    },
    "leave_c_off[c_off_type]":{
      required: true
    },
    "leave_c_off[c_off_expire_day]":{
      required: true
    }
  },
  
  errorPlacement: function(error, element) {
   error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
   error.insertAfter(element.parent(element));
  }
}); 

$(document).ready(function() {
  $(".select2").select2();
});

</script>

<script type="text/javascript">
   $(document).ready(function () {
        var checkbox = $('#checker'); 
        var dependent = $('#dependent-box');
        if (checkbox.attr('checked') !== undefined){
           dependent.show();
        } else {
            dependent.hide();
        }
        
        checkbox.change(function(e){
           dependent.toggle(); 
        });
    }); 

</script>
