<br>
<table id="example6" class="table table-bordered table-hover table-condensed'">
 	<thead>
    <tr>
      <th>ID</th>
      <th>Employee</th>
      <th>Reimbursement head</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @reimbursement_requests.each do |reimbursement_request| %>
      <tr>
        <td><%= reimbursement_request.employee.manual_employee_code %></td>
        <td><%= full_name(reimbursement_request.employee) %></td>
        <td><%= reimbursement_request.reimbursement_head.try(:name) %></td>
        <td><%= reimbursement_request.date %></td>
        <td><%= reimbursement_request.amount %></td>
        <td><%= reimbursement_request.status %></td>
        <td>
          <% if reimbursement_request.status == "Pending" %>
            <%= link_to 'Send For Approval', send_for_approval_reimbursement_requests_path(reimbursement_request) ,class: 'btn btn-xs btn-warning' %>
            <!-- <= link_to '', edit_request_modal_reimbursement_requests_path(reimbursement_request),class: 'btn btn-xs btn-success fa fa-edit',remote: true %>  -->
          <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div id="myModal" class="modal fade"></div>