
  <div class="box-body">
    <table id="example6" class="table table-bordered table-hover table-condensed">
    <% i = 0%>
      <thead>
        <tr><th colspan="8"><center> Employee Attendance Report : <%= @from.to_date %> To <%= @to.to_date %></center></th></tr>
      <tr>
        <td>ID : <%= current_user.employee.manual_employee_code %></td>
        <td colspan="4">Employee : <%= full_name(current_user.employee) %></td>
        <td colspan="3">Department : <%= current_user.employee.company_location.try(:name) %> - <%= current_user.employee.try(:joining_detail).try(:cost_center).try(:name) %> - <%= current_user.employee.try(:department).try(:name) %> <%= current_user.employee.try(:sub_department).try(:name) %></td>
      </tr>
        <tr>
          <th>Sr.No.</th>
          <th>Date</th>
          <th>Day</th>
          <th>In Time</th>
          <th>Out Time</th>
          <th>Working Hrs.</th>
          <th>Present</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <% @employee_attendances.each do |employee_attendance| %>
          <tr>
            <td><%= i = i + 1 %></td>
            <td><%= employee_attendance.try(:day) %></td>
            <th><%= employee_attendance.try(:day).strftime("%A") %></th>
            <td><%= employee_attendance.try(:in_time) %></td>
            <% if employee_attendance.try(:in_time) == employee_attendance.try(:out_time) %>
              <td></td>
            <% else %>
              <td><%= employee_attendance.try(:out_time) %></td>
            <% end %>
            <% if employee_attendance.try(:in_time) == employee_attendance.try(:out_time) %>
              <td></td>
            <% else %>
              <td><%= employee_attendance.try(:working_hrs) %></td>
            <% end %>
            <td><%= employee_attendance.try(:present) %></td>
            <td><%= employee_attendance.try(:comment) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
     <%= link_to " Excel Report ",self_service_datewise_attendance_employee_attendances_path(:employee => {:from => params[:employee][:from],:to => params[:employee][:to],:employee_id => params[:employee][:employee_id]}, format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
 
     <%= link_to " Print Report ",self_service_datewise_attendance_employee_attendances_path(:employee => {:from => params[:employee][:from],:to =>  params[:employee][:to],:employee_id => params[:employee][:employee_id]},format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
  </div>


<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>