<style>
th {
    text-align: left;
}
tr {
    page-break-inside: avoid;
}
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak{ page-break-inside: avoid;
  /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
}
</style>
<div>
    <table style="border-collapse: collapse; font-size:9pt;" border=1 width=1200 cellpadding="10">
    <% i = 0%>
        <thead>
        <tr>
          <td colspan="7"><center> 
            <% if current_user.employee.company_location.company.company_logo == nil %>
            <% else %>
              <center> <%= wicked_pdf_image_tag current_user.employee.company_location.company.company_logo.url, :size => "90x50" %></center>
            <%end%> 
              <strong><%=current_user.employee.company_location.company.try(:description)%></strong> <br> <%= current_user.employee.company_location.company.try(:address)%></center>
          </td>
        </tr>
        <tr><th colspan="7"><center> Employee Attendance Report : <%= @from.to_date %> To <%= @to.to_date %></center></th></tr>
        <tr>
          <td>ID : <%= current_user.employee.manual_employee_code %></td>
          <td colspan="3">Employee : <%= full_name(current_user.employee) %></td>
          <td colspan="3">Department : <%= current_user.employee.company_location.try(:name) %> - <%= current_user.employee.try(:joining_detail).try(:cost_center).try(:name) %> - <%= current_user.employee.try(:department).try(:name) %> <%= current_user.employee.try(:sub_department).try(:name) %></td>
        </tr>
          <tr>
            <th>Sr.No.</th>
            <th>Date</th>
            <th>Day</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Working Hrs.</th>
            <th>Present</th>
          </tr>
        </thead>
        <tbody>
          <% @employee_attendances.each do |a| %>
            <tr>
              <td><%= i = i + 1 %></td>
              <td><%= a.try(:day) %></td>
              <th><%= a.try(:day).strftime("%A") %></th>
              <td><%= a.try(:in_time) %></td>
              <td><%= a.try(:out_time) %></td>
              <td><%= a.try(:working_hrs) %></td>
              <td><%= a.try(:present) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>