<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> Initiate Resignation </h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= bootstrap_form_for(@employee_resignation,url: {action: 'create_self_resignation'},html: {id: 'employee_resignation'}) do |f| %>
      <%= hidden_field_tag :employee_id, current_user.employee_id %>
      <%= hidden_field_tag :application_date, Date.today %>
      <%= hidden_field_tag :notice_period, @notice_period %>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= f.text_field :resignation_date,{onchange:"var a={id:$(this).val()}; $.get('/self_services/display_notice_period',a,function(response){});" ,class: 'company_start_date'}%>
            </div>
          </div>
        </div>

          <div class="col-sm-3">
         <div class="form-group required">
           <% f.text_field :notice_period,id: "employee_resignation_notice_period" ,label:'Notice Period',readonly: true %>
         </div>
        </div> 

        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.select :leaving_reason_id, active_leaving_reason,{label: 'Reason of Leaving',include_blank: " Select Reason of Leaving",id: "employee_resignation_leaving_reason_id"},class: 'employee_resignation' %>
          </div>
        </div>

           <div class="col-sm-3">
       <div class="field">
         <%= f.text_field :short_notice_period,disabled_id: "employee_resignation_short_notice_period",label:'Leaving Date (As per notice period)',readonly: true  %>
       </div>
      </div>

      
      </div>  

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= f.text_field :tentative_leaving_date, class: 'company_start_date',label:'Requested Relieving Date'%>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group required">
            <%= f.text_area :reason, label: "Reason" %>
          </div>
        </div>
        
       <!--  <div class="col-sm-6">
          <div class="field">
            <= f.text_area :note, label:'Note' %>
          </div>
        </div> -->
      
        <div class="col-sm-6">
          <div class="actions" style="padding: 20px">
            <%= f.submit 'Create Employee Resignation',class: "btn btn-primary btn-sm"  %>
            <!-- <= link_to 'Back', employee_resignations_path,class: 'btn btn-sm btn-default fa fa-arrow-left' %> -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
   $(function(){
    $('#employee_resignation_leaving_reason_id').on('change', function() {
      var employee_resignation_leaving_reason_id = parseInt($('#employee_resignation_leaving_reason_id').val());
      var employee_resignation_notice_period = parseInt($('#employee_resignation_notice_period').val());

      var ans="";
      if (isNaN(employee_resignation_leaving_reason_id) || isNaN(employee_resignation_notice_period)) {
        ans = ""
      }
      else{
        ans = (employee_resignation_leaving_reason_id + employee_resignation_notice_period);
        var date = new Date ()
        date.setDate(ans);
      }
      $('#employee_resignation_short_notice_period').val(date);

    });
  });
</script>