<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> Initiate Resignation </h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <%= bootstrap_form_for(@employee_resignation,url: {action: 'create_self_resignation'},html: {id: 'employee_resignation'}) do |f| %>
      <%= hidden_field_tag :employee_id, current_user.employee_id %>
      <%= hidden_field_tag :application_date, Date.today %>
      <%= hidden_field_tag :notice_period, @notice_period %>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= f.text_field :resignation_date,label:'Resignation Date',class: 'employee_resignation'%>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.select :leaving_reason_id, all_leaving_reason,{label: 'Reason of Leaving',include_blank: " Select Reason of Leaving"} %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= f.text_field :tentative_leaving_date, class: 'employee_resignation',label:'Requested Releaving Date'%>
            </div>
          </div>
        </div>
      </div>  

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group required">
            <%= f.text_area :reason, label: "Reason" %>
          </div>
        </div>
        
        <div class="col-sm-6">
          <div class="field">
            <%= f.text_area :note, label:'Note' %>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-sm-6">
          <div class="actions">
            <%= f.submit 'Create Employee Resignation',class: "btn btn-primary btn-sm"  %>
            <!-- <= link_to 'Back', employee_resignations_path,class: 'btn btn-sm btn-default fa fa-arrow-left' %> -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
   $(function(){
    $('.employee_resignation').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:+1',
    dateFormat: 'dd-mm-yy' });
  }); 
</script>

<script>
$("#employee_resignation").validate({
    rules: {
      "employee_resignation[resignation_date]":{
        required: true,
      },
      "employee_resignation[reason]":{
        required: true,
      }
    },
    messages: {
      "employee_resignation[resignation_date]":{
        required: "Please select resignation date",
      },
      "employee_resignation[reason]":{
        required: "Please Specify reason",
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>