<div class="box">
  <div class="box-header">
  <h3 class="box-title">Resignation List</h3>
    <div class="pull-right">
    </div>
  </div>
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed'">
      <tbody>
          <tr>
          <th>Resignation Date</th>
            <td colspan="3"><%= @employee_resignation.resignation_date %></td>
          </tr>
          <tr> 
           <th>Reason</th>
            <td colspan="3"><%= @employee_resignation.reason %></td>
          </tr>
          <tr>
          <th>Notice Period</th>
            <td><%= @employee_resignation.is_notice_period %></td>
          <th>Notice Period</th>
            <td><%= @employee_resignation.notice_period %></td>
          </tr>
          <tr>
          <th>Tentative Leaving Date</th>
            <td><%= @employee_resignation.tentative_leaving_date %></td>
            <th>Exit Interview Date</th>
            <td><%= @employee_resignation.exit_interview_date %></td>
            </tr>
            <tr>
          <th>Remark</th>
            <td colspan="3"><%= @employee_resignation.remark %></td>

         </tr>
         <tr>
          <th>Resign Status</th>  
            <td colspan="3"><%= @employee_resignation.resign_status %></td>

          </tr>
      </tbody>
    </table><br>
    <%= link_to 'Back', resignation_history_self_services_path,class: 'btn btn-sm btn-default fa fa-arrow-left' %>
  </div>
</div>