<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Travel Request</h3>
  </div>
  <div class="box-body">
<%= bootstrap_form_for(@travel_request,html: {id: 'travel_request'}) do |f| %>

  <%= f.hidden_field :employee_id, value: current_user.employee_id %>
  <%= f.hidden_field :application_date, value: Time.zone.now.to_date %>

<div class="row">
<div class="col-sm-12">
        <div class="field">
         <table class="table table-bordered table-hover table-condensed'">
           <thead>
           <tr>
           <th colspan="2"><center>Request Process</center></th>
           </tr>
           <tr>
           <th> Employee </th>
           <td><%= @employee.try(:manual_employee_code) %> - <%= full_name(@employee) %></td>
           </tr>
           <tr>
              <th>Manager 1 </th>
              <td><%= @employee.manager.try(:manual_employee_code) %> - <%= full_name(@employee.try(:manager)) %></td>
            </tr>
            <tr>
              <th>Manager 2 </th>
              <td><%= @employee.manager_2.try(:manual_employee_code) %> - <%= full_name(@employee.try(:manager_2)) %></td>
            </tr>
             <tr>
          
           </tr>
           </thead>
         </table>
        </div>
      </div>
      </div>

<div class="row">
    <div class="col-sm-3">
          <label>Travel Option</label>
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <%= link_to "", new_travel_option_path,class: "fa fa-plus fa-success",:target => "_blank" %>
              </div>
               <%= f.select :travel_option_id, all_travel_option, {hide_label: true,include_blank: " Select Travel Option"}, class: 'input_degree_stream_id' %>
            </div>
          </div>
        </div>
    

    <div class="col-sm-3">
          <label>Travel Mode</label>
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <%= link_to "", new_travel_mode_path,class: "fa fa-plus fa-success",:target => "_blank" %>
              </div>
               <%= f.select :travel_mode_id, all_travel_mode, {hide_label: true,include_blank: " Select Travel mode"}, class: 'input_degree_stream_id' %>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
    <div class="field">
      <div class="form-group required">
        <%= f.text_field :place, label: 'Place' %>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
<!--     <label>Traveling Date </label>
 -->    <div class="field">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <%= f.text_field :traveling_date, label: 'From Date', class: 'traveling_date'%>
      </div>
    </div>
  </div>

</div>
<div class="row">

  <div class="col-sm-3">
<!--     <label>Traveling Date </label>
 -->    <div class="field">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <%= f.text_field :to, label: 'To Date', class: 'traveling_date1'%>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :total_advance, label: 'Total Advance' %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="field">
      <div class="form-group required">
        <%= f.text_field :tour_purpose, label: 'Tour Purpose' %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="actions">
      <%= f.submit "Create Travel Request",class: 'btn btn-sm btn-primary' %>
      <%= link_to 'Back', travel_requests_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
    </div>
  </div>
</div>

</div>
</div>
<% end %>

<script type="text/javascript">
  $(function(){
    $('.application_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });

    $('.traveling_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });

     $('.traveling_date1').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });
    });
</script>

<script>
$("#travel_request").validate({
    rules: {
      "travel_request[reporting_master_id]":{
        required: true,
      },
      "travel_request[place]":{
        required: true,
      },
      "travel_request[tour_purpose]":{
        required: true,
      },
      "travel_request[traveling_date]":{
        required: true,
      }
    },
    messages: {
      "travel_request[reporting_master_id]":{
        required: "Please specify Reporting Manager Name",
      },
      "travel_request[place]":{
        required: "Please specify Place",
      },
      "travel_request[tour_purpose]":{
        required: "Please specify Tour Purpose",
      },
      "travel_request[traveling_date]":{
        required: "Please specify Travelling Date",
      }
      
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
