<%= form_for(@food_deduction) do |f| %>
  <% if @food_deduction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@food_deduction.errors.count, "error") %> prohibited this food_deduction from being saved:</h2>

      <ul>
      <% @food_deduction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-sm-3">
     <%= f.select :employee_id, Employee.all.collect {|e| [e.manual_employee_code+"  "+e.first_name.to_s+" "+e.last_name.to_s,e.id]} %>
  </div>

  <div class="field">
    <%= f.label :food_date %><br>
    <%= f.date_select :food_date %>
  </div>
  <div class="field">
    <%= f.label :no_of_coupan %><br>
    <%= f.text_field :no_of_coupan %>
  </div>
   <div class="field">
    <%= f.label :return_coupan %><br>
    <%= f.text_field :return_coupan %>
  </div>
   <div class="field">
    <%= f.label :total_coupan %><br>
    <%= f.text_field :total_coupan %>
  </div>
  <div class="col-sm-3">
    <div class="field">
      <%= f.select :food_coupan_master_id, all_food_coupan_master,{include_blank: " Select Coupan Type"},{onchange:"var a={id:$(this).val(),total_coupan : '$(#food_deduction_total_coupan).val()'}; $.get('/food_deductions/calculate_food_deduction_amount',a,function(response){});",class: 'form-control'} %>
    </div>
  </div>

  <div id="amount">
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
