<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Food Deduction</h3>
  </div><!-- /.box-header -->
  
  <div class="box-body">
    <%= bootstrap_form_for(@food_deduction) do |f| %>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.select :employee_id, employee_list_for_food_deduction, {include_blank: "Select Employee"},{:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1"} %>
          </div>
        </div>

        <div class="col-sm-3">
          <label>Date</label>
          <div class="field">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= f.text_field :food_date,hide_label: true, class: 'food_coupan_date'%>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :no_of_coupan, placeholder: 'No.of Food Coupan' %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :return_coupan, placeholder: 'Return Food Coupan' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <%= f.text_field :total_coupan, placeholder: 'Total Food Coupan', readonly:true %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
            <%= f.select :food_coupan_master_id, all_food_coupan_master,{include_blank: " Select Coupan Type"},{onchange:"var a={id:$(this).val(),total_coupan:$('#food_deduction_total_coupan').val()}; $.get('/food_deductions/calculate_food_deduction_amount',a,function(response){});",class: 'form-control'} %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group required">
            <div id="amount"></div>
          </div>
        </div>    
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit :class => class_name, data: { disable_with: data_info } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('.food_coupan_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });
  });

  $(function(){
    $('#food_deduction_no_of_coupan').on('input', function() {
      var food_deduction_no_of_coupan = parseFloat($('#food_deduction_no_of_coupan').val());
      var food_deduction_return_coupan = parseFloat($('#food_deduction_return_coupan').val());
      var food_deduction_total_coupan = "";
      if (isNaN(food_deduction_no_of_coupan) || isNaN(food_deduction_return_coupan)) {
        food_deduction_total_coupan = ""
      }
      else{
        food_deduction_total_coupan = (food_deduction_no_of_coupan - food_deduction_return_coupan).toFixed(2);
      }
      $('#food_deduction_total_coupan').val(food_deduction_total_coupan);
    });

    $('#food_deduction_return_coupan').on('input', function() {
      var food_deduction_no_of_coupan = parseFloat($('#food_deduction_no_of_coupan').val());
      var food_deduction_return_coupan = parseFloat($('#food_deduction_return_coupan').val());
      var food_deduction_total_coupan = "";
      if (isNaN(food_deduction_no_of_coupan) || isNaN(food_deduction_return_coupan)) {
        food_deduction_total_coupan = ""
      }
      else{
        food_deduction_total_coupan = (food_deduction_no_of_coupan - food_deduction_return_coupan).toFixed(2);
      }
      $('#food_deduction_total_coupan').val(food_deduction_total_coupan);
    });
    
  });  
</script>
