<p id="notice"><%= notice %></p>

<h1>Listing Food Deductions</h1>

<table>
  <thead>
    <tr>
      <th>Food date</th>
      <th>No of coupan</th>
      <th>Rate</th>
      <th>Amount</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @food_deductions.each do |food_deduction| %>
      <tr>
        <td><%= food_deduction.food_date %></td>
        <td><%= food_deduction.no_of_coupan %></td>
        <td><%= food_deduction.rate %></td>
        <td><%= food_deduction.amount %></td>
        <td><%= food_deduction.employee %></td>
        <td><%= link_to 'Show', food_deduction %></td>
        <td><%= link_to 'Edit', edit_food_deduction_path(food_deduction) %></td>
        <td><%= link_to 'Destroy', food_deduction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food deduction', new_food_deduction_path %>
