<div class="box box-default">
  <div class="box-header with-border">
  <div class="row">
  <div class="col-sm-1">
      <%= image_tag @employee.passport_photo.url, :size => "70x70" %>
  </div>
    <div class="col-sm-6">
     <font color='#0077b3'>
       ID : <%= @employee_documents.first.try(:employee).try(:manual_employee_code) %><br>
       Name : <%= full_name(@employee_documents.first.employee) %><br>
       Email : <%= @employee_documents.first.try(:employee).try(:email) %></font>
    </div>
  </div>
    <div class="box-tools pull-right">
    <%= link_to "Add Document", ajax_new_employee_document_employees_path(id: @employee.id), class: 'btn btn-primary btn-sm',remote:true %>
    <%= link_to 'Back', employees_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
      
    </div>
  </div><!-- /.box-header --><br>
  <div class="box-body">
   <table id="example2" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr><th colspan="10"><center><font color='#0077b3'>Employee Document Detail</font></center> </th></tr>
    <tr>
      <th>Document</th>
      <th>Download Document</th>
      <th>Download Image</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @employee_documents.each do |employee_document| %>
      <tr>
        <td><%= employee_document.name %></td>
        <td>
          <% if employee_document.document_file_name == nil %>
            <small class="label label-default">Document Not Available</small>
          <% else %>
            <%= link_to ' Document',download_emp_path(id: employee_document.id),class: 'btn btn-xs btn btn-info fa fa-download' %>
          <% end %>
        </td>
        <td>
          <% if employee_document.image_file_name == nil %>
            <small class="label label-default">Not Available</small>
          <% else %>
            <center><%= link_to '',download_pic_path(id: employee_document.id),class: 'btn btn-xs fa fa-picture-o' %></center>
          <% end %>
        </td>
        <td>
        <!-- <= link_to '', employee_document,class: 'btn btn-default fa btn-xs fa-eye',remote: true%> -->
             <%= link_to ' ',modal_employee_documents_path(employee_document),class: 'btn btn-success btn-sm fa fa-edit',remote: true %>
          <!--  link_to '', employee_document, method: :delete, data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-danger fa fa-close' %> -->
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>