<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @employee_document.employee %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee_document.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @employee_document.status %>
</p>

<%= link_to 'Edit', edit_employee_document_path(@employee_document) %> |
<%= link_to 'Back', employee_documents_path %>
