<%= form_for(@performance_activity) do |f| %>
  <% if @performance_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@performance_activity.errors.count, "error") %> prohibited this performance_activity from being saved:</h2>

      <ul>
      <% @performance_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
