<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:Index="1"><Data ss:Type="String">Sr. No.</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Employee ID</Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String">First Name</Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String">Middle Name</Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String">Last Name</Data></Cell>
        <Cell ss:Index="6"><Data ss:Type="String">Gender</Data></Cell>
        <Cell ss:Index="7"><Data ss:Type="String">Reporting Manager 1</Data></Cell>
        <Cell ss:Index="8"><Data ss:Type="String">Reporting Manager 2</Data></Cell>
        <Cell ss:Index="9"><Data ss:Type="String">Aadhar Card No.</Data></Cell>
        <Cell ss:Index="10"><Data ss:Type="String">Pan Card No.</Data></Cell>
        <Cell ss:Index="11"><Data ss:Type="String">Licence No.</Data></Cell>
        <Cell ss:Index="12"><Data ss:Type="String">Marital Status</Data></Cell>
        <Cell ss:Index="13"><Data ss:Type="String">Nationality</Data></Cell>
        <Cell ss:Index="14"><Data ss:Type="String">Date of Birth</Data></Cell>
        <Cell ss:Index="15"><Data ss:Type="String">Blood Group</Data></Cell>
        <Cell ss:Index="16"><Data ss:Type="String">Permanent Address</Data></Cell>
        <Cell ss:Index="17"><Data ss:Type="String">Pin Code</Data></Cell>
        <Cell ss:Index="18"><Data ss:Type="String">Country</Data></Cell>
        <Cell ss:Index="19"><Data ss:Type="String">State</Data></Cell>
        <Cell ss:Index="20"><Data ss:Type="String">District</Data></Cell>
        <Cell ss:Index="21"><Data ss:Type="String">City</Data></Cell>
        <Cell ss:Index="22"><Data ss:Type="String">Current Address</Data></Cell>
        <Cell ss:Index="23"><Data ss:Type="String">Religion</Data></Cell>
        <Cell ss:Index="24"><Data ss:Type="String">Contact No.</Data></Cell>
        <Cell ss:Index="25"><Data ss:Type="String">Optional Contact No.1</Data></Cell>
        <Cell ss:Index="26"><Data ss:Type="String">Optional Contact No.2</Data></Cell>
        <Cell ss:Index="27"><Data ss:Type="String">Email</Data></Cell>
        <Cell ss:Index="28"><Data ss:Type="String">Optional Email</Data></Cell>
        <Cell ss:Index="29"><Data ss:Type="String">Differently Abled</Data></Cell>
        <Cell ss:Index="30"><Data ss:Type="String">Disability Type</Data></Cell>
        <Cell ss:Index="31"><Data ss:Type="String">Employement Type</Data></Cell>
        <Cell ss:Index="32"><Data ss:Type="String">Employee Status</Data></Cell>
        <Cell ss:Index="33"><Data ss:Type="String">Company</Data></Cell>
        <Cell ss:Index="34"><Data ss:Type="String">Company Location</Data></Cell> 
        <Cell ss:Index="35"><Data ss:Type="String">Department</Data></Cell>
        <Cell ss:Index="36"><Data ss:Type="String">Sub Department</Data></Cell>
        <Cell ss:Index="37"><Data ss:Type="String">Punch Card</Data></Cell>
        <Cell ss:Index="38"><Data ss:Type="String">Employee Code</Data></Cell>
        </Row>

        <% i = 0 %>
        <% @employees.each do |employee| %>
        <Row>
          <Cell ss:Index="1"><Data ss:Type="String"><%= i=i+1 %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="String"><%= employee.manual_employee_code %></Data></Cell>
          <Cell ss:Index="3"><Data ss:Type="String"><%= employee.first_name %></Data></Cell>
          <Cell ss:Index="4"><Data ss:Type="String"><%= employee.middle_name %></Data></Cell>
          <Cell ss:Index="5"><Data ss:Type="String"><%= employee.last_name %></Data></Cell>
          <Cell ss:Index="6"><Data ss:Type="String"><%= employee.gender %></Data></Cell>
          <Cell ss:Index="7"><Data ss:Type="String"><%= employee.manager.try(:name) %></Data></Cell>
          <Cell ss:Index="8"><Data ss:Type="String"><%= employee.manager_2.try(:name) %></Data></Cell>
          <Cell ss:Index="9"><Data ss:Type="String"><%= employee.adhar_no %></Data></Cell>
          <Cell ss:Index="10"><Data ss:Type="String"><%= employee.pan_no %></Data></Cell>
          <Cell ss:Index="11"><Data ss:Type="String"><%= employee.licence_no %></Data></Cell>
          <Cell ss:Index="12"><Data ss:Type="String"><%= employee.marital_status %></Data></Cell>
          <Cell ss:Index="13"><Data ss:Type="String"><%= employee.nationality.try(:name) %></Data></Cell>
          <Cell ss:Index="14"><Data ss:Type="String"><%= employee.date_of_birth %></Data></Cell>
          <Cell ss:Index="15"><Data ss:Type="String"><%= employee.blood_group.try(:name) %></Data></Cell>
          <Cell ss:Index="16"><Data ss:Type="String"><%= employee.permanent_address %></Data></Cell>
          <Cell ss:Index="17"><Data ss:Type="String"><%= employee.pin_code %></Data></Cell>
          <Cell ss:Index="18"><Data ss:Type="String"><%= employee.country.try(:name) %></Data></Cell>
          <Cell ss:Index="19"><Data ss:Type="String"><%= employee.state.try(:name) %></Data></Cell>
          <Cell ss:Index="20"><Data ss:Type="String"><%= employee.district.try(:name) %></Data></Cell>
          <Cell ss:Index="21"><Data ss:Type="String"><%= employee.city %></Data></Cell>
          <Cell ss:Index="22"><Data ss:Type="String"><%= employee.current_address %></Data></Cell>
          <Cell ss:Index="23"><Data ss:Type="String"><%= employee.religion.try(:name) %></Data></Cell>
          <Cell ss:Index="24"><Data ss:Type="String"><%= employee.contact_no %></Data></Cell>
          <Cell ss:Index="25"><Data ss:Type="String"><%= employee.try(:optional_contact_no) %></Data></Cell>
          <Cell ss:Index="26"><Data ss:Type="String"><%= employee.try(:optional_contact_no1) %></Data></Cell>
          <Cell ss:Index="27"><Data ss:Type="String"><%= employee.email %></Data></Cell>
          <Cell ss:Index="28"><Data ss:Type="String"><%= employee.optional_email %></Data></Cell>
          <Cell ss:Index="29"><Data ss:Type="String"><%= employee.handicap %></Data></Cell>
          <Cell ss:Index="30"><Data ss:Type="String"><%= employee.handicap_type %></Data></Cell>
          <Cell ss:Index="31"><Data ss:Type="String"><%= employee.employee_type.try(:name) %></Data></Cell>
          <Cell ss:Index="32"><Data ss:Type="String"><%= employee.status %></Data></Cell>
          <Cell ss:Index="33"><Data ss:Type="String"><%= employee.company.try(:name) %></Data></Cell>
          <Cell ss:Index="34"><Data ss:Type="String"><%= employee.company_location.try(:name) %></Data></Cell>
          <Cell ss:Index="35"><Data ss:Type="String"><%= employee.department.try(:name) %></Data></Cell>
          <Cell ss:Index="36"><Data ss:Type="String"><%= employee.try(:sub_department).try(:name) %></Data></Cell>
          <Cell ss:Index="37"><Data ss:Type="String"><%= employee.try(:punch_card).try(:name) %></Data></Cell>
          <Cell ss:Index="38"><Data ss:Type="String"><%= employee.employee_code_master.try(:name) %></Data></Cell>
     </Row><!-- Row -->
      <% end %><!-- slip -->
    </Table>
  </Worksheet>
</Workbook>