<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:Index="1"><Data ss:Type="String">Sr. No.</Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Employee ID</Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String">First Name</Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String">Middle Name</Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String">Last Name</Data></Cell>
        <Cell ss:Index="6"><Data ss:Type="String">Gender</Data></Cell>
        <Cell ss:Index="7"><Data ss:Type="String">Aadhar Card No.</Data></Cell>
        <Cell ss:Index="8"><Data ss:Type="String">Pan Card No.</Data></Cell>
        <Cell ss:Index="9"><Data ss:Type="String">Licence No.</Data></Cell>
        <Cell ss:Index="10"><Data ss:Type="String">Marital Status</Data></Cell>
        <Cell ss:Index="11"><Data ss:Type="String">Nationality</Data></Cell>
        <Cell ss:Index="12"><Data ss:Type="String">Date of Birth</Data></Cell>
        <Cell ss:Index="13"><Data ss:Type="String">Blood Group</Data></Cell>
        <Cell ss:Index="14"><Data ss:Type="String">Permanent Address</Data></Cell>
        <Cell ss:Index="15"><Data ss:Type="String">Pin Code</Data></Cell>
        <Cell ss:Index="16"><Data ss:Type="String">Country</Data></Cell>
        <Cell ss:Index="17"><Data ss:Type="String">State</Data></Cell>
        <Cell ss:Index="18"><Data ss:Type="String">District</Data></Cell>
        <Cell ss:Index="19"><Data ss:Type="String">City</Data></Cell>
        <Cell ss:Index="20"><Data ss:Type="String">Current Address</Data></Cell>
        <Cell ss:Index="21"><Data ss:Type="String">Religion</Data></Cell>
        <Cell ss:Index="22"><Data ss:Type="String">Contact No</Data></Cell>
        <Cell ss:Index="23"><Data ss:Type="String">Email</Data></Cell>
        <Cell ss:Index="24"><Data ss:Type="String">Differently Abled</Data></Cell>
        <Cell ss:Index="25"><Data ss:Type="String">Disability Type</Data></Cell>
        <Cell ss:Index="26"><Data ss:Type="String">Employement Type</Data></Cell>
        <Cell ss:Index="27"><Data ss:Type="String">Employee Status</Data></Cell>
        <Cell ss:Index="28"><Data ss:Type="String">Company Location</Data></Cell>
        <Cell ss:Index="29"><Data ss:Type="String">Department</Data></Cell> 

        <Cell ss:Index="30"><Data ss:Type="String">UAN No.</Data></Cell>
        <Cell ss:Index="31"><Data ss:Type="String">Joining Date</Data></Cell>
        <Cell ss:Index="32"><Data ss:Type="String">Confirmation Date</Data></Cell>
        <Cell ss:Index="33"><Data ss:Type="String">Designation</Data></Cell>
        <Cell ss:Index="34"><Data ss:Type="String">Employee Grade</Data></Cell>
        <Cell ss:Index="35"><Data ss:Type="String">PF</Data></Cell>
        <Cell ss:Index="36"><Data ss:Type="String">PF No.</Data></Cell>
        <Cell ss:Index="37"><Data ss:Type="String">PF Max Amount</Data></Cell>
        <Cell ss:Index="38"><Data ss:Type="String">ESIC</Data></Cell>
        <Cell ss:Index="39"><Data ss:Type="String">ESIC No.</Data></Cell>
        <Cell ss:Index="40"><Data ss:Type="String">Payment Mode</Data></Cell>
        <Cell ss:Index="41"><Data ss:Type="String">Cost Center</Data></Cell>
        <Cell ss:Index="42"><Data ss:Type="String">Employee Category</Data></Cell>
        <Cell ss:Index="43"><Data ss:Type="String">Medical Scheme</Data></Cell>
        <Cell ss:Index="44"><Data ss:Type="String">Probation Period</Data></Cell>
        <Cell ss:Index="45"><Data ss:Type="String">Notice Period</Data></Cell>
        <Cell ss:Index="46"><Data ss:Type="String">Passport No.</Data></Cell>
        <Cell ss:Index="47"><Data ss:Type="String">Passport Issue Date</Data></Cell>
        <Cell ss:Index="48"><Data ss:Type="String">Passport Expiry Date</Data></Cell>
        <Cell ss:Index="49"><Data ss:Type="String">Retention</Data></Cell>
        <Cell ss:Index="50"><Data ss:Type="String">Retirement Date</Data></Cell>
        <Cell ss:Index="51"><Data ss:Type="String">Reserved Category</Data></Cell> 

        <Cell ss:Index="52"><Data ss:Type="String">Account No.</Data></Cell>
        <Cell ss:Index="53"><Data ss:Type="String">Bank Name</Data></Cell>
        <Cell ss:Index="54"><Data ss:Type="String">Branch Name</Data></Cell>
        <Cell ss:Index="55"><Data ss:Type="String">Bank Contact No.</Data></Cell>
        <Cell ss:Index="56"><Data ss:Type="String">Bank MICR Code</Data></Cell>
        <Cell ss:Index="57"><Data ss:Type="String">Bank Branch Code</Data></Cell>
        <Cell ss:Index="58"><Data ss:Type="String">Bank IFSC Code</Data></Cell>

        <Cell ss:Index="59"><Data ss:Type="String">Employee Hieght</Data></Cell>
        <Cell ss:Index="60"><Data ss:Type="String">Employee Weight</Data></Cell>
        <Cell ss:Index="61"><Data ss:Type="String">Employee T-Shirt Size</Data></Cell>
        <Cell ss:Index="62"><Data ss:Type="String">Employee Trouser Size</Data></Cell>

        <Cell ss:Index="63"><Data ss:Type="String">Employee Qualification Level 1</Data></Cell>
        <Cell ss:Index="64"><Data ss:Type="String">Employee Qualification </Data></Cell>
        <Cell ss:Index="65"><Data ss:Type="String">Employee Qualification Specialization </Data></Cell>
        <Cell ss:Index="66"><Data ss:Type="String">Employee Persentage </Data></Cell>
        <Cell ss:Index="67"><Data ss:Type="String">Employee Passout Year </Data></Cell>
        <Cell ss:Index="68"><Data ss:Type="String">Employee College/School </Data></Cell>
        <Cell ss:Index="69"><Data ss:Type="String">Employee University/Institute </Data></Cell>

        <Cell ss:Index="70"><Data ss:Type="String">Employee Qualification Level 2</Data></Cell>
        <Cell ss:Index="71"><Data ss:Type="String">Employee Qualification </Data></Cell>
        <Cell ss:Index="72"><Data ss:Type="String">Employee Qualification Specialization </Data></Cell>
        <Cell ss:Index="73"><Data ss:Type="String">Employee Marks </Data></Cell>
        <Cell ss:Index="74"><Data ss:Type="String">Employee Passout Year </Data></Cell>
        <Cell ss:Index="75"><Data ss:Type="String">Employee College/School </Data></Cell>
        <Cell ss:Index="76"><Data ss:Type="String">Employee University/Institute </Data></Cell>

        <Cell ss:Index="77"><Data ss:Type="String">Employee Qualification Level 3</Data></Cell>
        <Cell ss:Index="78"><Data ss:Type="String">Employee Qualification </Data></Cell>
        <Cell ss:Index="79"><Data ss:Type="String">Employee Qualification Specialization </Data></Cell>
        <Cell ss:Index="80"><Data ss:Type="String">Employee Marks 3</Data></Cell>
        <Cell ss:Index="81"><Data ss:Type="String">Employee Passout Year </Data></Cell>
        <Cell ss:Index="82"><Data ss:Type="String">Employee College/School </Data></Cell>
        <Cell ss:Index="83"><Data ss:Type="String">Employee University/Institute </Data></Cell>

        <Cell ss:Index="84"><Data ss:Type="String">Employee Previous Company Name 1 </Data></Cell>
        <Cell ss:Index="85"><Data ss:Type="String">Employee Previous Designation </Data></Cell>
        <Cell ss:Index="86"><Data ss:Type="String">Employee Previous Experience </Data></Cell>
        <Cell ss:Index="87"><Data ss:Type="String">Employee Previous CTC </Data></Cell>

        <Cell ss:Index="88"><Data ss:Type="String">Employee Previous Company Name 2 </Data></Cell>
        <Cell ss:Index="89"><Data ss:Type="String">Employee Previous Designation </Data></Cell>
        <Cell ss:Index="90"><Data ss:Type="String">Employee Previous Experience </Data></Cell>
        <Cell ss:Index="91"><Data ss:Type="String">Employee Previous CTC </Data></Cell>

         <Cell ss:Index="92"><Data ss:Type="String">Employee Previous Company Name 3 </Data></Cell>
        <Cell ss:Index="93"><Data ss:Type="String">Employee Previous Designation </Data></Cell>
        <Cell ss:Index="94"><Data ss:Type="String">Employee Previous Experience </Data></Cell>
        <Cell ss:Index="95"><Data ss:Type="String">Employee Previous CTC </Data></Cell>

        <Cell ss:Index="96"><Data ss:Type="String">Employee Skill 1</Data></Cell>
        <Cell ss:Index="97"><Data ss:Type="String">Employee Skill Level</Data></Cell>

        <Cell ss:Index="98"><Data ss:Type="String">Employee Skill 2</Data></Cell>
        <Cell ss:Index="99"><Data ss:Type="String">Employee Skill Level</Data></Cell>

        <Cell ss:Index="100"><Data ss:Type="String">Employee Skill 3</Data></Cell>
        <Cell ss:Index="101"><Data ss:Type="String">Employee Skill Level</Data></Cell>

        <Cell ss:Index="102"><Data ss:Type="String">Employee Certification Name 1</Data></Cell>
        <Cell ss:Index="103"><Data ss:Type="String">Employee Certification Year</Data></Cell>
        <Cell ss:Index="104"><Data ss:Type="String">Employee Certification Duration</Data></Cell>
        <Cell ss:Index="105"><Data ss:Type="String">Employee Certification Description</Data></Cell>

        <Cell ss:Index="106"><Data ss:Type="String">Employee Certification Name 2 </Data></Cell>
        <Cell ss:Index="107"><Data ss:Type="String">Employee Certification Year </Data></Cell>
        <Cell ss:Index="108"><Data ss:Type="String">Employee Certification Duration </Data></Cell>
        <Cell ss:Index="109"><Data ss:Type="String">Employee Certification Description </Data></Cell>

        <Cell ss:Index="110"><Data ss:Type="String">Employee Certification Name 3 </Data></Cell>
        <Cell ss:Index="111"><Data ss:Type="String">Employee Certification Year </Data></Cell>
        <Cell ss:Index="112"><Data ss:Type="String">Employee Certification Duration </Data></Cell>
        <Cell ss:Index="113"><Data ss:Type="String">Employee Certification descriptio</Data></Cell>

         <Cell ss:Index="114"><Data ss:Type="String">Employee Award name 1</Data></Cell>
        <Cell ss:Index="115"><Data ss:Type="String">Employee Year</Data></Cell>
        <Cell ss:Index="116"><Data ss:Type="String">Employee Award from</Data></Cell>

         <Cell ss:Index="117"><Data ss:Type="String">Employee Award name 2</Data></Cell>
        <Cell ss:Index="118"><Data ss:Type="String">Employee Year</Data></Cell>
        <Cell ss:Index="119"><Data ss:Type="String">Employee Award from</Data></Cell>

         <Cell ss:Index="120"><Data ss:Type="String">Employee Award name 3</Data></Cell>
        <Cell ss:Index="121"><Data ss:Type="String">Employee Year</Data></Cell>
        <Cell ss:Index="122"><Data ss:Type="String">Employee Award from</Data></Cell>

        <Cell ss:Index="123"><Data ss:Type="String">Family Member Relation</Data></Cell>
        <Cell ss:Index="124"><Data ss:Type="String">Family Member First Name</Data></Cell>
        <Cell ss:Index="125"><Data ss:Type="String">Family Member Middle Name</Data></Cell>
        <Cell ss:Index="126"><Data ss:Type="String">Family Member Last Name</Data></Cell>
        <Cell ss:Index="127"><Data ss:Type="String">Family Member Date Of Birth</Data></Cell>
        <Cell ss:Index="128"><Data ss:Type="String">Family Member Current Address</Data></Cell>
        <Cell ss:Index="129"><Data ss:Type="String">Family Member Age</Data></Cell>
        <Cell ss:Index="130"><Data ss:Type="String">Family Member Contact No.</Data></Cell>
        <Cell ss:Index="131"><Data ss:Type="String">Family Member Email</Data></Cell>
        <Cell ss:Index="132"><Data ss:Type="String">Family Member Aadhaar No.</Data></Cell>
        <Cell ss:Index="133"><Data ss:Type="String">Family Member PAN Card No.</Data></Cell>
        <Cell ss:Index="134"><Data ss:Type="String">Family Member Passport No.</Data></Cell>
        <Cell ss:Index="135"><Data ss:Type="String">Family Member Passport Issue Date</Data></Cell>
        <Cell ss:Index="136"><Data ss:Type="String">Family Member Passport Expiry Date</Data></Cell>
        <Cell ss:Index="137"><Data ss:Type="String">Family Member Gender</Data></Cell>
        <Cell ss:Index="138"><Data ss:Type="String">Family Member Marital Status</Data></Cell>
        <Cell ss:Index="139"><Data ss:Type="String">Family Member Blood Group</Data></Cell>
        <Cell ss:Index="140"><Data ss:Type="String">Family Member Religion</Data></Cell>
        <Cell ss:Index="141"><Data ss:Type="String">Family Member Profession</Data></Cell>
        <Cell ss:Index="142"><Data ss:Type="String">Family Member Medical Insurance</Data></Cell>
        <Cell ss:Index="143"><Data ss:Type="String">Family Member Differently Abled</Data></Cell>
        <Cell ss:Index="144"><Data ss:Type="String">Family Member Disability Type</Data></Cell>

        <Cell ss:Index="145"><Data ss:Type="String">Family Member Relation</Data></Cell>
        <Cell ss:Index="146"><Data ss:Type="String">Family Member First Name</Data></Cell>
        <Cell ss:Index="147"><Data ss:Type="String">Family Member Middle Name</Data></Cell>
        <Cell ss:Index="148"><Data ss:Type="String">Family Member Last Name</Data></Cell>
        <Cell ss:Index="149"><Data ss:Type="String">Family Member Date Of Birth</Data></Cell>
        <Cell ss:Index="150"><Data ss:Type="String">Family Member Current Address</Data></Cell>
        <Cell ss:Index="151"><Data ss:Type="String">Family Member Age</Data></Cell>
        <Cell ss:Index="152"><Data ss:Type="String">Family Member Contact No</Data></Cell>
        <Cell ss:Index="153"><Data ss:Type="String">Family Member Email</Data></Cell>
        <Cell ss:Index="154"><Data ss:Type="String">Family Member Aadhaar No.</Data></Cell>
        <Cell ss:Index="155"><Data ss:Type="String">Family Member PAN Card No.</Data></Cell>
        <Cell ss:Index="156"><Data ss:Type="String">Family Member Passport No.</Data></Cell>
        <Cell ss:Index="157"><Data ss:Type="String">Family Member Passport Issue Date</Data></Cell>
        <Cell ss:Index="158"><Data ss:Type="String">Family Member Passport Expiry Date</Data></Cell>
        <Cell ss:Index="159"><Data ss:Type="String">Family Member Gender</Data></Cell>
        <Cell ss:Index="160"><Data ss:Type="String">Family Member Marital Status</Data></Cell>
        <Cell ss:Index="161"><Data ss:Type="String">Family Member Blood Group</Data></Cell>
        <Cell ss:Index="162"><Data ss:Type="String">Family Member Religion</Data></Cell>
        <Cell ss:Index="163"><Data ss:Type="String">Family Member Profession</Data></Cell>
        <Cell ss:Index="164"><Data ss:Type="String">Family Member Medical Insurance</Data></Cell>
        <Cell ss:Index="165"><Data ss:Type="String">Family Member Differently Abled</Data></Cell>
        <Cell ss:Index="166"><Data ss:Type="String">Family Member Disability Type</Data></Cell>

        <Cell ss:Index="167"><Data ss:Type="String">Family Member Relation</Data></Cell>
        <Cell ss:Index="168"><Data ss:Type="String">Family Member First Name</Data></Cell>
        <Cell ss:Index="169"><Data ss:Type="String">Family Member Middle Name</Data></Cell>
        <Cell ss:Index="170"><Data ss:Type="String">Family Member Last Name</Data></Cell>
        <Cell ss:Index="171"><Data ss:Type="String">Family Member Date Of Birth</Data></Cell>
        <Cell ss:Index="172"><Data ss:Type="String">Family Member Current Address</Data></Cell>
        <Cell ss:Index="173"><Data ss:Type="String">Family Member Age</Data></Cell>
        <Cell ss:Index="174"><Data ss:Type="String">Family Member Contact No</Data></Cell>
        <Cell ss:Index="175"><Data ss:Type="String">Family Member Email</Data></Cell>
        <Cell ss:Index="176"><Data ss:Type="String">Family Member Aadhaar No.</Data></Cell>
        <Cell ss:Index="177"><Data ss:Type="String">Family Member PAN Card No.</Data></Cell>
        <Cell ss:Index="178"><Data ss:Type="String">Family Member Passport No.</Data></Cell>
        <Cell ss:Index="179"><Data ss:Type="String">Family Member Passport Issue Date</Data></Cell>
        <Cell ss:Index="180"><Data ss:Type="String">Family Member Passport Expiry Date</Data></Cell>
        <Cell ss:Index="181"><Data ss:Type="String">Family Member Gender</Data></Cell>
        <Cell ss:Index="182"><Data ss:Type="String">Family Member Marital Status</Data></Cell>
        <Cell ss:Index="183"><Data ss:Type="String">Family Member Blood Group</Data></Cell>
        <Cell ss:Index="184"><Data ss:Type="String">Family Member Religion</Data></Cell>
        <Cell ss:Index="185"><Data ss:Type="String">Family Member Profession</Data></Cell>
        <Cell ss:Index="186"><Data ss:Type="String">Family Member Medical Insurance</Data></Cell>
        <Cell ss:Index="187"><Data ss:Type="String">Family Member Differently Abled</Data></Cell>
        <Cell ss:Index="188"><Data ss:Type="String">Family Member Disability Type</Data></Cell>
         <Cell ss:Index="189"><Data ss:Type="String">Company Location</Data></Cell>
          <Cell ss:Index="190"><Data ss:Type="String">Employee ID</Data></Cell>


        </Row>

        <% i = 0 %>
        <% @employees.each do |employee| %>
        <% joining_detail = JoiningDetail.find_by_employee_id(employee.id) %>
        <% employee_bank_detail = EmployeeBankDetail.find_by_employee_id(employee.id) %>
        <% employee_physical = EmployeePhysical.find_by_employee_id(employee.id) %>

        <% qualification1 = Qualification.where(employee_id: employee.id).last(3).first %>
        <% qualification2 = Qualification.where(employee_id: employee.id).last(3).second %>
        <% qualification3 = Qualification.where(employee_id: employee.id).last(3).third %>

        <% experience1 = Experience.where(employee_id: employee.id).last(3).first %>
        <% experience2 = Experience.where(employee_id: employee.id).last(3).second %>
        <% experience3 = Experience.where(employee_id: employee.id).last(3).third %>

        <% skillset1 = Skillset.where(employee_id: employee.id).last(3).first %>
        <% skillset2 = Skillset.where(employee_id: employee.id).last(3).second %>
        <% skillset3 = Skillset.where(employee_id: employee.id).last(3).third %>

        <% certification1 = Certification.where(employee_id: employee.id).last(3).first %>
        <% certification2 = Certification.where(employee_id: employee.id).last(3).second %>
        <% certification3 = Certification.where(employee_id: employee.id).last(3).third %>

        <% award1 = Award.where(employee_id: employee.id).last(3).first %>
        <% award2 = Award.where(employee_id: employee.id).last(3).second %>
        <% award3 = Award.where(employee_id: employee.id).last(3).third %>

        <% family1 = Family.where(employee_id: employee.id).last(3).first %>
        <% family2 = Family.where(employee_id: employee.id).last(3).second %>
        <% family3 = Family.where(employee_id: employee.id).last(3).third %>

        <Row>
          <Cell ss:Index="1"><Data ss:Type="String"><%= i=i+1 %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="String"><%= employee.manual_employee_code %></Data></Cell>
          <Cell ss:Index="3"><Data ss:Type="String"><%= employee.first_name %></Data></Cell>
          <Cell ss:Index="4"><Data ss:Type="String"><%= employee.middle_name %></Data></Cell>
          <Cell ss:Index="5"><Data ss:Type="String"><%= employee.last_name %></Data></Cell>
          <Cell ss:Index="6"><Data ss:Type="String"><%= employee.gender %></Data></Cell>
          <Cell ss:Index="7"><Data ss:Type="String"><%= employee.adhar_no %></Data></Cell>
          <Cell ss:Index="8"><Data ss:Type="String"><%= employee.pan_no %></Data></Cell>
          <Cell ss:Index="9"><Data ss:Type="String"><%= employee.licence_no %></Data></Cell>
          <Cell ss:Index="10"><Data ss:Type="String"><%= employee.marital_status %></Data></Cell>
          <Cell ss:Index="11"><Data ss:Type="String"><%= employee.nationality.try(:name) %></Data></Cell>
          <Cell ss:Index="12"><Data ss:Type="String"><%= employee.date_of_birth %></Data></Cell>
          <Cell ss:Index="13"><Data ss:Type="String"><%= employee.blood_group.try(:name) %></Data></Cell>
          <Cell ss:Index="14"><Data ss:Type="String"><%= employee.permanent_address %></Data></Cell>
          <Cell ss:Index="15"><Data ss:Type="String"><%= employee.pin_code %></Data></Cell>
          <Cell ss:Index="16"><Data ss:Type="String"><%= employee.country.try(:name) %></Data></Cell>
          <Cell ss:Index="17"><Data ss:Type="String"><%= employee.state.try(:name) %></Data></Cell>
          <Cell ss:Index="18"><Data ss:Type="String"><%= employee.district.try(:name) %></Data></Cell>
          <Cell ss:Index="19"><Data ss:Type="String"><%= employee.city %></Data></Cell>
          <Cell ss:Index="20"><Data ss:Type="String"><%= employee.current_address %></Data></Cell>
          <Cell ss:Index="21"><Data ss:Type="String"><%= employee.religion.try(:name) %></Data></Cell>
          <Cell ss:Index="22"><Data ss:Type="String"><%= employee.contact_no %></Data></Cell>
          <Cell ss:Index="23"><Data ss:Type="String"><%= employee.email %></Data></Cell>
          <Cell ss:Index="24"><Data ss:Type="String"><%= employee.handicap %></Data></Cell>
          <Cell ss:Index="25"><Data ss:Type="String"><%= employee.handicap_type %></Data></Cell>
          <Cell ss:Index="26"><Data ss:Type="String"><%= employee.employee_type.try(:name) %></Data></Cell>
          <Cell ss:Index="27"><Data ss:Type="String"><%= employee.status %></Data></Cell>
          <Cell ss:Index="28"><Data ss:Type="String"><%= employee.company_location.try(:name) %></Data></Cell>
          <Cell ss:Index="29"><Data ss:Type="String"><%= employee.department.try(:name) %></Data></Cell>

          
          <Cell ss:Index="30"><Data ss:Type="String"><%= joining_detail.try(:employee_uan_no) %></Data></Cell>
          <Cell ss:Index="31"><Data ss:Type="String"><%= joining_detail.try(:joining_date) %></Data></Cell>
          <Cell ss:Index="32"><Data ss:Type="String"><%= joining_detail.try(:confirmation_date) %></Data></Cell>
          <Cell ss:Index="33"><Data ss:Type="String"><%= joining_detail.try(:employee_designation).try(:name)%></Data></Cell> 
          <Cell ss:Index="34"><Data ss:Type="String"><%= joining_detail.try(:employee_grade).try(:name) %></Data></Cell>
          <Cell ss:Index="35"><Data ss:Type="String"><%= joining_detail.try(:select_pf) %></Data></Cell>
          <Cell ss:Index="36"><Data ss:Type="String"><%= joining_detail.try(:employee_pf_no) %></Data></Cell>
          <Cell ss:Index="37"><Data ss:Type="String"><%= joining_detail.try(:pf_max_amount) %></Data></Cell>
          <Cell ss:Index="38"><Data ss:Type="String"><%= joining_detail.try(:have_esic) ? "Yes" : "No" %></Data></Cell>
          <Cell ss:Index="39"><Data ss:Type="String"><%= joining_detail.try(:employee_efic_no) %></Data></Cell>
          <Cell ss:Index="40"><Data ss:Type="String"><%= joining_detail.try(:payment_mode).try(:name) %></Data></Cell>
          <Cell ss:Index="41"><Data ss:Type="String"><%= joining_detail.try(:cost_center).try(:name) %></Data></Cell>
          <Cell ss:Index="42"><Data ss:Type="String"><%= joining_detail.try(:employee_category).try(:name) %></Data></Cell>
          <Cell ss:Index="43"><Data ss:Type="String"><%= joining_detail.try(:medical_schem) %></Data></Cell>
          <Cell ss:Index="44"><Data ss:Type="String"><%= joining_detail.try(:probation_period) %></Data></Cell>
          <Cell ss:Index="45"><Data ss:Type="String"><%= joining_detail.try(:notice_period) %></Data></Cell>
          <Cell ss:Index="46"><Data ss:Type="String"><%= joining_detail.try(:passport_no) %></Data></Cell>
          <Cell ss:Index="47"><Data ss:Type="String"><%= joining_detail.try(:passport_issue_date) %></Data></Cell>
          <Cell ss:Index="48"><Data ss:Type="String"><%= joining_detail.try(:passport_expiry_date) %></Data></Cell>
          <Cell ss:Index="49"><Data ss:Type="String"><%= joining_detail.try(:have_retention) ? "Yes" : "No" %></Data></Cell>
          <Cell ss:Index="50"><Data ss:Type="String"><%= joining_detail.try(:retirement_date) %></Data></Cell>
          <Cell ss:Index="51"><Data ss:Type="String"><%= joining_detail.try(:reserved_category).try(:name) %></Data></Cell>  


          <Cell ss:Index="52"><Data ss:Type="String"><%= employee_bank_detail.try(:account_no) %></Data></Cell>
          <Cell ss:Index="53"><Data ss:Type="String"><%= employee_bank_detail.try(:bank).try(:name) %></Data></Cell>
          <Cell ss:Index="54"><Data ss:Type="String"><%= employee_bank_detail.try(:branch_name) %></Data></Cell>
          <Cell ss:Index="55"><Data ss:Type="String"><%= employee_bank_detail.try(:contact_no) %></Data></Cell>
          <Cell ss:Index="56"><Data ss:Type="String"><%= employee_bank_detail.try(:micr_code) %></Data></Cell>
          <Cell ss:Index="57"><Data ss:Type="String"><%= employee_bank_detail.try(:branch_code) %></Data></Cell>
          <Cell ss:Index="58"><Data ss:Type="String"><%= employee_bank_detail.try(:ifsc_code) %></Data></Cell>

          <Cell ss:Index="59"><Data ss:Type="String"><%= employee_physical.try(:height) %></Data></Cell>
          <Cell ss:Index="60"><Data ss:Type="String"><%= employee_physical.try(:weight) %></Data></Cell>
          <Cell ss:Index="61"><Data ss:Type="String"><%= employee_physical.try(:size) %></Data></Cell>
          <Cell ss:Index="62"><Data ss:Type="String"><%= employee_physical.try(:trouser_size) %></Data></Cell>

          <Cell ss:Index="63"><Data ss:Type="String"><%= qualification1.try(:degree_type).try(:name) %></Data></Cell>
          <Cell ss:Index="64"><Data ss:Type="String"><%= qualification1.try(:degree).try(:name) %></Data></Cell>
          <Cell ss:Index="65"><Data ss:Type="String"><%= qualification1.try(:degree_stream).try(:name) %></Data></Cell>
          <Cell ss:Index="66"><Data ss:Type="String"><%= qualification1.try(:marks) %></Data></Cell>
          <Cell ss:Index="67"><Data ss:Type="String"><%= qualification1.try(:year).try(:name) %></Data></Cell>
          <Cell ss:Index="68"><Data ss:Type="String"><%= qualification1.try(:college) %></Data></Cell>
          <Cell ss:Index="69"><Data ss:Type="String"><%= qualification1.try(:university).try(:name) %></Data></Cell>

          <Cell ss:Index="70"><Data ss:Type="String"><%= qualification2.try(:degree_type).try(:name) %></Data></Cell>
          <Cell ss:Index="71"><Data ss:Type="String"><%= qualification2.try(:degree).try(:name) %></Data></Cell>
          <Cell ss:Index="72"><Data ss:Type="String"><%= qualification2.try(:degree_stream).try(:name) %></Data></Cell>
          <Cell ss:Index="73"><Data ss:Type="String"><%= qualification2.try(:marks) %></Data></Cell>
          <Cell ss:Index="74"><Data ss:Type="String"><%= qualification2.try(:year).try(:name) %></Data></Cell>
          <Cell ss:Index="75"><Data ss:Type="String"><%= qualification2.try(:college) %></Data></Cell>
          <Cell ss:Index="76"><Data ss:Type="String"><%= qualification2.try(:university).try(:name) %></Data></Cell>

          <Cell ss:Index="77"><Data ss:Type="String"><%= qualification3.try(:degree_type).try(:name) %></Data></Cell>
          <Cell ss:Index="78"><Data ss:Type="String"><%= qualification3.try(:degree).try(:name) %></Data></Cell>
          <Cell ss:Index="79"><Data ss:Type="String"><%= qualification3.try(:degree_stream).try(:name) %></Data></Cell>
          <Cell ss:Index="80"><Data ss:Type="String"><%= qualification3.try(:marks) %></Data></Cell>
          <Cell ss:Index="81"><Data ss:Type="String"><%= qualification3.try(:year).try(:name) %></Data></Cell>
          <Cell ss:Index="82"><Data ss:Type="String"><%= qualification3.try(:college) %></Data></Cell>
          <Cell ss:Index="83"><Data ss:Type="String"><%= qualification3.try(:university).try(:name) %></Data></Cell>

          <Cell ss:Index="84"><Data ss:Type="String"><%= experience1.try(:company_name) %></Data></Cell>
          <Cell ss:Index="85"><Data ss:Type="String"><%= experience1.try(:designation) %></Data></Cell>
          <Cell ss:Index="86"><Data ss:Type="String"><%= experience1.try(:no_of_year) %></Data></Cell>
          <Cell ss:Index="87"><Data ss:Type="String"><%= experience1.try(:ctc) %></Data></Cell>


          <Cell ss:Index="88"><Data ss:Type="String"><%= experience2.try(:company_name) %></Data></Cell>
          <Cell ss:Index="89"><Data ss:Type="String"><%= experience2.try(:designation) %></Data></Cell>
          <Cell ss:Index="90"><Data ss:Type="String"><%= experience2.try(:no_of_year) %></Data></Cell>
          <Cell ss:Index="91"><Data ss:Type="String"><%= experience2.try(:ctc) %></Data></Cell>


          <Cell ss:Index="92"><Data ss:Type="String"><%= experience3.try(:company_name) %></Data></Cell>
          <Cell ss:Index="93"><Data ss:Type="String"><%= experience3.try(:designation) %></Data></Cell>
          <Cell ss:Index="94"><Data ss:Type="String"><%= experience3.try(:no_of_year) %></Data></Cell>
          <Cell ss:Index="95"><Data ss:Type="String"><%= experience3.try(:ctc) %></Data></Cell>
          
          <Cell ss:Index="96"><Data ss:Type="String"><%= skillset1.try(:name) %></Data></Cell>
          <Cell ss:Index="97"><Data ss:Type="String"><%= skillset1.try(:skill_level) %></Data></Cell>

          <Cell ss:Index="98"><Data ss:Type="String"><%= skillset2.try(:name) %></Data></Cell>
          <Cell ss:Index="99"><Data ss:Type="String"><%= skillset2.try(:skill_level) %></Data></Cell>

          <Cell ss:Index="100"><Data ss:Type="String"><%= skillset3.try(:name) %></Data></Cell>
          <Cell ss:Index="101"><Data ss:Type="String"><%= skillset3.try(:skill_level) %></Data></Cell>

          <Cell ss:Index="102"><Data ss:Type="String"><%= certification1.try(:name) %></Data></Cell>
          <Cell ss:Index="103"><Data ss:Type="String"><%= certification1.try(:year_id) %></Data></Cell>
          <Cell ss:Index="104"><Data ss:Type="String"><%= certification1.try(:duration) %></Data></Cell>
          <Cell ss:Index="105"><Data ss:Type="String"><%= certification1.try(:description) %></Data></Cell>

          <Cell ss:Index="106"><Data ss:Type="String"><%= certification2.try(:name) %></Data></Cell>
          <Cell ss:Index="107"><Data ss:Type="String"><%= certification2.try(:year_id) %></Data></Cell>
          <Cell ss:Index="108"><Data ss:Type="String"><%= certification2.try(:duration) %></Data></Cell>
          <Cell ss:Index="109"><Data ss:Type="String"><%= certification2.try(:description) %></Data></Cell>

          <Cell ss:Index="110"><Data ss:Type="String"><%= certification3.try(:name) %></Data></Cell>
          <Cell ss:Index="111"><Data ss:Type="String"><%= certification3.try(:year_id) %></Data></Cell>
          <Cell ss:Index="112"><Data ss:Type="String"><%= certification3.try(:duration) %></Data></Cell>
          <Cell ss:Index="113"><Data ss:Type="String"><%= certification3.try(:description) %></Data></Cell>

          <Cell ss:Index="114"><Data ss:Type="String"><%= award1.try(:award_name) %></Data></Cell>
          <Cell ss:Index="115"><Data ss:Type="String"><%= award1.try(:year).try(:name) %></Data></Cell>
          <Cell ss:Index="116"><Data ss:Type="String"><%= award1.try(:award_from) %></Data></Cell>

          <Cell ss:Index="117"><Data ss:Type="String"><%= award2.try(:award_name) %></Data></Cell>
          <Cell ss:Index="118"><Data ss:Type="String"><%= award2.try(:year).try(:name) %></Data></Cell>
          <Cell ss:Index="119"><Data ss:Type="String"><%= award2.try(:award_from) %></Data></Cell>

          <Cell ss:Index="120"><Data ss:Type="String"><%= award3.try(:award_name) %></Data></Cell>
          <Cell ss:Index="121"><Data ss:Type="String"><%= award3.try(:year).try(:name) %></Data></Cell>
          <Cell ss:Index="122"><Data ss:Type="String"><%= award3.try(:award_from) %></Data></Cell>

          <Cell ss:Index="123"><Data ss:Type="String"><%= family1.try(:relation) %></Data></Cell>
          <Cell ss:Index="124"><Data ss:Type="String"><%= family1.try(:f_name) %></Data></Cell>
          <Cell ss:Index="125"><Data ss:Type="String"><%= family1.try(:m_name) %></Data></Cell>
          <Cell ss:Index="126"><Data ss:Type="String"><%= family1.try(:l_name) %></Data></Cell>
          <Cell ss:Index="127"><Data ss:Type="String"><%= family1.try(:date_of_birth) %></Data></Cell>
          <Cell ss:Index="128"><Data ss:Type="String"><%= family1.try(:current_address) %></Data></Cell>
          <Cell ss:Index="129"><Data ss:Type="String"><%= family1.try(:age) %></Data></Cell>
          <Cell ss:Index="130"><Data ss:Type="String"><%= family1.try(:contact_no) %></Data></Cell>
          <Cell ss:Index="131"><Data ss:Type="String"><%= family1.try(:email) %></Data></Cell>
          <Cell ss:Index="132"><Data ss:Type="String"><%= family1.try(:adhar_no) %></Data></Cell>
          <Cell ss:Index="133"><Data ss:Type="String"><%= family1.try(:pan_no) %></Data></Cell>
          <Cell ss:Index="134"><Data ss:Type="String"><%= family1.try(:passport_no) %></Data></Cell>
          <Cell ss:Index="135"><Data ss:Type="String"><%= family1.try(:passport_issue_date) %></Data></Cell>
          <Cell ss:Index="136"><Data ss:Type="String"><%= family1.try(:passport_expiry_date) %></Data></Cell>
          <Cell ss:Index="137"><Data ss:Type="String"><%= family1.try(:gender) %></Data></Cell>
          <Cell ss:Index="138"><Data ss:Type="String"><%= family1.try(:marital) %></Data></Cell>
          <Cell ss:Index="139"><Data ss:Type="String"><%= family1.try(:blood_group).try(:name) %></Data></Cell>
          <Cell ss:Index="140"><Data ss:Type="String"><%= family1.try(:religion).try(:name) %></Data></Cell>
          <Cell ss:Index="141"><Data ss:Type="String"><%= family1.try(:profession) %></Data></Cell>
          <Cell ss:Index="142"><Data ss:Type="String"><%= family1.try(:medical_claim) %></Data></Cell>
          <Cell ss:Index="143"><Data ss:Type="String"><%= family1.try(:is_handicap) %></Data></Cell>
          <Cell ss:Index="144"><Data ss:Type="String"><%= family1.try(:handicap_type) %></Data></Cell>

          <Cell ss:Index="145"><Data ss:Type="String"><%= family2.try(:relation) %></Data></Cell>
          <Cell ss:Index="146"><Data ss:Type="String"><%= family2.try(:f_name) %></Data></Cell>
          <Cell ss:Index="147"><Data ss:Type="String"><%= family2.try(:m_name) %></Data></Cell>
          <Cell ss:Index="148"><Data ss:Type="String"><%= family2.try(:l_name) %></Data></Cell>
          <Cell ss:Index="149"><Data ss:Type="String"><%= family2.try(:date_of_birth) %></Data></Cell>
          <Cell ss:Index="150"><Data ss:Type="String"><%= family2.try(:current_address) %></Data></Cell>
          <Cell ss:Index="151"><Data ss:Type="String"><%= family2.try(:age) %></Data></Cell>
          <Cell ss:Index="152"><Data ss:Type="String"><%= family2.try(:contact_no) %></Data></Cell>
          <Cell ss:Index="153"><Data ss:Type="String"><%= family2.try(:email) %></Data></Cell>
          <Cell ss:Index="154"><Data ss:Type="String"><%= family2.try(:adhar_no) %></Data></Cell>
          <Cell ss:Index="155"><Data ss:Type="String"><%= family2.try(:pan_no) %></Data></Cell>
          <Cell ss:Index="156"><Data ss:Type="String"><%= family2.try(:passport_no) %></Data></Cell>
          <Cell ss:Index="157"><Data ss:Type="String"><%= family2.try(:passport_issue_date) %></Data></Cell>
          <Cell ss:Index="158"><Data ss:Type="String"><%= family2.try(:passport_expiry_date) %></Data></Cell>
          <Cell ss:Index="159"><Data ss:Type="String"><%= family2.try(:gender) %></Data></Cell>
          <Cell ss:Index="160"><Data ss:Type="String"><%= family2.try(:marital) %></Data></Cell>
          <Cell ss:Index="161"><Data ss:Type="String"><%= family2.try(:blood_group).try(:name) %></Data></Cell>
          <Cell ss:Index="162"><Data ss:Type="String"><%= family2.try(:religion).try(:name) %></Data></Cell>
          <Cell ss:Index="163"><Data ss:Type="String"><%= family2.try(:profession) %></Data></Cell>
          <Cell ss:Index="164"><Data ss:Type="String"><%= family2.try(:medical_claim) %></Data></Cell>
          <Cell ss:Index="165"><Data ss:Type="String"><%= family2.try(:is_handicap) %></Data></Cell>
          <Cell ss:Index="166"><Data ss:Type="String"><%= family2.try(:handicap_type) %></Data></Cell>  

          <Cell ss:Index="167"><Data ss:Type="String"><%= family3.try(:relation) %></Data></Cell>
          <Cell ss:Index="168"><Data ss:Type="String"><%= family3.try(:f_name) %></Data></Cell>
          <Cell ss:Index="169"><Data ss:Type="String"><%= family3.try(:m_name) %></Data></Cell>
          <Cell ss:Index="170"><Data ss:Type="String"><%= family3.try(:l_name) %></Data></Cell>
          <Cell ss:Index="171"><Data ss:Type="String"><%= family3.try(:date_of_birth) %></Data></Cell>
          <Cell ss:Index="172"><Data ss:Type="String"><%= family3.try(:current_address) %></Data></Cell>
          <Cell ss:Index="173"><Data ss:Type="String"><%= family3.try(:age) %></Data></Cell>
          <Cell ss:Index="174"><Data ss:Type="String"><%= family3.try(:contact_no) %></Data></Cell>
          <Cell ss:Index="175"><Data ss:Type="String"><%= family3.try(:email) %></Data></Cell>
          <Cell ss:Index="176"><Data ss:Type="String"><%= family3.try(:adhar_no) %></Data></Cell>
          <Cell ss:Index="177"><Data ss:Type="String"><%= family3.try(:pan_no) %></Data></Cell>
          <Cell ss:Index="178"><Data ss:Type="String"><%= family3.try(:passport_no) %></Data></Cell>
          <Cell ss:Index="179"><Data ss:Type="String"><%= family3.try(:passport_issue_date) %></Data></Cell>
          <Cell ss:Index="180"><Data ss:Type="String"><%= family3.try(:passport_expiry_date) %></Data></Cell>
          <Cell ss:Index="181"><Data ss:Type="String"><%= family3.try(:gender) %></Data></Cell>
          <Cell ss:Index="182"><Data ss:Type="String"><%= family3.try(:marital) %></Data></Cell>
          <Cell ss:Index="183"><Data ss:Type="String"><%= family3.try(:blood_group).try(:name) %></Data></Cell>
          <Cell ss:Index="184"><Data ss:Type="String"><%= family3.try(:religion).try(:name) %></Data></Cell>
          <Cell ss:Index="185"><Data ss:Type="String"><%= family3.try(:profession) %></Data></Cell>
          <Cell ss:Index="186"><Data ss:Type="String"><%= family3.try(:medical_claim) %></Data></Cell>
          <Cell ss:Index="187"><Data ss:Type="String"><%= family3.try(:is_handicap) %></Data></Cell>
          <Cell ss:Index="188"><Data ss:Type="String"><%= family3.try(:handicap_type) %></Data></Cell>
           <Cell ss:Index="189"><Data ss:Type="String"><%= employee.company.try(:name) %></Data></Cell>
           <Cell ss:Index="189"><Data ss:Type="String"><%= employee.id %></Data></Cell>

     </Row><!-- Row -->
      <% end %><!-- slip -->
    </Table>
  </Worksheet>
</Workbook>