
  <%= bootstrap_form_for(@attribute_rating_sheet,url:{controller: "attribute_rating_sheets",action: 'update_appraiser2', id: @attribute_rating_sheet.id}) do |f| %>

    <div class= "row">
      <div class="col-sm-3">
      <div class= "field">
      <%= f.text_field :appraiser2_comment %>
      </div>
      </div>

      <div class="col-sm-3">
      <div class= "field">
      <%= f.select :appraiser2_rating_id,options_for_select(all_rating_type),class: 'form-control' %>
      </div>
      </div>

      <div class="col-sm-3">
      <div class= "field">
        <%= hidden_field_tag :appraiser_2_id, {},value: current_user.employee_id %>
      </div>
      </div>

      </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit "Update Appraiser Rating" ,class: "btn btn-primary btn-sm"%>
         </div>
        </div>
      </div>
    
  <% end %>