<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Edit Attribute Rating</h3>
  </div>
  <div class="box-body">
   <%= bootstrap_form_for(@attribute_rating_sheet) do |f| %>
    <div class= "row">
      <div class="col-sm-3">
      <div class= "field">
      <%= f.text_field :appraisee_comment %>
      </div>
      </div>

      <div class="col-sm-3">
      <div class= "field">
      <%= f.select :appraisee_rating_id,options_for_select(all_rating_type),class: 'form-control' %>
      </div>
      </div>

      <div class="col-sm-3">
      <div class= "field">
      <%= hidden_field_tag :appraiser_id, {},value: @attribute_rating_sheet.appraisee_id %>
      
      </div>
      </div>
      </div>

    <div class="row">
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit "Update Attribute Rating" ,class: "btn btn-primary btn-sm"%>
         </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>