<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Attribute Rating</h3>
  </div>
  <div class="box-body">
    <%= bootstrap_form_for(@attribute_rating_sheet) do |f| %>
    <table id="tbl" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Attribute & Definition</th>
          <th>Weightage</th>
          <th>Appraisee Comment</th>
          <th>Appraisee Evaluation</th>
        </tr>
      </thead>
      <tbody>
      <% @attribute_rating_sheets.each do |attribute_rating_sheet| %>
        <tr>
          
          <td><%= attribute_rating_sheet.employee_attribute.attribute_master.name %></td>
          <td><%= attribute_rating_sheet.employee_attribute.weightage %></td>
          <td><%= text_field_tag 'appraisee_comment[]' %></td>
          <td><%= select_tag 'appraisee_rating_id[]',options_for_select(all_rating_type) ,{class: 'form-control', hide_label: true} %></td>
          
          <%= hidden_field_tag 'employee_attribute_id[]',{},value: attribute_rating_sheet.id %>
          <%= hidden_field_tag :appraisee_id, {},value: current_user.employee_id %>
        </tr>
      <% end %>
      </tbody>
    </table>

  <% if @employee_attributes.empty? %>

  <% else %>
    <div class="row">
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit "Create Attribute Rating", class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>
  
</div>
</div>
<% end %>
