	<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Details</h3>
  </div>
  <div class="box-body">


	<table class="table table-bordered table-hover table-condensed">
       
    <thead>
	    <tr>
	    	<th>Employee Id</th>
	    	<th>Name</th>
        <th>Age</th>
	    	<th>Department</th>
	    	<th>Date Of Joining</th>
	    	<th>Joining Grade</th>
	    	<th>Current Designation</th> 
      </tr>
    </thead>
    <tbody>
      <% @attribute_rating_sheets.each do |a| %>
      <tr>
        <td><%= a.appraisee.manual_employee_code %></td> 
        <td><%= a.appraisee.first_name %></td>
        <td><%= Time.now.year-a.appraisee.date_of_birth.year %></td>
        <td><%= a.appraisee.department.name %></td>
        <td><%= @joining_detail.joining_date %></td>
        <td><%= @joining_detail.employee_grade.name %></td>
        <td><%= @joining_detail.employee_designation.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<div class="row">
  <div class="col-sm-6">
    <div class="box-header with-border">
    
      <h3 class="box-title">Past Experience</h3>
    </div>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
	    	<th>Past Company</th>
        <th>Designation</th>
        <th>Past Exp In Years</th>
        <th>Past CTC</th>
        <th>Current CTC</th>
      </tr>
    </thead>
    <tbody>
    <% @experiences.each do |e| %>
      <tr>
       <td><%= e.company_name %></td>
       <td><%= e.designation %></td>
       <td><%= e.no_of_year %></td>
       <td><%= e.ctc %></td>
       <td><%= @ctc %></td>
      </tr>
      <% end %>
    </tbody>
	</table>
  </div>

  <div class="col-sm-6">
    <div class="box-header with-border">
      <h3 class="box-title">Qualification Details</h3>
    </div>
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Degree/Deploma</th>
            <th>Year Of Passing/marks%</th>
            <th>Qualification Category</th>
          </tr>
        </thead>
        <tbody>
        <% @qualifications.each do |q| %>
          <tr>
            <td><%= q.degree.name %></td>
            <td><%= q.year.name.to_s+" / "+q.marks.to_s %></td>
            <td><%= q.degree_type.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  
</div>

	
<%= bootstrap_form_for(@attribute_rating_sheet,url:{action: "appraiser2_create", id: @employee.id}) do |f| %>
  <div class="box-header with-border">
    <h3 class="box-title">Attributes</h3>
  </div>
  <table id="example3" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Attribute & Definition</th>
        <th>Weightage</th>
        <th>Appraisee Comment</th>
        <th>Appraisee Evaluation</th>
        <th>Appraiser Comment</th>
        <th>Appraiser Evaluation</th>
        <th>Reviewer Comment</th>
        <th>Reviewer Evaluation</th>
      </tr>
    </thead>
    <tbody>
      <% @attribute_rating_multiple_sheets.each do |a| %>
        <tr>
          <td><%= a.employee_attribute.attribute_master.name %></td>
          <td><%= a.employee_attribute.weightage %></td>
          <td><%= a.appraisee_comment %></td>
          <td><%= a.appraisee_rating.try(:code) %></td>
          <td><%= a.appraiser_comment %></td>
          <td><%= a.appraiser_rating.try(:code) %></td> 
          <td><%= text_field_tag 'appraiser2_comment[]' %></td>
          <td><%= select_tag 'appraiser2_rating_id[]',options_for_select(all_rating_type) ,{class: 'form-control', hide_label: true,include_blank: " Select Rating"} %></td>
          <%= hidden_field_tag 'attribute_rating_sheet_id[]', {},value: a.id %> 
           <%= hidden_field_tag :appraiser_2_id, {},value: current_user.employee_id %> 
        </tr>
      <% end %>
    </tbody>
  </table>

<% if @attribute_rating_multiple_sheets.empty? %>

  <% else %>
    <div class="row">
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit "Assign Rating" , class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
  <% end %>

  <% end %>
<%= bootstrap_form_for @attribute_rating_sheet,url:{action:'is_confirm_appraiser2',id: @employee.id} do |f| %>
  <div class="box-header with-border">
    <h3 class="box-title">Attributes</h3>
  </div>
  <table id="example3" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th><input type="checkbox" id="selectAll" value="selectAll"></th>
        <th>Attribute & Definition</th>
        <th>Weightage</th>
        <th>Appraisee Comment</th>
        <th>Appraisee Evaluation</th>
        <th>Appraiser Comment</th>
        <th>Appraiser Evaluation</th>
        <th>Reviewer Comment</th>
        <th>Reviewer Evaluation</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @attribute_rating_multi_sheets.each do |a| %>
        <tr>
          <td>
            <% if a.is_confirm_appraiser2 == true %>

            <% else %>
              <%= check_box_tag "attribute_rating_sheet_ids[]", a.id %>
            <% end %>
          </td>
          <td><%= a.employee_attribute.attribute_master.name %></td>
          <td><%= a.employee_attribute.weightage %></td>
          <td><%= a.appraisee_comment %></td>
          <td><%= a.appraisee_rating.try(:code) %></td>
          <td><%= a.appraiser_comment %></td>
          <td><%= a.appraiser_rating.try(:code)%></td> 
          <td><%= a.appraiser2_comment %></td>
          <td><%= a.appraiser2_rating.try(:code) %></td>
          <%= hidden_field_tag 'attribute_rating_sheet_id[]', {},value: a.id %> 
          <td>
            <% if a.is_confirm_appraiser2 == true %>
            <small class="label label-info">Confirmed</small>
            <% else %>
              <%= link_to '', modal_appraiser2_attribute_rating_sheets_path(a) ,class: 'btn btn-xs btn-success fa fa-edit',remote: true %>
            <% end %>
          </td> 
        </tr>
      <% end %>
    </tbody>
  </table>

    <div class="row">
      <div class="col-sm-3">
        <div class="actions">
          <%= f.submit "Confirm", class: 'btn btn-primary btn-sm' %>
          <%= link_to 'Back', appraiser2_goal_rating_sheets_path(@employee.id),class: 'btn btn-default btn-sm fa fa-arrow-left' %>
        </div>
      </div>
    </div>
</div>
</div>
<% end %>

<div id="myModal" class="modal fade"></div>

<script type="text/javascript">
  $(function () {
    $('#selectAll').click(function() {
      if (this.checked) {
        $(':checkbox').each(function() {
          this.checked = true;                       
        });
      } 
      else {
        $(':checkbox').each(function() {
          this.checked = false;                        
        });
      } 
    });
  });

 $(document).ready(function() {
    $('#example3').DataTable( {
        "scrollY":        "200px",
        "scrollX":        "1000px",
        "scrollCollapse": true,
        "paging":         false
    } );
} );
</script>
