<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Details</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
  <div id="comments">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Employee Id</th>
        <th>Name</th>
        <th>Department</th>
        <th>Degree/Deploma</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @attribute_rating_sheets.each do |a| %>
        <tr>
          <td><%= a.appraisee.manual_employee_code %></td>
          <td><%= a.appraisee.first_name %></td>
          <td><%= a.appraisee.department.name %></td>
          <td><%= @qualification.degree.name %></td>
          <td>
            <%= link_to '', employee_details_attribute_rating_sheets_path(@employee.id) ,class: 'btn btn-sm btn-default fa fa-eye' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
</div>