	<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Details</h3>
  </div>
  <div class="box-body">

  
	<table class="table table-bordered table-hover table-condensed">
       
    <thead>
	    <tr>
	    	<th>Employee Id</th>
	    	<th>Name</th>
        <th>Age</th>
	    	<th>Department</th>
	    	<th>Date Of Joining</th>
	    	<th>Joining Grade</th>
	    	<th>Current Designation</th> 
      </tr>
    </thead>
    <tbody>
      <% @attribute_rating_sheets.each do |a| %>
      <tr>
        <td><%= a.manual_employee_code %></td> 
        <td><%= a.first_name %></td>
        <td><%= Time.now.year-a.date_of_birth.year %></td>
        <td><%= a.department.name %></td>
        <td><%= @joining_detail.joining_date %></td>
        <td><%= @joining_detail.employee_grade.name %></td>
        <td><%= @joining_detail.employee_designation.name %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

<div class="row">
  <div class="col-sm-6">
    <div class="box-header with-border">
    
      <h3 class="box-title">Previous Experience<h3>
    </div>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
	    	<th>Previous Company</th>
        <th>Designation</th>
        <th>Previous Exp.(Years)</th>
        <th>CTC</th>
      </tr>
    </thead>
    <tbody>
    <% @experiences.each do |e| %>
      <tr>
       <td><%= e.company_name %></td>
       <td><%= e.designation %></td>
       <td><%= e.no_of_year %></td>
       <td><%= e.ctc %></td>
      </tr>
      <% end %>
    </tbody>
	</table>
  </div>

  <div class="col-sm-6">
    <div class="box-header with-border">
      <h3 class="box-title">Qualification Details</h3>
    </div>
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Degree</th>
            <th>Qualification</th>
            <th>Year Of Passing</th>
            <th>Marks(%)</th>
            
          </tr>
        </thead>
        <tbody>
        <% @qualifications.each do |q| %>
          <tr>
            <td><%= q.degree.name %></td>
            <td><%= q.degree_type.name %></td>
            <td><%= q.year.name %></td>
            <td><%= q.marks %></td>
            
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  
</div>

	<div class="box-header with-border">
    <h3 class="box-title">Goal List</h3>
  </div>
	 <table id="tbl" class="table table-bordered table-hover table-condensed">
    <thead>
      <tr>
        <th>Goal Perspective</th>
        <th>Goal Measure</th>
        <th>Target</th>
        <th>Goal Weightage</th>
        
        <th>Aligned To Supervisor</th>
        <th>Appraisee Comment</th>
        <th>Appraiser Comment</th>
        <th>Appraiser Evaluation</th>
      </tr>
    </thead>
    <tbody>
      <% @goal_rating_sheets.each do |g| %>
        <tr>
          <td><%= g.employee_goal.goal_perspective.name %></td>
          <td><%= g.employee_goal.goal_measure %></td>
          <td><%= g.employee_goal.target %></td>
          <td><%= g.employee_goal.goal_weightage %></td>
          <td><%= g.employee_goal.allign_to_supervisor %></td>

          <td><%= g.appraisee_comment %></td>
          <td><%= g.appraiser_comment %></td>
          <td><%= g.appraiser_rating.try(:code) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<hr>
<%= link_to ' Back', subordinate_list_attribute_rating_sheets_path(@employee.id),class: 'btn btn-default btn-sm fa fa-arrow-left' %> |

 <%= link_to 'Print PDF', print_details_appraiser_attribute_rating_sheets_path(format: 'pdf',id:@employee.id ),class: 'btn btn-xl btn-warning', :target => '_blank' %><br><br>
</div>
</div>
