<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Attribute Rating</h3>
    <div class="pull-right">
      <%= link_to "New Attribute rating sheet", new_attribute_rating_sheet_path, class: 'btn btn-sm btn-primary' %> 
    </div>
  </div>
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Attribute & Definition</th>
            <th>Weightage</th>
            <th>Appraisee comment</th>
            <th>Appraisee rating</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @attribute_rating_sheets.each do |a| %>
            <tr>
              <% if a.employee_attribute.is_confirm == true %>
                <td><%= a.employee_attribute.attribute_master.name %></td>
                <td><%= a.employee_attribute.weightage %></td>
                <td><%= a.appraisee_comment %></td>
                <td><%= a.appraisee_rating %></td>
                <td>
                  <% if a.is_confirm_appraisee == true %>
                  <% else %>
                  <%= link_to '', edit_attribute_rating_sheet_path(a),class: 'btn btn-success btn-xs fa fa-edit' %>
                  
                  <%= link_to '',is_confirm_appraisee_attribute_rating_sheets_path(a),class: 'btn btn-xs btn-warning fa fa-check'%>
                  <% end %>
                </td>
              <% else %>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              <% end %>

            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>
<%= link_to 'Back', new_goal_rating_sheet_path %>