<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Shift Schedule</h3>
    <div class="pull-right">
	    <%= link_to " PDF ", all_shift_schedule_shift_schedules_path(id: @shift_schedule.id, format: "pdf"), class: "btn btn-xl btn-info fa fa-print",:target => "_blank" %>
	    
	    <%= link_to " XLS ", all_shift_schedule_shift_schedules_path(id: @shift_schedule.id, format: "xls"), class: "btn btn-xl btn-success fa fa-print",:target => "_blank" %>
	    
	    <%= link_to " Upload ", import_xl_shift_schedules_path, class: 'fa fa-upload btn btn-xl btn-primary' %>
	    <%= link_to " Template", "/Templates/75.Shift Schedule.xls", :class=>"fa fa-download  btn-xl btn btn-warning" %>
	    <%= link_to " Upload Shift Employee", import_shift_emp_shift_schedules_path, class: 'fa fa-upload btn btn-xl btn-primary' %>
	    <%= link_to "Shift Template", "/Templates/77.ShiftEmployee.xls", :class=>"fa fa-download  btn-xl btn btn-warning" %>
    </div>

  </div><!-- /.box-header -->
	<div class="box-body">
		<% if current_user.role.name == "GroupAdmin" || current_user.role.name == "HOD" || current_user.role.name == "Admin" || current_user.role.name == "Supervisor" %>
		<div id="form">
			<%= render 'form' %>	
		</div>
		<% end %>
		<div id="shift_schedule_list">
			<%= render 'shift_schedule_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->

