<style>
    th {
        text-align: left;
    }
    tr {
        page-break-inside: avoid;
    }
    div.alwaysbreak { page-break-before: always; }
    div.nobreak:before { clear:both; }
    div.nobreak{ page-break-inside: avoid;
      /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
    }
</style>
<table style="border-collapse: collapse; font-size:9pt;" border=1 width=1000 cellpadding="10">
  <thead>
    <tr>
      <td colspan="5"><center> 
        <% if current_user.employee.company_location.company.company_logo == nil %>
        <%else %>
          <center> <%= wicked_pdf_image_tag current_user.employee.company_location.company.company_logo.url, :size => "90x50" %></center>
        <%end%> 
          <strong><%=current_user.employee.company_location.company.try(:description)%></strong> <br> <%= current_user.employee.company_location.company.try(:address)%><br>
          <strong> Shift Detail: <%= @from.to_date %> - <%= @to.to_date %></strong>
        </center>
      </td>
    </tr>
    <tr>
    	<th>Sr. No</th>
      <th>Date</th>
      <th>ID</th>
      <th>Employee Name</th>
    	<th>Shift</th>
    </tr>
  </thead>

  <tbody>
  	<% i = 0 %>
  	<% @shift_employees.each do |shift_employee| %>
    	<tr>
    		<td><%= i = i + 1 %></td>
      	<td><%= shift_employee.date %></td>
      	<td><%= shift_employee.employee.try(:manual_employee_code) %></td>
      	<td><%= full_name(shift_employee.employee) %></td>
    		<td><%= shift_employee.shift_time.try(:shift) %> - <%= shift_employee.shift_time.try(:name) %></td>
    	</tr>
  	<% end %>
	</tbody>
</table>