<br>
      <table id="example6" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>ID</th>
            <th>Employee Name</th>
            <th>Date</th>
            <th>Present</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Working Hours</th>
            <th>Manager</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <% @employee_attendances.each do |a| %>
            <tr>
              <td><%= a.employee.manual_employee_code %></td>
              <td><%= full_name(a.employee) %></td>
              <td><%= a.try(:day) %></td>
              <td><%= a.try(:present) %></td>
              <td><%= a.try(:in_time) %></td>
              <td><%= a.try(:out_time) %></td>
              <td><%= a.try(:working_hrs) %></td>
              <td><%= full_name(a.employee.manager) %></td>
              <td><%= a.try(:comment) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>


      <%= link_to " Excel",show_datewise_all_employee_attendances_path(from: params[:employee][:from], to: params[:employee][:to], save: params[:save], format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
      <%= link_to " PDF",show_datewise_all_report_employee_attendances_path(from: @from,to: @to,name: @name,format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>

       <!-- <= link_to "Back",datewise_attendance_with_options_employee_attendances_path,class: "btn btn-sm btn-default" %> -->
   
<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>
