<div class="box box-default">
  <div class="box-body">
    <%= bootstrap_form_for :employee_attendances,html: {id: "employee_attendances"}, url: { action: 'create_employee_attendance'} do |f| %>
    <!-- <= f.hidden_field :department_id, value: @department %> -->
      <div class="row">
        <div class="col-sm-2">
        <label>Select Attendance </label>
          <div class="field">
            <%= f.select :present,['P','W','A','P/2','G'],{hide_label: true,include_blank: "Select Option"} %>

            <%= f.hidden_field :day, value: @date %>
          </div>
        </div>
      </div>

      <table id="example1" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th><input type="checkbox" id="selectAll" value="selectAll"></th>
            <th>ID</th>
            <th>Employee Name</th>
            <th>Department</th>
            <th>Designation</th>
            <th>Cost Center</th>
            <th>Contact No.</th>
          </tr>
        </thead>
        <tbody>
          <% @employees.where(status: "Active").each do |e| %>
            <tr>              
              <td><%= check_box_tag "employee_ids[]",e.id %></td>
              <td><%= e.manual_employee_code %></td>
              <td><%= e.first_name %> <%= e.middle_name %> <%= e.last_name %></td>
              <td><%= e.try(:company_location).try(:name)%> - <%= e.try(:department).try(:name)%></td>
              <td><%= e.try(:joining_detail).try(:employee_designation).try(:name) %></td>
              <td><%= e.try(:joining_detail).try(:cost_center).try(:name) %></td>
              <td><%= e.contact_no %></td>
              <%= f.hidden_field :department_id, value: e.department_id %>
            </tr>
          <% end %>
        </tbody>
      </table>
      
      <div class="row">
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit "Create Attendance" ,class: 'btn btn-primary btn-sm' %>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
  <% end %>
<script type="text/javascript">
$(document).ready(function() {
    $('#example1').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>
<script type="text/javascript">
  $('#selectAll').click(function() {
    if (this.checked) {
      $(':checkbox').each(function() {
        this.checked = true;
      });
    }
    else {
      $(':checkbox').each(function() {
        this.checked = false;
      });
    }
  });

  $("#employee_attendances").validate({
    rules: {
      "employee_attendances[present]":{
        required: true
      }
    },
    messages: {
      "employee_attendances[present]":{
        required: "Please Specify Activity"
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
