  <br>
<div class="box">
  <div class="box-header">
    <div class="box-body">
      <table id="example6" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th colspan="7"><center> Date : <%= params[:employee][:from] %></center></th>
          </tr>
          <tr>
            <th>Sr.No.</th>
            <th>Emp. No.</th>
            <th>Employee Name</th>
            <th>In Time</th>
            <th>Remark</th>
            <th>Out Time</th>
            <th>Remark</th>
          </tr>
        </thead>
        <tbody>
          <% i = 0 %>
          <th colspan="7"> CHIEF OPERATING OFFICER</th>
          <% @chief_operating_officer_from.try(:each) do |e| %>
            <%# date = @to %> 
            <%# emp = e.employee_id %>
            <%# emp_att = EmployeeAttendance.where(day: date, employee_id: emp) %>
             <tr>
              <td><%= i = i + 1 %></td>
              <td><%= e.employee.manual_employee_code %></td>
              <td><%= full_name(e.employee) %></td>
              <td><%= e.try(:in_time) %></td>
              <td><%= %></td>
              <% @chief_operating_officer_to.try(:each) do |e1| %>
              <td><%= e1.try(:out_time) %></td>
              <td><%= %></td>
              <% end %>    
            </tr>
          <% end %> <!-- do -->
          <% j = 1 %>
          <th colspan="7"> HEAD </th>
          <% @head_officer_from.try(:each) do |e| %>
            <% out_t = @head_officer_to = EmployeeAttendance.where(day: @to, employee_id: e.employee_id) %>
            <tr>
              <td><%= j = j + 1 %></td>
              <td><%= e.employee.manual_employee_code %></td>
              <td><%= full_name(e.employee) %></td>
              <td><%= e.try(:in_time) %></td>
              <td><%= %></td>
              <td><%= out_t.last.try(:out_time) %></td>
              <td><%= %></td>
              <%# end %>
            </tr>
          <% end %> <!-- do -->
        </tbody>
      </table>
      <br>
      <%= link_to " PDF Report ",officers_daily_employee_attendances_path(from: params[:employee][:from], to: params[:employee][:to], format: "pdf"), class: "btn btn-xl btn-info fa fa-print", target: "_blank" %>
      <%= link_to " Excel Report ",officers_daily_employee_attendances_path(from: params[:employee][:from], to: params[:employee][:to], format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
    </div>
  </div> 
</div>