<script>
function displayResult()
{
    var a=(document.getElementById('sp1').value);
    var b=(document.getElementById('sp2').value);
    
    document.getElementById('total').value=((b - a) / 3600).round;
}
</script>
<br>
<div class="box">
  <div class="box-header">
    <div class="box-body">
      <table id="example6" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr><center><strong> Date <%= @employee_attendances.first.day %></strong></center> </tr>
          <tr>
            <th>ID</th>
            <th>Employee Name</th>
            <th>Location</th>
            <th>Present</th>
            <th>In Time</th>
            <th>Out Time</th>
            <th>Working Hours</th>
            <th>Comment</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @employee_attendances.each do |a| %>
            <tr>
              <td><%= a.employee.try(:manual_employee_code) %></td>
              <td><%= full_name(a.employee) %></td>
              <td><%=a.employee.try(:company_location).try(:name)%></td>
              <td><%=a.present%></td>

              <td><%= a.try(:in_time ) %></td>
              <td><%= a.try(:out_time ) %></td>
              <td><%= a.working_hrs %></td>
              
              <td><%= a.comment %></td>
              <td>
                <% if a.employee_leav_request_id == nil %>
                  
                  <%= link_to ' ',modal_edit_daily_attendance_employee_attendances_path(a),class: 'btn btn-success btn-xs fa fa-edit',remote: true %>
                  <% else %>
                  <small class="label label-primary">Leave</small>
                
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!-- <= link_to "Back",datewise_daily_attendance_employee_attendances_path,class: "btn btn-sm btn-default" %> -->
    </div>
  </div>
</div>
<div id="myModal" class="modal fade"></div>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>
