<br>
    <table id="example6" class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Employee Name</th>
          <th>Present</th>
          <th>In Time</th>
          <th>Out Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @employee_attendances.each do |a| %>
          <tr>
            <td><%= a.employee.manual_employee_code %></td>
            <td><%= full_name(a.employee) %></td>
            <td><%= a.try(:present) %></td>
            <td><%= a.try(:in_time) %></td>
            <td><%= a.try(:out_time) %></td>
            <td><%= link_to ' ',modal_edit_daily_attendance_employee_attendances_path(a),class: 'btn btn-success btn-xs fa fa-edit',remote: true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <div id="myModal" class="modal fade"></div>


<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true,
        "scrollY": 500
    } );
} );
</script>