<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Attendance</h3>
    <div class="pull-right">
    </div>
    
  </div><!-- /.box-header -->
  <div class="box-body">
    <div id="comments">

      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Employee Name</th>
            <th>Day 1</th>
            <th>Day 2</th>
            <th>Day 3</th>
            <th>Day 4</th>
            <th>Day 5</th>
            <th>Day 6</th>
            <th>Day 7</th>
            <th>Day 8</th>
            <th>Day 9</th>
            <th>Day 10</th>
            <th>Day 11</th>
            <th>Day 12</th>
            <th>Day 13</th>
            <th>Day 14</th>
            <th>Day 15</th>
            <th>Day 16</th>
            <th>Day 17</th>
            <th>Day 18</th>
            <th>Day 19</th>
            <th>Day 20</th>
            <th>Day 21</th>
            <th>Day 22</th>
            <th>Day 23</th>
            <th>Day 24</th>
            <th>Day 25</th>
            <th>Day 26</th>
            <th>Day 27</th>
            <th>Day 28</th>
            <th>Day 29</th>
            <th>Day 30</th>
            <th>Day 31</th>
          </tr>
        </thead>

        <tbody>
          <% @employee_attendances.each do |employee_attendance| %>
            <tr>
             <td><%= full_name(employee_attendance.employee) %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
             <td><%= employee_attendance.present %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>