      <table id="example5" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Cost Center</th>
            <% for i in 1..@day %>
              <th><%= i %></th>
            <%end%>
            <th colspan="13"> Total </th>
          </tr>
          <tr>
            <th>Day</th>
            <th></th>
              <% @start_date.step(@end_date).each do |l| %>
                <th><%= l.strftime("%a") %></th>
              <%end%>
            <th>A</th>
            <th>P</th>
            <th>W</th>
            <th>H</th>
            <th>EL</th>
            <th>CL</th>
            <th>C.Off</th>
            <th>AL</th>
            <th>OD</th>
            <th>GP</th>
            <th>LWP</th>
            <th>ESIC</th>
            <th>Payble Days</th>
          </tr>
        </thead>
        <tbody>
          <% exist = {} %>
          <% @employees.each do |e| %>
 
            <tr>
              <td><%= full_name(e.employee) %></td>
              <td><%= e.employee.try(:joining_detail).try(:cost_center).try(:name) %></td>
              <% sorted_exists = calculate_attendance(@date, exist, e)%>
              <% sorted_exists.each do |k,v|%>
                <td><%= v %></td>
              <%end%>
              
              <% abs = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "A") %>
              <% pre = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id,"P") %>
              <% wd = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "W") %>
              <% h = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "H") %>
              <% el = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "EL") %>
              <% cl = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "CL") %>
              <% lwp = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "LWP") %>
              <% esic = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "ESIC") %>
              <% coff = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "C.Off") %>
              <% al = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "AL") %>
              <% od = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "OD") %>
              <% gp = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "PG") %>
              <% phalf = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/2") %>
              <% pcl = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/CL") %>
              <% pel = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/EL") %>
              <% pal = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/AL") %>
              <% pcoff = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/C.Off") %>
              <% plwp = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/LWP") %>
              <% pesic = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/ESIC") %>
              <% pod = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/OD") %>

              <td>
                <% ab = abs.count + ( phalf.count)/2.to_f  %>
                <%= ab %>
              </td>
              <td>
                <% ap = pre.count + (phalf.count)/2.to_f + (pcl.count)/2.to_f + (pel.count)/2.to_f + (pal.count)/2.to_f + (pcoff.count)/2.to_f + (plwp.count)/2.to_f + (pesic.count)/2.to_f + (pod.count)/2.to_f %>
                <%= ap %>
              </td>
              <td><%= wd.count %></td>
              <td><%= h.count %></td>
              <td>
                <% ael = el.count + (pel.count)/2.to_f %>
                <%= ael %>
              </td>
              <td>
                <% acl = cl.count + (pcl.count)/2.to_f %>
                <%= acl %>
              </td>
              <td>
                <% acoff = coff.count + (pcoff.count)/2.to_f %>
                <%= acoff %>
              </td>
              <td>
                <% aal = al.count + (pal.count)/2.to_f %>
                <%= aal %>
              </td>
              <td>
                <% aod = od.count + (pod.count)/2.to_f %>
                <%= aod %>
              </td>
              <td><%= gp.count %></td>
              <td>
                <% alwp= lwp.count + (plwp.count)/2.to_f %>
                <%= alwp %>
              </td>
              <td>
                <% aesic = esic.count + (pesic.count)/2.to_f %>
                <%= aesic %>
              </td>
              <td><%= ap + wd.count + h.count + ael + acl + acoff + aal + aod +  gp.count %></td>
            </tr> 
            <% present_day = present_day_count(exist) %>
            <% holiday_in_month = holiday_in_month_count(exist) %>
            <% week_off_day = week_off_day_count(exist) %>

            <% # full_pay_leave = full_pay_leave_count(exist) %>
            <% # half_pay_leave = half_pay_leave_count(exist) %>

            <% # pay_leave = full_pay_leave + half_pay_leave %>

            <% # full_lwp_leave = full_lwp_leave_count(exist) %>
            <% # half_lwp_leave = half_lwp_leave_count(exist) %>

            <% # lwp_leave = full_lwp_leave + half_lwp_leave %>
            <% workingday = [] %>
            <% workingday = create_leave(@date, e) %>
            
            <% payable_day = present_day.to_f + holiday_in_month.to_f + week_off_day.to_f + workingday[2] %>

            <%= hidden_field_tag "attendances[]", e.id %>
            <%= hidden_field e.employee_id, 'employee_id', value: e.employee_id %>
            <%= hidden_field e.employee_id, 'month_name', value: @date.strftime("%B") %>
            <%= hidden_field e.employee_id, 'year', value: @date.strftime("%Y") %>
            <%= hidden_field e.employee_id, 'day_in_month', value: count_day(@day,e.employee_id) %>
            <%= hidden_field e.employee_id, 'year', value: @date.strftime("%Y") %>
            <%= hidden_field e.employee_id, 'present_day', value: present_day %>
            <%= hidden_field e.employee_id, 'total_leave', value: total_leave_count(exist) %>
            <%= hidden_field e.employee_id, 'nonpay_leave', value: workingday[3] %>
            <%= hidden_field e.employee_id, 'pay_leave', value: workingday[2] %>
            <%= hidden_field e.employee_id, 'holiday_in_month', value: holiday_in_month %>
            <%= hidden_field e.employee_id, 'week_off_day', value: week_off_day %>
            <%= hidden_field e.employee_id, 'absent_day', value: absent_day_count(exist) %>
            <%= hidden_field e.employee_id, 'payable_day', value: payable_day %>

            <% exist.clear %>
          <%end%>
        </tbody>
      </table>