<div class="box">
  <div class="box-header">
    <h3 class="box-title">Cost Center Wise Employee Attendance</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
  <%= bootstrap_form_for(:salary, url: { action: 'show_costcenter_wise_attendance'},html: {id: "salary"},remote: true) do |f| %>
  	<div class="row">
        <div class="col-sm-3">
          <label>From </label>
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= text_field :salary,:from,hide_label: true,class: 'request_date form-control'%>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <label>To </label>
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= text_field :salary,:to,hide_label: true,class: 'request_date form-control'%>
            </div>
          </div>
        </div>

      <div class="col-sm-3">
          <label>Status </label>
        <div class="field">
          <%= select :salary,:status, ['Active','Inactive','All'],{label: 'Select Status',include_blank: " Select"}, class: "form-control" %>
         </div>
      </div>

      <div class="col-sm-3">
          <label>Cost Center </label>
        <div class="field">
           <%= select :salary, :costcenter, all_cost_center,{include_blank: 'Select Cost Center'},class: 'form-control' %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3" style="padding-top:20px;">
        <div class="actions">
          <%= f.submit "Create Attendance" ,class: 'btn btn-primary btn-sm', id: "buttonCtc" %>
        </div>
      </div>
    <% end %>

      <div class="ajax-progress"></div>
      <div class="row">
        <div class="col-sm-12">
          <div id="employee_list"></div>    
        </div>
      </div>
    </div><!-- /.box-body -->
  </div><!-- /.box -->


<script type="text/javascript">
  $(function(){
    $('.request_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:+1',
    dateFormat: 'dd-mm-yy' });
  }); 

$("#salary").validate({
    rules: {
      "salary[from]":{
        required: true,
      },
      "salary[to]":{
        required: true,
      },
      "salary[costcenter]":{
        required: true,
      }
       },
    messages: {
      "salary[from]":{
        required: "Please Specify From",
      },
       "salary[to]":{
        required: "Please Select To",
      },
       "salary[costcenter]":{
        required: "Please Select costcenter",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>