<div class="box">
  <div class="box-body">
    <table style="border-collapse: collapse; font-size:9pt;" border=1 width=1200 cellpadding="10">
        <thead>
          <tr>
            <th>ID</th>
            <th>Employee</th>
            <th>Cost Center</th>
            <% for i in @from_date.strftime("%d")..@to_date.strftime("%d") %>
              <th colspan="4"><%= i %></th>
            <%end%>
            <th colspan="9"></th>
          </tr>
          <tr>
            <th colspan="3">Day</th>
              <% @from_date.step(@to_date).each do |l| %>
                <th colspan="4"><%= l.strftime("%a") %></th>
              <%end%>
            <th colspan="9"></th>
          </tr>
          <tr>
            <th colspan="3"></th>
              <%  for i in @from_date.to_date..@to_date.to_date %>
                <th>Present</th>
                <th>In Time</th>
                <th>Out Time</th>
                <th>Working Hrs.</th> 
              <%end%>             
                <th>P</th>
                <th>A</th>
                <th>OD</th>
                <th>H</th>
                <th>WO</th>
                <th>Payable Leave</th>
                <th>Non Payable Leave</th>
                <th>Payable Day</th>
                <th>Non Payable Day</th>            
          </tr>
        </thead>
        <tbody>
          <% exist = {} %>
          <% @employees.each do |e| %>
            <tr>
              <td><%= e.employee.manual_employee_code %></td>
              <td><%= full_name(e.employee) %></td>
              <td><%= e.employee.joining_detail.try(:cost_center).try(:name) %></td>
              <% sorted_exists = calculate_attendance_datewise(@from_date,@to_date, exist, e)%>
              <% sorted_exists.each do |k,v|%>
                <td><%= v %></td>
                <td><%= e.try(:in_time )%></td>
                <td><%= e.try(:out_time )%></td>
                <td><%= e.try(:working_hrs )%></td>
              <%end%>
            
            <% holiday_in_month = holiday_count(exist) %>
            <% week_off_day = weekoff_count(exist) %>
            <% od_day = on_duty_count(exist) %>
            <% present_count = present_count(exist) %>
            <% absent_count = absent_count(exist) %>
            <% payable_leave_count = half_pay_leave_count(exist).to_f + paybale_leave_count(exist).to_f %>
            <% nonpayable_leave_count = non_paybale_leave_count(exist).to_f + half_non_paybale_leave_count(exist).to_f %>

            <% workingday = [] %>
            <% workingday = create_leave_datewise(@from,@to, e) %>

              <td><%= present_count.to_f %></td>
              <td><%= absent_count.to_f %></td>
              <td><%= od_day %></td>
              <td><%= holiday_in_month.to_f %></td>
              <td><%= week_off_day %></td>
              <td><%= payable_leave_count %></td>
              <td><%= nonpayable_leave_count %></td>

                <% if e.employee.try(:joining_detail).try(:employee_category).try(:name) == 'Worker' %>
                  <% payable_day = present_count.to_f + od_day.to_f + workingday[0] + workingday[2] +holiday_in_month.to_f  %>
                <% else %>
                  <% payable_day = present_count.to_f + od_day.to_f + workingday[0] + workingday[2] + holiday_in_month.to_f + week_off_day.to_f %>
                <% end %>

                <% if e.employee.try(:joining_detail).try(:employee_category).try(:name) == 'Worker' %>
                  <% nonpayable_day = absent_count.to_f + week_off_day.to_f + workingday[1] + workingday[3] %>
                <% else %>
                  <% nonpayable_day = absent_count.to_f + workingday[1] + workingday[3] %>
                <% end %>

              <td><%= payable_day %></td>
              <td><%= nonpayable_day %></td>
            </tr>          
            <% exist.clear %>

          <%end%>
        </tbody>
      </table>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true,
        "scrollY": 500
    } );
} );
</script>