<div class="box">
  <div class="box-body">
      <table id="example6" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr><td colspan="12"><center>Attendance</center></td></tr>
          <tr>
            <th>Sr No.</th>
            <th>ID</th>
            <th>Employee Name</th>
            <th>P</th>
            <th>A</th>
            <th>WO</th>
            <th>H</th>
            <th>OD</th>
            <th>Payable Leave</th>
            <th>Non Payable Leave</th>
            <th>Payable Days</th>
            <th>NonPayable Days</th>
          </tr>
        </thead>
        <tbody>
          <% i = 0 %>
          <% @employee_attendances.each do |e| %>
            <tr>
              <td><%= i = i + 1 %></td>
               <td><%= e.employee.manual_employee_code %></td>
               <td><%= full_name(e.employee) %></td

                <% present = EmployeeAttendance.where( "DATE_FORMAT(day,'%m/%Y') = ? and employee_id = ?", @date.strftime('%m/%Y'), e.employee_id).where( "present = ? OR present = ? OR present = ?","P","PO","ACF") %>
                <% absent = EmployeeAttendance.where( "DATE_FORMAT(day,'%m/%Y') = ? and employee_id = ?", @date.strftime('%m/%Y'), e.employee_id).where( "present = ?","A") %>
                <% half_day = EmployeeAttendance.where( "DATE_FORMAT(day,'%m/%Y') = ? and employee_id = ?", @date.strftime('%m/%Y'), e.employee_id).where( "present = ?","HDL") %>
                <% half_day_count = (half_day.count)/2.to_f %>

                <% week_off = EmployeeAttendance.where( "DATE_FORMAT(day,'%m/%Y') = ? and employee_id = ?", @date.strftime('%m/%Y'), e.employee_id).where( "present = ? or present = ?","WO","WOP") %>
                <% holiday = EmployeeAttendance.where( "DATE_FORMAT(day,'%m/%Y') = ? and employee_id = ?", @date.strftime('%m/%Y'), e.employee_id).where( "present = ? or present = ?","H","HP") %>
                <% full_on_duty = EmployeeAttendance.where( "DATE_FORMAT(day,'%m/%Y') = ? and employee_id = ?", @date.strftime('%m/%Y'), e.employee_id).where( "present = ?","OD") %>
                <% half_present_on_duty = EmployeeAttendance.where( "DATE_FORMAT(day,'%m/%Y') = ? and employee_id = ?", @date.strftime('%m/%Y'), e.employee_id).where( "present = ? OR present = ?","P/OD","OD/P") %>
                <% half_present_on_duty_count = (half_present_on_duty.count)/2.to_f %>
                <% half_absent_on_duty = EmployeeAttendance.where( "DATE_FORMAT(day,'%m/%Y') = ? and employee_id = ?", @date.strftime('%m/%Y'), e.employee_id).where( "present = ? OR present = ?","A/OD","OD/A") %>
                <% half_absent_on_duty_count = (half_absent_on_duty.count)/2.to_f %>

                <% full_payable_leave = EmployeeAttendance.where( "DATE_FORMAT(day,'%m/%Y') = ? and employee_id = ?", @date.strftime('%m/%Y'), e.employee_id).where( "present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? ","EL","CL","SL","PL","ML","AL","L","C.Off") %>

                <% half_present_payable_leave = EmployeeAttendance.where( "DATE_FORMAT(day,'%m/%Y') = ? and employee_id = ?", @date.strftime('%m/%Y'), e.employee_id).where( "present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ?","EL/P","CL/P","SL/P","PL/P","ML/P","AL/P","L/P","C.Off/P","P/EL","P/CL","P/SL","P/PL","P/ML","P/AL","P/L","P/C.Off")%>
                <% half_present_payable_leave_count = (half_present_payable_leave.count)/2.to_f %>

                <% half_absent_payable_leave = EmployeeAttendance.where( "DATE_FORMAT(day,'%m/%Y') = ? and employee_id = ?", @date.strftime('%m/%Y'), e.employee_id).where( "present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ? OR present = ?","EL/A","CL/A","SL/A","PL/A","ML/A","AL/A","L/A","C.Off/A","A/EL","A/CL","A/SL","A/PL","A/ML","A/AL","A/L","A/C.Off")%>
                <% half_absent_payable_leave_count = (half_absent_payable_leave.count)/2.to_f %>

        <!-- #non_payable -->
                <% full_nonpayable_leave = EmployeeAttendance.where( "DATE_FORMAT(day,'%m/%Y') = ? and employee_id = ?", @date.strftime('%m/%Y'), e.employee_id).where( "present = ? OR present = ?","LWP","ESIC") %>
                <% half_present_nonpayable_leave = EmployeeAttendance.where( "DATE_FORMAT(day,'%m/%Y') = ? and employee_id = ?", @date.strftime('%m/%Y'), e.employee_id).where( "present = ? OR present = ? OR present = ? OR present = ?","P/LWP","P/ESIC","LWP/P","ESIC/P") %>
                <% half_present_nonpayable_leave_count = (half_present_nonpayable_leave.count)/2.to_f %>

                <% half_absent_nonpayable_leave = EmployeeAttendance.where( "DATE_FORMAT(day,'%m/%Y') = ? and employee_id = ?", @date.strftime('%m/%Y'), e.employee_id).where( "present = ? OR present = ? OR present = ? OR present = ?","A/LWP","A/ESIC","LWP/A","ESIC/A") %>
                <% half_absent_nonpayable_leave_count = (half_absent_nonpayable_leave.count)/2.to_f %>

              <td><%= total_present = present.count.to_f + half_present_payable_leave_count.to_f + half_present_nonpayable_leave_count.to_f + half_present_on_duty_count.to_f + half_day_count.to_f %></td>

              <td><%= total_absent = absent.count.to_f + half_absent_payable_leave_count.to_f + half_absent_nonpayable_leave_count.to_f + half_absent_on_duty_count.to_f + half_day_count.to_f %></td>

              <td><%= total_week_off = week_off.count %></td>

              <td><%= total_holiday = holiday.count %></td>

              <td><%= total_on_duty = full_on_duty.count.to_f + half_present_on_duty_count.to_f + half_absent_on_duty_count.to_f %></td>

              <td><%= total_payable_leave =  full_payable_leave.count.to_f + half_present_payable_leave_count.to_f + half_absent_payable_leave_count.to_f %></td>

              <td><%= total_nonpayable_leave =  full_nonpayable_leave.count.to_f + half_present_nonpayable_leave_count.to_f + half_absent_nonpayable_leave_count.to_f %></td>

              <td><%= total_payable_day = total_present.to_f + total_week_off.to_f + total_holiday.to_f + total_on_duty.to_f + total_payable_leave.to_f %></td>

              <td><%= total_nonpayable_day = total_absent.to_f + total_nonpayable_leave.to_f %></td>
            </tr> 
          <%end%>
        </tbody>
      </table>

      <%= link_to " Excel Report ",display_total_employee_attendances_path(:employee => {:month => params[:employee][:month],:year => params[:employee][:year],:company_id => params[:employee][:company_id],:company_location_id => params[:employee][:company_location_id],:department_id => params[:employee][:department_id],:status => params[:employee][:status]}, format: "xls"), class: "btn btn-xl btn-success fa fa-print" %>
      
       <%= link_to " Print Report ",display_total_employee_attendances_path(:employee => {:month => params[:employee][:month],:year => params[:employee][:year],:company_id => params[:employee][:company_id],:company_location_id => params[:employee][:company_location_id],:department_id => params[:employee][:department_id],:status => params[:employee][:status]}, format: "pdf"), class: "btn btn-xl btn-info fa fa-print", :target => "_blank" %>
  </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>