<table style="border-collapse: collapse; font-size:9pt;" border=1 width=1200 cellpadding="10">
        <thead> 
          
          <tr>
            <th>ID</th>
            <th>Employee Name</th>
            <% for i in @from_date.strftime("%d")..@to_date.strftime("%d") %>
              <th><%= i %></th>
            <%end%>
           <th colspan="13"> Total </th>
          </tr>
          <tr>
            <th colspan="2">Day</th>
              <% @from_date.step(@to_date).each do |l| %>
                <th><%= l.strftime("%a") %></th>
              <%end%>
            
              <th>P</th>
              <th>W</th>
              <th>H</th>
              <th>EL</th>
              <th>CL</th>
              <th>C.Off</th>
              <th>OD</th>
               <th>GP</th>
               <th>A</th>
              <th>LWP</th>
              <th>ESIC</th>
              <th>Payable Day</th>
              <!-- <th>Non Payable Day</th> -->
          </tr>
        </thead>
        <tbody>
           <% exist = {} %>
          <% @employee_attendances.each do |e| %>
            <tr>
            <td><%= e.employee.try(:manual_employee_code) %></td>
              <td><%= full_name(e.employee) %></td>
              <% sorted_exists =  calculate_attendance_datewise(@from_date,@to_date, exist, e) %>
              <% sorted_exists.each do |k,v|%>
                <td><%= v %></td>
              <% end %>
            
            <% holiday_in_month = holiday_in_month_count(exist) %>
            <% week_off_day = week_off_day_count(exist) %>
            <% od_day = od_day_count(exist) %>
            <% present_count = present_count(exist) %>
            <% absent_count = absent_count(exist) %>
            <% el_leave_count = el_leave_count(exist) %>
            <% cl_leave_count = cl_leave_count(exist) %>
            <% coff_leave_count = coff_leave_count(exist) %>
            <% lwp_leave_count = lwp_leave_count(exist) %>
            <% esic_leave_count = esic_leave_count(exist) %>
            <% gatepass_count = gatepass_count(exist) %>

            <% if gatepass_count <=2 %>
              <% gatepass_value = gatepass_count %>
            <% else %>
              <% gatepass_nonpay = gatepass_count - 2 %>
              <% gatepas_value = gatepass_nonpay.to_f/2 %>
              <% gatepass_value = gatepass_count.to_f - gatepass_nonpay.to_f %>
            <% end %>

              <td><%= present_count.to_f %></td>
              <td><%= week_off_day %></td>
              <td><%= holiday_in_month %></td>
              <td><%= el_leave_count %></td>
              <td><%= cl_leave_count %></td>
              <td><%= coff_leave_count %></td>
              <td><%= od_day %></td>
              <td><%= gatepass_count %></td>

              <td><%= absent_count.to_f + gatepas_value.to_f %></td> 
              <td><%= lwp_leave_count %></td>
              <td><%= esic_leave_count %></td>
              
                <% if e.employee.try(:joining_detail).try(:employee_category).try(:name) == 'Worker' %>
                  <% payable_day = present_count.to_f  + od_day.to_f + holiday_in_month.to_f + cl_leave_count.to_f + el_leave_count.to_f + gatepas_value.to_f + gatepass_value.to_f + coff_leave_count.to_f %>
                <% else %>
                  <% payable_day = present_count.to_f  + od_day.to_f + holiday_in_month.to_f + week_off_day.to_f + cl_leave_count.to_f + el_leave_count.to_f + gatepas_value.to_f + gatepass_value.to_f + coff_leave_count.to_f %>
                <% end %>

                <% if e.employee.try(:joining_detail).try(:employee_category).try(:name) == 'Worker' %>
                  <% nonpayable_day = absent_count.to_f+ gatepas_value.to_f + lwp_leave_count.to_f + esic_leave_count.to_f + week_off_day.to_f %>
                <% else %>
                  <% nonpayable_day = absent_count.to_f+ gatepas_value.to_f + lwp_leave_count.to_f + esic_leave_count.to_f %>
                <% end %>

              <td><%= payable_day %></td>
              <!-- <td><= nonpayable_day %></td> -->
            </tr>           
            <% exist.clear %>

          <%end%>
        </tbody>
      </table>