      <table id="example5" class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>ID</th>
            <th>Employee</th>
            <% for i in 1..@day %>
              <th><%= i %></th>
            <%end%>
            <th colspan="14"> Total </th>
          </tr>
          <tr>
            <th colspan="2">Day</th>
              <% @start_date.step(@end_date).each do |l| %>
                <th><%= l.strftime("%a") %></th>
              <%end%>
            <th>P</th>
            <th>A</th>
            <th>W</th>
            <th>H</th>
            <th>EL</th>
            <th>CL</th>
            <th>C.Off</th>
            <th>AL</th>
            <th>OD</th>
            <th>LWP</th>
            <th>ESIC</th>
            <th>Payble Days</th>
            <th>GP</th>
          </tr>
        </thead>
        <tbody>
          <% exist = {} %>
          <% @employee_attendances.each do |e| %>

            <tr>
              <td><%= e.employee.try(:manual_employee_code) %></td>
              <td><%= full_name(e.employee) %></td>
              <% sorted_exists = calculate_attendance(@date, exist, e)%>
              <% sorted_exists.each do |k,v|%>
                <td><%= v %></td>
              <%end%>
           
              <% abs = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "A") %>
              <% pre = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id,"P") %>
              <% wd = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "W") %>
              <% h = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "H") %>
              <% el = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "EL") %>
              <% cl = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "CL") %>
              <% lwp = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "LWP") %>
              <% esic = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "ESIC") %>
              <% coff = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "C.Off") %>
              <% al = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "AL") %>
              <% od = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "OD") %>
              <% gp = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "PG") %>
              <% phalf = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/2") %>
              <% pcl = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/CL") %>
              <% pel = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/EL") %>
              <% pal = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/AL") %>
              <% pcoff = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/C.Off") %>
              <% plwp = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/LWP") %>
              <% pesic = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/ESIC") %>
              <% pod = EmployeeAttendance.where( "strftime('%m/%Y', day) = ? and employee_id = ? and present = ?", @date.strftime('%m/%Y'), e.employee_id, "P/OD") %>

              <% a = gp.count %>

              <td>
                <% if a.to_f <= 2 %>
                  <% ap = pre.count + (phalf.count)/2.to_f + (pcl.count)/2.to_f + (pel.count)/2.to_f + (pal.count)/2.to_f + (pcoff.count)/2.to_f + (plwp.count)/2.to_f + (pesic.count)/2.to_f + (pod.count)/2.to_f + a.to_f %>
                  <%= ap %>
                <% else %>
                  <% @a = a.to_f - 2 %>
                  <% @b = @a.to_f/2 %>
                    <% ap = pre.count + (phalf.count)/2.to_f + (pcl.count)/2.to_f + (pel.count)/2.to_f + (pal.count)/2.to_f + (pcoff.count)/2.to_f + (plwp.count)/2.to_f + (pesic.count)/2.to_f + (pod.count)/2.to_f + @b.to_f + 2 %>
                    <%= ap %>
                  <% end %>
              </td>

              <td>
                <% if a.to_f <= 2 %>
                  <% ab = abs.count + (phalf.count)/2.to_f  %>
                  <%= ab %>
                <% else %>
                  <% @a = a.to_f - 2 %>
                  <% @b = @a.to_f/2 %>
                  <% ab = abs.count + (phalf.count)/2.to_f + @b.to_f %>
                  <%= ab %>
                <% end %>
              </td>

              <td><%= wd.count %></td>
              <td><%= h.count %></td>
              <td>
                <% ael = el.count + (pel.count)/2.to_f %>
                <%= ael %>
              </td>
              <td>
                <% acl = cl.count + (pcl.count)/2.to_f %>
                <%= acl %>
              </td>
              <td>
                <% acoff = coff.count + (pcoff.count)/2.to_f %>
                <%= acoff %>
              </td>
              <td>
                <% aal = al.count + (pal.count)/2.to_f %>
                <%= aal %>
              </td>
              <td>
                <% aod = od.count + (pod.count)/2.to_f %>
                <%= aod %>
              </td>
              <td>
                <% alwp= lwp.count + (plwp.count)/2.to_f %>
                <%= alwp %>
              </td>
              <td>
                <% aesic = esic.count + (pesic.count)/2.to_f %>
                <%= aesic %>
              </td>
              <td>
                <% if e.employee.try(:joining_detail).try(:employee_category).try(:name) == 'Worker' %>
                  <%= ap + h.count + ael + acl + acoff + aal + aod  %>
                <% else %>
                  <%= ap + wd.count + h.count + ael + acl + acoff + aal + aod  %>
                <% end %>
              </td>
              <td><%= gp.count %></td>
            </tr>
            
            <% exist.clear %>
          <%end%>
        </tbody>
      </table>