<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Attendance</h3>
    <div class="pull-right">
      <%= link_to "Add Employee Attendance", new_employee_attendance_path, class: 'btn btn-primary' %>
    </div>
  </div><!-- /.box-header -->

  <div class="box-body">
    <%= bootstrap_form_for :temp, url: {action: "create_attendance", date: @date} do |f| %>
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th><input type="checkbox" id="selectAll" value="selectAll"></th>
            <th>ID</th>
            <th>Employee Name</th>
            <% for i in 1..@day %>
              <th><%= i %></th>
            <%end%>
          </tr>
        </thead>
        <tbody>
          <% exist = {} %>
          <% @employees.each do |e| %>
            <tr>
              <td><%= check_box_tag "employees[]", e.employee_id unless e.is_confirm %></td>
              <td><%= e.employee.manual_employee_code %></td>
              <td><%= full_name(e.employee) %></td>
              <% sorted_exists = calculate_attendance(@date, exist, e)%>
              <% sorted_exists.each do |k,v|%>
                <td><%= v %></td>
              <%end%>
            </tr>

            <% exist.clear %>
          <%end%>
        </tbody>
      </table>
      <%= f.submit "Confirm Workingdays", class: "btn btn-sm btn-primary" %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#selectAll').click(function() {
    if (this.checked) {
      $(':checkbox').each(function() {
        this.checked = true;
      });
    }
    else {
      $(':checkbox').each(function() {
        this.checked = false;
      });
    }
  });
</script>