<style>
th {
    text-align: left;
}
tr {
    page-break-inside: avoid;
}
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak{ page-break-inside: avoid;
  /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
}
</style>
<div>
      <table style="border-collapse: collapse; font-size:9pt;" border=1 width=1200 cellpadding="10">
        <thead>
          <tr><td colspan="7"><center> 
              <% if current_user.employee.company_location.company.company_logo == nil %>
              <% else %>
                <center> <%= wicked_pdf_image_tag current_user.employee.company_location.company.company_logo.url, :size => "200x40" %></center>
              <%end%> 
                <strong><%=current_user.employee.company_location.company.try(:description)%></strong> <br> <%= current_user.employee.company_location.company.try(:address)%></center>
            </td>
          </tr>
          <th colspan="7"><center> Date : <%= Time.now.to_date %></center></th>
          <tr>
            <th>Sr.No.</th>
            <th>Emp. No.</th>
            <th>Employee Name</th>
            <th>In Time</th>
            <th>Remark</th>
            <th>Out Time</th>
            <th>Remark</th>
          </tr>
        </thead>
        <tbody>
          <% i = 0 %>
          <% @employees.each do |e| %>
            <tr>
              <td><%= i = i + 1 %></td>
              <td><%= e.employee.manual_employee_code %></td>
              <td><%= full_name(e.employee) %></td>
              <td><%= e.try(:in_time) %></td>
              <td><%= %></td>
              <td><%= e.try(:out_time) %></td>
              <td></td>
            </tr>
          <% end %> <!-- do -->
        </tbody>
      </table>      
    </div>