<style>
th {
    text-align: left;
}
tr {
    page-break-inside: avoid;
}
div.alwaysbreak { page-break-before: always; }
div.nobreak:before { clear:both; }
div.nobreak{ page-break-inside: avoid;
  /* http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21 */
}
</style>
<div>
      <table style="border-collapse: collapse; font-size:9pt;" border=1 width=1200 cellpadding="10">
        <thead>
          <tr><td colspan="9"><center> 
              <% if current_user.employee.company_location.company.company_logo == nil %>
              <% else %>
                <center> <%= wicked_pdf_image_tag current_user.employee.company_location.company.company_logo.url, :size => "200x40" %></center>
              <%end%> 
                <strong><%=current_user.employee.company_location.company.try(:description)%></strong> <br> <%= current_user.employee.company_location.company.try(:address)%></center>
            </td>
          </tr>
          
          <tr>
            <th colspan="9"><center> Date : <%= params[:from] %></center></th>
          </tr>
          <tr>
            <th>Sr.No.</th>
            <th>Emp. No.</th>
            <th>Employee Name</th>
            <th>In Time</th>
            <th colspan="2">Remark</th>
            <th>Out Time</th>
            <th colspan="2">Remark</th>
          </tr>
        </thead>
        <tbody>
         <% i = 0 %>
          <th colspan="9"><center> CHIEF OPERATING OFFICER </center></th>
          <% @chief_operating_officer_from.try(:each) do |e| %>
            <%# date = @to %> 
            <%# emp = e.employee_id %>
            <% e1 = @chief_operating_officer_to = EmployeeAttendance.where(day: @to, employee_id: e.employee_id) %>
             <tr>
              <td><%= i = i + 1 %></td>
              <td><%= e.employee.manual_employee_code %></td>
              <td><%= full_name(e.employee) %></td>
              <td><%= e.try(:in_time) %></td>
              <td colspan="2"><%= %></td>
              <td><%= e1.last.try(:out_time) %></td>
              <td colspan="2"><%= %></td>    
            </tr>
          <% end %>  <!-- do -->
          <% j = 1 %>
          <th colspan="9"><center> HEAD </center></th>
          <% @head_officer_from.try(:each) do |e| %>
            <% out_t = @head_officer_to = EmployeeAttendance.where(day: @to, employee_id: e.employee_id) %>
            <tr>
              <td><%= j = j + 1 %></td>
              <td><%= e.employee.manual_employee_code %></td>
              <td><%= full_name(e.employee) %></td>
              <td><%= e.try(:in_time) %></td>
              <td colspan="2"><%= %></td>
              <td><%= out_t.last.try(:out_time) %></td>
              <td colspan="2"><%= %></td>
            </tr>
          <% end %> <!-- do -->
        </tbody>
      </table><br><br><br><br>
      <table>
       <tr>
          <td>
        HEAD(IR & ADMIN.)</td>
        </tr>
        <tr>
          <td><br><br>
            CC: 1.COO<br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                2.HEAD (HR & ADMIN.)
          </td>
        </tr>
      </table>
    </div>
  