<table id="example6" class="table table-bordered table-hover table-condensed">
           <tr>
            <th colspan="7"><center> Date : <%= @from %></center></th>
          </tr>
          <tr>
            <th>Sr.No.</th>
            <th>Emp. No.</th>
            <th>Employee Name</th>
            <th>In Time</th>
            <th>Remark</th>
            <th>Out Time</th>
            <th>Remark</th>
          </tr>
        </thead>
        <tbody>
          <% @employee_attendances.try(:each) do |e| %>
          <% emp_out = EmployeeAttendance.where(employee_id: e.employee_id,day: @to.to_date).take %>
             <tr>
              <td><%= e.employee.try(:sr_no) %></td>
              <td><%= e.employee.manual_employee_code %></td>
              <td><%= full_name(e.employee) %></td>
              <td><%= e.try(:in_time) %></td>
              <td><%= %></td>
              <td><%= emp_out.try(:out_time) %></td>
              <td><%= %></td> 
            </tr>
          <% end %> <!-- do -->
        </tbody>
      </table>
      <script type="text/javascript">
$(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>