<div class="box">
  <div class="box-header">
    <h5><center>Attendance <%= @from.to_date%> to <%= @to.to_date%></center></h5>
 <div class="box-body">
<%= bootstrap_form_for :temp, url: {action: "create_attendance_datewise", from: @from.to_date, to: @to.to_date} do |f| %>
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th><input type="checkbox" id="selectAll" value="selectAll"></th>
          <th>ID</th>
          <% for i in @from.to_date..@to.to_date %>
            <th><%= i.strftime("%d") %></th>
          <%end%>
        </tr>
      </thead>
      <tbody>
        <% exist = {} %>
        <% @employee_attendances.each do |e| %>
          <tr>
            <td><%= check_box_tag "employees[]", e.employee_id unless e.is_confirm %></td>
            <td><%= e.employee.manual_employee_code %></td>
            <% sorted_exists = calculate_attendance_datewise(@from,@to, exist, e)%>
            <% sorted_exists.each do |k,v|%>
              <td><%= v %></td>
            <%end%>
          </tr>
          <% absent_count = absent_count(exist) %>
          <% present_count = present_count(exist) %>
          <% on_duty_count = on_duty_count(exist) %>
          <% holiday_count = holiday_count(exist) %>
          <% weekoff_count = weekoff_count(exist) %>
          <% workingday = [] %>
          <% workingday = create_leave_datewise(@from,@to, e) %>
          <%= hidden_field_tag "attendances[]", e.id %>
          <%= hidden_field e.employee_id, 'employee_id', value: e.employee_id %>
          <%= hidden_field e.employee_id, 'month_name', value: @to.to_date.strftime("%B") %>
          <%= hidden_field e.employee_id, 'year', value: @to.to_date.strftime("%Y") %>
          <%= hidden_field e.employee_id, 'from', value: @from.to_date %>
          <%= hidden_field e.employee_id, 'to', value: @to.to_date %>
          <%= hidden_field e.employee_id, 'day_in_month', value: count_day(@day,e.employee_id) %>
          <%= hidden_field e.employee_id, 'present_day', value: present_count + workingday[2] %>
          <%= hidden_field e.employee_id, 'od_day', value: on_duty_count %>
          <%= hidden_field e.employee_id, 'total_leave', value: workingday[0] + workingday[1] %>
          <%= hidden_field e.employee_id, 'nonpay_leave', value: workingday[1] %>
          <%= hidden_field e.employee_id, 'pay_leave', value: workingday[0] %>
          <%= hidden_field e.employee_id, 'holiday_in_month', value: holiday_count %>
          <%= hidden_field e.employee_id, 'week_off_day', value: weekoff_count %>
          <%= hidden_field e.employee_id, 'absent_day', value: absent_count.to_f + workingday[3] %>

          <% if e.employee.try(:joining_detail).try(:employee_category).try(:name) == 'Worker' %>
            <%= hidden_field e.employee_id, 'payable_day', value: present_count.to_f + holiday_count.to_f + workingday[0] + workingday[2] + on_duty_count.to_f + holiday_count.to_f %>
          <% else %>
            <%= hidden_field e.employee_id, 'payable_day', value: present_count.to_f + holiday_count.to_f + weekoff_count.to_f + workingday[0] + workingday[2] + on_duty_count.to_f + holiday_count.to_f %>
          <% end %>  

          <% if e.employee.try(:joining_detail).try(:employee_category).try(:name) == 'Worker' %>
            <%= hidden_field e.employee_id, 'nonpayable_day', value: absent_count.to_f+ workingday[1] + workingday[3] + weekoff_count.to_f  %>
          <% else %>
            <%= hidden_field e.employee_id, 'nonpayable_day', value: absent_count.to_f+ workingday[1] + workingday[3]  %>
          <% end %>
        <% exist.clear %>
        <%end%>
      </tbody>
    </table>
    <%= f.submit "Confirm attendance", class: "btn btn-sm btn-primary" %> | 
    <%= link_to 'Back', datewise_attendance_employee_attendances_path,class: 'btn btn-default btn-xs' %>
  <% end %>
  </div>
  </div>
</div>
<script type="text/javascript">
  $('#selectAll').click(function() {
    if (this.checked) {
      $(':checkbox').each(function() {
        this.checked = true;
      });
    }
    else {
      $(':checkbox').each(function() {
        this.checked = false;
      });
    }
  });
</script>