<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @employee_attendance.employee %>
</p>

<p>
  <strong>Day:</strong>
  <%= @employee_attendance.day %>
</p>

<p>
  <strong>Present:</strong>
  <%= @employee_attendance.present %>
</p>


<%= link_to 'Edit', edit_employee_attendance_path(@employee_attendance) %> |
<%= link_to 'Back', employee_attendances_path %>
