<!--SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Leave Request</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->

  <div class="box-body">
    <%= bootstrap_form_for(@employee_leav_request,html: {id: 'employee_leav_request'}) do |f| %>
     <%= f.hidden_field :employee_id, value: current_user.employee_id %>
      <div class="row">
      <div class="col-sm-1"></div>
        <div class="col-sm-9">
          <div class="field">
          <table class="table table-bordered table-hover">
           <thead>
            <tr>
              <th>Leave Type</th>
              <th>No.of Leaves Available</th>
            </tr>
           </thead>
           <tr><th></th><td></td></tr>
          <% @total_leaves.each do |l| %>
          <tr>
          <th><%= l.leav_category.name %></th>
          <td><%= l.no_of_leave %></td>
          </tr>
          <% end %>
          </table>
          </div>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-sm-3">
          <div class="field">
            <%= f.select :leav_category_id, all_leav_category %>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="field">
           <%= f.select :leave_type, ['Full Day','Half Day'] %>
          </div>
        </div>

        <div class="col-sm-4">
        <label>Date Range </label>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= f.text_field :date_range, hide_label: true,class: "pull-right active",id: "reservationtime" %>
            </div><!-- /.input group -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9">
          <div class="field">
            <%= f.text_area :reason %>
          </div>
        </div>
        </div>
      
      <div class="row">
         <div class="col-sm-3">
          <div class="actions">
            <%= f.submit :class => class_name, data: { disable_with: data_info } %>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
</div><!-- /.box