<div class="row">
<div class="col-sm-6">
        <div class="field">
         <table class="table table-bordered table-hover table-condensed'">
           <thead>
           <tr>
           <th colspan="2"><center> Leave Process </center></th>
           </tr>
           <tr>
           <th> Employee </th>
           <td><%= @employee.manual_employee_code %> - <%= full_name(@employee) %></td>
           </tr>
           <tr>
              <th>Manager 1 </th>
              <td><%= @employee.manager.try(:manual_employee_code) %> - <%= full_name(@employee.try(:manager)) %></td>
            </tr>
            <tr>
              <th>Manager 2 </th>
              <td><%= @employee.manager_2.try(:manual_employee_code) %> - <%= full_name(@employee.try(:manager_2)) %></td>
            </tr>
           </thead>
         </table>
        </div>
      </div>
 
 <div class="col-sm-6">
  <table class="table table-bordered table-hover table-condensed">
    <thead>
    <tr><th colspan="2"><center>Leave Balance</center></th></tr>
      <tr>
        <th>Leave Type</th>
        <th>Leave Balance</th>
      </tr>
    </thead>

    <tbody>
      <% @employee_leav_balances.where(is_active: true).each do |b| %>
        <tr>
          <td><%= b.leav_category.try(:code) %></td>
          <td><%= b.no_of_leave %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
 </div>
 </div>