
<div class="box box-default">
  <div class="box-body">
    <%= bootstrap_form_for(@employee_leav_request,html: {id: "employee_transfer"}) do |f| %>
     <%= f.hidden_field :employee_id, value: @employee.id %>
     <%= f.hidden_field :leav_category_id, value: @leave_id %>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
          <%= f.select :leave_type, ['Full Day','Half Day','Full/Half'],{label:"Leave Type",include_blank: "Select Leave Type"},{onchange:"var a={leave_type:$(this).val()}; $.get('/employee_leav_requests/select_checkbox',a,function(response){});",class: 'form-control'} %>
          </div>
        </div>

        <div id="checkbox"></div>

        <div class="col-sm-3">
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= f.text_field :start_date, label: 'From Date', class: 'request_from_date'%>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3">
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <%= f.text_field :end_date, label: 'To Date', class: 'request_from_date' %>
            </div>
          </div>
        </div>

          <div id="checkbox1"></div>

        <div class="col-sm-5">
          <div class="form-group required">
            <%= f.text_field :reason %>
          </div>
        </div>
      </div>
     <br>
     
      <div class="row">
         <div class="col-sm-6">
          <div class="actions">
            <%= f.submit'Create Leave Request', :class => class_name, data: { disable_with: data_info } %>
            <%= link_to ' Back', employee_leav_requests_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /.box-body -->
<br>

<script type="text/javascript">
  // $(function(){
  //   $('#reservationtime').on('click', function() {
    
  //   });

  // });

  $(function(){
    $('.request_from_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+5',
    dateFormat: 'dd-mm-yy' });
 
  
  $('#employee_leav_request_start_date').on('change', function() {
    if ($('#employee_leav_request_leave_type').val() == "Half Day"){
      $('#employee_leav_request_end_date').val($('#employee_leav_request_start_date').val());
    }
    else{
    }
    
  });

  $('#employee_leav_request_end_date').on('change', function() {
    if ($('#employee_leav_request_leave_type').val() == "Half Day"){
      $('#employee_leav_request_end_date').val($('#employee_leav_request_start_date').val());

    }
    else{
    }
  });

  $('#employee_leav_request_leave_type').on('change', function() {
    if ($('#employee_leav_request_leave_type').val() == "Half Day"){

      $("#employee_leav_request_end_date").attr('readonly', true);
      $("#employee_leav_request_end_date").val('<%= @start_date %>');
      
    }
    else{
      $("#employee_leav_request_end_date").attr('readonly', false);
      $("#employee_leav_request_end_date").val('');
    }
  });

  $('#employee_leav_request_leave_type').on('change', function() {
    if ($('#employee_leav_request_leave_type').val() == "Full Day"){
   
      $("#checkbox1").hide();
      $("#checkbox").hide();
    }
    else{
      $("#checkbox1").show();
      $("#checkbox").show();
    }
  });


$("#employee_transfer").validate({
    rules: {
       "employee_transfer[leave_type]":{
        required: true,
      },
      "employee_transfer[start_date]":{
        required: true,
      }
    },
    messages: {
       "employee_transfer[leave_type]":{
        required: "Please select Type",
      },
      "employee_transfer[start_date]":{
        required: "Please specify Date",
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });

 }); 
</script>
