<div class="box">
  <div class="box-header">
    <h3 class="box-title">Employee Leave Request</h3>
    <div class="pull-right">

    </div>
    
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed'">
    <thead>
      <tr>
        <th>Leave Category</th>
        <th>Leave Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Action</th>
      </tr>
    </thead>

  <tbody>
    <% @employee_leav_requests.each do |employee_leav_request| %>
      <tr>
        <td><%= employee_leav_request.leav_category.name %></td>
        <td><%= employee_leav_request.leave_type %></td>
        <td><%= employee_leav_request.start_date %></td>
        <td><%= employee_leav_request.end_date %></td>
         <td>
            <%= link_to 'Approved', leav_approveds_path(employee_leav_request), method: :post, data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-info fa fa-trash' %>
            <%= link_to 'Reject', leav_rejecteds_path(employee_leav_request), method: :post, data: { confirm: 'Are you sure?' },class: 'btn btn-sm btn-danger fa fa-trash' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>