<div class="box">
  <div class="box-header">
    <h6 class="box-title">Employee Leave Request - 
    <%= full_name(@employee_leav_requests.try(:first).try(:employee)) %></h6>
  </div><!-- /.box-header -->
  <div class="box-body">
   <div class="row">
      <div class="col-sm-6">
        <div class="field">
         <table class="table table-bordered table-hover table-condensed'">
           <thead>
           <tr>
           <th colspan="2"><center> Leave Process </center></th>
           </tr>
           <tr>
           <th> Employee </th>
           <td><%= @employee.manual_employee_code %> - <%= @employee.first_name %> <%= @employee.middle_name %> <%=@employee.last_name %></td>
           </tr>
           <tr>
              <th>Manager 1 </th>
              <td><%= @employee.manager.try(:manual_employee_code) %> - <%= @employee.manager.try(:first_name) %> <%= @employee.manager.try(:middle_name) %> <%= @employee.manager.try(:last_name) %></td>
            </tr>
            <tr>
              <th>Manager 2 </th>
              <td><%= @employee.manager_2.try(:manual_employee_code) %> - <%= @employee.manager_2.try(:first_name) %> <%= @employee.manager_2.try(:middle_name) %> <%= @employee.manager_2.try(:last_name) %></td>
            </tr>
           </thead>
         </table>
        </div>
      </div>
    <div class="col-sm-6">
    <div class="field">
  <table class="table table-bordered table-hover table-condensed'">
           <thead>
           <tr><th colspan="2"><center> Leave Balance </center></th></tr>
            <tr>
              <th>Leave Type</th>
              <th>Leave Available</th>
            </tr>
           </thead>
          <% @total_leaves.where(is_active: true).each do |l| %>
            <tr>
              <td><%= l.leav_category.try(:name) %></td>
              <td><%= l.no_of_leave %></td>
            </tr>
          <% end %>
          </table>
          </div>
          </div>
    </div>

  <div id="leave_request">
    <%= render 'leave_request_list' %>
  </div>

<%= link_to 'Back', employee_list_employee_leav_requests_path,class: 'btn btn-sm btn-default fa fa-arrow-left' %>
</div>
</div>