<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Leave Request Report</h3>
  </div><!-- /.box-header -->
 <div class="box-body">
 <%= bootstrap_form_for(:employee_leav_request, url: { action: 'status_wise_request'},html: {id: 'employee_leav_request'},remote:true) do |f| %>
 		<div class="row">
 			<div class="col-sm-3">
        <div class="form-group required">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :start_date, label: 'From Date', class: 'request_from_date'%>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group required">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :end_date,label: 'To Date', class: 'request_from_date' %>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="form-group required">
        <div class="input-group">
          <%= f.select :company_id, all_company,{include_blank: "Select Company"},{onchange:"var a={id:$(this).val(), form : 'employee'}; $.get('/employees/collect_company_location',a,function(response){});"}%>
        </div>
        </div>
      </div>
     
      <div class="col-sm-2">
        <div class="form-group required">
          <div id="company_location">
            <%= render 'employees/company_location_dropdown' %> 
        </div> 
        </div>
      </div>

      <div class="col-sm-2">
        <div class="form-group required">
          <div class="input-group">
            <div id="department">
              <%= render 'employees/department_dropdown' %> 
            </div> 
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group required">
          <%= f.select :current_status, ['Pending','FirstApproved','FinalApproved','Rejected','Cancelled'],{label:"Status",include_blank: "Select Status"},class: 'form-control' %>
        </div>
      </div>
     	<div class="col-sm-2" style="padding-top:20px;">
       	<div class="actions">
          <%= f.submit "Display Report", class: "btn btn-sm btn-primary" %>
        </div>
      </div>
    </div><br>
      <div id="status_wise_list"></div>
    <br>
    <% end %>
  </div><!-- /.box-body -->
</div><!-- /.box -->
        
<script type="text/javascript">
  $(function(){
    $('.request_from_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-2:+5',
    dateFormat: 'dd-mm-yy' });
  }); 

  $("#employee_leav_request").validate({
    rules: {
      "employee_leav_request[start_date]":{
        required: true
      },
      "employee_leav_request[end_date]":{
        required: true
      },
      "employee_leav_request[current_status]":{
        required: true
      }
    },
    messages: {
      "employee_leav_request[start_date]":{
        required: "Please specify date range."
      },
      "employee_leav_request[end_date]":{
        required: "Please specify date range."
      },
      "employee_leav_request[current_status]":{
        required: "Please specify Status."
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
  });
</script>