<p id="notice"><%= notice %></p>

<p>
  <strong>Issue request:</strong>
  <%= @issue_history.issue_request %>
</p>

<p>
  <strong>Issue master:</strong>
  <%= @issue_history.issue_master %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue_history.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @issue_history.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @issue_history.time %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @issue_history.employee %>
</p>

<p>
  <strong>Issue tracker member:</strong>
  <%= @issue_history.issue_tracker_member %>
</p>

<p>
  <strong>Issue tracker group:</strong>
  <%= @issue_history.issue_tracker_group %>
</p>

<p>
  <strong>Issue priority:</strong>
  <%= @issue_history.issue_priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue_history.status %>
</p>

<p>
  <strong>Is confirm:</strong>
  <%= @issue_history.is_confirm %>
</p>

<%= link_to 'Edit', edit_issue_history_path(@issue_history) %> |
<%= link_to 'Back', issue_histories_path %>
