<br>
<table id="example5" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Section</th>
      <th>Description</th>
      <th>Limit</th>
      <th>Action</th>
 
  <tbody>
    <% @investment_heads.each do |investment_head| %>
      <tr>
        <td><%= investment_head.section.try(:code) %></td>
        <td><%= investment_head.description %></td>
         <td><%= investment_head.limit %></td>
        <td>
          <%= link_to '', edit_investment_head_path(investment_head),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
          <%= link_to '',  investment_head, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-xs fa fa-close',remote:true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('#example5').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]],
        "scrollX": true
    } );
} );
</script>