<div class="box box-default">
  <div class="box-header with-border">
  <div class="row">
  <div class="col-sm-1">
      <%= image_tag @employee_jc_lists.first.employee.passport_photo.url, :size => "70x70" %>
  </div>
    <div class="col-sm-6">
     <font color='#0077b3'>
        ID : <%= @employee_jc_lists.first.employee.try(:manual_employee_code) %><br>
        Name : <%= @employee_jc_lists.first.try(:employee).try(:first_name) %> <%= @employee_jc_lists.first.try(:employee).try(:middle_name) %> <%= @employee_jc_lists.first.try(:employee).try(:last_name) %><br>
        Email : <%= @employee_jc_lists.first.try(:employee).try(:email) %></font>
    </div>
  </div><br>
<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr> 
      <th>Sr. No.</th>
      <th>Document Name</th>
      <th>Confirm By</th>
      <th>Action</th>
 </tr>
 </thead>
  <tbody>
   <% i = 0 %>
    <% @employee_jc_lists.each do |employee_jc_list| %>
      <tr>
       
        <td><%= i = i+1 %> </td>
        <td><%= employee_jc_list.joining_checklist_master.try(:name)%></td>
        <td><%= employee_jc_list.admin.first_name %> <%= employee_jc_list.admin.middle_name %> <%= employee_jc_list.admin.last_name %></td>
        <td>
        <% if employee_jc_list.status == true %>
        <small class= "label label-primary">Check</small>
            <% else %>
             <%= link_to '', is_confirm_employees_path(employee_jc_list: employee_jc_list,employee_id: employee_jc_list.employee_id),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>