<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Short Leave Detail </center></h4>
    </div>
    <div class="modal-body">
	    <table class="table table-bordered table-hover table-condensed">
				<thead>
				  <tr>
			  	  <th>Employee ID</th>
			  	  <td><%= @short_leave_request.employee.try(:manual_employee_code) %></td>
			      <th>Employee Name</th>
			      <td><%= full_name(@short_leave_request.employee) %></td>
				  </tr>
				  <tr>   
			      <th>Day</th>
			      <td><%= @short_leave_request.day %></td>
			      <th>Count</th>
		          <td><%= @short_leave_request.count %> hrs </td>
			      </tr>
				  <tr> 
				  <th>Out Time</th>
			      <td><%= @short_leave_request.in_time %></td>  
		          <th>In Time</th>
		          <td><%= @short_leave_request.out_time %></td>
				  </tr>
				  <tr>   
		        <th>Manager</th>
		        <td><%= full_name(@short_leave_request.manager) %></td>
		        <th>Status</th>
		        <td><%= @short_leave_request.status %></td>
				  </tr>
				  <tr>
		        <th>Description</th>
		        <td colspan="3"><%= @short_leave_request.description %></td>
				  </tr>
				  <tr>
				  	<th colspan="4"><center>
				  		<%= link_to 'Approve', approve_short_leave_requests_path(@short_leave_request), data: { confirm: 'Are you sure?' },class: 'btn btn-xs btn-primary' %> 
              <%= link_to 'Reject', reject_short_leave_requests_path(@short_leave_request), data: { confirm: 'Are you sure?' },class: 'btn btn-xs btn-danger' %></center>
				  	</th>
				  </tr>
				</thead>
  		</table>
		</div>
			<div class="modal-footer"></div>
	</div>
</div>    