<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title"> Employee Joining Details</h3>
    <div class="box-tools pull-right">
      <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
<%= bootstrap_form_for(@joining_detail,remote:true) do |f| %>
<%= f.hidden_field :employee_id, value: @employee.id %>
    <div class="row">
          <div class="col-sm-3">
        <div class="form-group required">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :joining_date,label: 'Joining Date',class: 'joining_date'%>
          </div>
        </div>
        </div>
        <div class="col-sm-3">
        <div class="field">
           <%= f.select :employee_grade_id, all_employee_grade, {label: 'Employee Grade'} %>
        </div>
        </div>
  
        <div class="col-sm-3">
        <div class="form-group required">
          <%= f.select :employee_designation_id,all_employee_designation, {label: 'Employee Designation'} %>
        </div>
        </div>
        <div class="col-sm-3">
        <div class="field">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :confirmation_date,label: 'Confirmation Date', class: 'confirm_date'%>
          </div>
        </div>
        </div>
    </div>
  <div class="row">
      <div class="col-sm-3">
        <div class="field">
           <%= f.select :medical_schem, ['Yes','No'] %>
       </div>
      </div>
  
      <div class="col-sm-3">
        <div class="field">
        <%= f.text_field :probation_period,label: 'Probation Period' %>
       </div>
     </div>
  
      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :notice_period,label: 'Notice Period' %>
       </div>
    </div> 
  </div>
  <div class="row">
     <div class="col-sm-3">
        <div class="field">
        <%= f.text_field :passport_no,label: 'Passport No' %>
       </div>
      </div>
      <div class="col-sm-3">
        <div class="field">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :passport_issue_date,label: 'Passport Issue Date', class: 'passport_issue_date'%>
          </div>
        </div>
        </div>
        <div class="col-sm-3">
        <div class="field">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :passport_expiry_date,label: 'Passport Expiry Date', class: 'passport_expiry_date'%>
          </div>
        </div>
        </div>
  </div>

 <div class="row">
         <div class="col-sm-3">
          <div class="actions">
              <%= f.submit :class => class_name, data: { disable_with: data_info } %>
              <% if params['controller'] == 'joining_details' and params['action'] == 'edit' %>
                <%= link_to 'Back',ajax_joining_detail_employees_path(id: @employee.id),class: 'btn btn-default', remote:true%>
              <%end%>
          </div>
        </div>
      </div>
    <% end %>
  </div><!-- /.box-body -->
  <div class="box-footer">
    Visit <a href="https://indiba.in/">www.indiba.in</a> for more Information about the HRMSONE.
  </div>
</div><!--box -->
<script type="text/javascript">
  $(function(){
    $('.passport_issue_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });

    $('.passport_expiry_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:+50',
    dateFormat: 'dd-mm-yy' });

    $('.joining_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-100:-0',
    dateFormat: 'dd-mm-yy' });

    $('.confirm_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-100:+5',
    dateFormat: 'dd-mm-yy' }); 


  }); 
</script>
