<%= bootstrap_form_for(@joining_detail) do |f| %>

 <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :employee_id %>
       </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.date_select :joining_date %>
       </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :reffernce_from %>
       </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :admin_hr %>
       </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :tech_hr %>
       </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :designation %>
       </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :ctc %>
       </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :account_no %>
       </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
           <%= o.select :employee_grade_id, all_employee_grade %>
       </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
       <%= f.date_select :confirmation_date %>
       </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :status %>
       </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
        <%= f.text_field :probation_period %>
       </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :notice_period %>
       </div>
    </div>
  </div>

   <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :medical_schem %>
       </div>
    </div>
  </div>
<% end %>
