<div class="box box-default">
  <div class="box-header with-border">
    <strong> <font color='#0077b3'> EMPLOYEE ONBOARDING DETAILS</font></strong>
  </div><!-- /.box-header -->
  <div class="box-body">
<%= bootstrap_form_for(@joining_detail,remote:true) do |f| %>
<%= f.hidden_field :employee_id, value: @employee.id %>
    <div class="row">
     <div class="col-sm-3">
        <div class="field">
        <%= f.text_field :employee_uan_no, label:'UAN No' %>
       </div>
     </div>
  
      <div class="col-sm-3">
        <label>Joining Date </label>
          <div class="field">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :joining_date,hide_label: true,class: 'joining_date'%>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <label>Confirmation Date</label>
        <div class="field">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
            <%= f.text_field :confirmation_date,hide_label: true, class: 'confirm_date'%>
          </div>
        </div>
        </div>

      <div class="col-sm-3">
        <div class="field">
           <%= f.select :employee_grade_id, all_employee_grade, {label: 'Employee Grade',include_blank: " Select Employee Grade"} %>
        </div>
      </div>

      </div>

      <div class="row">
      <div class="col-sm-3">
        <div class="field">
          <%= f.select :employee_designation_id,all_employee_designation,{label: 'Designation',include_blank: " Select Employee Designation"} %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="field">
           <%= f.select :employee_category_id, all_employee_category, {label: 'Employee Category',include_blank: " Select Employee Category"} %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="field">
           <%= f.select :cost_center_id, all_cost_center, {label: 'Cost Center',include_blank: " Select Cost Center"} %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :probation_period,label: 'Probation Period' %>
        </div>
      </div> 
      </div>
      <div class="row">
      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :notice_period,label: 'Notice Period' %>
        </div>
      </div> 

      <div class="col-sm-3">
        <div class="field">
          <%= f.select :have_passport,['Yes','No'],{label: 'Passport',include_blank: " Select Passport Option"} %>
       </div>
    </div> 

      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :passport_no,label: 'Passport No' %>
       </div>
      </div>

      <div class="col-sm-3">
      <label>Passport Issue Date </label>
        <div class="field">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
              <%= f.text_field :passport_issue_date,hide_label: true,class: 'passport_issue_date'%>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-3">
      <label>Passport Expiry Date </label>
        <div class="field">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
             <%= f.text_field :passport_expiry_date,hide_label:true, class: 'passport_expiry_date'%>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="field">
          <%= f.select :reserved_category_id, all_reserved_category,{label: 'Reserved Category',include_blank: " Select Reserved Category"} %>
       </div>
       </div> 

       <div class="col-sm-3">
      <label>Retirement Date </label>
        <div class="field">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </div>
             <%= f.text_field :retirement_date,hide_label:true, class: 'retirement_date'%>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
       <div class="field">
         <%= f.select :medical_schem, ['Yes','No'],{label: 'Medical Insurance',include_blank: " Select Medical Insurance"} %>
      </div>
     </div>
     </div>
     <div class="box-header with-border">
    <strong><font color='#0077b3'> EMPLOYEE PAYROLL DETAILS</font></strong>
  </div><!-- /.box-header -->
     <div class="row">
     <div class="col-sm-3">
        <div class="field">
          <%= f.select :payment_mode_id, all_payment_mode,{label: 'Payment Mode',include_blank: " Select Payment Mode"} %>
        </div>
      </div>

      <div class="col-sm-3">
      <div class="field">
        <%= f.check_box :basis_of_time, label: 'Basis Of Time'%>
      </div>
     </div>

     <div class="col-sm-3">
      <div class="field">
        <%= f.select :is_employeer_pf,[['Yes','true'],['No','false']],{label: 'Employer PF',include_blank: " Select Employeer PF Option"} %>
      </div>
    </div>

      <div class="col-sm-3">
        <div class="field">
          <%= f.select :select_pf,['Yes','No','Limit'],{label: 'Employee PF Option',include_blank: " Select PF"} %>
       </div>
    </div> 
    </div>
    <div class="row">
     <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :pf_max_amount, label:'PF Max Amount' %>
       </div>
      </div> 
    <div class="col-sm-3">
      <div class="field">
       <%= f.text_field :employee_pf_no, label:'PF No' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="field">
        <%= f.select :is_employeer_esic,[['Yes','true'],['No','false']],{label: 'Employer ESIC',include_blank: " Select Employer ESIC Option"} %>
      </div>
    </div>

    <div class="col-sm-3">
        <div class="field">
          <%= f.select :have_esic, [['Yes','true'],['No','false']],{label: 'ESIC Option',include_blank: " Select ESIC Option"} %>
        </div>
      </div> 
      </div>
      <div class="row">
      <div class="col-sm-3">
        <div class="field">
          <%= f.text_field :employee_efic_no, label:'ESIC No' %>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="field">
          <%= f.select :have_retention,[['Yes','true'],['No','false']],{label: 'Retention',include_blank: " Select Retention"} %>
       </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
    
      </div>
    </div>
    <div class="col-sm-3">
      <div class="field">
        <%= f.select :is_insurance,[['Yes','true'],['No','false']],{label: 'Insurance',include_blank: " Select Insurance Option"} %>
      </div>
    </div>
    </div>
    <div class="row">

    <div class="col-sm-3">
      <div class="field">
        <%= f.select :is_family_pension,[['Yes','true'],['No','false']],{label: 'Family Insurance',include_blank: " Select Family Pension Option"} %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="field">
        <%= f.select :is_bonus,[['Yes','true'],['No','false']],{label: 'Bonus',include_blank: " Select Bonus Option"} %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="field">
        <%= f.select :ot_option,[['Yes','true'],['No','false']],{label: 'OT Option',include_blank: " Select OT Option"} %>
      </div>
    </div>

    <div class="col-sm-3">
        <div class="field">
        <%= f.text_field :ot_rate, label:'OT Rate' %>
       </div>
     </div>
    </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="actions">
        <%= f.submit :class => class_name, data: { disable_with: data_info } %>
        <% if params['controller'] == 'joining_details' and params['action'] == 'edit' %>
          <%= link_to 'Back',ajax_joining_detail_employees_path(id: @employee.id),class: 'btn btn-default', remote:true%>
        <%end%>
      </div>
    </div>
  </div>
</div>
</div>
<% end %>

<script type="text/javascript">
  $(function(){
    $('.passport_issue_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });

    $('.passport_expiry_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:+50',
    dateFormat: 'dd-mm-yy' });

    $('.joining_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-100:-0',
    dateFormat: 'dd-mm-yy' });

    $('.retirement_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-1:+150',
    dateFormat: 'dd-mm-yy' });


    $('.confirm_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-100:+5',
    dateFormat: 'dd-mm-yy' });
  }); 
</script>
