<div class="box-body">

 <div style="width: 700px; height: 700px;
          padding: 10px;
          border: 5px solid gray;
          margin: 10;">

      <tr>
        <td>
         <% if @employee.company_location.company.company_logo == nil %>
      <% else %>
        <center> <%= image_tag @employee.company_location.company.company_logo.url, :size => "100x50" %></center><br>
        <%end%>
          <center><strong><%= @employee.company_location.company.try(:description) %></strong><br><%= @employee.company_location.try(:address) %>, <%= @employee.company_location.try(:name) %>.  </center>
        </td>           
       </tr>

  <div style="float:left;">
  From,<br><br>
  <%= @employee.company_location.company.try(:name)%><br>
  <%= @employee.company_location.company.try(:address)%><br>
  <%= @employee.company_location.company.try(:contact_no)%><br>
  <%= @employee.company_location.company.try(:email)%><br><br>
  Date - <%= Time.zone.now.to_date %> </div>  <br><br><br><br><br><br><br><br><br>      
  <div style="float:left;">
  To,<br><br>
  <%= @employee.first_name%> <%= @employee.middle_name%> <%= @employee.last_name%><br>
  Contact No. - <%= @employee.contact_no%><br>
  Email - <%= @employee.email%></div><br><br><br><br><br><br>

  <b>Subject - Employment certification letter</b><br><br>

  <p>Dear <%= @employee.first_name%> <%= @employee.middle_name%> <%= @employee.last_name%>,</p> 

  <p>This letter is to inform you that the <%= @employee.department.try(:name)%> has found your application for the position of <%= @employee.joining_detail.employee_designation.try(:name)%> to be fitting with our requirements. We congratulate you on your selection.
 
 <p>Welcome to the <%= @employee.company_location.company.try(:name)%> family!</p>
  
  <p>Best Regards</b></p>

  <P>HR</P>

</div>
</div>