<div class="box-body">

 <div style="width: 700px; height: auto;
          padding: 10px;
          border: 5px solid gray;
          margin: 10;">
  <div style="float:left;">

       <tr>
        <td>
         <% if @employee.company_location.company.company_logo == nil %>
      <% else %>
        <center> <%= image_tag @employee.company_location.company.company_logo.url, :size => "100x50" %></center><br>
        <%end%>
          <center><strong><%= @employee.company_location.company.try(:description) %></strong><br><%= @employee.company_location.try(:address) %>, <%= @employee.company_location.try(:name) %>.  </center>
        </td>           
       </tr>

  <b>Date - <%= Time.zone.now.to_date %></b><br><br>
   </div>

   <p>To,</p>
   <p><%= @employee.first_name%> <%= @employee.middle_name%> <%= @employee.last_name%><br>
    <%= @employee.current_address%></p>

  
  <p>Dear <%= @employee.first_name%> <%= @employee.middle_name%> <%= @employee.last_name%>,</p> 

  <p>Congratulations upon your selection and choosing <b><%= @employee.company_location.company.try(:name)%></b>
  as your career choice. We are pleased to offer you employment in our organization as <b><%= @employee.joining_detail.employee_designation.try(:name)%></b> on the following terms and conditions:</p>

  <p>1. You shall report for duty on or before <%= @employee.try(:joining_detail).try(:joining_date)%>.</p>
  <p>2. Your CTC will be Rs.2,54,398/- per year (Two Lakh Fifty-Four Thousand Three Hundred Ninety Eight Only). Detail salary Breakup is attached as Annexure- A.</p>
  <p>3. You will be under probation for a period of <b>six months</b>. Your employment will be confirmed after six months depending upon your performance during the probation period.</p>
  <p>4. This employment is terminable by either party by giving One-month notice in writing or salary in lieu of notice to the other party.</p>
  <p>5. You will be governed by the policies of the company with respect to code of conduct, leave, travel and other HR policies, you will be considered under yellow club.</p>
  <p>6. In case of non-adherence to the Date of Joining, negative reference check or wrong documentation this offer stands withdrawn without any notification.</p>
  <p></p>
  <p>To ensure a smooth joining process, kindly furnish the following details.</p>
  <p>1. 3 passport size color photographs.</p>
  <p>2. PAN Card.</p> 
  <p>3. Address proof (Ration card / Electricity bill / Postpaid telephone bill / Rental agreement / Bank Pass book).</p>
  <p>4. Photo ID Proof for age verification. (Passport copy / Driving License / School leaving certificate/ Election card).</p>
  <p>5. Original copies of all Education (Graduation to Masters) and Experience/ Achievement certificates.</p>
  <p>6. Last Three Months Pay slip/Bank Statement.</p>
  <p>Our formal letter of appointment will be issued to you after submission and acceptance of all the above-mentioned documents. Please sign and return the duplicate of this letter as a token of your acceptance.</p>
  <p>We welcome you to our organization and look forward to a mutually beneficial association, in the days to come.</p>

  <p>For, <b><%= @employee.company_location.company.try(:description) %></b></p>
  <P>Nikhil Bhandari</P>

                                     <center><b>Annexure – A</b></center>

      <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>Salary Component</th>
          <th>Monthly Amount</th>
          <th>Annual Amount</th>
        </tr>
      </thead>
       <tbody>
        <% @employee_salary_templates.each do |template| %>
          <tr>
           <td><%= template.try(:salary_component).try(:name)%></td>
           <td><%= template.try(:monthly_amount)%></td>
           <td><%= template.try(:annual_amount)%></td>
          </tr>
        </tbody>
         <%end%>  
         <tr>
          <th>Gross</th>
          <!-- <th colspan="4"></th> -->
          <td align="right"><strong><%= @employee_salary_templates.sum(:monthly_amount) %></strong></td>
          <td align="right"><strong><%= @employee_salary_templates.sum(:annual_amount) %></strong></td>
        </tr>
       </table>
      
</div><br>
<%= link_to "Print",certificate_print_joining_details_path(:salary => {:employee_id =>[:salary][:employee_id],:certificate => [:salary][:certificate]},format: "pdf"),class: "btn btn-xl btn-info fa fa-print"%>

</div>