<table id="example2" class="table table-bordered table-hover">
    <tr> 
      <th colspan="2"></th>
      <th colspan="2"></th>
    </tr>
    <tr>

    <tr>
      <th><strong>Employee:</strong></th>
      <td><%= @joining_detail.employee.id %></td>

      <th> <strong>Joining date:</strong></th>
      <td><%= @joining_detail.joining_date %></td>
    </tr>

    <tr>
      <th><strong>Reference from:</strong></th>
      <td><%= @joining_detail.reference_from %></td>

      <th> <strong>Admin hr:</strong></th>
      <td> <%= @joining_detail.admin_hr %></td>
    </tr>

    <tr>
      <th><strong>Tech hr:</strong></th>
      <td><%= @joining_detail.tech_hr %></td>

      <th><strong>Designation:</strong></th>
      <td><%= @joining_detail.designation %></td>
    </tr>

    <tr>
      <th><strong>Employee grade:</strong></th>
      <td><%= @joining_detail.employee_grade.name %></td>

      <th> <strong>Confirmation date:</strong></th>
      <td><%= @joining_detail.confirmation_date %></td>
    </tr>

    <tr>
      <th><strong>Status:</strong></th>
      <td><%= @joining_detail.status %></td>

      <th><strong>Probation period:</strong></th>
      <td><%= @joining_detail.probation_period %></td>
    </tr>

    <tr>
      <th><strong>Notice period:</strong></th>
      <td><%= @joining_detail.notice_period %></td>

      <th><strong>Medical schem:</strong></th>
      <td> <%= @joining_detail.medical_schem %></td>
    </tr>

  
   
 </table>