
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Employee Joining Dtails</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    
    <tr>
      <th><strong>Employee:</strong></th>
      <td><%= @joining_detail.employee.first_name %></td>

      <th> <strong>Joining date:</strong></th>
      <td><%= @joining_detail.joining_date %></td>
    </tr>

    <tr>
      <th><strong>Reference from:</strong></th>
      <td><%= @joining_detail.reference_from %></td>

      <th> <strong>Admin Interviewer:</strong></th>
      <td> <%= @joining_detail.admin_hr %></td>
    </tr>

    <tr>
      <th><strong>Technical Interviewer:</strong></th>
      <td><%= @joining_detail.tech_hr %></td>

      <th><strong>Designation:</strong></th>
      <td><%= @joining_detail.employee_designation.name %></td>
    </tr>

    <tr>
      <th><strong>Employee grade:</strong></th>
      <td><%= @joining_detail.employee_grade.name %></td>

      <th> <strong>Confirmation date:</strong></th>
      <td><%= @joining_detail.confirmation_date %></td>
    </tr>

    <tr>
     <th><strong>Medical Insurance</strong></th>
      <td> <%= @joining_detail.medical_schem %></td>

      <th><strong>Probation period:</strong></th>
      <td><%= @joining_detail.probation_period %></td>
    </tr>

    <tr>
      <th><strong>Notice period:</strong></th>
      <td><%= @joining_detail.notice_period %></td>
      <th></th>
      <td></td>
    </tr>
 </table>

  <%= link_to 'Edit',  edit_joining_detail_path(@joining_detail),class: 'btn btn-sm btn-success fa fa-edit' %> |
    <%= link_to 'Back', employee_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
  </div><!-- /.box-body -->
</div><!-- /.box -->

