<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @joining_detail.employee %>
</p>

<p>
  <strong>Joining date:</strong>
  <%= @joining_detail.joining_date %>
</p>

<p>
  <strong>Reffernce from:</strong>
  <%= @joining_detail.reffernce_from %>
</p>

<p>
  <strong>Admin hr:</strong>
  <%= @joining_detail.admin_hr %>
</p>

<p>
  <strong>Tech hr:</strong>
  <%= @joining_detail.tech_hr %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @joining_detail.designation %>
</p>

<p>
  <strong>Ctc:</strong>
  <%= @joining_detail.ctc %>
</p>

<p>
  <strong>Account no:</strong>
  <%= @joining_detail.account_no %>
</p>

<p>
  <strong>Employee grade:</strong>
  <%= @joining_detail.employee_grade %>
</p>

<p>
  <strong>Confirmation date:</strong>
  <%= @joining_detail.confirmation_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @joining_detail.status %>
</p>

<p>
  <strong>Probation period:</strong>
  <%= @joining_detail.probation_period %>
</p>

<p>
  <strong>Notice period:</strong>
  <%= @joining_detail.notice_period %>
</p>

<p>
  <strong>Medical schem:</strong>
  <%= @joining_detail.medical_schem %>
</p>

<%= link_to 'Edit', edit_joining_detail_path(@joining_detail) %> |
<%= link_to 'Back', joining_details_path %>
