<p id="notice"><%= notice %></p>

<h1>Listing Advance Types</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advance_types.each do |advance_type| %>
      <tr>
        <td><%= advance_type.code %></td>
        <td><%= advance_type.name %></td>
        <td><%= advance_type.description %></td>
        <td><%= link_to 'Show', advance_type %></td>
        <td><%= link_to 'Edit', edit_advance_type_path(advance_type) %></td>
        <td><%= link_to 'Destroy', advance_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advance type', new_advance_type_path %>
