<%= form_for(@housing_rent) do |f| %>
  <% if @housing_rent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@housing_rent.errors.count, "error") %> prohibited this housing_rent from being saved:</h2>

      <ul>
      <% @housing_rent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :investment_declaration_id %><br>
    <%= f.text_field :investment_declaration_id %>
  </div>
  <div class="field">
    <%= f.label :metro_city %><br>
    <%= f.check_box :metro_city %>
  </div>
  <div class="field">
    <%= f.label :estimated_rent %><br>
    <%= f.text_field :estimated_rent %>
  </div>
  <div class="field">
    <%= f.label :actual_rent %><br>
    <%= f.text_field :actual_rent %>
  </div>
  <div class="field">
    <%= f.label :accepted_rent %><br>
    <%= f.text_field :accepted_rent %>
  </div>
  <div class="field">
    <%= f.label :rejected_rent %><br>
    <%= f.text_field :rejected_rent %>
  </div>
  <div class="field">
    <%= f.label :landlord_name %><br>
    <%= f.text_field :landlord_name %>
  </div>
  <div class="field">
    <%= f.label :landlord_pan_no %><br>
    <%= f.text_field :landlord_pan_no %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
