<p id="notice"><%= notice %></p>

<h1>Listing Overtime Salaries</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Date</th>
      <th>Ot hrs</th>
      <th>Ot esic amount</th>
      <th>Total amount</th>
      <th>Attendence bouns amount</th>
      <th>Paid holiday amount</th>
      <th>Net payble amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @overtime_salaries.each do |overtime_salary| %>
      <tr>
        <td><%= overtime_salary.employee %></td>
        <td><%= overtime_salary.date %></td>
        <td><%= overtime_salary.ot_hrs %></td>
        <td><%= overtime_salary.ot_esic_amount %></td>
        <td><%= overtime_salary.total_amount %></td>
        <td><%= overtime_salary.attendence_bouns_amount %></td>
        <td><%= overtime_salary.paid_holiday_amount %></td>
        <td><%= overtime_salary.net_payble_amount %></td>
        <td><%= link_to 'Show', overtime_salary %></td>
        <td><%= link_to 'Edit', edit_overtime_salary_path(overtime_salary) %></td>
        <td><%= link_to 'Destroy', overtime_salary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Overtime salary', new_overtime_salary_path %>
