<%= bootstrap_form_for(@reward_owner,html: {id: 'reward_owner'},remote:true) do |f| %>

  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code,label: 'Code', placeholder: 'Code' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,label: 'Name', placeholder: 'Name' %>
      </div>
    </div>

    <div class="col-sm-3">
    <label>Description</label>
      <div class="field">
        <%= f.text_area :description,hide_label:true, placeholder: 'Description' %>
      </div>
    </div>

    <div class="col-sm-3">
      <label>Status </label>
      <div class="field">
        <%= f.check_box :status, label: 'Active' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit :class => class_name, data: { disable_with: data_info } %>
      </div>
    </div>
  </div>
    <% end %>
<br>

<script>
$("#reward_owner").validate({
    rules: {
      "reward_owner[code]":{
        required: true,
      },
      "reward_owner[name]":{
        required: true,
      }
       },
    messages: {
      "reward_owner[code]":{
        required: "Please Specify Code",
      },
       "reward_owner[name]":{
        required: "Please Specify Name",
      }
       },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>
