<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @reward_owner.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @reward_owner.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @reward_owner.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @reward_owner.status %>
</p>

<%= link_to 'Edit', edit_reward_owner_path(@reward_owner) %> |
<%= link_to 'Back', reward_owners_path %>
