<p id="notice"><%= notice %></p>

<h1>Listing Nationalities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nationalities.each do |nationality| %>
      <tr>
        <td><%= nationality.name %></td>
        <td><%= link_to 'Show', nationality %></td>
        <td><%= link_to 'Edit', edit_nationality_path(nationality) %></td>
        <td><%= link_to 'Destroy', nationality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nationality', new_nationality_path %>
