<div class="box">
  <div class="box-header">
    <h3 class="box-title">Company List</h3>
    <div class="pull-right">
      <%= link_to "New Nationality", new_nationality_path, class: 'btn btn-primary' %> 
    </div>
    
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover">
    <thead>
      <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @nationalities.each do |nationality| %>
      <tr>
        <td><%= nationality.name %></td>
        <td>
            <%= link_to '', nationality,class: 'btn btn-default fa fa-eye' %>
            <%= link_to '', edit_nationality_path(nationality),class: 'btn btn-success fa fa-edit' %>
            <%= link_to '',  nationality, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger fa fa-close' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
       