<div class="box">
  <div class="box-header">
    <h3 class="box-title">Machine Attendance List</h3>
    <div class="pull-right">
    </div>
    </div>

<p id="notice"><%= notice %></p>

<div class="box-body">
<%= form_for :machine_attendances, url: { action: 'save_machine_attendance_checkbox'} do |f| %>
<table id="example5" class="table table-bordered table-hover table-condensed">
<thead>
  <tr>
    <th><input type="checkbox" id="selectAll" value="selectAll"></th>
    <th>Employee Name</th>
    <th>Day</th>
    <th>In</th>
    <th>Out</th>
  </tr> 
</thead>
<tbody>
  <% @machine_attendances.each do |m| %>
    <tr>              
      <td><%= check_box_tag "machine_attendance_ids[]",m.id %></td>
      <td><%= m.employee.try(:first_name) %> <%= m.employee.try(:middle_name) %> <%= m.employee.try(:last_name) %></td>
      <td><%= m.day %></td>
      <td><%= m.try(:in).to_time %></td>
      <td><%= m.try(:out).to_time %></td>
    </tr>
  <% end %>
</tbody>
</table>
<%= f.submit "Save", class: "btn btn-xl btn-info" %>
<% end %>
</div>
</div>

<script type="text/javascript">
$('#selectAll').click(function() {
  if (this.checked) {
    $(':checkbox').each(function() {
      this.checked = true;                       
    });
  } 
  else {
    $(':checkbox').each(function() {
      this.checked = false;                        
    });
  } 
});
</script>

<script type="text/javascript">
$(document).ready(function() {
    $('#example5').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    });
} );
</script>