<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell ss:Index="1"><Data ss:Type="String">ID </Data></Cell>
        <Cell ss:Index="2"><Data ss:Type="String">Employee ID </Data></Cell>
        <Cell ss:Index="3"><Data ss:Type="String">Employee Name </Data></Cell>
        <Cell ss:Index="4"><Data ss:Type="String">Shift </Data></Cell>
        <Cell ss:Index="5"><Data ss:Type="String">Day </Data></Cell>
        <Cell ss:Index="6"><Data ss:Type="String">In </Data></Cell>
        <Cell ss:Index="7"><Data ss:Type="String">Out </Data></Cell>
        <Cell ss:Index="8"><Data ss:Type="String">Present </Data></Cell>
      </Row>

      <% @machine_attendances.each do |m| %>
      <Row>
          <Cell ss:Index="1"><Data ss:Type="String"><%= m.id %></Data></Cell>
          <Cell ss:Index="2"><Data ss:Type="String"><%= m.employee.try(:id) %></Data></Cell>
          <Cell ss:Index="3"><Data ss:Type="String"><%= m.employee.try(:first_name) %> <%= m.employee.try(:middle_name) %> <%= m.employee.try(:last_name) %></Data></Cell>
          <Cell ss:Index="4"><Data ss:Type="String"><%= m.shift_master.try(:name) %></Data></Cell>
          <Cell ss:Index="5"><Data ss:Type="String"><%= m.day %></Data></Cell>
          <Cell ss:Index="6"><Data ss:Type="String"><%= m.try(:in) %></Data></Cell>
          <Cell ss:Index="7"><Data ss:Type="String"><%= m.try(:out) %></Data></Cell>
          <Cell ss:Index="8"><Data ss:Type="String"><%= m.try(:present) %></Data></Cell>
          </Row><!-- Row -->
      <% end %><!-- slip -->
    </Table>
  </Worksheet>
</Workbook>
