<%= form_for(@experince) do |f| %>
  <% if @experince.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experince.errors.count, "error") %> prohibited this experince from being saved:</h2>

      <ul>
      <% @experince.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.text_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :no_of_year_experince %><br>
    <%= f.text_field :no_of_year_experince %>
  </div>
  <div class="field">
    <%= f.label :company_name %><br>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :designation %><br>
    <%= f.text_field :designation %>
  </div>
  <div class="field">
    <%= f.label :ctc %><br>
    <%= f.text_field :ctc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
