<%= bootstrap_form_for(@experince) do |f| %>
  <% if @experince.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experince.errors.count, "error") %> prohibited this experince from being saved:</h2>

      <ul>
      <% @experince.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :employee_id %>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :no_of_year_experince %>
       </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :company_name %>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :designation %>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="field">
         <%= f.text_field :ctc %>
        </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1"></div>
      <div class="col-sm-3">
        <div class="actions">
         <%= f.submit %>
        </div>
    </div>
  </div>

<% end %>
