<p id="notice"><%= notice %></p>

<h1>Listing Experinces</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>No of year experince</th>
      <th>Company name</th>
      <th>Designation</th>
      <th>Ctc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @experinces.each do |experince| %>
      <tr>
        <td><%= experince.employee %></td>
        <td><%= experince.no_of_year_experince %></td>
        <td><%= experince.company_name %></td>
        <td><%= experince.designation %></td>
        <td><%= experince.ctc %></td>
        <td><%= link_to 'Show', experince %></td>
        <td><%= link_to 'Edit', edit_experince_path(experince) %></td>
        <td><%= link_to 'Destroy', experince, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experince', new_experince_path %>
