<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @experince.employee %>
</p>

<p>
  <strong>No of year experince:</strong>
  <%= @experince.no_of_year_experince %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @experince.company_name %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @experince.designation %>
</p>

<p>
  <strong>Ctc:</strong>
  <%= @experince.ctc %>
</p>

<%= link_to 'Edit', edit_experince_path(@experince) %> |
<%= link_to 'Back', experinces_path %>
