<% ans = (@company_shift.out_time - @company_shift.in_time)/3600 %>
<%= bootstrap_form_for(@attendance) do |f| %>
<%= hidden_field :attendance, :employee_id, value: @employee.id%>
<%= hidden_field :attendance, :employee_shift_id, value: @employee.employee_shift.id%>
<div class="row">
  <div class="col-sm-3">
    <div class="field">
       <%= f.text_field :employee_shift, value: @employee.try(:employee_shift).try(:company_shift).try(:name), readonly: true %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="field">
       <%= f.text_field :attendance_date, value: Date.today, readonly: true %>
    </div>
  </div>
  <div class="col-sm-2">
      <div class="bootstrap-timepicker">
        <div class="form-group">
          <label>Check In</label>
          <div class="input-group">
            <%= f.text_field :check_in,hide_label:true, class: 'form-control timepicker' %>
            <div class="input-group-addon">
              <i class="fa fa-clock-o"></i>
            </div>
          </div><!-- /.input group -->
        </div><!-- /.form group -->
      </div>
    </div>
   <div class="col-sm-2">
      <div class="bootstrap-timepicker">
        <div class="form-group">
          <label>Check Out</label>
          <div class="input-group">
            <%= f.text_field :check_out,hide_label:true, class: 'form-control timepicker' %>
            <div class="input-group-addon">
              <i class="fa fa-clock-o"></i>
            </div>
          </div><!-- /.input group -->
        </div><!-- /.form group -->
      </div>
    </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :company_hrs, value: ans, readonly: true%>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :over_time_hrs, readonly: true %>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :total_hrs, readonly: true %>
    </div>
  </div>
</div>

 <div class="row">
  <div class="col-sm-3">
    <div class="actions">
      <%= f.submit :class => class_name, data: { disable_with: data_info } %>
    </div>
  </div>
</div>
<% end %>

<script>
$(function () {
//Timepicker
  $(".timepicker").timepicker({
    showInputs: false
  });
  
});

$(function(){
      $('#attendance_check_out').on('change', function() {
        calculate_total_hrs();
        calculate_over_time_hrs();
      });
    
      function calculate_total_hrs(){
        var check_in = parseFloat($('#attendance_check_in').val());
        var check_out = parseFloat($('#attendance_check_out').val()); 
        var total_hr = "";
          total_hr = ((check_out - check_in)+12).toFixed(2);
        $('#attendance_total_hrs').val(total_hr);
      }
      function calculate_over_time_hrs(){
        var total_hr = parseFloat($('#attendance_total_hrs').val());
        var company_hr = parseFloat($('#attendance_company_hrs').val()); 
        var over_time_hr = "";
          over_time_hr = ((total_hr - company_hr)).toFixed(2);
        $('#attendance_over_time_hrs').val(over_time_hr);
      }
    });
</script>