<% ans = time_diff(@company_shift.in_time, @company_shift.out_time) %>
<%= bootstrap_form_for(@attendance) do |f| %>
<%= hidden_field :attendance, :employee_id, value: @employee.id%>
<%= hidden_field :attendance, :employee_shift_id, value: @employee.employee_shift.id%>
<div class="row">
  <div class="col-sm-3">
    <div class="field">
       <%= f.text_field :employee_shift, value: @employee.try(:employee_shift).try(:company_shift).try(:name), readonly: true %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="field">
       <%= f.text_field :attendance_date, value: Date.today, readonly: true %>
    </div>
  </div>
  <div class="col-sm-2">
      <div class="bootstrap-timepicker">
        <div class="form-group">
          <label>Check In</label>
          <div class="input-group">
            <%= f.text_field :check_in,hide_label:true, class: 'form-control timepicker' %>
            <div class="input-group-addon">
              <i class="fa fa-clock-o"></i>
            </div>
          </div><!-- /.input group -->
        </div><!-- /.form group -->
      </div>
    </div>
   <div class="col-sm-2">
      <div class="bootstrap-timepicker">
        <div class="form-group">
          <label>Check Out</label>
          <div class="input-group">
            <%= f.text_field :check_out, {onchange:"var a={out_time:$(this).val(),in_time:$('#attendance_check_in').val()}; $.get('/attendances/calculate_time',a,function(response){});",class: 'form-control timepicker',hide_label:true} %>
            <div class="input-group-addon">
              <i class="fa fa-clock-o"></i>
            </div>
          </div><!-- /.input group -->
        </div><!-- /.form group -->
      </div>
    </div>
</div>

<div class="row">
  <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :company_hrs, value: ans, readonly: true%>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :over_time_hrs, readonly: true %>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="field">
      <%= f.text_field :total_hrs, readonly: true %>
    </div>
  </div>
</div>

 <div class="row">
  <div class="col-sm-3">
    <div class="actions">
      <%= f.submit :class => class_name, data: { disable_with: data_info } %>
    </div>
  </div>
</div>
<% end %>

<script>
$(function () {
 $(".timepicker").timepicker({
   showInputs: false
 });
});
</script>