<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Attendance</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered table-hover">

     <tr>
      <th><strong>Shift</strong></th>
      <td><%= @attendance.employee_shift.company_shift.try(:name) %></td>

      <th> <strong>Employee Name</strong></th>
      <td><%= @attendance.employee.try(:first_name)+' '+@attendance.employee.try(:middle_name)+' '+@attendance.employee.try(:last_name) %></td>
     </tr>

     <tr>
      <th> <strong>Attendance date</strong></th>
      <td><%= @attendance.attendance_date %></td>

      <th><strong>Check in</strong></th>
      <td><%= @attendance.check_in %></td>
     </tr>

     <tr>
      <th><strong>Check out</strong></th>
      <td><%= @attendance.check_out %></td>

      <th><strong>Company hrs</strong></th>
      <td><%= @attendance.company_hrs %></td>
     </tr>

     <tr>
      <th><strong>Over time hrs:</strong></th>
      <td><%= @attendance.over_time_hrs %></td>

      <th><strong>Total hrs:</strong></th>
      <td><%= @attendance.total_hrs %></td>
     </tr>

    </table>

    <%= link_to 'Edit', edit_attendance_path(@attendance),class: 'btn btn-success fa fa-edit' %> 
    <%= link_to 'Back', attendances_path,class: 'btn btn-default fa fa-arrow-left' %>
  </div><!-- /.box-body -->
</div><!-- /.box -->