<%= bootstrap_form_for(@expencess_type,html: {id: 'employee_type'},remote:true) do |f| %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :code,hide_label:true, placeholder: 'Expense Code' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :name,hide_label:true, placeholder: 'Expense Type' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :description,hide_label:true, placeholder: 'Expense Description' %>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="actions">
        <%= f.submit "Create Expense Type",:class => class_name, data: { disable_with: data_info } %>
      </div>
    </div>
  </div>
<% end %>
