<p id="notice"><%= notice %></p>

<h1>Listing Expencess Types</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expencess_types.each do |expencess_type| %>
      <tr>
        <td><%= expencess_type.code %></td>
        <td><%= expencess_type.name %></td>
        <td><%= expencess_type.description %></td>
        <td><%= link_to 'Show', expencess_type %></td>
        <td><%= link_to 'Edit', edit_expencess_type_path(expencess_type) %></td>
        <td><%= link_to 'Destroy', expencess_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expencess type', new_expencess_type_path %>
