<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @expencess_type.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @expencess_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expencess_type.description %>
</p>

<%= link_to 'Edit', edit_expencess_type_path(@expencess_type) %> |
<%= link_to 'Back', expencess_types_path %>
