<br>
<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Date</th>
      <th>Thought</th>
      <th>Thought By</th>
      <th>Action</th>
 
  <tbody>
    <% @thoughts.each do |thought| %>
      <tr>
        <td><%= thought.date %></td>
        <td><%= thought.thought %></td>
        <td><%= thought.thought_of %></td>
        <td>
            <%= link_to '', edit_thought_path(thought),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
            <%= link_to '',  thought, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-xs fa fa-close',remote:true %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>