<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Today's Thought</h3>
     <div class="pull-right">
    <%= link_to "Upload Thought's", import_xl_thoughts_path, class: 'btn btn-xs btn-primary' %>
    <%= link_to " PDF ", thought_master_thoughts_path(id: @thought.id, format: "pdf"), class: "btn btn-sm btn-info fa fa-print",:target => "_blank" %>
    <%= link_to " XLS ", thought_master_thoughts_path(id: @thought.id, format: "xls"), class: "btn btn-sm btn-success fa fa-print",:target => "_blank" %>
     </div><!-- /.box-header -->
	<div class="box-body">
		<div id="form">
			<%= render 'form' %>	
		</div>
		
		<div id="today_thought_list">
			<%= render 'today_thought_list' %>
		</div>
	</div><!-- /.box-body -->
</div><!-- /.box -->