<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
     <h4>Vacancy Request</h4>
    <p>
      
      This is to inform you that you have an Vacancy Request
      Details for Vacancy is given below.<br><br>
       1 Company Location :- <%= @vacancy_master.company_location.try(:name) %><br><br>
       2 Department Name :- <%= @vacancy_master.department.try(:name) %><br><br>
       3 Vacancy Name :- <%= @vacancy_master.vacancy_name %><br><br>
       4 No of position :- <%= @vacancy_master.no_of_position %><br><br>
       5 Vacancy Expected Date :- <%= @vacancy_master.vacancy_post_date %><br><br>
       6 Experience :- <%= @vacancy_master.experience %><br><br>
        With Regards,<br><br>
        BFTL HR
     </p>
  </body>
</html>