<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Professional Tax Detail </center></h4>
    </div>
    <div class="modal-body">
	<table class="table table-bordered table-hover table-condensed">
	  <thead>
		  <tr>
		      <th><strong>Branch</strong></th>
		      <td><%= @professional_tax_master.company_location.company.try(:name) %> - <%= @professional_tax_master.company_location.try(:name)%></td>
		  <th><strong>Basis Actual Amount</strong></th>
		  <td><%= @professional_tax_master.basis_actual_amount ? "Yes" : "No" %></td></tr>
		<tr>
		      <th><strong>Base component</strong></th>
		      <td colspan="3"> <% i = 0 %>
		          <% @professional_tax_master.base_component.split(",").each do |e| %>
		            <% if i == 0 %>
		              <%= SalaryComponent.find(e.to_i).name %>
		            <% else %>
		              + <%= SalaryComponent.find(e.to_i).name %>
		            <% end %>
		            <% i = i + 1 %>
		          <% end %>
		      </td>
		</tr>
		<tr>
		  <th><strong>Min amount</strong></th>
		  <td><%= @professional_tax_master.min_amount %></td>

		  <th>Max amount</th>
		  <td><%= @professional_tax_master.max_amount %></td>
		</tr>

		<tr>
		  <th><strong>For month</strong></th>
		  <td><%= @professional_tax_master.for_month %></td>
		  <th><strong>March amount</strong></th>
		  <td><%= @professional_tax_master.march_amount %></td>
		</tr>

		<tr>
		  <th><strong>Effective from</strong></th>
		  <td><%= @professional_tax_master.effective_from %></td>
		  <th><strong>Effective to</strong></th>
		  <td><%= @professional_tax_master.effective_to %></td>
		</tr>

		<tr>
		  <th><strong>Status</strong></th>
		  <td colspan="3"><%= @professional_tax_master.is_active ? "Active" : "Inactive" %></td>
		  
		</tr>
  </thead>
</table>
</div>
<div class="modal-footer"></div>
</div>
</div>  