<div class="box box-default">
<div class="box-header with-border">
</div><!-- /.box-header --><!-- 
<div class="box-body"></div> -->
<table id="example1" class="table table-bordered table-hover table-condensed">
 <thead>
    <tr>
      <th>Base Component</th>
      <th>Min Amount</th>
      <th>Max Amount</th>
      <th>For Month</th>
      <th>March Amount</th>
      <th>Effective From</th>
      <th>Effective To</th>
      <th>Status</th>
      <th>Company Location</th>
      <th>Basis Actual Amount</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @professional_tax_masters.each do |professional_tax_master| %>
      <tr>
        <td>
          <% i = 0 %>
          <% professional_tax_master.base_component.split(",").each do |e| %>
            <% if i == 0 %>
              <%= SalaryComponent.find(e.to_i).name %>
            <% else %>
              + <%= SalaryComponent.find(e.to_i).name %>
            <% end %>
            <% i = i + 1 %>
          <% end %>
        </td>
        <td><%= professional_tax_master.min_amount %></td>
        <td><%= professional_tax_master.max_amount %></td>
        <td><%= professional_tax_master.for_month %></td>
        <td><%= professional_tax_master.march_amount %></td>
        <td><%= professional_tax_master.effective_from %></td>
        <td><%= professional_tax_master.effective_to %></td>
        <td><%= professional_tax_master.is_active ? "Active" : "Inactive" %></td>
        <td><%= professional_tax_master.company_location.try(:name) %></td>
        <td><%= professional_tax_master.basis_actual_amount ? "Yes" : "No" %></td>
        <td>
          <% if professional_tax_master.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
          <% else %>
            <%= link_to '', edit_professional_tax_master_path(professional_tax_master) ,class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
            <%= link_to '',  professional_tax_master, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-xs btn-danger fa fa-close' %>
            <%= link_to '', is_confirm_professional_tax_masters_path(professional_tax_master: professional_tax_master),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>