<div class="box-header with-border">
</div><!-- /.box-header --><!-- 
<div class="box-body"></div> -->
<table id="example1" class="table table-bordered table-hover table-condensed">
 <thead>
    <tr>
      <th>Branch</th>
      <th>Min Amount</th>
      <th>Max Amount</th>
      <th>For Month</th>
      <th>March Amount</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @professional_tax_masters.each do |professional_tax_master| %>
      <tr>
      <td><%= professional_tax_master.company_location.company.try(:name) %> - <%= professional_tax_master.company_location.try(:name) %></td>
        <td><%= professional_tax_master.min_amount %></td>
        <td><%= professional_tax_master.max_amount %></td>
        <td><%= professional_tax_master.for_month %></td>
        <td><%= professional_tax_master.march_amount %></td>
        <td><%= professional_tax_master.is_active ? "Active" : "Inactive" %></td>
        <td>
          <% if professional_tax_master.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
         <%= link_to '', professional_tax_master ,class: 'btn btn-xs btn-default fa fa-eye' %>
          <% else %>
            <%= link_to '', edit_professional_tax_master_path(professional_tax_master) ,class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
            <%= link_to '',  professional_tax_master, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-xs btn-danger fa fa-close' %>
            <%= link_to '', is_confirm_professional_tax_masters_path(professional_tax_master: professional_tax_master),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
              <%= link_to '', professional_tax_master ,class: 'btn btn-xs btn-default fa fa-eye' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>