<!-- SELECT2 EXAMPLE -->
<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Leave Master</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">
    
     
    <tr>
      <th><strong>Leave category</strong></th>
      <td colspan="3"><%= @leave_master.leav_category.try(:code) %> - <%= @leave_master.leav_category.try(:name) %></td>
    </tr>

    <tr>
      <th><strong>Period</strong></th>
      <td><%= @leave_master.period %></td>

      <th><strong>Workingday Limit</strong></th>
      <td><%= @leave_master.working_day %></td>
    </tr>
 
 
    <tr>
     <th><strong>Company Workingday</strong></th>
      <td><%= @leave_master.company_workingday %></td>

      <th><strong>No of leave</strong></th>
      <td> <%= @leave_master.no_of_leave %></td>
    </tr>

    <tr>
     <th><strong>Is carry forward ?</strong></th>
      <td><%= @leave_master.is_carry_forward ? 'Yes' : 'No' %></td>

      <th><strong>Limit</strong></th>
      <td> <%= @leave_master.limit %></td>
    </tr>
     </table> <br>

    <%= link_to 'Back', new_leave_master_path,class: 'btn btn-sm btn-default fa fa-arrow-left' %>
  </div><!-- /.box-body -->
</div><!-- /.box -->