<!-- Main Header -->
<header class="main-header">
<!-- Logo -->
<a href="/home" class="logo">
 <span class="logo-mini"><b>HCM</b></span>
  <span class="logo-lg"><b>
   <% if current_user.class == Member %>
       <% if current_user.employee.company.company_logo_file_name == nil %>
        <!-- <small class="label label-default">Not Available</small> -->
          <%#= image_tag src="../images/spark.jpg", :size => "200x60" %>
          <%#= image_tag('/images/spark.jpg') %>
          <%= image_tag "spark.jpg", size: "200x30" %>
        <% else %>
        <!-- <center><= link_to '',download_company_logo_path(@company),class: 'btn btn-xs fa fa-picture-o' %></center> -->
        <%= image_tag current_user.employee.company.company_logo.url, :size => "200x60" %>

        <%end %>
        <%else%>
          <!--   <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span> -->
          <%end%>
                </b></span>
</a>

<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation">
  <!-- Sidebar toggle button-->
  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" title="Side Bar">
    <span class="sr-only">Toggle navigation</span>
  </a>
  <!-- Navbar Right Menu -->
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <!-- Messages: style can be found in dropdown.less-->
      <li class="dropdown messages-menu">
        <!-- Menu toggle button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Employee Leave Request">
          <i class="fa fa-envelope-o" ></i>
          <span class="label label-success">
            <% if current_user.class == Group %>
            <% else %>
            <% @pending_employee_leav_requests = EmployeeLeavRequest.where(is_pending: true, is_first_approved: false, is_first_rejected: false, is_cancelled: false,is_second_approved: false, first_reporter_id: current_user.employee_id) %>
            <% count1 = 0 %>
            <% @pending_employee_leav_requests.try(:each) do |employee_leav_request| %>
            <% count1 += 1 %>
            <% count1 %>
            <% end %>
            <% count1 %>

            <% count2 = 0 %>
            
            <% count = count1 + count2 %>

            <%= count %>
           <%end%>
           </span>
        </a>
        <ul class="dropdown-menu">
          <li class="header"> <a href="/manager_self_services/approved_or_rejected_leave_request"> Leave Request</a></li>
          <li>
            <!-- inner menu: contains the messages -->
            <ul class="products-list product-list-in-box">
              <li class="item"><!-- start message -->
                 <center> <small class="label label-success">  You Have <%= count %> Leave Request  </small></center>
              </li><!-- end message -->
            </ul><!-- /.menu -->
          </li>
          <li class="footer"><a href="/manager_self_services/approved_or_rejected_leave_request">See All Request</a></li>
        </ul>
      </li><!-- /.messages-menu -->

      <!-- Notifications Menu -->
      <li class="dropdown notifications-menu">
        <!-- Menu toggle button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="On Duty Request">
          <i class="fa fa-bell-o" ></i>
          <span class="label label-warning">
              <% if current_user.class == Group %>
          <% else %>
            <%  @pending_on_duty_requests = OnDutyRequest.where(is_first_approved: false,is_second_approved: false, is_first_rejected: false, is_cancelled: false, first_reporter_id: current_user.employee_id) %> 
            
            <% count1 = 0 %>
            <% @pending_on_duty_requests.try(:each) do |on_duty_request| %>
            <% count1 += 1 %>
            <% count1 %>
            <% end %>
            <% count1 %>

            <% count2 = 0 %>
           

            <% count = count1 + count2 %>
            <%= count %>

          <%end%>
          </span>
        </a>
        <ul class="dropdown-menu">
          <li class="header"> <a href="/manager_self_services/request_approval_list"> On Duty Request</a></li>
          <li>
            <!-- Inner Menu: contains the notifications -->
            <ul class="products-list product-list-in-box">
              <li><!-- start notification -->
                 <center> <small class="label label-warning">  You Have <%= count %> On Duty Request  </small></center>
              </li><!-- end notification -->
            </ul>
          </li>
          <li class="footer"><a href="/manager_self_services/request_approval_list">See All Request</a></li>
        </ul>
      </li>
      <!-- Tasks Menu -->
      <li class="dropdown tasks-menu">
        <!-- Menu Toggle Button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Task">
          <i class="fa fa-flag-o"></i>
          <span class="label label-danger"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">You have 9 tasks</li>
          <li>
            <!-- Inner menu: contains the tasks -->
            <ul class="menu">
              <li><!-- Task item -->
                <a href="#">
                  <!-- Task title and progress text -->
                  <h3>
                    Design some buttons
                    <small class="pull-right">20%</small>
                  </h3>
                  <!-- The progress bar -->
                  <div class="progress xs">
                    <!-- Change the css width attribute to simulate progress -->
                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                      <span class="sr-only">20% Complete</span>
                    </div>
                  </div>
                </a>
              </li><!-- end task item -->
            </ul>
          </li>
          <li class="footer">
            <a href="#">View all tasks</a>
          </li>
        </ul>
      </li>
      <!-- User Account Menu -->
      <li class="dropdown user user-menu">
        <!-- Menu Toggle Button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title = "Profile Setup">
          <!-- The user image in the navbar-->
          <% if current_user.class == Group %>
            <%= image_tag "avatar.png",class: "img-circle", alt: "User Image", size: "25x25" %>
          <% else %>
          <%end%>
          <% if current_user.class == Member %>
           <%  @members = Member.where(employee_id: current_user.employee_id).pluck(:employee_id) %>
           <%  @members1 = Member.where(employee_id: current_user.employee_id) %>
           <% @employees = Employee.where(id: @members) %>
           <% @employees.each do |e| %>
           <% @members1.each do |m| %>
           <% if e.gender == "Male" && m.avatar_file_name == nil  %>
           <%= image_tag "avatar5.png",size: "25x25",class: "img-circle" %>

           <% elsif e.gender == "Female" && m.avatar_file_name == nil  %>
           <%= image_tag "avatar2.png",size: "25x25",class: "img-circle" %>
           <!-- < image_tag("avatar2.png") %> -->
         
          <%else%>
          <%= image_tag current_user.avatar.url(:medium),size: "25x25",class: "img-circle", alt: "avatar2"%>
           <%end%>
          <%end%>
          <%end%>
          <%end%>

          <span class="hidden-xs"> 
          <!-- Right hand header image -->
            <% if current_user.class == Member %>
              <% if current_user.role.name == 'GroupAdmin' %>
               ID :  <%= current_user.employee.try(:manual_employee_code) %>
              <% elsif current_user.role.name == 'Admin' %>
               ID : <%= current_user.employee.try(:manual_employee_code) %>
              <% elsif current_user.role.name == 'Branch' %>
               ID :  <%= current_user.employee.try(:manual_employee_code) %>
              <% elsif current_user.role.name == 'HOD' %>
               ID :  <%= current_user.employee.try(:manual_employee_code) %>
              <% elsif current_user.role.name == 'Supervisor' %>
               ID :  <%= current_user.employee.try(:manual_employee_code) %>
              <% elsif current_user.role.name == 'Employee' %>
               ID :  <%= current_user.employee.try(:manual_employee_code) %>
              <% elsif current_user.role.name == 'AccountAdmin' %>
               ID :  <%= current_user.employee.try(:manual_employee_code) %>
              <% elsif current_user.role.name == 'Account' %>
               ID :  <%= current_user.employee.try(:manual_employee_code) %>
              <% else %>
               ID :  <%= current_user.employee.try(:manual_employee_code) %>
              <% end %>
            <%else%>
              <%= current_user.subdomain %>
            <%end%>
          </span>
          <!-- hidden-xs hides the username on small devices so only the image appears. -->
        </a>
        <ul class="dropdown-menu">
          <!-- The user image in the menu -->
          <li class="user-header">
            <% if current_user.class == Group %>
            <%= image_tag "avatar.png",class: "img-circle", alt: "User Image", size: "25x25" %>
            <% else %>
            <%end%>
            <% if current_user.class == Member %>
            <%  @members = Member.where(employee_id: current_user.employee_id).pluck(:employee_id) %>
             <%  @members1 = Member.where(employee_id: current_user.employee_id) %>
             <% @employees = Employee.where(id: @members) %>
             <% @employees.each do |e| %>
             <% @members1.each do |m| %>
             <% if e.gender == "Male" && m.avatar_file_name == nil  %>
             <%= image_tag "avatar5.png" %>
             <!-- < image_tag("avatar5.png") %> -->
             <% elsif e.gender == "Female" && m.avatar_file_name == nil  %>
             <%= image_tag "avatar2.png" %>
             <!-- < image_tag("avatar2.png") %> -->
             <% else %>
              <%= image_tag current_user.avatar.url(:medium),size: "25x25",class: "img-circle", alt: "avatar2"%>
              <%end%>

              <%end%>
              <%end%>
              <%end%>
            <!-- Click image -->
            <p>
              <% if current_user.class == Member %>
                <small> ID : <%= current_user.manual_member_code %><br></small>
                <small> System Role  : <%= current_user.role.name %> <br></small>
                <small> Name : <%= current_user.employee.try(:first_name) %> <%= current_user.employee.try(:last_name) %></small>
              <%else%>
                <%= current_user.subdomain %>-
                <%= current_user.class %>
              <%end%>
              <!-- <small>Member since <%= current_user.created_at%></small> -->
            </p>
          </li>
          <!-- Menu Body -->
          <li class="user-body">
            <div class="col-xs-5 text-center">
              <!-- <a href="#">Followers</a> -->
              <small>DESIGNATION:</small>
            </div>
            <div class="col-xs-7 text-left">
              <!-- <a href="#">Sales</a> -->
              <% if current_user.class == Member %>
              <small><%= current_user.employee.try(:joining_detail).try(:employee_designation).try(:name) %></small>
              <%else%>
                <%= current_user.subdomain %>-
                <%= current_user.class %>
              <%end%>
            </div>
           <!--  <div class="col-xs-4 text-center">
              <a href="#">Friends</a>
            </div> -->
          </li>
          <!-- Menu Footer-->
          <% if group_signed_in? %>
            <li class="user-footer">
              <div class="pull-left">
                <%= link_to "Profile", edit_group_registration_path,class: "btn btn-default btn-flat" %>
              </div>
              <div class="pull-right">
                <%= link_to 'Sign out', destroy_group_session_path, :method => :delete ,class: "btn btn-default btn-flat" %>
              </div>
            </li>
          <%elsif member_signed_in? %>
            <li class="user-footer">
              <div class="pull-left">
                <%= link_to "Profile", edit_member_registration_path,class: "btn btn-default btn-flat" %>
              </div>
              <div class="pull-right">
                <%= link_to 'Logout', destroy_member_session_path, :method => :delete ,class: "btn btn-default btn-flat", :id => 'example' %>
              </div>
            </li>
          <% end %>
        </ul>
      </li>



      <!-- Control Sidebar Toggle Button -->
      <!-- <li>
        <a href="#" data-toggle="control-sidebar" title = "Recent Activity">
          <i class="fa fa-gears"></i>
          < <i class="fa fa-gears"></i>
          <i class="fa fa-cog fa-spin fa-spin fa-2x "></i> 
        </a>
      </li> -->
    </ul>
  </div>
</nav>
</header>
