<!-- Main Header -->
<header class="main-header">

<!-- Logo -->
<a href="/home" class="logo">
  <!-- mini logo for sidebar mini 50x50 pixels -->
  <span class="logo-mini"><b>I</b>HR</span>
  <!-- logo for regular state and mobile devices -->
  <span class="logo-lg"><b>HRMS-ONE</b></span>
</a>

<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation">
  <!-- Sidebar toggle button-->
  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" title="Side Bar">
    <span class="sr-only">Toggle navigation</span>
  </a>
  <!-- Navbar Right Menu -->
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      
       <!-- User Account Menu -->
      <li class="dropdown user user-menu">
        <!-- Menu Toggle Button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title = "Profile Setup">
          <!-- The user image in the navbar-->
          <%= image_tag current_user.avatar.url(:thumb),class: "img-circle", alt: "/images/icons/avatar2.png",size: "25x25" %>
          <span class="hidden-xs"> 
          <!-- Right hand header image -->
            <% if current_user.class == Member %>
              <% if current_user.role.name == 'Company' %>
               ID : <%= current_user.employee.try(:manual_employee_code) %>
              <% elsif current_user.role.name == 'CompanyLocation' %>
               ID :  <%= current_user.employee.try(:manual_employee_code) %>
              <% elsif current_user.role.name == 'Department' %>
               ID :  <%= current_user.employee.try(:manual_employee_code) %>
              <% elsif current_user.role.name == 'Supervisor' %>
               ID :  <%= current_user.employee.try(:manual_employee_code) %>
              <% else %>
               ID :  <%= current_user.employee.try(:manual_employee_code) %>
              <% end %>
            <%else%>
              <%= current_user.subdomain %>
            <%end%>
          </span>
          <!-- hidden-xs hides the username on small devices so only the image appears. -->
        </a>
        <ul class="dropdown-menu">
          <!-- The user image in the menu -->
          <li class="user-header">
            <%= image_tag current_user.avatar.url(:medium),class: "img-circle", alt: "avatar2"%>
            <!-- Click image -->
            <p>
              <% if current_user.class == Member %>
                <small> ID : <%= current_user.manual_member_code %><br></small>
                <small> Role Level : <%= current_user.role.name %> <br></small>
                <small> Name : <%= current_user.employee.try(:first_name) %> <%= current_user.employee.try(:last_name) %></small>
              <%else%>
                <%= current_user.subdomain %>-
                <%= current_user.class %>
              <%end%>
              <!-- <small>Member since <%= current_user.created_at%></small> -->
            </p>
          </li>
          <!-- Menu Body -->
<li class="user-body">
            <div class="col-xs-5 text-center">
              <!-- <a href="#">Followers</a> -->
              <small>DESIGNATION:</small>
            </div>
            <div class="col-xs-7 text-left">
              <!-- <a href="#">Sales</a> -->
              <% if current_user.class == Member %>
              <small><a href="#">  <%= current_user.employee.joining_detail.employee_designation.try(:name) %></a></small>
              <%else%>
                <%= current_user.subdomain %>-
                <%= current_user.class %>
              <%end%>
            </div>
           <!--  <div class="col-xs-4 text-center">
              <a href="#">Friends</a>
            </div> -->
</li>
          <!-- Menu Footer-->
          <% if group_signed_in? %>
            <li class="user-footer">
              <div class="pull-left">
              	<%= link_to "Profile", edit_group_registration_path,class: "btn btn-default btn-flat" %>
              </div>
              <div class="pull-right">
              	<%= link_to 'Sign out', destroy_group_session_path, :method => :delete ,class: "btn btn-default btn-flat" %>
              </div>
            </li>
          <%elsif member_signed_in? %>
          	<li class="user-footer">
              <div class="pull-left">
              	<%= link_to "Profile", edit_member_registration_path,class: "btn btn-default btn-flat" %>
              </div>
              <div class="pull-right">
              	<%= link_to 'Logout', destroy_member_session_path, :method => :delete ,class: "btn btn-default btn-flat" %>
              </div>
            </li>
          <% end %>
        </ul>
      </li>
      <!-- Control Sidebar Toggle Button -->
      <!-- <li>
        <a href="#" data-toggle="control-sidebar" title = "Recent Activity">
          <i class="fa fa-gears"></i>
          < <i class="fa fa-gears"></i>
          <i class="fa fa-cog fa-spin fa-spin fa-2x "></i> 
        </a>
      </li> -->
    </ul>
  </div>
</nav>
</header>

