<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><center> Employer Bonus Detail </center></h4>
    </div>
    <div class="modal-body">
<table class="table table-bordered table-hover table-condensed">
  <thead>
  <tr>
  <th><strong>Base Component</strong></th>
   <td colspan="3"> <% i = 0 %>
          <% @bonus_employer.base_component.split(",").each do |e| %>
            <% if i == 0 %>
              <%= SalaryComponent.find(e.to_i).name %>
            <% else %>
              + <%= SalaryComponent.find(e.to_i).name %>
            <% end %>
            <% i = i + 1 %>
          <% end %>
      </td>
  
  </tr>
  <tr>
    <th><strong>Limit Amount</strong></th>
     <td><%= @bonus_employer.limit_amount %></td>

       <th><strong>Percentage</strong></th>
    <td><%= @bonus_employer.percentage %></td>

  </tr>

  <tr>
  <th><strong>Effective from</strong></th>
     <td><%= @bonus_employer.effective_from %></td>

      <th><strong>Effective to</strong></th>
     <td><%= @bonus_employer.effective_to %></td>
  </tr>
  
  <th>Status</th>
  <td colspan="3"><%= @bonus_employer.is_active ? "Active" : "Inactive"  %></td>

</tr>
  </thead>
</table>
</div>
<div class="modal-footer"></div>
</div>
</div>  