<div class="box-header with-border">
</div><!-- /.box-header --><!-- 
<div class="box-body"></div> -->
<table id="example1" class="table table-bordered table-hover table-condensed">
 <thead>
    <tr>
      <th>Limit Amount</th>
      <th>Percentage</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
      <% @bonus_employers.each do |bonus_employer| %>
      <tr>
        <td><%= bonus_employer.limit_amount %></td>
        <td><%= bonus_employer.percentage %></td>
        <td><%= bonus_employer.is_active ? "Active" : "Inactive" %></td>
        <td>
          <% if bonus_employer.is_confirm == true %>
            <small class= "label label-primary">Confirmed</small>
            <%= link_to '', edit_bonus_employer_path(bonus_employer) ,class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
          <% else %>
            <%= link_to '', edit_bonus_employer_path(bonus_employer) ,class: 'btn btn-xs btn-success fa fa-edit',remote:true %>
            <%= link_to '',  bonus_employer, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-xs btn-danger fa fa-close' %>
            <%= link_to '', is_confirm_bonus_employers_path(bonus_employer: bonus_employer),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-info fa fa-check' %>
           <%= link_to '', bonus_employers_modal_bonus_employers_path(bonus_employer), class: 'btn btn-xs btn-default fa fa-eye',remote: true%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<div id="Mymodal" class="modal fade"></div>