<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Bonus Master</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-hover table-condensed">

  <tr>
  <th><strong>Base Component</strong></th>
   <td colspan="3"> <% i = 0 %>
          <% @bonus_employer.base_component.split(",").each do |e| %>
            <% if i == 0 %>
              <%= SalaryComponent.find(e.to_i).name %>
            <% else %>
              + <%= SalaryComponent.find(e.to_i).name %>
            <% end %>
            <% i = i + 1 %>
          <% end %>
      </td>
  
</tr>
<tr>
  <th><strong>Limit Amount</strong></th>
   <td><%= @bonus_employer.limit_amount %></td>

     <th><strong>Percentage</strong></th>
  <td><%= @bonus_employer.percentage %></td>

</tr>

<tr>
<th><strong>Effective from</strong></th>
   <td><%= @bonus_employer.effective_from %></td>

    <th><strong>Effective to</strong></th>
   <td><%= @bonus_employer.effective_to %></td>
</tr>
  
  <th>Status</th>
  <td colspan="3"><%= @bonus_employer.is_active ? "Active" : "Inactive"  %></td>

</table><br>
 <%= link_to 'Back', new_bonus_employer_path,class: 'btn btn-default btn-sm fa fa-arrow-left'  %>