<br>
<table id="example6" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Circular Date</th>
      <th>Subject</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @circulars.each do |circular| %>
      <tr>
        <td><%= circular.date %></td>
        <td><%= circular.subject %></td>
        <td><%= circular.email %></td>

        <!-- <td><%= circular.avatar_file_name %></td> -->
        <td>
        <% if circular.send_email == true %>
        <small class= "label label-primary">Email Sent</small>
        <%= link_to '', circular,class: 'btn btn-default btn-xs fa fa-eye' %>
        <%else%>
          <%= link_to '', edit_circular_path(circular),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
          <%= link_to '',  circular, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>

            <%= link_to 'Send Email', email_circulars_path(circular),data: { confirm: 'Are you sure?'},class: 'btn btn-xs btn-success' %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example6').DataTable( {
        "lengthMenu": [[10, 25, 50,100, -1], [10, 25, 50,100, "All"]]
    } );
} );
</script>