<table id="example2" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>  
      <th>Date</th>
      <th>Subject</th>
      <th>Download</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @circulars.each do |circular| %>
      <tr>
        <td><%= circular.date %></td>
        <td><%= circular.subject %></td>
        <td>
           <% if circular.avatar_file_name == nil %>
           <small class="label label-default">Document Not Available</small>
             <% else %>
             <%= link_to '',download_documents_path(id: circular.id),class: 'btn btn-xs fa fa-download' %>
             <% end %>
        </td>
        <td>
          <%= link_to '', edit_circular_path(circular),class: 'btn btn-success btn-xs fa fa-edit',remote:true %>
          <%= link_to '',  circular, method: :delete, data: { confirm: 'Are you sure?',remote:true },class: 'btn btn-danger btn-xs fa fa-close' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
