<%= bootstrap_form_for(@circular,html: {id: 'circular'}) do |f| %>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group required">
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <%= f.text_field :date, class: 'interview_date'%>
        </div>
      </div>
    </div> 
     <div class="col-sm-3">
      <div class="form-group required">
        <%= f.text_field :subject, label: 'Subject' %>
      </div>
    </div>
    <div class="col-sm-3">
    <div class="form-group required">
      <%= f.file_field :document,label: 'Document' %>
    </div>
   </div>
    <div class="col-sm-3">
    <div class="field">
      <%= f.file_field :avatar,label: 'Picture' %>
    </div>
   </div>

  
    </div>
    <div class="row">
     <div class="col-sm-3">
      <label>Status </label>
      <div class="field">
        <%= f.check_box :is_active, label: 'Active'%>
      </div>
    </div>
    <div class="col-sm-3">
    <label></label>
      <div class="actions">
        <%= f.submit :class => class_name, data: { disable_with: data_info } %>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript">
  $(function(){
    $('.interview_date').datepicker({
    changeYear:true,
    changeMonth: true,
    yearRange: '-200:-0',
    dateFormat: 'dd-mm-yy' });
  }); 
</script>
<script>
$("#circular").validate({
    rules: {
      "circular[subject]":{
        required: true,
      },
       "circular[date]":{
        required: true,
      },
       "circular[document]":{
        required: true,
      }
    },
    messages: {
      "circular[subject]":{
        required: "Please Specify Subject",
      },
       "circular[date]":{
        required: "Please Select Date",
      },
       "circular[document]":{
        required: "Please Upload Document",
      }
    },
    errorPlacement: function(error, element) {
     error.css({"color": "red", "font-size": "12px","font-weight" : "normal"})
     error.insertAfter(element.parent(element));
    }
   });
</script>