<div class="box box-default">
  <div class="box-header with-border">
    <h3 class="box-title">Vacancy</h3>
  </div><!-- /.box-header -->

  <div class="box-body">
  <%= bootstrap_form_for(@vacancy_master) do |f| %>
  <%= f.hidden_field :employee_id, :value => current_user.employee_id %>
      <div class="row">

       <div class="col-sm-3">
          <div class="form-group required">
             <%= f.text_field :other_organization,label: 'Organization'%>
          </div>
        </div>

        <div class="col-sm-3">
         <label>Job Title</label>
          <div class="form-group required">
            <div class="input-group">
              <%= f.select :employee_designation_id,all_employee_designation,{hide_label: true,include_blank: " Select Job Title"},{:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1"} %>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="form-group required">
           <%= f.text_field :vacancy_name,label: 'Vacancy Name'%>
          </div>
        </div>

          <div class="col-sm-3">
          <div class="field">
            <div class="field">
              <%= f.select :company_location_id, all_company_location2,{label: 'Location',include_blank: " Select Location"} %>
            </div>
          </div>
        </div> 
        </div>

      <div class="row">

         <div class="col-sm-3">
          <div class="field">
            <div class="field">
              <%= f.select :department_id, all_department_type_list2,{label: 'Department',include_blank: " Select Department"} %>
            </div>
          </div>
        </div> 

     
      
        <div class="col-sm-3">
          <div class="form-group required">
             <%= f.text_field :no_of_position,label: 'No. of Positions'%>
          </div>
        </div>  

        <div class="col-sm-3">
          <div class="form-group required">
             <%= f.text_field :experience,label: 'Experience'%>
          </div>
        </div>


        <div class="col-sm-3">
          <div class="field">
             <%= f.text_field :budget,label: 'Budget'%>
          </div>
        </div> 
          </div>

      <div class="row">

        <div class="col-sm-3">
          <label>Vacancy Fulfillment Date </label>
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
               <%= f.text_field :vacancy_post_date, hide_label: true, class: 'birth_date'%>
            </div>
          </div>
        </div>      
    
        <div class="col-sm-3">
          <div class="form-group required">
             <%= f.text_field :keyword,label: 'Keyword'%>
          </div>
        </div>  

            <div class="col-sm-3">
          <label>Educational Qualification 1</label>
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <%= link_to "", new_degree_path,class: "fa fa-plus fa-success",:target => "_blank" %>
              </div>
               <%= f.select :degree_id, all_degree, {hide_label: true,include_blank: " Select Qualification"}, class: 'input_degree_stream_id' %>
            </div>
          </div>
        </div>

        <div class="col-sm-3">
          <label>Educational Qualification 2</label>
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <%= link_to "", new_degree_path,class: "fa fa-plus fa-success",:target => "_blank" %>
              </div>
               <%= f.select :degree_1_id, all_degree, {hide_label: true,include_blank: " Select Qualification"}, class: 'input_degree_stream_id' %>
            </div>
          </div>
        </div>
         </div> 
      <div class="row">

        <div class="col-sm-3">
          <label>Educational Qualification 3</label>
          <div class="form-group required">
            <div class="input-group">
              <div class="input-group-addon">
                <%= link_to "", new_degree_path,class: "fa fa-plus fa-success",:target => "_blank" %>
              </div>
               <%= f.select :degree_2_id, all_degree, {hide_label: true,include_blank: " Select Qualification"}, class: 'input_degree_stream_id' %>
            </div>
          </div>
        </div>
       
       
        <div class="col-sm-3">
        <label>Vacancy Approval</label>
            <div class="field">
              <%= f.select :reporting_master_id,all_reporting_master_list,{hide_label: true,include_blank: " Select Reporting Master"},{:class=>"select2 select2-hidden-accessible",:style=>"width: 100%;",:tabindex=>"-1"} %>
            </div>
        </div>
       </div>  
     

      <div class="row">
        <div class="col-sm-12">
          <div class="field">
           <%= f.text_area :description,label: 'Job Description',placeholder: "e.g : Any Description related to Vacancy"%>
          </div>
        </div>
      </div> 

      <div class="row">
        <div class="col-sm-3">
          <div class="actions">
            <%= f.submit "Create Vacancy",class: "btn btn-primary btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>