<div class="box">
  <div class="box-header">
    <h3 class="box-title">Approved Vacancy Request History</h3>
    </div>

<p id="notice"><%= notice %></p>

<div class="box-body">
<table id="example" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th>Job Title</th>
      <th>Department</th>
      <th>Qualification</th>
      <!-- <th>No. Of Open</th>
      <th>No. of Closed</th> -->
      <th>Total Position</th>
      <th>Current Status</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @vacancy_request_histories.each do |vacancy_request_history| %>
      <tr>
       <td><%= vacancy_request_history.vacancy_name %></td>
        <td><%= vacancy_request_history.company_location.try(:name) %> - <%= vacancy_request_history.department.try(:name) %></td>
        <td><%= vacancy_request_history.degree.try(:name) %></td>
        <!-- <td><%=  %></td>
        <td><%=  %></td> -->
        <td><%= vacancy_request_history.no_of_position %></td>
        <td>
            <% if vacancy_request_history.current_status == "Pending" %>
             <%= link_to '', cancel_vacancy_request_vacancy_masters_path(vacancy_request_history), data: { confirm: 'Are you sure?' },class: 'btn btn-danger btn-xs fa fa-trash' %>
             <% elsif vacancy_request_history.current_status == "Approved" %>
              <small class="label label-primary">Approved</small>
              <% elsif vacancy_request_history.current_status == "Edit And Approved" %>
              <small class="label label-primary">Edit And Approved</small>
             <% elsif vacancy_request_history.current_status == "Reject" %>
              <small class="label label-danger">Reject</small>
              <% elsif vacancy_request_history.current_status == "Approved & Send Next" %>
              <small class="label label-info">Approved & Send Next</small>
              <% elsif vacancy_request_history.current_status == "Cancelled" %>
              <small class="label label-warning">Cancelled</small>
              <% else %>
               <small class="label label-success">Revert</small>
           <% end %>
        </td>
        <td>
         <%= link_to ' Vacancy Request', particular_vacancy_request_list_history_vacancy_masters_path(vacancy_request_history),class: 'btn btn-xs btn-default' %>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>
 </div>
</div>

<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>

