<div class="box">
  <div class="box-header">
    <h3 class="box-title">Vacancy List</h3>
    <div class="pull-right"></div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <table id="example2" class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <th>Organization</th>
              <th>Job title</th>
              <th>Vacancy name</th>
              <th>Company Location</th>
              <th>Educational qualification</th>
              <th>No of position</th>
              <th>Experience</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody>
            <% @vacancy_masters.each do |vacancy_master| %>
              <tr>
                <td><%= vacancy_master.other_organization %></td>
                <td><%= vacancy_master.employee_designation.name %></td>
                <td><%= vacancy_master.vacancy_name %></td>
                <td><%= vacancy_master.department.manual_department_code+' '+vacancy_master.company_location.name+' '+vacancy_master.department.name %></td>
                <td><%= vacancy_master.degree.try(:name) %></td>
                <td><%= vacancy_master.no_of_position %></td>
                <td><%= vacancy_master.experience %></td>
                <td><%= vacancy_master.current_status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
</div>