<div class="box">
  <div class="box-header">
    <h3 class="box-title">Final Approval/Reject Vacancy List</h3>
    <div class="pull-right"></div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <table id="example2" class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <th>Organization</th>
              <th>Designation</th>
              <th>Job Title</th>
              <th>Department</th>
              <th>Qualification</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
              <% @vacancy_masters.each do |vacancy_master| %>
              <tr>
                <td><%= vacancy_master.other_organization %></td>
                <td><%= vacancy_master.employee_designation.try(:name) %></td>
                <td><%= vacancy_master.vacancy_name %></td>
                <td><%= vacancy_master.company_location.try(:name) %> - <%= vacancy_master.department.try(:name) %></td>
                <td><%= vacancy_master.degree.try(:name) %></td>
                <td>
                  <%= link_to 'View Detail',vacancy_request_confirmation_vacancy_masters_path(vacancy_master),class: 'btn btn-xs btn-primary' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
</div>

<!-- <script>
$(document).ready(function() {
    // get data every 5 seconds and refresh myDiv
    var pingAfter = 5000;  
    var refreshId = setInterval(function() {
        $("#example2").load('/vacancy_masters/vacancy_history');
    }, pingAfter);
});
</script>
 -->

