<div class="box">
  <div class="box-header with-border">
    <div class="pull-right"></div>
    <h3>Particular Vacancy Request List</h3><br>
    
  </div><!-- /.box-header -->
  <div class="box-body">
    <div class="row">
      <div class="col-sm-12">
        <table id="example" class="table table-bordered table-hover table-condensed">
          <thead>
            <tr>
              <th>Sr.No</th>
              <th>Vacancy ID</th>
              <th>Job Title</th>
              <th>Open Date</th>
              <th>Closed Date</th>
              <th>Fulfillment Date</th>
              <th>Candidate Name</th>
<!--               <th>Vacancy Request Status</th>
 -->              <!-- <th>Action</th> -->
            </tr>
          </thead>

          <tbody>
          <% i = 0 %>
            <% @particular_vacancy_requests.each do |particular_vacancy_request| %>
              <tr>
                <td><%= i=i+1 %></td>
                <td><%= particular_vacancy_request.vacancy_master_id %></td>
                <td><%= particular_vacancy_request.vacancy_name %></td>
                <td><%= particular_vacancy_request.open_date %></td>
                <td><%= particular_vacancy_request.closed_date %></td>
                <td><%= particular_vacancy_request.fulfillment_date %></td>
                <td><%= particular_vacancy_request.candidate_name %></td>
<!--                 <td><= particular_vacancy_request.status %></td>
 -->          <!--  <td>
                  < if particular_vacancy_request.status == 'FinalApproved' %>
                    < if particular_vacancy_request.is_complete == true %>
                    <small class="label label-default">Vacancy Completed</small>
                   < else %>
                    <div id="myModal2" class="modal fade"></div>
                    <= link_to ' Confirm Candidates',modal2_vacancy_masters_path(particular_vacancy_request),class: 'btn btn btn-sm btn-primary fa fa-modx',remote: true %>
                    <= link_to ' Close',is_closed_vacancy_masters_path(particular_vacancy_request),class: 'btn btn-xs btn-danger' %>
                  < end %>
                < end %>
               </td> -->
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'Back', approved_vacancy_request_history_list_vacancy_masters_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
      </div>
   </div>
  </div>
