<div class="box">
  <div class="box-header">
<!--     <h3 class="box-title">Vacancy Request History List</h3>
 -->    </div>

<p id="notice"><%= notice %></p>

<div class="box-body">

<table id="example2" class="table table-bordered table-hover table-condensed">
  <tr>
      <th colspan="4"><center>Vacancy Request of : <%= @vacancy_master.employee.try(:manual_employee_code) %> <%= @vacancy_master.employee.try(:first_name) %> <%= @vacancy_master.employee.try(:middle_name) %> <%= @vacancy_master.employee.try(:last_name) %></center></th>
    </tr>
  <tr>
  <th><strong>Vacancy Code</strong></th>
  <td><%= @vacancy_master.vacancy_code %></td>
   <th><strong>Request To</strong></th>
  <td><!-- <= @employee.try(:first_name) %> <= @employee.try(:middle_name) %> <= @employee.try(:last_name) %> --> </td>
  </tr>

  <tr>
  <th><strong>Organization</strong></th>
  <td><%= @vacancy_master.other_organization %></td>
   <th><strong>Job Title</strong></th>
  <td><%= @vacancy_master.employee_designation.name %></td>
  </tr>

  <tr>
  <th><strong>Vacancy Name</strong></th>
  <td><%= @vacancy_master.vacancy_name %></td>
  <th><strong>Location</strong></th>
  <td><%= @vacancy_master.company_location.try(:name) %></td>
  </tr>

<tr> 
  <th><strong>Department</strong></th>
  <td><%= @vacancy_master.department.name %></td>
  <th><strong>No. of Positions</strong></th>
  <td><%= @vacancy_master.no_of_position %></td>
</tr>

<tr>  
  <th><strong>Experience</strong></th>
  <td><%= @vacancy_master.experience %></td>
  <th><strong>Budget</strong></th>
  <td><%= @vacancy_master.budget %></td>
</tr>
<tr>

 <tr>
   <th><strong>Fulfillment Date</strong></th>
  <td><%= @vacancy_master.vacancy_post_date %></td>
  <th><strong>Keyword</strong></th>
  <td><%= @vacancy_master.keyword %></td>
</tr>

<tr>
  <th><strong>Organization</strong></th>
  <td><%= @vacancy_master.other_organization %></td>
  <th><strong>Qualification 1</strong></th>
  <td><%= @vacancy_master.degree.try(:name) %></td>
</tr>

 <tr>
  <th><strong>Qualification 2</strong></th>
  <td><%= @vacancy_master.degree_1.try(:name) %></td>
  <th><strong>Qualification 3</strong></th>
  <td><%= @vacancy_master.degree_2.try(:name) %></td>
</tr>

<tr>
  <th><strong>Description</strong></th>
  <td colspan="3"><%= @vacancy_master.description %></td>
  
</tr>

<tr>
  <th><strong>Justification</strong></th>
  <td colspan="3"><%= @vacancy_master.justification %></td>
</tr>

</table><br><br>
<table id="example" class="table table-bordered table-hover table-condensed">
  <thead>
    <tr>
      <th colspan="5"><center>Vacancy Process</center></th>
      </tr>
    <tr>
      <th>ID</th>
      <th>Approved By</th>
      <th>Date</th>
      <th>Time</th>
      <th>Status</th>
<!--       <th>Action</th>
 --> </tr>
  </thead>

  <tbody>
    <% @reporting_masters_vacancy_masters.each do |reporting_masters_vacancy_master| %>
       <tr>     
                <td><%= reporting_masters_vacancy_master.reporting_master_id %></td>
                <td><% a=reporting_masters_vacancy_master.reporting_master_id
                emp=Employee.where(id: a).take %>
                  <%= emp.try(:first_name)%> <%= emp.try(:middle_name)%> <%= emp.try(:last_name)%>
                </td>
                <td><%= reporting_masters_vacancy_master.created_at.to_date %></td>
                <td><%= reporting_masters_vacancy_master.created_at %></td>
                 <td>
                    <% if reporting_masters_vacancy_master.vacancy_status == "Pending" %>
                    <small class="label label-default">Pending</small>
                    <% elsif reporting_masters_vacancy_master.vacancy_status == "Approved & Send Next" %>
                    <small class="label label-primary">Approved & Send Next</small>
                    <% elsif reporting_masters_vacancy_master.vacancy_status == "Rejected" %>
                    <small class="label label-danger">Rejected</small>
                    <% elsif reporting_masters_vacancy_master.vacancy_status == "FirstApproved" %>
                    <small class="label label-primary">FirstApproved</small>
                    <% elsif reporting_masters_vacancy_master.vacancy_status == "FinalApproved" %>
                    <small class="label label-success">FinalApproved</small>
                    <% elsif reporting_masters_vacancy_master.vacancy_status == "SecondApproved" %>
                    <small class="label label-info">SecondApproved</small>
                    <% elsif reporting_masters_vacancy_master.vacancy_status == "Cancelled" %>
                    <small class="label label-warning">Cancelled</small>
                    <% else %>
                    <% end %>
                  </td>
                  <!-- <td><= link_to '', show_vacancy_request_history_vacancy_masters_path(vacancy_request_history,vacancy_master_id: @vacancy_master.id),class: 'btn btn-xs btn-default fa fa-eye' %></td> -->
              </tr>
    <% end %>
  </tbody>
</table>
<!-- <= link_to 'Back', current_employee_vacancy_list_vacancy_masters_path(emp_id: @vacancy_master.employee_id),class: 'btn btn-default btn-sm fa fa-arrow-left' %> -->
<%= link_to 'Back', vacancy_masters_path,class: 'btn btn-default btn-sm fa fa-arrow-left' %>
 </div>
</div>

<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>

