<div class="box box-default">
<div class="box-header with-border">
    <h3 class="box-title">Vacancy History Details</h3>
  </div><!-- /.box-header -->
 <div class="box-body">
   <table id="example2" class="table table-bordered table-hover table-condensed">
  <tr>
  <th><strong>Vacancy No.</strong></th>
  <td><%= @vacancy_request_history.id %></td>
   <th><strong>Request To</strong></th>
  <td><% emp=Employee.where(id: @vacancy_master.reporting_master_id).take %>
      <%= emp.try(:first_name) %> <%= emp.try(:middle_name) %> <%= emp.try(:last_name) %> </td>
  </tr>

  <tr>
  <th><strong>Organization</strong></th>
  <td><%= @vacancy_request_history.other_organization %></td>
   <th><strong>Job Title</strong></th>
  <td><%= @vacancy_request_history.employee_designation.name %></td>
  </tr>

  <tr>
  <th><strong>Vacancy Name</strong></th>
  <td><%= @vacancy_request_history.vacancy_name %></td>
  <th><strong>Location</strong></th>
  <td><%= @vacancy_request_history.company_location.try(:name) %></td>
  </tr>

<tr> 
  <th><strong>Department</strong></th>
  <td><%= @vacancy_request_history.department.name %></td>
  <th><strong>No. of Positions</strong></th>
  <td><%= @vacancy_request_history.no_of_position %></td>
</tr>

<tr>  
  <th><strong>Experience</strong></th>
  <td><%= @vacancy_request_history.experience %></td>
  <th><strong>Budget</strong></th>
  <td><%= @vacancy_request_history.budget %></td>
</tr>
<tr>

 <tr>
   <th><strong>Fulfillment Date</strong></th>
  <td><%= @vacancy_request_history.vacancy_post_date %></td>
  <th><strong>Keyword</strong></th>
  <td><%= @vacancy_request_history.keyword %></td>
</tr>

<tr>
  <th><strong>Organization</strong></th>
  <td><%= @vacancy_request_history.other_organization %></td>
  <th><strong>Qualification 1</strong></th>
  <td><%= @vacancy_request_history.degree.try(:name) %></td>
</tr>

 <tr>
  <th><strong>Qualification 2</strong></th>
  <td><%= @vacancy_request_history.degree_1.try(:name) %></td>
  <th><strong>Qualification 3</strong></th>
  <td><%= @vacancy_request_history.degree_2.try(:name) %></td>
</tr>

<tr>
  <th><strong>Description</strong></th>
  <td colspan="3"><%= @vacancy_request_history.description %></td>
  
</tr>

<tr>
  <th><strong>Justification</strong></th>
  <td colspan="3"><%= @vacancy_request_history.justification %></td>
</tr>

</table>
<!--<= link_to 'Edit', edit_vacancy_master_path(@vacancy_master),class: 'btn btn-success btn-sm fa fa-edit' %> -->
<%= link_to 'Back', vacancy_history_list_vacancy_masters_path(id: @vacancy_master.id),class: 'btn btn-default btn-sm fa fa-arrow-left' %>
</div>
</div>