<div class="box box-default">
<div class="box-header with-border">
    <h3 class="box-title">Candidate Details</h3>
 <div class="box-body">
   <table id="example2" class="table table-bordered table-hover table-condensed">
<tr> 
  <th><strong>Name</strong></th>
  <td colspan="3"><%= @selected_resume.name %></td>
</tr> 
<tr>
   <th><strong>Skillset</strong></th>
  <td><%= @selected_resume.skillset %></td>

  <th><strong>Qualification</strong></th>
  <td><%= @selected_resume.degree.name %></td> 
 </tr>
 <tr>  
  <th><strong>Current CTC</strong></th>
  <td><%= @selected_resume.current_ctc %></td>

  <th><strong>Expected CTC</strong></th>
  <td><%= @selected_resume.ctc %></td>  
</tr>
<tr>
  <th><strong>Experience</strong></th>
  <td><%= @selected_resume.experience %></td>

  <th><strong>Notice Period</strong></th>
  <td><%= @selected_resume.notice_period %></td>
</tr>
<tr>
   <th><strong>Contact No.</strong></th>
   <td><%= @selected_resume.contact_no %></td>

<th><strong>Alternate Contact No.</strong></th>
   <td><%= @selected_resume.contact_no2 %></td>
</tr>
<tr>
   <th><strong>Email ID</strong></th>
  <td><%= @selected_resume.email_id %></td>

   <th>Status</th>
   <td><%= @selected_resume.status %></td>
</tr>
</table>
<%= image_tag @selected_resume.passport_photo.url, :size => "100x100" %><br><br>

<%= link_to 'Back', shortlisted_resume_vacancy_masters_path(vacancy_master_id: @vacancy_master.id),class: 'btn btn-default btn-sm fa fa-arrow-left' %>
</div>
</div>
</div>